


<div class="center-margin col-xs-6">
    <form>
        <div class="form-card mdl-card  mdl-shadow--2dp col-xs-6">
            <div class="form-header">
                <h4>Add New Special Offers</h4>
            </div>


            <div class="form-content">
                <div class="form-field col-xs-12">
                    <label class="col-md-4">Select Item</label>
                    <div class="col-sm-8">
                        <div class="mdl-textfield mdl-js-textfield">
                            <select class="field selectize"  id="sample1" pattern="[a-z,A-Z]*">
                                <option>item-id--item-name--vendor-name</option>
                                <option>item-id--item-name--vendor-name</option>
                            </select>
                            <label class="mdl-textfield__label" for="sample1"></label>
                            <span class="mdl-textfield__error">Enter Valid Option</span>
                        </div>
                    </div>
                </div>

                <div class="form-field col-xs-12">
                    <label class="col-md-4">Discount in %</label>
                    <div class="col-sm-8">
                        <div class="mdl-textfield mdl-js-textfield">
                            <input class="mdl-textfield__input" type="text" id="sample1">
                            <label class="mdl-textfield__label" for="sample1"></label>
                        </div>
                    </div>
                </div>

                <div class="form-field col-xs-12">
                    <label class="col-md-4">Valid Till</label>
                    <div class="col-sm-8">
                        <div class="mdl-textfield mdl-js-textfield">
                            <input class="mdl-textfield__input" type="text" id="sample1" value="2/12/2017">
                            <label class="mdl-textfield__label" for="sample1"></label>
                        </div>
                    </div>
                </div>

        </form>
</div>


