<div class="center-margin col-xs-12">
    <div class="table-card mdl-card  mdl-shadow--2dp col-xs-12">

        <div class="table-header">
            <h4><?=$text_view_po_title;?>
                <button class="mdl-button mdl-js-button mdl-button--icon pull-right">
                    <i class="material-icons">refresh</i>
                </button>
            </h4>

            <select name="vendor_name" multiple class="field selectize-filter-items">
                <option value=""><?=$text_search;?></option>
            </select>
        </div>


        <table class="mdl-data-table mdl-js-data-table  md-table col-xs-12 expandable">
            <thead>
                <tr>
                    <th class="mdl-data-table__cell--non-numeric"><?=$text_order_id;?></th>
                    <th class="mdl-data-table__cell--non-numeric"><?=$text_order_date;?></th>
                    <th class="mdl-data-table__cell--non-numeric"><?=$text_vendor_name;?></th>
                    <th class="mdl-data-table__cell--non-numeric"><?=$text_delivery_address;?></th>
                    <th class="mdl-data-table__cell--non-numeric"><?=$text_total_amount;?></th>
                    <!-- <th class="mdl-data-table__cell--non-numeric"><?=$text_bol;?></th> -->
                   <th class="mdl-data-table__cell--non-numeric"><?=$text_action;?></th>

                </tr>
            </thead>
            <tbody id="order-body">
                <?php foreach ($cancelled_orders as $cancelled_order) { ?>
                <tr class="parent-row" id="<?=$order['order_id']?>">
                    <td class="mdl-data-table__cell--non-numeric clickable"><?php echo $cancelled_order["order_id"]; ?></td>
                    <td class="mdl-data-table__cell--non-numeric clickable"><?php echo $cancelled_order["order_date"]; ?></td>
                    <td class="mdl-data-table__cell--non-numeric clickable"><?php echo $cancelled_order["company_name"]; ?></td>
                    <td class="mdl-data-table__cell--non-numeric clickable"><?php echo $cancelled_order["delivery_address"]; ?></td>
                    <td class="mdl-data-table__cell--non-numeric clickable">&euro; <?php echo $cancelled_order["ttc"]; ?></td>
                    <!-- <td class="mdl-data-table__cell--non-numeric clickable"><?php echo $cancelled_order["bill_of_lading"]; ?></td> -->
                    <td class="mdl-data-table__cell--non-numeric clickable">
                        <button id="btn-ap-2" class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored" onclick="getDetails(this);">
                            <i class="material-icons">info</i>
                        </button>
                        <div class="mdl-tooltip mdl-tooltip--large" for="btn-ap-2"><?=$text_details;?></div>
                            
                    </td>
                </tr>

                <?php }?>

            </tbody>
        <?php if($pagination !== ""): ?>
            <tfoot>
                <tr>
                    <td colspan="6"><?php echo $pagination; ?></td>
                </tr>
            </tfoot>
        <?php endif; ?>
        </table>
    </div>
    <button id="fab" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored floating-action-button">
        <i class="material-icons">add</i>
    </button>
    <div class="mdl-tooltip" for="fab">
        Create new <br>
        Purchase order
    </div>

    <div id="modal-view" hidden>
        <div class="view-title">
            <?=$text_purchase_details;?>
        </div>
        <div class="view-body">

            <div class="form-content">
               <div>
                <div class="text-right">
                        <button id="print-btn" class="mdl-button mdl-js-button mdl-button--icon mdlbutton--colored edit-button" onclick="window.print()">
                            <i class="material-icons">print</i>
                        </button>
                        <div class="mdl-tooltip mdl-tooltip--large" for="print-btn">Print</div>

                       
                    </div>

                    <table class="order_details table-striped col-xs-12 col-sm-6">
                            <tr>
                                <td><?php echo $text_order_id; ?>:</td>
                                <td id="order_id_m">#</td>
                            </tr>
                            <tr>
                                <td><?=$text_order_date;?>:</td>
                                <td id="order_date_m"></td>
                            </tr>
                            <tr>
                                <td><?=$text_delivery_date;?>:</td>
                                <td id="delivery_date_m"></td>
                            </tr>
                            <tr>
                                <td><?=$text_vendor_name;?>:</td>
                                <td id="company_name_m"></td>
                            </tr>
                            <tr>
                                <td>Delivery Address:</td>
                                <td id="vendor_address_m"></td>
                            </tr>
                    </table>
                    <table class="order_details  table-striped col-xs-12 col-sm-6">
                            <tr>
                                <td>Person Responsible:</td>
                                <td id="person_responsible_m">***</td>
                            </tr>
                            <tr>
                                <td>Payment Mode:</td>
                                <td id="payment_mode_m"></td>
                            </tr>
                            <tr>
                                <td>HT:</td>
                                <td><span id="htt_m" class="text-success"> &euro;</span></td>
                            </tr>
                            <tr>
                                <td>TVA:</td>
                                <td><span id="tva_m" class="text-danger">%</span></td>
                            </tr>
                            <tr>
                                <td> <?=$text_grand_total;?>:</td>
                                <td class="text-danger"><span id="ttc_m" class="text-danger"> &euro;</span></td>
                            </tr>

                    </table>

                        
            </div>
            <div class="clearfix"></div>
            <hr>
            <table class=" col-xs-12 col-md-6 details">
                <tbody>
                    <tr>
                        <td class="col-xs-6 head"></td>
                        <td class="pull-left"></td>
                    </tr>
                    <tr>
                        <td class="col-xs-6 head"></td>
                        <td class="pull-left"></td>
                    </tr>
                    

                </tbody>
            </table>

            <table class="mdl-data-table mdl-js-data-table  md-table col-xs-12 ">
                <thead>
                    <tr>
                       <!--  <th class="mdl-data-table__cell--non-numeric"><?=$text_item_id;?></th> -->
                        <th class="mdl-data-table__cell--non-numeric"><?=$text_item_name;?></th>
                        <th class="mdl-data-table__cell--non-numeric"><?=$text_brand_name;?></th>
                        <th class="mdl-data-table__cell--non-numeric"><?=$text_reference;?></th>
                        <th class="mdl-data-table__cell--non-numeric"><?=$text_buy_rate;?></th>
                        <th class="mdl-data-table__cell--non-numeric"><?=$text_packing;?></th>
                        <th class="mdl-data-table__cell--non-numeric"><?=$text_quantity;?></th>

                    </tr>
                </thead>
                <tbody id="order_items">

                </tbody>
            </table>
        </div>
    </div>

</div>

<div  hidden>

    <table>
        <tbody id="items-template">
            <tr >
                <!-- <td class="mdl-data-table__cell--non-numeric item_id_m"></td> -->
                <td class="mdl-data-table__cell--non-numeric item_name_m"></td>
                <td class="mdl-data-table__cell--non-numeric brand_name_m"></td>
                <td class="mdl-data-table__cell--non-numeric reference_m"></td>
                <td class="mdl-data-table__cell--non-numeric buy_rate_m"></td>
                <td class="mdl-data-table__cell--non-numeric packing_m"></td>
                <td class="mdl-data-table__cell--non-numeric quantity_m"></td>
            </tr>
        </tbody>
    </table>

    <table>
<tbody id="order_template">
               
                <tr id="">
                    <td class="mdl-data-table__cell--non-numeric clickable __order_id"></td>
                    <td class="mdl-data-table__cell--non-numeric clickable __order_date"></td>
                    <td class="mdl-data-table__cell--non-numeric clickable __vendor_name"></td>
                    <td class="mdl-data-table__cell--non-numeric clickable __delivery_address"></td>
                    <td class="mdl-data-table__cell--non-numeric clickable __ttc">&euro; </td>
                    <!-- <td class="mdl-data-table__cell--non-numeric clickable"><?php echo $order["bill_of_lading"]; ?></td> -->
                    <td class="mdl-data-table__cell--non-numeric clickable">
                        <button id="btn-ap-2" class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored" onclick="getDetails(this);">
                            <i class="material-icons">info</i>
                        </button>
                        <div class="mdl-tooltip mdl-tooltip--large" for="btn-ap-2"><?=$text_details;?></div>
                            
                    </td>
                </tr>


            </tbody></table>
</div>

<script>

    function getDetails(e) {
    var id = $(e).parent().parent().attr("id");
    $.ajax({
        url : '?route=purchaseOrder/getOrderDetails&order_id='+id,
        type : 'GET',
        dataType : 'json',
        success: function(returnData){
            data = returnData.order_details;
            itemList = returnData.item_details;
            deliveries = returnData.delivery_address;
            console.log(data);
            $("#modal-view > .view-title").html();
            $("#ttc_m").html(data.ttc+"&euro;");
            $("#tva_m").html(data.tva+"%");
            $("#htt_m").html(data.htt+"&euro;");
            $("#order_id_m").html("#"+data.order_id);
            $("#cancel-order").attr("data-order", data.order_id);
            $("#order_date_m").html(data.order_date);
            $("#company_name_m").html(data.company_name);
            d_a = returnData.delivery_address[data.delivery_address]['address']+", "+returnData.delivery_address[data.delivery_address]['city']+", "+returnData.delivery_address[data.delivery_address]['postal'];
            $("#vendor_address_m").html(d_a + "<small class='text-success'>( " + returnData.delivery_address[data.delivery_address]['name']+" )</small>");
            $("#delivery_date_m").html(data.expected_date);
            $("#person_responsible_m").html(data.person_responsible);
            $("#payment_mode_m").html(returnData.payment_mode[data.payment_mode]);
            $("#order_items").html("");
            for(var i = 0; i < itemList.length; i++){
                purchaseprice = itemList[i].rate;
                var node = $("#items-template").children().clone();
                node.children(".item_name_m").html(itemList[i].item_name);
                node.children(".brand_name_m").html(itemList[i].brand_name);
                node.children(".reference_m").html(itemList[i].reference);
                node.children(".buy_rate_m").prepend(purchaseprice + " ");
                node.children(".packing_m").html(itemList[i].packing);
                node.children(".quantity_m").html(itemList[i].quantity);
                node.children(".item_total_m").html(itemList[i].quantity*purchaseprice + " &euro;");
                $("#order_items").append(node);
            }

            MDialog.start({},"detail",this,$("#modal-view"));
        }
    });

}
var selectBoxItem;
    var selctizedBoxInstanceItem;

    var orderItemsFilter = [];

    function initItemFilterSelectBox() {
        selectBoxItem = $(".selectize-filter-items").selectize({
            onItemAdd: itemAddListener,
            onItemRemove: itemRemoveListener,
            options: [
                {id: 'time_1', type: 'date', label: 'Last day'},
                {id: 'time_2', type: 'date', label: 'Last one week'},
                {id: 'time_3', type: 'date', label: 'Last Two week'},
                {id: 'time_4', type: 'date', label: 'Last Month'},
            ],
            optgroups: [
                {id: 'vendor', name: 'Vendor'},
                {id: 'date', name: 'By Added on'},
                {id: 'ref', name: 'Ref#'}
            ],
            labelField: 'label',
            valueField: 'id',
            optgroupField: 'type',
            optgroupLabelField: 'name',
            optgroupValueField: 'id',
            optgroupOrder: ['vendor', 'date', 'ref'],
            searchField: ['label'],
            plugins: ['optgroup_columns', 'remove_button'],
            maxItems:4,
            maxOptions : 10

        });
        if (selectBoxItem.length != 0) selctizedBoxInstanceItem = selectBoxItem[0].selectize;
    }
    var lastDateItemId = "";
    function itemAddListener(value, item){
        var item = $(item);
        var id = selctizedBoxInstanceItem.options[value].id;
        var type = selctizedBoxInstanceItem.options[value].type;
        var label = selctizedBoxInstanceItem.options[value].label;
        if(type == "date"){
            item.css("background-color","#1565c0");
            if(lastDateItemId != "")selctizedBoxInstanceItem.removeItem(lastDateItemId, false);
            lastDateItemId = id;
            loadItemsSelectBox();
        }
        if(type == "vendor"){
            loadItemsSelectBox();
            item.css("background-color","#00695c");
        }
        // if(type == "item")item.css("background-color","#2e7d32");

        if(type == "ref"){
            item.css("background-color","#0277bd");
            loadItemsSelectBox();
        }

        loadItems();

    }
    function itemRemoveListener(value){
        var type = selctizedBoxInstanceItem.options[value].type;
        loadItemsSelectBox();
        loadItems();
    }

    function loadItemsSelectBox(){
        filterResults();
        if(vendorFilterList.length == 0 && dateFilter.length == 0) {
            clearItemOptions();
            return;
        }
        $(".mdl-progress").show();
        var postData = {
            all: 1,
            vendorList : vendorFilterList,
            dateFilter : dateFilter,
            refFilterList: refFilterList,
            list:'item'
        };
        

    }


    function loadVendorsSelectBox(){
        $.ajax({
            url: '?route=purchaseOrder/getVendorsList&all=1',
            type: 'GET',
            dataType: 'json',
            success: function (returnData) {
                data = returnData.vendors_list;
                for(var i = 0; i < data.length ; i++){
                    selctizedBoxInstanceItem.addOption({id : data[i].vendor_id, type: "vendor", label: (data[i].company_name)});
                }
                selctizedBoxInstanceItem.refreshOptions(false);
            },
            error: function () {
                $(".mdl-progress").hide();
                showSnackbar("Can't load vendor list.");
            }
        });
    }
    function loadRefSelectBox(){
        $.ajax({
            url: '?route=purchaseOrder/getRefList&all=1',
            type: 'GET',
            dataType: 'json',
            success: function (returnData) {
                data = returnData.ref_list;
                for(var i = 0; i < data.length ; i++){
                    selctizedBoxInstanceItem.addOption({id : data[i].order_id, type: "ref", label: ("#"+data[i].order_id)});
                }
                selctizedBoxInstanceItem.refreshOptions(false);
            },
            error: function () {
                $(".mdl-progress").hide();
                showSnackbar("Can't load ref list.");
            }
        });
    }

    var vendorFilterList = [];
    var itemIdFilterList = [];
    var refFilterList = [];
    var dateFilter = [];



    function filterResults(){
        var input = $(this);
        vendorFilterList = [];
        refFilterList = [];
        itemIdFilterList = [];
        dateFilter = [];
        //console.log(selctizedBoxInstanceItem.getValue());
        for(var i=0; i < selctizedBoxInstanceItem.getValue().length; i++){
            var id = selctizedBoxInstanceItem.options[selctizedBoxInstanceItem.getValue()[i]].id;
            var type = selctizedBoxInstanceItem.options[selctizedBoxInstanceItem.getValue()[i]].type;
            var label = selctizedBoxInstanceItem.options[selctizedBoxInstanceItem.getValue()[i]].label;
            if(type == "vendor") vendorFilterList.push(id);
            if(type == "date") dateFilter.push(id);
            if(type == "ref") {
                var cId = id.substr(id.indexOf("-") + 1);
                refFilterList.push(cId);
            }
            
        }

        if(orderItemsFilter.length > 0){
            for(var i=0 ; i < orderItemsFilter.length; i++){
                itemIdFilterList.push(orderItemsFilter[i]);
            }
            orderItemsFilter = [];
        }
    }

    var tableheader = $("#table-head");

    function tableSort() {
        var th = $(this);
        if (th.hasClass("no-sort")) {
            console.log("NO");
            tableheader.children(".sortable").removeClass("mdl-data-table__header--sorted-ascending");
            tableheader.children(".sortable").removeClass("mdl-data-table__header--sorted-descending");
            tableheader.children(".sortable").addClass("mdl-data-table__header");
            tableheader.children(".sortable").addClass("no-sort");
            th.removeClass("no-sort");
            th.removeClass("mdl-data-table__header");
            th.addClass("mdl-data-table__header--sorted-ascending");
            loadItems();
            return;
        }

        

    }


    function clearItemOptions(){

        for(var prop in selctizedBoxInstanceItem.options){
            var id = selctizedBoxInstanceItem.options[prop].id;
            var type = selctizedBoxInstanceItem.options[prop].type;
            if(type == "item") {
                selctizedBoxInstanceItem.removeOption(id);
            }
        }


        selctizedBoxInstanceItem.refreshOptions(false);
    }

    function loadItems() {
        $(".mdl-progress").show();
        //filterResults();
        var postData = {
            all: 1,
            vendorList : vendorFilterList,
            dateFilter : dateFilter,
            // itemIdList : itemIdFilterList,
            refList: refFilterList,
            can:1
        };
        console.log(dateFilter);
        if (tableheader.children(".sortable.mdl-data-table__header--sorted-ascending").length > 0) {
            postData.sort = "ASC";
            postData.sortField = $(tableheader.children(".sortable.mdl-data-table__header--sorted-ascending")[0]).attr("id");
        }
        if (tableheader.children(".sortable.mdl-data-table__header--sorted-descending").length > 0) {
            postData.sort = "DESC";
            postData.sortField = $(tableheader.children(".sortable.mdl-data-table__header--sorted-descending")[0]).attr("id");
        }
        $.ajax({
            url: '?route=purchaseOrder/getOrderList&all=1',
            type: 'POST',
            data: postData,
            dataType: 'json',
            success: function (returnData) {
                data = returnData.order_list;
                $("#order-body").html("");
                for (var i = 0; i < data.length; i++) {
                    var rowNode = $("#order_template > tr").clone(true);
                    rowNode.attr("id", data[i].order_id);
                    rowNode.children(".__order_id").html(data[i].order_id);
                    rowNode.children(".__order_date").html(data[i].order_date);
                    rowNode.children(".__vendor_name").html(data[i].company_name);
                    rowNode.children(".__delivery_address").html("<b>"+returnData.client[data[i].delivery_address]['name']+"</b> <br>"+returnData.client[data[i].delivery_address]['address']);
                    rowNode.children(".__ttc").prepend(data[i].ttc +" ");
                    //rowNode.children("._quantity").children("input").val();
                    if (data[i].item_pdf == 0) rowNode.children("._buttons").children(".pdf").hide();
                    if (data[i].image == 0) rowNode.children("._buttons").children(".image").hide();

                    $("#order-body").append(rowNode);

                }
                $(".mdl-progress").hide();
                showSnackbar("Data loaded.");
            },
            error: function () {
                $(".mdl-progress").hide();
                showSnackbar("Can't complete your request.");
            }
        });
    }
 $(document).ready(function () {
        $("#refresh-data-btn").click(loadItems);
        tableheader.children(".sortable").click(tableSort);
        initItemFilterSelectBox();
        loadVendorsSelectBox();
        loadRefSelectBox();
        loadItems();
        $("#filter-box").change(filterResults);

    });



</script>
