


<div class="center-margin col-xs-6">
    <form action="" method="post" >
        <div class="form-card mdl-card  mdl-shadow--2dp col-xs-6">
            <div class="form-header">
                <h4><?=$text_title;?></h4>
            </div>



            <div class="form-content">


                <div class="form-field col-xs-12 ">
                    <label class="col-md-4"><?=$text_vendor_name;?></label>
                    <div class="col-sm-8">
                        <div class="mdl-textfield mdl-js-textfield <?php if(isset($error_company_name)){echo 'is-invalid';}?>">
                            <input class="form-control" type="text" id="sample1" name="company_name" <?php if(isset($company_name)) echo 'value="'.$company_name.'"'; ?>>
                            <label class="mdl-textfield__label" for="sample1"></label>
                            <span class="mdl-textfield__error"><?php if(isset($error_company_name)){echo $error_company_name;}?></span>
                        </div>
                    </div>
                </div>

                <div class="form-field col-xs-12 ">
                    <label class="col-md-4"><?=$text_email;?></label>
                    <div class="col-sm-8">
                        <div class="mdl-textfield mdl-js-textfield <?php if(isset($error_email)){echo 'is-invalid';}?>">
                            <input class="form-control" type="text" id="sample1" name="email" <?php if(isset($email)) echo 'value="'.$email.'"'; ?>>
                            <label class="mdl-textfield__label" for="sample1"></label>
                            <span class="mdl-textfield__error"><?php if(isset($error_email)){echo $error_email;}?></span>
                        </div>
                    </div>
                </div>



                <!--<div class="form-field col-xs-12 ">
                    <label class="col-md-4"><?=$text_password;?></label>
                    <div class="col-sm-8">
                        <div class="mdl-textfield mdl-js-textfield <?php if(isset($error_address)){echo 'is-invalid';}?>">
                            <input class="form-control" type="text" id="sample1" name="address" <?php if(isset($address)) echo 'value="'.$address.'"'; ?>>
                            <label class="mdl-textfield__label" for="sample1"></label>
                            <span class="mdl-textfield__error"><?=$text_field_required;?></span>
                        </div>
                    </div>
                </div>-->

                <div class="form-field col-xs-12 ">
                    <label class="col-md-4"><?=$text_address;?></label>
                    <div class="col-sm-8">
                        <div class="mdl-textfield mdl-js-textfield <?php if(isset($error_address)){echo 'is-invalid';}?>">
                            <textarea class="form-control"  id="sample1" name="address" ><?php if(isset($address)) echo $address; ?></textarea>
                            <label class="mdl-textfield__label" for="sample1"></label>
                            <span class="mdl-textfield__error"><?php if(isset($error_address)){echo $error_address;}?></span>
                        </div>
                    </div>
                </div>

                <div class="form-field col-xs-12 ">
                    <label class="col-md-4"><?=$text_postal_code;?></label>
                    <div class="col-sm-8">
                        <div class="mdl-textfield mdl-js-textfield <?php if(isset($error_postal_code)){echo 'is-invalid';}?>">
                            <input class="form-control" type="text" id="sample1" name="postal_code" <?php if(isset($postal_code)) echo 'value="'.$postal_code.'"'; ?>>
                            <label class="mdl-textfield__label" for="sample1"></label>
                            <span class="mdl-textfield__error"><?php if(isset($error_postal_code)){echo $error_postal_code;}?></span>
                        </div>
                    </div>
                </div>

                <div class="form-field col-xs-12 ">
                    <label class="col-md-4"><?=$text_city;?></label>
                    <div class="col-sm-8">
                        <div class="mdl-textfield mdl-js-textfield <?php if(isset($error_city)){echo 'is-invalid';}?>">
                            <input class="form-control" type="text" id="sample1" name="city" <?php if(isset($city)) echo 'value="'.$city.'"'; ?>>
                            <label class="mdl-textfield__label" for="sample1"></label>
                            <span class="mdl-textfield__error"><?php if(isset($error_city)){echo $error_city;}?></span>
                        </div>
                    </div>
                </div>

               

                <div class="form-field col-xs-12 ">
                    <label class="col-md-4"><?=$text_phone;?></label>
                    <div class="col-sm-8">
                        <div class="mdl-textfield mdl-js-textfield <?php if(isset($error_phone)){echo 'is-invalid';}?>">
                            <input class="form-control" type="text" id="sample1" name="phone" <?php if(isset($phone)) echo 'value="'.$phone.'"'; ?>>
                            <label class="mdl-textfield__label" for="sample1"></label>
                            <span class="mdl-textfield__error"><?php if(isset($error_phone)){echo $error_phone;}?></span>
                        </div>
                    </div>
                </div>


                <div class="form-field col-xs-12 ">
                    <label class="col-md-4">Mobile Number</label>
                    <div class="col-sm-8">
                        <div class="mdl-textfield mdl-js-textfield <?php if(isset($error_mobile)){echo 'is-invalid';}?>">
                            <input class="form-control" type="text" id="sample1" name="mobile" <?php if(isset($mobile)) echo 'value="'.$mobile.'"'; ?>>
                            <label class="mdl-textfield__label" for="sample1"></label>
                            <span class="mdl-textfield__error"><?php if(isset($error_mobile)){echo $error_mobile;}?></span>
                        </div>
                    </div>
                </div>

                <div class="form-field col-xs-12 ">
                    <label class="col-md-4">Fax Number</label>
                    <div class="col-sm-8">
                        <div class="mdl-textfield mdl-js-textfield <?php if(isset($error_fax_number)){echo 'is-invalid';}?>">
                            <input class="form-control" type="text" id="sample1" name="fax_number" <?php if(isset($fax_number)) echo 'value="'.$fax_number.'"'; ?>>
                            <label class="mdl-textfield__label" for="sample1"></label>
                            <span class="mdl-textfield__error"><?php if(isset($error_fax_number)){echo $error_fax_number;}?></span>
                        </div>
                    </div>
                </div>


                <div class="form-field col-xs-12 ">
                    <label class="col-md-4"><?=$text_person_responsible;?></label>
                    <div class="col-sm-8">
                        <div class="mdl-textfield mdl-js-textfield <?php if(isset($error_person_responsible)){echo 'is-invalid';}?>">
                            <input class="form-control" type="text" id="sample1" name="person_responsible" <?php if(isset($person_responsible)) echo 'value="'.$person_responsible.'"'; ?>>
                            <label class="mdl-textfield__label" for="sample1"></label>
                            <span class="mdl-textfield__error"><?php if(isset($error_person_responsible)){echo $error_person_responsible;}?></span>
                        </div>
                    </div>
                </div>

                 
                <div class="form-field col-xs-12 ">
                    <label class="col-md-4">Franco</label>
                    <div class="col-sm-8">
                        <div class="mdl-textfield mdl-js-textfield <?php if(isset($error_franco)){echo 'is-invalid';}?>">
                            <input class="form-control" type="text" id="franco" name="franco" <?php if(isset($franco)) echo 'value="'.$person_responsible.'"'; ?>>
                            <label class="mdl-textfield__label" for="franco"></label>
                            <span class="mdl-textfield__error"><?php if(isset($error_franco)){echo $error_franco;}?></span>
                        </div>
                    </div>
                </div>

                <div class="form-field col-xs-12">
                    <label class="col-sm-4">Category</label>
                    <div class="col-sm-8">
                        <div class="mdl-textfield mdl-js-textfield">
                            <textarea class="form-control" id="category" name="category"><?php if(isset($category)) echo $category; ?></textarea>
                            <label class="mdl-textfield__label" for="category"></label>
                            <span class="mdl-textfield__error">Enter Only Alphabets</span>
                        </div>
                    </div>
                </div>

            </div>


            <div class="mdl-card__actions mdl-card--border">

                <button type="submit" id="create-btn" class="mdl-button mdl-js-button mdl-button--raised mdl-button--primary pull-right">
                    <?=$text_create;?>
                </button>
                <button type="reset" class="mdl-button mdl-js-button mdl-button--accent pull-right" >
                    <?=$text_reset;?>
                </button>
            </div>
        </div>
    </form>

</div>





<script type="text/javascript">
    
    $("#create-btn").click(function(){
        var hasError = false;

        if($("#erer").val() == ""){
            hasError = true;
        }

        return !hasError ;

    });



</script>