


<div class=" center-margin col-xs-12">
    <form >
        <div class="form-card mdl-card  mdl-shadow--2dp col-xs-12">
            <div class="form-header">
                <h4><?=$text_return_stock_title;?></h4>
            </div>
            <div class="form-content">
                <div class="col-xs-12">


                    <div class="form-field col-xs-12 col-sm-4 ">
                        <label class="col-md-4"><?=$text_return_date;?></label>
                        <div class="col-sm-8">
                            <div class="mdl-textfield mdl-js-textfield <?php if(isset($error_return_date)){echo 'is-invalid';}?>">
                                <input class="mdl-textfield__input" type="text" id="sample1" name="return_date" <?php if(isset($return_date)) echo 'value="'.$return_date.'"'; ?> >
                                <label class="mdl-textfield__label" for="sample1"></label>
                                <span class="mdl-textfield__error"><?=$text_field_required;?></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-field col-xs-12 col-sm-4">
                        <label class="col-md-4"><?=$text_vendor_name;?></label>
                        <div class="col-sm-8 <?php if(isset($error_vendor_name)){echo 'is-invalid';}?>">
                            <select name="vendor_name" class="field selectize" >
                                <option value="">Select</option>
                                <?php foreach ($vendors as $vendor) {?>
                                <option value="<?php echo $vendor['vendor_id'] ?>"><?php echo $vendor['company_name']; ?></option>
                                <?php }?>
                            </select>
                            <span class="mdl-textfield__error"><?=$text_field_required;?></span>
                        </div>
                    </div>

                    <div class="form-field col-xs-12 col-sm-4">
                        <label class="col-md-4"><?=$text_reason;?></label>
                        <div class="col-sm-8 <?php if(isset($error_reason)){echo 'is-invalid';}?>">
                            <select name="reason" class="field selectize" >
                                <option value="">Select Reason</option>
                                <?php foreach ($reasons as $reason) {?>
                                <option value="<?php echo $reason['return_reason_id'] ?>"><?php echo $reason['title']; ?></option>
                                <?php }?>
                            </select>
                            <span class="mdl-textfield__error"><?=$text_field_required;?></span>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-field col-xs-12 col-sm-4 ">
                    <label class="col-md-4"><?=$text_description;?></label>
                    <div class="col-sm-8">
                        <div class="mdl-textfield mdl-js-textfield <?php if(isset($error_description)){echo 'is-invalid';}?>">
                            <textarea class="mdl-textfield__input"  id="sample1" name="desciption" <?php if(isset($description)) echo 'value="'.$description.'"'; ?>></textarea>
                            <label class="mdl-textfield__label" for="sample1"></label>
                        </div>
                    </div>
                </div>

                    <div style="clear: both"></div>
                    <div class="form-field col-xs-12 col-sm-4">
                        <button id="add_item" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                            <?=$text_add_item;?>
                        </button>
                    </div>



                </div>
            </div>

            <div class="table-header transition out">
                <h4><?=$text_heading;?>
                    <button class="mdl-button mdl-js-button mdl-button--icon pull-right">
                        <i class="material-icons">refresh</i>
                    </button></h4>

                <select name="vendor_name" class="field selectize-filter">
                    <option value=""><?=$text_search;?></option>
                </select>
            </div>



            <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable  md-table col-xs-12 transition out">
                <thead>
                    <tr>
                        <th class="mdl-data-table__cell--non-numeric"><?=$text_reference;?></th>
                        <th class="mdl-data-table__cell--non-numeric"><?=$text_item_name;?></th>
                        <th class="mdl-data-table__cell--non-numeric"><?=$text_brand_name;?></th>
                        <th class="mdl-data-table__cell--non-numeric"><?=$text_item_category;?></th>
                        <th class="mdl-data-table__cell--non-numeric"><?=$text_buy_rate;?></th>
                        <th class="mdl-data-table__cell--non-numeric"><?=$text_mrp;?></th>
                        
                    </tr>
                </thead>
                <tbody>
                    <?php foreach ($items as $item) { ?>
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric"><?php echo $item["reference"]; ?></td>
                        <td class="mdl-data-table__cell--non-numeric"><?php echo $item["item_name"]; ?></td>
                        <td class="mdl-data-table__cell--non-numeric"><?php echo $item["brand_name"]; ?></td>
                        <td class="mdl-data-table__cell--non-numeric"><?php echo $item["item_category"]; ?></td>
                        <td class="mdl-data-table__cell--non-numeric"><?php echo $item["purchase_rate"]; ?></td>
                        <td class="mdl-data-table__cell--non-numeric"><?php echo $item["mrp"]; ?></td>
                        
                    </tr>
                    <?php }?>
                </tbody>
            </table>


            <div class="mdl-card__actions mdl-card--border">

                <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--primary pull-right">
                    <?=$text_submit;?>
                </button>
                <button type="reset" class="mdl-button mdl-js-button mdl-button--accent pull-right">
                    <?=$text_reset;?>
                </button>
            </div>


        </div>


    </form>
</div>

<div id="modal-view" hidden>
    <div class="view-title"><?=$text_item_details;?></div>
    <div class="view-body">
        <h5><?=$text_item_id;?> - 5</h5>
        <div class="form-content">
            <table class=" col-xs-12 col-md-6 details">
                <tbody>
                <tr>
                    <td class="col-xs-6 head"><?=$text_vendor_name;?></td>
                    <td>Fonzi</td>
                </tr>
                <tr>
                    <td class="col-xs-6 head"><?=$text_current_stock;?></td>
                    <td>20</td>
                </tr>
                <tr>
                    <td class="col-xs-6 head"><?=$text_sell_rate;?></td>
                    <td>5%</td>
                </tr>
                <tr>
                    <td class="col-xs-6 head"><?=$text_profit;?></td>
                    <td>2%</td>
                </tr>
                <tr>
                    <td class="col-xs-6 head"><?=$text_discount_rate;?></td>
                    <td>1%</td>
                </tr>
                </tbody>

            </table>
        </div>

    </div>

</div>


<script>

    $("#add_item").click(function () {
        $(".transition").removeClass("out");
        $(this).hide();
        return false;
    });

    $(".po-list > tbody > tr").click(function(){
        MDialog.start({},"detail",this,$("#modal-view"));
    });

</script>
