<style>

    .notification-card {
        padding: 0px;
        height: fit-content;
    }

    .notification-card > .card-title {
        margin: 0px;
        padding: 27px;
        background-color: #1976D2;
        color: white;
    }

    .notification-card > .card-title > small {
        color: white;
    }

    .notification-tile > .card-content {
        height: 12px;
        padding: 0px 24px;
        color: #0000008a;
    }

    .message-card {
        max-height: 300px;
    }

    .message-card > .card-content {
        height: 136px;
        padding: 0 25px;
    }

    .message-card > .card-content > h6 {
        margin: 0px;
        font-weight: 700;
    }

    .card-title {
        padding: 0px 30px;
    }

    .card-action {
        padding: 12px;
    }

    .notification-tile {
        height: 100px;
        width: 100%;
        border-bottom: 1px solid #EBEBEB;
        transition: 0.4s;
    }

    .notification-tile.expand {
        min-height: fit-content;
    }

    .notifications {
        height: 0px;
        min-height: 0px;
        overflow: hidden;
        transition: 0.4s;
        padding: 0px 13px;
    }

    .notifications.expand {
        min-height: fit-content !important;
    }

    .notification-tile > .title {
        margin: 0px !important;
        padding: 15px 22px;
    }

    .notification-tile:hover {
        background-color: #f3f3f3;
    }

    .notification-tile > .action {
        padding: 3px 15px;
        display: flow-root;

    }

    .overview-card {
        color: white;
    }

    .overview-card.text-black {
        color: black;
    }

    .overview-card > h5 {
        margin: 0px;
        padding: 17px;
        background-color: inherit;
        color: inherit;
        border-bottom: 1px solid #0000001f;
    }

    .overview-card > .card-content {
        background-color: inherit;
        color: inherit;
    }

    .overview-card > .card-content > ul {
        background-color: inherit;
        color: inherit;
    }

    .overview-card > .card-content > ul > li {
        background-color: inherit;
        color: inherit;
    }

    .overview-card > .card-content > ul > li:hover {
        background-color: rgba(0, 0, 0, 0.06);
    }
    .notification-card{
        min-height: 0;
        margin:5px;
    }
    .mdl-tooltip{
        margin-left:-70px !important;
    }
.notice {
    padding: 10px 10px 10px 48px;
    height: 40px;
    background-color: #fafafa;
    border-left: 3px solid #aaa;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
       -moz-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
            box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
}
.notice:nth-child(even){
    /*border-color:#eee;*/
}
.notice-sm {
    padding: 10px;
    font-size: 80%;
}
.notice-lg {
    padding: 35px;
    font-size: large;
}
.notice .notify-ico{
    position: absolute;
    left: 0;
    top: 0;
    padding:13px;
    background: #ddd;
    color: #000;
}
.notice .object_id{
    position: absolute;
    right: 0;
    top: 0;
    padding:9px;
    min-width: 60px;
    text-align: right;
    background: #f5f5f5;
    border-left: 1px solid #eee;
    font-weight: bold;
    color: #000;
}
.mdl-list__item{
    font-size: 14px;
}
.date{
    font-size: 11px;
    font-weight: 600;
    font-style: italic;
    margin-left: 12px;
}
.mdl-color--blue-300 i{
    color:#023c6b;

}
.mdl-color--green-300 i{
    color:#035a07;
}
.mdl-color--deep-purple-300 i{
    color: #2b0371;
}
.mdl-color--teal-300 i{
    color:#03344d;
}
.mdl-color--blue-grey-300 i{
    color:#232425;
}
.mdl-chip{
    background: #fbf5da;
    color: #000;
}
</style>

<div class="mdl-grid">
<?php
    if(count($request_orders)):?>
    <div class=" mdl-cell mdl-cell--12-col mdl-grid">
        <div class="panel panel-warning" style="width:100%;margin-bottom:0px;">
            <div class="panel-heading">
                <h6 style="margin: 0px; "><i class="fa fa-warning"></i> Request Orders</h6>
            </div>
            <div class="panel-body">
                <?php foreach($request_orders as $ro): ?>

                <span class="mdl-chip mdl-chip--contact mdl-chip--deletable">
                    <span class="mdl-chip__contact mdl-color--teal mdl-color-text--white"></span>
                    <a href="?route=purchaseOrder/viewRo&id=<?=$ro['order_id'];?>"><span class="mdl-chip__text">#<?=$ro['order_id'];?></span>
                    <button type="button" class="mdl-chip__action"><i class="material-icons">bull</i></button></a>
                </span>
&nbsp;&nbsp;&nbsp;
    <?php
    endforeach; ?>
            </div>
        </div>
    </div>
<?php
endif;
?>
    <div class=" mdl-cell mdl-cell--12-col mdl-grid">
        <div class="overview-card text-black mdl-card mdl-shadow--2dp  mdl-cell mdl-cell--3-col mdl-color--white">
            <h5 class="card-title mdl-color--blue-300 mdl-color-text--white">Purchase Order
                <i class="fa fa-book pull-right" aria-hidden="true"></i></h5>
            <div class="card-content" >
                <ul class="demo-list-item mdl-list">
                    <?php if($_SESSION['logged_user_type'] != 1): ?>
                    <li class="mdl-list__item">
                        <a href="?route=purchaseOrder/newOrder"><span class="mdl-list__item-primary-content ">
                            New Order
                        </span></a>
                    </li>
                    <?php endif; ?>
                    <li class="mdl-list__item">
                        <a href="?route=purchaseOrder/viewOrder"><span class="mdl-list__item-primary-content ">
                            View Orders
                        </span></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="overview-card text-black mdl-card mdl-shadow--2dp  mdl-cell mdl-cell--3-col mdl-color--white">
            <h5 class="card-title mdl-color--green-300 mdl-color-text--white">Stock
                <i class="fa fa-building pull-right" aria-hidden="true"></i></h5>
            <div class="card-content" >
                <ul class="demo-list-item mdl-list">
                    <?php if($_SESSION['logged_user_type'] != 1): ?>
                    <li class="mdl-list__item">
                        <a href="?route=stock/addNewItem"><span class="mdl-list__item-primary-content ">
                            Add New Item
                        </span></a>
                    </li>
                    <?php endif; ?>
                    <li class="mdl-list__item">
                        <a href="?route=stock/viewStock"><span class="mdl-list__item-primary-content">
                            View Stock
                        </span></a>
                    </li>

                </ul>
            </div>
        </div>
        <div class="overview-card  text-black mdl-card mdl-shadow--2dp  mdl-cell mdl-cell--3-col mdl-color--white">
            <h5 class="card-title mdl-color--deep-purple-300 mdl-color-text--white">Return Order
                <i class="fa fa-shopping-basket pull-right" aria-hidden="true"></i></h5>
            <div class="card-content" >
                <ul class="demo-list-item mdl-list">
                    <?php if($_SESSION['logged_user_type'] != 1): ?>
                    <li class="mdl-list__item">
                        <a href="?route=returnOrder/create"><span class="mdl-list__item-primary-content ">
                            Create Return Order
                        </span></a>

                    </li>
                    <?php endif; ?>
                    <li class="mdl-list__item">
                        <a href="?route=returnOrder/view"><span class="mdl-list__item-primary-content">
                            View
                        </span></a>

                    </li>
                    <li class="mdl-list__item">
                        <a href="?route=returnOrder/returnRequests"><span class="mdl-list__item-primary-content">
                            Return Requests
                        </span></a>

                    </li>

                </ul>
            </div>
        </div>

         <div class="overview-card  text-black mdl-card mdl-shadow--2dp  mdl-cell mdl-cell--3-col mdl-color--white">
            <h5 class="card-title mdl-color--teal-300 mdl-color-text--white">Vendors
                <i class="fa fa-male pull-right" aria-hidden="true"></i></h5>
            <div class="card-content" >
                <ul class="demo-list-item mdl-list">
                    <li class="mdl-list__item">
                        <a href="?route=vendors/createNew"><span class="mdl-list__item-primary-content ">
                            Add New Vendor
                        </span></a>
                    </li>
                     <li class="mdl-list__item">
                        <a href="?route=vendors/view"><span class="mdl-list__item-primary-content ">
                            View
                        </span></a>
                    </li>
                </ul>
            </div>

        </div>

        <div class="overview-card  text-black mdl-card mdl-shadow--2dp  mdl-cell mdl-cell--3-col mdl-color--white">
            <h5 class="card-title mdl-color--blue-grey-300 mdl-color-text--white">Reports
                <i class="fa fa-list-alt pull-right" aria-hidden="true"></i></h5>
            <div class="card-content" >
                <ul class="demo-list-item mdl-list">
                    <li class="mdl-list__item">
                        <a href="?route=report/purchase"><span class="mdl-list__item-primary-content ">
                            Reports
                        </span></a>
                    </li>

                </ul>
            </div>

        </div>
    </div>

        <div class="col-xs-7 animated bounceInDown">
            <!-- <div id="head" class="notice col-xs-12 text-bold">
                <strong><i class="notify-ico fa fa-bell-o"></i></strong>
                <span class="title">Notification  </span>

                      <i class="fa fa-close pull-right"></i>
                      <span class="object_id pull-right">ID<small class="date">Date</small></span>
            </div> -->
            <div class="notifications-wrapper">
            <?php foreach($notifications as $notification) : /* ?>
                <div class="notice col-xs-12">
                    <strong><i class="notify-ico fa fa-bell-o"></i></strong> <?php $var = "text_activity_".$notification['activity_type']; echo $$var;?>
                          <!-- <i class="fa fa-close pull-right"></i> -->
                           <!-- <span class="col-md-3 text-right">Created On<?php $notification['created_on'];  ?></span> -->
                          <span class="object_id pull-right">#<?php echo $notification['activity_object'];?><small class="date"><?php echo $notification['created_on'];?></small></span>
                </div>
            <!-- <div class="notification-card mdl-card mdl-shadow--2dp mdl-cell--4-col">
                  <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text">#<?=$notification['activity_object'];?></h2>
                  </div>
                  <div class="mdl-card__supporting-text">
                    <?php $var = "text_activity_".$notification['activity_type']; echo $$var;?>
                  </div>
                  <div class="mdl-card__menu">
                    <button id="markRead<?=$notification['notification_id'];?>"  class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                      <i class="material-icons">check</i>
                      <span for="markRead<?=$notification['notification_id'];?>" class="mdl-tooltip">Mark as Read</span>
                    </button>
                  </div>
            </div> -->
        <?php */ endforeach;?>
             </div>
            <!-- <div class="text-center">
                <button class="mdl-button mdl-shadow--2dp mdl-js-button mdl-js-ripple-effect mdl-color--white load-more"> Load More</button>
            </div> -->
        </div>

    <!-- <div class="col-xs-5">
        <div class="notification-card mdl-card mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--12-col">
            <h4 class="card-title">Alerts
                <small>All</small>
            </h4>
            <div class="notification-tile" style="border-left:3px solid #3F51B5">
                <h5 class="title"><span><?= $text_minimum_stock; ?></span>

                </h5>
                <div class="card-content"><?= count($min_stock) ?> new notifications.</div>
                <div class="notifications">
                    <ul class="demo-list-item mdl-list">

                        <?php
                        foreach ($min_stock as $alert) { ?>
                            <li class="mdl-list__item">
                                <span class="mdl-list__item-primary-content ">Item Name -
                                    <i class="text-danger">
                                   <?php echo ucfirst(str_replace("_", " ", $alert['item_name'])); ?></i>
                                </span>
                                <span class="mdl-list__item-primary-content">Current Stock -
                                    <i class="text-danger">
                                   <?php echo ucfirst(str_replace("_", " ", $alert['current_stock'])); ?></i>
                                </span>
                                <span class="mdl-list__item-primary-content">Min Stock -
                                    <i class="text-danger">
                                   <?php echo ucfirst(str_replace("_", " ", $alert['min_stock'])); ?></i>
                                </span>

                            </li>
                        <?php } ?>


                    </ul>
                </div>
                <div class="action">
                    <button class="mdl-button mdl-js-button mdl-button--icon pull-right tile-expand-btn">
                        <i class="material-icons">expand_more</i>
                    </button>
                </div>
            </div>
            <div class="notification-tile" style="border-left:3px solid #8BC34A">
                <h5 class="title"><span>Residue Stock Alerts</span>
                </h5>
                <div class="card-content"><?= count($residue_stock_alerts) ?> new notifcations.</div>
                <div class="action"><span></span>
                    <button class="mdl-button mdl-js-button mdl-button--icon pull-right tile-expand-btn">
                        <i class="material-icons">expand_more</i>
                    </button>
                </div>
            </div>
            <div class="notification-tile" style="border-left:3px solid #FF9800">
                <h5 class="title"><span>New Request Order Alert</span>
                                        <small class="pull-right">An Hour ago</small>
                </h5>
                <div class="card-content"><?= count($new_ro_alerts) ?> new notifcations.</div>
                <div class="action"><span></span>
                    <button class="mdl-button mdl-js-button mdl-button--icon pull-right tile-expand-btn">
                        <i class="material-icons">expand_more</i>
                    </button>
                </div>
            </div>
            <div class="notification-tile" style="border-left:3px solid #FF5722">
                <h5 class="title"><span>RO Cancel Alert</span>
                </h5>
                <div class="card-content"><?= count($ro_cancel_alerts) ?> new notifcations.</div>
                <div class="action"><span></span>
                    <button class="mdl-button mdl-js-button mdl-button--icon pull-right tile-expand-btn">
                        <i class="material-icons">expand_more</i>
                    </button>
                </div>
            </div>
            <div class="notification-tile" style="border-left:3px solid #4CAF50">
                <h5 class="title"><span>PO Receipt Alert</span>
                </h5>
                <div class="card-content"><?= count($po_receipt_alerts) ?> new notifcations.</div>
                <div class="action"><span></span>
                    <button class="mdl-button mdl-js-button mdl-button--icon pull-right tile-expand-btn">
                        <i class="material-icons">expand_more</i>
                    </button>
                </div>
            </div>

            <div class="notification-tile" style="border-left:3px solid #9C27B0">
                <h5 class="title"><span>Audit Alert</span>
                </h5>
                <div class="card-content"><?= count($audit_alerts) ?> new notifcations.</div>
                <div class="action"><span></span>
                    <button class="mdl-button mdl-js-button mdl-button--icon pull-right tile-expand-btn">
                        <i class="material-icons">expand_more</i>
                    </button>
                </div>
            </div>

            <div class="notification-tile" style="border-left:3px solid #795548">
                <h5 class="title"><span>Other</span>
                </h5>
                <div class="card-content"><?= count($others) ?> new notifcations.</div>
                <div class="action"><span></span>
                    <button class="mdl-button mdl-js-button mdl-button--icon pull-right tile-expand-btn">
                        <i class="material-icons">expand_more</i>
                    </button>
                </div>
            </div>
        </div>

    </div> -->
</div>

<script>
    activity = {
    <?php
        for($i=1;$i<42;$i++){
            $var = "text_activity_".$i;
            echo "'".$i."' : " . " \" ". $$var."\",  ";
        }
     ?>
    };
    var start = 10;
    $('.load-more').click(loadNotifications);
    function loadNotifications(){
        $('.notifications-wrapper').css("opacity", "0.5");
        $.ajax({
            url:'?route=notifications/loadMore',
            type:'post',
            dataType : 'json',
            data : {"start":start},
            success:function(data){
                notifications = data.notifications;
                start = start + 10;
                $('.notifications-wrapper').css("opacity", "1");
                for(i=0; i<notifications.length;i++){
                    temp = $("#head").clone();
                    title = activity[notifications[i].activity_object];
                    temp.children('.title').html(title);
                    temp.children('.object_id').html("#"+notifications[i].activity_object+"<span class='date'>"+notifications[i].created_on+"</span>");
                    $('.notifications-wrapper').append(temp);
                }
            }
        });
    }
    $(".tile-expand-btn").click(function () {
        $(this).parent().parent().addClass("expand");
        $(this).parent().parent().children(".notifications").addClass("expand");
        $(this).parent().parent().children(".card-content").addClass("out");
    });
</script>
