<div class="center-margin col-xs-6">
    <form action="" method="post">
        <div class="form-card mdl-card  mdl-shadow--2dp col-xs-6">
            <div class="form-header">
                <h4><?=$text_edit_title;?></h4>
            </div>



            <div id="form-content" class="form-content">

                <!--                <div class="form-field col-xs-12 ">-->
                <!--                    <label class="col-md-4">--><?//=$text_username;?><!--</label>-->
                <!--                    <div class="col-sm-8">-->
                <!--                        <div class="mdl-textfield mdl-js-textfield --><?php //if(isset($error_username)){echo 'is-invalid';}?><!--">-->
                <!--                            <input class="form-control" type="text" id="sample1" name="username" --><?php //if(isset($username)) echo 'value="'.$username.'"'; ?><!-->
                <!--                            <label class="mdl-textfield__label" for="sample1"></label>-->
                <!--                            <span class="mdl-textfield__error">--><?//=$text_field_required;?><!--</span>-->
                <!--                        </div>-->
                <!--                    </div>-->
                <!--                </div>-->

                <!--                <div class="form-field col-xs-12 ">-->
                <!--                    <label class="col-md-4">--><?//=$text_first_name;?><!--</label>-->
                <!--                    <div class="col-sm-8">-->
                <!--                        <div class="mdl-textfield mdl-js-textfield --><?php //if(isset($error_first_name)){echo 'is-invalid';}?><!--">-->
                <!--                            <input class="form-control" type="text" id="sample1" name="first_name" --><?php //if(isset($first_name)) echo 'value="'.$first_name.'"'; ?><!-->
                <!--                            <label class="mdl-textfield__label" for="sample1"></label>-->
                <!--                            <span class="mdl-textfield__error">--><?//=$text_field_required;?><!--</span>-->
                <!--                        </div>-->
                <!--                    </div>-->
                <!--                </div>-->
                <!---->
                <!--                <div class="form-field col-xs-12 ">-->
                <!--                    <label class="col-md-4">--><?//=$text_last_name;?><!--</label>-->
                <!--                    <div class="col-sm-8">-->
                <!--                        <div class="mdl-textfield mdl-js-textfield --><?php //if(isset($error_last_name)){echo 'is-invalid';}?><!--">-->
                <!--                            <input class="form-control" type="text" id="sample1" name="last_name" --><?php //if(isset($last_name)) echo 'value="'.$last_name.'"'; ?><!-->
                <!--                            <label class="mdl-textfield__label" for="sample1"></label>-->
                <!--                            <span class="mdl-textfield__error">--><?//=$text_field_required;?><!--</span>-->
                <!--                        </div>-->
                <!--                    </div>-->
                <!--                </div>-->

                <!--<div class="form-field col-xs-12 ">
                    <label class="col-md-4"><?=$text_username;?></label>
                    <div class="col-sm-8">
                        <div class="mdl-textfield mdl-js-textfield <?php if(isset($error_username)){echo 'is-invalid';}?>">
                            <input class="form-control" type="text" id="sample1" name="username" <?php if(isset($username)) echo 'value="'.$username.'"'; ?>>
                            <label class="mdl-textfield__label" for="sample1"></label>
                            <span class="mdl-textfield__error"><?=$text_field_required;?></span>
                        </div>
                    </div>
                </div>

<!--                <div class="form-field col-xs-12 ">-->
                <!--                    <label class="col-md-4">--><?//=$text_password;?><!--</label>-->
                <!--                    <div class="col-sm-8">-->
                <!--                        <div class="mdl-textfield mdl-js-textfield --><?php //if(isset($error_password)){echo 'is-invalid';}?><!--">-->
                <!--                            <input class="form-control " type="text" id="sample1"  name="password" --><?php //if(isset($password)) echo 'value="'.$password.'"'; ?><!-->
                <!--                            <label class="mdl-textfield__label" for="sample1"></label>-->
                <!--                            <span class="mdl-textfield__error">--><?//=$text_field_required;?><!--</span>-->
                <!--                        </div>-->
                <!--                    </div>-->
                <!--                </div>-->

                <div class="form-field col-xs-12 ">
                    <label class="col-md-4"><?=$text_vendor_name;?></label>
                    <div class="col-sm-8">
                        <div class="mdl-textfield mdl-js-textfield <?php if(isset($error_name)){echo 'is-invalid';}?>">
                            <input class="form-control" type="text" id="sample1" name="name" <?php if(isset($name)) echo 'value="'.$name.'"'; ?>>
                            <label class="mdl-textfield__label" for="sample1"></label>
                            <span class="mdl-textfield__error"><?=$text_field_required;?></span>
                        </div>
                    </div>
                </div>

                <div class="form-field col-xs-12 ">
                    <label class="col-md-4"><?=$text_email;?></label>
                    <div class="col-sm-8">
                        <div class="mdl-textfield mdl-js-textfield <?php if(isset($error_email)){echo 'is-invalid';}?>">
                            <input class="form-control" type="text" id="sample1" name="email" <?php if(isset($email)) echo 'value="'.$email.'"'; ?>>
                            <label class="mdl-textfield__label" for="sample1"></label>
                            <span class="mdl-textfield__error"><?=$text_field_required;?></span>
                        </div>
                    </div>
                </div>



                <!--<div class="form-field col-xs-12 ">
                    <label class="col-md-4"><?=$text_password;?></label>
                    <div class="col-sm-8">
                        <div class="mdl-textfield mdl-js-textfield <?php if(isset($error_address)){echo 'is-invalid';}?>">
                            <input class="form-control" type="text" id="sample1" name="address" <?php if(isset($address)) echo 'value="'.$address.'"'; ?>>
                            <label class="mdl-textfield__label" for="sample1"></label>
                            <span class="mdl-textfield__error"><?=$text_field_required;?></span>
                        </div>
                    </div>
                </div>-->

                <div class="form-field col-xs-12 ">
                    <label class="col-md-4"><?=$text_address;?></label>
                    <div class="col-sm-8">
                        <div class="mdl-textfield mdl-js-textfield <?php if(isset($error_address)){echo 'is-invalid';}?>">
                            <textarea class="form-control"  id="sample1" name="address"> <?php if(isset($address)) echo $address; ?></textarea>
                            <label class="mdl-textfield__label" for="sample1"></label>
                            <span class="mdl-textfield__error"><?=$text_field_required;?></span>
                        </div>
                    </div>
                </div>

                <div class="form-field col-xs-12 ">
                    <label class="col-md-4"><?=$text_postal_code;?></label>
                    <div class="col-sm-8">
                        <div class="mdl-textfield mdl-js-textfield <?php if(isset($error_postal_code)){echo 'is-invalid';}?>">
                            <input class="form-control" type="text" id="sample1" name="postal_code" <?php if(isset($postal_code)) echo 'value="'.$postal_code.'"'; ?>>
                            <label class="mdl-textfield__label" for="sample1"></label>
                            <span class="mdl-textfield__error"><?=$text_field_required;?></span>
                        </div>
                    </div>
                </div>

                <div class="form-field col-xs-12 ">
                    <label class="col-md-4"><?=$text_city;?></label>
                    <div class="col-sm-8">
                        <div class="mdl-textfield mdl-js-textfield <?php if(isset($error_city)){echo 'is-invalid';}?>">
                            <input class="form-control" type="text" id="sample1" name="city" <?php if(isset($city)) echo 'value="'.$city.'"'; ?>>
                            <label class="mdl-textfield__label" for="sample1"></label>
                            <span class="mdl-textfield__error"><?=$text_field_required;?></span>
                        </div>
                    </div>
                </div>



                <div class="form-field col-xs-12 ">
                    <label class="col-md-4"><?=$text_phone;?></label>
                    <div class="col-sm-8">
                        <div class="mdl-textfield mdl-js-textfield <?php if(isset($error_phone)){echo 'is-invalid';}?>">
                            <input class="form-control" type="text" id="sample1" name="phone" <?php if(isset($phone)) echo 'value="'.$phone.'"'; ?>>
                            <label class="mdl-textfield__label" for="sample1"></label>
                            <span class="mdl-textfield__error"><?=$text_field_required;?></span>
                        </div>
                    </div>
                </div>
                <div class="form-field col-xs-12 ">
                    <label class="col-md-4">Mobile Number</label>
                    <div class="col-sm-8">
                        <div class="mdl-textfield mdl-js-textfield <?php if(isset($error_mobile)){echo 'is-invalid';}?>">
                            <input class="form-control" type="text" id="sample1" name="mobile" <?php if(isset($mobile)) echo 'value="'.$mobile.'"'; ?>>
                            <label class="mdl-textfield__label" for="sample1"></label>
                            <span class="mdl-textfield__error"><?=$text_field_required;?></span>
                        </div>
                    </div>
                </div>

                <div class="form-field col-xs-12 ">
                    <label class="col-md-4">Fax Number</label>
                    <div class="col-sm-8">
                        <div class="mdl-textfield mdl-js-textfield <?php if(isset($error_fax_number)){echo 'is-invalid';}?>">
                            <input class="form-control" type="text" id="sample1" name="fax_number" <?php if(isset($fax_number)) echo 'value="'.$fax_number.'"'; ?>>
                            <label class="mdl-textfield__label" for="sample1"></label>
                            <span class="mdl-textfield__error"><?=$text_field_required;?></span>
                        </div>
                    </div>
                </div>
                <div class="form-field col-xs-12 ">
                    <label class="col-md-4"><?=$text_person_responsible;?></label>
                    <div class="col-sm-8">
                        <div class="mdl-textfield mdl-js-textfield <?php if(isset($error_person_responsible)){echo 'is-invalid';}?>">
                            <input class="form-control" type="text" id="sample1" name="person_responsible" <?php if(isset($person_responsible)) echo 'value="'.$person_responsible.'"'; ?>>
                            <label class="mdl-textfield__label" for="sample1"></label>
                            <span class="mdl-textfield__error"><?=$text_field_required;?></span>
                        </div>
                    </div>
                </div>
                <div class="form-field col-xs-12 ">
                    <label class="col-md-4">Franco</label>
                    <div class="col-sm-8">
                        <div class="mdl-textfield mdl-js-textfield <?php if(isset($error_franco)){echo 'is-invalid';}?>">
                            <input class="form-control" type="text" id="sample1" name="franco" <?php if(isset($franco)) echo 'value="'.$franco.'"'; ?>>
                            <label class="mdl-textfield__label" for="sample1"></label>
                            <span class="mdl-textfield__error"><?=$text_field_required;?></span>
                        </div>
                    </div>
                </div>
                <!--                <h6 class="contact-detail text-center">Contact Person Details</h6>-->
                <!--                <div class="form-field col-xs-12 ">-->
                <!--                    <label class="col-md-4">--><?//=$text_first_name;?><!--</label>-->
                <!--                    <div class="col-sm-8">-->
                <!--                        <div class="mdl-textfield mdl-js-textfield --><?php //if(isset($error_first_name)){echo 'is-invalid';}?><!--">-->
                <!--                            <input class="form-control" type="text" id="sample1" name="first_name" --><?php //if(isset($first_name)) echo 'value="'.$first_name.'"'; ?><!-->
                <!--                            <label class="mdl-textfield__label" for="sample1"></label>-->
                <!--                            <span class="mdl-textfield__error">--><?//=$text_field_required;?><!--</span>-->
                <!--                        </div>-->
                <!--                    </div>-->
                <!--                </div>-->
                <!---->
                <!--                <div class="form-field col-xs-12 ">-->
                <!--                    <label class="col-md-4">--><?//=$text_last_name;?><!--</label>-->
                <!--                    <div class="col-sm-8">-->
                <!--                        <div class="mdl-textfield mdl-js-textfield --><?php //if(isset($error_last_name)){echo 'is-invalid';}?><!--">-->
                <!--                            <input class="form-control" type="text" id="sample1" name="last_name" --><?php //if(isset($last_name)) echo 'value="'.$last_name.'"'; ?><!-->
                <!--                            <label class="mdl-textfield__label" for="sample1"></label>-->
                <!--                            <span class="mdl-textfield__error">--><?//=$text_field_required;?><!--</span>-->
                <!--                        </div>-->
                <!--                    </div>-->
                <!--                </div>-->
            </div>


            <div class="mdl-card__actions mdl-card--border">

                <button type="submit" id="create-btn" class="mdl-button mdl-js-button mdl-button--raised mdl-button--primary pull-right">
                    <?=$text_update;?>
                </button>
                <button type="reset" class="mdl-button mdl-js-button mdl-button--accent pull-right">
                    <?=$text_reset;?>
                </button>
            </div>
        </div>
    </form>
    <div id="snackbar-notify" class="mdl-js-snackbar mdl-snackbar">
        <div class="mdl-snackbar__text"></div>
        <button class="mdl-snackbar__action" type="button"></button>
    </div>
</div>


<script type="text/javascript">

    $("#create-btn").click(function(){
        var hasError = false;

        if($("#erer").val() == ""){
            hasError = true;
        }

        return !hasError ;

    });

    $('form').submit(function(e){
       e.preventDefault();
       var id = "<?php echo (int)$_GET['vendor_id']; ?>";
       var formData = $('form').serialize();
        $.ajax({
            url : '?route=vendors/editVendor&vendor_id='+id,
            type : 'POST',
            dataType : 'json',
            data : formData,
            beforeSend: function(){
                $('.mdl-progress').show();
            },
            complete: function(){
                $('.mdl-progress').hide();
                var snackbarContainer = document.querySelector('#snackbar-notify');
                var handler = function(event) {
                    location='?route=vendors/view';
                };
                    var data = {
                        message: 'Changes Updated',
                        timeout: 2000,
                        actionHandler: handler,
                        actionText: 'Okay'
                    };
                    snackbarContainer.MaterialSnackbar.showSnackbar(data);

            },
            success: function(returnData){
                if(returnData.status) {

                } else $('form').submit();
            }
        });
    });

</script>