
<div class="center-margin col-xs-12">
    <form action="" method="post" enctype="multipart/form-data">
        <div class="form-card mdl-card  mdl-shadow--2dp col-xs-12">
            <div class="form-header">
                <h4><?=$text_title_edit;?></h4>
            </div>
            <div class="form-content">

                <div class="col-xs-12 col-sm-6">

                    <div class="form-field col-xs-12">
                        <label class="col-md-4"><?=$text_category;?></label>
                        <div class="col-sm-8 <?php if(isset($error_category)){echo 'is-invalid';}?>">
                            <select name="category" class="form-control" >
                                <option value="">Choose Category</option>
                                <option value="add_new" id="add-category">Add New Category</option>
                                <?php foreach ($categories as $categry) {?>
                                <option value="<?php echo $categry['item_category_id'] ?>" <?php if(isset($category) && $category == $categry['item_category_id']) echo "selected"; ?>><?php echo $categry['title']; ?></option>
                                <?php }?>
                            </select>
                            <span class="error-text"><?php if(isset($error_category)) echo $text_field_required;?></span>
                            <div class="mdl-textfield mdl-js-textfield <?php if(isset($error_new_category)){echo 'is-invalid';}?>">
                                
                                <div class="input-group hidden">
                                    <input id = "new_category_if" type="text" class="form-control transition out"  name="new_category" <?php if(isset($new_category)) echo 'value="'.$new_category.'"'; ?> style="height:36px;">
                                    <div class="input-group-addon"><button class="btn btn-xs btn-info btn-add-category">Save</button></div>
                                </div>
                                <span class="mdl-textfield__error"><?=$text_field_required;?></span>
                            </div>
                        
                            </div>
                        </div>

                    <div class="form-field col-xs-12">
                        <label class="col-sm-4"><?=$text_vendor_name;?></label>
                        <div class="col-sm-8 <?php if(isset($error_vendor_name)){echo 'is-invalid';}?>">
                            <select name="vendor_name" class="field selectize" >
                                <option value="">Select</option>
                                <?php foreach ($vendors as $vendor) {?>
                                <option value="<?php echo $vendor['vendor_id'] ?>" <?php if(isset($vendor_name) && $vendor_name == $vendor['vendor_id']) echo "selected"; ?>><?php echo $vendor['company_name']; ?></option>
                                <?php }?>
                            </select>
                            <span class="mdl-textfield__error"><?=$text_field_required;?></span>
                            <span class="add-vendor" >If Vendor Doesn't Exist <a href="?route=vendors/createNew">Add New Vendor</a></span>
                        </div>
                    </div>

                        <div class="form-field col-xs-12">
                            <label class="col-sm-4"><?=$text_item_name;?></label>
                            <div class="col-sm-8">
                                <div class="mdl-textfield mdl-js-textfield <?php if(isset($error_item_name)){echo 'is-invalid';}?>">
                                    <input class="form-control" type="text" id="item_name" name="item_name" <?php if(isset($item_name)) echo 'value="'.$item_name.'"'; ?>>
                                    <label class="mdl-textfield__label" for="item_name"></label>
                                    <span class="mdl-textfield__error"><?=$text_field_required;?></span>
                                </div>
                            </div>
                        </div>
                    <div class="form-field col-xs-12">
                        <label class="col-sm-4"><?=$text_brand_name;?></label>
                        <div class="col-sm-8 ">
                            <div class="mdl-textfield mdl-js-textfield <?php if(isset($error_brand_name)){echo 'is-invalid';}?>">
                            <input name="brand_name" type="text" class="form-control" id="brand_name" <?php if(isset($brand_name)) echo 'value="'.$brand_name.'"'; ?>>
                            <label class="mdl-textfield__label" for="brand_name"></label>
                            <span class="mdl-textfield__error"><?=$text_field_required;?></span>
                            </div>
                        </div>
                    </div>

                <div class="form-field col-xs-12">
                    <label class="col-sm-4"><?=$text_reference;?></label>
                    <div class="col-sm-8">
                        <div class="mdl-textfield mdl-js-textfield">
                            <input class="form-control" type="text" id="reference" name="reference" <?php if(isset($reference)) echo 'value="'.$reference.'"'; ?>>
                            <label class="mdl-textfield__label" for="reference"></label>
                        </div>
                    </div>
                </div>
                <div class="form-field col-xs-12">
                    <label class="col-sm-4"><?=$text_item_area;?></label>
                    <div class="col-sm-8">
                        <div class="mdl-textfield mdl-js-textfield <?php if(isset($error_item_area)){echo 'is-invalid';}?>">
                            <input class="form-control" type="text" id="item_area" name="item_area" <?php if(isset($item_area)) echo 'value="'.$item_area.'"'; ?>>
                            <label class="mdl-textfield__label" for="item_area"></label>
                            <span class="mdl-textfield__error"><?=$text_field_required;?></span>
                        </div>
                    </div>
                </div>

                
                <div class="form-field col-xs-12">
                    <label class="col-sm-4"><?=$text_description;?></label>
                    <div class="col-sm-8">
                        <div class="mdl-textfield mdl-js-textfield">
                            <textarea class="form-control" id="description" name="description"><?php if(isset($description)) echo $description; ?></textarea>
                            <label class="mdl-textfield__label" for="description"></label>
                            <span class="mdl-textfield__error">Enter Only Alphabets</span>
                        </div>
                    </div>
                </div>

                <!-- <div class="form-field col-xs-12">
                    <label class="col-xs-3"><?=$text_mrp;?></label>
                    <div class="col-xs-5">
                        <div class="mdl-textfield mdl-js-textfield <?php if(isset($error_mrp)){echo 'is-invalid';}?>">
                            <input class="mdl-textfield__input" type="text" name="mrp" id="mrp_tv" <?php if(isset($mrp)) echo 'value="'.$mrp.'"'; ?>>
                            <label class="mdl-textfield__label" for="mrp_tv"></label>
                        </div>
                    </div>
                    <div class="col-xs-1 mdl-card-no-padding currency-euro" style="padding-top: 10px" >   </div>
                    <div class="col-xs-3"  id="purchase-price" style="padding-top: 10px">0</div>
                </div> -->

                   


                
            </div>
            
            <div class="col-xs-12 col-md-6">

               


                <!--<div class="form-field col-xs-12">
                    <label class="col-md-4"><?=$text_profit;?></label>
                    <div class="col-sm-8">
                        <div class="mdl-textfield mdl-js-textfield">
                            <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="sample2">
                            <label class="mdl-textfield__label" for="sample2"></label>
                            <span class="mdl-textfield__error">Input is not a number!</span>
                        </div>
                    </div>
                </div>-->

                
                        <div class="form-field col-xs-12">
                            <label class="col-sm-4"><?=$text_buy_rate;?></label>
                            <div class="col-sm-8">
                                <div class="mdl-textfield mdl-js-textfield <?php if(isset($error_purchase_rate)){echo 'is-invalid';}?>">
                                    <input class="form-control" type="text" id="purchase-rate" name="purchase_rate" <?php if(isset($purchase_rate)) echo 'value="'.$purchase_rate.'"'; ?>>
                                    <label class="mdl-textfield__label" for="purchase-rate"></label>
                                    <span class="mdl-textfield__error"><?=$text_field_required;?></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-field col-xs-12">
                            <div class="col-xs-3">
                                <label class="field"><?php echo $text_sell_rate; ?></label>
                                <div class="mdl-textfield mdl-js-textfield  <?php if(isset($error_minimum_sell_rate)){echo 'is-invalid';}?>">
                                    <input class="form-control" id="sell-rate" type="text" name="minimum_sell_rate">
                                    <label class="mdl-textfield__label" for="sample4"></label>
                                </div>
                            </div>
                            <div class="col-xs-1 mdl-card-no-padding" style="padding-top: 33px" >&euro;</div>
                            <div class="col-xs-3">
                                <label class="field">Profit</label>
                                <div class="mdl-textfield mdl-js-textfield ">
                                    <input class="form-control" id="profit-rate" type="text">
                                </div>
                            </div>
                            <div class="col-xs-1 mdl-card-no-padding" style="padding-top: 33px" >%</div>
                            <div class="col-xs-4 mdl-card-no-padding" style="padding-top: 33px" ><span>Profit Amount</span><span class="currency-euro" id="profit-amount" style="margin-left: 10px ">0</span></div>
                        </div>


                

                <div class="form-field col-xs-12">
                    <label class="col-sm-4"><?=$text_min_stock;?></label>
                    <div class="col-sm-8">
                        <div class="mdl-textfield mdl-js-textfield <?php if(isset($error_min_stock)){echo 'is-invalid';}?>">
                            <input class="form-control" type="text" name="min_stock" id="min_stock" <?php if(isset($min_stock)) echo 'value="'.$min_stock.'"'; ?>>
                            <label class="mdl-textfield__label" for="min_stock"></label>
                            <span class="mdl-textfield__error"><?=$text_field_required;?></span>
                        </div>
                    </div>
                </div>

                <div class="form-field col-xs-12">
                    <label class="col-sm-4"><?=$text_max_stock;?></label>
                    <div class="col-sm-8">
                        <div class="mdl-textfield mdl-js-textfield <?php if(isset($error_max_stock)){echo 'is-invalid';}?>">
                            <input class="form-control" type="text" name="max_stock" id="max_stock" <?php if(isset($max_stock)) echo 'value="'.$max_stock.'"'; ?>>
                            <label class="mdl-textfield__label" for="max_stock"></label>
                            <span class="mdl-textfield__error"><?=$text_field_required;?></span>
                        </div>
                    </div>
                </div>

<!--                 <div class="form-field col-xs-12">-->
<!--                    <label class="col-sm-4">--><?//=$text_item_status;?><!--</label>-->
<!--                    <div class="col-sm-8 --><?php //if(isset($error_item_status)){echo 'is-invalid';}?><!--">-->
<!--                        <select name="item_status" class="selectize">-->
<!--                            <option value="">Choose Status</option>-->
<!--                            <option value="s">0</option>-->
<!--                            <option value="ss">1</option>-->
<!--                        </select>-->
<!--                        <span class="mdl-textfield__error">--><?//=$text_field_required;?><!--</span>-->
<!--                    </div>-->
<!--                </div>-->
                <div class="form-field col-xs-12">
                    <label class="col-sm-4"><?=$text_packing;?></label>
                    <div class="col-sm-8">
                        <div class="mdl-textfield mdl-js-textfield <?php if(isset($error_packing)){echo 'is-invalid';}?>">
                            <input class="form-control" type="number" id="packing" name="packing" <?php if(isset($packing)) echo 'value="'.$packing.'"'; ?>>
                            <label class="mdl-textfield__label" for="packing"></label>
                            <span class="mdl-textfield__error"><?=$text_field_required;?></span>
                        </div>
                    </div>
                </div>

                <div class="form-field col-xs-12">
                    <label class="col-sm-4"><?=$text_add_image;?></label>
                    <div class="col-sm-8">
                        <div class="mdl-textfield mdl-js-textfield <?php if(isset($error_add_image)){echo 'is-invalid';}?>">
                            <input class="mdl-textfield__input" type="file" id="add_image" name="add_image" <?php if(isset($add_image)) echo 'value="'.$add_image.'"'; ?>>
                            <label class="mdl-textfield__label" for="add_image"></label>
                            <span class="mdl-textfield__error"><?=$error_add_image;?></span>
                        </div>
                    </div>
                </div>

                <div class="form-field col-xs-12">
                    <label class="col-sm-4"><?=$text_add_pdf;?></label>
                    <div class="col-sm-8">
                        <div class="mdl-textfield mdl-js-textfield <?php if(isset($error_pdf)){echo 'is-invalid';}?>">
                            <input class="mdl-textfield__input" type="file" id="pdf" name="pdf" <?php if(isset($pdf)) echo 'value="'.$pdf.'"'; ?>>
                            <label class="mdl-textfield__label" for="pdf"></label>
                            <span class="mdl-textfield__error"><?=$error_pdf;?></span>
                        </div>
                    </div>
                </div>


               

                <!-- <div class="form-field col-xs-12">
                    <label class="col-sm-4"><?=$text_special_offer;?></label>
                    <div class="col-sm-8">
                        <div class="mdl-textfield mdl-js-textfield <?php if(isset($error_special_offer)){echo 'is-invalid';}?>">
                            <input class="form-control" type="number" id="special_offer" name="special_offer" <?php if(isset($special_offer)) echo 'value="'.$special_offer.'"'; ?>>
                            <label class="mdl-textfield__label" for="special_offer"></label>
                            <span class="mdl-textfield__error"><?=$text_field_required;?></span>
                        </div>
                    </div>
                </div>

                <div class="form-field col-xs-12">
                    <label class="col-sm-4"><?=$text_on_purchase;?></label>
                    <div class="col-sm-8">
                        <div class="mdl-textfield mdl-js-textfield <?php if(isset($error_purchaser)){echo 'is-invalid';}?>">
                            <input class="form-control" type="number" id="purchaser" name="purchaser" <?php if(isset($purchaser)) echo 'value="'.$purchaser.'"'; ?>>
                            <label class="mdl-textfield__label" for="purchaser"></label>
                            <span class="mdl-textfield__error"><?=$text_field_required;?></span>
                        </div>
                    </div>
                </div> -->


            </div>
            <div class="col-xs-12"></div>

        </div>
        <div class="mdl-card__actions mdl-card--border">

            <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--primary pull-right" id="update-item">
                Update
            </button>
            <button type="reset" class="mdl-button mdl-js-button mdl-button--accent pull-right">
                <?=$text_reset;?>
            </button>
        </div>
    </form>
</div>
</div>

<!--<div id="modal-view" hidden>
    
 <div class="view-body">
    <div class="form-content">
        
       <div class="clearfix"></div>
           <form>
                <input type="text" class="mdl-textfield__input" placeholder="Add New Category" >
            </form>
        </div>
    </div>-->

    <script>
        var mrpTF = $("#mrp_tv");
        var purchaseRateC = $("#purchase-rate");
        var purchasePriceTV = $("#purchase-price");
        var minimumSellRateC = $("#sell-rate");
        var profitRateC = $("#profit-rate");
        var profitAmountC = $("#profit-amount");



        function doCalculations(){

            purchaseValue = parseFloat(purchaseRateC.val());
            sell_value = parseFloat(minimumSellRateC.val());
            proCal = (purchaseValue*5)/100; //calculated profit amount

            if(!proCal) proCal = 0;    
            profitAmountC.html(proCal+"&euro;");
            minimum_sell_amount = purchaseValue + proCal;

            minimumSellRateC.val(minimum_sell_amount);
            
            profitRateC.val(5);
        }

        function doCalculations2(){
            if($(this).attr("id") == 'sell-rate'){
                purchaseValue = parseFloat(purchaseRateC.val());
                sell_value = parseFloat(minimumSellRateC.val());
                sell_value = sell_value-purchaseValue;
                if(!sell_value) sell_value = 0;                
                profitAmountC.html(sell_value.toFixed(2)+"&euro;");
                profit = (sell_value/purchaseValue)*100;
                profitRateC.val(profit.toFixed(2));
            }else{
                purchaseValue = parseFloat(purchaseRateC.val());
                profit = parseFloat(profitRateC.val());
                pa = (purchaseValue*profit)/100;
                if(!pa) pa = 0;    
                sell_value = pa+purchaseValue;
                profitAmountC.val(pa.toFixed(2)+"&euro;");
                minimumSellRateC.val(sell_value);
            }
        }



        $(document).ready(function(){
            doCalculations();
            // mrpTF.keyup(doCalculations);
            purchaseRateC.keyup(doCalculations);
            minimumSellRateC.keyup(doCalculations2);
            profitRateC.keyup(doCalculations2);


            $("[name='category']").change(function(){
               if($("[name='category']").val() == "add_new") {
                $("#new_category_if").parent().removeClass("hidden");
                $("#new_category_if").removeClass("out");
             }
               else{
                $("#new_category_if").addClass("out");
                $("#new_category_if").parent().addClass("hidden");
               }
            });

            $(".btn-add-category").click(function(e){
                e.preventDefault();
                $("#new_category_if").parent().removeClass("has-error");
                new_category = $("#new_category_if").val();
                if(new_category == "") $("#new_category_if").parent().addClass("has-error");
                else{
                    
                    $(".mdl-progress").show();
                    $.ajax({
                        url: '?route=stock/addCategory',
                        data:{category_name : new_category},
                        type:"post",
                        success: function(id){
                            option = "<option value='"+id+"'>"+new_category+"</option>";
                            $("select[name='category']").append(option);
                            $("select[name='category']").val(id);
                            $("#new_category_if").val("");
                            $("#new_category_if").parent().addClass("hidden");
                            $(".mdl-progress").hide();
                        }
                    });
                }
            });
        });






</script>