<div class="center-margin col-xs-4 center-margin">
    <div class="table-card mdl-card  mdl-shadow--2dp col-xs-12">
        <h3 class="text-center">Import Items</h3>

        <div class="center-margin text-center">
        <form action="" method="post"
            name="frmExcelImport" id="frmExcelImport" enctype="multipart/form-data" style="padding: 40px;">
            <div>
                <label><span style="display:block;margin-bottom: 20px;">Choose Excel</span>
                    <center> <input type="file" name="file"
                    id="file" accept=".xls,.xlsx">
                    </center>
                </label>
                <div class="clearfix"></div>
                <input style="display:block;margin: 20px auto;" type="submit" id="submit" name="import"
                    class="mdl-button mdl-shadow--2dp mdl-button--primary  mdl-button--raised mdl-js-button" value="Import">
        
            </div>
        
        </form>
        
    </div>
    </div>
</div>
