<div class="center-margin col-xs-12">
    <div class="table-card mdl-card  mdl-shadow--2dp col-xs-12">
        <div class="table-header">
            <h4>Outbox
                <button class="mdl-button mdl-js-button mdl-button--icon pull-right">
                    <i class="material-icons">refresh</i>
                </button>
            </h4>

            <select name="vendor_name" class="field selectize-filter">
                <option value="">Search</option>
            </select>
        </div>
        <table class="mdl-data-table mdl-js-data-table col-xs-12 expandable">
            <tbody>

            <?php foreach ($messages as $message) {?>

            <tr class="message-data <?= ($message['status'] == 0 || $message['status'] == '0' ) ? 'unseen' : 'seen' ?>" id="<?=$message['message_id']?>">
                <td class="message-receiver clickable  "><?= $message['username'] ?></td>
                <td class="message-subject clickable"><?= $message['subject'] ?></td>
                <td class="message-time clickable"><?= $message['sent_date'] ?></td>
            </tr>

            <?php }?>
            </tbody>
        </table>
    </div>
</div>



<div id="modal-view-message" hidden>
    <div class="view-title">
    </div>
    <div class="view-body">
        <div class="form-content">
            <h5 id="sender-detail"></small></h5>
            <div id="message-body"></div>
        </div>
        <div class="attachments col-xs-12"></div>
    </div>

</div>

<script>

    $(document).ready(function () {
        var time = $(".message-time");
        moment().format('LLL');
        for(var i = 0; i < time.length; i++){
            if(moment($(time[i]).html() , "YYYY-MM-DD HH:mm:ss").format("YYYY-MM-DD") ==  moment().format("YYYY-MM-DD")){
                $(time[i]).html(moment($(time[i]).html(), "YYYY-MM-DD hh:mm:ss").fromNow());
            }else{
                $(time[i]).html(moment($(time[i]).html(), "YYYY-MM-DD hh:mm:ss").format("Do MMM YYYY"));
            }


        }
    });

    $(".message-data>.clickable").click(function () {
        console.log($(this).parent().attr("id"));
        var id = $(this).parent().attr("id");

        $.ajax({
            url: '?route=message/getMessageDetails&message_id=' + id,
            type: 'GET',
            dataType: 'json',
            success: function (returnData) {
                data = returnData.message_details;
                if(data.subject.trim() == "") $("#modal-view-message > .view-title").html("(no subject)");
                else $("#modal-view-message > .view-title").html(data.subject);
                $("#sender-detail").html(data.first_name + "  " + data.last_name);
                $("#message-body").html(data.body);
                if (data.attachment != 0) {
                    //<div><a href=''>Attachment</a>
                    for (var i = 0; i < data.attachment.length; i++) {
                        $("#modal-view-message > .view-body > .attachments").append("<div><a href='" + data.attachment[i] + "'>Attachment</a>")
                    }
                    $("#modal-view-message > .view-body > .attachments > a").attr("href", data.attachment);
                }
                MDialog.start({}, "detail", this, $("#modal-view-message"));
            }
        });
    });
</script>
