
<div class="col-xs-12 col-sm-4 col-md-6 form-view">
    <form class="form-card col-xs-12 mdl-card mdl-shadow--2dp col-xs-12">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Add new item</h2>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="form-filed col-xs-12">
                    <label class="col-md-2">Choose Category</label>
                    <div class="col-sm-8">
                        <select name="category" class="selectize" pattern="[a-z,A-Z]*">
                            <option value="">Choose Category</option>
                            <option value="s">Lorem ipsum.</option>
                            <option value="ss">Excepturi, quibusdam!</option>
                            <option value="sss">Dolorem, praesentium?</option>
                        </select>
                        <span class="mdl-textfield__error">Enter Only Alphabets</span>
                    </div>
                </div>

                <div class="form-filed col-xs-12">
                    <label class="col-md-2">Vendor Name</label>
                    <div class="col-sm-8">
                        <select name="vendor_name" class="field selectize" pattern="[a-z,A-Z]*">
                            <option value="">Vendor Name</option>
                            <option value="s">Lorem ipsum.</option>
                            <option value="ss">Excepturi, quibusdam!</option>
                            <option value="sss">Dolorem, praesentium?</option>
                        </select>
                        <span class="mdl-textfield__error">Enter Only Alphabets</span>
                    </div>
                </div>

                <div class="form-filed col-xs-12">
                    <label class="col-md-2">Buy Rate</label>
                    <div class="col-sm-8">
                        <div class="mdl-textfield mdl-js-textfield">
                            <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="sample2">
                            <label class="mdl-textfield__label" for="sample2"></label>
                            <span class="mdl-textfield__error">Input is not a number!</span>
                        </div>
                    </div>
                </div>

                <div class="form-filed col-xs-12">
                    <label class="col-md-2">Brand Name</label>
                    <div class="col-sm-8">
                        <div class="mdl-textfield mdl-js-textfield">
                            <input class="mdl-textfield__input" type="text" id="sample1" pattern="[a-z,A-Z]*">
                            <label class="mdl-textfield__label" for="sample1"></label>
                            <span class="mdl-textfield__error">Enter Only Alphabets</span>
                        </div>
                    </div>
                </div>

                <div class="form-filed col-xs-12">
                    <label class="col-md-2">Min Stock</label>
                    <div class="col-sm-8">
                        <div class="mdl-textfield mdl-js-textfield">
                            <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="sample2">
                            <label class="mdl-textfield__label" for="sample2"></label>
                            <span class="mdl-textfield__error">Input is not a number!</span>
                        </div>
                    </div>
                </div>

                <div class="form-filed col-xs-12">
                    <label class="col-md-2">Packing</label>
                    <div class="col-sm-8">
                        <div class="mdl-textfield mdl-js-textfield">
                            <input class="mdl-textfield__input" type="text" id="sample1" pattern="-?[0-9]*(\.[0-9]+)?">
                            <label class="mdl-textfield__label" for="sample1"></label>
                            <span class="mdl-textfield__error">Input is not a number!</span>
                        </div>
                    </div>
                </div>

                <div class="form-filed col-xs-12">
                    <label class="col-md-2">Add PDF Link</label>
                    <div class="col-sm-8">
                        <div class="mdl-textfield mdl-js-textfield">
                            <input class="mdl-textfield__input" type="text" id="sample1">
                            <label class="mdl-textfield__label" for="sample1"></label>
                        </div>
                    </div>
                </div>

                <div class="form-filed col-xs-12">
                    <label class="col-md-2">Item Status</label>
                    <div class="col-sm-8">
                        <select name="category" class="selectize" pattern="[a-z,A-Z]*">
                            <option value="">Choose Category</option>
                            <option value="s">Lorem ipsum.</option>
                            <option value="ss">Excepturi, quibusdam!</option>
                            <option value="sss">Dolorem, praesentium?</option>
                        </select>
                        <span class="mdl-textfield__error">Enter Only Alphabets</span>
                    </div>
                </div>
            </div>


            <div class="col-xs-12 col-md-6">
                <div class="form-filed col-xs-12">
                    <label class="col-md-2">Item Name</label>
                    <div class="col-sm-8">
                        <div class="mdl-textfield mdl-js-textfield">
                            <input class="mdl-textfield__input" type="text" id="sample1" pattern="[a-z,A-Z]*">
                            <label class="mdl-textfield__label" for="sample1"></label>
                            <span class="mdl-textfield__error">Enter Only Alphabets</span>
                        </div>
                    </div>
                </div>

                <div class="form-filed col-xs-12">
                    <label class="col-md-2">Reference</label>
                    <div class="col-sm-8">
                        <div class="mdl-textfield mdl-js-textfield">
                            <input class="mdl-textfield__input" type="text" id="sample1" pattern="[a-z,A-Z]*">
                            <label class="mdl-textfield__label" for="sample1"></label>
                            <span class="mdl-textfield__error">Enter Only Alphabets</span>
                        </div>
                    </div>
                </div>

                <div class="form-filed col-xs-12">
                    <label class="col-md-2">Sell Rate</label>
                    <div class="col-sm-8">
                        <div class="mdl-textfield mdl-js-textfield">
                            <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="sample2">
                            <label class="mdl-textfield__label" for="sample2"></label>
                            <span class="mdl-textfield__error">Input is not a number!</span>
                        </div>
                    </div>
                </div>

                <div class="form-filed col-xs-12">
                    <label class="col-md-2">Profit Percentage</label>
                    <div class="col-sm-8">
                        <div class="mdl-textfield mdl-js-textfield">
                            <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="sample2">
                            <label class="mdl-textfield__label" for="sample2"></label>
                            <span class="mdl-textfield__error">Input is not a number!</span>
                        </div>
                    </div>
                </div>

                <div class="form-filed col-xs-12">
                    <label class="col-md-2">Remarks</label>
                    <div class="col-sm-8">
                        <div class="mdl-textfield mdl-js-textfield">
                            <input class="mdl-textfield__input" type="text" id="sample1">
                            <label class="mdl-textfield__label" for="sample1"></label>
                        </div>
                    </div>
                </div>

                <div class="form-filed col-xs-12">
                    <label class="col-md-2">Max Stock</label>
                    <div class="col-sm-8">
                        <div class="mdl-textfield mdl-js-textfield">
                            <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="sample2">
                            <label class="mdl-textfield__label" for="sample2"></label>
                            <span class="mdl-textfield__error">Input is not a number!</span>
                        </div>
                    </div>
                </div>

                <div class="form-filed col-xs-12">
                    <label class="col-md-2">Item Area</label>
                    <div class="col-sm-8">
                        <div class="mdl-textfield mdl-js-textfield">
                            <input class="mdl-textfield__input" type="text" id="sample1" pattern="-?[0-9]*(\.[0-9]+)?">
                            <label class="mdl-textfield__label" for="sample1"></label>
                            <span class="mdl-textfield__error">Input is not a number!</span>
                        </div>
                    </div>
                </div>

                <div class="form-filed col-xs-12">
                    <label class="col-md-2">Add Image Link</label>
                    <div class="col-sm-8">
                        <div class="mdl-textfield mdl-js-textfield">
                            <input class="mdl-textfield__input" type="text" id="sample1">
                            <label class="mdl-textfield__label" for="sample1"></label>
                        </div>
                    </div>
                </div>





            </div>
        </div>
        <div class="mdl-card__actions mdl-card--border">

            <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent pull-right">
                Submit
            </button>
            <button type="reset" class="mdl-button mdl-js-button mdl-button--primary pull-right">
                Reset
            </button>
        </div>
    </form>
</div>


<?php include_once "footer.view.html"; ?>

<script>

    $('.selectize').selectize({
        sortField: 'text'
    });

</script>
