<style type="text/css">
    .pagination{
        margin:0 !important;
    }
    .selectize-input{
        background-image: none !important;
        background-color:#fff !important;
        border:1px solid #aaa !important; 
    }
    .queue-foot{
        background: #F5F5F5;
        padding: 10px;
    }
</style>
<div class=" center-margin col-xs-12">
    <form>
        <div class="form-card mdl-card  mdl-shadow--2dp col-xs-12">
            <div class="table-header">
                <h4 style="margin-bottom: 15px;"><?= $text_new_order_title; ?></h4>
            <div class="clearfix"></div>
                <div class="form-group col-xs-12 text-right">
                    <small>Results per page:</small> 
                    <select name="limit" id="filter-limit">
                        <option value="15" selected>15</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                    </select>
                </div>
                <div class="form-group col-xs-3">
                    <select name="vendor" id="filter-vendor" class="selectize" placeholder="Vendor">
                    </select>
                </div>
                <div class="form-group col-xs-3">
                    <select name="brand_name" id="filter-brand" class="selectize" placeholder="Brand Name">
                    </select>
                </div>
                <div class="form-group col-xs-3">
                    <select name="brand" id="filter-category" class="selectize" placeholder="Category">
                    </select>
                </div>

                <div class="form-group col-xs-3">
                    <select name="ref" id="filter-ref" class="selectize" placeholder="Reference">
                    </select>
                </div>
                <select id="filter-box" name="vendor_name" multiple class="hidden field selectize-filter-items">
                    <option value=""><?= $text_search; ?></option>
                </select>
            </div>
            <div class="form-header">
                <button id="selected-items-btn" type="button" class="mdl-button mdl-js-button mdl-color-text--grey-700  pull-left">
                    Items selected = 0
                </button>
                <button id="create-po-btn" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect pull-right" type="button" disabled>
                    Create Purchase Order
                </button>
            </div>
            <!--            mdl-data-table__header--sorted-ascending-->
            <table id="item-list" class="mdl-data-table mdl-js-data-table  md-table  col-xs-12">
                <thead>
                    <tr id="table-head">
                        <th class="mdl-data-table__header sortable no-sort">Sr. No</th>
                        <th class="mdl-data-table__header sortable no-sort">Ref#</th>
                        <th class="mdl-data-table__header sortable no-sort" id="item_name"><?= $text_item_name; ?></th>
                        <th class="mdl-data-table__header sortable no-sort" id="brand_name"><?= $text_brand_name; ?></th>
                        <th class="mdl-data-table__header "><?= $text_packing; ?></th>
                        <th class="mdl-data-table__header "><?= $text_item_area; ?></th>
                        <th class="mdl-data-table__header sortable no-sort" id="purchase_rate"><?= $text_buy_rate; ?></th>
                        <th class="mdl-data-table__header"><?= $text_stock; ?></th>
                        <th class="mdl-data-table__header "><?= $text_quantity; ?></th>
                        <th class="mdl-data-table__header ">Action</th>
                    </tr>
                </thead>
                <tbody id="items-body">
                </tbody>
            </table>
                <div class="clearfix"></div>
                <div class='tfoot hidden' style="padding: 20px 20px 10px;    background: #f5f5f5;    font-size: 12px;    font-weight: bold;">
                    <span class="text-left">
                        Showing <span class="limit_count"></span> of <span class="total_count"></span> results
                    </span>
                    <span class="paginate pull-right"></span>
                </div>
        </div>
    </form>
    <div class="clearfix"></div>
    
    <div class="hidden">
        <div class="table-header">
                <h4>Added Items</h4>
             </div>
        <table id="queue-list" class="mdl-data-table mdl-js-data-table  md-table  col-xs-12">
                    <thead>
                        <tr id="table-head">
                            <th class="mdl-data-table__header sortable no-sort">Sr. No</th>
                            <th class="mdl-data-table__header sortable no-sort">Ref#</th>
                            <th class="mdl-data-table__header sortable no-sort" id="item_name"><?= $text_item_name; ?></th>
                            <th class="mdl-data-table__header sortable no-sort" id="brand_name"><?= $text_brand_name; ?></th>
                            <th class="mdl-data-table__header "><?= $text_packing; ?></th>
                            <th class="mdl-data-table__header "><?= $text_item_area; ?></th>
                            <th class="mdl-data-table__header sortable no-sort" id="purchase_rate"><?= $text_buy_rate; ?></th>
                            <th class="mdl-data-table__header"><?= $text_stock; ?></th>
                            <th class="mdl-data-table__header "><?= $text_quantity; ?></th>
                            <th class="mdl-data-table__header "><?= $text_action; ?></th>
                        </tr>
                    </thead>
                    <tbody id="queue-body">
                    </tbody>
        </table>
        <div class="clearfix"></div>
        <div class="queue-foot">
            <div class="col-xs-6 text-left" style="margin-top:10px; font-family:'Open Sans';font-size: 15px;">Total HT: <span class="amount text-danger text-bold"></span></div>

                <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--primary mdl-js-ripple-effect pull-right" type="button">
                    Create Purchase Order
                </button>
            <div class="clearfix"></div> 
        </div>
    </div>

</div>


<div id="image-modal" hidden>
    <div class="view-title"></div>
    <div class="view-body">
        <h5>Ref#- <span id="item_reference_i"></span></h5>
        <div class="form-content">
            <img class="center-margin" width="500" id="irem_image_i" src="" alt="">
        </div>
    </div>
</div>


<div id="order-modal" hidden>
    <div class="view-title">Confirm Purchase Order</div>
    <div class="view-body">

    </div>
</div>


<div id="row-template" hidden>
     <table class="">
        <tr>
            <td class="mdl-data-table__cell--non-numeric  _sr clickable"></td>
            <td class="mdl-data-table__cell--non-numeric _reference clickable"></td>
            <td class="mdl-data-table__cell--non-numeric _item_name clickable"></td>
            <td class="mdl-data-table__cell--non-numeric _brand_name clickable"></td>
            <td class="mdl-data-table__cell--non-numeric _packing clickable"></td>
            <td class="mdl-data-table__cell--non-numeric _area clickable"></td>
            <td class="mdl-data-table__cell--non-numeric _purchase_rate"><input type="text" value="">&euro;</td>
            <td class="mdl-data-table__cell--non-numeric _current_stock clickable"></td>
            <td class="mdl-data-table__cell--non-numeric _quantity"><input class="quantity-type col-xs-7 no-padding" type="number" min="0"><span
                        class="total-items col-xs-5 no-padding">0</span></td>
            <td class="mdl-data-table__cell--non-numeric _buttons">
                <button type='button'
                        class='open-attach-btn image mdl-button mdl-js-button mdl-button--icon mdl-button--colored'>
                    <i class="material-icons">collections</i>
                </button>
                <button type='button'
                        class='open-attach-btn pdf mdl-button mdl-js-button mdl-button--icon mdl-button--accent'>
                    <i class='material-icons'>picture_as_pdf</i>
                </button>
                <button type='button'
                        class='addToOrder mdl-button mdl-js-button mdl-button--icon mdl-button--primary'>
                    <i class='material-icons'>shopping_cart</i>
                </button>
            </td>
        </tr>
    </table>
</div>

<div  hidden>
    <table>
        <tr id="order-row-template">
            <td class="mdl-data-table__cell--non-numeric _reference clickable"></td>
            <td class="mdl-data-table__cell--non-numeric _item_name clickable"></td>
            <td class="mdl-data-table__cell--non-numeric _brand_name clickable"></td>
            <td class="mdl-data-table__cell--non-numeric _packing clickable"></td>
            <td class="mdl-data-table__cell--non-numeric _area clickable"></td>
            <td class="mdl-data-table__cell--non-numeric _purchase_rate"><input type="text" value=""></td>
            <td class="mdl-data-table__cell--non-numeric _quantity "><input class="quantity-type col-xs-7 no-padding" type="number" min="0"><span
                        class="total-items col-xs-5 no-padding">0</span></td>

            <td class="mdl-data-table__cell--non-numeric _total clickable"></td>
        </tr>
    </table>
</div>



<div id="po-template" hidden>
    <div class="form-content">
        <div class="clearfix"></div>
         <table class="order_details table-striped col-xs-12 col-sm-6">
                            <tr>
                                <td><?=$text_order_date;?>:</td>
                                <td id="order_date_m"><?php echo date("d-m-Y", time()); ?></td>
                            </tr>
                            <tr>
                                <td><?=$text_delivery_date;?>:<sup class="text-danger">*</sup></td>
                                <td class="_expected_date"><input type="date" name="expected_date" class="" style="width:180px" min="<?php echo date("Y-m-d", time()); ?>" value="<?php echo date("Y-m-d", time()); ?>"></td>
                            </tr>
                            <tr>
                                <td><?=$text_vendor_name;?>:</td>
                                <td class="_vendor_name"></td>
                            </tr>
                            <tr>
                                <td>Delivery Address:</td>
                                <td class="_address">
                                    <select name="delivery_address">
                                        <option value="0" selected>Deliver to Store</option>
                                        <option value="other">Other</option>
                                        <?php
                                            foreach($client_addresses as $client_address): ?>
                                            <option value="<?=$client_address['client_id']; ?>" data-address="<?=$client_address['address']; ?>" data-city="<?=$client_address['city']; ?>" data-postal="<?=$client_address['postal_code']; ?>"><?=$client_address['company_name']; ?></option>
                                        <?php endforeach; ?>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td class="_deliver_address"><?=$store_address?></td>
                            </tr>
                    </table>
                    <table class="order_details  table-striped col-xs-12 col-sm-6">
                            <tr>
                                <td>Person Responsible:<sup class="text-danger">*</sup></td>
                                <td class="_responsible_person"><input type="text" name="person_responsible" class="" required> </td>
                            </tr>
                            <tr>
                                <td>Payment Mode:<sup class="text-danger">*</sup></td>
                                <td class="_payment_mode">
                                    <select name="payment_mode" class="">
                                        <?php
                                            foreach($payment_mode as $payment){
                                            echo "<option value=".$payment['payment_mode_id'].">".$payment['title']."</option>";
                                        }
                                        ?>    
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>HT:</td>
                                <td><span id="htt_m" class="text-success"> &euro;</span></td>
                            </tr>
                            <tr>
                                <td>TVA:</td>
                                <td><span id="tva_m" class="text-danger"><input type="number" name="tax" min="0" value="20" max="20" size="2" id="tax_field">%</span></td>
                            </tr>
                            <tr>
                                <td> <?=$text_grand_total;?>:</td>
                                <td class="text-danger"><span id="ttc_m" class="text-danger"> &euro;</span></td>
                            </tr>

                    </table>
        

        <table class="mdl-data-table mdl-js-data-table  md-table col-xs-12 items-list">
            <thead>
                <tr>
                    <th class="mdl-data-table__cell--non-numeric "><?=$text_reference;?></th>
                    <th class="mdl-data-table__cell--non-numeric _item_name"><?=$text_item_name;?></th>
                    <th class="mdl-data-table__cell--non-numeric "><?=$text_brand_name;?></th>
                    <th class="mdl-data-table__cell--non-numeric "><?=$text_packing;?></th>
                    <th class="mdl-data-table__cell--non-numeric _reference"><?=$text_item_area;?></th>
                    <th class="mdl-data-table__cell--non-numeric _buy_rate"><?=$text_buy_rate;?></th>
                    <th class="mdl-data-table__cell--non-numeric _quantity"><?=$text_quantity;?></th>
                    <th class="mdl-data-table__cell--non-numeric "><?=$text_total;?> (HT)</th>
<!--                    <th class="mdl-data-table__cell--non-numeric">--><?//=$text_action;?><!--</th>-->
                </tr>
            </thead>
            <tbody class="_ordered_items">
            </tbody>
        </table>

                    <div class="clearfix"></div>
                <div class="order-action text-center center-margin" style="margin-top:10px;">

                    <label class="text-center send-mail-checkbox" for="" >
                        <input type="checkbox" id="" class="" >
                        <span class="">Check to send mail to vendor.</span>
                    </label>
                    <div class="clearfix"></div>
                    Are you sure you want to place this purchase order?<br><br>
                    <button type="button" id="confirmPO" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                       <i class="material-icons ">check</i>
                    </button>
                    <div class="mdl-tooltip mdl-tooltip--large" for="confimPO">Confirm</div>
                    <button type="button" id="remove-order" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
                       <i class="material-icons">cancel</i>
                    </button>
                    <div class="mdl-tooltip mdl-tooltip--large" for="remove-order">Cancel</div>
                </div>
    </div>
    <div class="divider"></div>

</div>

<script>
var po_queue = [];
var po_queue_amount = 0;
var item_trace =[];
  function placeOrder(){
        po_queue = [];
        var vendorId = this.id;
        var btn = $(this);
        var formContent = btn.parent().parent();
        vendorId = vendorId.substr(2);
        formContent.append("<div class='mask'>Placing Order...</div>");
//        console.log(vWiseItems[vendorId]);
        var personResponsible = formContent.children("table").children("tbody").children("tr").children("td._responsible_person").children("input").val();
        var payment_mode = formContent.children("table").children("tbody").children("tr").children("td._payment_mode").children("select").val();
        var expectedDate = formContent.children("table").children("tbody").children("tr").children("td._expected_date").children("input").val();
        var email = formContent.children(".order-action").children("label").children("input").prop("checked");
        var vendor_address = $("select[name='delivery_address']", formContent).val();
        var delivery_other = "";
        if(vendor_address == 'other') {
            vendor_address = "";
            delivery_other = $("input[name='delivery_other']", formContent).val();
        }
        var city = vWiseItems[vendorId][0].city; 

        if(email) email = 1;
        else email = 0;

        var items = [];
        var purchaseRates = [];
        var quantity = [];
        var mrp = [];
        htt = 0;
        for(var i =0; i < vWiseItems[vendorId].length; i++){
            mrp.push(vWiseItems[vendorId][i].mrp);
            items.push(vWiseItems[vendorId][i].item_id);
            purchaseRates.push(vWiseItems[vendorId][i].purchase_rate);
            quantity.push(vWiseItems[vendorId][i].quantity);
            htt += vWiseItems[vendorId][i].purchase_rate*vWiseItems[vendorId][i].quantity;
        }

        tax = parseInt($("#tax_field").val());
        ttc = htt+ (htt*tax / 100);
        var postData = {
            all : 1,
            person_responsible : personResponsible,
            expected_date : expectedDate,
            payment_mode : payment_mode,
            vendor : vendorId,
            items : items,
            purchase_rates : purchaseRates,
            quantity :quantity,
            email : email,
            mrp: mrp,
            delivery_address : vendor_address,
            delivery_other : delivery_other,
            city : city,
            htt : htt,
            ttc : ttc,
            tva : tax
        };

        $.ajax({
            url: '?route=purchaseOrder/placeOrder',
            type: 'POST',
            data: postData,
            dataType: 'json',
            success: function (returnData) {
                for(var i = 0; i < items.length; i++){
                    delete orderItems[items[i]];
                    loadItems();
                }
                formContent.html("<h1>Order #"+returnData.order_id + " is successfully placed</h1>");
            },
            error: function () {
                $(".mdl-progress").hide();
                showSnackbar("Can't complete your request.");
            }
        });




    }


    var orderItems = {};
    var buyRates = {};
    var vWiseItems;
    var checkboxId = 1;      
    function showPurchaseOrder(){
        var orderItemsList = [];
        for (var key in orderItems) {
            orderItemsList.push(key);
        }
        var postData = {
            all: 1,
            with_vendor:1,
            itemIdList : orderItemsList
        };

        $.ajax({
            url: '?route=purchaseOrder/getItemsList&all=1',
            type: 'POST',
            data: postData,
            dataType: 'json',
            success: function (returnData) {
                $("#order-modal > .view-body").html("");
                buyRates = [];
                data = returnData.itemList;
                var vendorWiseItems = {};

                for (var i = 0; i < data.length; i++) {        // Categorizing the items according to vendors.
                    if(vendorWiseItems[data[i].vendor] == undefined){
                        vendorWiseItems[data[i].vendor] = [];
                    }
                    data[i]['quantity'] = orderItems[data[i].item_id].quantity;
                    data[i]['purchase_rate'] = orderItems[data[i].item_id].purchaseRate;
                    vendorWiseItems[data[i].vendor].push(data[i]);
                }
                vWiseItems = vendorWiseItems;
                for(var key in vendorWiseItems){
                    var orderNode = $("#po-template > div").clone(true);
                    //console.log(vendorWiseItems[key]);
                    orderNode.children(".order-action").children("label").attr("for","check-"+checkboxId);
                    orderNode.children(".order-action").children("label").addClass("mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect");
                    $("#confirmPO", orderNode).attr("id", "v-" + key);
                    $("#remove-order", orderNode).attr("data-vendor", key);
                    $("#confirmPO", orderNode).click(placeOrder);
                    orderNode.children(".order-action").children("label").children("input").attr("id","check-"+checkboxId);
                    orderNode.children(".order-action").children("label").children("input").addClass("mdl-checkbox__input");
                    orderNode.children(".order-action").children("label").children("span").addClass("mdl-checkbox__label");
                    componentHandler.upgradeElement(orderNode.children(".order-action").children("label")[0]);
                    checkboxId++;
                    orderNode.children("table").children("tbody").children("tr").children("td._vendor_name").html(vendorWiseItems[key][0].company_name);
                    // orderNode.children("table").children("tbody").children("tr").children("td._address").html(vendorWiseItems[key][0].address + ", "+ vendorWiseItems[key][0].city);
                    $("#order-modal > .view-body").append(orderNode);
                    var items = vendorWiseItems[key];
                    ht_amount = 0;
                    for(var i = 0; i < items.length; i++){
                        ht_amount += vendorWiseItems[key][i].purchase_rate*vendorWiseItems[key][i].quantity;
                        var rowNode = $("#order-row-template").clone(true);
                        //console.log(rowNode);
                        rowNode.children("td._reference").html(vendorWiseItems[key][i].reference);
                        rowNode.children("td._item_name").html(vendorWiseItems[key][i].item_name);
                        rowNode.children("td._brand_name").html(vendorWiseItems[key][i].brand_name);
                        rowNode.children("td._packing").html(vendorWiseItems[key][i].packing);
                        rowNode.children("td._area").html(vendorWiseItems[key][i].area);
                        rowNode.children("td._purchase_rate").html(vendorWiseItems[key][i].purchase_rate);
                        rowNode.children("td._quantity").html(vendorWiseItems[key][i].quantity);
                        rowNode.children("td._total").html(vendorWiseItems[key][i].purchase_rate*vendorWiseItems[key][i].quantity + " &euro;");
                        orderNode.children("table").children("tbody._ordered_items").append(rowNode);
                    }
                    orderNode.children("table:nth-child(3)").children("tbody").children("tr:nth-child(3)").children("td").children("#htt_m").prepend(ht_amount.toFixed(2));
                    ttc_amount = ht_amount + (ht_amount*20)/100;
                    orderNode.children("table:nth-child(3)").children("tbody").children("tr:nth-child(5)").children("td").children("#ttc_m").prepend(ttc_amount.toFixed(2));
                }
                $(".mdl-progress").hide();
                MDialog.start({}, "detail", this, $("#order-modal"));
                //showSnackbar("Data loaded.");
            },
            error: function () {
                $(".mdl-progress").hide();
                showSnackbar("Can't complete your request.");
            }
        });

    }



    function calculateQuantity() {
        var value = parseInt($(this).val());
        var parent = $(this).parent().parent();
        max = parseInt(parent.attr("data-max"));
        current = parseInt(parent.children('._current_stock').html());
        var packing = $(this).parent().parent().children("._packing").html();
        var totalSpan = $(this).parent().children("span");
        totalSpan.html((value * packing));
        if(value > 0) $(this).parent().removeClass("danger");
        if(current + value > max) alert("You have selected a quantity which will add stock more than maximum stock");
    }

    var hasBuyRateError = false;
    function checkBuyRate(){
        var input = $(this);
        var itemId = input.parent().parent().attr("id");
            value = input.val();
        //console.log(typeof parseFloat(value));
        if(isNaN(value)) {
            input.parent().addClass("warning");
        }else{
            input.parent().removeClass("warning");
            if(parseFloat(value) > parseFloat(buyRates["i-"+itemId])){
                hasBuyRateError = false;
                input.parent().addClass("danger");
            }else{
                input.parent().removeClass("danger");
                hasBuyRateError = false;
            }
        }
    }
    function addItemToOrderList(){
        var row = $(this).parent();
        //console.log(row);
        var rId = $(this).parent().attr("id");
        if(!row.hasClass("order_item") ){
            if($(row.children("._quantity").children("input")[0]).val() < 1){
                row.children("._quantity").addClass("danger");
                return;
            }
        if(hasBuyRateError){
                alert("Buy rate cannot be exceeded or increased.");
                return;
            }

            $("i",$('.addToOrder', row)).html("close");
            $(".addToOrder",row).removeClass("mdl-button--primary");
            row.children("._quantity").removeClass("danger");
            var packing = row.children("._packing").html();
            var quatityInItems = $(row.children("._quantity").children("input")[0]).val();

            var orderObj = {purchaseRate: $(row.children("._purchase_rate").children("input")[0]).val(),
                quantity: quatityInItems};
            $(row.children("._purchase_rate").children("input")[0]).prop("disabled", true);
            $(row.children("._quantity").children("input")[0]).prop("disabled", true);
            orderItems[rId] = orderObj;
            row.addClass("order_item");
            $("#selected-items-btn").html("Items Selected = " + countProperties(orderItems));
            queue_clone = row.clone();
            prate = queue_clone.children("._purchase_rate").children("input").val();
            pquan = queue_clone.children("._quantity").children("input").val();
            queue_clone.children("._purchase_rate").html(prate);
            queue_clone.children("._quantity").html(pquan);
            queue_clone.removeClass("order_item");
            objInfo = {"item":rId,"rate" : prate, "quantity" : pquan};
            addToQueue(rId,prate,pquan);
            po_queue.push(objInfo);
            toggleQueue();
            $("#queue-body").append(queue_clone);
        }else{
            $("i",$('.addToOrder', row)).html("shopping_cart");
            $(".addToOrder",row).addClass("mdl-button--primary");
            $(row.children("._purchase_rate").children("input")[0]).prop("disabled", false);
            $(row.children("._quantity").children("input")[0]).prop("disabled", false);
            rqa = orderItems[rId];
            delete orderItems[rId];
            row.removeClass("order_item");
            $("#selected-items-btn").html("Items Selected = " + countProperties(orderItems));
            $("#queue-body #"+rId).remove();
            removeFromQueue(rId, rqa);
            toggleQueue();
        }
        if(countProperties(orderItems) > 0){
            $("#create-po-btn").prop("disabled",false);
        }else{
            $("#create-po-btn").prop("disabled",true);
        }
    }



    var orderItemsFilter = [];
    $("#selected-items-btn").click(function () {
        if(countProperties(orderItems) > 0){
            selctizedBoxInstanceItem.clear();
            orderItemsFilter = [];
            for (var key in orderItems) {

                orderItemsFilter.push(key);
            }
            loadItems();
        }
    });

    function countProperties(obj) {
        var count = 0;

        for(var prop in obj) {
            if(obj.hasOwnProperty(prop))
                ++count;
        }

        return count;
    }

    var selectBoxItem;
    var selctizedBoxInstanceItem;


    function initItemFilterSelectBox() {
        selectBoxItem = $(".selectize-filter-items").selectize({
            onItemAdd: itemAddListener,
            onItemRemove: itemRemoveListener,
            options: [],
            optgroups: [
                {id: 'vendor', name: 'Vendor'},
                {id: 'item', name: 'Item'},
                {id: 'category', name: 'Category'},
                {id: 'area', name: 'Area'},
                {id: 'ref', name: 'Ref#'}
            ],
            labelField: 'label',
            valueField: 'id',
            optgroupField: 'type',
            optgroupLabelField: 'name',
            optgroupValueField: 'id',
            optgroupOrder: ['vendor', 'item','ref', 'category', 'area'],
            searchField: ['label'],
            plugins: ['optgroup_columns', 'remove_button']

        });
        if (selectBoxItem.length != 0) selctizedBoxInstanceItem = selectBoxItem[0].selectize;
    }
    var lastDateItemId = "";
    function itemAddListener(value, item){
        var item = $(item);
        var id = selctizedBoxInstanceItem.options[value].id;
        var type = selctizedBoxInstanceItem.options[value].type;
        var label = selctizedBoxInstanceItem.options[value].label;
        if(type == "date"){
            item.css("background-color","#1565c0");
            if(lastDateItemId != "")selctizedBoxInstanceItem.removeItem(lastDateItemId, false);
            lastDateItemId = id;
            loadItemsSelectBox();
        }
        if(type == "vendor"){
            loadItemsSelectBox();
            item.css("background-color","#00695c");
        }
        if(type == "item") item.css("background-color","#2e7d32");

        if(type == "category"){
            item.css("background-color","#0277bd");
            loadItemsSelectBox();
        }

        if(type == "area"){
            item.css("background-color","#283593");
            loadItemsSelectBox();
        }

        if(type == "ref"){
            item.css("background-color","#ED5565");
            loadItemsSelectBox();
        }

        loadItems();

    }
    function itemRemoveListener(value){
        var type = selctizedBoxInstanceItem.options[value].type;
        if(type == "vendor" || type == "date")loadItemsSelectBox();
        loadItems();
    }


    function loadItemCategorySelectBox(multi=true){
        vendor_id = 0;
        brand_name = "";
        if(!multi){
            vendor_id = vendorFilterList[0];
            if(brandFilter[0] != undefined)
                brand_name = brandFilter[0];
        }
        $("#filter-category").selectize()[0].selectize.clearOptions();
        $.ajax({
            url: '?route=purchaseOrder/getCategoryList&all=1&vendor_id='+vendor_id+'&brand_name='+brand_name,
            type: 'GET',
            dataType: 'json',
            success: function (returnData) {
                data = returnData.category_list;
                for(var i = 0; i < data.length ; i++){
                    if(multi)
                        selctizedBoxInstanceItem.addOption({id : data[i].item_category, type: "category", label: (data[i].title)});
                    else
                        $("#filter-category").selectize()[0].selectize.addOption({id : data[i].item_category, label: (data[i].title)});

                }
                selctizedBoxInstanceItem.refreshOptions(false);
                $("#filter-category").selectize()[0].selectize.refreshOptions(false);
            },
            error: function () {
                $(".mdl-progress").hide();
                showSnackbar("Can't load vendor list.");
            }
        });
    }

    function loadAreaSelectBox(){
        $.ajax({
            url: '?route=purchaseOrder/getAreaList&all=1',
            type: 'GET',
            dataType: 'json',
            success: function (returnData) {
                data = returnData.area_list;
                for(var i = 0; i < data.length ; i++){
                    selctizedBoxInstanceItem.addOption({id : "area-" + data[i].area, type: "area", label: (data[i].area)});
                }
                selctizedBoxInstanceItem.refreshOptions(false);
            },
            error: function () {
                $(".mdl-progress").hide();
                showSnackbar("Can't load vendor list.");
            }
        });
    }

    function loadRefSelectBox(multi=true){
        vendor_id = 0;
        brand_name = "";
        category = 0;
        if(!multi){
            vendor_id = vendorFilterList[0];
            brand_name = brandFilter[0];

            if(categoryFilterList[0] != undefined)
                category = categoryFilterList[0];
        }
        $("#filter-ref").selectize()[0].selectize.clearOptions();
        $.ajax({
            url: '?route=purchaseOrder/getRefList&all=1&list=item&vendor_id='+vendor_id+'&brand_name='+brand_name+'&category='+category,
            type: 'GET',
            dataType: 'json',
            success: function (returnData) {
                data = returnData.ref_list;
                for(var i = 0; i < data.length ; i++){
                    if(multi)
                        selctizedBoxInstanceItem.addOption({id : data[i].reference, type: "ref", label: ("#"+data[i].reference)});
                    else                        
                        $("#filter-ref").selectize()[0].selectize.addOption({id : data[i].reference, label: (data[i].reference)});
                }
                selctizedBoxInstanceItem.refreshOptions(false);
            },
            error: function () {
                $(".mdl-progress").hide();
                showSnackbar("Can't load ref list.");
            }
        });
    }
    function loadItemsSelectBox(){
        filterResults();
        if(vendorFilterList.length == 0 && dateFilter.length == 0  && areaFilterList.length == 0 && categoryFilterList.length == 0) {
            clearItemOptions();
            return;
        }
        $(".mdl-progress").show();
        var postData = {
            all: 1,
            vendorList : vendorFilterList,
            dateFilter : dateFilter,
            categoryFilter: categoryFilterList,
            areaFilter : areaFilterList,
            refList : refFilter
        };
        $.ajax({
            url: '?route=purchaseOrder/getItemsList&all=1',
            type: 'POST',
            data: postData,
            dataType: 'json',
            success: function (returnData) {
                clearItemOptions();
                data = returnData.itemList;
                for(var i = 0; i < data.length ; i++){
                    //console.log(data[i]);
                    selctizedBoxInstanceItem.addOption({id : "item-"+data[i].item_id, type: "item", label: (data[i].item_name + "-" + data[i].reference)});
                }
                selctizedBoxInstanceItem.refreshOptions(false);
            },
            error: function () {
                $(".mdl-progress").hide();
                showSnackbar("Can't load vendor list.");
            }
        });

    }


    function loadVendorsSelectBox(multi=true){
        $.ajax({
            url: '?route=purchaseOrder/getVendorsList&all=1',
            type: 'GET',
            dataType: 'json',
            success: function (returnData) {
                data = returnData.vendors_list;
                for(var i = 0; i < data.length ; i++){
                        $("#filter-vendor").selectize()[0].selectize.addOption({id : data[i].vendor_id, label: (data[i].company_name)});
                }
                $("#filter-vendor").selectize()[0].selectize.refreshOptions(false);
            },
            error: function () {
                $(".mdl-progress").hide();
                showSnackbar("Can't load vendor list.");
            }
        });
    }
    function loadBrandNames(){
        vendor_id = 0;
        
        vendor_id = vendorFilterList[0];
        $("#filter-brand").selectize()[0].selectize.clearOptions();
        $.ajax({
            url: '?route=purchaseOrder/getBrandNames&all=1&vendor_id='+vendor_id,
            type: 'GET',
            dataType: 'json',
            success: function (returnData) {
                data = returnData.brand_list;
                for(var i = 0; i < data.length ; i++){
                        $("#filter-brand").selectize()[0].selectize.addOption({id : data[i].brand_name, label: (data[i].brand_name)});
                }
                $("#filter-brand").selectize()[0].selectize.refreshOptions(false);
            },
            error: function () {
                $(".mdl-progress").hide();
                showSnackbar("Can't load vendor list.");
            }
        });
    }

    var vendorFilterList = [];
    var itemIdFilterList = [];
    var categoryFilterList = [];
    var areaFilterList = [];
    var dateFilter = [];
    var refFilter = [];
    var brandFilter = [];


    function filterResults(){
        var input = $(this);
        vendorFilterList = [];
        areaFilterList = [];
        itemIdFilterList = [];
        categoryFilterList = [];
        // dateFilter = [];
        refFilter = [];
        //console.log(selctizedBoxInstanceItem.getValue());
        for(var i=0; i < selctizedBoxInstanceItem.getValue().length; i++){
            var id = selctizedBoxInstanceItem.options[selctizedBoxInstanceItem.getValue()[i]].id;
            var type = selctizedBoxInstanceItem.options[selctizedBoxInstanceItem.getValue()[i]].type;
            var label = selctizedBoxInstanceItem.options[selctizedBoxInstanceItem.getValue()[i]].label;
            if(type == "vendor") vendorFilterList.push(id);
            if(type == "date") dateFilter.push(id);
            if(type == "category") {
                var cId = id.substr(id.indexOf("-") + 1);
                categoryFilterList.push(cId);
            }
            if(type == "area") {
                var cId = id.substr(id.indexOf("-") + 1);
                areaFilterList.push(cId);
            }
            if(type == "item"){
                var cId = id.substr(id.indexOf("-") + 1);
                itemIdFilterList.push(cId);
            }
            if(type == "ref"){
                var cId = id.substr(id.indexOf("-") + 1);
                refFilter.push(cId);
            }
        }

        if(orderItemsFilter.length > 0){
            for(var i=0 ; i < orderItemsFilter.length; i++){
                itemIdFilterList.push(orderItemsFilter[i]);
            }
            orderItemsFilter = [];
        }
    }

    var tableheader = $("#table-head");

    function tableSort() {
        var th = $(this);
        if (th.hasClass("no-sort")) {
            tableheader.children(".sortable").removeClass("mdl-data-table__header--sorted-ascending");
            tableheader.children(".sortable").removeClass("mdl-data-table__header--sorted-descending");
            tableheader.children(".sortable").addClass("mdl-data-table__header");
            tableheader.children(".sortable").addClass("no-sort");
            th.removeClass("no-sort");
            th.removeClass("mdl-data-table__header");
            th.addClass("mdl-data-table__header--sorted-ascending");
            loadItems();
            return;
        }

        if (th.hasClass("mdl-data-table__header--sorted-ascending")) {
            th.removeClass("mdl-data-table__header--sorted-ascending");
            th.addClass("mdl-data-table__header--sorted-descending");
            loadItems();
            return;
        }

        if (th.hasClass("mdl-data-table__header--sorted-descending")) {
            th.removeClass("mdl-data-table__header--sorted-descending");
            th.addClass("mdl-data-table__header");
            th.addClass("no-sort");
            console.log("DESC");
            loadItems();
        }

    }


    function clearItemOptions(){

        for(var prop in selctizedBoxInstanceItem.options){
            var id = selctizedBoxInstanceItem.options[prop].id;
            var type = selctizedBoxInstanceItem.options[prop].type;
            if(type == "item") {
                selctizedBoxInstanceItem.removeOption(id);
            }
        }


        selctizedBoxInstanceItem.refreshOptions(false);
    }

var pageCount = 1;
    function loadItems() {
        $(".mdl-progress").show();
        filterLimit = $("#filter-limit").val();
        // filterResults();
        var postData = {
            all: 1,
            vendorList : vendorFilterList,
            dateFilter : dateFilter,
            itemIdList : itemIdFilterList,
            categoryFilter: categoryFilterList,
            areaFilter : areaFilterList,
            refList: refFilter,
            brand : brandFilter[0],
            list:'item',
            limit : filterLimit, 
            page : pageCount
        };
        if (tableheader.children(".sortable.mdl-data-table__header--sorted-ascending").length > 0) {
            postData.sort = "ASC";
            postData.sortField = $(tableheader.children(".sortable.mdl-data-table__header--sorted-ascending")[0]).attr("id");
        }
        if (tableheader.children(".sortable.mdl-data-table__header--sorted-descending").length > 0) {
            postData.sort = "DESC";
            postData.sortField = $(tableheader.children(".sortable.mdl-data-table__header--sorted-descending")[0]).attr("id");
        }
        $.ajax({
            url: '?route=purchaseOrder/getItemsList&all=1',
            type: 'POST',
            data: postData,
            dataType: 'json',
            success: function (returnData) {
                buyRates = [];
                data = returnData.itemList;
                $(".total_count").html(returnData.total_count);
                $(".limit_count").html(data.length);
                $(".paginate").html(returnData.pagination);
                $(".tfoot").removeClass("hidden");
                //                console.log(returnData.clause);
                $("#items-body").html("");
                for (var i = 0; i < data.length; i++) {
                    var rowNode = $("#row-template > table > tbody > tr").clone(true);
                    rowNode.attr("id", data[i].item_id);
                    if(item_trace.indexOf(data[i].item_id) >= 0) {
                        rowNode.addClass("order_item");
                        $("i",$('.addToOrder', rowNode)).html("close");
                    }
                    sr = ((pageCount-1)*filterLimit)+i+1;
                    rowNode.children("._sr").html(sr);
                    rowNode.attr("data-max", data[i].max_stock);
                    rowNode.children("._reference").html(data[i].reference);
                    rowNode.children("._item_name").html(data[i].item_name);
                    rowNode.children("._brand_name").html(data[i].brand_name);
                    rowNode.children("._packing").html(data[i].packing);
                    rowNode.children("._area").html(data[i].area);
                    rowNode.children("._purchase_rate").children("input").val(data[i].purchase_rate);
                    rowNode.children("._purchase_rate").children("input").keyup(checkBuyRate);
                    buyRates["i-"+data[i].item_id] = data[i].purchase_rate;
                    rowNode.children("._current_stock").html(data[i].current_stock);
                    rowNode.children("._quantity").children("input").mouseup(calculateQuantity);
                    rowNode.children("._quantity").children("input").keyup(calculateQuantity);
                    //rowNode.children("._quantity").children("input").val();
                    if (data[i].item_pdf == 0) rowNode.children("._buttons").children(".pdf").hide();
                    if (data[i].image == 0) rowNode.children("._buttons").children(".image").hide();
                    rowNode.children(".clickable").click(addItemToOrderList);
                    (".addToOrder", rowNode.children("._buttons")).click(addItemToOrderList);
                    if(orderItems[data[i].item_id] != undefined) {
                        rowNode.addClass("order_item");
                        rowNode.children("._purchase_rate").children("input").val(orderItems[data[i].item_id].purchaseRate);
                        rowNode.children("._quantity").children("input").val(orderItems[data[i].item_id].quantity);
                        rowNode.children("._purchase_rate").children("input").prop("disabled", true);
                        rowNode.children("._quantity").children("input").prop("disabled", true);

                    }
                    $("#items-body").append(rowNode);

                }
                $(".mdl-progress").hide();
                //showSnackbar("Data loaded.");
            },
            error: function () {
                $(".mdl-progress").hide();
                showSnackbar("Can't complete your request.");
            }
        });
    }




    function openAttachment() {
        var id = $(this).parent().parent().attr("id");
        var button = $(this);
        $.ajax({
            url: '?route=purchaseOrder/getItemDetails&item_id=' + id,
            type: 'GET',
            dataType: 'json',
            success: function (returnData) {
                data = returnData.item_details;
                if (button.hasClass("image")) {
                    if (data.image == 0) {
                        showSnackbar("No image uploaded");
                    } else {
                        $("#image-modal > .view-title").html(data.item_name);
                        $("#item_reference_i").html(data.reference);
                        $("#irem_image_i").attr("src", data.image);
                        MDialog.start({}, "detail", this, $("#image-modal"));
                    }
                }
                if (button.hasClass("pdf")) {
                    if (data.item_pdf == 0) {
                        showSnackbar("No pdf uploaded");
                    } else {
                        window.open(data.item_pdf, '_blank');
                    }
                }
            }
        });

    }
function toggleQueue(){
    if(po_queue.length){
        $("#queue-list").parent().removeClass("hidden");
        return;
    }else{        
        $("#queue-list").parent().addClass("hidden");       
        return;
    }
}
function getFromQueue(){
        var postData = {
            all: 1,
            vendorList : vendorFilterList,
            dateFilter : dateFilter,
            itemIdList : itemIdFilterList,
            categoryFilter: categoryFilterList,
            areaFilter : areaFilterList,
            refList: refFilter,
            list:'item'
        };
    $.ajax({
            url: '?route=purchaseOrder/getFromQueue',
            type: 'POST',
            dataType: 'json',
            data:postData,
            success: function (returnData) {
                data = returnData.queue;                
                $("#queue-body").html("");
                for (var i = 0; i < data.length; i++) {
                    objInfo = {"item":data[i].item_id,"rate" : data[i].rate, "quantity" : data[i].quantity};
                    po_queue.push(objInfo);
                    item_trace.push(data[i].item_id);
                    var rowNode = $("#row-template > table > tbody > tr").clone(true);
                    rowNode.attr("id", data[i].item_id);
                    sr = i+1;
                    rowNode.children("._sr").html(sr);
                    rowNode.attr("data-max", data[i].max_stock);
                    rowNode.children("._reference").html(data[i].reference);
                    rowNode.children("._item_name").html(data[i].item_name);
                    rowNode.children("._brand_name").html(data[i].brand_name);
                    rowNode.children("._packing").html(data[i].packing);
                    rowNode.children("._area").html(data[i].area);
                    rowNode.children("._purchase_rate").html(data[i].rate);
                    rowNode.children("._current_stock").html(data[i].current_stock);            
                    rowNode.children("._quantity").html(data[i].quantity);            
                    $("i",$('.addToOrder', rowNode)).html("close");
                    rowNode.children("._buttons").children(".pdf").hide();
                    rowNode.children("._buttons").children(".image").hide();
                    orderObj = {purchaseRate: data[i].rate,
                        quantity: data[i].quantity};
                    orderItems[data[i].item_id] = orderObj;
                    po_queue_amount = po_queue_amount + (data[i].rate*data[i].quantity);
                    $("#queue-body").append(rowNode);

                }
                $(".mdl-progress").hide();
                //showSnackbar("Data loaded.");
                if(returnData.count > 0) {
                    $("#queue-list").parent().show();
                    $("#selected-items-btn").html("Items Selected = " + returnData.count);
                    $(".queue-foot .amount").html("&euro;"+po_queue_amount.toFixed(3));
                    $("#create-po-btn").prop("disabled",false);
                    toggleQueue();
                }
            },
            error: function () {
                $(".mdl-progress").hide();
                showSnackbar("Can't complete your request.");
            }
        });
}
    $(document).ready(function () {
        $("#refresh-data-btn").click(loadItems);
        tableheader.children(".sortable").click(tableSort);
        $("#create-po-btn").click(showPurchaseOrder);
        $(".queue-foot button").click(showPurchaseOrder);
        initItemFilterSelectBox();
        loadVendorsSelectBox(true);
        getFromQueue();
        // loadItemCategorySelectBox();
        // loadAreaSelectBox();
        loadItems();
        // loadRefSelectBox();
        $(".open-attach-btn").click(openAttachment);
       // $("#filter-box").change(filterResults);

    });
function updateTTC(){
    wrap = $(this).parent().parent().parent().parent();
    ht = $("#htt_m", wrap);
    ht_value = parseFloat(ht.html());
    new_tax = $(this).val();

    ttc_new = ht_value + (ht_value * new_tax)/100;

    $("#ttc_m", wrap).html(ttc_new + " &euro;");
    $("#tax_field").val(new_tax);

} 
function displayAddress(){
    _this = $("option:selected", this);
    if(_this.val() != 0 && _this.val() != "other"){

        address = _this.attr("data-address");
        city = _this.attr("data-city");
        postal = _this.attr("data-postal");
        $("._deliver_address").html(address+", "+ city + ", "+postal);   
    }
    else if(_this.val() == "other"){
     $("._deliver_address").html("<input type='text' name='delivery_other' placeholder='Enter delivery address'>");   
    }
    else $("._deliver_address").html('<?=$store_address?>');
} 

function addToQueue(item_id, rate, quantity){
    data = { item_id: item_id, rate:rate, quantity:quantity};
    po_queue_amount = po_queue_amount + (rate*quantity);
    if(po_queue_amount > 0) $(".queue-foot button").attr("disabled", false);
    $(".queue-foot .amount").html("&euro;"+po_queue_amount.toFixed(3));
    
    $.ajax({
        url:'?route=purchaseOrder/addToQueue',
        type:"POST",
        data:data,
        success:function(returnData){

        }
    });
}
function removeFromQueue(item_id,rate_obj){
    po_queue_amount = po_queue_amount - (rate_obj.purchaseRate*rate_obj.quantity);
    $(".queue-foot .amount").html("&euro;"+po_queue_amount.toFixed(3));
    if(po_queue_amount == 0) $(".queue-foot button").attr("disabled", "disabled");
    $.ajax({
        url:'?route=purchaseOrder/removeFromQueue&id='+item_id,
        type:"GET",
        success:function(returnData){

        }
    });
}
$("#confirmPO").click(placeOrder);
$("select[name='delivery_address']").change(displayAddress);
$("#tax_field").change(updateTTC);
$("#tax_field").keyup(updateTTC);
$("#remove-order").click(function(){
    node = $(this).parent().parent();  
    count = 0;
    for (var key in vWiseItems) {
            count++;
        }

    if(count > 1 ) node.remove();
    else $("#m-dialog-close-btn").trigger("click");
    delete vWiseItems[$(this).attr('data-vendor')];
});
    $("#filter-vendor").change(function(){
        val = $(this).val();
        vendorFilterList = [];
        if(val != 0)
            vendorFilterList.push(val);
        loadBrandNames();
        loadItemCategorySelectBox(false);
        loadItems();
        getFromQueue();
    });
    $("#filter-category").change(function(){
        val = $(this).val();
        categoryFilterList = [];
        if(val != 0)
            categoryFilterList.push(val);
        loadRefSelectBox(false);
        loadItems();
        getFromQueue();
    });
    $("#filter-ref").change(function(){
        val = $(this).val();
        refFilter = [];
        if(val != 0)
            refFilter.push(val);
        loadItems();
        getFromQueue();
    });
    $("#filter-brand").change(function(){
        val = $(this).val();
        brandFilter = [];
        if(val != 0)
            brandFilter.push(val);
        loadItemCategorySelectBox(false);
        loadRefSelectBox(false);
        loadItems();
        getFromQueue();
    });
    $("#filter-limit").change(function(){
        pageCount=1;
        loadItems();
    });
    $(document).on("click", "#queue-body .addToOrder", function(e){
        id = $(this).parent().parent().attr("id");
        $("#items-body #"+id+ " .addToOrder").trigger("click");
    });
    $(document).on("click", ".pagination li a", function(e){
        e.preventDefault();
        found = false;
        url = $(this).attr("href");
        splinters = url.split("&");
        $.each(splinters, function(key, val){
            vals = val.split("=");
            if(vals[0] == "page") {
                found = true;
                pageCount = vals[1];
            }
        });
        if(!found) pageCount = 1;
        loadItems();
    });
</script>




