
<style type="text/css">
    .mb
{
    margin-bottom:5px;
}
.pr
{
    padding-right:5px;
}

.form a:hover
{
    text-decoration:none;
    color:gray;
}
.form a
{
    margin-left:10px;
    color:gray;
}
.panel{
    margin-top:20px;
    border:0px;
}
 .notifications-wrapper .panel-body
{
    border-bottom:1px solid #ddd;
    width:100%;
    padding-top:7px;
    padding-bottom:5px;
    font-size:14px;
}
i.fa{
    cursor: pointer;
}
form{
    display: inline;
}
.load-more{
    margin-top: -10px;
    margin-bottom: 20px;
}
.panel-heading.blank{
    background: #CFD8DC;
}
</style>
   <!--  <?php if(count($notifications) > 0){ ?>
            <?php
                foreach($notifications as $notification):
            ?>
                    <li class="mdl-menu__item ">
                        <a href="t"><div class="menu-item-wrapper">
                                <span class="notification-text-h"><?php echo strtoupper(str_replace("_", " ", $notification['activity_type'])); ?></span>
                                <span class="pull-right notification-time"><?php $date = new DateTime($notification['created_on']); echo $date->format("d, M, Y"); ?></span>
                                <div><span class="">#<?php echo $notification['activity_object'] ?></span></div>
                            </div></a>
                    </li>
            <?php endforeach; ?>

            <?php 
                if(count($notifications) == 3): ?>
                    <li class="mdl-menu__item last">
                        <div class="menu-item-wrapper">
                            <span class="notification-text">Show All</span>
                        </div>
                    </li>
            <?php endif; ?>
    <?php } else { ?>
    <li class="mdl-menu__item" style="border-bottom: none; text-align: center; padding-top:20px; font-weight: bold;">
                        <div class="menu-item-wrapper">
                            <span class="notification-text">No new notifications</span>
                        </div>
                    </li>
                    <?php } ?>
    <div class="clearfix"></div> -->
    <div class=" container-fluid  col-xs-12 ">

            <div class="col-md-3">
        
        <div class="panel panel-primary mb">
            <div class="panel-heading unread">unread</div>
        </div>
        
        <div class="panel panel-default" style="margin-top: 0px;">
            <div class="panel-heading all">all notifications<span class="pull-right"></span></div>
            </div>
        
        <a href="#" class="text-muted">All notification</a>
        
        <hr>
        
        <a href="#">purcahase orders<span class="pull-right">0</span></a>
        <div class="clearfix"></div>
        <a href="#">sales orders<span class="pull-right">0</span></a>
        <div class="clearfix"></div>
        <a href="#">bill of lading<span class="pull-right">0</span></a>
        <div class="clearfix"></div>
        <a href="#">dispatch<span class="pull-right">0</span></a>
        <div class="clearfix"></div>
    </div>

    <div class="col-md-9">

        <div class="panel panel-default">
            <div class="panel-heading blank"><i class="fa fa-bell-o"></i>  Notifications 
                <form id="read-form">
                    <input type="checkbox" class="hidden" name="check_notification_all" id="check-notification-all">
                    <label for="check-notification-all" class="pull-right" style="padding-right:15px;"><i class="fa fa-check"></i>
                    </label>
                    <button class="mark_read btn-xs pull-right" style="margin-right:20px;">Mark as read</button>
                    <div class="clearfix"></div>
            </div>
            <div class="notifications-wrapper">
                  <?php
                foreach($notifications as $notification):
            ?>

                <div class="panel-body">
                    
                    <div class="col-md-6 no-padding">
                        <?php $act = "text_activity_".$notification['activity_type']; echo $$act; ?>
                    </div>
                                 
                    <div class="col-md-3 text-right"><?php echo $notification['created_on']; ?></div>
                    <div class="col-md-2 text-right">#<?php echo $notification['activity_object'] ?>
                            
                    </div>
                    <div class="col-md-1 text-right">
                        <input type="checkbox" class="hidden" name="check_notification[<?php echo $notification['notification_id']; ?>]" id="check-notification-<?php echo $notification['notification_id'] ?>">
                        <label for="check-notification-<?php echo $notification['notification_id'] ?>"><i class="fa fa-check"></i>
                            </label>
                    </div>
                </div>
                <?php endforeach; ?>
            </div>

            </form>
        </div>
            <div class="text-center">
                <button class="mdl-button mdl-shadow--2dp mdl-js-button mdl-js-ripple-effect mdl-color--white load-more"> Load More</button>
            </div>
    </div>
      

    </div>

            <div id="template" class="panel-body animated bounceInDown hidden">
                    <div class="col-md-6 no-padding title">
                        <
                    </div>
                                 
                    <div class="col-md-3 text-right date"></div>
                    <div class="col-md-2 text-right objId">
                    </div>
                    <div class="col-md-1 text-right readCol">
                        <input type="checkbox" class="hidden" name="" id="check-notification-">
                        <label for="check-notification-"><i class="fa fa-check"></i>
                        </label>
                    </div>
            </div>
<script type="text/javascript">
    activity = { 
    <?php
        for($i=1;$i<42;$i++){
            $var = "text_activity_".$i;
            echo "'".$i."' : " . " \" ". $$var."\",  "; 
        }
     ?>
    };
    $("label").click(function(){
        id = $(this).attr("for");
        if(id == "check-notification-all"){

               if(!$("#"+id + ":checked").length){
                $("i", "label").css("color", "#2196F3");
                }
                else{
                    $("i", "label").css("color", "inherit");
                }
                return;

        }
        if(!$("#"+id + ":checked").length){
            $("i", this).css("color", "#2196F3");
        }
        else{
            $("i", this).css("color", "inherit");
        }
    });
    $(".mark_read").click(function(e){
        e.preventDefault();
    });


    var start = 10;

    $('.load-more').click(loadNotifications);
    function loadNotifications(){
        $('.notifications-wrapper').css("opacity", "0.5");
        $.ajax({
            url:'?route=notifications/loadMore',
            type:'post',
            dataType : 'json',
            data : {"start":start},
            success:function(data){
                notifications = data.notifications;
                start = start + 10;             
                $('.notifications-wrapper').css("opacity", "1");
                for(i=0; i<notifications.length;i++){
                    temp = $("#template").clone();
                    temp.removeClass("hidden");
                    title = activity[notifications[i].activity_type];
                    temp.children('.title').html(title);
                    temp.children('.objId').html("#"+notifications[i].activity_object);
                    temp.children('.date').html(notifications[i].created_on);
                    temp.children('.readCol').children("input").attr("id", "check-notification-"+notifications[i].notification_id);
                    temp.children('.readCol').children("input").attr("name", "check_notification["+notifications[i].notification_id+"]");
                    temp.children('.readCol').children("label").attr("for", "check-notification-"+notifications[i].notification_id);
                    $('.notifications-wrapper').append(temp);
                }
            }
        });
    }
</script>