

<div class="center-margin col-xs-12 col-md-6 ">
    <div class="table-card mdl-card  mdl-shadow--2dp col-xs-12">

        <div class="table-header">
            <h4>Stock
                <button class="mdl-button mdl-js-button mdl-button--icon pull-right">
                    <i class="material-icons">edit</i>
                </button>
            </h4>

            <select name="vendor_name" class="field selectize">
                <option value="2">PO1</option>
                <option value="3">PO2</option>
                <option value="4">PO4</option>
            </select>
        </div>
        <div class="mdl-border"></div>
        <h5>PO# - 2</h5>
        <div class="form-content">
			<table class=" col-xs-12 col-md-6 details">
				
				<tbody>

					<tr>
						<td class="col-xs-6 head">Order Date</td>
						<td class="">26/5/2017</td>
					</tr>
					
					<tr>
						<td class="col-xs-6 head">Vendor Name</td>
						<td>Some Name</td>
					</tr>
					<tr>
						<td class="col-xs-6 head">Stock</td>
						<td>20</td>
					</tr>
					<tr>
						<td class="col-xs-6 head">Vendor Address</td>
						<td>Company, Main Street</td>
					</tr>
					<tr>
						<td class="col-xs-6 head">Delivery Date</td>
						<td>25/12/2017</td>
					</tr>
					<tr>
						<td class="col-xs-6 head">Person Responsible</td>
						<td>hii!!!</td>
					</tr>
					<tr>
						<td class="col-xs-6 head">Delivery Address</td>
						<td>hii!!!</td>
					</tr>
					<tr>
						<td class="col-xs-6 head">Purchaser</td>
						<td>hii!!!</td>
					</tr>
				</tbody>
				
			</table>
		</div>
			<div class=" col-xs-12 col-md-6 details">

			</div>
        <div class="mdl-card__actions mdl-card--border login">
            <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--primary pull-right">
                Cancel
            </button>
        </div>
		


			
		
	</div>
</div>