

<div class="center-margin col-xs-12 col-md-6 ">
    <div class="table-card mdl-card  mdl-shadow--2dp col-xs-12">

        <div class="table-header">
            <h4>Stock
                <button class="mdl-button mdl-js-button mdl-button--icon pull-right">
                    <i class="material-icons">edit</i>
                </button>
            </h4>

            <select name="vendor_name" class="field selectize-filter">
                <option value="">Search</option>
            </select>
        </div>
        <h5>hii!!!</h5>
        <div class="form-content">
			<table class=" col-xs-12 col-md-6 details">
				
				<tbody>
					<tr>
						<td class="col-xs-6 head">Item Id</td>
						<td class="">hii!!!</td>
					</tr>
					
					<tr>
						<td class="col-xs-6 head">Vendor Name</td>
						<td>hii!!!</td>
					</tr>
					<tr>
						<td class="col-xs-6 head">Stock</td>
						<td>hii!!!</td>
					</tr>
					<tr>
						<td class="col-xs-6 head">Current Stock</td>
						<td>hii!!!</td>
					</tr>
					<tr>
						<td class="col-xs-6 head">Sell Rate</td>
						<td>hii!!!</td>
					</tr>
					<tr>
						<td class="col-xs-6 head">Profit%</td>
						<td>hii!!!</td>
					</tr>
					<tr>
						<td class="col-xs-6 head">Discount Rate</td>
						<td>hii!!!</td>
					</tr>
				</tbody>
				
			</table>
		</div>
			<div class=" col-xs-12 col-md-6 details">

			</div>
	</div>
</div>

