<style type="text/css">
    .pagination{
        margin:0 !important;
    }
    .selectize-input{
        background-image: none !important;
        background-color:#fff !important;
        border:1px solid #aaa !important; 
    }
</style>
<div class="center-margin col-xs-12  ">
    <div class="table-card mdl-card  mdl-shadow--2dp col-xs-12">

        <div class="table-header">
            <h4 style="margin-bottom: 15px;"><?=$text_title;?></h4>
            
            <div class="clearfix"></div>
                <div class="form-group col-xs-12 text-right">
                    <small>Results per page:</small> 
                    <select name="limit" id="filter-limit">
                        <option value="15" selected>15</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                    </select>
                </div>
                <div class="form-group col-xs-3">
                    <select name="vendor" id="filter-vendor" class="selectize" placeholder="Vendor">
                    </select>
                </div>
                <div class="form-group col-xs-3">
                    <select name="brand_name" id="filter-brand" class="selectize" placeholder="Brand Name">
                    </select>
                </div>
                <div class="form-group col-xs-3">
                    <select name="brand" id="filter-category" class="selectize" placeholder="Category">
                    </select>
                </div>

                <div class="form-group col-xs-3">
                    <select name="ref" id="filter-ref" class="selectize" placeholder="Reference">
                    </select>
                </div>
            <select name="vendor_name" multiple class="field selectize-filter-items hidden">
                <option value=""><?=$text_search;?></option>
            </select>
        </div>

        <table id="item-list" class="mdl-data-table mdl-js-data-table  md-table  col-xs-12">
            <thead>
            <tr id="table-head">
                <th class="mdl-data-table__header " id="sr">Sr. No</th>
                <th class="mdl-data-table__header " id="category"><?= $text_item_category; ?></th>
                <th class="mdl-data-table__header sortable no-sort" id="item_name"><?= $text_item_name; ?></th>
                <th class="mdl-data-table__header sortable no-sort">Ref#</th>
                <th class="mdl-data-table__header sortable no-sort" id="brand_name"><?= $text_brand_name; ?></th>
                <th class="mdl-data-table__header "><?= $text_item_area; ?></th>
                <th class="mdl-data-table__header"><?=$text_minimum_stock;?></th>
                <th class="mdl-data-table__header ">Action</th>
                <th class="mdl-data-table__header ">Details</th>
            </tr>
            </thead>
            <tbody id="items-body">
            </tbody>
        </table>

        <div class='tfoot hidden' style="padding: 20px 20px 10px;    background: #f5f5f5;    font-size: 12px;    font-weight: bold;">
            <span class="text-left">
                Showing <span class="limit_count"></span> of <span class="total_count"></span> results
            </span>
            <span class="paginate pull-right"></span>
        </div>


        <div id="row-template" hidden>
            <table>
                <tr>
                    <td class="mdl-data-table__cell--non-numeric _sr "></td>
                    <td class="mdl-data-table__cell--non-numeric _category "></td>
                    <td class="mdl-data-table__cell--non-numeric _item_name"></td>
                    <td class="mdl-data-table__cell--non-numeric _reference"></td>
                    <td class="mdl-data-table__cell--non-numeric _brand_name"></td>
                    <td class="mdl-data-table__cell--non-numeric _area "></td>
                    <td class="mdl-data-table__cell--non-numeric _quantity "></td>
                    <td class="mdl-data-table__cell--non-numeric _buttons">
                        <button type='button' class='open-attach-btn image mdl-button mdl-js-button mdl-button--icon mdl-button--colored'>
                            <i class="material-icons" data-toggle="tooltip" data-placement="bottom" title="Picture">collections</i>
                        </button>
                        <button type='button' class='open-attach-btn pdf mdl-button mdl-js-button mdl-button--icon mdl-button--accent'>
                            <i class='material-icons' data-toggle="tooltip" data-placement="bottom" title="Specs">picture_as_pdf</i>
                        </button>
                        
                    </td>
                    <td>
                        <button id="btn-ap-2" class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored" onclick="getDetails(this);">
                            <i class="material-icons" data-toggle="tooltip" data-placement="bottom" title="Details">info</i>
                        </button>
                        <div class="mdl-tooltip mdl-tooltip--large info" for="btn-ap-2">
                            Details</div>
                        <a id="editItem" class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored" href="?route=stock/editItem&item_id=">
                            <i class="material-icons" data-toggle="tooltip" data-placement="bottom" title="Details">edit</i>
                        </a>
                        <div class="mdl-tooltip mdl-tooltip--large info" for="editItem">
                            Edit Item</div>
                    </td>
                </tr>
            </table>
        </div>
        
    </div>
</div>

<div id="modal-view" hidden>
    <div class="view-title"><?=$text_item_detail;?></div>
    <div class="view-body">

        <div class="form-content">
            <div>
                <h4 class="pull-left mdl-button--primary"><small>Reference</small> <br> <span id="item_id_m"></span></h4>
                
            </div>
            <div class="clearfix"></div>
            <img id="item_image" src="">
            <a href="" id="item_reference"></a>

        </div>
    </div>
</div>


 <div id="modal-view2" hidden>
        <div class="view-title"><?=$text_item_details;?></div>
        
        <div class="view-body">

            <div class="form-content col-xs-12 col-sm-6 col-md-6">
                <div>
                       <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <th><?=$text_item_id;?></th>
                                    <td id="item_id"></td>
                                </tr>
                                <tr>
                                    <th><?=$text_category;?></th>
                                    <td id="item_category"></td>
                                </tr>
                                <tr>
                                    <th><?=$text_item_name;?></th>
                                    <td id="item_name_f"></td>
                                </tr>
                                <tr>
                                    <th><?=$text_brand_name;?></th>
                                    <td id="item_brand"></td>
                                </tr>
                                <tr>
                                    <th><?=$text_vendor_name;?></th>
                                    <td id="item_vendor"></td>
                                </tr>
                                <tr>
                                    <th ><?=$text_packing;?></th>
                                    <td id="item_packing"></td>
                                </tr>
                                <tr>
                                    <th><?=$text_item_mrp;?></th>
                                    <td id="item_mrp"></td>
                                </tr>
                                <tr>
                                    <th><?=$text_item_description;?></th>
                                    <td id="item_description"></td>
                                </tr>
                                <tr>
                                    <th ><?=$text_min_stock;?></th>
                                    <td id="item_min_stock"></td>
                                </tr>
                                <tr>
                                    <th><?=$text_max_stock;?></th>
                                    <td id="item_max_stock"></td>
                                </tr>
                                <tr>
                                    <th><?=$text_stock;?></th>
                                    <td id="item_current_stock_id"></td>
                                </tr>
                                

                            </tbody>

                        </table>
                        
                </div>
            </div>
            <div class="form-content col-xs-12 col-sm-6 col-md-6">
                <div>
                       <table class="table table-striped">
                            <tbody>
                                
                               
                                <tr>
                                    <th><?=$text_reference;?></th>
                                    <td id="item_reference_id"></td>
                                </tr>
                                <tr>
                                    <th><?=$text_buy_rate;?></th>
                                    <td id="item_purchase_rate"></td>
                                </tr>
                                <tr>
                                    <th><?=$text_sell_rate;?></th>
                                    <td id="item_sell_rate"></td>
                                </tr>
                                <tr>
                                    <th><?=$text_item_area;?></th>
                                    <td id="item_area"></td>
                                </tr>

                            </tbody>

                        </table>
                        
                </div>
            </div>

        </div>

</div>


<script>

    $("#modal-view2 td").addClass("text-right");
    function getDetails(e) {
        var id = $(e).parent().parent().attr("id");
        $.ajax({
            url : '?route=stock/getItemDetails&item_id='+id,
            type : 'GET',
            dataType : 'json',
            success: function(returnData){
                data = returnData.item_details;
                $("#modal-view > .view-title").html();
                $("#item_id").html("#"+data.item_id);
                $("#item_min_stock").html(data.min_stock);
                $("#item_max_stock").html(data.max_stock);
                $("#item_current_stock_id").html(data.current_stock);
                $("#item_vendor").html(data.company_name);
                $("#item_brand").html(data.brand_name);
                $("#item_packing").html(data.packing);
                $("#item_mrp").html(data.mrp);
                $("#item_reference_id").html(data.reference);
                $("#item_purchase_rate").html(data.purchase_rate+" &euro;");
                $("#item_sell_rate").html(data.minimum_sell_rate+" &euro;");
                $("#item_description").html(data.item_description);
                $("#item_name_f").html(data.item_name);
                $("#item_category").html(data.item_category);
                $("#item_area").html(data.area);
                
                MDialog.start({},"detail",this,$("#modal-view2"));
            }
        });
       
    }



    var vendorFilterList = [];
    var itemIdFilterList = [];
    var refFilter = [];
    var dateFilter = [];
    var categoryFilterList = [];
    var brandFilter = [];



    function loadVendorsSelectBox(multi=true){
        $.ajax({
            url: '?route=purchaseOrder/getVendorsList&all=1',
            type: 'GET',
            dataType: 'json',
            success: function (returnData) {
                data = returnData.vendors_list;
                for(var i = 0; i < data.length ; i++){
                        $("#filter-vendor").selectize()[0].selectize.addOption({id : data[i].vendor_id, label: (data[i].company_name)});
                }
                $("#filter-vendor").selectize()[0].selectize.refreshOptions(false);
            },
            error: function () {
                $(".mdl-progress").hide();
                showSnackbar("Can't load vendor list.");
            }
        });
    }
    function loadBrandNames(){
        vendor_id = 0;
        
        vendor_id = vendorFilterList[0];
        $("#filter-brand").selectize()[0].selectize.clearOptions();
        $.ajax({
            url: '?route=purchaseOrder/getBrandNames&all=1&vendor_id='+vendor_id,
            type: 'GET',
            dataType: 'json',
            success: function (returnData) {
                data = returnData.brand_list;
                for(var i = 0; i < data.length ; i++){
                        $("#filter-brand").selectize()[0].selectize.addOption({id : data[i].brand_name, label: (data[i].brand_name)});
                }
                $("#filter-brand").selectize()[0].selectize.refreshOptions(false);
            },
            error: function () {
                $(".mdl-progress").hide();
                showSnackbar("Can't load vendor list.");
            }
        });
    }
    function loadRefSelectBox(multi=true){
        vendor_id = 0;
        brand_name = "";
        category = 0;
        if(!multi){
            vendor_id = vendorFilterList[0];
            brand_name = brandFilter[0];

            if(categoryFilterList[0] != undefined)
                category = categoryFilterList[0];
        }
        $("#filter-ref").selectize()[0].selectize.clearOptions();
        $.ajax({
            url: '?route=purchaseOrder/getRefList&all=1&list=item&&vendor_id='+vendor_id+'&brand_name='+brand_name+'&category='+category,
            type: 'GET',
            dataType: 'json',
            success: function (returnData) {
                data = returnData.ref_list;
                for(var i = 0; i < data.length ; i++){
                    if(multi)
                        selctizedBoxInstanceItem.addOption({id : data[i].reference, type: "ref", label: ("#"+data[i].reference)});
                    else                        
                        $("#filter-ref").selectize()[0].selectize.addOption({id : data[i].reference, label: (data[i].reference)});
                }
                selctizedBoxInstanceItem.refreshOptions(false);
            },
            error: function () {
                $(".mdl-progress").hide();
                showSnackbar("Can't load ref list.");
            }
        });
    }


    function loadItemCategorySelectBox(multi=true){
        vendor_id = 0;
        brand_name = "";
        if(!multi){
            vendor_id = vendorFilterList[0];
            if(brandFilter[0] != undefined)
                brand_name = brandFilter[0];
        }
        $("#filter-category").selectize()[0].selectize.clearOptions();
        $.ajax({
            url: '?route=purchaseOrder/getCategoryList&all=1&vendor_id='+vendor_id+'&brand_name='+brand_name,
            type: 'GET',
            dataType: 'json',
            success: function (returnData) {
                data = returnData.category_list;
                for(var i = 0; i < data.length ; i++){
                    if(multi)
                        selctizedBoxInstanceItem.addOption({id : data[i].item_category, type: "category", label: (data[i].title)});
                    else
                        $("#filter-category").selectize()[0].selectize.addOption({id : data[i].item_category, label: (data[i].title)});

                }
                selctizedBoxInstanceItem.refreshOptions(false);
                $("#filter-category").selectize()[0].selectize.refreshOptions(false);
            },
            error: function () {
                $(".mdl-progress").hide();
                showSnackbar("Can't load vendor list.");
            }
        });
    }

    var tableheader = $("#table-head");

    function tableSort() {
        var th = $(this);
        if (th.hasClass("no-sort")) {
            console.log("NO");
            tableheader.children(".sortable").removeClass("mdl-data-table__header--sorted-ascending");
            tableheader.children(".sortable").removeClass("mdl-data-table__header--sorted-descending");
            tableheader.children(".sortable").addClass("mdl-data-table__header");
            tableheader.children(".sortable").addClass("no-sort");
            th.removeClass("no-sort");
            th.removeClass("mdl-data-table__header");
            th.addClass("mdl-data-table__header--sorted-ascending");
            loadItems();
            return;
        }

        if (th.hasClass("mdl-data-table__header--sorted-ascending")) {
            th.removeClass("mdl-data-table__header--sorted-ascending");
            th.addClass("mdl-data-table__header--sorted-descending");
            console.log("ASC");
            loadItems();
            return;
        }

        if (th.hasClass("mdl-data-table__header--sorted-descending")) {
            th.removeClass("mdl-data-table__header--sorted-descending");
            th.addClass("mdl-data-table__header");
            th.addClass("no-sort");
            console.log("DESC");
            loadItems();
        }

    }

var pageCount = 1;
    function loadItems() {
        $(".mdl-progress").show();
        filterLimit = $("#filter-limit").val();
        //filterResults();
        var postData = {
            all: 1,
            vendorList : vendorFilterList,
            dateFilter : dateFilter,
            categoryFilter: categoryFilterList,
            refList : refFilter,
            list: 'item', 
            limit : filterLimit, 
            page : pageCount,
            brand: brandFilter[0]
        };

        if (tableheader.children(".sortable.mdl-data-table__header--sorted-ascending").length > 0) {
            postData.sort = "ASC";
            postData.sortField = $(tableheader.children(".sortable.mdl-data-table__header--sorted-ascending")[0]).attr("id");
        }
        if (tableheader.children(".sortable.mdl-data-table__header--sorted-descending").length > 0) {
            postData.sort = "DESC";
            postData.sortField = $(tableheader.children(".sortable.mdl-data-table__header--sorted-descending")[0]).attr("id");
        }
        $.ajax({
            url: '?route=purchaseOrder/getItemsList&all=1',
            type: 'POST',
            data: postData,
            dataType: 'json',
            success: function (returnData) {
                data = returnData.itemList;
                $(".total_count").html(returnData.total_count);
                $(".limit_count").html(data.length);
                $(".paginate").html(returnData.pagination);
                $(".tfoot").removeClass("hidden");
                $("#items-body").html("");
                for (var i = 0; i < data.length; i++) {
                    var rowNode = $("#row-template > table > tbody > tr").clone(true);
                    // console.log(rowNode);
                    rowNode.attr("id", data[i].item_id);
                    sr = ((pageCount-1)*filterLimit)+i+1;
                    rowNode.children("._sr").html(sr);
                    rowNode.children("._reference").html(data[i].reference);
                    rowNode.children("._reference").html(data[i].reference);
                    rowNode.children("._item_name").html(data[i].item_name);
                    rowNode.children("._brand_name").html(data[i].brand_name);
                    rowNode.children("._category").html(data[i].item_category);
                    rowNode.children("._buttons").children("#btn-ap-2").attr("id", data[i].reference);
                    rowNode.children("._buttons").children(".info").attr("for", data[i].reference);
                    $("#editItem", rowNode).attr("href", $("#editItem", rowNode).attr("href")+data[i].item_id);
                    
                    if(parseInt(data[i].current_stock) < parseInt(data[i].min_stock)) 
                        rowNode.children("._quantity").html("<span class='label label-danger'>"+data[i].current_stock+'</span>');
                    else if(parseInt(data[i].current_stock) > parseInt(data[i].max_stock))
                        rowNode.children("._quantity").html("<span class='label label-warning'>"+data[i].current_stock+'</span>');
                    else
                        rowNode.children("._quantity").html("<span class='label label-success'>"+data[i].current_stock+'</span>');
                    rowNode.children("._area").html(data[i].area);
                    //rowNode.children("._quantity").children("input").val();
                    if (data[i].item_pdf == 0) rowNode.children("._buttons").children(".pdf").hide();
                    if (data[i].image == 0) rowNode.children("._buttons").children(".image").hide();

                    $("#items-body").append(rowNode);

                }
                $(".mdl-progress").hide();
                showSnackbar("Data loaded.");
            },
            error: function () {
                $(".mdl-progress").hide();
                showSnackbar("Can't complete your request.");
            }
        });
    }
    function openAttachment() {
        var id = $(this).parent().parent().attr("id");
        var button = $(this);
        $.ajax({
            url : '?route=stock/getItemDetails&item_id='+id,
            type : 'GET',
            dataType : 'json',
            success: function(returnData){
                data = returnData.item_details;
                if(button.hasClass("pdf")){
                    if(data.item_pdf == 0){
                        showSnackbar("No image uploaded");
                    }else{

                        window.open(data.item_pdf, '_blank');
                    }
                }

                if(button.hasClass("image")){
                    if(data.image == 0){
                        showSnackbar("No image uploaded");
                    }else{

                        $("#modal-view > .view-title").html();
                        $("#item_id_m").html(data.reference);
                        $("#item_image").attr("src",data.image);
                        //$("#item_reference").attr("href",data.reference);
                        MDialog.start({},"table",this,$("#modal-view"));
                    }
                }


                
            }
        });
    };

    $(".open-btn").click(openAttachment);




    $(".approve-button").click(function () {
        showSnackbar("Changes Approved");
        //this.
    });
    $(".disapprove-button").click(function () {
        showSnackbar("Changes Disapproved");
        //this.
    });


    $(".alert-button").click(function () {
        MDialog.start({},"detail",this,$("#modal-view2"));
    });

    $("#filter-vendor").change(function(){
        val = $(this).val();
        vendorFilterList = [];
        if(val != 0)
            vendorFilterList.push(val);
        loadBrandNames();
        loadItemCategorySelectBox(false);
        loadItems();
    });
    $("#filter-category").change(function(){
        val = $(this).val();
        categoryFilterList = [];
        if(val != 0)
            categoryFilterList.push(val);
        loadRefSelectBox(false);
        loadItems();
    });
    $("#filter-ref").change(function(){
        val = $(this).val();
        refFilter = [];
        if(val != 0)
            refFilter.push(val);
        loadItems();
    });
    $("#filter-brand").change(function(){
        val = $(this).val();
        brandFilter = [];
        if(val != 0)
            brandFilter.push(val);
        loadItemCategorySelectBox(false);
        loadRefSelectBox(false);
        loadItems();
    });
    $("#filter-limit").change(function(){
        pageCount=1;
        loadItems();
    });
    $(document).on("click", ".pagination li a", function(e){
        e.preventDefault();
        found = false;
        url = $(this).attr("href");
        splinters = url.split("&");
        $.each(splinters, function(key, val){
            vals = val.split("=");
            if(vals[0] == "page") {
                found = true;
                pageCount = vals[1];
            }
        });
        if(!found) pageCount = 1;
        loadItems();
    });

    $(document).ready(function () {
        $("#refresh-data-btn").click(loadItems);
        tableheader.children(".sortable").click(tableSort);
        // initItemFilterSelectBox();
        loadVendorsSelectBox();
        // loadItemCategorySelectBox();
        // loadAreaSelectBox();
        // loadRefSelectBox();
        loadItems();
        $("#modal-view2 td").css("color", "#2196F3");
        $("#modal-view2 td").css("font-weight", "bold");
        $(".open-attach-btn").click(openAttachment);
        // $("#filter-box").change(filterResults);

        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
