<style type="text/css">
    .pagination{
        margin:0 !important;
    }
    .selectize-input{
        background-image: none !important;
        background-color:#fff !important;
        border:1px solid #aaa !important;
    }
</style>
<div class="center-margin col-xs-12">
    <div class="table-card mdl-card  mdl-shadow--2dp col-xs-12">

        <div class="table-header no-print">
            <h4 style="margin-bottom: 15px;"><?=$text_view_po_title;?>

            </h4>


                <div class="form-group col-xs-6">
                    View:
                    <select id="order_type">
                        <option value="0">Pending Orders</option>
                        <option value="1">Completed Orders</option>
                        <option value="2">Cancelled Orders</option>
                    </select>
                </div>
                <div class="form-group col-xs-6 text-right">
                    <small>Results per page:</small>
                    <select name="limit" id="filter-limit">
                        <option value="15" selected>15</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                    </select>
                </div>
            <div class="form-group col-xs-3">
                <select name="vendor" id="filter-vendor" class="selectize" placeholder="Vendor">
                </select>
            </div>
            <div class="form-group col-xs-3">
                <select name="brand_name" id="filter-brand" class="selectize" placeholder="Brand Name">
                </select>
            </div>
            <div class="form-group col-xs-3">
                <select name="brand" id="filter-category" class="selectize" placeholder="Category">
                </select>
            </div>

            <div class="form-group col-xs-3">
                <select name="ref" id="filter-ref" class="selectize" placeholder="Reference">
                </select>
            </div>
            <select name="vendor_name" multiple class="field selectize-filter-items hidden">
                <option value=""><?=$text_search;?></option>
            </select>
        </div>

    <div id="t_wrap">
        <table class="mdl-data-table mdl-js-data-table  md-table col-xs-12 expandable">
            <thead>
                <tr>
                    <th class="mdl-data-table__cell--non-numeric"><?=$text_order_id;?></th>
                    <th class="mdl-data-table__cell--non-numeric"><?=$text_order_date;?></th>
                    <th class="mdl-data-table__cell--non-numeric"><?=$text_vendor_name;?></th>
                    <th class="mdl-data-table__cell--non-numeric"><?=$text_delivery_address;?></th>
                    <th class="mdl-data-table__cell--non-numeric"><?=$text_total_amount;?> (HT)</th>
                     <th class="mdl-data-table__cell--non-numeric"><?=$text_action;?></th>
<!--                    <th class="mdl-data-table__cell--non-numeric">--><?//=$text_raised_by;?><!--</th>-->


                </tr>
            </thead>
                <tbody id="order-body">
                </tbody>
            <?php if($pagination !== ""): ?>
            <!-- <tfoot>
                <tr>
                    <td colspan="6"><?php echo $pagination; ?></td>
                </tr>
            </tfoot> -->
            <?php endif; ?>

        </table>
    </div>
    </div>
    <div id="order_template" hidden>
        <table>
                <tbody>
                    <tr class="parent-row" id="">
                        <td class="mdl-data-table__cell--non-numeric _order_id"></td>
                        <td class="mdl-data-table__cell--non-numeric _order_date"></td>
                        <td class="mdl-data-table__cell--non-numeric _vendor_name"></td>
                        <td class="mdl-data-table__cell--non-numeric _delivery_address"></td>
                        <td class="mdl-data-table__cell--non-numeric _total_amount">&euro; </td>
                        <td class="mdl-data-table__cell--non-numeric clickable">
                            <button id="btn-ap-2" class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored" onclick="getDetails(this);">
                                <i class="material-icons">info</i>
                            </button>
                            <div class="mdl-tooltip mdl-tooltip--large" for="btn-ap-2"><?=$text_details;?></div>
                            <!-- <button id="addD" class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored addD-button"  onclick="addDiscount(this);">
                                <i class="material-icons">add</i>
                            </button>
                            <div class="mdl-tooltip mdl-tooltip--large" for="addD">Add Discount</div> -->

                            <button id="btn-dap-2" class="mdl-button mdl-js-button mdl-button--icon mdl-button--accent delete-button" onclick="confirmDeletion(this);">
                                <i class="material-icons">delete</i>
                            </button>
                            <div class="mdl-tooltip mdl-tooltip--large" for="btn-dap-2"><?=$text_cancel;?></div>
                        </td>

                    </tr>
                </tbody>
        </table>
    </div>

    <div id="modal-view" hidden>
        <div class="view-title no-print">
            <?=$text_purchase_details;?>
        </div>
        <div class="view-body">

            <div class="form-content">
               <div>

                    <div class="text-right">
                        <button id="show-bol" class="btn btn-default btn-xs" onclick="$('.bol_details').removeAttr('hidden');">
                            Show BOL Details
                        </button>
                        <button id="print-btn" class="mdl-button mdl-js-button mdl-button--icon mdlbutton--colored edit-button" onclick="window.print()">
                            <i class="material-icons">print</i>
                        </button>
                        <div class="mdl-tooltip mdl-tooltip--large" for="print-btn">Print</div>

                        <button id="discount" class="mdl-button mdl-js-button mdl-button--icon mdlbutton--colored" data-order=""  onclick="addDiscount(this,1);">
                            <i class="material-icons">add</i>
                        </button>
                        <div class="mdl-tooltip mdl-tooltip--large" for="discount">Add Discount</div>

                        <button id="cancel-order" class="mdl-button mdl-js-button mdl-button--icon mdlbutton--colored edit-button" data-order="" onclick="confirmDeletion(this, 1);">
                            <i class="material-icons text-danger">delete</i>
                        </button>
                        <div class="mdl-tooltip mdl-tooltip--large" for="cancel-order">Cancel Order</div>
                    </div>

                    <table class="order_details table-striped col-xs-12 col-sm-6">
                            <tr>
                                <td><?php echo $text_order_id; ?>:</td>
                                <td id="order_id_m">#</td>
                            </tr>
                            <tr>
                                <td><?=$text_order_date;?>:</td>
                                <td id="order_date_m"></td>
                            </tr>
                            <tr>
                                <td><?=$text_delivery_date;?>:</td>
                                <td id="delivery_date_m"></td>
                            </tr>
                            <tr>
                                <td><?=$text_vendor_name;?>:</td>
                                <td id="company_name_m"></td>
                            </tr>
                            <tr>
                                <td><?=$text_delivery_address;?>:</td>
                                <td id="vendor_address_m"></td>
                            </tr>
                    </table>
                    <table class="order_details  table-striped col-xs-12 col-sm-6">
                            <tr>
                                <td>Person Responsible:</td>
                                <td id="person_responsible_m">***</td>
                            </tr>
                            <tr>
                                <td>Payment Mode:</td>
                                <td id="payment_mode_m"></td>
                            </tr>
                            <tr>
                                <td>HT:</td>
                                <td><span id="htt_m" class="text-success"> &euro;</span></td>
                            </tr>
                            <tr>
                                <td>TVA:</td>
                                <td><span id="tva_m" class="text-danger">%</span></td>
                            </tr>
                            <tr>
                                <td> <?=$text_grand_total;?>:</td>
                                <td class="text-danger"><span id="ttc_m" class="text-danger"> &euro;</span></td>
                            </tr>

                    </table>


            </div>

            <div class="clearfix"></div>
            <hr>
            <table class="mdl-data-table mdl-js-data-table  md-table col-xs-12 ">
                <thead>
                    <tr>
                        <th class="mdl-data-table__cell--non-numeric"><?=$text_item_name;?></th>
                        <th class="mdl-data-table__cell--non-numeric"><?=$text_brand_name;?></th>
                        <th class="mdl-data-table__cell--non-numeric"><?=$text_reference;?></th>
                        <th class="mdl-data-table__cell--non-numeric"><?=$text_buy_rate;?></th>
                        <th class="mdl-data-table__cell--non-numeric"><?=$text_packing;?></th>
                        <th class="mdl-data-table__cell--non-numeric"><?=$text_quantity;?></th>
                        <th class="mdl-data-table__cell--non-numeric"><?=$text_total;?></th>
                        <!-- <th class="mdl-data-table__cell--non-numeric"><?=$text_action;?></th> -->
                        <th class="mdl-data-table__cell--non-numeric discount_head" style="display: none;">Discount @<sup class="text-danger">*</sup></th>

                    </tr>
                </thead>
                <tbody id="order_items">
                </tbody>
            </table>
            <div class="clearfix"></div>
            <hr>
            <table class="mdl-data-table mdl-js-data-table  md-table col-xs-12 bol_details animated bounceInDown" hidden>
                <thead>
                    <tr>
                        <th class="mdl-data-table__cell--non-numeric">BOL Number</th>
                        <th class="mdl-data-table__cell--non-numeric">BOL Date</th>
                        <th class="mdl-data-table__cell--non-numeric"><?=$text_reference;?></th>
                        <th class="mdl-data-table__cell--non-numeric"><?=$text_quantity;?></th>
                    </tr>
                </thead>
                <tbody id="bol_details">
                </tbody>
            </table>
        </div>
    </div>

</div>

<div id="modal-view-addD" hidden>
        <div class="view-title no-print">
            <?=$text_purchase_details;?>
        </div>
        <div class="view-body">

            <div class="form-content">
               <div>

                        <button id="back-to-view" class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored pull-right" onclick="MDialog.start({}, 'details', this, $('#modal-view'));">
                            <i class="material-icons">info</i>
                        </button>
                        <div class="clearfix"></div>
                        <div class="mdl-tooltip mdl-tooltip--large" for="back-to-view">Back to details</div>
                <form method="post" action="?route=purchaseOrder/addDiscount" enctype="multipart/form-data">
                    <table class="order_details table-striped col-xs-12 col-sm-6">
                            <tr>
                                <td><?php echo $text_order_id; ?>:</td>
                                <td id="order_id_m">#</td>
                            </tr>
                            <tr>
                                <td><?=$text_order_date;?>:</td>
                                <td id="order_date_m"></td>
                            </tr>
                            <tr>
                                <td><?=$text_delivery_date;?>:</td>
                                <td id="delivery_date_m"></td>
                            </tr>
                            <tr>
                                <td><?=$text_vendor_name;?>:</td>
                                <td id="company_name_m"></td>
                            </tr>
                            <tr>
                                <td><?=$text_delivery_address;?>:</td>
                                <td id="vendor_address_m"></td>
                            </tr>
                    </table>
                    <table class="order_details  table-striped col-xs-12 col-sm-6">
                            <tr>
                                <td>HT:</td>
                                <td><span id="htt_m" class="text-success"> &euro;</span></td>
                            </tr>
                            <tr>
                                <td>TVA:</td>
                                <td><span id="tva_m" class="text-danger">%</span></td>
                            </tr>
                            <tr>
                                <td> <?=$text_grand_total;?>:</td>
                                <td class="text-danger"><span id="ttc_m" class="text-danger"> &euro;</span></td>
                            </tr>
                            <tr>
                                <td>Discount Type<sup class="text-danger">*</sup>:</td>
                                <td id="discount_type">
                                        <select name="discount_type">
                                            <option value="0" selected>Percentage</option>
                                            <option value="1">Rate</option>
                                        </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Discount On<sup class="text-danger">*</sup>:</td>
                                <td id="discount_on">
                                    <select name="discount_on">
                                        <option value="0">HT</option>
                                        <option value="1">Item</option>
                                    </select>
                                </td>
                            </tr>
                            <tr id="discount_amount_wrap">
                                <td>Discount @<sup class="text-danger">*</sup>:</td>
                                <td id="discount_amount"><input type="text" name="discount_amount"></td>
                            </tr>

                    </table>
                    <div class="clearfix"></div>
            <hr>

            <table class="mdl-data-table mdl-js-data-table  md-table col-xs-12 ">
                <thead>
                    <tr>
                        <th class="mdl-data-table__cell--non-numeric"><?=$text_item_name;?></th>
                        <th class="mdl-data-table__cell--non-numeric"><?=$text_brand_name;?></th>
                        <th class="mdl-data-table__cell--non-numeric"><?=$text_reference;?></th>
                        <th class="mdl-data-table__cell--non-numeric"><?=$text_buy_rate;?></th>
                        <th class="mdl-data-table__cell--non-numeric"><?=$text_packing;?></th>
                        <th class="mdl-data-table__cell--non-numeric"><?=$text_quantity;?></th>
                        <th class="mdl-data-table__cell--non-numeric"><?=$text_total;?></th>
                        <th class="mdl-data-table__cell--non-numeric discount_head" style="display: none;">Discount @<sup class="text-danger">*</sup></th>
                        <!-- <th class="mdl-data-table__cell--non-numeric"><?=$text_action;?></th> -->

                    </tr>
                </thead>
                <tbody id="order_items_addDis">
                </tbody>
                <tr>
                    <td colspan="8" class="text-center">
                        <div class="pull-left" style="padding: 5px;">
                            Attachment<sup class="text-danger">*</sup> : <input type="file" name="attachment" style="display:inline">
                        </div>
                        <button type="submit" class="mdl-button mdl-shadow--2dp mdl-js-button mdl-button--primary mdl-button--raised " id="addDiscountButton">Add Discount</button>
                    </td>
                </tr>
            </table>
         </form>
            </div>
        </div>
    </div>
</div>

<div  hidden>

    <table>
        <tbody id="items-template">
            <tr>
                <td class="mdl-data-table__cell--non-numeric item_name_m"></td>
                <td class="mdl-data-table__cell--non-numeric brand_name_m"></td>
                <td class="mdl-data-table__cell--non-numeric reference_m"></td>
                <td class="mdl-data-table__cell--non-numeric buy_rate_m">&euro;</td>
                <td class="mdl-data-table__cell--non-numeric packing_m"></td>
                <td class="mdl-data-table__cell--non-numeric quantity_m"></td>
                <td class="mdl-data-table__cell--non-numeric item_total_m"></td>
            </tr>
        </tbody>
    </table>
    <table>
        <tbody id="bol-template">
            <tr>
                <td class="mdl-data-table__cell--non-numeric bol_number_m"></td>
                <td class="mdl-data-table__cell--non-numeric bol_date_m"></td>
                <td class="mdl-data-table__cell--non-numeric bol_reference_m"></td>
                <td class="mdl-data-table__cell--non-numeric bol_quantity_m"></td>
            </tr>
        </tbody>
    </table>
</div>

<script>

$("#addDiscountButton").click(function(e){
    e.preventDefault();
    _error = false;
    form = $(this).closest("form");
    formData = form.serialize();
    accepted = ['jpg','png','pdf'];
    $("mdl-progress").show();
    if($("select[name='discount_on']").val() == 1){
        item_disc_val = $('.discount_col input');
        for(i=0; i<item_disc_val.length;i++){
            console.log($(item_disc_val[i]).val());
            if($(item_disc_val[i]).val() == "" || $(item_disc_val[i]).val() < 1) _error = true;
            else _error = false;
            break;
        }
        if(_error) {
            alert("Enter discount amount for atleast 1 item.");
            item_disc_val.parent().css("background-color", "#A94442");
        }
    }else{
        discount_val = $("input[name='discount_amount']");
        if(discount_val.val() == "" || discount_val.val() < 1 ){
            discount_val.parent().css("background-color", "#A94442");
            alert("Enter Discount amount");
            _error = true;
        }
    }
    if($('input[name="attachment"]').val() == ""){
        alert("Please add an attachment");
        $('input[name="attachment"]').parent().css("background-color", "#A94442");
        _error = true;
    }else{
        attachment = $('input[name="attachment"]').val();
        ext = attachment.split(".");
        ex_len = ext.length;
        if($.inArray(ext[ex_len-1], accepted) < 0){
            alert("Invalid attachment, please add a valid file.");
            $('input[name="attachment"]').parent().css("background-color", "#A94442");
            _error = true;
        }
    }
    if(!_error) form.submit();
});
    function confirmDeletion(e, id=0) {
        $("#modalConfirm .modal-title").html("Confirm Cancellation");
        if(id==0)
            id = $(e).parent().parent().attr("id");
        else
            id = $(e).attr("data-order");
        $("#modalConfirm .modal-body p").html("Are you sure you want to cancel the order # "+id+"?");
         $("#modalConfirm").modal("show");
         $(".btn-danger").click(function(){
            $.ajax({

                url : '?route=purchaseOrder/cancelOrder&order_id='+id,
                type : 'GET',
                dataType : 'text',
                beforeSend: function(){$(".mdl-progress").show();},
                complete: function(){$(".mdl-progress").hide();},
                success: function(){
                    loadItems();
                    showSnackbar("Order has been Cancelled");
                }
            })
         });
        //this.
    };
    function addDiscount(e, id=0) {
        $("#modal-view-addD .view-title").html("Add Discount");
        if(id==0)
            id = $(e).parent().parent().attr("id");
        else
            id = $(e).attr("data-order");

        $("#modal-view-addD #order_id_m").html("#"+id);
        $.ajax({
        url : '?route=purchaseOrder/getOrderDetails&order_id='+id,
        type : 'GET',
        dataType : 'json',
        success: function(returnData){
            data = returnData.order_details;
            itemList = returnData.item_details;
            deliveries = returnData.delivery_address;
            $("#modal-view-addD #ttc_m").html(data.ttc+"&euro;");
            $("#modal-view-addD #tva_m").html(data.tva+"%");
            $("#modal-view-addD #htt_m").html(data.htt+"&euro;");
            $("#modal-view-addD #order_id_m").html("#"+data.order_id);
            $("#modal-view-addD #cancel-order").attr("data-order", data.order_id);
            $("#modal-view-addD #discount").attr("data-order", data.order_id);
            $("#modal-view-addD #order_date_m").html(data.order_date);
            $("#modal-view-addD #company_name_m").html(data.company_name);

            d_a = deliveries[data.delivery_address]['address']+", "+deliveries[data.delivery_address]['city']+", "+deliveries[data.delivery_address]['postal'];

            $("#modal-view-addD #vendor_address_m").html(d_a + "<small class='text-success'>( " + returnData.delivery_address[data.delivery_address]['name']+" )</small>");
            $("#modal-view-addD #delivery_date_m").html(data.expected_date);

            $("#order_items_addDis").html("<input type='hidden' name='order_id' value='"+id+"'>");

            for(var i = 0; i < itemList.length; i++){
                purchaseprice = itemList[i].rate;
                var node = $("#items-template").children().clone();
                node.children(".item_name_m").html(itemList[i].item_name);
                node.children(".brand_name_m").html(itemList[i].brand_name);
                node.children(".reference_m").html(itemList[i].reference);
                node.children(".buy_rate_m").prepend(purchaseprice + " ");
                node.children(".packing_m").html(itemList[i].packing);
                node.children(".quantity_m").html(itemList[i].quantity);
                node.children(".item_total_m").html(itemList[i].quantity*purchaseprice + " &euro;");
                node.append("<td style='text-align:center !important; display:none;' class='discount_col'><input type='text' size='4' name='item_discount["+itemList[i].item_id+"]' class='text-center'></td>");
                $("#order_items_addDis").append(node);
            }
        MDialog.start({},"detail",this,$("#modal-view-addD"));
        }
    });


    }
    var order_id_flag;
   function getDetails(e) {
    var id = $(e).parent().parent().attr("id");
    order_id_flag = id;
    $.ajax({
        url : '?route=purchaseOrder/getOrderDetails&order_id='+id,
        type : 'GET',
        dataType : 'json',
        success: function(returnData){
            data = returnData.order_details;
            itemList = returnData.item_details;
            discount = returnData.discount;
            bol = returnData.bol_details;
            deliveries = returnData.delivery_address;

            if(bol.length){
                $('#show-bol').removeAttr('hidden');
            }
            else {
                $('.bol_details').attr('hidden', 'hidden');
                $('#show-bol').attr('hidden', 'hidden');
            }
            $("#modal-view > .view-title").html();
            $("#ttc_m").html(data.ttc+"&euro;");
            $("#tva_m").html(data.tva+"%");
            $("#htt_m").html(data.htt+"&euro;");
            $("#order_id_m").html("#"+data.order_id);
            $("#cancel-order").attr("data-order", data.order_id);
            $("#discount").attr("data-order", data.order_id);
            $("#order_date_m").html(data.order_date);
            $("#company_name_m").html(data.company_name);
             if(data.delivery_address == 0 && data.delivery_other != ""){
                        $("#vendor_address_m").html(data.delivery_other);
                    }
            else{
                d_a = deliveries[data.delivery_address]['address']+", "+deliveries[data.delivery_address]['city']+", "+deliveries[data.delivery_address]['postal'];
                $("#vendor_address_m").html(d_a + "<small class='text-success'>( " + deliveries[data.delivery_address]['name']+" )</small>");
            }
            $("#delivery_date_m").html(data.expected_date);
            $("#person_responsible_m").html(data.person_responsible);
            $("#payment_mode_m").html(returnData.payment_mode[data.payment_mode]);
            $("#order_items").html("");
            $("#bol_details").html("");
            //discount added
            if(discount.length > 0){
                var discount_item = [];
                var discount_item_type = [];
                var discount_item_amount = [];
                $("#discount").attr("disabled", "disabled");
                discount_document = discount[0]['attachment'];
                if(discount.length > 1){
                    for(i=0;i<discount.length;i++){
                        if(discount[i].discount_on == 0){
                            alert("Invalid discounts added, please have it fixed.");
                            return;
                        }
                        else if(discount[i].discount_on == 1){

                                discount_item.push(discount[i].item_id);
                                discount_item_type.push(discount[i].discount_type);
                                discount_item_amount.push(discount[i].discount_amount);
                        }

                    }
                }else{
                    var discount = discount[0];

                    //discount type - percentage = 0
                    //                rate = 1
                    //discount on   -  ht = 0
                    //              -  item = 1

                    if(discount.discount_type == 0){
                        //percentage

                        var discount_ht = "";

                        if(discount.discount_on == 0){
                            //ht
                            discount_ht = (data.htt*discount.discount_amount)/100;
                            data.htt = data.htt-discount_ht;
                            data.ttc = data.htt + ((data.htt*data.tva)/100);
                        }
                        else if(discount.discount_on == 1){
                            //item
                            discount_item.push(discount.item_id);
                            discount_item_type.push(0);
                            discount_item_amount.push(discount.discount_amount);
                        }
                        discount_ht = "<b class='text-success'>"+discount_ht + "&euro; ( " +discount.discount_amount+"% )</b>";
                    }
                    else if(discount.discount_type == 1){
                        //rate

                        if(discount.discount_on == 0){
                            //ht
                            discount_ht = discount.discount_amount;
                            data.htt = data.htt-discount_ht;
                            data.ttc = data.htt + ((data.htt*data.tva)/100);

                             $("#ttc_m").html(data.ttc.toFixed(2)+"&euro;");
                        }
                        else if(discount.discount_on == 1){
                            //item
                            discount_item.push(discount.item_id);
                            discount_item_type.push(1);
                            discount_item_amount.push(discount.discount_amount);
                        }
                        discount_ht = "<b class='text-success'>"+discount_ht + "&euro;</b>";
                    }

                }

                parentNode = $("#ttc_m").parent().parent().parent();
                node = $("#ttc_m").parent().parent();
                $(".discount_added").remove();
                parentNode.append("<tr class='discount_added'><td>Discount: </td><td><span class='discount_ht'>"+discount_ht+"</span> <a href='../resources/"+JSON.parse(discount_document)[0]+"' class='pull-right' target='_BLANK'>View Document</a></td></tr>");
                parentNode.append(node.clone());
                node.remove();
            }
            else{
                $("#discount").removeAttr("disabled");
                $(".discount_added").remove();
            }


            var total_discount = 0;

            for(var i = 0; i < bol.length; i++){
                var node = $("#bol-template").children().clone();
                node.children(".bol_number_m").html(bol[i].bol_number);
                node.children(".bol_date_m").html(bol[i].date_of_receipt);
                node.children(".bol_quantity_m").html(bol[i].quantity);
                node.children(".bol_reference_m").html(bol[i].reference);

                $("#bol_details").append(node);
            }
            for(var i = 0; i < itemList.length; i++){
                purchaseprice = itemList[i].rate;
                var node = $("#items-template").children().clone();
                node.attr("id", itemList[i].item_id);
                node.children(".item_name_m").html(itemList[i].item_name);
                node.children(".brand_name_m").html(itemList[i].brand_name);
                node.children(".reference_m").html(itemList[i].reference);
                node.children(".buy_rate_m").prepend(purchaseprice + " ");
                node.children(".packing_m").html(itemList[i].packing);
                node.children(".quantity_m").html(itemList[i].quantity);
                node.children(".quantity_m").click(changeQuantity);
                node.children(".item_total_m").html(itemList[i].quantity*purchaseprice + " &euro;");
                if(typeof discount_item !== 'undefined' && discount_item.indexOf(itemList[i].item_id) >= 0){

                    if(discount_item != "" && discount_item_type[discount_item.indexOf(itemList[i].item_id)] == 0){
                            //percentage based

                            //calculate new product price based on discount amount
                            new_rate = purchaseprice*discount_item_amount[discount_item.indexOf(itemList[i].item_id)];

                            new_rate = new_rate/100;

                            // Calculate new HT after deducting discount amount
                            data.htt = data.htt - new_rate;

                            //save total discount amount on each item for total discout price
                            total_discount = total_discount + parseFloat(new_rate);

                            //Add column to item view
                             node.append("<td style='text-align:center !important;' class='discount_col'>"+new_rate +"&euro; <small>( "+discount_item_amount[discount_item.indexOf(itemList[i].item_id)]+"% )</small></td>");

                    }else if(discount_item != "" && discount_item_type[discount_item.indexOf(itemList[i].item_id)] == 1){
                        //amount based

                        total_discount = total_discount + parseFloat(discount_item_amount[discount_item.indexOf(itemList[i].item_id)]);


                        data.htt = data.htt -  discount_item_amount[discount_item.indexOf(itemList[i].item_id)];

                        node.append("<td style='text-align:center !important;' class='discount_col'>"+discount_item_amount[discount_item.indexOf(itemList[i].item_id)]+"&euro;</td>");
                    }

                    discount_ht = total_discount + "&euro;";
                    data.ttc = data.htt + ((data.htt*data.tva)/100);
                    $("#ttc_m").html(data.ttc.toFixed(2)+"&euro;");
                    $(".discount_ht").html(discount_ht);
                    $(".discount_head").show();

                }
                if(total_discount == 0)
                    $(".discount_head").hide();
                $("#order_items").append(node);
            }

            MDialog.start({},"detail",this,$("#modal-view"));
        }
    });

}



    var selectBoxItem;
    var selctizedBoxInstanceItem;

    var orderItemsFilter = [];

    function initItemFilterSelectBox() {
        selectBoxItem = $(".selectize-filter-items").selectize({
            onItemAdd: itemAddListener,
            onItemRemove: itemRemoveListener,
            options: [
                {id: 'time_1', type: 'date', label: 'Last day'},
                {id: 'time_2', type: 'date', label: 'Last one week'},
                {id: 'time_3', type: 'date', label: 'Last Two week'},
                {id: 'time_4', type: 'date', label: 'Last Month'},
            ],
            optgroups: [
                {id: 'vendor', name: 'Vendor'},
                {id: 'date', name: 'By Added on'},
                {id: 'ref', name: 'Ref#'}
            ],
            labelField: 'label',
            valueField: 'id',
            optgroupField: 'type',
            optgroupLabelField: 'name',
            optgroupValueField: 'id',
            optgroupOrder: ['vendor', 'date', 'ref'],
            searchField: ['label'],
            plugins: ['optgroup_columns', 'remove_button'],
            maxItems:4,
            maxOptions : 10

        });
        if (selectBoxItem.length != 0) selctizedBoxInstanceItem = selectBoxItem[0].selectize;
    }
    var lastDateItemId = "";
    function itemAddListener(value, item){
        var item = $(item);
        var id = selctizedBoxInstanceItem.options[value].id;
        var type = selctizedBoxInstanceItem.options[value].type;
        var label = selctizedBoxInstanceItem.options[value].label;
        if(type == "date"){
            item.css("background-color","#1565c0");
            if(lastDateItemId != "")selctizedBoxInstanceItem.removeItem(lastDateItemId, false);
            lastDateItemId = id;
            loadItemsSelectBox();
        }
        if(type == "vendor"){
            loadItemsSelectBox();
            item.css("background-color","#00695c");
        }
        // if(type == "item")item.css("background-color","#2e7d32");

        if(type == "ref"){
            item.css("background-color","#0277bd");
            loadItemsSelectBox();
        }

        loadItems();

    }
    function itemRemoveListener(value){
        var type = selctizedBoxInstanceItem.options[value].type;
        loadItemsSelectBox();
        loadItems();
    }

    function loadItemsSelectBox(){
        filterResults();
        if(vendorFilterList.length == 0 && dateFilter.length == 0) {
            clearItemOptions();
            return;
        }
        $(".mdl-progress").show();
        var postData = {
            all: 1,
            vendorList : vendorFilterList,
            dateFilter : dateFilter,
            refFilterList: refFilterList,
            list:'item'
        };


    }




    var vendorFilterList = [];
    var itemIdFilterList = [];
    var refFilterList = [];
    var dateFilter = [];
    var categoryFilterList = [];
    var brandFilter = [];



    function loadVendorsSelectBox(multi=true){
        $.ajax({
            url: '?route=purchaseOrder/getVendorsList&all=1',
            type: 'GET',
            dataType: 'json',
            success: function (returnData) {
                data = returnData.vendors_list;
                for(var i = 0; i < data.length ; i++){
                        $("#filter-vendor").selectize()[0].selectize.addOption({id : data[i].vendor_id, label: (data[i].company_name)});
                }
                $("#filter-vendor").selectize()[0].selectize.refreshOptions(false);
            },
            error: function () {
                $(".mdl-progress").hide();
                showSnackbar("Can't load vendor list.");
            }
        });
    }
    function loadBrandNames(){
        vendor_id = 0;

        vendor_id = vendorFilterList[0];
        $("#filter-brand").selectize()[0].selectize.clearOptions();
        $.ajax({
            url: '?route=purchaseOrder/getBrandNames&all=1&vendor_id='+vendor_id,
            type: 'GET',
            dataType: 'json',
            success: function (returnData) {
                data = returnData.brand_list;
                for(var i = 0; i < data.length ; i++){
                        $("#filter-brand").selectize()[0].selectize.addOption({id : data[i].brand_name, label: (data[i].brand_name)});
                }
                $("#filter-brand").selectize()[0].selectize.refreshOptions(false);
            },
            error: function () {
                $(".mdl-progress").hide();
                showSnackbar("Can't load vendor list.");
            }
        });
    }
    function loadRefSelectBox(multi=true){
        vendor_id = 0;
        brand_name = "";
        category = 0;
        ot = $("#order_type").val();
        if(!multi){
            vendor_id = vendorFilterList[0];
            brand_name = brandFilter[0];

            if(categoryFilterList[0] != undefined)
                category = categoryFilterList[0];
        }
        $("#filter-ref").selectize()[0].selectize.clearOptions();
        $.ajax({
            url: '?route=purchaseOrder/getRefList&all=1&vendor_id='+vendor_id+'&brand_name='+brand_name+'&category='+category+'&ot='+ot,
            type: 'GET',
            dataType: 'json',
            success: function (returnData) {
                data = returnData.ref_list;
                for(var i = 0; i < data.length ; i++){
                    if(multi)
                        selctizedBoxInstanceItem.addOption({id : data[i].reference, type: "ref", label: ("#"+data[i].reference)});
                    else
                        $("#filter-ref").selectize()[0].selectize.addOption({id : data[i].reference, label: (data[i].reference)});
                }
                selctizedBoxInstanceItem.refreshOptions(false);
            },
            error: function () {
                $(".mdl-progress").hide();
                showSnackbar("Can't load ref list.");
            }
        });
    }


    function loadItemCategorySelectBox(multi=true){
        vendor_id = 0;
        brand_name = "";
        if(!multi){
            vendor_id = vendorFilterList[0];
            if(brandFilter[0] != undefined)
                brand_name = brandFilter[0];
        }
        $("#filter-category").selectize()[0].selectize.clearOptions();
        $.ajax({
            url: '?route=purchaseOrder/getCategoryList&all=1&vendor_id='+vendor_id+'&brand_name='+brand_name,
            type: 'GET',
            dataType: 'json',
            success: function (returnData) {
                data = returnData.category_list;
                for(var i = 0; i < data.length ; i++){
                    if(multi)
                        selctizedBoxInstanceItem.addOption({id : data[i].item_category, type: "category", label: (data[i].title)});
                    else
                        $("#filter-category").selectize()[0].selectize.addOption({id : data[i].item_category, label: (data[i].title)});

                }
                selctizedBoxInstanceItem.refreshOptions(false);
                $("#filter-category").selectize()[0].selectize.refreshOptions(false);
            },
            error: function () {
                $(".mdl-progress").hide();
                showSnackbar("Can't load vendor list.");
            }
        });
    }

    function filterResults(){
        var input = $(this);
        vendorFilterList = [];
        refFilterList = [];
        itemIdFilterList = [];
        dateFilter = [];
        categoryFilterList = [];
        //console.log(selctizedBoxInstanceItem.getValue());
        for(var i=0; i < selctizedBoxInstanceItem.getValue().length; i++){
            var id = selctizedBoxInstanceItem.options[selctizedBoxInstanceItem.getValue()[i]].id;
            var type = selctizedBoxInstanceItem.options[selctizedBoxInstanceItem.getValue()[i]].type;
            var label = selctizedBoxInstanceItem.options[selctizedBoxInstanceItem.getValue()[i]].label;
            if(type == "category") {
                var cId = id.substr(id.indexOf("-") + 1);
                categoryFilterList.push(cId);
            }
            if(type == "vendor") vendorFilterList.push(id);
            if(type == "date") dateFilter.push(id);
            if(type == "ref") {
                var cId = id.substr(id.indexOf("-") + 1);
                refFilterList.push(cId);
            }

        }

        if(orderItemsFilter.length > 0){
            for(var i=0 ; i < orderItemsFilter.length; i++){
                itemIdFilterList.push(orderItemsFilter[i]);
            }
            orderItemsFilter = [];
        }
    }

    var tableheader = $("#table-head");

    function tableSort() {
        var th = $(this);
        if (th.hasClass("no-sort")) {
            tableheader.children(".sortable").removeClass("mdl-data-table__header--sorted-ascending");
            tableheader.children(".sortable").removeClass("mdl-data-table__header--sorted-descending");
            tableheader.children(".sortable").addClass("mdl-data-table__header");
            tableheader.children(".sortable").addClass("no-sort");
            th.removeClass("no-sort");
            th.removeClass("mdl-data-table__header");
            th.addClass("mdl-data-table__header--sorted-ascending");
            loadItems();
            return;
        }

        



    }


    function clearItemOptions(){

        for(var prop in selctizedBoxInstanceItem.options){
            var id = selctizedBoxInstanceItem.options[prop].id;
            var type = selctizedBoxInstanceItem.options[prop].type;
            if(type == "item") {
                selctizedBoxInstanceItem.removeOption(id);
            }
        }


        selctizedBoxInstanceItem.refreshOptions(false);
    }

var pageCount = 1;
    function loadItems() {
        $(".mdl-progress").show();
        filterLimit = $("#filter-limit").val();
        can = 0;
        c = 0;
        if($("#order_type").val() == 1) { $('.delete-button').hide(); c = 1;}
        if($("#order_type").val() == 2) { $('.delete-button').hide(); can = 1;}
        if($("#order_type").val() == 0) { $('.delete-button').show();}
        //filterResults();
        var postData = {
            all: 1,
            vendorList : vendorFilterList,
            dateFilter : dateFilter,
            // itemIdList : itemIdFilterList,
            refList: refFilterList,
            c:c,
            can:can,
            brand : brandFilter[0],
            limit : filterLimit,
            page : pageCount
        };
        if (tableheader.children(".sortable.mdl-data-table__header--sorted-ascending").length > 0) {
            postData.sort = "ASC";
            postData.sortField = $(tableheader.children(".sortable.mdl-data-table__header--sorted-ascending")[0]).attr("id");
        }
        if (tableheader.children(".sortable.mdl-data-table__header--sorted-descending").length > 0) {
            postData.sort = "DESC";
            postData.sortField = $(tableheader.children(".sortable.mdl-data-table__header--sorted-descending")[0]).attr("id");
        }
        $.ajax({
            url: '?route=purchaseOrder/getOrderList&all=1',
            type: 'POST',
            data: postData,
            dataType: 'json',
            success: function (returnData) {
                data = returnData.order_list;
                $("#order-body").html("");
                for (var i = 0; i < data.length; i++) {
                    var rowNode = $("#order_template > table > tbody > tr").clone(true);
                    rowNode.attr("id", data[i].order_id);
                    rowNode.children("._order_id").html(data[i].order_id);
                    rowNode.children("._order_date").html(data[i].order_date);
                    rowNode.children("._vendor_name").html(data[i].company_name);
                    if(data[i].delivery_address == 0 && data[i].delivery_other != ""){
                        rowNode.children("._delivery_address").html(data[i].delivery_other);
                    }else{
                        rowNode.children("._delivery_address").html("<b>"+returnData.client[data[i].delivery_address]['name']+"</b> <br>"+returnData.client[data[i].delivery_address]['address']);
                    }
                    rowNode.children("._total_amount").prepend(data[i].htt + " ");
                    //rowNode.children("._quantity").children("input").val();
                    if (data[i].item_pdf == 0) rowNode.children("._buttons").children(".pdf").hide();
                    if (data[i].image == 0) rowNode.children("._buttons").children(".image").hide();

                    $("#order-body").append(rowNode);

                }
                $(".mdl-progress").hide();
                showSnackbar("Data loaded.");
            },
            error: function () {
                $(".mdl-progress").hide();
                showSnackbar("Can't complete your request.");
            }
        });
    }

    $("select[name='discount_on']").change(function(){
        discount_on = $("select[name='discount_on']").val();
            if(discount_on == 1){
                $("#discount_amount_wrap").hide();
                $(".discount_head").show();
                $(".discount_col").show();
                // loadItemsInWrap()
            }
            else{
                $("#discount_amount_wrap").show();
                $(".discount_head").hide();
                $(".discount_col").hide();
            }
    });

    function changeQuantity(){

        order_id = order_id_flag;
        quant = $(this).html();
        item_id = $(this).parent().attr("id");
        footer = $("#modalConfirm").parent();
        modalWrap = $("#modalConfirm").clone();
        modalWrap.attr("id", "#modalConfirm2");
        footer.append(modalWrap);
       $(".modal-title", modalWrap).html("Change quantity in the order");
        $(".modal-body", modalWrap).html("<div class'form-group'>                    <label class='control-label'>Current Item quantity</label>                    <input class='form-control' type='text' name='old_quantity' disabled value='"+quant+"'>                    <label class='control-label'>New Quantity</label>                    <input class='form-control' type='text' name='new_quantity'>                </div>            ");
        $(".modal-footer p",  modalWrap).remove();
        $(".modal-footer",  modalWrap).prepend("<p class='pull-left'>Are you sure you want to change above quantity?</p>");
         modalWrap.modal("show");
         $(".btn-danger",  modalWrap).attr("id", "confirmChange"+quant);
         $(".btn-danger",  modalWrap).click(function(){
                new_quantity = $('input[name="new_quantity"]', modalWrap).val();
                quantity = $('input[name="old_quantity"]', modalWrap).val();
                $(".mdl-progress").show();

            postData = {
                    order_id : order_id,
                    item_id : item_id,
                    new_quantity : new_quantity
                };
                $.ajax({
                url: '?route=purchaseOrder/changeQuantity',
                type: 'POST',
                data: postData,
                dataType: 'json',
                success: function (returnData) {
                        $(".mdl-progress").hide();
                        if(returnData.status == true){
                            showSnackbar("Quantity Changed.");
                            $("#m-dialog-close-btn").trigger("click");
                            loadItems();
                        }
                        else {
                            if(returnData.msg != "undefined")
                                showSnackbar(returnData.msg);
                            else
                                showSnackbar("There was an error changing the Quantity. Please check for correct details.");
                        }

                    }
                });
         });
}

    $("#filter-vendor").change(function(){
        $(".mdl-progress").show();
        val = $(this).val();
        vendorFilterList = [];
        if(val != 0)
            vendorFilterList.push(val);
        loadBrandNames();
        loadItemCategorySelectBox(false);
        loadItems();
        $(".mdl-progress").hide();
    });
    $("#filter-category").change(function(){
        val = $(this).val();
        categoryFilterList = [];
        if(val != 0)
            categoryFilterList.push(val);
        loadRefSelectBox(false);
        loadItems();
    });
    $("#filter-ref").change(function(){
        val = $(this).val();
        refFilterList = [];
        if(val != 0)
            refFilterList.push(val);
        loadItems();
    });
    $("#filter-brand").change(function(){
        val = $(this).val();
        brandFilter = [];
        if(val != 0)
            brandFilter.push(val);
        loadItemCategorySelectBox(false);
        loadRefSelectBox(false);
        loadItems();
    });
    $("#filter-limit").change(function(){
        pageCount=1;
        loadItems();
    });
 $(document).ready(function (){

        $("#refresh-data-btn").click(loadItems);
        tableheader.children(".sortable").click(tableSort);
        loadVendorsSelectBox();
        loadItems();
        $("#filter-box").change(filterResults);
        $("#order_type").change(function(){
            loadItems();
        });
    });

    $(document).on("click", ".pagination li a", function(e){
        e.preventDefault();
        found = false;
        url = $(this).attr("href");
        splinters = url.split("&");
        $.each(splinters, function(key, val){
            vals = val.split("=");
            if(vals[0] == "page") {
                found = true;
                pageCount = vals[1];
            }
        });
        if(!found) pageCount = 1;
        loadItems();
    });
</script>
