<div class="center-margin col-xs-12">
    <div class="table-card mdl-card  mdl-shadow--2dp col-xs-12">

        <div class="table-header">
            <h4><?=$text_title;?>
                <button class="mdl-button mdl-js-button mdl-button--icon pull-right">
                    <i class="material-icons">refresh</i>
                </button>
            </h4>

            <select name="vendor_name" class="field selectize-filter">
                <option value="">Search</option>
            </select>
        </div>


        <table class="mdl-data-table mdl-js-data-table  md-table col-xs-12 expandable">
            <thead>
                <tr>
                    <th class="mdl-data-table__cell--non-numeric"><?=$text_order_id;?></th>
                    <th class="mdl-data-table__cell--non-numeric"><?=$text_order_date;?></th>
                    <th class="mdl-data-table__cell--non-numeric"><?=$text_vendor_name;?></th>
                    <th class="mdl-data-table__cell--non-numeric"><?=$text_delivery_address;?></th>
                    <th class="mdl-data-table__cell--non-numeric"><?=$text_total_amount;?></th>
                    <th class="mdl-data-table__cell--non-numeric"><?=$text_status;?></th>
                    <th class="mdl-data-table__cell--non-numeric"><?=$text_raised_by;?></th>
                    <th class="mdl-data-table__cell--non-numeric"><?=$text_action;?></th>

                </tr>
            </thead>
            <tbody>
                <tr class="parent-row" id="1">
                    <td class="mdl-data-table__cell--non-numeric clickable">1</td>
                    <td class="mdl-data-table__cell--non-numeric clickable">Lorem ipsum.</td>
                    <td class="mdl-data-table__cell--non-numeric clickable">Lorem.</td>
                    <td class="mdl-data-table__cell--non-numeric clickable">Lorem.</td>
                    <td class="mdl-data-table__cell--non-numeric clickable">Lorem.</td>
                    <td class="mdl-data-table__cell--non-numeric clickable">Lorem.</td>
                    <td class="mdl-data-table__cell--non-numeric clickable">Lorem.</td>
                    <td class="mdl-data-table__cell--non-numeric">
                        <button id="btn-ap-2" class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored approve-button">
                            <i class="material-icons">done</i>
                        </button>
                        <div class="mdl-tooltip mdl-tooltip--large" for="btn-ap-2"><?=$text_approve;?></div>
                        <button id="btn-dap-2" class="mdl-button mdl-js-button mdl-button--icon mdl-button--accent disapprove-button">
                            <i class="material-icons">close</i>
                        </button>
                        <div class="mdl-tooltip mdl-tooltip--large" for="btn-dap-2"><?=$text_disapprove;?></div>

                </ul>
            </td>
        </tr>

        <tr class="parent-row" id="1">
            <td class="mdl-data-table__cell--non-numeric clickable">1</td>
            <td class="mdl-data-table__cell--non-numeric clickable">Lorem ipsum.</td>
            <td class="mdl-data-table__cell--non-numeric clickable">Lorem.</td>
            <td class="mdl-data-table__cell--non-numeric clickable">Lorem.</td>
            <td class="mdl-data-table__cell--non-numeric clickable">Lorem.</td>
            <td class="mdl-data-table__cell--non-numeric clickable">Lorem.</td>
            <td class="mdl-data-table__cell--non-numeric clickable">Lorem.</td>
             <td class="mdl-data-table__cell--non-numeric">
                        <button id="btn-ap-2" class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored approve-button">
                            <i class="material-icons">done</i>
                        </button>
                        <div class="mdl-tooltip mdl-tooltip--large" for="btn-ap-2"><?=$text_approve;?></div>
                        <button id="btn-dap-2" class="mdl-button mdl-js-button mdl-button--icon mdl-button--accent disapprove-button">
                            <i class="material-icons">close</i>
                        </button>
                        <div class="mdl-tooltip mdl-tooltip--large" for="btn-dap-2"><?=$text_disapprove;?></div>

            </td>
        </tr>

        <tr class="parent-row" id="1">
            <td class="mdl-data-table__cell--non-numeric clickable">1</td>
            <td class="mdl-data-table__cell--non-numeric clickable">Lorem ipsum.</td>
            <td class="mdl-data-table__cell--non-numeric clickable">Lorem.</td>
            <td class="mdl-data-table__cell--non-numeric clickable">Lorem.</td>
            <td class="mdl-data-table__cell--non-numeric clickable">Lorem.</td>
            <td class="mdl-data-table__cell--non-numeric clickable">Lorem.</td>
            <td class="mdl-data-table__cell--non-numeric clickable">Lorem.</td>
             <td class="mdl-data-table__cell--non-numeric">
                        <button id="btn-ap-2" class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored approve-button">
                            <i class="material-icons">done</i>
                        </button>
                        <div class="mdl-tooltip mdl-tooltip--large" for="btn-ap-2"><?=$text_approve;?></div>
                        <button id="btn-dap-2" class="mdl-button mdl-js-button mdl-button--icon mdl-button--accent disapprove-button">
                            <i class="material-icons">close</i>
                        </button>
                        <div class="mdl-tooltip mdl-tooltip--large" for="btn-dap-2"><?=$text_disapprove;?></div>

            </td>

        </tr>

        <tr class="parent-row" id="1">
            <td class="mdl-data-table__cell--non-numeric clickable">1</td>
            <td class="mdl-data-table__cell--non-numeric clickable">Lorem ipsum.</td>
            <td class="mdl-data-table__cell--non-numeric clickable">Lorem.</td>
            <td class="mdl-data-table__cell--non-numeric clickable">Lorem.</td>
            <td class="mdl-data-table__cell--non-numeric clickable">Lorem.</td>
            <td class="mdl-data-table__cell--non-numeric clickable">Lorem.</td>
            <td class="mdl-data-table__cell--non-numeric clickable">Lorem.</td>
             <td class="mdl-data-table__cell--non-numeric">
                        <button id="btn-ap-2" class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored approve-button">
                            <i class="material-icons">done</i>
                        </button>
                        <div class="mdl-tooltip mdl-tooltip--large" for="btn-ap-2"><?=$text_approve;?></div>
                        <button id="btn-dap-2" class="mdl-button mdl-js-button mdl-button--icon mdl-button--accent disapprove-button">
                            <i class="material-icons">close</i>
                        </button>
                        <div class="mdl-tooltip mdl-tooltip--large" for="btn-dap-2"><?=$text_disapprove;?></div>

            </td>

        </tr>

    </tbody>
</table>
</div>
<button id="fab" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored floating-action-button">
    <i class="material-icons">add</i>
</button>
<div class="mdl-tooltip" for="fab">
    Create new <br>
    Purchase order
</div>

<div id="modal-view" hidden>
    <div class="view-title">
       <?=$text_purchase_details;?>
    </div>
    <div class="view-body">

        <div class="form-content">
           <div>
            <h4 class="pull-left mdl-button--primary">
                <small><?=$text_po;?></small>
                <br> 2
            </h4>
            <h4 class="pull-right mdl-button--primary">
                <small class="pull-right"><?=$text_grand_total;?></small>
                <br> 24000
            </h4>
        </div>
        <div class="clearfix"></div>
        <table class=" col-xs-12 col-md-6 details">
            <tbody>
                <tr>
                    <td class="col-xs-6 head"><?=$text_order_date;?></td>
                    <td class="">26/5/2017</td>
                </tr>
                <tr>
                    <td class="col-xs-6 head"><?=$text_vendor_name;?>/td>
                    <td>Some Name</td>
                </tr>
                <tr>
                    <td class="col-xs-6 head"><?=$text_vendor_address;?></td>
                    <td>Company, Main Street</td>
                </tr>
                <tr>
                    <td class="col-xs-6 head"><?=$text_delivery_date;?></td>
                    <td>25/12/2017</td>
                </tr>

            </tbody>
        </table>
        <table class=" col-xs-12 col-md-6 details">
            <tbody>

                <tr>
                    <td class="col-xs-6 head"><?=$text_person_responsible;?></td>
                    <td>hii!!!</td>
                </tr>
                <tr>
                    <td class="col-xs-6 head"><?=$text_purchaser;?></td>
                    <td>hii!!!</td>
                </tr>
            </tbody>
        </table>

        <table class="mdl-data-table mdl-js-data-table  md-table col-xs-12 ">
            <thead>
                <tr>
                    <th class="mdl-data-table__cell--non-numeric"><?=$text_item_id;?></th>
                    <th class="mdl-data-table__cell--non-numeric"><?=$text_item_name;?></th>
                    <th class="mdl-data-table__cell--non-numeric"><?=$text_brand_name;?></th>
                    <th class="mdl-data-table__cell--non-numeric"><?=$text_buy_rate;?></th>
                    <th class="mdl-data-table__cell--non-numeric"><?=$text_quantity;?></th>
                    <th class="mdl-data-table__cell--non-numeric"><?=$text_total;?></th>
                    <th class="mdl-data-table__cell--non-numeric"><?=$text_action;?></th>

                </tr>
            </thead>
            <tbody>
                <tr class="parent-row" id="row-1">
                    <td class="mdl-data-table__cell--non-numeric">1</td>
                    <td class="mdl-data-table__cell--non-numeric">Lorem ipsum.</td>
                    <td class="mdl-data-table__cell--non-numeric">Lorem.</td>
                    <td class="mdl-data-table__cell--non-numeric">Lorem.</td>
                    <td class="mdl-data-table__cell--non-numeric"><input type="text" value="2" ></td>
                    <td class="mdl-data-table__cell--non-numeric">Lorem.</td>
                    <td class="mdl-data-table__cell--non-numeric">
                        <button id="btn-ap-2" class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored edit-button">
                            <i class="material-icons">edit</i>
                        </button>
                        <div class="mdl-tooltip mdl-tooltip--large" for="btn-ap-2">Edit</div>
                        <button id="btn-dap-2" class="mdl-button mdl-js-button mdl-button--icon mdl-button--accent delete-button">
                            <i class="material-icons">delete</i>
                        </button>
                        <div class="mdl-tooltip mdl-tooltip--large" for="btn-dap-2">Delete</div>
                    </td>
                </tr>


                <tr class="parent-row" id="row-2">
                    <td class="mdl-data-table__cell--non-numeric">1</td>
                    <td class="mdl-data-table__cell--non-numeric">Lorem ipsum.</td>
                    <td class="mdl-data-table__cell--non-numeric">Lorem.</td>
                    <td class="mdl-data-table__cell--non-numeric">Lorem.</td>
                    <td class="mdl-data-table__cell--non-numeric"><input type="text" value="2" ></td>
                    <td class="mdl-data-table__cell--non-numeric">Lorem.</td>
                    <td class="mdl-data-table__cell--non-numeric">
                        <button id="btn-ap-2" class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored edit-button">
                            <i class="material-icons">edit</i>
                        </button>
                        <div class="mdl-tooltip mdl-tooltip--large" for="btn-ap-2">Edit</div>
                        <button id="btn-dap-2" class="mdl-button mdl-js-button mdl-button--icon mdl-button--accent delete-button">
                            <i class="material-icons">delete</i>
                        </button>
                        <div class="mdl-tooltip mdl-tooltip--large" for="btn-dap-2">Delete</div>
                    </td>

                </tr>


                <tr class="parent-row" id="row-3">
                    <td class="mdl-data-table__cell--non-numeric">1</td>
                    <td class="mdl-data-table__cell--non-numeric">Lorem ipsum.</td>
                    <td class="mdl-data-table__cell--non-numeric">Lorem.</td>
                    <td class="mdl-data-table__cell--non-numeric">Lorem.</td>
                    <td class="mdl-data-table__cell--non-numeric"><input type="text" value="2" ></td>
                    <td class="mdl-data-table__cell--non-numeric">Lorem.</td>
                    <td class="mdl-data-table__cell--non-numeric">
                        <button id="btn-ap-2" class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored edit-button">
                            <i class="material-icons">edit</i>
                        </button>
                        <div class="mdl-tooltip mdl-tooltip--large" for="btn-ap-2">Edit</div>
                        <button id="btn-dap-2" class="mdl-button mdl-js-button mdl-button--icon mdl-button--accent delete-button">
                            <i class="material-icons">delete</i>
                        </button>
                        <div class="mdl-tooltip mdl-tooltip--large" for="btn-dap-2">Delete</div>
                    </td>

                </tr>


                <tr class="parent-row" id="row-4">
                    <td class="mdl-data-table__cell--non-numeric">1</td>
                    <td class="mdl-data-table__cell--non-numeric">Lorem ipsum.</td>
                    <td class="mdl-data-table__cell--non-numeric">Lorem.</td>
                    <td class="mdl-data-table__cell--non-numeric">Lorem.</td>
                    <td class="mdl-data-table__cell--non-numeric"><input type="text" value="2" ></td>
                    <td class="mdl-data-table__cell--non-numeric">Lorem.</td>
                    <td class="mdl-data-table__cell--non-numeric">
                        <button id="btn-ap-2" class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored edit-button">
                            <i class="material-icons">edit</i>
                        </button>
                        <div class="mdl-tooltip mdl-tooltip--large" for="btn-ap-2">Edit</div>
                        <button id="btn-dap-2" class="mdl-button mdl-js-button mdl-button--icon mdl-button--accent delete-button">
                            <i class="material-icons">delete</i>
                        </button>
                        <div class="mdl-tooltip mdl-tooltip--large" for="btn-dap-2">Delete</div>
                    </td>

                </tr>


                <tr class="parent-row" id="row-5">
                    <td class="mdl-data-table__cell--non-numeric">1</td>
                    <td class="mdl-data-table__cell--non-numeric">Lorem ipsum.</td>
                    <td class="mdl-data-table__cell--non-numeric">Lorem.</td>
                    <td class="mdl-data-table__cell--non-numeric">Lorem.</td>
                    <td class="mdl-data-table__cell--non-numeric"><input type="text" value="2" ></td>
                    <td class="mdl-data-table__cell--non-numeric">Lorem.</td>
                    <td class="mdl-data-table__cell--non-numeric">
                        <button id="btn-ap-2" class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored edit-button">
                            <i class="material-icons">edit</i>
                        </button>
                        <div class="mdl-tooltip mdl-tooltip--large" for="btn-ap-2">Edit</div>
                        <button id="btn-dap-2" class="mdl-button mdl-js-button mdl-button--icon mdl-button--accent delete-button">
                            <i class="material-icons">delete</i>
                        </button>
                        <div class="mdl-tooltip mdl-tooltip--large" for="btn-dap-2">Delete</div>
                    </td>

                </tr>



            </tbody>
        </table>
    </div>
</div>

</div>

<script>

    $(".parent-row > .clickable").click(function () {
        MDialog.start({},"detail",this,$("#modal-view"));
    });

    

    $(".approve-button").click(function () {
        showSnackbar("Order Approved");
        //this.
    });

    $(".disapprove-button").click(function () {
        showSnackbar("Order Disapproved");
        //this.
    });


</script>