<div class=" center-margin col-xs-12">
    <form method="post" action="?route=purchaseOrder/viewRO&id=<?=$details['order_id'];?>">
        <div class="form-card mdl-card  mdl-shadow--2dp col-xs-12">
            <div class="form-header">
                <h4>Request  Order</h4>
            </div>
        <div class="form-content">
            <div class="col-xs-12" id="order_template">

                <div class="clearfix"></div>

                 <table class="order_details table-striped col-xs-12 col-sm-6">
                            <tr>
                                <td>Request Order:</td>
                                <td id="order_id_m">#<?php echo $details['order_id']; ?></td>
                            </tr>
                            <tr>
                                <td><?=$text_order_date;?>:</td>
                                <td id="order_date_m"><?php echo date("d-m-Y", time()); ?></td>
                            </tr>
                             <tr>
                                <td><?=$text_delivery_date;?>:<sup class="text-danger">*</sup></td>
                                <td class="_expected_date"><input type="date" name="expected_date" class="" style="width:180px" min="<?php echo date("Y-m-d", time()); ?>" value="<?php echo date("Y-m-d", time()); ?>"></td>
                            </tr>
                            <tr>
                                <td>Vendor Name:</td>
                                <td class="_vendor_name"><input type="hidden" name="vendor" value="<?php echo $details['vendor'];?>"><?php echo $details['company_name'];?></td>
                            </tr>
                            <tr>
                                <td>Delivery Address:</td>
                                <td class="_address">
                                    <select name="delivery_address">
                                        <option value="0" selected>Deliver to Store</option>
                                        <option value="other">Other</option>
                                        <?php
                                            foreach($client_addresses as $client_address): ?>
                                            <option value="<?=$client_address['client_id']; ?>" data-address="<?=$client_address['address']; ?>" data-city="<?=$client_address['city']; ?>" data-postal="<?=$client_address['postal_code']; ?>"><?=$client_address['company_name']; ?></option>
                                        <?php endforeach; ?>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td class="_deliver_address"><?=$store_address?></td>
                            </tr>
                            </tr>
                    </table>
                    <table class="order_details  table-striped col-xs-12 col-sm-6">
                            <tr>
                                <td>SO Reference</td>
                                <td class="_so_ref">#<?=$details['so_ref']?></td>
                            </tr>
                            <tr>
                                <td>Request From:</td>
                                <td id="_responsible_person"><?php echo $responsible; ?> </td>
                            </tr>
                            <tr>
                                <td>Payment Mode:<sup class="text-danger">*</sup></td>
                                <td class="_payment_mode">
                                    <select name="payment_mode" class="">
                                        <?php
                                            foreach($payment_mode as $payment){
                                            echo "<option value=".$payment['payment_mode_id'].">".$payment['title']."</option>";
                                        }
                                        ?>
                                    </select>
                                </td>
                            </tr>

                            <tr>
                                <td>HT:</td>
                                <td><span id="htt_m" class="text-success"> <?php echo ROUND($ht_total, 3);?>&euro;<input type="hidden" name="ht" value="<?php $ht_total; ?>"></span></td>
                            </tr>
                            <tr>
                                <td>TVA:</td>
                                <td><span id="tva_m" class="text-danger"><input type="number" name="tax" min="0" value="20" max="20" size="2" id="tax_field">%</span></td>
                            </tr>
                            <tr>
                                <td> <?=$text_grand_total;?>:</td>
                                <td class="text-danger"><span id="ttc_m" class="text-danger"> <?php $tt = ($ht_total*20)/100; echo ROUND($ht_total+$tt, 3);?>&euro;<input type="hidden" name="ttc" id="hidden_ttc" value="<?php $ht_total+$tt; ?>"></span></td>
                            </tr>

                    </table>

                    <table class="mdl-data-table mdl-js-data-table  md-table col-xs-12 items-list">
            <thead>
                <tr>
                    <th class="mdl-data-table__cell--non-numeric "><?=$text_reference;?></th>
                    <th class="mdl-data-table__cell--non-numeric _item_name"><?=$text_item_name;?></th>
                    <th class="mdl-data-table__cell--non-numeric "><?=$text_brand_name;?></th>
                    <th class="mdl-data-table__cell--non-numeric "><?=$text_packing;?></th>
                    <th class="mdl-data-table__cell--non-numeric _reference"><?=$text_item_area;?></th>
                    <th class="mdl-data-table__cell--non-numeric _buy_rate"><?=$text_buy_rate;?></th>
                    <th class="mdl-data-table__cell--non-numeric _quantity"><?=$text_quantity;?></th>
                    <th class="mdl-data-table__cell--non-numeric ">HT</th>
<!--                    <th class="mdl-data-table__cell--non-numeric">--><?//=$text_action;?><!--</th>-->
                </tr>
            </thead>
            <tbody class="_ordered_items">
                <?php
                  foreach($items as $item): ?>
                      <td class="mdl-data-table__cell--non-numeric "><?=$item['reference']?></td>
                      <td class="mdl-data-table__cell--non-numeric _item_name"><?=$item['item_name']?></td>
                      <td class="mdl-data-table__cell--non-numeric "><?=$item['brand_name']?></td>
                      <td class="mdl-data-table__cell--non-numeric "><?=$item['packing']?></td>
                      <td class="mdl-data-table__cell--non-numeric _reference"><?=$item['area']?></td>
                      <td class="mdl-data-table__cell--non-numeric _buy_rate"><input type="text" name="purchase_rate" value="<?=$item['purchase_rate']?>"></td>
                      <td class="mdl-data-table__cell--non-numeric _quantity"><?=$item['quantity']?></td>
                      <td class="mdl-data-table__cell--non-numeric "><?=$item['rate']*$item['quantity']?></td>
                <?php
                  endforeach;
                ?>
            </tbody>
        </table>

                    <div class="clearfix"></div>
                <div class="order-action text-center center-margin" style="margin-top:10px;">

                    <label class="text-center send-mail-checkbox" for="" >
                        <input type="checkbox" id="" class="" >
                        <span class="">Check to send mail to vendor.</span>
                    </label>
                    <div class="clearfix"></div>
                    Are you sure you want to confirm this request order?<br><br>
                    <button type="submit" id="confirmPO" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                       <i class="material-icons ">check</i>
                    </button>
                    <div class="mdl-tooltip mdl-tooltip--large" for="confimPO">Confirm</div>
                    <button type="button" id="remove-order" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
                       <i class="material-icons">cancel</i>
                    </button>
                    <div class="mdl-tooltip mdl-tooltip--large" for="remove-order">Cancel</div>
                </div>

            </div>
        </div>
    </div>
</form>
</div>
<script>

$("#tax_field").change(updateTTC);
$("#tax_field").keyup(updateTTC);

$("select[name='delivery_address']").change(displayAddress);

    function displayAddress(){
    _this = $("option:selected", this);
    if(_this.val() != 0 && _this.val() != "other"){

        address = _this.attr("data-address");
        city = _this.attr("data-city");
        postal = _this.attr("data-postal");
        $("._deliver_address").html(address+", "+ city + ", "+postal);
    }
    else if(_this.val() == "other"){
     $("._deliver_address").html("<input type='text' name='delivery_other' placeholder='Enter delivery address'>");
    }
    else $("._deliver_address").html('<?=$store_address?>');
}
function updateTTC(){
    wrap = $(this).parent().parent().parent().parent();
    ht = $("#htt_m", wrap);
    ht_value = parseFloat(ht.html());
    new_tax = $(this).val();

    ttc_new = ht_value + (ht_value * new_tax)/100;
    $("#hidden_ttc").val(ttc_new);
    $("#ttc_m", wrap).html(ttc_new.toFixed(3) + " &euro;");
    $("#tax_field").val(new_tax);

}
</script>
