
<div class="center-margin col-xs-12">
    <div class="table-card mdl-card  mdl-shadow--2dp col-xs-12">

        <div class="table-header">
            <h4><?=$text_title;?>
                <button class="mdl-button mdl-js-button mdl-button--icon pull-right">
                    <i class="material-icons">refresh</i>
                </button>
            </h4>

            <select name="vendor_name" class="field selectize-filter">
                <option value=""><?=$text_search;?></option>
            </select>
        </div>
        <table class="mdl-data-table mdl-js-data-table  md-table col-xs-12 expandable">
            <thead>
            <tr>
                <th class="mdl-data-table__cell--non-numeric"><?=$text_order_number;?></th>
                <th class="mdl-data-table__cell--non-numeric"><?=$text_order_date;?></th>
                <th class="mdl-data-table__cell--non-numeric"><?=$text_vendor_name;?></th>
                <th class="mdl-data-table__cell--non-numeric"><?=$text_vendor_address;?></th>
                <th class="mdl-data-table__cell--non-numeric"><?=$text_responsible_person;?></th>
                <th class="mdl-data-table__cell--non-numeric"><?=$text_delivery_address;?></th>
                <th class="mdl-data-table__cell--non-numeric"><?=$text_raised_by;?></th>
                <th class="mdl-data-table__cell--non-numeric"><?=$text_state;?></th>



            </tr>
            </thead>



            <tbody>
            <tr>
                <td class="mdl-data-table__cell--non-numeric clickable">1</td>
                <td class="mdl-data-table__cell--non-numeric clickable">Lorem ipsum.</td>
                <td class="mdl-data-table__cell--non-numeric clickable">Lorem.</td>
                <td class="mdl-data-table__cell--non-numeric clickable">Lorem.</td>
                <td class="mdl-data-table__cell--non-numeric clickable">Lorem.</td>
                <td class="mdl-data-table__cell--non-numeric clickable">Lorem.</td>
                <td class="mdl-data-table__cell--non-numeric clickable">Lorem.</td>
                <td class="mdl-data-table__cell--non-numeric clickable">Cancelled</td>
            </tr>

            <tr>
                <td class="mdl-data-table__cell--non-numeric clickable">1</td>
                <td class="mdl-data-table__cell--non-numeric clickable">Lorem ipsum.</td>
                <td class="mdl-data-table__cell--non-numeric clickable">Lorem.</td>
                <td class="mdl-data-table__cell--non-numeric clickable">Lorem.</td>
                <td class="mdl-data-table__cell--non-numeric clickable">Lorem.</td>
                <td class="mdl-data-table__cell--non-numeric clickable">Lorem.</td>
                <td class="mdl-data-table__cell--non-numeric clickable">Lorem.</td>
                <td class="mdl-data-table__cell--non-numeric clickable">Approved</td>
            </tr>

            <tr>
                <td class="mdl-data-table__cell--non-numeric clickable">1</td>
                <td class="mdl-data-table__cell--non-numeric clickable">Lorem ipsum.</td>
                <td class="mdl-data-table__cell--non-numeric clickable">Lorem.</td>
                <td class="mdl-data-table__cell--non-numeric clickable">Lorem.</td>
                <td class="mdl-data-table__cell--non-numeric clickable">Lorem.</td>
                <td class="mdl-data-table__cell--non-numeric clickable">Lorem.</td>
                <td class="mdl-data-table__cell--non-numeric clickable">Lorem.</td>
                <td class="mdl-data-table__cell--non-numeric clickable">Disapproved</td>
            </tr>


            </tbody>
        </table>
    </div>
</div>

<div id="modal-view" hidden>
    <div class="view-title">
        <?=$text_purchaser_details;?>
    </div>
    <div class="view-body">
        <h5><?=$text_po;?> - 2</h5>
        <div class="form-content">
            <table class=" col-xs-12 col-md-6 details">
                <tbody>
                <tr>
                    <td class="col-xs-6 head"><?=$text_order_date;?></td>
                    <td class="">26/5/2017</td>
                </tr>
                <tr>
                    <td class="col-xs-6 head"><?=$text_vendor_name;?></td>
                    <td>Some Name</td>
                </tr>
                <tr>
                    <td class="col-xs-6 head"><?=$text_vendor_address;?></td>
                    <td>Company, Main Street</td>
                </tr>
                <tr>
                    <td class="col-xs-6 head"><?=$text_delivery_date;?></td>
                    <td>25/12/2017</td>
                </tr>

                </tbody>
            </table>
            <table class=" col-xs-12 col-md-6 details">
                <tbody>

                <tr>
                    <td class="col-xs-6 head"><?=$text_person_responsible;?></td>
                    <td>hii!!!</td>
                </tr>
                <tr>
                    <td class="col-xs-6 head"><?=$text_delivery_address;?></td>
                    <td>hii!!!</td>
                </tr>
                <tr>
                    <td class="col-xs-6 head"><?=$text_purchaser;?></td>
                    <td>hii!!!</td>
                </tr>
                </tbody>
            </table>

            <table class="mdl-data-table mdl-js-data-table  md-table col-xs-12 ">
                <thead>
                <tr>
                    <th class="mdl-data-table__cell--non-numeric"><?=$text_item_id;?></th>
                    <th class="mdl-data-table__cell--non-numeric"><?=$text_item_name;?></th>
                    <th class="mdl-data-table__cell--non-numeric"><?=$text_brand_name;?></th>
                    <th class="mdl-data-table__cell--non-numeric"><?=$text_buy_rate;?></th>
                    <th class="mdl-data-table__cell--non-numeric"><?=$text_quantity;?></th>
                    <th class="mdl-data-table__cell--non-numeric"><?=$text_total;?></th>

                </tr>
                </thead>
                <tbody>
                <tr class="parent-row" id="row-1">
                    <td class="mdl-data-table__cell--non-numeric">1</td>
                    <td class="mdl-data-table__cell--non-numeric">Lorem ipsum.</td>
                    <td class="mdl-data-table__cell--non-numeric">Lorem.</td>
                    <td class="mdl-data-table__cell--non-numeric">Lorem.</td>
                    <td class="mdl-data-table__cell--non-numeric">Lorem.</td>
                    <td class="mdl-data-table__cell--non-numeric">Lorem.</td>
                </tr>


                <tr class="parent-row" id="row-2">
                    <td class="mdl-data-table__cell--non-numeric">1</td>
                    <td class="mdl-data-table__cell--non-numeric">Lorem ipsum.</td>
                    <td class="mdl-data-table__cell--non-numeric">Lorem.</td>
                    <td class="mdl-data-table__cell--non-numeric">Lorem.</td>
                    <td class="mdl-data-table__cell--non-numeric">Lorem.</td>
                    <td class="mdl-data-table__cell--non-numeric">Lorem.</td>
                </tr>


                <tr class="parent-row" id="row-3">
                    <td class="mdl-data-table__cell--non-numeric">1</td>
                    <td class="mdl-data-table__cell--non-numeric">Lorem ipsum.</td>
                    <td class="mdl-data-table__cell--non-numeric">Lorem.</td>
                    <td class="mdl-data-table__cell--non-numeric">Lorem.</td>
                    <td class="mdl-data-table__cell--non-numeric">Lorem.</td>
                    <td class="mdl-data-table__cell--non-numeric">Lorem.</td>
                </tr>


                <tr class="parent-row" id="row-4">
                    <td class="mdl-data-table__cell--non-numeric">1</td>
                    <td class="mdl-data-table__cell--non-numeric">Lorem ipsum.</td>
                    <td class="mdl-data-table__cell--non-numeric">Lorem.</td>
                    <td class="mdl-data-table__cell--non-numeric">Lorem.</td>
                    <td class="mdl-data-table__cell--non-numeric">Lorem.</td>
                    <td class="mdl-data-table__cell--non-numeric">Lorem.</td>
                </tr>


                <tr class="parent-row" id="row-5">
                    <td class="mdl-data-table__cell--non-numeric">1</td>
                    <td class="mdl-data-table__cell--non-numeric">Lorem ipsum.</td>
                    <td class="mdl-data-table__cell--non-numeric">Lorem.</td>
                    <td class="mdl-data-table__cell--non-numeric">Lorem.</td>
                    <td class="mdl-data-table__cell--non-numeric">Lorem.</td>
                    <td class="mdl-data-table__cell--non-numeric">Lorem.</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

<script>

    $("tr > .clickable").click(function () {
        MDialog.start({},"detail",this,$("#modal-view"));
    });


</script>
