<div class="center-margin col-xs-12  ">
    <div class="table-card mdl-card col-xs-12">
        <div class="table-header">
            <h4>Assign Client to Agent</h4>

            <form class="padd-it" action="" method="post">
                <div class="form-field col-xs-12 col-sm-4 center-margin">
                    <label class="col-md-4"><?=$text_client_name;?></label>
                    <div class="col-sm-8 <?php if(isset($error_client_name)){echo 'is-invalid';}?>">
                        <select name="client_name" class="field selectize" >
                            <option value="0">Select Client</option>
                            <?php foreach ($clients as $client) {?>
                            <option value="<?php echo $client['client_id'] ?>" <?php if(isset($client_name) && $client_name == $client['client_id']) echo "selected"; ?>><?php echo $client['company_name']; ?></option>
                                <?php }?>
                        </select>
                        <span class="mdl-textfield__error"><?php echo (isset($error_client_name)) ? $error_client_name : ""; ?></span>
                    </div>
                </div>
                <div class="clearfix"></div>

                <div class="form-field col-xs-12 col-sm-4 center-margin text-center padd-it">
                    <strong>assign to</strong>
                </div>

                <div class="form-field col-xs-12 col-sm-4 center-margin">
                    <label class="col-md-4"><?=$text_agent_name;?></label>
                    <div class="col-sm-8 <?php if(isset($error_agent_name)){echo 'is-invalid';}?>">
                        <select name="agent_name" class="field selectize" >
                            <option value="0">Select Agent</option>
                            <?php foreach ($agents as $agent) {?>
                            <option value="<?php echo $agent['employee_id'] ?>" <?php if(isset($agent_name) && $agent_name == $agent['employee_id']) echo "selected"; ?>><?php echo $agent['name']; ?></option>
                                <?php }?>
                        </select>
                        <span class="mdl-textfield__error"><?php echo (isset($error_agent_name)) ? $error_agent_name : ""; ?></span>
                    </div>
                </div>
                
                <div class="clearfix"></div>

                <div class="mdl-card__actions padd-it text-center">

                    <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--primary">
                        <?=$text_submit;?>
                    </button>
                </div>
            </form>
        </div>
       
    </div>
</div>

