
<div class="col-xs-12  center-margin ">
    <div class=" table-card mdl-card  col-xs-12 table-padding ">
        <div class="table-header">
            <h4><?=$text_title;?>
                <button class="mdl-button mdl-js-button mdl-button--icon pull-right">
                    <i class="material-icons">refresh</i>
                </button>
            </h4>

            <select name="vendor_name" class="field selectize-filter">
                <option value=""><?=$text_search;?></option>
            </select>
        </div>
        <table class="mdl-data-table mdl-js-data-table col-xs-12  ">
            <thead>
                <tr>
                    <th class="mdl-data-table__cell--non-numeric"><?=$text_gen_invoice_id;?></th>
                    <th class="mdl-data-table__cell--non-numeric">Agent Name</th>
                    <th class="mdl-data-table__cell--non-numeric"><?=$text_total_commission;?></th>
                    <th class="mdl-data-table__cell--non-numeric"><?=$text_gen_date;?></th>
                    <!-- <th class="mdl-data-table__cell--non-numeric"><?=$text_gen_status;?></th> -->
                    <th class="mdl-data-table__cell--non-numeric"><?=$text_gen_action;?></th>
                </tr>
            </thead>
            <tbody>
                    <?php foreach($commission_history as $commission) { ?>

                <tr id="<?= $commission['invoice_id']?>">
                    
                    <td class="mdl-data-table__cell--non-numeric "><?php echo $commission["invoice_id"]; ?></td>
                    <td class="mdl-data-table__cell--non-numeric "><?php echo $commission["name"]; ?></td>
                    <td class="mdl-data-table__cell--non-numeric "><?php echo $commission["invoice_sales_amount"]; ?></td>
                    <td class="mdl-data-table__cell--non-numeric "><?php echo $commission["invoice_date"]; ?></td>
                    
                    <td class="mdl-data-table__cell--non-numeric ">
                        <button id="btn-ap-2" class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored" onclick="getDetails(this);">
                            <i class="material-icons">info</i>
                        </button>
                        <div class="mdl-tooltip mdl-tooltip--large" for="btn-ap-2"><?=$text_details;?></div>

                    </td>

            </tr>
            <?php } ?>
            
    </tbody>
</table>

</div>
</div>
<div id="modal-view" hidden>
    <div class="view-title">
        <?=$text_agent_invoice;?>
    </div>
    <div class="view-body">
        <div class="form-content">
            <div>
                <div class="text-right">
                    <button id="print-btn" class="mdl-button mdl-js-button mdl-button--icon mdlbutton--colored edit-button" onclick="window.print()">
                        <i class="material-icons">print</i>
                    </button>
                    <div class="mdl-tooltip mdl-tooltip--large" for="print-btn">Print</div>

                    <button id="cancel-order" class="mdl-button mdl-js-button mdl-button--icon mdlbutton--colored edit-button" data-order="" onclick="confirmDeletion(this, 1);">
                        <i class="material-icons text-danger">delete</i>
                    </button>
                    <div class="mdl-tooltip mdl-tooltip--large" for="cancel-order">Cancel Order</div>
                </div>

                <table class="order_details table-striped col-xs-12 col-sm-6">
                    <tr>
                        <td><?php echo $text_gen_invoice_id; ?>:</td>
                        <td id="invoice_id_m">#</td>
                    </tr>
                    <tr>
                        <td>Agent Name:</td>
                        <td id="agent_name_m">#</td>
                    </tr>
                    <tr>
                        <td><?=$text_gen_date;?>:</td>
                        <td id="gen_date_m"></td>
                    </tr>
                    
                                
                </table>
                <table class="order_details  table-striped col-xs-12 col-sm-6">
                    <tr>
                        <td>Sales Amount:</td>
                        <td id="sales_amt_m">&euro;</td>
                    </tr>
                    <tr>
                        <td>Commission Rate:</td>
                        <td id="commission_rate_m">%</td>
                    </tr>
                    <tr>
                        <td>Total Sales Amount:</td>
                        <td id="total_amt_m">&euro;</td>
                    </tr>
                                

                </table>
            </div>
            <div class="clearfix"></div>
                <hr>
                <table class="mdl-data-table mdl-js-data-table  md-table col-xs-12 ">
                    <thead>
                        <tr>
                            <th class="mdl-data-table__cell--non-numeric">Order Id</th>
                            <th class="mdl-data-table__cell--non-numeric">Order Date</th>
                            <th class="mdl-data-table__cell--non-numeric">Client</th>
                            <th class="mdl-data-table__cell--non-numeric">Amount(HT)</th>
                          
                        </tr>
                    </thead>
                    <tbody id="order-table-body"></tbody>
                </table>
            </div>
    </div>
    <div hidden>

        <table class="mdl-data-table mdl-js-data-table  md-table col-xs-12 ">
            <tbody id = "invoice-order-node">
            <tr id="">
                <td class="mdl-data-table__cell--non-numeric order_id"></td>
                <td class="mdl-data-table__cell--non-numeric order_date"></td>
                <td class="mdl-data-table__cell--non-numeric client"></td>
                <td class="mdl-data-table__cell--non-numeric htt">&euro;</td>
                
            </tr>
            </tbody>
        </table>

    </div>
</div>

<script>

      function getDetails(e) {
        var id = $(e).parent().parent().attr("id");
        $.ajax({
            url: '?route=agentInvoice/getInvoiceDetails&invoice_id=' + id,
            type: 'GET',
            dataType: 'json',
            success: function (returnData) {
                
                var invoice = returnData.invoice;
                var orders = returnData.invoice_order;
                
                $("#invoice_id_m").html("#"+invoice.invoice_id);
                $("#agent_name_m").html(invoice.name);
                $("#gen_date_m").html(invoice.invoice_date);
                $("#sales_amt_m").prepend(invoice.invoice_sales_amount);
                $("#commission_rate_m").prepend(invoice.commission_rate);
                $("#total_amt_m").prepend(invoice.total_sales_amount);
               
                $("#order-table-body").html("");
                for(var i = 0; i < orders.length; i++){
                    var rowNode = $("#invoice-order-node").children().clone();
                    rowNode.children(".order_id").html(orders[i].order_id);
                    rowNode.attr("id", orders[i].order_id);
                    rowNode.children(".order_date").html(orders[i].order_date);
                    rowNode.children(".client").html(orders[i].company_name);
                    rowNode.children(".htt").prepend(orders[i].htt);                   
                    $("#order-table-body").append(rowNode);
                }

                MDialog.start({},"detail",this,$("#modal-view"));
            },
             error: function () {
                $(".mdl-progress").hide();
                showSnackbar("Can't load order details.");
            }
        });
    }
 $(document).on("click", "#order-table-body tr" ,function(){
    id = $(this).attr("id");
   location = '?route=salesOrder/completeOrder&id='+id;
});

</script>
