<div class="center-margin col-xs-12  ">
    <div class="table-card mdl-card col-xs-12">
        <div class="table-header">
            <h4>Set Commission Rate</h4>

            <form class="padd-it" action="" method="post">

                <div class="form-field col-xs-12 col-sm-6 center-margin">
                    <label class="col-md-4"><?=$text_agent_name;?></label>
                    <div class="col-sm-8 <?php if(isset($error_agent_name)){echo 'is-invalid';}?> no-padding">
                        <select name="agent_name" class="field selectize" >
                            <option value="0">Select Agent</option>
                            <?php foreach ($agents as $agent) {?>
                            <option value="<?php echo $agent['employee_id'] ?>" <?php if(isset($agent_name) && $agent_name == $agent['employee_id']) echo "selected"; ?>><?php echo $agent['name']; ?></option>
                                <?php }?>
                        </select>
                        <span class="mdl-textfield__error"><?php echo (isset($error_agent_name)) ? $error_agent_name : ""; ?></span>
                    </div>
                </div>

                <div class="form-field col-xs-12 col-sm-6 center-margin">
                        <table class="table table-bordered col-md-8" style="max-width: 300px;    font-size: 12px;   float: right;    position: absolute;    right: -260px;    top: -14px;   background: #fff;    box-shadow: 1px 1px 8px -3px rgba(0,0,0,0.3);" hidden>
                            <tr>
                                <th>Start</th>
                                <th>End</th>
                                <th>Rate</th>
                            </tr>
                            <tbody id='commission_rates_m'>
                            </tbody>
                        </table>
                </div>

                <div class="clearfix"></div>
                
                <div class="form-field col-xs-12 col-sm-6 center-margin padd-it">
                    <label class="col-md-4">Sales Target</label>
                    <div class="col-sm-8 <?php if(isset($error_slab)){echo 'is-invalid';}?>">
                        <div id="amount" class="amount"></div>
                        <div id="commission-range"></div>
                        <input type="hidden" name="slab_in">
                        <input type="hidden" name="slab_out">
                        <span class="mdl-textfield__error"><?php echo (isset($error_slab)) ? $error_slab : ""; ?></span>
                    </div>
                </div>

                <div class="form-field col-xs-12 col-sm-6 center-margin padd-it">
                    <label class="col-md-4">Commission</label>
                    <div class="col-md-8 <?php if(isset($error_commission_rate)){echo 'is-invalid';}?>">
                        <input type="text" value="0" name="commission_rate" size="3" class="text-center">%
                        <span class="mdl-textfield__error"><?php echo (isset($error_commission_rate)) ? $error_commission_rate : ""; ?></span>
                    </div>
                </div>
                
                <div class="clearfix"></div>

                <div class="mdl-card__actions padd-it text-center">

                    <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--primary">
                        <?=$text_add_commission;?>
                    </button>
                </div>
            </form>
        </div>
       
    </div>
</div>




<script>
$("select[name='agent_name']").change(function(){
        $('.mdl-progress').show();
        $("#commission_rates_m").parent().attr("hidden", "hidden");
        var id = $(this).val();
        $.ajax({
            url : '?route=salesAgent/getCommissionRates&employee_id='+id,
            type : 'GET',
            dataType : 'json',
            success: function(returnData){
                commission = returnData.commission;
                if(commission.length > 0) 
                    $("#commission_rates_m").parent().removeAttr("hidden");

                    $("#commission_rates_m").html("");
                for (i = 0; i < commission.length; i++) {
                    console.log(commission[i].slab_in);
                    str = "";
                    str += "<tr>";
                    str += "    <td>"+commission[i].slab_in+"&euro;</td>";
                    str += "    <td>"+commission[i].slab_out+"&euro;</td>";
                    str += "    <td>"+commission[i].commission_rate+"%</td>";
                    str += "</tr>";
                    $("#commission_rates_m").append(str);
                }
               $('.mdl-progress').hide();
            }
        });      

});    

$(document).ready( function() {
    var a = <?php if(isset($slab_in)) echo $slab_in; else echo 10000; ?>;
    var b = <?php if(isset($slab_out)) echo $slab_out; else echo 40000; ?>;;

    $( "#commission-range" ).slider({
      range: true,
      min: 0,
      max: 50000,
      values: [a, b],
      slide: function( event, ui ) {
        $( "#amount" ).html( "&euro;" + ui.values[ 0 ] + " - &euro;" + ui.values[ 1 ] );
    $("input[name='slab_in']").val(ui.values[ 0 ]);
    $("input[name='slab_out']").val(ui.values[ 1 ]);
      }
    });
    $( "#amount" ).html( "&euro;" + $( "#commission-range" ).slider( "values", 0 ) +
      " - &euro;" + $( "#commission-range" ).slider( "values", 1 ) );
    $("input[name='slab_in']").val($( "#commission-range" ).slider( "values", 0 ));
    $("input[name='slab_out']").val($( "#commission-range" ).slider( "values", 1 ));
  } );        
</script>