<div class="center-margin col-xs-12 col-sm-4 col-md-6 head">
    <form action="" method="post" >
        <div class="form-card mdl-card   col-xs-12 col-sm-8 col-md-6">
            <div class="form-header">
                <h4><?=$text_title_create;?></h4>
            </div>
            <div class="form-content">
                <div class="form-field col-xs-12 text-center">
                    <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect radio-btn" for="company">
                    <input type="radio" id="company" class="mdl-radio__button " name="radio" checked />Company</label>

                    <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect radio-btn" for="individual">
                    <input type="radio" id="individual" class="mdl-radio__button " name="radio" checked />Individual</label>
                </div>
                    <div class="clearfix"></div>
                    <div class="form-field col-xs-12">
                        <label class="col-md-4"><?= $text_client_type; ?></label>
                        <div class="col-xs-12 col-sm-8">
                            <div class="mdl-textfield mdl-js-textfield <?php if(isset($error_client_type)){echo 'is-invalid';}?>">
                                <select name="client_type" id="client-type" class="field form-control">
                                    <option value="">Select Type</option>
                                    <?php foreach ($client_types as $client) {?>
                                    <option value="<?php echo $client['client_type_id'] ?>"<?php if(isset($client_type) && $client_type == $client['client_type_id']) echo "selected"; ?>><?php echo $client['title']; ?></option>
                                    <?php }?>
                                </select>
                                <span class="mdl-textfield__error"><?php echo (isset($error_client_type)) ? $error_client_type : ""; ?></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-field col-xs-12 ">
                        <label class="col-md-4"><?= $text_username_c; ?></label>
                        <div class="col-xs-12 col-sm-8">
                            <div class="mdl-textfield mdl-js-textfield <?php if(isset($error_company_name)){echo 'is-invalid';}?>">
                                <label class="mdl-textfield__label" for="name"></label>
                                <input class="form-control" type="text" id="name" name="company_name" <?php if(isset($company_name)) echo 'value="'.$company_name.'"'; ?>>
                                <span class="mdl-textfield__error"><?php if(isset($error_company_name)){echo $error_company_name;}?></span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-field col-xs-12">
                        <label class="col-md-4"><?= $text_email; ?></label>
                        <div class="col-xs-12 col-sm-8">
                            <div class="mdl-textfield mdl-js-textfield <?php if(isset($error_email)){echo 'is-invalid';}?>">
                                <input class="form-control" type="email" id="email" name="email" <?php if(isset($email)) echo 'value="'.$email.'"'; ?>>
                                <label class="mdl-textfield__label" for="email"></label>
                                <span class="mdl-textfield__error"><?php if(isset($error_email)){echo $error_email;}?></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-field col-xs-12">
                        <label class="col-md-4"><?= $text_password; ?></label>
                        <div class="col-xs-12 col-sm-8">
                            <div class="mdl-textfield mdl-js-textfield <?php if(isset($error_password)){echo 'is-invalid';}?>">
                                <input class="form-control" type="password" id="password" name="password" <?php if(isset($password)) echo 'value="'.$password.'"'; ?>>
                                <label class="mdl-textfield__label" for="email"></label>
                                <span class="mdl-textfield__error"><?php if(isset($error_email)){echo $error_email;}?></span>
                            </div>
                        </div>
                    </div>

                    
                    <div class="form-field col-xs-12">
                        <label class="col-md-4"><?= $text_phone; ?></label>
                        <div class="col-xs-12 col-sm-8">
                            <div class="mdl-textfield mdl-js-textfield <?php if(isset($error_phone)){echo 'is-invalid';}?>">
                                <input class="form-control" type="number" id="phone" name="phone" <?php if(isset($phone)) echo 'value="'.$phone.'"'; ?>>
                                <label class="mdl-textfield__label" for="phone"></label>
                                <span class="mdl-textfield__error"><?php if(isset($error_phone)){echo $error_phone;}?></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-field col-xs-12">
                        <label class="col-md-4"><?= $text_address_c; ?></label>
                        <div class="col-xs-12 col-sm-8">
                            <div class="mdl-textfield mdl-js-textfield <?php if(isset($error_address)){echo 'is-invalid';}?>">
                                <textarea class="form-control" id="address" name="address" ><?php if(isset($address)) echo $address; ?></textarea>
                                <label class="mdl-textfield__label" for="address"></label>
                                <span class="mdl-textfield__error"><?php if(isset($error_address)){echo $error_address;}?></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-field col-xs-12">
                        <label class="col-md-4"><?= $text_register_address; ?></label>
                        <div class="col-xs-12 col-sm-8">
                            <div class="mdl-textfield mdl-js-textfield <?php if(isset($error_address)){echo 'is-invalid';}?>">
                                <textarea class="form-control" id="address" name="address" ><?php if(isset($address)) echo $address; ?></textarea>
                                <label class="mdl-textfield__label" for="address"></label>
                                <span class="mdl-textfield__error"><?php if(isset($error_address)){echo $error_address;}?></span>
                            </div>
                        </div>
                    </div>


                    <div class="form-field col-xs-12">
                        <label class="col-md-4"><?= $text_set_credit_limit; ?></label>
                        <div class="col-xs-12 col-sm-8">
                            <div class="mdl-textfield mdl-js-textfield <?php if(isset($error_credit_limit)){echo 'is-invalid';}?>">
                                <input class="form-control" type="text" id="set_limit" name="credit_limit" <?php if(isset($credit_limit)) echo 'value="'.$credit_limit.'"'; ?>>
                                <label class="mdl-textfield__label" for="set_limit"></label>
                                <span class="mdl-textfield__error"><?php if(isset($error_credit_limit)){echo $error_credit_limit;}?></span>
                            </div>
                        </div>
                    </div>

                    <div class="i_number form-field col-xs-12">
                        <label class="col-md-4"><?= $text_intercommunataire; ?></label>
                        <div class="col-xs-12 col-sm-8 ">
                            <div class="mdl-textfield mdl-js-textfield   <?php if(isset($error_intercommunataire_number)){echo 'is-invalid';}?>">
                                <input class="form-control number" type="text" id="set_limit" name="intercommunataire_number" <?php if(isset($intercommunataire_number)) echo 'value="'.$intercommunataire_number.'"'; ?>>
                                <label class="mdl-textfield__label" for="set_limit"></label>
                                <span class="mdl-textfield__error"><?php if(isset($error_intercommunataire_number)){echo $error_intercommunataire_number;}?></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-field col-xs-12">
                        <label class="col-md-4"><?= $text_document_upload; ?></label>
                        <div class="col-xs-12 col-sm-8">
                            <div class="mdl-textfield mdl-js-textfield <?php if(isset($error_bfa_document)){echo 'is-invalid';}?>">
                                <input class="form-control" type="file" id="set_limit" name="bfa_document" <?php if(isset($bfa_document)) echo 'value="'.$bfa_document.'"'; ?>>
                                <label class="mdl-textfield__label" for="set_limit"></label>
                                <span class="mdl-textfield__error"><?php if(isset($error_bfa_document)){echo $error_bfa_document;}?></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-field col-xs-12">
                        <label class="col-md-4">K-bis</label>
                        <div class="col-xs-12 col-sm-8">
                            <div class="mdl-textfield mdl-js-textfield <?php if(isset($error_k_bis)){echo 'is-invalid';}?>">
                                <input class="form-control" type="file" id="set_limit" name="k_bis" <?php if(isset($k_bis)) echo 'value="'.$k_bis.'"'; ?>>
                                <label class="mdl-textfield__label" for="set_limit"></label>
                                <span class="mdl-textfield__error"><?php if(isset($error_k_bis)){echo $error_k_bis;}?></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-field col-xs-12">
                        <label class="col-md-4">RIB</label>
                        <div class="col-xs-12 col-sm-8">
                            <div class="mdl-textfield mdl-js-textfield <?php if(isset($error_rib)){echo 'is-invalid';}?>">
                                <input class="form-control" type="file" id="set_limit" name="rib" <?php if(isset($rib)) echo 'value="'.$rib.'"'; ?>>
                                <label class="mdl-textfield__label" for="set_limit"></label>
                                <span class="mdl-textfield__error"><?php if(isset($error_rib)){echo $error_rib;}?></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-field col-xs-12">
                        <label class="col-md-4">Papier entete</label>
                        <div class="col-xs-12 col-sm-8">
                            <div class="mdl-textfield mdl-js-textfield <?php if(isset($error_papier_entete)){echo 'is-invalid';}?>">
                                <input class="form-control" type="file" id="set_limit" name="papier_entete" <?php if(isset($papier_entete)) echo 'value="'.$papier_entete.'"'; ?>>
                                <label class="mdl-textfield__label" for="set_limit"></label>
                                <span class="mdl-textfield__error"><?php if(isset($error_papier_entete)){echo $error_papier_entete;}?></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-field col-xs-12">
                        <label class="col-md-4">Pieces didentite</label>
                        <div class="col-xs-12 col-sm-8">
                            <div class="mdl-textfield mdl-js-textfield <?php if(isset($error_pieces_didentite)){echo 'is-invalid';}?>">
                                <input class="form-control" type="file" id="set_limit" name="pieces_didentite" <?php if(isset($pieces_didentite)) echo 'value="'.$pieces_didentite.'"'; ?>>
                                <label class="mdl-textfield__label" for="set_limit"></label>
                                <span class="mdl-textfield__error"><?php if(isset($error_pieces_didentite)){echo $error_pieces_didentite;}?></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-field col-xs-12">
                        <label class="col-md-4">Liasse Fiscale</label>
                        <div class="col-xs-12 col-sm-8">
                            <div class="mdl-textfield mdl-js-textfield <?php if(isset($error_liasse_fiscale)){echo 'is-invalid';}?>">
                                <input class="form-control" type="file" id="set_limit" name="liasse_fiscale" <?php if(isset($liasse_fiscale)) echo 'value="'.$liasse_fiscale.'"'; ?>>
                                <label class="mdl-textfield__label" for="set_limit"></label>
                                <span class="mdl-textfield__error"><?php if(isset($error_liasse_fiscale)){echo $error_liasse_fiscale;}?></span>
                            </div>
                        </div>
                    </div>

                  <h5 class="text-center authorised_name"><?= $text_authorized_person; ?></h5>
                    <div class="form-field col-xs-12 ">
                        <label class="col-md-4"><?= $text_person_name; ?></label>
                        <div class="col-xs-12 col-sm-8">
                            <div class="mdl-textfield mdl-js-textfield <?php if(isset($error_authorized_name)){echo 'is-invalid';}?>">
                                <label class="mdl-textfield__label" for="name"></label>
                                <input class="form-control" type="text" id="name" name="authorized_name" <?php if(isset($authorized_name)) echo 'value="'.$authorized_name.'"'; ?>>
                                <span class="mdl-textfield__error"><?php if(isset($error_authorized_name)){echo $error_authorized_name;}?></span>
                            </div>
                        </div>
                    </div>

                    
                    
                    <!--<div class="offer col-xs-12">
                        <h6 class="pull-left col-xs-4" id="on_purchase_c"><?= $text_on_purchase_of; ?></h6>
                        <h6 class="text-center col-xs-4" id="special_offer_c"><?= $text_special_offer; ?></h6>
                        
                    </div>
                    <div id="expense-con_c" class="form-content ">
                        
                    </div>

                    <div class="mdl-card__actions mdl-card--border no-border">
                        <button type="button" id="add-expense_c" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary center-block">
                         <?= $text_add; ?> 
                        </button>
                    </div>
                    <div id="select-b_c" class=" form-field col-xs-12 transition out">
                        <div class="col-xs-5">
                            <div class="col-xs-5">
                                <input class="" type="text" id="sample1">
                                <label class="" ></label>
                            </div>
                        </div>
                        <div class="col-xs-5">
                            <div class="col-xs-5">
                                <input class="" type="text" id="sample1">
                                <label class="" ></label>
                            </div>
                        </div>
                        <div class="col-xs-2 delete-expense_c"><i class="material-icons cancel-button">cancel</i></div>
                    </div>
 -->
                    
                   
                </div>
            
            <div class="mdl-card__actions mdl-card--border">
                <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent pull-right">
                    <?= $text_submit; ?>
                </button>
            </div>
        </div>
    </form>
</div>
    


 <script src="http://code.jquery.com/jquery-latest.js"></script>
<script>
    $("#company-btn").click(function () {
        MDialog.start({},"form",this,$("#modal-view"));
        MDialog.submitBtn.click(function(){
            $("#company-form").submit();
        });
        MDialog.resetBtn.click(function(){
            $("#company-form").reset();
        });
    });
    $("#individual-btn").click(function () {
        MDialog.start({},"form",this,$("#modal-view2"));
        MDialog.submitBtn.click(function(){
            $("#individual-form").submit();
        });
        MDialog.resetBtn.click(function(){
            $("#individual-form").reset();
        });
    });
    $("#client-type").change(function(){
        console.log($(this).val());
        if($(this).val() == 1){
            $(".company").removeClass("out");
            $(".individual").addClass("out");
        }else{
            $(".company").addClass("out");
            $(".individual").removeClass("out");
        }
    });
    var count = 1;
    function addNode() {
        count++;
        var node = $("#select-b").clone();
        node.attr("id", "");
        node.attr("name", "expense_" + count);
       // node.attr("hidden",false);
        $($(node.children()[0]).children()[0]).selectize({
            sortField: 'text',
            theme: 'links'
        });
        node.children(".delete-expense").click(function () {
            $(this).parent().remove();
        });
        $("#expense-con").append(node);
        node.removeClass()
    }


    $("#add-expense").click(function () {
            addNode();

    });

    function addNodeC() {
        count++;
        var node = $("#select-b_c").clone();
        node.attr("id", "");
        node.attr("name", "expense_" + count);
       // node.attr("hidden",false);
        $($(node.children()[0]).children()[0]).selectize({
            sortField: 'text',
            theme: 'links'
        });
        node.children(".delete-expense_c").click(function () {
            $(this).parent().remove();
        });
        $("#expense-con_c").append(node);
        node.removeClass()
    }


    $("#add-expense_c").click(function () {
            addNodeC();

    });

$(document).ready(function(){
    if($("input[name='company']").val() == "1")
        $('.i_number').show('fast');
    else $('.i_number').hide('fast');
    $('#individual').click(function(){
        $('.i_number').hide('fast');
        
    });
    $('#company').click(function(){
        $('.i_number').show('fast');
    });
});

</script>


