<style>

    .notification-card {
        padding: 0px;
        height: fit-content;
    }

    .notification-card > .card-title {
        margin: 0px;
        padding: 27px;
        background-color: #1976D2;
        color: white;
    }

    .notification-card > .card-title > small {
        color: white;
    }

    .notification-tile > .card-content {
        height: 12px;
        padding: 0px 24px;
        color: #0000008a;
    }

    .message-card {
        max-height: 300px;
    }

    .message-card > .card-content {
        height: 136px;
        padding: 0 25px;
    }

    .message-card > .card-content > h6 {
        margin: 0px;
        font-weight: 700;
    }

    .card-title {
        padding: 0px 30px;
    }

    .card-action {
        padding: 12px;
    }

    .notification-tile {
        height: 100px;
        width: 100%;
        border-bottom: 1px solid #EBEBEB;
        transition: 0.4s;
    }

    .notification-tile.expand {
        min-height: fit-content;
    }

    .notifications {
        height: 0px;
        min-height: 0px;
        overflow: hidden;
        transition: 0.4s;
        padding: 0px 13px;
    }

    .notifications.expand {
        min-height: fit-content !important;
    }

    .notification-tile > .title {
        margin: 0px !important;
        padding: 15px 22px;
    }

    .notification-tile:hover {
        background-color: #f3f3f3;
    }

    .notification-tile > .action {
        padding: 3px 15px;
        display: flow-root;

    }




    .overview-card {
        color: white;
    }

    .overview-card.text-black {
        color: black;
    }

    .overview-card > h5 {
        margin: 0px;
        padding: 17px;
        background-color: inherit;
        color: inherit;
        border-bottom: 1px solid #0000001f;
    }
    .overview-card> .card-content {
        background-color: inherit;
        color: inherit;
    }
    .overview-card> .card-content > ul{
        background-color: inherit;
        color: inherit;
    }

    .overview-card> .card-content > ul > li{
        background-color: inherit;
        color: inherit;
    }
    .overview-card> .card-content > ul > li:hover{
        background-color: rgba(0, 0, 0, 0.06);
    }
    .mdl-color--blue-300 i{
    color:#023c6b;

}
.mdl-color--orange-300 i{
    color:#9c6007;
}
.mdl-color--green-300 i{
    color:#035a07;
}
.mdl-color--teal-300 i{
    color:#02544d;
}
.mdl-color--deep-purple-300 i{
    color: #2b0371;
}
.mdl-color--indigo-300 i{
    color:#091869;
}
.mdl-color--blue-grey-300 i{
    color:#232425;
}
</style>

<div class="mdl-grid">

    <div class=" mdl-cell mdl-cell--12-col mdl-grid">
        <!-- <div class="overview-card text-black mdl-card mdl-shadow--2dp  mdl-cell mdl-cell--3-col mdl-color--white">
            <h5 class="card-title mdl-color--blue-300 mdl-color-text--white">Sales Agent
                <i class="fa fa-user pull-right" aria-hidden="true"></i></h5>
            <div class="card-content" >
                <ul class="demo-list-item mdl-list">
                    <li class="mdl-list__item">
                        <a href="?route=salesAgent/createSalesAgent"><span class="mdl-list__item-primary-content ">
                            Create Sales Agent
                        </span></a>
                    </li>
                    <li class="mdl-list__item">
                        <a href="?route=salesAgent/viewSalesAgent"><span class="mdl-list__item-primary-content ">
                            View Sales Agent
                        </span></a>
                    </li>
                    <li class="mdl-list__item">
                        <a href="?route=salesAgent/commission"><span class="mdl-list__item-primary-content ">
                            Set Commission
                        </span></a>
                    </li>
                </ul>
            </div>
        </div> -->
        <div class="overview-card text-black mdl-card mdl-shadow--2dp  mdl-cell mdl-cell--3-col mdl-color--white">
            <h5 class="card-title mdl-color--orange-300 mdl-color-text--white">Client
            <i class="fa fa-male pull-right" aria-hidden="true"></i></h5>
            <div class="card-content" >
                <ul class="demo-list-item mdl-list">
                    <li class="mdl-list__item">
                        <a href="?route=client/createClient"><span class="mdl-list__item-primary-content ">
                            Create Client
                        </span></a>
                    </li>
                    <li class="mdl-list__item">
                        <a href="?route=client/viewClient"><span class="mdl-list__item-primary-content ">
                            View Client
                        </span></a>
                    </li>
                    <li class="mdl-list__item">
                        <a href="?route=client/assign"><span class="mdl-list__item-primary-content ">
                           Client to Agent
                        </span></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="overview-card text-black mdl-card mdl-shadow--2dp  mdl-cell mdl-cell--3-col mdl-color--white">
            <h5 class="card-title mdl-color--green-300 mdl-color-text--white">Sales Order
                <i class="fa fa-briefcase pull-right" aria-hidden="true"></i></h5>
            <div class="card-content" >
                <ul class="demo-list-item mdl-list">
                    <li class="mdl-list__item">
                        <a href="?route=salesOrder/newOrder"><span class="mdl-list__item-primary-content ">
                            New Order
                        </span></a>
                    </li>
                    <li class="mdl-list__item">
                        <a href="?route=salesOrder/viewSalesOrder"><span class="mdl-list__item-primary-content ">
                            View Orders
                        </span></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="overview-card text-black mdl-card mdl-shadow--2dp  mdl-cell mdl-cell--3-col mdl-color--white">
            <h5 class="card-title mdl-color--teal-300 mdl-color-text--white">Stock
                <i class="fa fa-building pull-right" aria-hidden="true"></i></h5>
            <div class="card-content" >
                <ul class="demo-list-item mdl-list">
                    
                    <li class="mdl-list__item">
                        <a href="?route=stock/viewStock"><span class="mdl-list__item-primary-content">
                            View Stock
                        </span></a>
                    </li>

                </ul>
            </div>
        </div>
        <div class="overview-card  text-black mdl-card mdl-shadow--2dp  mdl-cell mdl-cell--3-col mdl-color--white">
            <h5 class="card-title mdl-color--deep-purple-300 mdl-color-text--white">Return Order
            <i class="fa fa-shopping-basket pull-right" aria-hidden="true"></i></h5>
            <div class="card-content" >
                <ul class="demo-list-item mdl-list">
                    <li class="mdl-list__item">
                        <a href="?route=return/createRo"><span class="mdl-list__item-primary-content ">
                            Create Return Order
                        </span></a>

                    </li>
                    <li class="mdl-list__item">
                        <a href="?route=return/roPending"><span class="mdl-list__item-primary-content">
                            RO Pending
                        </span></a>

                    </li>
                    <li class="mdl-list__item">
                        <a href="?route=return/roHistory"><span class="mdl-list__item-primary-content">
                            RO History
                        </span></a>

                    </li>

                </ul>
            </div>
        </div>

        <div class="overview-card  text-black mdl-card mdl-shadow--2dp  mdl-cell mdl-cell--3-col mdl-color--white">
            <h5 class="card-title mdl-color--indigo-300 mdl-color-text--white">Agent Invoice
                <i class="fa fa-list pull-right" aria-hidden="true"></i></h5>
            <div class="card-content" >
                <ul class="demo-list-item mdl-list">
                    <li class="mdl-list__item">
                        <a href="?route=agentInvoice/commissionHistory"><span class="mdl-list__item-primary-content ">
                            Commission Invoices
                        </span></a>

                    </li>
                    

                </ul>
            </div>
        </div>

         

        <div class="overview-card  text-black mdl-card mdl-shadow--2dp  mdl-cell mdl-cell--3-col mdl-color--white">
            <h5 class="card-title mdl-color--blue-grey-300 mdl-color-text--white">Reports
            <i class="fa fa-list-alt pull-right" aria-hidden="true"></i></h5>
            <div class="card-content" >
                <ul class="demo-list-item mdl-list">
                    <li class="mdl-list__item">
                        <a href="?route=report/purchase"><span class="mdl-list__item-primary-content ">
                            Reports
                        </span></a>
                    </li>

                </ul>
            </div>

        </div>
    </div>

    <!-- <div class="mdl-cell mdl-cell--6-col mdl-grid">
        <div class="notification-card mdl-card mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--12-col">
            <h4 class="card-title"><?= $text_notifications; ?>
                <small>All</small>
            </h4>
            <div class="notification-tile" style="border-left:3px solid #3F51B5">
                <h5 class="title"><span><?= $text_minimum_stock; ?></span>
                    <small class="pull-right">Just now</small>
                </h5>
                <div class="card-content">2 new notifcations.</div>
                <div class="notifications">
                    <ul class="demo-list-item mdl-list">
                        <li class="mdl-list__item">
                            <span class="mdl-list__item-primary-content">
                                Item Name - Vendor name
                            </span>
                            <span class="mdl-list__item-primary-content">
                                20
                            </span>
                        </li>
                        <li class="mdl-list__item">
                            <span class="mdl-list__item-primary-content">
                                Item Name - Vendor name
                            </span>
                            <span class="mdl-list__item-primary-content">
                                20
                            </span>
                        </li>
                    </ul>
                </div>
                <div class="action"><span></span>
                    <button class="mdl-button mdl-js-button mdl-button--icon pull-right tile-expand-btn">
                        <i class="material-icons">expand_more</i>
                    </button>
                </div>
            </div>
            <div class="notification-tile" style="border-left:3px solid #8BC34A">
                <h5 class="title"><span><?= $text_stock_update; ?></span>
                    <small class="pull-right">2 Mins ago</small>
                </h5>
                <div class="card-content">2 new notifcations.</div>
                <div class="action"><span></span>
                    <button class="mdl-button mdl-js-button mdl-button--icon pull-right tile-expand-btn">
                        <i class="material-icons">expand_more</i>
                    </button>
                </div>
            </div>
            <div class="notification-tile" style="border-left:3px solid #FF9800">
                <h5 class="title"><span><?= $text_order_dispatch; ?></span>
                    <small class="pull-right">An Hour ago</small>
                </h5>
                <div class="card-content">4 new notifcations.</div>
                <div class="action"><span></span>
                    <button class="mdl-button mdl-js-button mdl-button--icon pull-right tile-expand-btn">
                        <i class="material-icons">expand_more</i>
                    </button>
                </div>
            </div>
            <div class="notification-tile" style="border-left:3px solid #FF5722">
                <h5 class="title"><span><?= $text_new_item_alert; ?></span>
                    <small class="pull-right">1 Day ago</small>
                </h5>
                <div class="card-content">3 new notifcations.</div>
                <div class="action"><span></span>
                    <button class="mdl-button mdl-js-button mdl-button--icon pull-right tile-expand-btn">
                        <i class="material-icons">expand_more</i>
                    </button>
                </div>
            </div>
            <div class="notification-tile" style="border-left:3px solid #4CAF50">
                <h5 class="title"><span><?= $text_order_dispatch; ?></span>
                    <small class="pull-right">1 Week ago</small>
                </h5>
                <div class="card-content">4 new notifcations.</div>
                <div class="action"><span></span>
                    <button class="mdl-button mdl-js-button mdl-button--icon pull-right tile-expand-btn">
                        <i class="material-icons">expand_more</i>
                    </button>
                </div>
            </div>
        </div>

    </div> -->
</div>

<script>

    $(".tile-expand-btn").click(function () {
        $(this).parent().parent().addClass("expand");
        $(this).parent().parent().children(".notifications").addClass("expand");
        $(this).parent().parent().children(".card-content").addClass("out");
    });
</script>



