
<div class="center-margin col-xs-12 col-sm-4 col-md-6  ">
    <form action="" method="post" enctype="multipart/form-data">
        <div class="form-card mdl-card mdl-shadow--2dp col-xs-12">
            <div class="form-header">
                <h4>Edit Sales Agent</h4>
            </div>
            <div class="form-content">
                <div class="form-field col-xs-12">
                    <label class="col-md-4"><?=$text_username; ?></label>
                    <div class="col-xs-12 col-sm-8">
                        <div class="mdl-textfield mdl-js-textfield <?php if(isset($error_username)){echo 'is-invalid';}?>">
                            <label class="mdl-textfield__label" for="name"></label>
                            <input class="form-control" type="text" id="name" name="username" <?php if(isset($username)) echo 'value="'.$username.'"'; ?>>
                           <span class="mdl-textfield__error"><?php if(isset($error_username)){echo $error_username;}?></span>
                        </div>
                    </div>
                </div>

                <div class="form-field col-xs-12">
                    <label class="col-md-4"><?=$text_sales_agent_name; ?></label>
                    <div class="col-xs-12 col-sm-8">
                        <div class="mdl-textfield mdl-js-textfield <?php if(isset($error_name)){echo 'is-invalid';}?>">
                            <label class="mdl-textfield__label" for="name"></label>
                            <input class="form-control" type="text" id="name" name="name" <?php if(isset($name)) echo 'value="'.$name.'"'; ?>>
                            <span class="mdl-textfield__error"><?=$text_field_required;?></span>
                        </div>
                    </div>
                </div>

                <!--<div class="form-field col-xs-12">
                    <label class="col-md-4"><?=$text_last_name; ?></label>
                    <div class="col-xs-12 col-sm-8">
                        <div class="mdl-textfield mdl-js-textfield <?php if(isset($error_last_name)){echo 'is-invalid';}?>">
                            <label class="mdl-textfield__label" for="name"></label>
                            <input class="form-control" type="text" id="name" name="last_name" <?php if(isset($last_name)) echo 'value="'.$last_name.'"'; ?>>
                            <span class="mdl-textfield__error"><?=$text_field_required;?></span>
                        </div>
                    </div>
                </div>-->

                <div class="form-field col-xs-12">
                    <label class="col-md-4"><?=$text_email_createsales; ?></label>
                    <div class="col-xs-12 col-sm-8">
                        <div class="mdl-textfield mdl-js-textfield <?php if(isset($error_email)){echo 'is-invalid';}?>">
                            <input class="form-control" type="email" id="email" name="email" <?php if(isset($email)) echo 'value="'.$email.'"'; ?>>
                            <label class="mdl-textfield__label" for="email"></label>
                            <span class="mdl-textfield__error"><?=$text_field_required;?></span>
                        </div>
                    </div>
                </div>

              <div class="form-field col-xs-12">
                    <label class="col-md-4"><?=$text_password; ?></label>
                    <div class="col-xs-12 col-sm-8">
                        <div class="mdl-textfield mdl-js-textfield <?php if(isset($error_password)){echo 'is-invalid';}?>">
                            <input class="form-control" type="password" id="pass" name="password" <?php if(isset($password)) echo 'value="'.$password.'"'; ?>>
                            <label class="mdl-textfield__label" for="pass"></label>
                            <span class="mdl-textfield__error"><?=$text_field_required;?></span>
                        </div>
                    </div>
                </div>

                <div class="form-field col-xs-12">
                    <label class="col-md-4"><?=$text_phone_createsales; ?></label>
                    <div class="col-xs-12 col-sm-8">
                        <div class="mdl-textfield mdl-js-textfield <?php if(isset($error_phone)){echo 'is-invalid';}?>">
                            <input class="form-control" type="number" id="phone"  name="phone" <?php if(isset($phone)) echo 'value="'.$phone.'"'; ?>>
                            <label class="mdl-textfield__label" for="phone"></label>
                            <span class="mdl-textfield__error"><?=$text_field_required;?></span>
                        </div>
                    </div>
                </div>

                <div class="form-field col-xs-12">
                    <label class="col-md-4"><?=$text_address_createsales; ?></label>
                    <div class="col-xs-12 col-sm-8">
                        <div class="mdl-textfield mdl-js-textfield <?php if(isset($error_address)){echo 'is-invalid';}?>">
                            <textarea class="form-control" id="address" name="address" ><?php if(isset($address)) echo ".$address."; ?></textarea>
                            <label class="mdl-textfield__label" for="address"></label>
                            <span class="mdl-textfield__error"><?=$text_field_required;?></span>
                        </div>
                    </div>
                </div>

                <div class="form-field col-xs-12">
                    <label class="col-md-4"><?=$text_city; ?></label>
                    <div class="col-xs-12 col-sm-8">
                        <div class="mdl-textfield mdl-js-textfield <?php if(isset($error_city)){echo 'is-invalid';}?>">
                            <input class="form-control" id="city" name="city" <?php if(isset($city)) echo 'value="'.$city.'"'; ?>>
                            <label class="mdl-textfield__label" for="city"></label>
                            <span class="mdl-textfield__error"><?=$text_field_required;?></span>
                        </div>
                    </div>
                </div>

                <div class="form-field col-xs-12">
                    <label class="col-md-4"><?=$text_postal_code; ?></label>
                    <div class="col-xs-12 col-sm-8">
                        <div class="mdl-textfield mdl-js-textfield <?php if(isset($error_postal_code)){echo 'is-invalid';}?>">
                            <input class="form-control" id="postal_code" name="postal_code" <?php if(isset($postal_code)) echo 'value="'.$postal_code.'"'; ?>>
                            <label class="mdl-textfield__label" for="postal_code"></label>
                            <span class="mdl-textfield__error"><?=$text_field_required;?></span>
                        </div>
                    </div>
                </div>

                <!-- <div class="form-field col-xs-12">
                    <label class="col-md-4"><?=$text_travel_limit; ?></label>
                    <div class="col-xs-12 col-sm-8">
                        <div class="mdl-textfield mdl-js-textfield <?php if(isset($error_travel_limit)){echo 'is-invalid';}?>">
                            <input class="form-control" type="text" id="travel" name="travel_limit" <?php if(isset($travel_limit)) echo 'value="'.$travel_limit.'"'; ?>>
                            <label class="mdl-textfield__label" for="travel"></label>
                            <span class="mdl-textfield__error"><?=$text_field_required;?></span>
                        </div>
                    </div>
                </div>
 -->

                <div class="form-field col-xs-12">
                    <label class="col-md-4"><?=$text_set_commission_rate; ?></label>
                    <div class="col-xs-12 col-sm-8">
                        <div class="mdl-textfield mdl-js-textfield <?php if(isset($error_commission_rate)){echo 'is-invalid';}?>">
                            <input class="form-control" type="text" id="rate" name="commission_rate" <?php if(isset($commission_rate)) echo 'value="'.$commission_rate.'"'; ?>>
                            <label class="mdl-textfield__label" for="rate"></label>
                            <span class="mdl-textfield__error"><?=$text_field_required;?></span>
                        </div>
                    </div>
                </div>


                <!-- <div class="form-field col-xs-12">
                    <label class="col-md-4"><?=$text_allocate_client; ?></label>
                    <div class="col-xs-12 col-sm-8">
                        <div class="mdl-textfield mdl-js-textfield <?php if(isset($error_client)){echo 'is-invalid';}?>">
                            <select name="client" id="" class="selectize" >
                                <option value="">Select Clients</option>
                                    <?php foreach ($clients as $client_d) {?>
                                    <option value="<?php echo $client_d['client_id'] ?>" <?php if(isset($client) && $client == $client_d['client_id']) echo "selected"; ?>><?php echo $client_d['company_name']; ?></option>
                                    <?php }?>
                            </select>
                            <span class="mdl-textfield__error"><?=$text_field_required;?></span>
                        </div>
                    </div>
                </div> -->


                


            </div>

            <div class="mdl-card__actions mdl-card--border">
                <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent pull-right">
                    Update
                </button>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">

   

    $("#create-btn").click(function(){
        var hasError = false;

        if($("#erer").val() == ""){
            hasError = true;
        }

        return !hasError ;

    });

     $('form').submit(function(e){
       e.preventDefault();
       var id = "<?php echo (int)$_GET['employee_id']; ?>";
       var formData = $('form').serialize();
        $.ajax({
            url : '?route=salesAgent/editSalesAgent&employee_id='+id,
            type : 'POST',
            dataType : 'json',
            data : formData,
            beforeSend: function(){
                $('.mdl-progress').show();
            },
            complete: function(){
                $('.mdl-progress').hide();
                var snackbarContainer = document.querySelector('#snackbar-notify');
                var handler = function(event) {
                    location='?route=salesAgent/viewSalesAgent';
                };
                    var data = {
                        message: 'Changes Updated',
                        timeout: 2000,
                        actionHandler: handler,
                        actionText: 'Okay'
                    };
                    // snackbarContainer.MaterialSnackbar.showSnackbar(data);

            },
            success: function(returnData){
                if(returnData.status) {

                }
            }
        });
    });

     

    
</script>