<style>




</style>



<div class="center-margin col-xs-12 col-sm-12 col-md-8">
    <form action="" method="post" enctype="multipart/form-data">
        <div class="form-card mdl-card mdl-shadow--2dp col-xs-12">
            <div class="form-header">
                <h4><?= $text_title; ?></h4>
            </div>

            <div class="form-content">
                <div class="form-field col-xs-12">
                    <div class="col-xs-12 col-sm-12">
                        <div class="">
                            <select id="person-select" multiple name="receivers[]">
                                <option value=""><?= $text_send_to; ?></option>
                            </select>
                            <div class="error_text" id="sender_error"><?= $text_sender_empty; ?></div>
                        </div>
                    </div>
                </div>

                <div class="form-field col-xs-12">
                    <div class="col-xs-12 col-sm-12">
                        <div class="mdl-textfield mdl-js-textfield">
                            <input class="mdl-textfield__input" type="text" id="sample1" name="subject">
                            <label class="mdl-textfield__label" for="sample1"><?= $text_subject; ?></label>
                        </div>
                    </div>
                </div>

                <div class="form-field col-xs-12">
                    <div class="col-xs-12 col-sm-12">
                        <div class="mdl-textfield mdl-js-textfield">
                            <textarea class="mdl-textfield__input" type="text" rows= "3" id="sample5" name="body"></textarea>
                            <label class="mdl-textfield__label" for="sample5"><?= $text_text_lines; ?></label>
                        </div>
                    </div>
                </div>
                <div class="form-field col-xs-12">
                    <div class="col-xs-12 col-sm-12">
                        <input type="file" multiple name="attachment[]">
                    </div>
                    <div class="error_text" id="attachment_error"><?php if (isset($error_attachment)) echo $error_attachment;?></div>
                </div>

            </div>
            <div class="mdl-card__actions mdl-card--border">
                <button id="send-button" type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent pull-right">
                    <?= $text_send; ?
                </button>
            </div>
        </div>
    </form>



</div>


<script>


    $("#sender_error").hide();

    $(document).ready(function () {

        $("#send-button").click(function () {
            var has_error = false;
            if($("#person-select").val().length == 0){
                has_error = true;
                $("#sender_error").show();
            }else{
                has_error = false;
                $("#sender_error").hide();
            }

            return !has_error;
        });


        $('#person-select').selectize({
            plugins: ['remove_button'],
            persist: false,
            maxItems: null,
            valueField: 'id',
            labelField: 'name',
            searchField: ['name', 'type'],
            options: [
                <?php foreach ($users_list as $users){?>
                {type: "<?=$users['title']?>", name: "<?=$users['username']?>",id:"<?=$users['user_id']?>"},
                <?php }?>
            ],
            render: {
                item: function(item, escape) {
                    return '<div>' +
                        (item.name ? '<span class="name">' + escape(item.name) + '</span>' : '') +
//                        (item.type ? '<span class="email">' + escape(item.type) + '</span>' : '') +
                        '</div>';
                },
                option: function(item, escape) {
                    var label = item.name || item.type;
                    var caption = item.name ? item.type : null;
                    return '<div>' +
                        '<span class="label">' + escape(label) + '</span>' +
                        (caption ? '<span class="caption">' + escape(caption) + '</span>' : '') +
                        '</div>';
                }
            }
        });
    });


</script>