<div class="center-margin col-xs-12">


    <div class="mdl-cell mdl-cell--12-col mdl-grid mdl-grid--no-spacing">
        <div class="mdl-cell mdl-cell--4-col mdl-grid mdl-grid--no-spacing">
            <ul class="btn-grp">
                <li>
                    <button id="weekly-btn" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                        Weekly
                    </button>
                </li>

                <li>
                    <button id="monthly-btn" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                        Monthly
                    </button>
                </li>

                <li>
                    <button id="quaterly-btn" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                        Quarterly
                    </button>
                </li>

                <li class="selected">
                    <button id="yearly-btn" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                        Yearly
                    </button>
                </li>

            </ul>
        </div>

        <div class="mdl-cell mdl-cell--4-col mdl-grid mdl-grid--no-spacing">
            <ul class="date-iterator ">
                <li>
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
                        <i class="material-icons">keyboard_arrow_left</i>
                    </button>
                </li>
                <li class="data">
                    2017
                </li>
                <li>
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
                        <i class="material-icons">keyboard_arrow_right</i>
                    </button>
                </li>
            </ul>
        </div>

        <div class="mdl-cell mdl-cell--4-col mdl-grid mdl-grid--no-spacing">
            <select class="field selectize mdl-cell mdl-cell--6-col ">
                <option value="all">All Clients</option>
                <option value="1">Vendor1</option>
                <option value="2">Vendor1</option>
            </select>

            <select class="field selectize mdl-cell mdl-cell--6-col">
                <option value="all">All Items</option>
                <option value="1">Item 1</option>
                <option value="2">Item 2</option>
            </select>
        </div>
    </div>


    <div class=" mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid mdl-card-padding">
        <canvas id="main" width="400" height="80"></canvas>
    </div>

    <div class="mdl-cell mdl-cell--12-col mdl-grid mdl-grid-s">
        <div class=" mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--12-col mdl-cell--9-col-desktop mdl-grid">
            <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-desktop">
                <div class="text-center donut-label">40%</div>
                <div>
                    <canvas id="donut-completed" width="200" height="100"></canvas>
                </div>
                <div class="text-center donut-heading">Completed</div>

            </div>
            <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-desktop">
                <div class="text-center donut-label">20%</div>
                <canvas id="donut-pending" width="200" height="100"></canvas>
                <div class="text-center donut-heading">Pending</div>
            </div>
            <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-desktop">
                <div class="text-center donut-label">50%</div>
                <canvas id="donut-cancelled" width="200" height="100"></canvas>
                <div class="text-center donut-heading">Cancelled</div>
            </div>
        </div>
        <div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col-tablet mdl-cell--3-col-desktop mdl-grid mdl-card-padding">
            <ul class="demo-list-item mdl-list">
                <li class="mdl-list__item">
                    <span class="mdl-list__item-primary-content">
                        Completed Orders
                    </span>
                    <span class="mdl-list__item-secondary-content">
                        2000
                    </span>
                </li>
                <li class="mdl-list__item">
                    <span class="mdl-list__item-primary-content">
                        Pending Orders
                    </span>
                    <span class="mdl-list__item-secondary-content">
                        3000
                    </span>
                </li>
                <li class="mdl-list__item">
                    <span class="mdl-list__item-primary-content">
                        Canceled Orders
                    </span>
                    <span class="mdl-list__item-secondary-content">
                        1000
                    </span>
                </li>
                <li class="mdl-list__item">
                    <span class="mdl-list__item-primary-content" style="font-weight: 700">
                        Total Orders
                    </span>
                    <span class="mdl-list__item-secondary-content" style="font-weight: 700">
                        6000
                    </span>
                </li>
            </ul>
        </div>
    </div>

    <div class=" mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid mdl-card-no-padding">
        <table class="mdl-data-table mdl-js-data-table  md-table col-xs-12">
            <thead>
            <tr>
                <th class="mdl-data-table__cell--non-numeric"><?= $text_order_id; ?></th>
                <th class="mdl-data-table__cell--non-numeric"><?= $text_order_date; ?></th>
                <th class="mdl-data-table__cell--non-numeric">Client Name</th>
                <th class="mdl-data-table__cell--non-numeric">Sales Agent</th>
            </tr>
            </thead>
            <tbody>
            <tr class="parent-row" id="row-1">
                <td class="mdl-data-table__cell--non-numeric">1</td>
                <td class="mdl-data-table__cell--non-numeric">Lorem ipsum.</td>
                <td class="mdl-data-table__cell--non-numeric">Lorem.</td>
                <td class="mdl-data-table__cell--non-numeric">Lorem.</td>

            </tr>

            <!--            <tr class="child-row child-row-collapse" for="row-1">-->
            <!--                <td class="child-row-collapse" colspan="6">-->
            <!--                    <div>-->
            <!--                        <table class="child-table ">-->
            <!--                            <tr>-->
            <!--                                <th class="mdl-data-table__cell--non-numeric">-->
            <? //=$text_item_id;?><!--</th>-->
            <!--                                <th class="mdl-data-table__cell--non-numeric">-->
            <? //=$text_item_name;?><!--</th>-->
            <!--                                <th class="mdl-data-table__cell--non-numeric">-->
            <? //=$text_brand_name;?><!--</th>-->
            <!--                                <th class="mdl-data-table__cell--non-numeric">-->
            <? //=$text_discount_rate;?><!--</th>-->
            <!--                            </tr>-->
            <!--                            <tr>-->
            <!--                                <td class="mdl-data-table__cell--non-numeric">55</td>-->
            <!--                                <td class="mdl-data-table__cell--non-numeric">2555</td>-->
            <!--                                <td class="mdl-data-table__cell--non-numeric">3%</td>-->
            <!--                                <td class="mdl-data-table__cell--non-numeric">2%</td>-->
            <!--                            </tr>-->
            <!--                        </table>-->
            <!--                    </div>-->
            <!--                </td>-->
            <!--            </tr>-->

            <tr class="parent-row" id="row-2">
                <td class="mdl-data-table__cell--non-numeric">1</td>
                <td class="mdl-data-table__cell--non-numeric">Lorem ipsum.</td>
                <td class="mdl-data-table__cell--non-numeric">Lorem.</td>
                <td class="mdl-data-table__cell--non-numeric">Lorem.</td>

            </tr>

            <tr class="parent-row" id="row-3">
                <td class="mdl-data-table__cell--non-numeric">1</td>
                <td class="mdl-data-table__cell--non-numeric">Lorem ipsum.</td>
                <td class="mdl-data-table__cell--non-numeric">Lorem.</td>
                <td class="mdl-data-table__cell--non-numeric">Lorem.</td>

            </tr>

            <tr class="parent-row" id="row-4">
                <td class="mdl-data-table__cell--non-numeric">1</td>
                <td class="mdl-data-table__cell--non-numeric">Lorem ipsum.</td>
                <td class="mdl-data-table__cell--non-numeric">Lorem.</td>
                <td class="mdl-data-table__cell--non-numeric">Lorem.</td>

            </tr>


            <tr class="parent-row" id="row-5">
                <td class="mdl-data-table__cell--non-numeric">1</td>
                <td class="mdl-data-table__cell--non-numeric">Lorem ipsum.</td>
                <td class="mdl-data-table__cell--non-numeric">Lorem.</td>
                <td class="mdl-data-table__cell--non-numeric">Lorem.</td>

            </tr>


            </tbody>
        </table>
    </div>


</div>


<script>

    var ctx = $("#main");
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
            datasets: [{
                label: '# of Votes',
                data: [12, 19, 3, 5, 2, 3, 12, 19, 3, 5, 2, 3],
                backgroundColor: [
                    'rgba(25,118,209, 0.8)',
                    'rgba(243,67,54, 0.8)',
                    'rgba(232,30,99, 0.8)',
                    'rgba(156,39,176, 0.8)',
                    'rgba(103,58,183, 0.8)',
                    'rgba(63,81,181, 0.8)',
                    'rgba(0,188,211, 0.8)',
                    'rgba(254,192,7, 0.8)',
                    'rgba(254,87,34, 0.8)',
                    'rgba(156,39,176, 0.8)',
                    'rgba(243,67,54, 0.8)',
                    'rgba(0,188,211, 0.8)',
                ],
                borderColor: [
                    'rgba(25,118,209, 0.8)',
                    'rgba(243,67,54, 0.8)',
                    'rgba(232,30,99, 0.8)',
                    'rgba(156,39,176, 0.8)',
                    'rgba(103,58,183, 0.8)',
                    'rgba(63,81,181, 0.8)',
                    'rgba(0,188,211, 0.8)',
                    'rgba(254,192,7, 0.8)',
                    'rgba(254,87,34, 0.8)',
                    'rgba(156,39,176, 0.8)',
                    'rgba(243,67,54, 0.8)',
                    'rgba(0,188,211, 0.8)',
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            },
            legend: {
                display: false
            }
        }
    });

    //var donutTotal = $("#donut-total");
    var donutCompleted = $("#donut-completed");
    var donutPending = $("#donut-pending");
    var donutCancelled = $("#donut-cancelled");

    var dataSet1 = {
        labels: ["", "Completed"],
        datasets: [{
            data: [67, 33],
            backgroundColor: [
                'rgba(229,229,229, 1)',
                'rgba(172,236,0, 1)'

            ],
            borderColor: [
                'rgba(229,229,229, 1)',
                'rgba(172,236,0, 1)'
            ],
            borderWidth: 1
        }]
    };

    var opt = {
        cutoutPercentage: 80,
        legend: {
            display: false,

        }
    };

    var dataSet2 = {
        labels: ["", "Pending"],
        datasets: [{
            data: [50, 50],
            backgroundColor: [
                'rgba(229,229,229, 1)',
                'rgba(0,187,214, 1)'

            ],
            borderColor: [
                'rgba(229,229,229, 1)',
                'rgba(0,187,214, 1)'
            ],
            borderWidth: 1
        }]
    };

    var dataSet3 = {
        labels: ["", "Cancelled"],
        datasets: [{
            data: [50, 50],
            backgroundColor: [
                'rgba(229,229,229, 1)',
                'rgba(239,60,121, 1)'

            ],
            borderColor: [
                'rgba(229,229,229, 1)',
                'rgba(239,60,121, 1)'
            ],
            borderWidth: 1
        }]
    };


    var dTChart = new Chart(donutCompleted, {
        type: 'doughnut',
        data: dataSet1,
        options: opt
    });

    var dTChart2 = new Chart(donutPending, {
        type: 'doughnut',
        data: dataSet2,
        options: opt
    });

    var dTChart3 = new Chart(donutCancelled, {
        type: 'doughnut',
        data: dataSet3,
        options: opt
    });


</script>