<?php include_once "header.view.html"; ?>

<div class="center-margin col-xs-12  ">
    <div class="table-card mdl-card col-xs-12">
        <div class="table-header">
            <h4><?= $text_title; ?>
                <!--<button class="mdl-button mdl-js-button mdl-button--icon pull-right">
                    <i class="material-icons">refresh</i>
                </button>-->
            </h4>

            
        </div>
        <table class="mdl-data-table mdl-js-data-table col-xs-12">
            <thead>
            <tr>
                <th class="mdl-data-table__cell--non-numeric"><?=$text_client_id;?></th>
                <th class="mdl-data-table__cell--non-numeric clickable"><?= $text_name_c; ?></th>
                <th class="mdl-data-table__cell--non-numeric clickable"><?= $text_email_c; ?></th>
                <th class="mdl-data-table__cell--non-numeric clickable"><?= $text_password; ?></th>
                <th class="mdl-data-table__cell--non-numeric clickable"><?= $text_phone_c; ?></th>
                <th class="mdl-data-table__cell--non-numeric clickable"><?= $text_address_c; ?></th>
                <th class="mdl-data-table__cell--non-numeric clickable"><?= $text_credit_limit; ?></th>
                <th class="mdl-data-table__cell--non-numeric clickable">Person Responsible</th>
                <th class="mdl-data-table__cell--non-numeric"><?= $text_action_c; ?></th>
            </tr>
            </thead>
            <tbody>
                <?php foreach ($clients as $client) { ?>
                <tr id="<?=$client['client_id']?>">
                    <td class="mdl-data-table__cell--non-numeric clickable"><?php echo $client["client_id"]; ?></td>
                    <td class="mdl-data-table__cell--non-numeric clickable"><?php echo $client["company_name"]; ?></td>
                    <td class="mdl-data-table__cell--non-numeric clickable"><?php echo $client["email_id"]; ?></td>
                    <td class="mdl-data-table__cell--non-numeric clickable"><?php echo $client["password"]; ?></td>
                    <td class="mdl-data-table__cell--non-numeric clickable"><?php echo $client["phone"]; ?></td>
                    <td class="mdl-data-table__cell--non-numeric clickable"><?php echo $client["address"]; ?></td>
                    <td class="mdl-data-table__cell--non-numeric clickable"><?php echo $client["credit_limit"]; ?>&euro;</td>
                    <td class="mdl-data-table__cell--non-numeric clickable"><?php echo $client["authorized_name"]; ?></td>
                    <td class="mdl-data-table__cell--non-numeric">
                        <!--<button id="1" class="mdl-button mdl-js-button mdl-button--icon alert-button mdl-button--primary">
                            <i class="material-icons">error_outline</i>
                        </button>-->
                        <button id="btn-ap-2" class="mdl-button mdl-js-button mdl-button--icon 
                            mdl-button--colored" onclick="getDetails(this);">
                            <i class="material-icons">info</i>
                        </button>
                        <div class="mdl-tooltip mdl-tooltip--large" for="btn-ap-2"><?=$text_details;?></div>
                        <a href="?route=client/editClient&client_id=<?= $client['client_id']; ?>">

                            <button id="2" class="mdl-button mdl-js-button mdl-button--icon ">
                                <i class="material-icons">edit</i>
                            </button>
                        </a>
                        <div class="mdl-tooltip" for="2">
                            <?= $text_edit; ?>
                        </div>

                    </td>
                </tr>
                <?php }?>
                <tr><td colspan="9">
                    <?php echo $pagination; ?>
                </td></tr>
            </tbody>
        </table>
    </div>
</div>

<!-- <div id="modal-view2" hidden>
    <div class="view-title">
        <?= $text_change_request; ?>
    </div>
    <div class="view-body">
        <div class="form-content">
            <table class=" col-xs-12 col-md-6 details">
                <tbody>
                    <tr>
                        <td class="col-xs-6 head"><?= $text_name_c; ?></td>
                        <td class="">26/5/2017</td>
                    </tr>
                    <tr>
                        <td class="col-xs-6 head"><?= $text_address_c; ?></td>
                        <td>Some Address</td>
                    </tr>
                    <tr>
                        <td class="col-xs-6 head"><?= $text_phone_c; ?></td>
                        <td>7878545555</td>
                    </tr>
                </tbody>
            </table>
            <table class=" col-xs-12 col-md-6 details">
                <tbody>
                    <tr>
                        <td class="col-xs-6 head"><?= $text_email_c; ?></td>
                        <td>client@gmail.com</td>
                    </tr>
                    <tr>
                        <td class="col-xs-6 head"><?= $text_credit_limit; ?></td>
                        <td>50000</td>
                    </tr>
                    <tr>
                        <td class="col-xs-6 head"><?= $text_proposed_by; ?></td>
                        <td>Agent1</td>
                    </tr>

                    <tr>
                        <td class="col-xs-6 head"><?= $text_agent_contact; ?></td>
                        <td>757555255</td>
                    </tr>
                </tbody>
            </table>
            <div class="col-xs-12 ">
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                    <?= $text_approve; ?>
                </button>
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent pull-right">
                   <?= $text_disapprove; ?>
                </button>
            </div>
        </div>
    </div>
</div>` -->

<div id="modal-view" hidden>
    <div class="view-title">
        <?= $text_client_details; ?>
    </div>
    <div class="view-body">

        <div class="form-content">
           <div>
                 <div class="text-right">
                        <button id="print-btn" class="mdl-button mdl-js-button mdl-button--icon mdlbutton--colored edit-button" onclick="window.print()">
                            <i class="material-icons">print</i>
                        </button>
                        <div class="mdl-tooltip mdl-tooltip--large" for="print-btn">Print</div>

                        <!-- <button id="cancel-order" class="mdl-button mdl-js-button mdl-button--icon mdlbutton--colored edit-button" data-order="" onclick="confirmDeletion(this, 1);">
                            <i class="material-icons text-danger">delete</i>
                        </button>
                        <div class="mdl-tooltip mdl-tooltip--large" for="cancel-order">Cancel Order</div> -->
                    </div>

                    <table class="order_details table-striped col-xs-12 col-sm-6">
                            <tr>
                                <td><?php echo $text_client_id; ?>:</td>
                                <td id="client_id_m">#</td>
                            </tr>
                            <tr>
                                <td><?=$text_client_name;?>:</td>
                                <td id="client_name_m"></td>
                            </tr>
                            <tr>
                                <td><?=$text_email;?>:</td>
                                <td id="client_email_m"></td>
                            </tr>
                            
                            
                    </table>
                    <table class="order_details  table-striped col-xs-12 col-sm-6">
                            <tr>
                                <td><?=$text_phone;?>:</td>
                                <td id="client_phone_m"></td>
                            </tr>
                            <tr>
                                <td>Assigned Agent :</td>
                                <td id="assign_agent_m">***</td>
                            </tr>
                            <tr>
                                <td>Address :</td>
                                <td id="client_address_m"></td>
                            </tr>
                            
                            

                    </table>
                </div>
                <div class="clearfix"></div>
                <hr>
            <table class="mdl-data-table mdl-js-data-table  md-table col-xs-12 ">
                <thead>
                <tr>
                    <th class="mdl-data-table__cell--non-numeric"><?= $text_order_id; ?></th>
                    <th class="mdl-data-table__cell--non-numeric"><?= $text_order_date; ?></th>
                    <th class="mdl-data-table__cell--non-numeric"><?= $text_order_status; ?></th>
                    <th class="mdl-data-table__cell--non-numeric"><?= $text_ttc; ?></th>
                    

                </tr>
                </thead>
                <tbody id="order_items"></tbody>
            </table>
        </div>
    </div>

</div>

<div  hidden>

    <table>
        <tbody id="orders-template">
            <tr>
              <td class="mdl-data-table__cell--non-numeric __order_id" ></td>
              <td class="mdl-data-table__cell--non-numeric __order_date" ></td>
              <td class="mdl-data-table__cell--non-numeric __order_status" ></td>
              <td class="mdl-data-table__cell--non-numeric __ttc">&euro;</td>
              <!-- <td class="mdl-data-table__cell--non-numeric __buttons">
                <button type="button" id="tt2" class="open-btn image mdl-button mdl-js-button mdl-button--icon mdl-button--colored">
                    <i class="material-icons">collections</i>
                </button>
                <button type="button" id="tt2" class="open-btn pdf mdl-button mdl-js-button mdl-button--icon mdl-button--accent ">
                    <i class="material-icons">picture_as_pdf</i>
                </button>
            </td> -->
        </tr>
    </tbody>
</table>

</div>



<script>

     function getDetails(e) {
        var id = $(e).parent().parent().attr("id");
        $.ajax({
            url : '?route=client/getClientDetails&client_id='+id,
            type : 'GET',
            dataType : 'json',
            success: function(returnData){
                console.log(returnData);
                data = returnData.client_details;
                orderList = returnData.order_details;
                order_status = returnData.order_status;
                $("#modal-view > .view-title").html();
                $("#client_id_m").html("#"+data.client_id);
                $("#assign_agent_m").html(data.assigned_agent.name);
                $("#client_name_m").html(data.company_name);
                $("#client_email_m").html(data.email_id);
                $("#client_address_m").html(data.address);
                $("#client_authorize_name_m").html(data.authorized_name);
                $("#client_phone_m").html(data.phone);
                $("#set_limit_m").html(data.credit_limit);
                 for(var i = 0; i < orderList.length; i++){
                     var node = $("#orders-template").children().clone();
                     node.children(".__order_id").html(orderList[i].order_id);
                     node.children(".__order_date").html(orderList[i].order_date);
                     node.children(".__order_status").html(order_status[orderList[i].order_status]);
                     if (orderList[i].order_status == 2) node.children(".__order_status").addClass("text-warning");
                     if (orderList[i].order_status == 4) node.children(".__order_status").addClass("text-success");
                    if (orderList[i].order_status == 9) node.children(".__order_status").addClass("text-danger");
                     node.children(".__ttc").prepend(orderList[i].ttc);



                     $("#order_items").append(node);
                 }
                MDialog.start({},"detail",this,$("#modal-view"));
            }
        });

    }

    function openAttachment() {
        var id = $(this).parent().parent().parent().attr("id");
        var button = $(this);
        $.ajax({
            url : '?route=client/getClientDetails&client_id='+id,
            type : 'GET',
            dataType : 'json',
            success: function(returnData){
                itemAttach = returnData.item_details;
                if(button.hasClass("pdf")){
                    if(itemAttach.item_pdf == 0){
                      showSnackbar("No image uploaded");
                  }else{

                   window.open(itemAttach.item_pdf, '_blank');
               }
           }

           if(button.hasClass("image")){
            if(itemAttach[i].image == 0){
              showSnackbar("No image uploaded");
          }else{

            window.open(itemAttach[i].image, '_blank');
             MDialog.start({},"detail",this,$("#modal-view"));
            }
        } 
                      
    }
});  
    };
    $(".open-btn").click(openAttachment);

    $(".alert-button").click(function () {
        MDialog.start({}, "detail", this,$("#modal-view2"));
    });
</script>

