<?php include_once "header.view.html"; ?>

<div class="center-margin col-xs-12  ">

    <div class="table-card mdl-card col-xs-12">
        <div class="table-header">
            <h4>View Quotation
            </h4>

            <div id="t_wrap">
                <table class="mdl-data-table mdl-js-data-table col-xs-12 expandable">
                    <thead>
                        <tr>
                            <th class="mdl-data-table__cell--non-numeric">Quotation #</th>
                            <th class="mdl-data-table__cell--non-numeric">Date</th>
                            <th class="mdl-data-table__cell--non-numeric">Quotation Title</th>
                            <th class="mdl-data-table__cell--non-numeric"><?= $text_client_name; ?></th>
                            <th class="mdl-data-table__cell--non-numeric"><?= $text_order_action; ?></th>
                        </tr>
                    </thead>
                    <tbody id="order-body">
                    </tbody>
                    <?php if($pagination !== ""): ?>
                    <tfoot>
                        <tr>
                            <td colspan="6"><?php echo $pagination; ?></td>
                        </tr>
                    </tfoot>
                    <?php endif; ?>
                </table>
            </div>
        </div>
    </div>


        <table id="order_template" hidden>
            <tbody>
                <tr class="parent-row" id="">
                    <td class="mdl-data-table__cell--non-numeric __order_id"></td>
                    <td class="mdl-data-table__cell--non-numeric __order_date"></td>
                    <td class="mdl-data-table__cell--non-numeric __title"></td>
                    <td class="mdl-data-table__cell--non-numeric __client_name"></td>
                    <td class="mdl-data-table__cell--non-numeric clickable">
                        <button id="btn-ap-2" class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored" onclick="getDetails(this);">
                            <i class="material-icons">info</i>
                        </button>
                        <div class="mdl-tooltip mdl-tooltip--large" for="btn-ap-2"><?=$text_details;?></div>
                        <button id="btn-dap-2" class="mdl-button mdl-js-button mdl-button--icon mdl-button--accent delete-button" onclick="confirmDeletion(this);">
                            <i class="material-icons">delete</i>
                        </button>
                        <div class="mdl-tooltip mdl-tooltip--large" for="btn-dap-2"><?=$text_cancel;?></div>
                    </td>
                </tr>
            </tbody>
        </table>

</div>

<div id="modal-view" hidden>
    <div class="view-title">
        Quotation
    </div>
    <div class="view-body">
        <div class="form-content">
            <div>
                 <div class="text-right">
                        <button id="print-btn" class="mdl-button mdl-js-button mdl-button--icon mdlbutton--colored edit-button" onclick="window.print()">
                            <i class="material-icons">print</i>
                        </button>
                        <div class="mdl-tooltip mdl-tooltip--large" for="print-btn">Print</div>

                        <button id="cancel-order" class="mdl-button mdl-js-button mdl-button--icon mdlbutton--colored edit-button" data-order="" onclick="confirmDeletion(this, 1);">
                            <i class="material-icons text-danger">delete</i>
                        </button>
                        <div class="mdl-tooltip mdl-tooltip--large" for="cancel-order">Cancel Order</div>
                    </div>
                    <h6 id="qTitle" class="text-center" style="margin:0 0 10px;"></h6>
                    <table class="order_details table-striped col-xs-12 col-sm-6">
                            <tr>
                                <td>Quotation ID:</td>
                                <td id="order_id_m">#</td>
                            </tr>
                            <tr>
                                <td>Created On:</td>
                                <td id="order_date_m"></td>
                            </tr>
                            <tr>
                                <td><?=$text_client_name;?>:</td>
                                <td id="company_name_m"></td>
                            </tr>
                    </table>
                    <table class="order_details  table-striped col-xs-12 col-sm-6">
                            <tr>
                                <td>HT:</td>
                                <td><span id="htt_m" class="text-success"> &euro;</span></td>
                            </tr>
                            <tr>
                                <td>TVA:</td>
                                <td><span id="tva_m" class="text-danger">%</span></td>
                            </tr>
                            <tr>
                                <td> <?=$text_grand_total;?>:</td>
                                <td class="text-danger"><span id="ttc_m" class="text-danger"> &euro;</span></td>
                            </tr>

                    </table>
                </div>
                <div class="clearfix"></div>
                <hr>

            <table class="table mdl-data-table mdl-js-data-table  md-table col-xs-12 ">
                <thead>
                    <tr>
                        <th class="mdl-data-table__cell--non-numeric"><?= $text_reference; ?></th>
                        <th class="mdl-data-table__cell--non-numeric"><?= $text_item_name; ?></th>
                        <th class="mdl-data-table__cell--non-numeric"><?= $text_brand_name; ?></th>

                        <!-- <th class="mdl-data-table__cell--non-numeric"><?= $text_unit_price; ?></th> -->
                        <th class="mdl-data-table__cell--non-numeric">Offered Price</th>
                        <th class="mdl-data-table__cell--non-numeric"><?= $text_quantity; ?></th>
                        <th class="mdl-data-table__cell--non-numeric"><?= $text_total; ?></th>
                        <th class="mdl-data-table__cell--non-numeric">Approval Status</th>
                    </tr>
                </thead>
                <tbody id="item-table-body"></tbody>
            </table>
        </div>
    </div>


    <div hidden>

        <table class="mdl-data-table mdl-js-data-table  md-table col-xs-12 ">
            <tbody id = "item-order-node">
                <tr id="">
                    <td class="mdl-data-table__cell--non-numeric _r_reference">Lorem.</td>
                    <td class="mdl-data-table__cell--non-numeric _r_item_name">1</td>
                    <td class="mdl-data-table__cell--non-numeric _r_brand_name">Lorem ipsum.</td>

                    <!-- <td class="mdl-data-table__cell--non-numeric currency-euro _r_mrp">Lorem.</td> -->
                    <td class="mdl-data-table__cell--non-numeric  _r_sell_rate">&euro;</td>
                    <td class="mdl-data-table__cell--non-numeric _r_quantity"></td>
                    <td class="mdl-data-table__cell--non-numeric  _r_total">&euro;</td>
                    <td class="mdl-data-table__cell--non-numeric  _r_a_s"><a href="#" class="btn btn-xs btn-success">Mark Approved</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script>






    $(".edit-button").click(function () {
        showSnackbar("Edit Order");
        //this.
    });

    function confirmDeletion(e, id=0) {
        $("#modalConfirm .modal-title").html("Confirm Cancellation");
        if(id==0)
            id = $(e).parent().parent().attr("id");
        else
            id = $(e).attr("data-order");
        $("#modalConfirm .modal-body p").html("Are you sure you want to delete quotation # "+id+"?");
         $("#modalConfirm").modal("show");
         $(".btn-danger").click(function(){
            $.ajax({

                url : '?route=quotation/cancelOrder&order_id='+id,
                type : 'GET',
                dataType : 'text',
                beforeSend: function(){$(".mdl-progress").show();},
                complete: function(){$(".mdl-progress").hide();},
                success: function(){
                     $("#m-dialog-close-btn").trigger("click");
                     showSnackbar("Quotation has been Deleted");
                     loadItems();
                }
            })
         });
        //this.
    };

    function getDetails(e) {
        var id = $(e).parent().parent().attr("id");
        $.ajax({
            url: '?route=quotation/getOrderDetails&order_id=' + id,
            type: 'GET',
            dataType: 'json',
            success: function (returnData) {
                var orderItems = returnData.order_items;
                // var raisedBy = returnData.raised_by;
                var quotation = returnData.sales_order;

                if(quotation[0].expected_date == "00-00-0000") quotation[0].expected_date = "N/A";

                // $("#ttc_m").html(quotation[0].ttc+"&euro;");
                total = 0;
                $("#tva_m").html("20%");
                $("#cancel-order").attr("data-order", id);
                $("#qTitle").html(quotation[0].title);
                $("#order_id_m").html("#"+quotation[0].quotation_id);
                $("#order_date_m").html(quotation[0].created_at);
                $("#company_name_m").html(quotation[0].company_name);
                $("#client_address_m").html(quotation[0].address);
                $("#item-table-body").html("");
                $("#tva_m, #order_id_m").parent().parent().parent().attr("id", quotation[0].quotation_id);
                for(var i = 0; i < orderItems.length; i++){
                    var rowNode = $("#item-order-node").children().clone();
                    rowNode.attr("id", orderItems[i].reference);
                    rowNode.children("._r_reference").html(orderItems[i].reference);
                    rowNode.children("._r_item_name").html(orderItems[i].item_name);
                    rowNode.children("._r_brand_name").html(orderItems[i].brand_name);

                    // rowNode.children("._r_mrp").html(orderItems[i].mrp);
                    if(orderItems[i].status == 1){
                      rowNode.children("._r_sell_rate").html(orderItems[i].offered_rate + "&euro;");
                      rowNode.children("._r_quantity").html(orderItems[i].quantity);
                      rowNode.children("._r_a_s").html("<i class='fa fa-check text-success'></i>");
                    }else{
                      rowNode.children("._r_sell_rate").html("<input type='text' class='itemOffer' value='"+orderItems[i].offered_rate+"' data-i='"+orderItems[i].item_id+"' data-q='"+quotation[0].quotation_id+"'>");
                      rowNode.children("._r_quantity").html("<input type='number' class='itemOfferQuan' value='"+orderItems[i].quantity+"'  data-i='"+orderItems[i].item_id+"' data-q='"+quotation[0].quotation_id+"'>");
                      rowNode.children("._r_a_s").children("a").attr("data-i", orderItems[i].item_id);
                      rowNode.children("._r_a_s").children("a").attr("data-q", quotation[0].quotation_id);
                      rowNode.children("._r_a_s").children("a").click(markA);
                      rowNode.children("._r_sell_rate").children("input").change(itemOffer);
                      rowNode.children("._r_quantity").children("input").change(itemQuan);
                    }
                    var t = (orderItems[i].offered_rate*orderItems[i].quantity);
                    total+=t;
                    rowNode.children("._r_total").prepend(t.toFixed(2));
                    $("#item-table-body").append(rowNode);
                }
                $("#htt_m").html(total+"&euro;");
                tttotal = ((total*20)/100) + total;
                $("#ttc_m").html(tttotal+"&euro;");


                MDialog.start({}, "detail", this, $("#modal-view"));
            },
            error: function () {
                $(".mdl-progress").hide();
                showSnackbar("Can't load order details.");
            }


        });



    }

    function markA(){
      q = $(this).data().q;
      i = $(this).data().i;
      $.ajax({
        url: '?route=quotation/markApproved&i='+i+'&q='+q,
        type:"get",
        success:function(){
          $("#m-dialog-close-btn").trigger("click");
          showSnackbar("Item Approved");
        }
      });
    }

    function itemOffer(){
    val = $(this).val();
      if(val == "" || val == 0) return;
      $(this).parent().append("<div class='mask' style='padding:0;'></div>");
      q = $(this).data().q;
      i = $(this).data().i;
      $.ajax({
        url: '?route=quotation/offerChange&i='+i+'&q='+q,
        type:"post",
        data:{val:val},
        success:function(){
          showSnackbar("Price Updated");
          $(".mask").remove();
        }
      });
    }

    function itemQuan(){
    val = $(this).val();
      if(val == "" || val == 0) return;
      $(this).parent().append("<div class='mask' style='padding:0;'></div>");
      q = $(this).data().q;
      i = $(this).data().i;
      $.ajax({
        url: '?route=quotation/quanChange&i='+i+'&q='+q,
        type:"post",
        data:{val:val},
        success:function(){
          showSnackbar("Quantity Updated");
          $(".mask").remove();
        }
      });
    }

    var orderItemsFilter = [];



    var clientFilterList = [];
    var refFilterList = [];

    var tableheader = $("#table-head");

    function tableSort() {
        var th = $(this);
        if (th.hasClass("no-sort")) {
            console.log("NO");
            tableheader.children(".sortable").removeClass("mdl-data-table__header--sorted-ascending");
            tableheader.children(".sortable").removeClass("mdl-data-table__header--sorted-descending");
            tableheader.children(".sortable").addClass("mdl-data-table__header");
            tableheader.children(".sortable").addClass("no-sort");
            th.removeClass("no-sort");
            th.removeClass("mdl-data-table__header");
            th.addClass("mdl-data-table__header--sorted-ascending");
            loadItems();
            return;
        }

        if (th.hasClass("mdl-data-table__header--sorted-ascending")) {
            th.removeClass("mdl-data-table__header--sorted-ascending");
            th.addClass("mdl-data-table__header--sorted-descending");
            console.log("ASC");
            loadItems();
            return;
        }

        if (th.hasClass("mdl-data-table__header--sorted-descending")) {
            th.removeClass("mdl-data-table__header--sorted-descending");
            th.addClass("mdl-data-table__header");
            th.addClass("no-sort");
            console.log("DESC");
            loadItems();
        }

    }

    function loadItems() {
        $(".mdl-progress").show();
        //filterResults();
        var postData = {
            all: 1
        };
        if (tableheader.children(".sortable.mdl-data-table__header--sorted-ascending").length > 0) {
            postData.sort = "ASC";
            postData.sortField = $(tableheader.children(".sortable.mdl-data-table__header--sorted-ascending")[0]).attr("id");
        }
        if (tableheader.children(".sortable.mdl-data-table__header--sorted-descending").length > 0) {
            postData.sort = "DESC";
            postData.sortField = $(tableheader.children(".sortable.mdl-data-table__header--sorted-descending")[0]).attr("id");
        }

        $.ajax({
            url: '?route=quotation/getOrderList&all=1',
            type: 'POST',
            data: postData,
            dataType: 'json',
            success: function (returnData) {
                data = returnData.sales_list;
                order_status = returnData.order_status;
                $("#order-body").html("");
                for (var i = 0; i < data.length; i++) {
                    var rowNode = $("#order_template  > tbody > tr").clone(true);
                    rowNode.attr("id", data[i].quotation_id);
                    rowNode.children(".__order_id").html("#"+data[i].quotation_id);
                    rowNode.children(".__order_date").html(data[i].created_at);
                    rowNode.children(".__client_name").html(data[i].company_name);
                    rowNode.children(".__title").html(data[i].title);
                    if (data[i].order_status == 2) rowNode.children(".__status").addClass("text-warning");
                    rowNode.children(".__quantity").children("input").val();
                     if (data[i].item_pdf == 0) rowNode.children("._buttons").children(".pdf").hide();
                     if (data[i].image == 0) rowNode.children("._buttons").children(".image").hide();

                    $("#order-body").append(rowNode);

                }
                $(".mdl-progress").hide();
                showSnackbar("Data loaded.");
            },
            error: function () {
                $(".mdl-progress").hide();
                showSnackbar("Can't complete your request.");
            }
        });
    }

    $(document).ready(function () {
        $("#refresh-data-btn").click(loadItems);
        tableheader.children(".sortable").click(tableSort);
        loadItems();


    });




</script>
