<style type="text/css">
    .pagination{
        margin:0 !important;
    }
    .selectize-input{
        background-image: none !important;
        background-color:#fff !important;
        border:1px solid #aaa !important;
    }
</style>

<div class="center-margin col-xs-12  ">

    <div class="table-card mdl-card col-xs-12">
        <div class="table-header">
            <h4 style="margin-bottom: 15px;"><?= $text_title_orders; ?>
            </h4>
            <div class="form-group col-xs-6">
                    View:
                    <select id="order_type">
                        <option value="0">Pending Orders</option>
                        <option value="1">Completed Orders</option>
                        <option value="2">Cancelled Orders</option>
                    </select>
                </div>
            <div class="form-group col-xs-6 text-right">
                    <small>Results per page:</small>
                    <select name="limit" id="filter-limit">
                        <option value="15" selected>15</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                    </select>
                </div>
            <!-- <div class="form-group col-xs-3">
                <select name="client" id="filter-client" class="selectize" placeholder="Client">
                </select>
            </div> -->
            <div class="form-group col-xs-3">
                <select name="brand_name" id="filter-brand" class="selectize" placeholder="Brand Name">
                </select>
            </div>
            <div class="form-group col-xs-3">
                <select name="brand" id="filter-category" class="selectize" placeholder="Category">
                </select>
            </div>

            <div class="form-group col-xs-3">
                <select name="ref" id="filter-ref" class="selectize" placeholder="Reference">
                </select>
            </div>
            <select name="client_name" multiple class="field selectize-filter-items hidden">
                <option value=""><?=$text_search;?></option>
            </select>
        </div>
            <div id="t_wrap">
                <table class="mdl-data-table mdl-js-data-table col-xs-12 expandable">
                    <thead>
                        <tr>
                            <th class="mdl-data-table__cell--non-numeric"><?= $text_order_number; ?></th>
                            <th class="mdl-data-table__cell--non-numeric"><?= $text_order_date; ?></th>
                            <th class="mdl-data-table__cell--non-numeric"><?= $text_client_name; ?></th>
                            <th class="mdl-data-table__cell--non-numeric"><?= $text_delivery_address; ?></th>
                            <th class="mdl-data-table__cell--non-numeric"><?= $text_total_amount; ?></th>
                            <!-- <th class="mdl-data-table__cell--non-numeric">Status</th> -->
                            <th class="mdl-data-table__cell--non-numeric"><?= $text_order_action; ?></th>
                        </tr>
                    </thead>
                    <tbody id="order-body">
                    </tbody>
                </table>
            </div>
        </div>
    </div>


        <table id="order_template" hidden>
            <tbody>
                <tr class="parent-row" id="">
                    <td class="mdl-data-table__cell--non-numeric __order_id"></td>
                    <td class="mdl-data-table__cell--non-numeric __order_date"></td>
                    <td class="mdl-data-table__cell--non-numeric __client_name"></td>
                    <td class="mdl-data-table__cell--non-numeric __delivery_address"></td>
                    <td class="mdl-data-table__cell--non-numeric __total_amount">&euro; </td>
                   <!--  <td class="mdl-data-table__cell--non-numeric __status"> </td> -->
                    <td class="mdl-data-table__cell--non-numeric clickable">
                        <button id="btn-ap-2" class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored" onclick="getDetails(this);">
                            <i class="material-icons">info</i>
                        </button>
                        <div class="mdl-tooltip mdl-tooltip--large" for="btn-ap-2"><?=$text_details;?></div>
                        <button id="btn-dap-2" class="mdl-button mdl-js-button mdl-button--icon mdl-button--accent delete-button" onclick="confirmDeletion(this);">
                            <i class="material-icons">delete</i>
                        </button>
                        <div class="mdl-tooltip mdl-tooltip--large" for="btn-dap-2"><?=$text_cancel;?></div>
                    </td>
                </tr>
            </tbody>
        </table>

</div>

<div id="modal-view" hidden>
    <div class="view-title">
        Sales Order Details
    </div>
    <div class="view-body">
        <div class="form-content">
            <div>
                 <div class="text-right">
                        <button id="print-btn" class="mdl-button mdl-js-button mdl-button--icon mdlbutton--colored edit-button" onclick="window.print()">
                            <i class="material-icons">print</i>
                        </button>
                        <div class="mdl-tooltip mdl-tooltip--large" for="print-btn">Print</div>

                        <button id="cancel-order" class="mdl-button mdl-js-button mdl-button--icon mdlbutton--colored delete-button" data-order="" onclick="confirmDeletion(this);">
                            <i class="material-icons text-danger">delete</i>
                        </button>
                        <div class="mdl-tooltip mdl-tooltip--large" for="cancel-order">Cancel Order</div>
                    </div>

                    <table class="order_details table-striped col-xs-12 col-sm-6">
                            <tr>
                                <td><?php echo $text_order_id; ?>:</td>
                                <td id="order_id_m">#</td>
                            </tr>
                            <tr>
                                <td><?=$text_order_date;?>:</td>
                                <td id="order_date_m"></td>
                            </tr>
                            <tr>
                                <td><?=$text_delivery_date;?>:</td>
                                <td id="delivery_date_m"></td>
                            </tr>
                            <tr>
                                <td><?=$text_client_name;?>:</td>
                                <td id="company_name_m"></td>
                            </tr>
                            <tr>
                                <td><?=$text_delivery_address;?>:</td>
                                <td id="client_address_m"></td>
                            </tr>
                    </table>
                    <table class="order_details  table-striped col-xs-12 col-sm-6">
                            <tr>
                                <td>Person Responsible:</td>
                                <td id="person_responsible_m">***</td>
                            </tr>
                            <tr>
                                <td>Payment Mode:</td>
                                <td id="payment_mode_m"></td>
                            </tr>
                            <tr>
                                <td>HT:</td>
                                <td><span id="htt_m" class="text-success"> &euro;</span></td>
                            </tr>
                            <tr>
                                <td>TVA:</td>
                                <td><span id="tva_m" class="text-danger">%</span></td>
                            </tr>
                            <tr>
                                <td> <?=$text_grand_total;?>:</td>
                                <td class="text-danger"><span id="ttc_m" class="text-danger"> &euro;</span></td>
                            </tr>

                    </table>
                </div>
                <div class="clearfix"></div>
                <hr>

            <table class="mdl-data-table mdl-js-data-table  md-table col-xs-12 ">
                <thead>
                    <tr>
                        <th class="mdl-data-table__cell--non-numeric"><?= $text_reference; ?></th>
                        <th class="mdl-data-table__cell--non-numeric"><?= $text_item_name; ?></th>
                        <th class="mdl-data-table__cell--non-numeric"><?= $text_brand_name; ?></th>

                        <!-- <th class="mdl-data-table__cell--non-numeric"><?= $text_unit_price; ?></th> -->
                        <th class="mdl-data-table__cell--non-numeric"><?= $text_sell_rate; ?></th>
                        <th class="mdl-data-table__cell--non-numeric"><?= $text_quantity; ?></th>
                        <th class="mdl-data-table__cell--non-numeric"><?= $text_total; ?></th>
                    </tr>
                </thead>
                <tbody id="item-table-body"></tbody>
            </table>
        </div>
    </div>


    <div hidden>

        <table class="mdl-data-table mdl-js-data-table  md-table col-xs-12 ">
            <tbody id = "item-order-node">
                <tr id="">
                    <td class="mdl-data-table__cell--non-numeric _r_reference">Lorem.</td>
                    <td class="mdl-data-table__cell--non-numeric _r_item_name">1</td>
                    <td class="mdl-data-table__cell--non-numeric _r_brand_name">Lorem ipsum.</td>

                    <!-- <td class="mdl-data-table__cell--non-numeric currency-euro _r_mrp">Lorem.</td> -->
                    <td class="mdl-data-table__cell--non-numeric  _r_sell_rate">&euro;</td>
                    <td class="mdl-data-table__cell--non-numeric _r_quantity"></td>
                    <td class="mdl-data-table__cell--non-numeric  _r_total">&euro;</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script>






    $(".edit-button").click(function () {
        showSnackbar("Edit Order");
        //this.
    });

    function confirmDeletion(e, id=0) {
        $("#modalConfirm .modal-title").html("Confirm Cancellation");
        if(id==0)
            id = $(e).parent().parent().attr("id");
        else
            id = $(e).attr("data-order");
        $("#modalConfirm .modal-body p").html("Are you sure you want to cancel the order # "+id+"?");
         $("#modalConfirm").modal("show");
         $(".btn-danger").click(function(){
            $.ajax({

                url : '?route=salesOrder/cancelOrder&order_id='+id,
                type : 'GET',
                dataType : 'text',
                beforeSend: function(){$(".mdl-progress").show();},
                complete: function(){$(".mdl-progress").hide();},
                success: function(){
                     $('#t_wrap').load(document.URL +  ' #t_wrap');
                     showSnackbar("Order has been Cancelled");
                }
            })
         });
        //this.
    };

    function getDetails(e) {
        var id = $(e).parent().parent().attr("id");
        $.ajax({
            url: '?route=salesOrder/getOrderDetails&order_id=' + id,
            type: 'GET',
            dataType: 'json',
            success: function (returnData) {
                var orderItems = returnData.order_items;
                // var raisedBy = returnData.raised_by;
                var salesOrder = returnData.sales_order;

                if(salesOrder[0].expected_date == "00-00-0000") salesOrder[0].expected_date = "N/A";

                $("#ttc_m").html(salesOrder[0].ttc+"&euro;");
                $("#tva_m").html(salesOrder[0].tva);
                $("#htt_m").html(salesOrder[0].htt+"&euro;");
                $("#order_id_m").html("#"+salesOrder[0].order_id);
                $("#order_date_m").html(salesOrder[0].order_date);
                $("#company_name_m").html(salesOrder[0].company_name);
                $("#delivery_date_m").html(salesOrder[0].expected_date);
                $("#person_responsible_m").html(salesOrder[0].person_responsible);
                $("#client_address_m").html(salesOrder[0].delivery_other);
                $("#payment_mode_m").html(returnData.payment_mode[salesOrder[0].payment_mode]);
                $("#item-table-body").html("");
                for(var i = 0; i < orderItems.length; i++){
                    var rowNode = $("#item-order-node").children().clone();
                    rowNode.attr("id", salesOrder[0].order_id);
                    rowNode.children("._r_reference").click(changeItem);
                    rowNode.children("._r_reference").html(orderItems[i].reference);
                    rowNode.children("._r_item_name").html(orderItems[i].item_name);
                    rowNode.children("._r_brand_name").html(orderItems[i].brand_name);

                    // rowNode.children("._r_mrp").html(orderItems[i].mrp);
                    rowNode.children("._r_sell_rate").prepend(orderItems[i].rate);
                    rowNode.children("._r_quantity").html(orderItems[i].quantity);
                    var t = (orderItems[i].rate*orderItems[i].quantity);
                    rowNode.children("._r_total").prepend(t.toFixed(2));
                    $("#item-table-body").append(rowNode);
                }


                MDialog.start({}, "detail", this, $("#modal-view"));
            },
            error: function () {
                $(".mdl-progress").hide();
                showSnackbar("Can't load order details.");
            }


        });



    }

    var selectBoxItem;
    var selctizedBoxInstanceItem;

    var orderItemsFilter = [];

    function initItemFilterSelectBox() {
        selectBoxItem = $(".selectize-filter-items").selectize({
            onItemAdd: itemAddListener,
            onItemRemove: itemRemoveListener,
            options: [
                {id: 'time_1', type: 'date', label: 'Last day'},
                {id: 'time_2', type: 'date', label: 'Last one week'},
                {id: 'time_3', type: 'date', label: 'Last Two week'},
                {id: 'time_4', type: 'date', label: 'Last Month'},
            ],
            optgroups: [
                {id: 'client', name: 'Client'},
                {id: 'item', name: 'Item'},
                {id: 'date', name: 'By Added on'},
                {id: 'ref', name: 'Ref#'}
            ],
            labelField: 'label',
            valueField: 'id',
            optgroupField: 'type',
            optgroupLabelField: 'name',
            optgroupValueField: 'id',
            optgroupOrder: ['client', 'item', 'date', 'ref'],
            searchField: ['label'],
            plugins: ['optgroup_columns', 'remove_button'],
            maxItems:4,
            maxOptions : 10

        });
        if (selectBoxItem.length != 0) selctizedBoxInstanceItem = selectBoxItem[0].selectize;
    }
    var lastDateItemId = "";
    function itemAddListener(value, item){
        var item = $(item);
        var id = selctizedBoxInstanceItem.options[value].id;
        var type = selctizedBoxInstanceItem.options[value].type;
        var label = selctizedBoxInstanceItem.options[value].label;
        if(type == "date"){
            item.css("background-color","#1565c0");
            if(lastDateItemId != "")selctizedBoxInstanceItem.removeItem(lastDateItemId, false);
            lastDateItemId = id;
            loadItemsSelectBox();
        }
        if(type == "client"){
            loadItemsSelectBox();
            item.css("background-color","#00695c");
        }
        if(type == "item")item.css("background-color","#2e7d32");

        if(type == "ref"){
            item.css("background-color","#0277bd");
            loadItemsSelectBox();
        }

        loadItems();

    }
    function itemRemoveListener(value){
        var type = selctizedBoxInstanceItem.options[value].type;
        loadItemsSelectBox();
        loadItems();
    }

    var clientFilterList = [];
    var itemIdFilterList = [];
    var refFilterList = [];
    var dateFilter = [];
    var categoryFilterList = [];
    var brandFilter = [];

    function loadItemsSelectBox(){
        filterResults();
        if(clientFilterList.length == 0 && dateFilter.length == 0) {
            clearItemOptions();
            return;
        }
        $(".mdl-progress").show();
        var postData = {
            all: 1,
            clientList : clientFilterList,
            dateFilter : dateFilter,
            refFilterList: refFilterList,
            list:'item'
        };
        $.ajax({
            url: '?route=salesOrder/getItemsList&all=1',
            type: 'POST',
            data: postData,
            dataType: 'json',
            success: function (returnData) {
                clearItemOptions();
                data = returnData.itemList;
                for(var i = 0; i < data.length ; i++){
                    //console.log(data[i]);
                    selctizedBoxInstanceItem.addOption({id : "item-"+data[i].item_id, type: "item", label: (data[i].item_name + "-" + data[i].reference)});
                }
                selctizedBoxInstanceItem.refreshOptions(false);
            },
            error: function () {
                $(".mdl-progress").hide();
                showSnackbar("Can't load client list.");
            }
        });

    }


    function loadClientsSelectBox(){
        $.ajax({
            url: '?route=salesOrder/getClientsList&all=1',
            type: 'GET',
            dataType: 'json',
            success: function (returnData) {
                data = returnData.client_list;
                for(var i = 0; i < data.length ; i++){
                    selctizedBoxInstanceItem.addOption({id : data[i].client_id, type: "client", label: (data[i].name)});
                }
                selctizedBoxInstanceItem.refreshOptions(false);
            },
            error: function () {
                $(".mdl-progress").hide();
                showSnackbar("Can't load client list.");
            }
        });
    }
    function loadRefSelectBox(multi=true){
        client_id = 0;
        brand_name = "";
        category = 0;
        ot = $("#order_type").val();
        if(!multi){
            client_id = clientFilterList[0];
            brand_name = brandFilter[0];

            if(categoryFilterList[0] != undefined)
                category = categoryFilterList[0];
        }
        $("#filter-ref").selectize()[0].selectize.clearOptions();
        $.ajax({
            url: '?route=salesOrder/getRefList&all=1&client_id='+client_id+'&brand_name='+brand_name+'&category='+category+'&ot='+ot,
            type: 'GET',
            dataType: 'json',
            success: function (returnData) {
                data = returnData.ref_list;
                for(var i = 0; i < data.length ; i++){
                    if(multi)
                        selctizedBoxInstanceItem.addOption({id : data[i].reference, type: "ref", label: ("#"+data[i].reference)});
                    else
                        $("#filter-ref").selectize()[0].selectize.addOption({id : data[i].reference, label: (data[i].reference)});
                }
                selctizedBoxInstanceItem.refreshOptions(false);
            },
            error: function () {
                $(".mdl-progress").hide();
                showSnackbar("Can't load ref list.");
            }
        });
    }

     function loadItemCategorySelectBox(multi=true){
        client_id = 0;
        brand_name = "";
        if(!multi){
            client_id = clientFilterList[0];
            if(brandFilter[0] != undefined)
                brand_name = brandFilter[0];
        }
        $("#filter-category").selectize()[0].selectize.clearOptions();
        $.ajax({
            url: '?route=salesOrder/getCategoryList&all=1&client_id='+client_id+'&brand_name='+brand_name,
            type: 'GET',
            dataType: 'json',
            success: function (returnData) {
                data = returnData.category_list;
                for(var i = 0; i < data.length ; i++){
                    if(multi)
                        selctizedBoxInstanceItem.addOption({id : data[i].item_category, type: "category", label: (data[i].title)});
                    else
                        $("#filter-category").selectize()[0].selectize.addOption({id : data[i].item_category, label: (data[i].title)});

                }
                selctizedBoxInstanceItem.refreshOptions(false);
                $("#filter-category").selectize()[0].selectize.refreshOptions(false);
            },
            error: function () {
                $(".mdl-progress").hide();
                showSnackbar("Can't load category list.");
            }
        });
    }

    function loadBrandNames(){
        client_id = 0;

        client_id = clientFilterList[0];
        $("#filter-brand").selectize()[0].selectize.clearOptions();
        $.ajax({
            url: '?route=salesOrder/getBrandNames&all=1&client_id='+client_id,
            type: 'GET',
            dataType: 'json',
            success: function (returnData) {
                data = returnData.brand_list;
                for(var i = 0; i < data.length ; i++){
                        $("#filter-brand").selectize()[0].selectize.addOption({id : data[i].brand_name, label: (data[i].brand_name)});
                }
                $("#filter-brand").selectize()[0].selectize.refreshOptions(false);
            },
            error: function () {
                $(".mdl-progress").hide();
                showSnackbar("Can't load client list.");
            }
        });
    }

    



    function filterResults(){
        var input = $(this);
        clientFilterList = [];
        refFilterList = [];
        itemIdFilterList = [];
        dateFilter = [];
        //console.log(selctizedBoxInstanceItem.getValue());
        for(var i=0; i < selctizedBoxInstanceItem.getValue().length; i++){
            var id = selctizedBoxInstanceItem.options[selctizedBoxInstanceItem.getValue()[i]].id;
            var type = selctizedBoxInstanceItem.options[selctizedBoxInstanceItem.getValue()[i]].type;
            var label = selctizedBoxInstanceItem.options[selctizedBoxInstanceItem.getValue()[i]].label;
            if(type == "client") clientFilterList.push(id);
            if(type == "date") dateFilter.push(id);
            if(type == "ref") {
                var cId = id.substr(id.indexOf("-") + 1);
                refFilterList.push(cId);
            }
            if(type == "item"){
                var cId = id.substr(id.indexOf("-") + 1);
                itemIdFilterList.push(cId);
            }
        }

        if(orderItemsFilter.length > 0){
            for(var i=0 ; i < orderItemsFilter.length; i++){
                itemIdFilterList.push(orderItemsFilter[i]);
            }
            orderItemsFilter = [];
        }
    }

    var tableheader = $("#table-head");

    function tableSort() {
        var th = $(this);
        if (th.hasClass("no-sort")) {
            console.log("NO");
            tableheader.children(".sortable").removeClass("mdl-data-table__header--sorted-ascending");
            tableheader.children(".sortable").removeClass("mdl-data-table__header--sorted-descending");
            tableheader.children(".sortable").addClass("mdl-data-table__header");
            tableheader.children(".sortable").addClass("no-sort");
            th.removeClass("no-sort");
            th.removeClass("mdl-data-table__header");
            th.addClass("mdl-data-table__header--sorted-ascending");
            loadItems();
            return;
        }

        if (th.hasClass("mdl-data-table__header--sorted-ascending")) {
            th.removeClass("mdl-data-table__header--sorted-ascending");
            th.addClass("mdl-data-table__header--sorted-descending");
            console.log("ASC");
            loadItems();
            return;
        }

        if (th.hasClass("mdl-data-table__header--sorted-descending")) {
            th.removeClass("mdl-data-table__header--sorted-descending");
            th.addClass("mdl-data-table__header");
            th.addClass("no-sort");
            console.log("DESC");
            loadItems();
        }

    }


    function clearItemOptions(){

        for(var prop in selctizedBoxInstanceItem.options){
            var id = selctizedBoxInstanceItem.options[prop].id;
            var type = selctizedBoxInstanceItem.options[prop].type;
            if(type == "item") {
                selctizedBoxInstanceItem.removeOption(id);
            }
        }

//        for(var i=0; i < selctizedBoxInstanceItem.options.length; i++){
//            console.log(selctizedBoxInstanceItem.options[i]);
//            var id = selctizedBoxInstanceItem.options[i].id;
//            var type = selctizedBoxInstanceItem.options[i].type;
//            if(type == "item") {
//                selctizedBoxInstanceItem.removeOption(id);
//            }
//
//        }
        selctizedBoxInstanceItem.refreshOptions(false);
    }

    var pageCount = 1;

    function loadItems() {
       $(".mdl-progress").show();
        filterLimit = $("#filter-limit").val();
        client_id = $("#client-name").val();
        can = 0;
        c = 0;
        if($("#order_type").val() == 1) { $('.delete-button').hide(); c = 1;}
        if($("#order_type").val() == 2) { $('.delete-button').hide(); can = 1;}
        if($("#order_type").val() == 0) { $('.delete-button').show();}
        var postData = {
            all: 1,
            clientId: client_id,
            clientList : clientFilterList,
            dateFilter : dateFilter,
            // itemIdList : itemIdFilterList,
            c:c,
            can:can,
            // categoryFilter: categoryFilterList,
            // areaFilter: areaFilterList,
             brand: brandFilter[0],
            limit : filterLimit,
             page : pageCount
        };
        if (tableheader.children(".sortable.mdl-data-table__header--sorted-ascending").length > 0) {
            postData.sort = "ASC";
            postData.sortField = $(tableheader.children(".sortable.mdl-data-table__header--sorted-ascending")[0]).attr("id");
        }
        if (tableheader.children(".sortable.mdl-data-table__header--sorted-descending").length > 0) {
            postData.sort = "DESC";
            postData.sortField = $(tableheader.children(".sortable.mdl-data-table__header--sorted-descending")[0]).attr("id");
        }

        $.ajax({
            url: '?route=salesOrder/getOrderList&all=1',
            type: 'POST',
            data: postData,
            dataType: 'json',
            success: function (returnData) {
                data = returnData.sales_list;
                order_status = returnData.order_status;
                 console.log(returnData);
                $("#order-body").html("");
                for (var i = 0; i < data.length; i++) {
                    var rowNode = $("#order_template  > tbody > tr").clone(true);
                    rowNode.attr("id", data[i].order_id);
                    rowNode.children(".__order_id").html("#"+data[i].order_id);
                    rowNode.children(".__order_date").html(data[i].order_date);
                    rowNode.children(".__client_name").html(data[i].company_name);
                    rowNode.children(".__delivery_address").html(data[i].delivery_other);
                    rowNode.children(".__total_amount").prepend(data[i].ttc);
                    // rowNode.children(".__status").html(order_status[data[i].order_status]);
                    // if (data[i].order_status == 2) rowNode.children(".__status").addClass("text-warning");
                    rowNode.children(".__quantity").children("input").val();
                     if (data[i].item_pdf == 0) rowNode.children("._buttons").children(".pdf").hide();
                     if (data[i].image == 0) rowNode.children("._buttons").children(".image").hide();

                    $("#order-body").append(rowNode);

                }
                $(".mdl-progress").hide();
                showSnackbar("Data loaded.");
            },
            error: function () {
                $(".mdl-progress").hide();
                showSnackbar("Can't complete your request.");
            }
        });
    }


    function changeItem(){
        ref = $(this).html();
        order = $(this).parent().attr("id");
        footer = $("#modalConfirm").parent();
        modalWrap = $("#modalConfirm").clone();
        modalWrap.attr("id", "#modalConfirm2");
        footer.append(modalWrap);
       $(".modal-title", modalWrap).html("Change item in the order");
        $(".modal-body", modalWrap).html("<div class'form-group'>                    <label class='control-label'>Current Item Reference</label>                    <input class='form-control' type='text' name='old_reference' disabled value='"+ref+"'>                    <label class='control-label'>New Item Reference</label>                    <input class='form-control' type='text' name='new_reference'>                </div>            ");
        $(".modal-footer p",  modalWrap).remove();
        $(".modal-footer",  modalWrap).prepend("<p class='pull-left'>Are you sure you want to change above item?</p>");
         modalWrap.modal("show");
         $(".btn-danger",  modalWrap).attr("id", "confirmChange"+ref+order);
         $(".btn-danger",  modalWrap).click(function(){
                new_reference = $('input[name="new_reference"]', modalWrap).val();
                item = $('input[name="old_reference"]', modalWrap).val();
                $(".mdl-progress").show();

            postData = {
                    order_id : order,
                    item_reference : item,
                    new_reference : new_reference
                };
                $.ajax({
                url: '?route=salesOrder/changeItem',
                type: 'POST',
                data: postData,
                dataType: 'json',
                success: function (returnData) {
                        $(".mdl-progress").hide();
                        if(returnData.status == true){
                            showSnackbar("Item Changed.");
                            $("#m-dialog-close-btn").trigger("click");
                            loadItems();
                        }
                        else {
                            if(returnData.msg != "undefined")
                                showSnackbar(returnData.msg);
                            else
                                showSnackbar("There was an error changing the item. Please check for correct details.");
                        }

                    }
                });
         });
}
    $(document).ready(function () {
        $("#refresh-data-btn").click(loadItems);
        tableheader.children(".sortable").click(tableSort);

            order_fetch_id = getUrlParameter('id');

            if(order_fetch_id != 'undefined'){
                str = "#"+order_fetch_id + " #btn-ap-2";

                $("body").css("opacity", "0.5");

                setTimeout(function(){
                $("body").css("opacity", "1");
                $("#"+order_fetch_id + " #btn-ap-2").trigger("click");    }, 3000);


            }
        loadItems();
        $("#filter-box").change(filterResults);

        $("#order_type").change(function(){
            loadItems();
        });

    });

     $("#filter-category").change(function(){
        val = $(this).val();
        categoryFilterList = [];
        if(val != 0)
            categoryFilterList.push(val);
        loadRefSelectBox(false);
        loadItems();
    });
    $("#filter-ref").change(function(){
        val = $(this).val();
        refFilterList = [];
        if(val != 0)
            refFilterList.push(val);
        loadItems();
    });
    $("#filter-brand").change(function(){
        val = $(this).val();
        brandFilter = [];
        if(val != 0)
            brandFilter.push(val);
        loadItemCategorySelectBox(false);
        loadRefSelectBox(false);
        loadItems();
    });
    $("#filter-limit").change(function(){
        pageCount=1;
        loadItems();
    });

    $(document).on("click", ".pagination li a", function(e){
        e.preventDefault();
        found = false;
        url = $(this).attr("href");
        splinters = url.split("&");
        $.each(splinters, function(key, val){
            vals = val.split("=");
            if(vals[0] == "page") {
                found = true;
                pageCount = vals[1];
            }
        });
        if(!found) pageCount = 1;
        loadItems();
    });




</script>
