<div class="center-margin col-xs-12 ">



    <div class="table-card mdl-card  mdl-shadow--2dp col-xs-12 ">

        <div class="table-header">
            <h4><?=$text_title;?>
                <button class="mdl-button mdl-js-button mdl-button--icon pull-right">
                    <i class="material-icons">refresh</i>
                </button></h4>

            <select name="vendor_name" class="field selectize-filter">
                <option value=""><?=$text_search;?></option>
            </select>
        </div>
        <table class="mdl-data-table mdl-js-data-table  md-table col-xs-12 expandable " id="table">
            <thead>
            <tr>
                <th class="mdl-data-table__cell--non-numeric"><?=$text_invoice;?></th>
                <th class="mdl-data-table__cell--non-numeric"><?=$text_invoice_type;?></th>
                <th class="mdl-data-table__cell--non-numeric"><?=$text_invoice_amount;?></th>
                <th class="mdl-data-table__cell--non-numeric"><?=$text_generation_date;?></th>
                <th class="mdl-data-table__cell--non-numeric"></th>
            </tr>
            </thead>
            <tbody>
            <tr class="parent-row" id="row-1">
                <td class="mdl-data-table__cell--non-numeric clickable">12345</td>
                <td class="mdl-data-table__cell--non-numeric clickable">Commission</td>
                <td class="mdl-data-table__cell--non-numeric clickable">50000</td>
                <td class="mdl-data-table__cell--non-numeric clickable">12/12/17</td>
                <td class="mdl-data-table__cell--non-numeric clickable">

                </td>
            </tr>
            <tr class="child-row child-row-collapse" for="row-1">
                <td class="child-row-collapse" colspan="5">
                    <div>
                        <table class="child-table ">
                            <tr>
                                <th class="mdl-data-table__cell--non-numeric"><?=$text_item_id;?></th>
                                <th class="mdl-data-table__cell--non-numeric"><?=$text_item_name;?></th>
                                <th class="mdl-data-table__cell--non-numeric"><?=$text_brand_name;?></th>
                                <th class="mdl-data-table__cell--non-numeric"><?=$text_discount_rate;?></th>
                            </tr>
                            <tr>
                                <td class="mdl-data-table__cell--non-numeric">55</td>
                                <td class="mdl-data-table__cell--non-numeric">2555</td>
                                <td class="mdl-data-table__cell--non-numeric">3%</td>
                                <td class="mdl-data-table__cell--non-numeric">2%</td>
                            </tr>
                            <tr>
                                <td class="mdl-data-table__cell--non-numeric">55</td>
                                <td class="mdl-data-table__cell--non-numeric">2555</td>
                                <td class="mdl-data-table__cell--non-numeric">3%</td>
                                <td class="mdl-data-table__cell--non-numeric">2%</td>
                            </tr>
                            <tr>
                                <td class="mdl-data-table__cell--non-numeric">55</td>
                                <td class="mdl-data-table__cell--non-numeric">2555</td>
                                <td class="mdl-data-table__cell--non-numeric">3%</td>
                                <td class="mdl-data-table__cell--non-numeric">2%</td>
                            </tr>

                        </table>
                    </div>
                </td>
            </tr>


            </tbody>
        </table>
    </div>
</div>

<div id="modal-view" hidden>
    <div class="view-title">
        <?=$text_title;?>
    </div>
    <div class="view-body">
        
        <div class="form-content">
            <div>
                <h4 class="pull-left mdl-button--primary"><small><?=$text_invoice;?></small> <br> 2</h4>
                <h4 class="pull-right mdl-button--primary"><small class="pull-right"><?=$text_grand_total;?></small> <br> 24000</h4>
            </div>
            <div class="clearfix"></div>
            <div class="form-field col-xs-12 col-md-3">
               <label class="col-sm-6"><?=$text_invoice_date;?></label>
               <div class="">
                    <div class="mdl-textfield mdl-js-textfield">
                        <input class="mdl-textfield__input" type="date" id="sample1">
                        <label class="mdl-textfield__label" for="sample1"></label>
                    </div>
                </div>
            </div>
            <div class="form-field col-xs-12 col-md-3">
               <label class="col-sm-6"><?=$text_due_date;?></label>
               <div class="">
                    <div class="mdl-textfield mdl-js-textfield">
                        <input class="mdl-textfield__input" type="date" id="sample1">
                        <label class="mdl-textfield__label" for="sample1"></label>
                    </div>
                </div>
            </div>

            <div class="form-field col-xs-12 col-md-3">
                
            </div>

            

            <div class="clearfix"></div>
            <table class="mdl-data-table mdl-js-data-table  md-table col-xs-12 ">
                <thead>
                    <tr>
                        <th class="mdl-data-table__cell--non-numeric"><?=$text_invoice;?></th>
                <th class="mdl-data-table__cell--non-numeric"><?=$text_invoice_type;?></th>
                <th class="mdl-data-table__cell--non-numeric"><?=$text_invoice_amount;?></th>
                <th class="mdl-data-table__cell--non-numeric"><?=$text_generation_date;?></th>
                <th class="mdl-data-table__cell--non-numeric"></th>

                    </tr>
                </thead>
                <tbody>
                    <tr class="parent-row" id="row-1">
                        <td class="mdl-data-table__cell--non-numeric">1</td>
                        <td class="mdl-data-table__cell--non-numeric">Lorem ipsum.</td>
                        <td class="mdl-data-table__cell--non-numeric">Lorem.</td>
                        <td class="mdl-data-table__cell--non-numeric">Lorem.</td>
                        <td class="mdl-data-table__cell--non-numeric">

                            <button id="menu2"
                            class="mdl-button mdl-js-button mdl-button--icon">
                            <i class="material-icons">more_vert</i>
                        </button>

                            <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                            for="menu2">
                                <li class="mdl-menu__item"><?=$text_make_payment;?></li>
                            </ul>
                        </td>
                    </tr>


                    <tr class="parent-row" id="row-2">
                        <td class="mdl-data-table__cell--non-numeric">1</td>
                        <td class="mdl-data-table__cell--non-numeric">Lorem ipsum.</td>
                        <td class="mdl-data-table__cell--non-numeric">Lorem.</td>
                        <td class="mdl-data-table__cell--non-numeric">Lorem.</td>
                        <td class="mdl-data-table__cell--non-numeric">

                            <button id="menu3"
                            class="mdl-button mdl-js-button mdl-button--icon">
                                <i class="material-icons">more_vert</i>
                            </button>

                            <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                            for="menu3">
                                <li class="mdl-menu__item"><?=$text_make_payment;?></li>
                            </ul>
                        </td>
                    </tr>


                    <tr class="parent-row" id="row-3">
                        <td class="mdl-data-table__cell--non-numeric">1</td>
                        <td class="mdl-data-table__cell--non-numeric">Lorem ipsum.</td>
                        <td class="mdl-data-table__cell--non-numeric">Lorem.</td>
                        <td class="mdl-data-table__cell--non-numeric">Lorem.</td>
                        <td class="mdl-data-table__cell--non-numeric">

                            <button id="menu4"
                            class="mdl-button mdl-js-button mdl-button--icon">
                                <i class="material-icons">more_vert</i>
                            </button>

                            <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                            for="menu4">
                                <li class="mdl-menu__item"><?=$text_make_payment;?></li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="mdl-card__title col-xs-12">
                <h5 class="mdl-card__title col-xs-12 col-sm-3"><?=$text_subtotal;?></h5>
                <h5 class="mdl-card__title col-xs-12 col-sm-3"><?=$text_tax;?></h5>
                <h5 class="mdl-card__title col-xs-12 col-sm-3"><?=$text_tds;?></h5>
                <h5 class="mdl-card__title col-xs-12 col-sm-3"><?=$text_total;?></h5>
            </div>
        </div>
    </div>
</div>

<script>

    $(".parent-row > .clickable").click(function () {
        MDialog.start({},"detail",this,$("#modal-view"));
    });

</script>
