<div class="center-margin col-xs-12 ">


    <div class="table-card mdl-card  mdl-shadow--2dp col-xs-12 ">

        <div class="table-header">
            <h4><?= $text_title; ?>
                <button class="mdl-button mdl-js-button mdl-button--icon pull-right">
                    <i class="material-icons">refresh</i>
                </button>
            </h4>
            <div class="header-data"><?= $text_net_amount; ?> = 6666</div>
            <select name="vendor_name" class="field selectize-filter">
                <option value=""><?= $text_search; ?></option>
            </select>
        </div>
        <table class="mdl-data-table mdl-js-data-table  md-table col-xs-12 expandable " id="table">
            <thead>
            <tr>
                <th class="mdl-data-table__cell--non-numeric"><?= $text_sr; ?></th>
                <th class="mdl-data-table__cell--non-numeric"><?= $text_agent_name; ?></th>
                <th class="mdl-data-table__cell--non-numeric"><?= $text_invoice; ?></th>
                <th class="mdl-data-table__cell--non-numeric"><?= $text_invoice_type; ?></th>
                <th class="mdl-data-table__cell--non-numeric"><?= $text_invoice_amount; ?></th>
                <th class="mdl-data-table__cell--non-numeric"><?= $text_generation_date; ?></th>
                <th class="mdl-data-table__cell--non-numeric"><?= $text_action; ?></th>
            </tr>
            </thead>
            <tbody>
            <tr class="parent-row" id="row-1">
                <td class="mdl-data-table__cell--non-numeric clickable">1</td>
                <td class="mdl-data-table__cell--non-numeric clickable">Agent 1</td>
                <td class="mdl-data-table__cell--non-numeric clickable">12345</td>
                <td class="mdl-data-table__cell--non-numeric clickable">Commission/Expense</td>
                <td class="mdl-data-table__cell--non-numeric clickable">&euro;</td>
                <td class="mdl-data-table__cell--non-numeric clickable">12/12/17</td>
                <td class="mdl-data-table__cell--non-numeric">
                    <button class="mdl-button mdl-js-button mdl-button--primary add-payment-btn">
                       <?= $text_add_payment; ?>
                    </button>
                </td>
            </tr>

            <tr class="parent-row" id="row-1">
                <td class="mdl-data-table__cell--non-numeric clickable">2</td>
                <td class="mdl-data-table__cell--non-numeric clickable">Agent 1</td>
                <td class="mdl-data-table__cell--non-numeric clickable">12345</td>
                <td class="mdl-data-table__cell--non-numeric clickable">Salary</td>
                <td class="mdl-data-table__cell--non-numeric clickable">&euro;</td>
                <td class="mdl-data-table__cell--non-numeric clickable">12/12/17</td>
                <td class="mdl-data-table__cell--non-numeric">
                    <button class="mdl-button mdl-js-button mdl-button--primary add-payment-btn">
                       <?= $text_add_payment; ?>
                    </button>
                </td>
            </tr>

            <tr class="parent-row" id="row-1">
                <td class="mdl-data-table__cell--non-numeric clickable">3</td>
                <td class="mdl-data-table__cell--non-numeric clickable">Agent 1</td>
                <td class="mdl-data-table__cell--non-numeric clickable">12345</td>
                <td class="mdl-data-table__cell--non-numeric clickable">Commission/Expense</td>
                <td class="mdl-data-table__cell--non-numeric clickable">&euro;</td>
                <td class="mdl-data-table__cell--non-numeric clickable">12/12/17</td>
                <td class="mdl-data-table__cell--non-numeric">
                    <button class="mdl-button mdl-js-button mdl-button--accent remove-payment-btn">
                       <?= $text_remove_payment; ?>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


<div id="modal-view" hidden>
    <div class="view-title">
        <?= $text_title; ?>
    </div>
    <div class="view-body">

        <div class="form-content">
            <div>
                <h4 class="pull-left mdl-button--primary">
                    <small><?= $text_invoice; ?></small>
                    <br> 2
                </h4>
                <h4 class="pull-right mdl-button--primary">
                    <small class="pull-right"><?= $text_grand_total; ?></small>
                    <br> 24000
                </h4>
            </div>
            <div class="clearfix"></div>
            <div class="form-field col-xs-12 col-md-3">
                <label class="col-sm-6"><?= $text_invoice_date; ?></label>
                <div class="">
                    <div class="mdl-textfield mdl-js-textfield">
                        <input class="mdl-textfield__input" type="text" id="sample1" placeholder="1/12/2017" >
                        <label class="mdl-textfield__label" for="sample1"></label>
                        
                    </div>
                </div>
            </div>

            <div class="form-field col-xs-12 col-md-3">
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored pull-right"> <?= $text_make_payment; ?>
                </button>
            </div>


            <div class="clearfix"></div>
            <div class="col-xs-12 col-md-7 ">
                <table class="mdl-data-table mdl-js-data-table  md-table col-xs-12 expandable " id="table">
                    <thead>
                    <tr>
                        <th class="mdl-data-table__cell--non-numeric"></th>
                        <th class="mdl-data-table__cell--non-numeric">SO#</th>
                        <th class="mdl-data-table__cell--non-numeric">Client Name</th>
                        <th class="mdl-data-table__cell--non-numeric">11/11/17</th>
                        <th class="mdl-data-table__cell--non-numeric">12/12/17</th>
                        <th class="mdl-data-table__cell--non-numeric">Amount</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="parent-row" id="row-1">
                        <td class="mdl-data-table__cell--non-numeric">
                            <button class="mdl-button mdl-js-button mdl-button--icon row-expand-button">
                                <i class="material-icons">expand_more</i>
                            </button>
                        </td>
                        <td class="mdl-data-table__cell--non-numeric">12345</td>
                        <td class="mdl-data-table__cell--non-numeric">Mac</td>
                        <td class="mdl-data-table__cell--non-numeric">12/12/17</td>
                        <td class="mdl-data-table__cell--non-numeric">12/12/2017</td>
                        <td class="mdl-data-table__cell--non-numeric currency-euro">555555</td>
                    </tr>

                    <tr class="c-row transition out" for="row-1">
                        <td class="" colspan="6">
                            <table class="col-xs-12 ">
                                <thead>
                                <tr>
                                    <th class="mdl-data-table__cell--non-numeric"> <?= $text_item_id; ?></th>
                                    <th class="mdl-data-table__cell--non-numeric"> <?= $text_item_name; ?></th>
                                    <th class="mdl-data-table__cell--non-numeric"> <?= $text_brand_name; ?></th>
                                    <th class="mdl-data-table__cell--non-numeric"> <?= $text_msrp; ?></th>
                                    <th class="mdl-data-table__cell--non-numeric"> <?= $text_commission_per_unit; ?></th>
                                    <th class="mdl-data-table__cell--non-numeric"> <?= $text_quantity; ?></th>
                                    <th class="mdl-data-table__cell--non-numeric"> <?= $text_commission; ?></th>


                                </tr>
                                </thead>
                                <tbody>
                                <tr class="parent-row" id="row-1">
                                    <td class="mdl-data-table__cell--non-numeric">1</td>
                                    <td class="mdl-data-table__cell--non-numeric">Lorem ipsum.</td>
                                    <td class="mdl-data-table__cell--non-numeric">Lorem.</td>
                                    <td class="mdl-data-table__cell--non-numeric">2000</td>
                                    <td class="mdl-data-table__cell--non-numeric">2</td>
                                    <td class="mdl-data-table__cell--non-numeric">2</td>
                                    <td class="mdl-data-table__cell--non-numeric">4000</td>
                                </tr>


                                <tr class="parent-row" id="row-2">
                                    <td class="mdl-data-table__cell--non-numeric">1</td>
                                    <td class="mdl-data-table__cell--non-numeric">Lorem ipsum.</td>
                                    <td class="mdl-data-table__cell--non-numeric">Lorem.</td>
                                    <td class="mdl-data-table__cell--non-numeric">2000</td>
                                    <td class="mdl-data-table__cell--non-numeric">2</td>
                                    <td class="mdl-data-table__cell--non-numeric">2</td>
                                    <td class="mdl-data-table__cell--non-numeric">4000</td>
                                </tr>
                                </tbody>
                            </table>

                        </td>
                    </tr>
                    <tr class="parent-row" id="row-2">
                        <td class="mdl-data-table__cell--non-numeric">
                            <button class="mdl-button mdl-js-button mdl-button--icon row-expand-button">
                                <i class="material-icons">expand_more</i>
                            </button>
                        </td>
                        <td class="mdl-data-table__cell--non-numeric">12345</td>
                        <td class="mdl-data-table__cell--non-numeric">Mac</td>
                        <td class="mdl-data-table__cell--non-numeric">12/12/17</td>
                        <td class="mdl-data-table__cell--non-numeric">12/12/2017</td>
                        <td class="mdl-data-table__cell--non-numeric currency-euro">555555</td>
                    </tr>
                    <tr class="c-row transition out" for="row-2">
                        <td class="mdl-card-no-padding" colspan="6">


                            <table class="col-xs-12 ">
                                <thead>
                                <tr>
                                    <th class="mdl-data-table__cell--non-numeric"> <?= $text_item_id; ?></th>
                                    <th class="mdl-data-table__cell--non-numeric"> <?= $text_item_name; ?></th>
                                    <th class="mdl-data-table__cell--non-numeric"> <?= $text_brand_name; ?></th>
                                    <th class="mdl-data-table__cell--non-numeric"> <?= $text_msrp; ?></th>
                                    <th class="mdl-data-table__cell--non-numeric"> <?= $text_commission_per_unit; ?></th>
                                    <th class="mdl-data-table__cell--non-numeric"> <?= $text_quantity; ?></th>
                                    <th class="mdl-data-table__cell--non-numeric"> <?= $text_commission; ?></th>



                                </tr>
                                </thead>
                                <tbody>
                                <tr class="parent-row" id="row-1">
                                    <td class="mdl-data-table__cell--non-numeric">1</td>
                                    <td class="mdl-data-table__cell--non-numeric">Lorem ipsum.</td>
                                    <td class="mdl-data-table__cell--non-numeric">Lorem.</td>
                                    <td class="mdl-data-table__cell--non-numeric">2000</td>
                                    <td class="mdl-data-table__cell--non-numeric">2</td>
                                    <td class="mdl-data-table__cell--non-numeric">2</td>
                                    <td class="mdl-data-table__cell--non-numeric">4000</td>
                                </tr>


                                <tr class="parent-row" id="row-2">
                                    <td class="mdl-data-table__cell--non-numeric">1</td>
                                    <td class="mdl-data-table__cell--non-numeric">Lorem ipsum.</td>
                                    <td class="mdl-data-table__cell--non-numeric">Lorem.</td>
                                    <td class="mdl-data-table__cell--non-numeric">2000</td>
                                    <td class="mdl-data-table__cell--non-numeric">2</td>
                                    <td class="mdl-data-table__cell--non-numeric">2</td>
                                    <td class="mdl-data-table__cell--non-numeric">4000</td>
                                </tr>
                                </tbody>
                            </table>



                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-xs-12 col-md-5">
                <table class="mdl-data-table mdl-js-data-table  md-table col-xs-12 ">
                    <thead>
                    <tr>
                        <th class="mdl-data-table__cell--non-numeric"><?= $text_expense_name; ?></th>
                        <th class="mdl-data-table__cell--non-numeric"><?= $text_expense_type; ?></th>
                        <th class="mdl-data-table__cell--non-numeric"><?= $text_expense_date; ?></th>
                        <th class="mdl-data-table__cell--non-numeric"><?= $text_expense_amount; ?></th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr class="parent-row" id="row-1">
                        <td class="mdl-data-table__cell--non-numeric">1</td>
                        <td class="mdl-data-table__cell--non-numeric">Lorem ipsum.</td>
                        <td class="mdl-data-table__cell--non-numeric">Lorem.</td>
                        <td class="mdl-data-table__cell--non-numeric">Lorem.</td>

                    </tr>


                    <tr class="parent-row" id="row-2">
                        <td class="mdl-data-table__cell--non-numeric">1</td>
                        <td class="mdl-data-table__cell--non-numeric">Lorem ipsum.</td>
                        <td class="mdl-data-table__cell--non-numeric">Lorem.</td>
                        <td class="mdl-data-table__cell--non-numeric">Lorem.</td>

                    </tr>


                    <tr class="parent-row" id="row-3">
                        <td class="mdl-data-table__cell--non-numeric">1</td>
                        <td class="mdl-data-table__cell--non-numeric">Lorem ipsum.</td>
                        <td class="mdl-data-table__cell--non-numeric">Lorem.</td>
                        <td class="mdl-data-table__cell--non-numeric">Lorem.</td>

                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="mdl-card__title col-xs-12">
                <h5 class="mdl-card__title col-xs-12 col-sm-3">Subtotal:</h5>
                <h5 class="mdl-card__title col-xs-12 col-sm-3">Tax:</h5>
                <h5 class="mdl-card__title col-xs-12 col-sm-3">TDS:</h5>
                <h5 class="mdl-card__title col-xs-12 col-sm-3">Total:</h5>
            </div>
        </div>
    </div>
</div>

<script>

    $(".parent-row > .clickable").click(function () {
        MDialog.start({}, "detail", this, $("#modal-view"));
    });

    $(".add-payment-btn").click(function () {
        showSnackbar("Added to payment");
        //this.
    });

    $(".remove-payment-btn").click(function () {
        showSnackbar("Removed from payment");
    });




</script>



