<style type="text/css">
    .header{
        background: #f4f5f8;
    }
   .header select{
    padding: 6px;
    margin-top: 10px;
    /*margin-left: 30px;*/
    width: 20%;
    float: right;
}
.sale{
    height:50px;
    width: 15%;
    background: #2196f3;
    margin:0px 30px 20px 0px;
    color: #fff;
    padding-top: 12px;
}
.purchase {
    height:50px;
    width: 15%;
    background: #0077c5;
   margin:0px 30px 20px 0px;
    color: #fff;
    padding-top: 12px;
}
.credit {
    height:50px;
    width: 15%;
    background: #196d44;
    margin:0px 30px 20px 0px;
    color: #fff;
    padding-top: 12px;
}
.debit {
    height:50px;
    width: 15%;
    background: #ef232a;
    margin:0px 30px 20px 0px;
    color: #fff;
    padding-top: 12px;
}
.body{
    background-color: #fff;
}
table{
    border-collapse: collapse;
    margin-top: 20px;
}
table,thead, tr, th{
    border-top: none !important;
    border-bottom: 3px solid #e7e7e7;
    border-right: 1px solid #e7e7e7;
    padding:10px;
}
table, tbody, tr, td {
    border: 1px solid #e7e7e7;
    padding:10px;
}
   

   
   
</style>
<div class="center-margin col-xs-12">
    
        <div class="header col-xs-12">
            <h5 class="col-xs-6">Balance Sheet</h5>
            
            <!-- <select class="text-center col-xs-3">
                <option>Import Transactions</option>
                <option>Square</option>
                
            </select> -->

            <select class=" col-xs-6 ">
                <option>New Transactions</option>
                <option>Payment</option>
                <option>Sales Receipt</option>
                <option>Purchase Receipt</option>
            </select>
            <div class="clearfix"></div>
            <div class="col-xs-9 col-xs-offset-3">
                <div class="col-xs-3 sale text-center">
                    <span>Total Sales <?php foreach ($sales_total as $stotal) { ?>
                        <span id="<?= $stotal['order_id']?>">
                           <?php echo $stotal["ttc"]; ?></span>
                       <?php }
                        ?> 
                     </span>
                </div>
                <div class="col-xs-3 purchase text-center">
                    <span>Total Purchase <?php foreach($purchase_total as $ptotal) { ?>
                        <span id="<?= $ptotal['order_id']?>">
                           <?php echo $ptotal["ttc"]; ?></span>
                       <?php }
                        ?> 
                     </span>
                    
                </div>
                <div class="col-xs-3 credit text-center">
                    <span>Total Credit</span>
                </div>
                <div class="col-xs-3 debit text-center">
                    <span>Total Debit</span>
                </div>
            </div>
        </div>
        <div class="body col-xs-12">
            <table class="col-xs-12 text-center">
                <thead >
                    <tr >
                        <th class="text-center">Date</th>
                        <th class="text-center">Type</th>
                        <th class="text-center">Balance Type</th>
                        <th class="text-center">Amount(HT)</th>
                        <th class="text-center">Tax</th>
                        <th class="text-center">Total</th>
                       <!--  <th class="text-center">Status</th> -->
                    </tr>
                </thead>
                <tbody>
                    <?php foreach ($orders as $order) { ?>
                    <tr id="<?= $order['order_id']?>">
                        <td><?php echo $order["order_date"]; ?></td>
                        <td><?php echo ucfirst($order["title"]); ?></td>
                        <td><?php  if($order['order_type'] == 2){
                            echo '<span style="color:#196d44;">Credit</span>';
                            }else{
                            echo '<span style="color:#ef232a;">Debit</span>';
                        }
                         ?></td>
                        <td><?php echo $order["htt"]; ?>&euro;</td>
                        <td><?php echo $order["tva"]; ?></td>
                        <td><?php echo $order["ttc"]; ?>&euro;</td>
                        <!-- <td><?php echo $order["status"]; ?></td> -->
                    </tr>
                  
                </tbody>
                <?php } ?>
                <?php if($pagination !== ""): ?>
                <tfoot>
                    <tr>
                        <td colspan="6"><?php echo $pagination; ?></td>
                    </tr>
                </tfoot>
                <?php endif; ?>
            </table>


        </div>
       
</div>
