
<div class="center-margin col-xs-12">
    <div class="table-card mdl-card  mdl-shadow--2dp col-xs-12">
        <div class="table-header">
            <h4>Clients Black List
                <!-- <button class="mdl-button mdl-js-button mdl-button--icon pull-right">
                    <i class="material-icons">refresh</i>
                </button> -->
            </h4>

            <!-- <select name="vendor_name" class="field selectize-filter">
                <option value=""><?=$text_search;?></option>
            </select> -->
        </div>
        <table class="mdl-data-table mdl-js-data-table col-xs-12 expandable">
            <thead>
                <tr>
                    <th class="mdl-data-table__cell--non-numeric"><?=$text_client_id;?></th>
                    <th class="mdl-data-table__cell--non-numeric"><?=$text_client_name;?></th>
                    <th class="mdl-data-table__cell--non-numeric"><?=$text_client_email;?></th>
                    <th class="mdl-data-table__cell--non-numeric"><?=$text_client_contact;?></th>
                    <th class="mdl-data-table__cell--non-numeric"><?=$text_address;?></th>
                    <th class="mdl-data-table__cell--non-numeric"><?=$text_status_c;?></th>
                    <th class="mdl-data-table__cell--non-numeric"><?=$text_action;?></th>
                </tr>
            </thead>



            <tbody>
                 <?php foreach ($clients as $client) { ?>
                <tr id="<?=$client['client_id']?>">
                    <td class="mdl-data-table__cell--non-numeric clickable"><?php echo $client["client_id"]; ?></td>
                    <td class="mdl-data-table__cell--non-numeric clickable"><?php echo $client["company_name"]; ?></td>
                    <td class="mdl-data-table__cell--non-numeric clickable"><?php echo $client["email_id"]; ?></td>
                    <td class="mdl-data-table__cell--non-numeric clickable"><?php echo $client["phone"]; ?></td>
                    <td class="mdl-data-table__cell--non-numeric clickable"><?php echo $client["address"]; ?></td>
                    <td class="mdl-data-table__cell--non-numeric clickable"><?php  
                        if(
                        $client['status'] == 0){
                        echo "Inactive";
                    }else{
                    echo "Active";
                    }
                        
                   
                    ?>
                    
                    </td>
                    <td class="mdl-data-table__cell--non-numeric clickable">
                        <button id="btn-ap-2" class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored" onclick="getDetails(this);">
                            <i class="material-icons">info</i>
                        </button>
                        <div class="mdl-tooltip mdl-tooltip--large" for="btn-ap-2"><?=$text_details;?></div>
                        <button type='button' class="mdl-button mdl-js-button mdl-button--icon mdl-button--green unblock-button" id="close-btn " onclick="confirmActive(this);">
                            <i class="material-icons">verified_user</i>
                        </button>
                        <div class="mdl-tooltip mdl-tooltip--large" for="btn-ap-3">Activate</div>
                        <!-- <button type='button' class="mdl-button mdl-js-button mdl-button--icon mdl-button--accent block-button" id="btn-ap-4">
                            <i class="material-icons">notification_important</i>
                        </button>
                        <div class="mdl-tooltip mdl-tooltip--large" for="btn-ap-4">Reminder</div> -->
                    </td>
                </tr>
                <?php }?>
            </tbody>
        </table>
    </div>
</div>
<button id="fab" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored floating-action-button">
    <i class="material-icons">add</i>
</button>
<div class="mdl-tooltip" for="fab">
    Create new <br>
    Sales order
</div>

<div id="modal-view" hidden>
    <div class="view-title">
        <?=$text_client_details;?>
    </div>
    <div class="view-body">
        <div class="form-content">
            <div>
                 <div class="text-right">
                        <button id="print-btn" class="mdl-button mdl-js-button mdl-button--icon mdlbutton--colored edit-button" onclick="window.print()">
                            <i class="material-icons">print</i>
                        </button>
                        <div class="mdl-tooltip mdl-tooltip--large" for="print-btn">Print</div>

                        <!-- <button id="cancel-order" class="mdl-button mdl-js-button mdl-button--icon mdlbutton--colored edit-button" data-order="" onclick="confirmDeletion(this, 1);">
                            <i class="material-icons text-danger">delete</i>
                        </button>
                        <div class="mdl-tooltip mdl-tooltip--large" for="cancel-order">Cancel Order</div> -->
                    </div>

                    <table class="order_details table-striped col-xs-12 col-sm-6">
                             <tr>
                                <td>Client Id:</td>
                                <td id="client_id_m">#</td>
                            </tr>
                            <tr>
                                <td>Client Name:</td>
                                <td id="client_name_m"></td>
                            </tr>
                            <tr>
                                <td>Client Email:</td>
                                <td id="client_email_m"></td>
                            </tr>

                            
                    </table>
                    <table class="order_details  table-striped col-xs-12 col-sm-6">
                            <tr>
                                <td>Credit Limit Used:</td>
                                <td id="credit_limit_m"></td>
                            </tr>
                            <tr>
                                <td>Credit Limit:</td>
                                <td id="limit_m"></td>
                            </tr>
                            <tr>
                                <td>Assigned Agent:</td>
                                <td id="assigned_agent_m"></td>
                            </tr>
                           <!--  <tr>
                                <td>HT:</td>
                                <td><span id="htt_m" class="text-success"> &euro;</span></td>
                            </tr>
                            <tr>
                                <td>TVA:</td>
                                <td><span id="tva_m" class="text-danger">%</span></td>
                            </tr>
                            <tr>
                                <td> <?=$text_grand_total;?>:</td>
                                <td class="text-danger"><span id="ttc_m" class="text-danger"> &euro;</span></td>
                            </tr> -->
                    </table>
                </div>

        <div class="clearfix"></div>
        <hr>
        <div class="col-xs-12 col-md-6 details">
            <div class="table-header">
                <h4><?=$text_ro;?></h4>
            </div>
            <table class="mdl-data-table mdl-js-data-table  md-table col-xs-12 ">
                <thead>
                    <tr>
                        <th class="mdl-data-table__cell--non-numeric"></th>
                        <th class="mdl-data-table__cell--non-numeric"><?=$text_return_number;?></th>
                        <th  class="mdl-data-table__cell--non-numeric"><?=$text_return_date;?></th>
                        <th  class="mdl-data-table__cell--non-numeric"><?=$text_status;?></th>
                        <th  class="mdl-data-table__cell--non-numeric"><?=$text_return_amount;?></th>
                    </tr>
                </thead>
                <tbody id="return_order"></tbody>
                    
                    <!-- <tr class="c-row transition out" for="row-1">
                        <td class="mdl-card-no-padding" colspan="5">
                            <table class="col-xs-12 ">
                                <thead>
                                    <tr>
                                        <th class="mdl-data-table__cell--non-numeric"><?=$text_item_id;?></th>
                                        <th class="mdl-data-table__cell--non-numeric"><?=$text_item_name;?></th>
                                        <th class="mdl-data-table__cell--non-numeric"><?=$text_msrp;?></th>
                                        <th class="mdl-data-table__cell--non-numeric"><?=$text_quantity;?></th>
                                        <th class="mdl-data-table__cell--non-numeric"><?=$text_amount;?></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr >
                                        <td class="mdl-data-table__cell--non-numeric">1</td>
                                        <td class="mdl-data-table__cell--non-numeric">Lorem ipsum.</td>
                                        <td class="mdl-data-table__cell--non-numeric">2000</td>
                                        <td class="mdl-data-table__cell--non-numeric">2</td>
                                        <td class="mdl-data-table__cell--non-numeric">4000</td>
                                    </tr>
                                    <tr>
                                        <td class="mdl-data-table__cell--non-numeric">1</td>
                                        <td class="mdl-data-table__cell--non-numeric">Lorem ipsum.</td>
                                        <td class="mdl-data-table__cell--non-numeric">2000</td>
                                        <td class="mdl-data-table__cell--non-numeric">2</td>
                                        <td class="mdl-data-table__cell--non-numeric">4000</td>
                                    </tr> -->
                                
                            </table>
                        <!-- </td>
                    </tr>
                </tbody>
            </table> -->
        </div>
        <div class="col-xs-12 col-md-6 details">
            <div class="table-header">
                <h4><?=$text_sales_order;?></h4>
            </div>
            <table class="mdl-data-table mdl-js-data-table  md-table col-xs-12 ">
                <thead>
                    <tr>
                        <th class="mdl-data-table__cell--non-numeric"></th>
                        <th class="mdl-data-table__cell--non-numeric"><?=$text_so;?></th>
                        <th class="mdl-data-table__cell--non-numeric"><?=$text_date;?></th>
                        <th class="mdl-data-table__cell--non-numeric"><?=$text_status;?></th>
                        <th class="mdl-data-table__cell--non-numeric"><?=$text_person_responsible;?></th>
                    </tr>
                </thead>
                <tbody id="sales_order">
                     <!-- <tr class="c-row transition out" for="row-s2">
                        <td class="mdl-card-no-padding" colspan="5">
                            <table class="col-xs-12 ">
                                <thead>
                                    <tr>
                                        <th class="mdl-data-table__cell--non-numeric"><?=$text_item_id;?></th>
                                        <th class="mdl-data-table__cell--non-numeric"><?=$text_item_name;?></th>
                                        <th class="mdl-data-table__cell--non-numeric"><?=$text_msrp;?></th>
                                        <th class="mdl-data-table__cell--non-numeric"><?=$text_quantity;?></th>
                                        <th class="mdl-data-table__cell--non-numeric"><?=$text_amount;?></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr >
                                        <td class="mdl-data-table__cell--non-numeric">1</td>
                                        <td class="mdl-data-table__cell--non-numeric">Lorem ipsum.</td>
                                        <td class="mdl-data-table__cell--non-numeric">2000</td>
                                        <td class="mdl-data-table__cell--non-numeric">2</td>
                                        <td class="mdl-data-table__cell--non-numeric">4000</td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </td>
                    </tr> --> 
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>

<div  hidden>

    <table>
        <tbody id="orders-template">
            <tr id="row-s2">
                <td class="mdl-data-table__cell--non-numeric">
                    <button class="mdl-button mdl-js-button mdl-button--icon row-expand-button">
                        <i class="material-icons">expand_more</i>
                    </button>
                </td>
                <td class="mdl-data-table__cell--non-numeric __so" ></td>
                <td class="mdl-data-table__cell--non-numeric __order_date" ></td>
                <td class="mdl-data-table__cell--non-numeric __order_status" ></td>
                <td class="mdl-data-table__cell--non-numeric __person_responsible"></td>
            </tr>
        </tbody>
    </table>

</div>

<div  hidden>

    <table>
        <tbody id="return-template">
            <tr id="row-s3">
                <td class="mdl-data-table__cell--non-numeric">
                    <button class="mdl-button mdl-js-button mdl-button--icon row-expand-button">
                        <i class="material-icons">expand_more</i>
                    </button>
                </td>
                <td class="mdl-data-table__cell--non-numeric _return_number" ></td>
                <td class="mdl-data-table__cell--non-numeric _return_date" ></td>
                <td class="mdl-data-table__cell--non-numeric _order_status" ></td>
                <td class="mdl-data-table__cell--non-numeric _ttc"></td>
            </tr>
        </tbody>
    </table>

</div>

<script>

    function getDetails(e) {
        var id = $(e).parent().parent().attr("id");
        $.ajax({
            url: '?route=salesOrder/getClientDetails&client_id=' + id,
            type: 'GET',
            dataType: 'json',
            success: function (returnData) {
                //var orderItems = returnData.order_items;
                //var raisedBy = returnData.raised_by;
                var clientDetails = returnData.client_details;
                var salesOrder = returnData.sales_order;
                var returnOrder = returnData.return_order;
                $("#client_id_m").html("#"+clientDetails.client_id);
                $("#client_name_m").html(clientDetails.company_name);
                $("#client_email_m").html(clientDetails.email_id);
                $("#limit_m").html(clientDetails.credit_limit);
                $("#credit_limit_m").html(clientDetails.credit_limit_used);
                // $("td._client_address").html(clientDetails.address);
                // $("td._client_contact").html(clientDetails.phone);
                $("#assigned_agent_m").html(clientDetails.assigned_agent.name);


                for(var i = 0; i < returnOrder.length; i++){
                    var node = $("#return-template").children().clone();
                    node.children("._return_number").html(returnOrder[i].order_id);
                    node.children("._return_date").html(returnOrder[i].order_date);
                    node.children("._order_status").html(returnOrder[i].order_status);
                    node.children("._ttc").html(returnOrder[i].ttc);
                    $("#return_order").append(node);
                }


                for(var i = 0; i < salesOrder.length; i++){
                    var node = $("#orders-template").children().clone();
                    node.children(".__so").html(salesOrder[i].order_id);
                    node.children(".__order_date").html(salesOrder[i].order_date);
                    node.children(".__order_status").html(salesOrder[i].order_status);
                    node.children(".__person_responsible").html(salesOrder[i].person_responsible);
                    $("#sales_order").append(node);
                }
                MDialog.start({},"detail",this,$("#modal-view"));
            }
        });
    }

    function confirmActive(e) {
        $("#modalConfirm .modal-title").html("Confirm Activate");
         
         var id = $(e).parent().parent().attr("id");
        
        $("#modalConfirm .modal-body p").html("Are you sure you want to activate the client # "+id+"?");
         $("#modalConfirm").modal("show");
         $(".btn-danger").click(function(){
            $.ajax({
            
                url : '?route=blackList/activeOrder&id='+id,
                type : 'GET',
                dataType : 'text',
                beforeSend: function(){$(".mdl-progress").show();},
                complete: function(){$(".mdl-progress").hide();},
                success: function(){
                     $('#t_wrap').load(document.URL +  ' #t_wrap');
                     showSnackbar("Client has been Activated");
                }
            })
         });
        //this.
    };

</script>