<style type="text/css">
    .pagination{
        margin:0 !important;
    }
    .selectize-input{
        background-image: none !important;
        background-color:#fff !important;
        border:1px solid #aaa !important;
    }
    .queue-foot{
        background: #F5F5F5;
        padding: 10px;
    }
</style>
<div class="col-xs-12 col-sm-12 col-md-12 center-margin ">
    <form>
        <div class="form-card mdl-card mdl-shadow--2dp col-xs-12">
            <div class="form-header">
                <h4>Client Payment</h4>
            </div>
            <div class="form-content">


                <div class="form-field col-xs-12">
                    <label class="col-md-4">Client</label>
                    <div class="col-xs-12 col-sm-8">
                        <div id="client-name-select"></div>
                        <div class="mdl-textfield mdl-js-textfield <?php if (isset($error_client)) {
                            echo 'is-invalid';
                        } ?>">
                            <select name="client" id="client-name" class="selectize">
                                <option value="">Select Client</option>
                                <?php foreach ($clients as $client) { ?>
                                    <option value="<?php echo $client['client_id'] ?>"> <?php echo $client['company_name']; ?></option>
                                <?php } ?>
                            </select>
                            <span class="mdl-textfield__error"><?= $text_field_required; ?></span>
                        </div>
                    </div>
                </div>

            </div>

            <div class="table-header transition out">
                <h4 style="margin-bottom: 15px;">Pending Payments
                </h4>

                <div class="clearfix"></div>
                <div class="form-group col-xs-3">
                    <input name="bol" id="filter-bol" class="form-control" placeholder="Search by Dispatch No.">
                </div>
                <div class="form-group col-xs-9 text-right">
                    <small>Results per page:</small>
                    <select name="limit" id="filter-limit">
                        <option value="15" selected>15</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                    </select>
                </div>
            </div>

            <table id="item-list" class="mdl-data-table hidden mdl-js-data-table  md-table  col-xs-12 transition out">
                <thead>
                <tr id="table-head">
                    <th class="mdl-data-table__header">Sr. No</th>
                    <th class="mdl-data-table__header sortable no-sort">Dispatch No</th>
                    <th class="mdl-data-table__header sortable no-sort" id="item_name">Order ID</th>
                    <th class="mdl-data-table__header sortable no-sort" id="brand_name">Order Date</th>
                    <th class="mdl-data-table__header sortable no-sort" id="brand_name">BOL Date</th>
                    <th class="mdl-data-table__header sortable no-sort" >HT</th>
                    <th class="mdl-data-table__header ">Details</th>
                    <th class="mdl-data-table__header ">Payment</th>
                </tr>
                </thead>
                <tbody id="items-body">

                </tbody>
            </table>
            <div class="clearfix"></div>
            <div class='tfoot hidden' style="padding: 20px 20px 10px;    background: #f5f5f5;    font-size: 12px;    font-weight: bold;">
                <span class="text-left">
                    Showing <span class="limit_count"></span> of <span class="total_count"></span> results
                </span>
                <span class="paginate pull-right"></span>
            </div>


        </div>
    </form>
    <div class="clearfix"></div>
    <div class="table-header return-list hidden" style="margin-top: 5px;">
                <h4 >Pending Returns
                </h4>
    </div>

            <table id="return-item-list" class="mdl-data-table mdl-js-data-table  md-table  col-xs-12 hidden ">
                <thead>
                <tr id="table-head">
                    <th class="mdl-data-table__header">Sr. No</th>
                    <th class="mdl-data-table__header sortable no-sort" id="item_name">Order ID</th>
                    <th class="mdl-data-table__header sortable no-sort" id="brand_name">Order Date</th>
                    <th class="mdl-data-table__header sortable no-sort" >HT</th>
                    <th class="mdl-data-table__header ">Details</th>
                    <th class="mdl-data-table__header ">Payment</th>
                </tr>
                </thead>
                <tbody id="return-items-body">

                </tbody>
            </table>
        </div>
</div>


<div id="row-template" hidden>
    <table>
        <tr>
            <td class="mdl-data-table__cell--non-numeric _sr_no clickable"></td>
            <td class="mdl-data-table__cell--non-numeric _bol_number clickable"></td>
            <td class="mdl-data-table__cell--non-numeric _order_id clickable"></td>
            <td class="mdl-data-table__cell--non-numeric _order_date clickable"></td>
            <td class="mdl-data-table__cell--non-numeric _bol_date clickable"></td>
            <td class="mdl-data-table__cell--non-numeric _ht">&euro;</td>
            <td class="mdl-data-table__cell--non-numeric">
                <button type='button' class='getDetails image mdl-button mdl-js-button mdl-button--icon mdl-button--colored'>
                    <i class="material-icons">info</i>
                </button>
            </td>
            <td class="mdl-data-table__cell--non-numeric">
                <button type='button' class='add-to-payment image mdl-button mdl-button--colored'>
                    Add to payment
                </button>
            </td>
        </tr>
    </table>
</div>

<div id="return-template" hidden>
    <table>
        <tr>
            <td class="mdl-data-table__cell--non-numeric _sr_no clickable"></td>
            <td class="mdl-data-table__cell--non-numeric _order_id clickable"></td>
            <td class="mdl-data-table__cell--non-numeric _order_date clickable"></td>
            <td class="mdl-data-table__cell--non-numeric _ht">&euro;</td>
            <td class="mdl-data-table__cell--non-numeric">
                <button type='button' class='getReturnDetails image mdl-button mdl-js-button mdl-button--icon mdl-button--colored' onclick="getReturnDetails(this);">
                    <i class="material-icons">info</i>
                </button>
            </td>
            <td class="mdl-data-table__cell--non-numeric">
                <button type='button' class='add-return-to-payment image mdl-button mdl-button--colored'>
                    Add to payment
                </button>
            </td>
        </tr>
    </table>
</div>

<div class="clearfix"></div>

<div hidden>
    <table>
        <tr id="order-row-template">
            <td class="mdl-data-table__cell--non-numeric _item_name clickable"></td>
            <td class="mdl-data-table__cell--non-numeric _brand_name clickable"></td>
            <td class="mdl-data-table__cell--non-numeric _reference clickable"></td>
            <td class="mdl-data-table__cell--non-numeric _packing clickable"></td>
            <td class="mdl-data-table__cell--non-numeric _area clickable"></td>
            <td class="mdl-data-table__cell--non-numeric _offer_rate"><input type="text" value="">&euro;</td>
            <td class="mdl-data-table__cell--non-numeric _quantity "><input class="quantity-type col-xs-7 no-padding" type="number" min="0"><span class="total-items col-xs-5 no-padding">0</span></td>
        </tr>
    </table>
</div>



<div id="modal-view" hidden>
    <div class="view-title">
        BOL Details
    </div>
    <div class="view-body">


        <div class="form-content">

            <div>
           <div class="text-right">
                        <button id="print-btn" class="mdl-button mdl-js-button mdl-button--icon mdlbutton--colored edit-button" onclick="window.print()">
                            <i class="material-icons">print</i>
                        </button>
                        <div class="mdl-tooltip mdl-tooltip--large" for="print-btn">Print</div>

                    </div>

                    <table class="order_details table-striped col-xs-12 col-sm-6">
                            <tr>
                                <td>BOL Number:</td>
                                <td id="bol_number_m">#</td>
                            </tr>
                            <tr>
                                <td><?=$text_order_date;?>:</td>
                                <td id="order_date_m"></td>
                            </tr>
                            <tr>
                                <td><?=$text_client_name;?>:</td>
                                <td id="company_name_m"></td>
                            </tr>
                            <tr>
                                <td><?=$text_delivery_address;?>:</td>
                                <td id="vendor_address_m"></td>
                            </tr>
                    </table>
                    <table class="order_details  table-striped col-xs-12 col-sm-6">
                            <tr>
                                <td><?=$text_delivery_date;?>:</td>
                                <td id="delivery_date_m"></td>
                            </tr>
                            <tr>
                                <td>HT:</td>
                                <td><span id="htt_m" class="text-success"> &euro;</span></td>
                            </tr>
                            <tr>
                                <td>TVA:</td>
                                <td><span id="tva_m" class="text-danger">%</span></td>
                            </tr>
                            <tr>
                                <td> <?=$text_grand_total;?>:</td>
                                <td class="text-danger"><span id="ttc_m" class="text-danger"> &euro;</span></td>
                            </tr>

                    </table>


            </div>
            <div class="clearfix"></div>
            <hr>

            <div class="clearfix"></div>
            <table class="mdl-data-table mdl-js-data-table  md-table col-xs-12 ">
                <thead>
                <tr>
                    <td class="mdl-data-table__cell--non-numeric">Sr. No</td>
                    <th class="mdl-data-table__cell--non-numeric"><?= $text_reference; ?></th>
                    <th class="mdl-data-table__cell--non-numeric"><?= $text_item_name; ?></th>
                    <th class="mdl-data-table__cell--non-numeric"><?= $text_brand_name; ?></th>
                    <th class="mdl-data-table__cell--non-numeric"><?= $text_quantity; ?></th>
                    <th class="mdl-data-table__cell--non-numeric">Rate</th>

                </tr>
                </thead>
                <tbody id="bol_items">
                </tbody>
            </table>
        </div>
    </div>

</div>
            
            <table hidden id="bol_temp">
                <tbody>

                <tr>
                    <td class="mdl-data-table__cell--non-numeric bi_sr"></td>
                    <td class="mdl-data-table__cell--non-numeric bi_reference"></td>
                    <td class="mdl-data-table__cell--non-numeric bi_item_name"></td>
                    <td class="mdl-data-table__cell--non-numeric bi_brand_name"></td>
                    <td class="mdl-data-table__cell--non-numeric bi_quantity"></td>
                    <td class="mdl-data-table__cell--non-numeric bi_rate"></td>

                </tr>
                </tbody>
            </table>
<div id="return-modal-view" hidden>
    <div class="view-title">
      <?=$text_return_order;?>
    </div>
    <div class="view-body">
      
        <div class="form-content">
            <div>
                <div class="text-right">
                <button id="print-btn" class="mdl-button mdl-js-button mdl-button--icon mdlbutton--colored edit-button" onclick="window.print()">
                    <i class="material-icons">print</i>
                </button>
                <div class="mdl-tooltip mdl-tooltip--large" for="print-btn">Print</div>
            </div>
            
            <table class="order_details table-striped col-xs-12 col-sm-6">
                <tr>
                    <td>RO#:</td>
                    <td id="order_id_m">#</td>
                </tr>
                <tr>
                    <td><?=$text_order_date;?>:</td>
                    <td id="order_date_m"></td>
                </tr>
                <tr>
                    <td>Client Name:</td>
                    <td id="company_name_m"></td>
                </tr>
                <tr>
                    <td>Return Reason:</td>
                    <td id="return_reason_m"></td>
                </tr>
                <tr>
                    <td>Description:</td>
                    <td id="description_m"></td>
                </tr>
            </table>
            <table class="order_details  table-striped col-xs-12 col-sm-6">
                <tr>
                    <td>Person Responsible:</td>
                    <td id="person_responsible_m">***</td>
                </tr>
                <tr>
                    <td>HT:</td>
                    <td><span id="htt_m" class="text-success"> &euro;</span></td>
                </tr>
                <tr>
                    <td>TVA:</td>
                    <td><span id="tva_m" class="text-danger">%</span></td>
                </tr>
                <tr>
                    <td> <?=$text_grand_total;?>:</td>
                    <td class="text-danger"><span id="ttc_m" class="text-danger"> &euro;</span></td>
                </tr>

            </table>
        </div>
        <div class="clearfix"></div>
            <hr>
            <table class="mdl-data-table mdl-js-data-table  md-table col-xs-12 ">
                <thead>
                    <tr>
                        <th class="mdl-data-table__cell--non-numeric"><?=$text_reference;?></th>
                        <th class="mdl-data-table__cell--non-numeric"><?=$text_item_name;?></th>
                        <th class="mdl-data-table__cell--non-numeric"><?=$text_brand_name;?></th>
                        <th class="mdl-data-table__cell--non-numeric">Rate</th>
                        <th class="mdl-data-table__cell--non-numeric"><?=$text_quantity;?></th>
                        <th class="mdl-data-table__cell--non-numeric"><?=$text_total;?></th>

                    </tr>
                </thead>
                <tbody id="item-table-body"></tbody>
            </table>
        </div>
    </div>

</div>

<div hidden>

        <table class="mdl-data-table mdl-js-data-table  md-table col-xs-12 ">
            <tbody id = "item-order-node">
            <tr id="">
                <td class="mdl-data-table__cell--non-numeric _r_reference">Lorem.</td>
                <td class="mdl-data-table__cell--non-numeric _r_item_name">1</td>
                <td class="mdl-data-table__cell--non-numeric _r_brand_name">Lorem ipsum.</td>
                <td class="mdl-data-table__cell--non-numeric _r_sell_rate">&euro;</td>
                <td class="mdl-data-table__cell--non-numeric _r_quantity"></td>
                <td class="mdl-data-table__cell--non-numeric  _r_total">&euro;</td>
            </tr>
            </tbody>
        </table>

    </div>
<script>

    $("#item-list > tbody > tr").click(function () {
        MDialog.start({}, "detail", this, $("#modal-view"));
    });

        var clientFilterList = [];
        var dateFilter = [];
        var refFilter = [];
        var itemIdFilterList = [];
        var categoryFilterList = [];
        var areaFilterList = [];
        var brandFilter = [];

    var tableheader = $("#table-head");

    function tableSort() {
        var th = $(this);
        if (th.hasClass("no-sort")) {
            tableheader.children(".sortable").removeClass("mdl-data-table__header--sorted-ascending");
            tableheader.children(".sortable").removeClass("mdl-data-table__header--sorted-descending");
            tableheader.children(".sortable").addClass("mdl-data-table__header");
            tableheader.children(".sortable").addClass("no-sort");
            th.removeClass("no-sort");
            th.removeClass("mdl-data-table__header");
            th.addClass("mdl-data-table__header--sorted-ascending");
            loadItems();
            return;
        }

        if (th.hasClass("mdl-data-table__header--sorted-ascending")) {
            th.removeClass("mdl-data-table__header--sorted-ascending");
            th.addClass("mdl-data-table__header--sorted-descending");
            loadItems();
            return;
        }

        if (th.hasClass("mdl-data-table__header--sorted-descending")) {
            th.removeClass("mdl-data-table__header--sorted-descending");
            th.addClass("mdl-data-table__header");
            th.addClass("no-sort");
            loadItems();
        }

    }

    $(document).ready(function () {
        //$("#refresh-data-btn").click(loadItems);
        tableheader.children(".sortable").click(tableSort);
    });


var pageCount = 1;
var filter_bol_number = "";

    function loadItems() {
        filterLimit = $("#filter-limit").val();
        client_id = $("#client-name").val();
        $(".mdl-progress").show();
        var postData = {
            client: client_id,
            itemIdList: itemIdFilterList,
            refList: refFilter,
            categoryFilter: categoryFilterList,
            areaFilter: areaFilterList,
            brand: brandFilter,
            limit : filterLimit,
            page : pageCount,
            filterBol : filter_bol_number,
            list:"item"
        };

        if (tableheader.children(".sortable.mdl-data-table__header--sorted-ascending").length > 0) {
            postData.sort = "ASC";
            postData.sortField = $(tableheader.children(".sortable.mdl-data-table__header--sorted-ascending")[0]).attr("id");
        }
        if (tableheader.children(".sortable.mdl-data-table__header--sorted-descending").length > 0) {
            postData.sort = "DESC";
            postData.sortField = $(tableheader.children(".sortable.mdl-data-table__header--sorted-descending")[0]).attr("id");
        }
        $.ajax({
            url: '?route=salesOrder/getClientBol',
            type: 'POST',
            data: postData,
            dataType: 'json',
            success: function (returnData) {
                // items = returnData.itemList;
                data = returnData.list;
                returnList = returnData.return;
                $(".total_count").html(returnData.total_count);
                $(".limit_count").html(data.length);
                $(".paginate").html(returnData.pagination);
                $(".tfoot").removeClass("hidden");
                $("#items-body").html("");
                $("#item-list").removeClass("hidden");
                $("#item-list").show();


                for (var i = 0; i < data.length; i++) {
                    var rowNode = $("#row-template > table > tbody > tr").clone(true);
                    rowNode.attr("id", data[i].bol_id);
                    rowNode.children("._sr_no").html((i + 1) + "");
                    rowNode.children("._bol_number").html(data[i].bol_id);
                    rowNode.children("._order_id").html(data[i].order_id);
                    rowNode.children("._order_date").html(data[i].order_date);
                    rowNode.children("._bol_date").html(data[i].date_of_receipt);
                    rowNode.children("._ht").html(data[i].ht +"&euro;");
                    rowNode.children("._offer_rate").children("input").val();

                    if(returnData.b_queued[data[i].bol_id] != undefined) {
                        $(".add-to-payment",rowNode).html("Remove from Payment");
                        $(".add-to-payment",rowNode).addClass("mdl-button--accent");
                        $(".add-to-payment",rowNode).removeClass("mdl-button--primary");
                        $(".add-to-payment",rowNode).click(removeFromPayment);
                    }else{
                         $(".add-to-payment",rowNode).click(addToPayment);
                        $(".add-to-payment",rowNode).html("Add to Payment");
                        $(".add-to-payment",rowNode).removeClass("mdl-button--accent");
                        $(".add-to-payment",rowNode).addClass("mdl-button--primary");
                    }
                    $("#items-body").append(rowNode);

                }

                if(returnList.length){
                     $(".return-list").removeClass("hidden");
                     $("#return-item-list").removeClass("hidden");

                    for (var i = 0; i < returnList.length; i++) {
                        var rowNode = $("#return-template > table > tbody > tr").clone(true);
                        rowNode.attr("id", returnList[i].order_id);
                        rowNode.children("._sr_no").html((i + 1) + "");
                        rowNode.children("._order_id").html(returnList[i].order_id);
                        rowNode.children("._order_date").html(returnList[i].order_date);
                        rowNode.children("._ht").html(returnList[i].htt +"&euro;");
                        if(returnData.queued[returnList[i].order_id] != undefined) {
                            $(".add-return-to-payment",rowNode).html("Remove from Payment");
                            $(".add-return-to-payment",rowNode).addClass("mdl-button--accent");
                            $(".add-return-to-payment",rowNode).removeClass("mdl-button--primary");
                            $(".add-return-to-payment",rowNode).click(removeFromReturnQueue);
                        }else{
                             $(".add-return-to-payment",rowNode).click(addReturnToPayment);
                            $(".add-return-to-payment",rowNode).html("Add to Payment");
                            $(".add-return-to-payment",rowNode).removeClass("mdl-button--accent");
                            $(".add-return-to-payment",rowNode).addClass("mdl-button--primary");
                        }
                        $("#return-items-body").append(rowNode);

                    }
                }else{
                    $(".return-list").addClass("hidden");
                     $("#return-item-list").addClass("hidden");
                }
                $(".mdl-progress").hide();
                //showSnackbar("Data loaded.");
            },
            error: function () {
                $(".mdl-progress").hide();
                showSnackbar("Can't complete your request.");
            }
        });
    }


    function getDetails() {
        var id = $(this).parent().parent().attr("id");
        var button = $(this);
        $.ajax({
            url: '?route=salesOrder/getBolInfo&bol_number=' + id,
            type: 'GET',
            dataType: 'json',
            success: function (returnData) {
                od = returnData.order_details;
                bi = returnData.bol_items;
                $("#bol_number_m").html("#"+id);
                $("#company_name_m").html(od.company_name);
                $("#order_date_m").html(od.order_date);
                if(od.delivery_other != undefined && od.delivery_other != "")
                    da = od.delivery_other;
                else 
                    da = returnData.delivery[od.delivery_address].address + returnData.delivery[od.delivery_address].city + returnData.delivery[od.delivery_address].postal + "("+returnData.delivery[od.delivery_address].name +")";
                $("#delivery_date_m").html(bi[bi.length-1].date_of_receipt);
                $("#vendor_address_m").html(da);

                $("#bol_items").html("");
                ht = 0;
                ttc = 0;
                for (i = 0; i < bi.length;  i++) {
                    var rowNode = $("#bol_temp > tbody > tr").clone(true);
                        rowNode.attr("id", bi[i].item_id);
                        rowNode.children(".bi_sr").html((i + 1) + "");
                        rowNode.children(".bi_reference").html(bi[i].reference);
                        rowNode.children(".bi_rate").html(bi[i].rate +"&euro;");
                        rowNode.children(".bi_quantity").html(bi[i].quantity_received);
                        rowNode.children(".bi_item_name").html(bi[i].item_name);
                        rowNode.children(".bi_brand_name").html(bi[i].brand_name);
                        ht += parseInt(bi[i].quantity_received)*parseFloat(bi[i].rate);
                        $("#bol_items").append(rowNode);
                }
                ttc = (ht*od.tva)/100;
                ttc += ht;
                $("#htt_m").html(ht+"&euro;");
                $("#tva_m").html(od.tva+"%");
                $("#ttc_m").html(ttc+"&euro;");
                MDialog.start({}, "detail", this, $("#modal-view"));
            }
        });

    }
     function getReturnDetails(e) {
        var id = $(e).parent().parent().attr("id");
        $.ajax({
            url: '?route=purchaseOrder/getReturnOrderDetails&order_id=' + id,
            type: 'GET',
            dataType: 'json',
            success: function (returnData) {
                var orderItems = returnData.order_items;
                var salesOrder = returnData.purchase_order;
                $("#order_id_m", $("#return-modal-view")).html("#"+salesOrder.order_id);
                $("#htt_m", $("#return-modal-view")).prepend(salesOrder.htt);
                $("#tva_m", $("#return-modal-view")).html(salesOrder.tva);
                $("#ttc_m", $("#return-modal-view")).prepend(salesOrder.ttc);
                $("#order_date_m", $("#return-modal-view")).html(salesOrder.order_date);
                $("#company_name_m", $("#return-modal-view")).html(salesOrder.company_name);
                $("#return_reason_m", $("#return-modal-view")).html(returnData.reason[salesOrder.return_reason]);
                $("#person_responsible_m", $("#return-modal-view")).html(salesOrder.person_responsible);
                $("#description_m", $("#return-modal-view")).html("<span style='font-style:italic; font-weight:normal'>"+salesOrder.comment+"</span>");
                for(var i = 0; i < orderItems.length; i++){
                    var rowNode = $("#item-order-node").children().clone();
                    rowNode.children("._r_item_name").html(orderItems[i].item_name);
                    rowNode.children("._r_brand_name").html(orderItems[i].brand_name);
                    rowNode.children("._r_reference").html(orderItems[i].reference);
                    rowNode.children("._r_sell_rate").prepend(orderItems[i].rate);
                    rowNode.children("._r_quantity").html(orderItems[i].quantity);
                   rowNode.children("._r_total").prepend(orderItems[i].quantity*orderItems[i].rate);
                    
                    $("#item-table-body").append(rowNode);
                }
                MDialog.start({},"detail",this,$("#return-modal-view"));
            }
        });
    }
    function addToPayment() {
        
        $(".mdl-progress").show();
        id = $(this).parent().parent().attr("id");
        vendor = $("#client-name").val();
        _this = $(this);

        $.ajax({
            url: '?route=salesOrder/addBolToPayment',
            type: 'POST',
            data:{
                bol_number : id,
                client_id : vendor
            },
            dataType: 'json',
            success: function(status) {
                _this.html("Remove from Payment");
                _this.addClass("mdl-button--accent");
                _this.removeClass("mdl-button--primary");
                _this.off("click");
                _this.click(removeFromPayment);
                $(".mdl-progress").hide();
            }
        });

    }
    function removeFromPayment() {
        $(".mdl-progress").show();
        _this = $(this);
        id = $(this).parent().parent().attr("id");
        vendor = $("#client-name").val();

        $.ajax({
            url: '?route=salesOrder/removeFromPayment',
            type: 'POST',
            data:{
                bol_number : id,
                client_id : vendor
            },
            dataType: 'json',
            success: function(status) {
                _this.html("Add to Payment");
                _this.removeClass("mdl-button--accent");
                _this.addClass("mdl-button--primary");
                _this.off("click");
                _this.click(addToPayment);
                $(".mdl-progress").hide();
            }
        });
    }
    function addReturnToPayment() {
        $(".mdl-progress").show();
        id = $(this).parent().parent().attr("id");
        vendor = $("#client-name").val();
        _this = $(this);

        $.ajax({
            url: '?route=salesOrder/addReturnToQueue',
            type: 'POST',
            data:{
                return_id : id,
                client_id : vendor
            },
            dataType: 'json',
            success: function(status) {
                alert("Return order added to Payment");
                _this.html("Remove from Payment");
                _this.addClass("mdl-button--accent");
                _this.removeClass("mdl-button--primary");
                _this.off("click");
                _this.click(removeFromReturnQueue);
                $(".mdl-progress").hide();
            }
        });
    }
    function removeFromReturnQueue() {
        $(".mdl-progress").show();
        _this = $(this);
        id = $(this).parent().parent().attr("id");
        vendor = $("#client-name").val();

        $.ajax({
            url: '?route=salesOrder/removeFromReturnQueue',
            type: 'POST',
            data:{
                return_id : id,
                client_id : vendor
            },
            dataType: 'json',
            success: function(status) {
                alert("Return order removed from Payment");
                _this.html("Add to Payment");
                _this.removeClass("mdl-button--accent");
                _this.addClass("mdl-button--primary");
                _this.off("click");
                _this.click(addReturnToPayment);
                $(".mdl-progress").hide();
            }
        });
    }


    $(document).ready(function () {
        $("#refresh-data-btn").click(loadItems);
        $(".getDetails").click(getDetails);
        // $(".add-to-payment").click(addToPayment);
        // $(".add-return-to-payment").click(addReturnToPayment);
        // $(".remove-from-payment").click(removeFromReturnQueue);
        tableheader.children(".sortable").click(tableSort);
        // $("#filter-box").change(filterResults);

    });
    $("#remove-order").click(function(){
        $("#m-dialog-close-btn").trigger("click");
});

    $("#client-name").change(function(){
        _id = $(this).val();
        if(_id){
            $(".transition").removeClass("out");
            loadItems();
        }
        else{
                    $(".tfoot").addClass("hidden");
                    $(".transition").addClass("out");
                    $("#items-body").html("");
                    if(data.status) $("#add-items-button").attr("disabled", true);
                    $(".order_details").addClass("hidden");
                    $("#item-list").hide();
        }
    });


    $("#filter-limit").change(function(){
        pageCount=1;
        loadItems();
    });
    $(document).on("click", ".pagination li a", function(e){
        e.preventDefault();
        found = false;
        url = $(this).attr("href");
        splinters = url.split("&");
        $.each(splinters, function(key, val){
            vals = val.split("=");
            if(vals[0] == "page") {
                found = true;
                pageCount = vals[1];
            }
        });
        if(!found) pageCount = 1;
        loadItems();
    });
    var brandString = "";
    var itemString = "";
    $(document).ready(function(){

    $("#filter-bol").keyup(function(){
        val = $(this).val();
        if(val != "")
          {
            filter_bol_number = val;
            loadItems();
          }
          else{
            filter_bol_number = "";
            loadItems();
          }
    });
  });
</script>
