<div class=" center-margin col-xs-8">
    <form>
        <div class="form-card mdl-card  mdl-shadow--2dp col-xs-12">
            <div class="form-header">
                <h4><?=$text_title;?></h4>
            </div>

            <div id="expense-con" class="form-content ">


                <div  class="form-field col-xs-12">

                </div>
            </div>



            <div class="mdl-card__actions mdl-card--border">

                <button type="submit"
                        class="mdl-button mdl-js-button mdl-button--raised mdl-button--primary pull-right">
                    <?=$text_create;?>
                </button>
                <button type="button" id="add-expense"
                        class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary center-block">
                     <?=$text_add_new_expense;?>
                </button>
                <button type="reset" class="mdl-button mdl-js-button mdl-button--accent pull-right">
                   <?=$text_reset;?>
                </button>
            </div>
        </div>
    </form>


</div>


<div id="select-b" class=" form-field col-xs-12 transition out">
    <div class="col-xs-5">
        <select name="expense_1" class="field">
            <?php
                foreach($expense_list as $expenses):
                    echo "<option name='" . $expenses["expense_id"] ."'>"
                    .$expenses['expense_title']."</option>";
                endforeach;
            ?>
        </select>
    </div>
    <div class="col-xs-6">
        <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="text" id="sample1">
            <label class="mdl-textfield__label" for="sample1"></label>
        </div>
    </div>
    <div class="col-md-1 delete-expense"><i class="material-icons cancel-button">cancel</i></div>
</div>


<script>

    $("#add-items-button").click(function () {
        $(".transition").removeClass("out");
        $(this).hide();
        return false;
    });

    $("#item-list > tbody > tr").click(function () {
        MDialog.start({}, "detail", this, $("#modal-view"));
    });

    var count = 1;

    function addNode() {
        count++;
        var node = $("#select-b").clone();
        node.attr("id", "");
        node.attr("name", "expense_" + count);
       // node.attr("hidden",false);
        $($(node.children()[0]).children()[0]).selectize({
            sortField: 'text',
            theme: 'links'
        });
        node.children(".delete-expense").click(function () {
            $(this).parent().remove();
        });
        $("#expense-con").append(node);
        node.removeClass()
    }


    $("#add-expense").click(function () {
            addNode();

    });




</script>




