
<style type="text/css">
    .mb
{
    margin-bottom:5px;
}
.pr
{
    padding-right:5px;
}

.form a:hover
{
    text-decoration:none;
    color:gray;
}
.form a
{
    margin-left:10px;
    color:gray;
}
.panel-body
{
    border-bottom:1px solid #ddd;
    width:100%;
    font-size:14px;
}
i.fa{
    position: absolute;
    left:-4px;
    top:2px;
}
</style>
   <!--  <?php if(count($notifications) > 0){ ?>
            <?php
                foreach($notifications as $notification):
            ?>
                    <li class="mdl-menu__item ">
                        <a href="t"><div class="menu-item-wrapper">
                                <span class="notification-text-h"><?php echo strtoupper(str_replace("_", " ", $notification['activity_type'])); ?></span>
                                <span class="pull-right notification-time"><?php $date = new DateTime($notification['created_on']); echo $date->format("d, M, Y"); ?></span>
                                <div><span class="">#<?php echo $notification['activity_object'] ?></span></div>
                            </div></a>
                    </li>
            <?php endforeach; ?>

            <?php 
                if(count($notifications) == 3): ?>
                    <li class="mdl-menu__item last">
                        <div class="menu-item-wrapper">
                            <span class="notification-text">Show All</span>
                        </div>
                    </li>
            <?php endif; ?>
    <?php } else { ?>
    <li class="mdl-menu__item" style="border-bottom: none; text-align: center; padding-top:20px; font-weight: bold;">
                        <div class="menu-item-wrapper">
                            <span class="notification-text">No new notifications</span>
                        </div>
                    </li>
                    <?php } ?>
    <div class="clearfix"></div> -->
    <div class=" container-fluid  col-xs-12 ">

            <div class="col-md-3">
        
        <div class="panel panel-primary mb">
            <div class="panel-heading">unread</div>
        </div>
        
        <div class="panel panel-default">
            <div class="panel-heading">all notifications<span class="pull-right"></span></div>
            </div>
        
        <a href="#" class="text-muted">All notification</a>
        
        <hr>
        
        <a href="#">purcahase orders<span class="pull-right">0</span></a>
        <div class="clearfix"></div>
        <a href="#">sales orders<span class="pull-right">0</span></a>
        <div class="clearfix"></div>
        <a href="#">bill of lading<span class="pull-right">0</span></a>
        <div class="clearfix"></div>
        <a href="#">dispatch<span class="pull-right">0</span></a>
        <div class="clearfix"></div>
    </div>

    <div class="col-md-9">

        <div class="panel panel-default">
            <div class="panel-heading">Notifications</div>
                  <?php
                foreach($notifications as $notification):
            ?>
                    
            <div class="panel-body">
                    <div class="col-md-6"><i class="fa fa-bell-o"></i> <?php echo ucfirst(str_replace("_", " ", $notification['activity_type'])); ?></div>
                                 
                    <div class="col-md-3 text-right"><?php $date = new DateTime($notification['created_on']); echo $date->format("d, M, Y"); ?></div>
                    <div class="col-md-3 text-right">#<?php echo $notification['activity_object'] ?>
                             </div>
            </div>
                <?php endforeach; ?>
          
        </div>
    </div>
      

    </div>

