<style type="text/css">
    .pagination{
        margin:0 !important;
    }
    .selectize-input{
        background-image: none !important;
        background-color:#fff !important;
        border:1px solid #aaa !important;
    }
</style>

<div class="center-margin col-xs-12">



    <div class="table-card mdl-card  mdl-shadow--2dp col-xs-12 ">

        <div class="table-header">
            <h4 style="margin-bottom: 15px;">Return Orders
            </h4>
            
            <div class="form-group col-xs-12 text-right">
                    <small>Results per page:</small>
                    <select name="limit" id="filter-limit">
                        <option value="15" selected>15</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                    </select>
                </div>
            <!-- <div class="form-group col-xs-3">
                <select name="client" id="filter-client" class="selectize" placeholder="Client">
                </select>
            </div> -->
            <div class="form-group col-xs-3">
                <select name="brand_name" id="filter-brand" class="selectize" placeholder="Brand Name">
                </select>
            </div>
            <div class="form-group col-xs-3">
                <select name="brand" id="filter-category" class="selectize" placeholder="Category">
                </select>
            </div>

            <div class="form-group col-xs-3">
                <select name="ref" id="filter-ref" class="selectize" placeholder="Reference">
                </select>
            </div>
            <select name="client_name" multiple class="field selectize-filter-items hidden">
                <option value=""><?=$text_search;?></option>
            </select>
        </div>
        <div id="t_wrap">
            <table class="mdl-data-table mdl-js-data-table  md-table col-xs-12 expandable ">
                <thead>
                    <tr>
                        <th class="mdl-data-table__cell--non-numeric"><?=$text_return_number;?></th>
                        <th class="mdl-data-table__cell--non-numeric"><?=$text_return_date;?> </th>
                        <th class="mdl-data-table__cell--non-numeric"><?=$text_client_name;?></th>
                        <th class="mdl-data-table__cell--non-numeric"><?=$text_address;?></th>
                        <th class="mdl-data-table__cell--non-numeric"><?=$text_action;?></th>
                       
                    </tr>
                </thead>
                <tbody id="order-body">
                </tbody>
                <?php if($pagination !== ""): ?>
                    <tfoot>
                        <tr>
                            <td colspan="7"><?php echo $pagination; ?></td>
                        </tr>
                    </tfoot>
                <?php endif; ?>
            </table>
        </div>
    </div>
</div>
    <table id="order_template" hidden>
        <tbody>
            <tr class="parent-row" id="">
                <td class="mdl-data-table__cell--non-numeric _order_id"></td>
                <td class="mdl-data-table__cell--non-numeric _order_date"></td>
                <td class="mdl-data-table__cell--non-numeric _client_name"></td>
                <td class="mdl-data-table__cell--non-numeric _client_address"></td>
                <td class="mdl-data-table__cell--non-numeric clickable">
                    <button id="btn-ap-2" class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored" onclick="getDetails(this);">
                        <i class="material-icons">info</i>
                    </button>
                    <div class="mdl-tooltip mdl-tooltip--large" for="btn-ap-2"><?=$text_details;?></div>
                        
                </td>               
            </tr>
        </tbody>
    </table>

<div id="modal-view" hidden>
    <div class="view-title">
      <?=$text_return_order;?>
    </div>
    <div class="view-body">
      
        <div class="form-content">
            <div>
                <div class="text-right">
                <button id="print-btn" class="mdl-button mdl-js-button mdl-button--icon mdlbutton--colored edit-button" onclick="window.print()">
                    <i class="material-icons">print</i>
                </button>
                <div class="mdl-tooltip mdl-tooltip--large" for="print-btn">Print</div>

                <!-- <button id="cancel-order" class="mdl-button mdl-js-button mdl-button--icon mdlbutton--colored edit-button" data-order="" onclick="confirmDeletion(this, 1);">
                    <i class="material-icons text-danger">delete</i>
                </button>
                <div class="mdl-tooltip mdl-tooltip--large" for="cancel-order">Cancel Order</div> -->
            </div>
            
            <table class="order_details table-striped col-xs-12 col-sm-6">
                <tr>
                    <td>RO#:</td>
                    <td id="order_id_m">#</td>
                </tr>
                <tr>
                    <td><?=$text_order_date;?>:</td>
                    <td id="order_date_m"></td>
                </tr>
                <tr>
                    <td><?=$text_client_name;?>:</td>
                    <td id="company_name_m"></td>
                </tr>
                <tr>
                    <td>Return Reason:</td>
                    <td id="return_reason_m"></td>
                </tr>
                <tr>
                    <td>Description:</td>
                    <td id="description_m"></td>
                </tr>
            </table>
            <table class="order_details  table-striped col-xs-12 col-sm-6">
                <tr>
                    <td>Person Responsible:</td>
                    <td id="person_responsible_m">***</td>
                </tr>
                <tr>
                    <td>HT:</td>
                    <td><span id="htt_m" class="text-success"> &euro;</span></td>
                </tr>
                <tr>
                    <td>TVA:</td>
                    <td><span id="tva_m" class="text-danger">%</span></td>
                </tr>
                <tr>
                    <td> <?=$text_grand_total;?>:</td>
                    <td class="text-danger"><span id="ttc_m" class="text-danger"> &euro;</span></td>
                </tr>

            </table>
        </div>
        <div class="clearfix"></div>
            <hr>
            <table class="mdl-data-table mdl-js-data-table  md-table col-xs-12 ">
                <thead>
                    <tr>
                        <th class="mdl-data-table__cell--non-numeric"><?=$text_reference;?></th>
                        <th class="mdl-data-table__cell--non-numeric"><?=$text_item_name;?></th>
                        <th class="mdl-data-table__cell--non-numeric"><?=$text_brand_name;?></th>
                        <th class="mdl-data-table__cell--non-numeric"><?=$text_sell_rate;?></th>
                        <th class="mdl-data-table__cell--non-numeric"><?=$text_quantity;?></th>
                        <th class="mdl-data-table__cell--non-numeric"><?=$text_total;?></th>

                    </tr>
                </thead>
                <tbody id="item-table-body"></tbody>
            </table>
        </div>
    </div>

</div>

<div hidden>

        <table class="mdl-data-table mdl-js-data-table  md-table col-xs-12 ">
            <tbody id = "item-order-node">
            <tr id="">
                <td class="mdl-data-table__cell--non-numeric _r_reference">Lorem.</td>
                <td class="mdl-data-table__cell--non-numeric _r_item_name">1</td>
                <td class="mdl-data-table__cell--non-numeric _r_brand_name">Lorem ipsum.</td>
                <td class="mdl-data-table__cell--non-numeric _r_sell_rate">&euro;</td>
                <td class="mdl-data-table__cell--non-numeric _r_quantity"></td>
                <td class="mdl-data-table__cell--non-numeric  _r_total">&euro;</td>
            </tr>
            </tbody>
        </table>

    </div>

<script>

     function getDetails(e) {
        var id = $(e).parent().parent().attr("id");
        $.ajax({
            url: '?route=salesOrder/getReturnOrderDetails&order_id=' + id,
            type: 'GET',
            dataType: 'json',
            success: function (returnData) {
                var orderItems = returnData.order_items;
                var salesOrder = returnData.sales_order;
                $("#order_id_m").html("#"+salesOrder.order_id);
                $("#htt_m").prepend(salesOrder.htt);
                $("#tva_m").html(salesOrder.tva);
                $("#ttc_m").prepend(salesOrder.ttc);
                $("#order_date_m").html(salesOrder.order_date);
                $("#company_name_m").html(salesOrder.company_name);
                $("#return_reason_m").html(returnData.reason[salesOrder.return_reason]);
                $("#person_responsible_m").html(salesOrder.person_responsible);
                $("#description_m").html("<span style='font-style:italic; font-weight:normal'>"+salesOrder.comment+"</span>");
                for(var i = 0; i < orderItems.length; i++){
                    var rowNode = $("#item-order-node").children().clone();
                    rowNode.children("._r_item_name").html(orderItems[i].item_name);
                    rowNode.children("._r_brand_name").html(orderItems[i].brand_name);
                    rowNode.children("._r_reference").html(orderItems[i].reference);
                    rowNode.children("._r_sell_rate").prepend(orderItems[i].rate);
                    rowNode.children("._r_quantity").html(orderItems[i].quantity);
                   rowNode.children("._r_total").prepend(orderItems[i].quantity*orderItems[i].rate);
                    
                    $("#item-table-body").append(rowNode);
                }
                MDialog.start({},"detail",this,$("#modal-view"));
            }
        });
    }

    var selectBoxItem;
    var selctizedBoxInstanceItem;

    var orderItemsFilter = [];

    function initItemFilterSelectBox() {
        selectBoxItem = $(".selectize-filter-items").selectize({
            onItemAdd: itemAddListener,
            onItemRemove: itemRemoveListener,
            options: [
                {id: 'time_1', type: 'date', label: 'Last day'},
                {id: 'time_2', type: 'date', label: 'Last one week'},
                {id: 'time_3', type: 'date', label: 'Last Two week'},
                {id: 'time_4', type: 'date', label: 'Last Month'},
            ],
            optgroups: [
                {id: 'client', name: 'Client'},
                {id: 'item', name: 'Item'},
                {id: 'date', name: 'By Added on'}
            ],
            labelField: 'label',
            valueField: 'id',
            optgroupField: 'type',
            optgroupLabelField: 'name',
            optgroupValueField: 'id',
            optgroupOrder: ['client', 'item', 'date'],
            searchField: ['label'],
            plugins: ['optgroup_columns', 'remove_button'],
            maxItems:4,
            maxOptions : 10

        });
        if (selectBoxItem.length != 0) selctizedBoxInstanceItem = selectBoxItem[0].selectize;
    }
    var lastDateItemId = "";
    function itemAddListener(value, item){
        var item = $(item);
        var id = selctizedBoxInstanceItem.options[value].id;
        var type = selctizedBoxInstanceItem.options[value].type;
        var label = selctizedBoxInstanceItem.options[value].label;
        if(type == "date"){
            item.css("background-color","#1565c0");
            if(lastDateItemId != "")selctizedBoxInstanceItem.removeItem(lastDateItemId, false);
            lastDateItemId = id;
            loadItemsSelectBox();
        }
        if(type == "client"){
            loadItemsSelectBox();
            item.css("background-color","#00695c");
        }
        if(type == "item")item.css("background-color","#2e7d32");

        if(type == "ref"){
            item.css("background-color","#0277bd");
            loadItemsSelectBox();
        }

        loadItems();

    }
    function itemRemoveListener(value){
        var type = selctizedBoxInstanceItem.options[value].type;
        loadItemsSelectBox();
        loadItems();
    }

    function loadItemsSelectBox(){
        filterResults();
        if(clientFilterList.length == 0 && dateFilter.length == 0) {
            clearItemOptions();
            return;
        }
        $(".mdl-progress").show();
        var postData = {
            all: 1,
            clientList : clientFilterList,
            dateFilter : dateFilter,
            refFilterList: refFilterList,
            list:'item'
        };
        $.ajax({
            url: '?route=salesOrder/getItemsList&all=1',
            type: 'POST',
            data: postData,
            dataType: 'json',
            success: function (returnData) {
                clearItemOptions();
                data = returnData.itemList;
                for(var i = 0; i < data.length ; i++){
                    //console.log(data[i]);
                    selctizedBoxInstanceItem.addOption({id : "item-"+data[i].item_id, type: "item", label: (data[i].item_name + "-" + data[i].reference)});
                }
                selctizedBoxInstanceItem.refreshOptions(false);
            },
            error: function () {
                $(".mdl-progress").hide();
                showSnackbar("Can't load items list.");
            }
        });

    }


   var clientFilterList = [];
    var itemIdFilterList = [];
    var refFilterList = [];
    var dateFilter = [];
    var categoryFilterList = [];
    var brandFilter = [];
   
   function loadClientsSelectBox(){
        $.ajax({
            url: '?route=salesOrder/getClientsList&all=1',
            type: 'GET',
            dataType: 'json',
            success: function (returnData) {
                data = returnData.client_list;
                for(var i = 0; i < data.length ; i++){
                    selctizedBoxInstanceItem.addOption({id : data[i].client_id, type: "client", label: (data[i].name)});
                }
                selctizedBoxInstanceItem.refreshOptions(false);
            },
            error: function () {
                $(".mdl-progress").hide();
                showSnackbar("Can't load client list.");
            }
        });
    }
   function loadRefSelectBox(multi=true){
        client_id = 0;
        brand_name = "";
        category = 0;
        ot = $("#order_type").val();
        if(!multi){
            client_id = clientFilterList[0];
            brand_name = brandFilter[0];

            if(categoryFilterList[0] != undefined)
                category = categoryFilterList[0];
        }
        $("#filter-ref").selectize()[0].selectize.clearOptions();
        $.ajax({
            url: '?route=salesOrder/getRefList&all=1&client_id='+client_id+'&brand_name='+brand_name+'&category='+category+'&ot='+ot,
            type: 'GET',
            dataType: 'json',
            success: function (returnData) {
                data = returnData.ref_list;
                for(var i = 0; i < data.length ; i++){
                    if(multi)
                        selctizedBoxInstanceItem.addOption({id : data[i].reference, type: "ref", label: ("#"+data[i].reference)});
                    else
                        $("#filter-ref").selectize()[0].selectize.addOption({id : data[i].reference, label: (data[i].reference)});
                }
                selctizedBoxInstanceItem.refreshOptions(false);
            },
            error: function () {
                $(".mdl-progress").hide();
                showSnackbar("Can't load ref list.");
            }
        });
    }

    function loadItemCategorySelectBox(multi=true){
        client_id = 0;
        brand_name = "";
        if(!multi){
            client_id = clientFilterList[0];
            if(brandFilter[0] != undefined)
                brand_name = brandFilter[0];
        }
        $("#filter-category").selectize()[0].selectize.clearOptions();
        $.ajax({
            url: '?route=salesOrder/getCategoryList&all=1&client_id='+client_id+'&brand_name='+brand_name,
            type: 'GET',
            dataType: 'json',
            success: function (returnData) {
                data = returnData.category_list;
                for(var i = 0; i < data.length ; i++){
                    if(multi)
                        selctizedBoxInstanceItem.addOption({id : data[i].item_category, type: "category", label: (data[i].title)});
                    else
                        $("#filter-category").selectize()[0].selectize.addOption({id : data[i].item_category, label: (data[i].title)});

                }
                selctizedBoxInstanceItem.refreshOptions(false);
                $("#filter-category").selectize()[0].selectize.refreshOptions(false);
            },
            error: function () {
                $(".mdl-progress").hide();
                showSnackbar("Can't load category list.");
            }
        });
    }

    function loadBrandNames(){
        client_id = 0;

        client_id = clientFilterList[0];
        $("#filter-brand").selectize()[0].selectize.clearOptions();
        $.ajax({
            url: '?route=salesOrder/getBrandNames&all=1&client_id='+client_id,
            type: 'GET',
            dataType: 'json',
            success: function (returnData) {
                data = returnData.brand_list;
                for(var i = 0; i < data.length ; i++){
                        $("#filter-brand").selectize()[0].selectize.addOption({id : data[i].brand_name, label: (data[i].brand_name)});
                }
                $("#filter-brand").selectize()[0].selectize.refreshOptions(false);
            },
            error: function () {
                $(".mdl-progress").hide();
                showSnackbar("Can't load client list.");
            }
        });
    }




    function filterResults(){
        var input = $(this);
        clientFilterList = [];
        refFilterList = [];
        itemIdFilterList = [];
        dateFilter = [];
        //console.log(selctizedBoxInstanceItem.getValue());
        for(var i=0; i < selctizedBoxInstanceItem.getValue().length; i++){
            var id = selctizedBoxInstanceItem.options[selctizedBoxInstanceItem.getValue()[i]].id;
            var type = selctizedBoxInstanceItem.options[selctizedBoxInstanceItem.getValue()[i]].type;
            var label = selctizedBoxInstanceItem.options[selctizedBoxInstanceItem.getValue()[i]].label;
            if(type == "category") {
                var cId = id.substr(id.indexOf("-") + 1);
                categoryFilterList.push(cId);
            }
            if(type == "client") clientFilterList.push(id);
            if(type == "date") dateFilter.push(id);
            if(type == "ref") {
                var cId = id.substr(id.indexOf("-") + 1);
                refFilterList.push(cId);
            }

        }

        if(orderItemsFilter.length > 0){
            for(var i=0 ; i < orderItemsFilter.length; i++){
                itemIdFilterList.push(orderItemsFilter[i]);
            }
            orderItemsFilter = [];
        }
    }

    var tableheader = $("#table-head");

    function tableSort() {
        var th = $(this);
        if (th.hasClass("no-sort")) {
            console.log("NO");
            tableheader.children(".sortable").removeClass("mdl-data-table__header--sorted-ascending");
            tableheader.children(".sortable").removeClass("mdl-data-table__header--sorted-descending");
            tableheader.children(".sortable").addClass("mdl-data-table__header");
            tableheader.children(".sortable").addClass("no-sort");
            th.removeClass("no-sort");
            th.removeClass("mdl-data-table__header");
            th.addClass("mdl-data-table__header--sorted-ascending");
            loadItems();
            return;
        }

        if (th.hasClass("mdl-data-table__header--sorted-ascending")) {
            th.removeClass("mdl-data-table__header--sorted-ascending");
            th.addClass("mdl-data-table__header--sorted-descending");
            console.log("ASC");
            loadItems();
            return;
        }

        if (th.hasClass("mdl-data-table__header--sorted-descending")) {
            th.removeClass("mdl-data-table__header--sorted-descending");
            th.addClass("mdl-data-table__header");
            th.addClass("no-sort");
            console.log("DESC");
            loadItems();
        }

    }


    function clearItemOptions(){

        for(var prop in selctizedBoxInstanceItem.options){
            var id = selctizedBoxInstanceItem.options[prop].id;
            var type = selctizedBoxInstanceItem.options[prop].type;
            if(type == "item") {
                selctizedBoxInstanceItem.removeOption(id);
            }
        }

//        for(var i=0; i < selctizedBoxInstanceItem.options.length; i++){
//            console.log(selctizedBoxInstanceItem.options[i]);
//            var id = selctizedBoxInstanceItem.options[i].id;
//            var type = selctizedBoxInstanceItem.options[i].type;
//            if(type == "item") {
//                selctizedBoxInstanceItem.removeOption(id);
//            }
//
//        }
        selctizedBoxInstanceItem.refreshOptions(false);
    }

    function loadItems() {
        $(".mdl-progress").show();
        //filterResults();
        var postData = {
            all: 1,
            clientList : clientFilterList,
            dateFilter : dateFilter,
            itemIdList : itemIdFilterList,
            refList: refFilterList
        };
        console.log(dateFilter);
        if (tableheader.children(".sortable.mdl-data-table__header--sorted-ascending").length > 0) {
            postData.sort = "ASC";
            postData.sortField = $(tableheader.children(".sortable.mdl-data-table__header--sorted-ascending")[0]).attr("id");
        }
        if (tableheader.children(".sortable.mdl-data-table__header--sorted-descending").length > 0) {
            postData.sort = "DESC";
            postData.sortField = $(tableheader.children(".sortable.mdl-data-table__header--sorted-descending")[0]).attr("id");
        }
        $.ajax({
            url: '?route=salesOrder/getReturnOrderList&all=1',
            type: 'POST',
            data: postData,
            dataType: 'json',
            success: function (returnData) {
                data = returnData.return_list;
                 // console.log(returnData.clause);
                $("#order-body").html("");
                for (var i = 0;  i < data.length; i++) {
                    var rowNode = $("#order_template  > tbody > tr").clone(true);
                    rowNode.attr("id", data[i].order_id);
                    rowNode.children("._order_id").html(data[i].order_id);
                    rowNode.children("._order_date").html(data[i].order_date);
                    rowNode.children("._client_name").html(data[i].company_name);
                    rowNode.children("._client_address").html(data[i].address);
                    

                    $("#order-body").append(rowNode);

                }
                $(".mdl-progress").hide();
                showSnackbar("Data loaded.");
            },
            error: function () {
                $(".mdl-progress").hide();
                showSnackbar("Can't complete your request.");
            }
        });
    }



      $("#filter-category").change(function(){
        val = $(this).val();
        categoryFilterList = [];
        if(val != 0)
            categoryFilterList.push(val);
        loadRefSelectBox(false);
        loadItems();
    });
    $("#filter-ref").change(function(){
        val = $(this).val();
        refFilterList = [];
        if(val != 0)
            refFilterList.push(val);
        loadItems();
    });
    $("#filter-brand").change(function(){
        val = $(this).val();
        brandFilter = [];
        if(val != 0)
            brandFilter.push(val);
        loadItemCategorySelectBox(false);
        loadRefSelectBox(false);
        loadItems();
    });
    $("#filter-limit").change(function(){
        pageCount=1;
        loadItems();
    });

    $(document).on("click", ".pagination li a", function(e){
        e.preventDefault();
        found = false;
        url = $(this).attr("href");
        splinters = url.split("&");
        $.each(splinters, function(key, val){
            vals = val.split("=");
            if(vals[0] == "page") {
                found = true;
                pageCount = vals[1];
            }
        });
        if(!found) pageCount = 1;
        loadItems();
    });


        $(document).ready(function () {
        $("#refresh-data-btn").click(loadItems);
        tableheader.children(".sortable").click(tableSort);
        initItemFilterSelectBox();
        loadClientsSelectBox();
        loadRefSelectBox();
        loadItems();
        $("#filter-box").change(filterResults);
        $("#order_type").change(function(){
            loadItems();
        });

    });

</script>