<div class="center-margin col-xs-12">
    <div class="table-card mdl-card  mdl-shadow--2dp col-xs-12">
        <div class="table-header">
            <h4><?=$text_vendor_details;?>
                <!-- <button class="mdl-button mdl-js-button mdl-button--icon pull-right">
                    <i class="material-icons">refresh</i>
                </button> -->
            </h4>

            <!-- <select name="vendor_name" class="field selectize-filter">
                <option value=""><?=$text_search;?></option>
            </select> -->
        </div>
        <table class="mdl-data-table mdl-js-data-table md-table col-xs-12 expandable">
            <thead>
            <tr>
                <th class="mdl-data-table__cell--non-numeric"><?=$text_vendor_id;?></th>
                <th class="mdl-data-table__cell--non-numeric"><?=$text_vendor_name;?></th>
                <th class="mdl-data-table__cell--non-numeric"><?=$text_vendor_email;?></th>
                <th class="mdl-data-table__cell--non-numeric"><?=$text_vendor_contact;?></th>
                <th class="mdl-data-table__cell--non-numeric"><?=$text_vendor_address;?></th>
                <th class="mdl-data-table__cell--non-numeric">Status</th>
                <!-- <th class="mdl-data-table__cell--non-numeric"><?=$text_approval_status;?></th> -->
                <th class="mdl-data-table__cell--non-numeric"><?=$text_action;?></th>
            </tr>
            </thead>
            <tbody>
                <?php foreach ($vendors as $vendor) { ?>
            <tr id="<?= $vendor['vendor_id']?>">
                <td class="mdl-data-table__cell--non-numeric clickable"><?php echo $vendor["vendor_id"]; ?></td>
                <td class="mdl-data-table__cell--non-numeric clickable"><?php echo $vendor["company_name"]; ?></td>
                <td class="mdl-data-table__cell--non-numeric clickable"><?php echo $vendor["email_id"]; ?></td>
                <td class="mdl-data-table__cell--non-numeric clickable"><?php echo $vendor["phone"]; ?></td>
                <td class="mdl-data-table__cell--non-numeric clickable"><?php echo $vendor["address"]; ?></td>
                <td class="mdl-data-table__cell--non-numeric clickable"><?php  
                        if(
                        $vendor['status'] == 0){
                        echo "Inactive";
                    }else{
                    echo "Active";
                    }
                        
                   
                    ?></td>
                <!-- <td class="mdl-data-table__cell--non-numeric clickable"><?php echo $vendor["approval_status"]; ?></td> -->
                <td class="mdl-data-table__cell--non-numeric">

                    
                    <button id="btn-ap-2" class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored" onclick="getDetails(this);">
                        <i class="material-icons">info</i>
                    </button>
                    <div class="mdl-tooltip mdl-tooltip--large" for="btn-ap-2"><?=$text_details;?></div>
                    <button type='button' class="mdl-button mdl-js-button mdl-button--icon mdl-button--accent block-button" id="close-btn" onclick="confirmBlock(this);">
                            <i class="material-icons">block</i>
                        </button>
                        <div class="mdl-tooltip mdl-tooltip--large" for="btn-ap-3">Add To Black List</div>
                </td>
            </tr>
            <?php }?>
            </tbody>
        </table>
    </div>
</div>
<div id="modal-view" hidden>
    <div class="view-title">
       <?=$text_vendor_details;?>
    </div>
    <div class="view-body">
        <div class="form-content">
            <div>
                <div class="text-right">
                        <button id="print-btn" class="mdl-button mdl-js-button mdl-button--icon mdlbutton--colored edit-button" onclick="window.print()">
                            <i class="material-icons">print</i>
                        </button>
                        <div class="mdl-tooltip mdl-tooltip--large" for="print-btn">Print</div>

                        <!-- <button id="cancel-order" class="mdl-button mdl-js-button mdl-button--icon mdlbutton--colored edit-button" data-order="" onclick="confirmDeletion(this, 1);">
                            <i class="material-icons text-danger">delete</i>
                        </button>
                        <div class="mdl-tooltip mdl-tooltip--large" for="cancel-order">Cancel Order</div> -->
                    </div>

                    <table class="order_details table-striped col-xs-12 col-sm-6">
                             <tr>
                                <td>Vendor Id:</td>
                                <td id="vendor_id_m">#</td>
                            </tr>
                            <tr>
                                <td>Vendor Name:</td>
                                <td id="vendor_name_m"></td>
                            </tr>
                            <tr>
                                <td>Vendor Email:</td>
                                <td id="vendor_email_m"></td>
                            </tr>

                            
                    </table>
                    <table class="order_details  table-striped col-xs-12 col-sm-6">
                            <tr>
                                <td>Vendor Address:</td>
                                <td id="vendor_address_m"></td>
                            </tr>
                            <tr>
                                <td>Vendor Contact:</td>
                                <td id="vendor_contact_m"></td>
                            </tr>
                           
                          
                    </table>
                </div>

        <div class="clearfix"></div>
        <hr>
            <div class="col-xs-12 col-md-6 details">
                <div class="table-header">
                    <h4><?=$text_return_order;?></h4>
                </div>
                <table class="mdl-data-table mdl-js-data-table  md-table col-xs-12 ">
                    <thead>
                        <tr>
                            <th class="mdl-data-table__cell--non-numeric"></th>
                            <th class="mdl-data-table__cell--non-numeric"><?=$text_ro;?></th>
                            <th class="mdl-data-table__cell--non-numeric"><?=$text_return_date;?></th>
                            <th class="mdl-data-table__cell--non-numeric"><?=$text_status;?></th>
                            <th class="mdl-data-table__cell--non-numeric"><?=$text_amount;?></th>

                        </tr>

                    </thead>
                    <tbody id="return_order"></tbody>
                        <!-- <tr id="row-r1">
                            <td class="mdl-data-table__cell--non-numeric"><button class="mdl-button mdl-js-button mdl-button--icon row-expand-button">
                                    <i class="material-icons">expand_more</i>
                                </button></td>
                            <td class="mdl-data-table__cell--non-numeric ">1</td>
                            <td class="mdl-data-table__cell--non-numeric ">2/12/2017</td>
                            <td class="mdl-data-table__cell--non-numeric ">Surplus</td>
                            <td class="mdl-data-table__cell--non-numeric currency-euro">5000</td>
                        </tr> -->
                        <!-- <tr class="c-row transition out" for="row-r1">
                            <td class="mdl-card-no-padding" colspan="5">

                                <table class="col-xs-12 ">
                                    <thead>
                                        <tr>
                                            <th class="mdl-data-table__cell--non-numeric"><?=$text_item_id;?></th>
                                            <th class="mdl-data-table__cell--non-numeric"><?=$text_item_name;?></th>
                                            <th class="mdl-data-table__cell--non-numeric"><?=$text_msrp;?></th>
                                            <th class="mdl-data-table__cell--non-numeric"><?=$text_quantity;?></th>
                                            <th class="mdl-data-table__cell--non-numeric"><?=$text_amount;?></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr >
                                            <td class="mdl-data-table__cell--non-numeric">1</td>
                                            <td class="mdl-data-table__cell--non-numeric">Lorem ipsum.</td>
                                            <td class="mdl-data-table__cell--non-numeric">2000</td>
                                            <td class="mdl-data-table__cell--non-numeric">2</td>
                                            <td class="mdl-data-table__cell--non-numeric">4000</td>
                                        </tr>
                                        <tr>
                                            <td class="mdl-data-table__cell--non-numeric">1</td>
                                            <td class="mdl-data-table__cell--non-numeric">Lorem ipsum.</td>
                                            <td class="mdl-data-table__cell--non-numeric">2000</td>
                                            <td class="mdl-data-table__cell--non-numeric">2</td>
                                            <td class="mdl-data-table__cell--non-numeric">4000</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr> -->
                    
                </table>
            </div>
            <div class="col-xs-12 col-md-6 details">
                <div class="table-header">
                    <h4><?=$text_purchase_order;?></h4>
                </div>
                <table class="mdl-data-table mdl-js-data-table  md-table col-xs-12 ">
                    <thead>
                    <tr>
                        <th class="mdl-data-table__cell--non-numeric"></th>
                        <th class="mdl-data-table__cell--non-numeric"><?=$text_po;?></th>
                        <th class="mdl-data-table__cell--non-numeric"><?=$text_order_date;?></th>
                        <th class="mdl-data-table__cell--non-numeric"><?=$text_raised_by;?></th>
                        <th class="mdl-data-table__cell--non-numeric"><?=$text_amount;?></th>
                    </tr>
                    </thead>
                    <tbody id="purchase_order">

                    <!-- <tr class="c-row transition out" for="row-1p">
                        <td class="mdl-card-no-padding" colspan="5">

                            <table class="col-xs-12 ">
                                <thead>
                                <tr>
                                    <th class="mdl-data-table__cell--non-numeric"><?=$text_item_id;?></th>
                                    <th class="mdl-data-table__cell--non-numeric"><?=$text_item_name;?></th>
                                    <th class="mdl-data-table__cell--non-numeric"><?=$text_msrp;?></th>
                                    <th class="mdl-data-table__cell--non-numeric"><?=$text_quantity;?></th>
                                    <th class="mdl-data-table__cell--non-numeric"><?=$text_amount;?></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr >
                                    <td class="mdl-data-table__cell--non-numeric">1</td>
                                    <td class="mdl-data-table__cell--non-numeric">Lorem ipsum.</td>
                                    <td class="mdl-data-table__cell--non-numeric">2000</td>
                                    <td class="mdl-data-table__cell--non-numeric">2</td>
                                    <td class="mdl-data-table__cell--non-numeric">4000</td>
                                </tr>
                                <tr>
                                    <td class="mdl-data-table__cell--non-numeric">1</td>
                                    <td class="mdl-data-table__cell--non-numeric">Lorem ipsum.</td>
                                    <td class="mdl-data-table__cell--non-numeric">2000</td>
                                    <td class="mdl-data-table__cell--non-numeric">2</td>
                                    <td class="mdl-data-table__cell--non-numeric">4000</td>
                                </tr>
                                </tbody>
                            </table>

                        </td>
                    </tr> -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

<div  hidden>

    <table>
        <tbody id="orders-template">
            <tr id="row-s2">
                <td class="mdl-data-table__cell--non-numeric">
                    <button class="mdl-button mdl-js-button mdl-button--icon row-expand-button">
                        <i class="material-icons">expand_more</i>
                    </button>
                </td>
                <td class="mdl-data-table__cell--non-numeric __po" ></td>
                <td class="mdl-data-table__cell--non-numeric __order_date" ></td>
                <td class="mdl-data-table__cell--non-numeric __raised_by" ></td>
                <td class="mdl-data-table__cell--non-numeric __htt">&euro;</td>
            </tr>
        </tbody>
    </table>

</div>
<div  hidden>

    <table>
        <tbody id="return-template">
            <tr id="row-s3">
                <td class="mdl-data-table__cell--non-numeric">
                    <button class="mdl-button mdl-js-button mdl-button--icon row-expand-button">
                        <i class="material-icons">expand_more</i>
                    </button>
                </td>
                <td class="mdl-data-table__cell--non-numeric _return_number" ></td>
                <td class="mdl-data-table__cell--non-numeric _return_date" ></td>
                <td class="mdl-data-table__cell--non-numeric _order_status" ></td>
                <td class="mdl-data-table__cell--non-numeric _ttc">&euro;</td>
            </tr>
        </tbody>
    </table>

</div>

<script>

    function getDetails(e) {
        var id = $(e).parent().parent().attr("id");
        $.ajax({
            url: '?route=purchaseOrder/getVendorDetails&vendor_id=' + id,
            type: 'GET',
            dataType: 'json',
            success: function (returnData) {
                //var orderItems = returnData.order_items;
                //var raisedBy = returnData.raised_by;
                var vendorDetails = returnData.vendor_details;
                returnOrder = returnData.return_order;
                purchaseOrder = returnData.purchase_order;
                $("#vendor_id_m").html(vendorDetails.vendor_id);
                $("#vendor_name_m").html(vendorDetails.company_name);
                $("#vendor_email_m").html(vendorDetails.email_id);
                $("#vendor_address_m").html(vendorDetails.address);
                $("#vendor_contact_m").html(vendorDetails.phone);
                // $("td._vendor_contact_person").html(vendorDetails.person_responsible);

                for(var i = 0; i < purchaseOrder.length; i++){
                    var node = $("#orders-template").children().clone();
                    node.children(".__po").html(purchaseOrder[i].order_id);
                    node.children(".__order_date").html(purchaseOrder[i].order_date);
                    node.children(".__raised_by").html(purchaseOrder[i].raised_by);
                    node.children(".__htt").prepend(purchaseOrder[i].htt);
                    $("#purchase_order").append(node);
                }
                for(var i = 0; i < returnOrder.length; i++){
                    var node = $("#return-template").children().clone();
                    node.children("._return_number").html(returnOrder[i].order_id);
                    node.children("._return_date").html(returnOrder[i].order_date);
                    node.children("._order_status").html(returnOrder[i].order_status);
                    node.children("._ttc").prepend(returnOrder[i].ttc);
                    $("#return_order").append(node);
                }

                MDialog.start({}, "detail", this, $("#modal-view"));
            }
        });
    }

    function confirmBlock(e) {
        $("#modalConfirm .modal-title").html("Confirm Block");
        var id = $(e).parent().parent().attr("id");
        $("#modalConfirm .modal-body p").html("Are you sure you want to block the vendor # "+id+"?");
         $("#modalConfirm").modal("show");
         $(".btn-danger").click(function(){
            $.ajax({
            
                url : '?route=purchaseOrder/blackList&vendor_id='+id,
                type : 'GET',
                dataType : 'text',
                beforeSend: function(){$(".mdl-progress").show();},
                complete: function(){$(".mdl-progress").hide();},
                success: function(){
                     $('#t_wrap').load(document.URL +  ' #t_wrap');
                     showSnackbar("Vendor has been Blocked");
                }
            })
         });
        //this.
    };

    


</script>