<style type="text/css">
    .pagination{
        margin:0 !important;
    }
    .selectize-input{
        background-image: none !important;
        background-color:#fff !important;
        border:1px solid #aaa !important;
    }
</style>

<div class="center-margin col-xs-12">
    <div class="table-card mdl-card  mdl-shadow--2dp col-xs-12">

        <div class="table-header">
            <h4 style="margin-bottom: 15px;"><?= $text_purchase_order; ?>
                <!-- <button class="mdl-button mdl-js-button mdl-button--icon pull-right">
                    <i class="material-icons">refresh</i>
                </button> -->
            </h4>
            <div class="header-data"><span><?= $text_amount_returnable; ?> = <span class="return_amount">0</span></span>
            <span class="pull-right "><?= $text_total_amount; ?> = <span class="total_amount">0</span> </div>
            <div class="header-data"><?= $text_po_amount; ?> = <span class="purchase_amount"> <?php echo $ttc; ?></span>
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored confirm-orders pull-right" disabled>Add to Payment</button>
                <div class="clearfix"></div>
            </div>

           <div class="form-group col-xs-3">
                <select name="vendor" id="filter-vendor" class="selectize" placeholder="Vendor">
                </select>
            </div>
            <div class="form-group col-xs-3">
                <select name="brand_name" id="filter-brand" class="selectize" placeholder="Brand Name">
                </select>
            </div>
            <div class="form-group col-xs-3">
                <select name="brand" id="filter-category" class="selectize" placeholder="Category">
                </select>
            </div>

            <div class="form-group col-xs-3">
                <select name="ref" id="filter-ref" class="selectize" placeholder="Reference">
                </select>
            </div>
            <select name="vendor_name" multiple class="field selectize-filter-items hidden">
                <option value=""><?=$text_search;?></option>
            </select>
        </div>

        <table class="mdl-data-table mdl-js-data-table  md-table col-xs-12 expandable">
            <thead>
                <tr>
                    <th class="mdl-data-table__cell--non-numeric">BOL Number</th>
                    <th class="mdl-data-table__cell--non-numeric"><?= $text_order_date; ?></th>
                    <th class="mdl-data-table__cell--non-numeric"><?= $text_vendor; ?></th>
                    <th class="mdl-data-table__cell--non-numeric"><?= $text_delivery_address; ?></th>
                    <th class="mdl-data-table__cell--non-numeric"><?= $text_amount_ht; ?></th>
                    <th class="mdl-data-table__cell--non-numeric"><?= $text_amount_ttc; ?></th>
                    
                    <th class="mdl-data-table__cell--non-numeric"><?= $text_action; ?></th>

                </tr>
            </thead>
            <tbody id="order-body"></tbody>
             <?php if($pagination !== ""): ?>
             <tfoot>
                <tr>
                    <td colspan="7"><?php echo $pagination; ?></td>
                </tr>
            </tfoot> 
            <?php endif; ?>
        </table>
        <table id="order_template" hidden>
            <tbody>
                <tr class="parent-row" id="">
                    <td class="mdl-data-table__cell--non-numeric clickable" id="_order_id"></td>
                    <td class="mdl-data-table__cell--non-numeric clickable" id="_order_date"></td>
                    <td class="mdl-data-table__cell--non-numeric clickable" id="_vendor_name"></td>
                    <td class="mdl-data-table__cell--non-numeric clickable" id="_delivery_address"></td>
                    <td class="mdl-data-table__cell--non-numeric clickable " id="_amount_htt">&euro;</td>
                    <td class="mdl-data-table__cell--non-numeric clickable " id="_amount_ttc">&euro;</td>
                    
                    <td class="mdl-data-table__cell--non-numeric ">
                        <button id="btn-ap-2" class="mdl-button mdl-js-button mdl-button--icon 
                            mdl-button--colored" onclick="getDetails(this);">
                            <i class="material-icons">info</i>
                        </button>
                        <div class="mdl-tooltip mdl-tooltip--large" for="btn-ap-2"><?=$text_details;?></div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<div id="modal-view" hidden>
    <div class="view-title">
        <?= $text_purchase_order_details; ?>
    </div>
    <div class="view-body">


        <div class="form-content">

            <div>
           <div class="text-right">
                        <button id="print-btn" class="mdl-button mdl-js-button mdl-button--icon mdlbutton--colored edit-button" onclick="window.print()">
                            <i class="material-icons">print</i>
                        </button>
                        <div class="mdl-tooltip mdl-tooltip--large" for="print-btn">Print</div>

                        <!-- <button id="cancel-order" class="mdl-button mdl-js-button mdl-button--icon mdlbutton--colored edit-button" data-order="" onclick="confirmDeletion(this, 1);">
                            <i class="material-icons text-danger">delete</i>
                        </button>
                        <div class="mdl-tooltip mdl-tooltip--large" for="cancel-order">Cancel Order</div> -->
                    </div>

                    <table class="order_details table-striped col-xs-12 col-sm-6">
                            <tr>
                                <td><?php echo $text_order_id; ?>:</td>
                                <td id="order_id_m">#</td>
                            </tr>
                            <tr>
                                <td><?=$text_order_date;?>:</td>
                                <td id="order_date_m"></td>
                            </tr>
                            <tr>
                                <td><?=$text_delivery_date;?>:</td>
                                <td id="delivery_date_m"></td>
                            </tr>
                            <tr>
                                <td><?=$text_vendor_name;?>:</td>
                                <td id="company_name_m"></td>
                            </tr>
                            <tr>
                                <td><?=$text_delivery_address;?>:</td>
                                <td id="vendor_address_m"></td>
                            </tr>
                    </table>
                    <table class="order_details  table-striped col-xs-12 col-sm-6">
                            <tr>
                                <td>Person Responsible:</td>
                                <td id="person_responsible_m">***</td>
                            </tr>
                            <tr>
                                <td>Payment Mode:</td>
                                <td id="payment_mode_m"></td>
                            </tr>
                            <tr>
                                <td>HT:</td>
                                <td><span id="htt_m" class="text-success"> &euro;</span></td>
                            </tr>
                            <tr>
                                <td>TVA:</td>
                                <td><span id="tva_m" class="text-danger">%</span></td>
                            </tr>
                            <tr>
                                <td> <?=$text_grand_total;?>:</td>
                                <td class="text-danger"><span id="ttc_m" class="text-danger"> &euro;</span></td>
                            </tr>

                    </table>

                        
            </div>
            <div class="clearfix"></div>
            <h5>BOL Number: <span class="bol_number"></span></h5>
            <table class="mdl-data-table mdl-js-data-table  md-table col-xs-12 ">
                <thead>
                <tr>
                    <th class="mdl-data-table__cell--non-numeric"><?= $text_reference; ?></th>
                    <th class="mdl-data-table__cell--non-numeric"><?= $text_item_name; ?></th>
                    <th class="mdl-data-table__cell--non-numeric"><?= $text_brand_name; ?></th>
                    <th class="mdl-data-table__cell--non-numeric">Quantity Received</th>

                </tr>
                </thead>
                <tbody id="bol_items">
                

                </tbody>
            </table>
            <hr>

            <div class="clearfix"></div>
            <h5>ORDER DETAILS:</h5>
            <table class="mdl-data-table mdl-js-data-table  md-table col-xs-12 ">
                <thead>
                <tr>
                    <th class="mdl-data-table__cell--non-numeric"><?= $text_reference; ?></th>
                    <th class="mdl-data-table__cell--non-numeric"><?= $text_item_name; ?></th>
                    <th class="mdl-data-table__cell--non-numeric"><?= $text_brand_name; ?></th>
                    <th class="mdl-data-table__cell--non-numeric"><?= $text_quantity; ?></th>
                    <th class="mdl-data-table__cell--non-numeric"><?= $text_buy_rate; ?></th>

                </tr>
                </thead>
                <tbody id="order_items">
                

                </tbody>
            </table>
        </div>
    </div>

</div>

<div  hidden>

    <table>
        <tbody id="items-template">
            <tr>
              <td class="mdl-data-table__cell--non-numeric __refrence" ></td>
              <td class="mdl-data-table__cell--non-numeric __item_name" ></td>
              <td class="mdl-data-table__cell--non-numeric __brand_name" ></td>
              <td class="mdl-data-table__cell--non-numeric __quantity"></td>
              <td class="mdl-data-table__cell--non-numeric __buy_rate">&euro;</td>
        </tr>
    </tbody>
</table>

</div>



<script>

$(".add-payment-btn, td.clickable").click(addItemToPayment);
$(".confirm-orders").click(confirmPaymentOrders);
var payment_order_list = [];
var total_amount = parseFloat($('.total_amount').html());
var purchase_amount = parseFloat($('.purchase_amount').html());
var return_amount = 0;

  function confirmPaymentOrders(){

    $(".mdl-progress").show();
        var postData = {
            orders : payment_order_list
        };
        $.ajax({
            url: '?route=payment/addToPayment',
            type: 'POST',
            data: postData,
            dataType: 'json',
            success: function (returnData) {
                updateCount();
                showSnackbar("Orders added for Payment");
                $(".mdl-progress").hide();
                loadItems();
                payment_order_list = [];
                $(".confirm-orders").attr("disabled","disabled");
            },
            error: function () {
                $(".mdl-progress").hide();
                showSnackbar("Can't complete your request.");
            }
        });
    }
function updateCount(){
    $.ajax({
            url: '?route=payment/updatePaymentCount',
            type: 'GET',
            dataType: 'json',
            success: function (returnData) {
                $("#payment-menu-btn").removeClass("no-item");
                $(".payment-queue").removeClass("hidden");
                if(returnData.count == 0){
                    $("#payment-menu-btn").addClass("no-item");
                    $(".payment-queue").addClass("hidden");
                }
                $("#payment-menu-btn").attr("data-badge", returnData.count);
            },
        });
}
function getReturnAmount(vendor_id, add=true){
    $.ajax({
            url: '?route=payment/returnAmount&vendor_id='+vendor_id,
            type: 'GET',
            dataType: 'json',
            success: function (returnData) {
                if(returnData.return_amount == null) returnData.return_amount = 0;
                ra = parseFloat(returnData.return_amount);
                if(add)
                    return_amount = return_amount + ra;
                else
                    return_amount = return_amount - ra;
                calculateTotal();
                $(".total_amount").html("&euro; "+total_amount);
                $(".purchase_amount").html("&euro; "+purchase_amount);
                $(".return_amount").html("&euro; "+return_amount);
            },
        });
}

 function addItemToPayment(){
        var row = $(this).parent();
        var rId = $(this).parent().attr("id");
        vendor_id = parseInt(row.children("#_vendor_name").attr("data-vendor"));
        
        amount_ttc = parseFloat(row.children("#_amount_ttc").html());
        if(!row.hasClass("order_item") ){
            row.addClass("order_item");
            purchase_amount = purchase_amount+amount_ttc;
            payment_order_list.push(rId);
            getReturnAmount(vendor_id, true);
        }else{
            row.removeClass("order_item");
            purchase_amount = purchase_amount-amount_ttc;
            payment_order_list.pop(rId);
            getReturnAmount(vendor_id, false);
        }
        if(payment_order_list.length > 0) $(".confirm-orders").removeAttr("disabled");
        else $(".confirm-orders").attr("disabled","disabled");
    }

    function getDetails(e) {
        $('.mdl-progress').show();
        var id = $(e).parent().parent().attr("id");
        var bol = $(e).parent().parent().attr("data-bol");
        $(".bol_number").html("#"+bol);
        $.ajax({
            url: '?route=purchaseOrder/getOrderDetails&bol_number='+bol+'&order_id=' + id,
            type: 'GET',
            dataType: 'json',
            success: function (returnData) {
                var orderItems = returnData.order_items;
                var bolItems = returnData.bol_details;
               deliveries = returnData.delivery_address;
                var purchaseOrder = returnData.purchase_order;
                $("#ttc_m").html(purchaseOrder.ttc+"&euro;");
                $("#tva_m").html(purchaseOrder.tva+"%");
                $("#htt_m").html(purchaseOrder.htt+"&euro;");
                $("#order_id_m").html("#"+purchaseOrder.order_id);
                $("#cancel-order").attr("data-order", purchaseOrder.order_id);
                $("#order_date_m").html(purchaseOrder.order_date);
                $("#company_name_m").html(purchaseOrder.company_name);
               if(purchaseOrder.delivery_address == 0 && purchaseOrder.delivery_other != ""){
                        $("#vendor_address_m").html(purchaseOrder.delivery_other);
                    }
            else{
                d_a = deliveries[purchaseOrder.delivery_address]['address']+", "+deliveries[purchaseOrder.delivery_address]['city']+", "+deliveries[purchaseOrder.delivery_address]['postal'];
                $("#vendor_address_m").html(d_a + "<small class='text-success'>( " + deliveries[purchaseOrder.delivery_address]['name']+" )</small>");
            }
                $("#delivery_date_m").html(purchaseOrder.expected_date);
                if(purchaseOrder.person_responsible == "") purchaseOrder.person_responsible = "-";
                $("#person_responsible_m").html(purchaseOrder.person_responsible);
                $("#payment_mode_m").html(returnData.payment_mode[purchaseOrder.payment_mode]);

                $("#order_items").html("");
                for(var i = 0; i < orderItems.length; i++){
                    var node = $("#items-template").children().clone();
                    node.children(".__refrence").html(orderItems[i].reference);
                    node.children(".__item_name").html(orderItems[i].item_name);
                    node.children(".__brand_name").html(orderItems[i].brand_name);
                    // node.children(".__item_category").html(orderItems[i].item_category);
                    node.children(".__buy_rate").prepend(orderItems[i].rate);
                    node.children(".__quantity").html(orderItems[i].quantity);
                    $("#order_items").append(node);
                }
                    $("#bol_items").html("");
                for(var i = 0; i < bolItems.length; i++){
                    var node = $("#items-template").children().clone();
                    node.children(".__refrence").html(bolItems[i].reference);
                    node.children(".__item_name").html(bolItems[i].item_name);
                    node.children(".__brand_name").html(bolItems[i].brand_name);
                    // node.children(".__item_category").html(orderItems[i].item_category);
                    node.children(".__quantity").html(bolItems[i].quantity_received);
                    node.children(".__buy_rate").remove();
                    $("#bol_items").append(node);
                }
                MDialog.start({}, "detail", this, $("#modal-view"));
                $('.mdl-progress').hide();
            }
        });
    }

    var selectBoxItem;
    var selctizedBoxInstanceItem;

    var orderItemsFilter = [];

    function initItemFilterSelectBox() {
        selectBoxItem = $(".selectize-filter-items").selectize({
            onItemAdd: itemAddListener,
            onItemRemove: itemRemoveListener,
            options: [
                {id: 'time_1', type: 'date', label: 'Last day'},
                {id: 'time_2', type: 'date', label: 'Last one week'},
                {id: 'time_3', type: 'date', label: 'Last Two week'},
                {id: 'time_4', type: 'date', label: 'Last Month'}, 
            ],
            optgroups: [
                {id: 'vendor', name: 'Vendor'},
                {id: 'item', name: 'Item'},
                {id: 'date', name: 'By Added on'},
                {id: 'ref', name: 'Ref#'},
                {id: 'bol', name: 'BOL#'}
            ],
            labelField: 'label',
            valueField: 'id',
            optgroupField: 'type',
            optgroupLabelField: 'name',
            optgroupValueField: 'id',
            optgroupOrder: ['bol','vendor', 'item', 'date', 'ref'],
            searchField: ['label'],
            plugins: ['optgroup_columns', 'remove_button'],
            maxItems:4,
            maxOptions : 15

        });
        if (selectBoxItem.length != 0) selctizedBoxInstanceItem = selectBoxItem[0].selectize;
    }
    var lastDateItemId = "";
    function itemAddListener(value, item){
        var item = $(item);
        var id = selctizedBoxInstanceItem.options[value].id;
        var type = selctizedBoxInstanceItem.options[value].type;
        var label = selctizedBoxInstanceItem.options[value].label;
        if(type == "date"){
            item.css("background-color","#1565c0");
            if(lastDateItemId != "")selctizedBoxInstanceItem.removeItem(lastDateItemId, false);
            lastDateItemId = id;
            loadItemsSelectBox();
        }
        if(type == "vendor"){
            loadItemsSelectBox();
            item.css("background-color","#00695c");
        }
        if(type == "item")item.css("background-color","#2e7d32");

        if(type == "ref"){
            item.css("background-color","#0277bd");
            loadItemsSelectBox();
        }
        if(type == "bol"){
            item.css("background-color","#0277bd");
            loadItemsSelectBox();
        }

        loadItems();

    }
    function itemRemoveListener(value){
        var type = selctizedBoxInstanceItem.options[value].type;
        loadItemsSelectBox();
        loadItems();
    }

    function loadItemsSelectBox(){
        filterResults();
        if(vendorFilterList.length == 0 && dateFilter.length == 0) {
            clearItemOptions();
            return;
        }
        $(".mdl-progress").show();
        var postData = {
            all: 1,
            vendorList : vendorFilterList,
            dateFilter : dateFilter,
            refFilterList: refFilterList,
            list:'item'
        };
        $.ajax({
            url: '?route=purchaseOrder/getItemsList&all=1',
            type: 'POST',
            data: postData,
            dataType: 'json',
            success: function (returnData) {
                clearItemOptions();
                data = returnData.itemList;
                for(var i = 0; i < data.length ; i++){
                    //console.log(data[i]);
                    selctizedBoxInstanceItem.addOption({id : "item-"+data[i].item_id, type: "item", label: (data[i].item_name + "-" + data[i].reference)});
                }
                selctizedBoxInstanceItem.refreshOptions(false);
            },
            error: function () {
                $(".mdl-progress").hide();
                showSnackbar("Can't load Item list.");
            }
        });

    }


     var vendorFilterList = [];
    var itemIdFilterList = [];
    var refFilterList = [];
    var dateFilter = [];
    var categoryFilterList = [];
    var brandFilter = [];



    function loadVendorsSelectBox(multi=true){
        $.ajax({
            url: '?route=purchaseOrder/getVendorsList&all=1',
            type: 'GET',
            dataType: 'json',
            success: function (returnData) {
                data = returnData.vendors_list;
                for(var i = 0; i < data.length ; i++){
                        $("#filter-vendor").selectize()[0].selectize.addOption({id : data[i].vendor_id, label: (data[i].company_name)});
                }
                $("#filter-vendor").selectize()[0].selectize.refreshOptions(false);
            },
            error: function () {
                $(".mdl-progress").hide();
                showSnackbar("Can't load vendor list.");
            }
        });
    }
    function loadBrandNames(){
        vendor_id = 0;

        vendor_id = vendorFilterList[0];
        $("#filter-brand").selectize()[0].selectize.clearOptions();
        $.ajax({
            url: '?route=purchaseOrder/getBrandNames&all=1&vendor_id='+vendor_id,
            type: 'GET',
            dataType: 'json',
            success: function (returnData) {
                data = returnData.brand_list;
                for(var i = 0; i < data.length ; i++){
                        $("#filter-brand").selectize()[0].selectize.addOption({id : data[i].brand_name, label: (data[i].brand_name)});
                }
                $("#filter-brand").selectize()[0].selectize.refreshOptions(false);
            },
            error: function () {
                $(".mdl-progress").hide();
                showSnackbar("Can't load vendor list.");
            }
        });
    }
    function loadRefSelectBox(multi=true){
        vendor_id = 0;
        brand_name = "";
        category = 0;
        ot = $("#order_type").val();
        if(!multi){
            vendor_id = vendorFilterList[0];
            brand_name = brandFilter[0];

            if(categoryFilterList[0] != undefined)
                category = categoryFilterList[0];
        }
        $("#filter-ref").selectize()[0].selectize.clearOptions();
        $.ajax({
            url: '?route=purchaseOrder/getRefList&all=1&vendor_id='+vendor_id+'&brand_name='+brand_name+'&category='+category+'&ot='+ot,
            type: 'GET',
            dataType: 'json',
            success: function (returnData) {
                data = returnData.ref_list;
                for(var i = 0; i < data.length ; i++){
                    if(multi)
                        selctizedBoxInstanceItem.addOption({id : data[i].reference, type: "ref", label: ("#"+data[i].reference)});
                    else
                        $("#filter-ref").selectize()[0].selectize.addOption({id : data[i].reference, label: (data[i].reference)});
                }
                selctizedBoxInstanceItem.refreshOptions(false);
            },
            error: function () {
                $(".mdl-progress").hide();
                showSnackbar("Can't load ref list.");
            }
        });
    }


    function loadItemCategorySelectBox(multi=true){
        vendor_id = 0;
        brand_name = "";
        if(!multi){
            vendor_id = vendorFilterList[0];
            if(brandFilter[0] != undefined)
                brand_name = brandFilter[0];
        }
        $("#filter-category").selectize()[0].selectize.clearOptions();
        $.ajax({
            url: '?route=purchaseOrder/getCategoryList&all=1&vendor_id='+vendor_id+'&brand_name='+brand_name,
            type: 'GET',
            dataType: 'json',
            success: function (returnData) {
                data = returnData.category_list;
                for(var i = 0; i < data.length ; i++){
                    if(multi)
                        selctizedBoxInstanceItem.addOption({id : data[i].item_category, type: "category", label: (data[i].title)});
                    else
                        $("#filter-category").selectize()[0].selectize.addOption({id : data[i].item_category, label: (data[i].title)});

                }
                selctizedBoxInstanceItem.refreshOptions(false);
                $("#filter-category").selectize()[0].selectize.refreshOptions(false);
            },
            error: function () {
                $(".mdl-progress").hide();
                showSnackbar("Can't load vendor list.");
            }
        });
    }



    function filterResults(){
        var input = $(this);
        vendorFilterList = [];
        refFilterList = [];
        itemIdFilterList = [];
        dateFilter = [];
        categoryFilterList = [];
        //console.log(selctizedBoxInstanceItem.getValue());
        for(var i=0; i < selctizedBoxInstanceItem.getValue().length; i++){
            var id = selctizedBoxInstanceItem.options[selctizedBoxInstanceItem.getValue()[i]].id;
            var type = selctizedBoxInstanceItem.options[selctizedBoxInstanceItem.getValue()[i]].type;
            var label = selctizedBoxInstanceItem.options[selctizedBoxInstanceItem.getValue()[i]].label;
            if(type == "category") {
                var cId = id.substr(id.indexOf("-") + 1);
                categoryFilterList.push(cId);
            }
            if(type == "vendor") vendorFilterList.push(id);
            if(type == "date") dateFilter.push(id);
            if(type == "ref") {
                var cId = id.substr(id.indexOf("-") + 1);
                refFilterList.push(cId);
            }

        }

        if(orderItemsFilter.length > 0){
            for(var i=0 ; i < orderItemsFilter.length; i++){
                itemIdFilterList.push(orderItemsFilter[i]);
            }
            orderItemsFilter = [];
        }
    }

    var tableheader = $("#table-head");

    function tableSort() {
        var th = $(this);
        if (th.hasClass("no-sort")) {
            console.log("NO");
            tableheader.children(".sortable").removeClass("mdl-data-table__header--sorted-ascending");
            tableheader.children(".sortable").removeClass("mdl-data-table__header--sorted-descending");
            tableheader.children(".sortable").addClass("mdl-data-table__header");
            tableheader.children(".sortable").addClass("no-sort");
            th.removeClass("no-sort");
            th.removeClass("mdl-data-table__header");
            th.addClass("mdl-data-table__header--sorted-ascending");
            loadItems();
            return;
        }

        

    }


    function clearItemOptions(){

        for(var prop in selctizedBoxInstanceItem.options){
            var id = selctizedBoxInstanceItem.options[prop].id;
            var type = selctizedBoxInstanceItem.options[prop].type;
            if(type == "item") {
                selctizedBoxInstanceItem.removeOption(id);
            }
        }

//        for(var i=0; i < selctizedBoxInstanceItem.options.length; i++){
//            console.log(selctizedBoxInstanceItem.options[i]);
//            var id = selctizedBoxInstanceItem.options[i].id;
//            var type = selctizedBoxInstanceItem.options[i].type;
//            if(type == "item") {
//                selctizedBoxInstanceItem.removeOption(id);
//            }
//
//        }
        selctizedBoxInstanceItem.refreshOptions(false);
    }

    var pageCount = 1;
    function loadItems() {
        $(".mdl-progress").show();
        filterLimit = $("#filter-limit").val();
        //filterResults();
        var postData = {
            all: 1,
            vendorList : vendorFilterList,
            dateFilter : dateFilter,
            // itemIdList : itemIdFilterList,
            refList: refFilterList,
            brand : brandFilter[0],
            limit : filterLimit,
            page : pageCount
        };
        console.log(dateFilter);
        if (tableheader.children(".sortable.mdl-data-table__header--sorted-ascending").length > 0) {
            postData.sort = "ASC";
            postData.sortField = $(tableheader.children(".sortable.mdl-data-table__header--sorted-ascending")[0]).attr("id");
        }
        if (tableheader.children(".sortable.mdl-data-table__header--sorted-descending").length > 0) {
            postData.sort = "DESC";
            postData.sortField = $(tableheader.children(".sortable.mdl-data-table__header--sorted-descending")[0]).attr("id");
        }
         $.ajax({
            url: '?route=purchaseOrder/getPurchaseOrderList&all=1',
            type: 'POST',
            data: postData,
            dataType: 'json',
            success: function (returnData) {
                data = returnData.order_list;
                $("#order-body").html("");
                for (var i = 0; i < data.length; i++) {
                    var rowNode = $("#order_template >  tbody > tr").clone(true);
                    rowNode.attr("id", data[i].order_id);
                    rowNode.attr("data-bol", data[i].bol_number);
                    rowNode.children("#_order_id").html(data[i].bol_number);
                    rowNode.children("#_order_date").html(data[i].date_of_receipt);
                    rowNode.children("#_vendor_name").html(data[i].company_name);
                    rowNode.children("#_vendor_name").attr("data-vendor", data[i].vendor);
                    rowNode.children("#_amount_htt").prepend(data[i].htt);
                    rowNode.children("#_amount_ttc").prepend(data[i].ttc);
                    if(data[i].delivery_address == 0 && data[i].delivery_other != ""){
                        rowNode.children("#_delivery_address").html(data[i].delivery_other);
                    }else{
                        rowNode.children("#_delivery_address").html("<b>"+returnData.client[data[i].delivery_address]['name']+"</b> <br>"+returnData.client[data[i].delivery_address]['address']);                        
                    }
                    $("#order-body").append(rowNode);

                }
                $(".mdl-progress").hide();
                showSnackbar("Data loaded.");
            },
            error: function () {
                $(".mdl-progress").hide();
                showSnackbar("Can't complete your request.");
            }
        });
    }
    function calculateTotal(){
        total_amount = purchase_amount - return_amount;
    }


     $("#filter-vendor").change(function(){
        $(".mdl-progress").show();
        val = $(this).val();
        vendorFilterList = [];
        if(val != 0)
            vendorFilterList.push(val);
        loadBrandNames();
        loadItemCategorySelectBox(false);
        loadItems();
        $(".mdl-progress").hide();
    });
    $("#filter-category").change(function(){
        val = $(this).val();
        categoryFilterList = [];
        if(val != 0)
            categoryFilterList.push(val);
        loadRefSelectBox(false);
        loadItems();
    });
    $("#filter-ref").change(function(){
        val = $(this).val();
        refFilterList = [];
        if(val != 0)
            refFilterList.push(val);
        loadItems();
    });
    $("#filter-brand").change(function(){
        val = $(this).val();
        brandFilter = [];
        if(val != 0)
            brandFilter.push(val);
        loadItemCategorySelectBox(false);
        loadRefSelectBox(false);
        loadItems();
    });
    $("#filter-limit").change(function(){
        pageCount=1;
        loadItems();
    });

 $(document).ready(function () {
        $("#refresh-data-btn").click(loadItems);
        tableheader.children(".sortable").click(tableSort);
        
        loadVendorsSelectBox();
        
        loadItems();
        calculateTotal();
        $("#filter-box").change(filterResults);
        $(".total_amount").html("&euro; "+total_amount);
        $(".purchase_amount").html("&euro; "+purchase_amount);
         $("#order_type").change(function(){
            loadItems();
        });

    });

 $(document).on("click", ".pagination li a", function(e){
        e.preventDefault();
        found = false;
        url = $(this).attr("href");
        splinters = url.split("&");
        $.each(splinters, function(key, val){
            vals = val.split("=");
            if(vals[0] == "page") {
                found = true;
                pageCount = vals[1];
            }
        });
        if(!found) pageCount = 1;
        loadItems();
    });

</script>