<div class="center-margin col-xs-12">



    <div class="table-card mdl-card  mdl-shadow--2dp col-xs-12 ">

        <div class="table-header">
            <h4>Return Orders
                <button id="test" class="mdl-button mdl-js-button mdl-button--icon pull-right">
                    <i class="material-icons">refresh</i>
                </button></h4>

                <select name="vendor_name" class="field selectize-filter">
                    <option value="">Search</option>
                </select>
            </div>
            <table class="mdl-data-table mdl-js-data-table  md-table col-xs-12 expandable ">
                <thead>
                    <tr>
                        <th class="mdl-data-table__cell--non-numeric"><?=$text_return_number;?></th>
                        <th class="mdl-data-table__cell--non-numeric"><?=$text_return_date;?></th>
                        <th class="mdl-data-table__cell--non-numeric"><?=$text_vendor_name;?></th>
                        <th class="mdl-data-table__cell--non-numeric"><?=$text_address;?></th>
                        <th class="mdl-data-table__cell--non-numeric"><?=$text_reason;?></th>
                        <th class="mdl-data-table__cell--non-numeric"><?=$text_created_by;?></th>
                        <th class="mdl-data-table__cell--non-numeric"><?=$text_adjusted;?></th>
                        <th class="mdl-data-table__cell--non-numeric"><?=$text_action;?></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric clickable">1</td>
                        <td class="mdl-data-table__cell--non-numeric clickable">Lorem ipsum.</td>
                        <td class="mdl-data-table__cell--non-numeric clickable">Lorem.</td>
                        <td class="mdl-data-table__cell--non-numeric clickable">Lorem ipsum dolor.</td>
                        <td class="mdl-data-table__cell--non-numeric clickable">Lorem ipsum dolor.</td>
                        <td class="mdl-data-table__cell--non-numeric clickable">Lorem ipsum dolor.</td>
                        <td class="mdl-data-table__cell--non-numeric clickable">Store Keeper</td>
                        <td class="mdl-data-table__cell--non-numeric">
                            <button id="menu-1"
                            class="mdl-button mdl-js-button mdl-button--icon">
                            <i class="material-icons">more_vert</i>
                            </button>
                            <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                            for="menu-1">
                                <li class="mdl-menu__item"><?=$text_make_payment;?></li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

<div id="modal-view" hidden>
    <div class="view-title">
        Purchase Order
    </div>
    <div class="view-body">
      
        <div class="form-content">
            <div>
                <h4 class="pull-left mdl-button--primary"><small>PO#</small> <br> 2</h4>
                <h4 class="pull-right mdl-button--primary"><small class="pull-right">Grand Total</small> <br> 24000</h4>
            </div>
            <div class="clearfix"></div>
            <table class=" col-xs-12 col-md-6 details">
                <tbody>
                    <tr>
                        <td class="col-xs-6 head">Order Date</td>
                        <td class="">26/5/2017</td>
                    </tr>
                    <tr>
                        <td class="col-xs-6 head">Vendor Name</td>
                        <td>Some Name</td>
                    </tr>
                    <tr>
                        <td class="col-xs-6 head">Stock</td>
                        <td>20</td>
                    </tr>
                    <tr>
                        <td class="col-xs-6 head">Vendor Address</td>
                        <td>Company, Main Street</td>
                    </tr>
                    <tr>
                        <td class="col-xs-6 head">Delivery Date</td>
                        <td>25/12/2017</td>
                    </tr>

                </tbody>
            </table>
            <table class=" col-xs-12 col-md-6 details">
                <tbody>

                    <tr>
                        <td class="col-xs-6 head">Person Responsible</td>
                        <td>hii!!!</td>
                    </tr>
                    <tr>
                        <td class="col-xs-6 head">Delivery Address</td>
                        <td>hii!!!</td>
                    </tr>
                    <tr>
                        <td class="col-xs-6 head">Purchaser</td>
                        <td>hii!!!</td>
                    </tr>
                </tbody>
            </table>

            <table class="mdl-data-table mdl-js-data-table  md-table col-xs-12 ">
                <thead>
                    <tr>
                        <th class="mdl-data-table__cell--non-numeric"><?=$text_item_id;?></th>
                        <th class="mdl-data-table__cell--non-numeric"><?=$text_item_name;?></th>
                        <th class="mdl-data-table__cell--non-numeric"><?=$text_brand_name;?></th>
                        <th class="mdl-data-table__cell--non-numeric"><?=$text_vendor_name;?></th>
                        <th class="mdl-data-table__cell--non-numeric">Buy Rate</th>
                        <th class="mdl-data-table__cell--non-numeric">Quantity</th>
                        <th class="mdl-data-table__cell--non-numeric">Total</th>

                    </tr>
                </thead>
                <tbody>
                    <tr class="parent-row" id="row-1">
                        <td class="mdl-data-table__cell--non-numeric">1</td>
                        <td class="mdl-data-table__cell--non-numeric">Lorem ipsum.</td>
                        <td class="mdl-data-table__cell--non-numeric">Lorem.</td>
                        <td class="mdl-data-table__cell--non-numeric">Lorem.</td>
                        <td class="mdl-data-table__cell--non-numeric">2000</td>
                        <td class="mdl-data-table__cell--non-numeric">2</td>
                        <td class="mdl-data-table__cell--non-numeric">4000</td>
                    </tr>


                    <tr class="parent-row" id="row-2">
                        <td class="mdl-data-table__cell--non-numeric">1</td>
                        <td class="mdl-data-table__cell--non-numeric">Lorem ipsum.</td>
                        <td class="mdl-data-table__cell--non-numeric">Lorem.</td>
                        <td class="mdl-data-table__cell--non-numeric">Lorem.</td>
                        <td class="mdl-data-table__cell--non-numeric">2000</td>
                        <td class="mdl-data-table__cell--non-numeric">2</td>
                        <td class="mdl-data-table__cell--non-numeric">4000</td>
                    </tr>


                    <tr class="parent-row" id="row-3">
                        <td class="mdl-data-table__cell--non-numeric">1</td>
                        <td class="mdl-data-table__cell--non-numeric">Lorem ipsum.</td>
                        <td class="mdl-data-table__cell--non-numeric">Lorem.</td>
                        <td class="mdl-data-table__cell--non-numeric">Lorem.</td>
                        <td class="mdl-data-table__cell--non-numeric">2000</td>
                        <td class="mdl-data-table__cell--non-numeric">2</td>
                        <td class="mdl-data-table__cell--non-numeric">4000</td>
                    </tr>


                    <tr class="parent-row" id="row-4">
                        <td class="mdl-data-table__cell--non-numeric">1</td>
                        <td class="mdl-data-table__cell--non-numeric">Lorem ipsum.</td>
                        <td class="mdl-data-table__cell--non-numeric">Lorem.</td>
                        <td class="mdl-data-table__cell--non-numeric">Lorem.</td>
                        <td class="mdl-data-table__cell--non-numeric">2000</td>
                        <td class="mdl-data-table__cell--non-numeric">2</td>
                        <td class="mdl-data-table__cell--non-numeric">4000</td>
                    </tr>


                    <tr class="parent-row" id="row-5">
                        <td class="mdl-data-table__cell--non-numeric">1</td>
                        <td class="mdl-data-table__cell--non-numeric">Lorem ipsum.</td>
                        <td class="mdl-data-table__cell--non-numeric">Lorem.</td>
                        <td class="mdl-data-table__cell--non-numeric">Lorem.</td>
                        <td class="mdl-data-table__cell--non-numeric">2000</td>
                        <td class="mdl-data-table__cell--non-numeric">2</td>
                        <td class="mdl-data-table__cell--non-numeric">4000</td>
                    </tr>



                </tbody>
            </table>
        </div>
    </div>

</div>

<script>

    $("tr > .clickable").click(function () {
        MDialog.start({},"detail",this,$("#modal-view"));
    });

</script>