<div class="center-margin col-xs-12">
    <div class="table-card mdl-card  mdl-shadow--2dp col-xs-12">

        <div class="table-header">
            <h4>Confirmation
                <!-- <button class="mdl-button mdl-js-button mdl-button--icon pull-right">
                    <i class="material-icons">refresh</i>
                </button> -->
            </h4>
<!--             <div class="header-data"><span><?= $text_amount_returnable; ?> = <span class="return_amount"><?php echo $returnAmount; ?></span></span>
            <span class="pull-right ">BOL TTC = <span class="total_amount"><?php echo $ttc; ?></span> </div>
            <div class="header-data">BOL HT = <span class="purchase_amount"> <?php echo $ht; ?></span>

                <span class="pull-right ">Total Amount = <span class="total_amount"><?php echo $ttc-$returnAmount; ?></span> </div>
                
                <div class="clearfix"></div>
            </div>
 -->
        </div>

        <div class="row" style="padding:0 15px;">
            <form method="post" action="">
                    <table class="order_details table-striped col-xs-12 col-sm-6">
                            <tr>
                                <td>Vendor Name:</td>
                                <td id="order_id_m"><?php echo $vendor_details['company_name']; ?></td>
                            </tr>
                            <tr>
                                <td>Vendor Address:</td>
                                <td id="order_id_m"><?php echo $vendor_details['address']; ?></td>
                            </tr>
                            <tr>
                                <td>Payment Date:</td>
                                <td id="order_date_m"><input type="date" name="payment_date" value="<?php echo date('Y-m-d', time()); ?>" required></td>
                            </tr>
                            <tr>
                                <td>Payment Mode:</td>
                                <td id="payment_mode_m">
                                    <select name="payment_mode" required>
                                    <?php
                                        foreach($payment_modes as $pm):
                                    ?>  
                                        <option value="<?=$pm['payment_mode_id']; ?>"><?=$pm['title']; ?></option>
                                    <?php endforeach;?>
                                    </select>
                                </td>
                            </tr>
                            <tr class="hidden">
                                <td class="label-c">Cheque No:</td>
                                <td id="cheque">
                                    <input type="text" name="pay_no">
                                </td>
                            </tr>
                    </table>
                    <table class="order_details  table-striped col-xs-12 col-sm-6">
                            <tr>
                                <td>HT:</td>
                                <td><span id="htt_m" class="text-success"><?php echo ROUND($ht,3); ?> &euro;</span></td>
                            </tr>
                            <tr>
                                <td>TVA:</td>
                                <td><span id="tva_m" class="text-danger">20%</span></td>
                            </tr>
                            <tr>
                                <td>Return Amount:</td>
                                <td><span id="return_m" class="text-danger"><?php echo ROUND($returnAmount,3); ?>&euro;</span></td>
                            </tr>
                            <tr>
                                <td> <?=$text_grand_total;?>:</td>
                                <td class="text-danger"><span id="ttc_m" class="text-danger"><?php echo ROUND($ttc-$returnAmount,3); ?> &euro;</span></td>
                                <input type="hidden" name="amount" value="<?php echo $ttc-$returnAmount; ?>">
                            </tr>

                    </table>
    </div>
       
                    <div class="buttons text-center" style="margin:20px 0;">
                        <p class="text-center" style="font-weight:bold !important;">
                            Confirm payment of <span class="text-danger text-bold"><?php echo ROUND($ttc-$returnAmount,3); ?>&euro;</span>
                        </p>
                        <button type="submit" class="btn btn-success btn-md">Confirm Payment</button> 
                        <a class="btn btn-danger btn-md" href="?route=payment/cancel&id=<?php echo $_GET['vendor_id']?>">Cancel Payment</a>
                    </div>
    </div>
</form>
</div>
<script type="text/javascript">
    $("select").change(function(){
        val = $(this).val();
        if(val == "2"){
            $("#cheque").parent().removeClass("hidden");
            $(".label-c").closest("td").html("DD No");
            $("#cheque input").attr("required", "required");
        }
        else if(val == "3"){            
            $("#cheque").parent().removeClass("hidden");
            $("#cheque input").attr("required", "required");
        }
        else{            
            $("#cheque").parent().addClass("hidden");
            $("#cheque input").attr("required", false);
        }
    })
</script>