

<div class="center-margin col-xs-12  ">
	<div class="table-card mdl-card  mdl-shadow--2dp col-xs-12">
        <div class="table-header">
            <h4><?=$text_title;?>
                <!-- <button class="mdl-button mdl-js-button mdl-button--icon pull-right">
                    <i class="material-icons">refresh</i>
                </button> -->
            </h4>

            <select name="vendor_name" class="field selectize-filter-items">
                <option value="">Search</option>
            </select>
        </div>
        <table class="mdl-data-table mdl-js-data-table col-xs-12 expandable">
            <thead>
                <tr>
                   <th class="mdl-data-table__cell--non-numeric"><?=$text_order_number;?></th>
                   <th  class="mdl-data-table__cell--non-numeric sortable"><?=$text_order_date;?></th>
                   <th  class="mdl-data-table__cell--non-numeric"><?=$text_vendor;?></th>
                   <th  class="mdl-data-table__cell--non-numeric"><?=$text_amount_ht;?></th>
                   
                   <th class="mdl-data-table__cell--non-numeric"><?=$text_amount_ttc;?></th>
                   <!-- <th class="mdl-data-table__cell--non-numeric"><?=$text_status;?></th> -->
                   <th  class="mdl-data-table__cell--non-numeric"><?=$text_action;?></th>
                </tr>
            </thead>
             <tbody>
                <?php foreach ($cancelled_orders as $cancelled_order) { ?>
                <tr class="parent-row" id="<?=$cancelled_order['order_id']?>">
                    <td class="mdl-data-table__cell--non-numeric clickable"><?php echo $cancelled_order["order_id"]; ?></td>
                    <td class="mdl-data-table__cell--non-numeric clickable"><?php echo $cancelled_order["order_date"]; ?></td>
                    <td class="mdl-data-table__cell--non-numeric clickable"><?php echo $cancelled_order["company_name"]; ?></td>
                    <td class="mdl-data-table__cell--non-numeric clickable"><?php echo $cancelled_order["htt"]; ?></td>
                    <td class="mdl-data-table__cell--non-numeric clickable"><?php echo $cancelled_order["ttc"]; ?></td>
                    <!-- <td class="mdl-data-table__cell--non-numeric clickable"> <?= $order_status[$cancelled_order['order_status']]?></td> -->
                    <td class="mdl-data-table__cell--non-numeric clickable">
                        <button id="btn-ap-2" class="mdl-button mdl-js-button mdl-button--icon 
                        mdl-button--colored" onclick="getDetails(this);">
                            <i class="material-icons">info</i>
                        </button>
                        <div class="mdl-tooltip mdl-tooltip--large" for="btn-ap-2"><?=$text_details;?></div>
                    </td>
                    
                </tr>

                <?php }?>

            </tbody>
        <?php if($pagination !== ""): ?>
            <tfoot>
                <tr>
                    <td colspan="6"><?php echo $pagination; ?></td>
                </tr>
            </tfoot>
        <?php endif; ?>
        </table>
    </div>
</div>
<button id="fab" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored floating-action-button">
    <i class="material-icons">add</i>
</button>
<div class="mdl-tooltip" for="fab">
    Create new <br>
    Sales order
</div>

<div id="modal-view" hidden>
    <div class="view-title">
      <?=$text_bulk_order;?>
    </div>
    <div class="view-body">
        <div class="form-content">
             <div>
                <h4 class="pull-left mdl-button--primary">
                    <small><?php echo $text_order_id; ?></small>
                    <span id="order_id_m">#</span>
                </h4>
                <h4 class="pull-right mdl-button--primary text-right">                    
                    
                        <table>
                            <tr class="broken_details">
                                <td> HTT : </td>
                                <td>&euro; <span id="htt_m"></span></td>
                            </tr>
                            <tr class="broken_details">
                                <td> TVA : </td>
                                <td><span id="tva_m"></span>%</td>
                            </tr>
                            <tr>
                                <td colspan="2"> <small class="pull-right"> <?=$text_grand_total;?></small></td>
                            </tr>
                            <tr>
                                <td colspan="2">&euro; <span id="ttc_m"></span></td>
                            </tr>
                        </table>
                </h4>
            </div>
            <div class="clearfix"></div>
            <table class=" col-xs-12 col-md-6 details">
                <tbody>
                    <tr>
                        <td class="col-xs-6 head"><?=$text_order_date;?></td>
                        <td class="order_date">26/5/2017</td>
                    </tr>
                    
                    <tr>
                        <td class="col-xs-6 head"><?=$text_address;?></td>
                        <td class="address">Company, Main Street</td>
                    </tr>
                    

                </tbody>
            </table>
            <table class=" col-xs-12 col-md-6 details">
                <tbody>
                    <tr>
                        <td class="col-xs-6 head"><?=$text_delivery_date;?></td>
                        <td class="delivery_date">25/12/2017</td>
                    </tr>
                    <tr>
                        <td class="col-xs-6 head"><?=$text_delivery_address;?></td>
                        <td class="delivery_address">address</td>
                    </tr>
                   
                </tbody>
            </table>

            <table class="mdl-data-table mdl-js-data-table  md-table col-xs-12 ">
                <thead>
                    <tr>
                        <th class="mdl-data-table__cell--non-numeric"><?=$text_reference;?></th>
                        <th class="mdl-data-table__cell--non-numeric"><?=$text_item_name;?></th>
                        <th class="mdl-data-table__cell--non-numeric"><?=$text_brand_name;?></th>
                        
                        <th class="mdl-data-table__cell--non-numeric"><?=$text_mrp;?></th>
                        <th class="mdl-data-table__cell--non-numeric"><?=$text_sell_rate;?></th>
                        <th class="mdl-data-table__cell--non-numeric"><?=$text_quantity;?></th>
                        <th class="mdl-data-table__cell--non-numeric"><?=$text_total;?></th>

                    </tr>
                </thead>
                <tbody id="item-table-body"></tbody>
            </table>
        </div>
    </div>
</div>

<div hidden>
    <table class="mdl-data-table mdl-js-data-table  md-table col-xs-12 ">
        <tbody id = "item-order-node">
            <tr id="">
                <td class="mdl-data-table__cell--non-numeric _r_reference">Lorem.</td>
                <td class="mdl-data-table__cell--non-numeric _r_item_name">1</td>
                <td class="mdl-data-table__cell--non-numeric _r_brand_name">Lorem ipsum.</td>
                
                <td class="mdl-data-table__cell--non-numeric currency-euro _r_mrp">Lorem.</td>
                <td class="mdl-data-table__cell--non-numeric _r_sell_rate"></td>
                <td class="mdl-data-table__cell--non-numeric _r_quantity"></td>
                <td class="mdl-data-table__cell--non-numeric currency-euro _r_total">Lorem.</td>
            </tr>
        </tbody>
    </table>
</div>

<script>

    function getDetails(e) {
        var id = $(e).parent().parent().attr("id");
        $.ajax({
            url: '?route=salesOrder/getOrderDetails&order_id=' + id,
            type: 'GET',
            dataType: 'json',
            success: function (returnData) {
              var orderItems = returnData.order_items;
                //var raisedBy = returnData.raised_by;
                var salesOrder = returnData.sales_order;
                $("#ttc_m").html(salesOrder.ttc);
                $("#tva_m").html(salesOrder.tva);
                $("#htt_m").html(salesOrder.htt);
                $("#order_id_m").html("#"+salesOrder.order_id);
                $("td.order_date").html(salesOrder.order_date);
                $("td.client_name").html(salesOrder.name);
                $("td.client_address").html(salesOrder.address);
                if(salesOrder.delivery_date != "0000-00-00")$("td.delivery_date").html(salesOrder.delivery_date);
                else $("td.delivery_date").html("-");
                $("td.person_responsible").html(salesOrder.person_responsible);
                $("td.delivery_address").html(salesOrder.delivery_address);

                for(var i = 0; i < orderItems.length; i++){
                    var rowNode = $("#item-order-node").children().clone();
                    
                    rowNode.children("._r_item_name").html(orderItems[i].item_name);
                    rowNode.children("._r_brand_name").html(orderItems[i].brand_name);
                    rowNode.children("._r_reference").html(orderItems[i].reference);
                    rowNode.children("._r_mrp").html(orderItems[i].mrp);
                    rowNode.children("._r_sell_rate").html(orderItems[i].rate);
                    rowNode.children("._r_quantity").html(orderItems[i].quantity);
                    var t = (orderItems[i].mrp - (orderItems[i].mrp * orderItems[i].rate)/100)*orderItems[i].quantity;
                    rowNode.children("._r_total").html(t.toFixed(2));
                    $("#item-table-body").append(rowNode);
                }
                MDialog.start({},"detail",this,$("#modal-view"));
            }
        });
    }

    var selectBoxItem;
    var selctizedBoxInstanceItem;

    var orderItemsFilter = [];

    function initItemFilterSelectBox() {
        selectBoxItem = $(".selectize-filter-items").selectize({
            onItemAdd: itemAddListener,
            onItemRemove: itemRemoveListener,
            options: [
                {id: 'time_1', type: 'date', label: 'Last day'},
                {id: 'time_2', type: 'date', label: 'Last one week'},
                {id: 'time_3', type: 'date', label: 'Last Two week'},
                {id: 'time_4', type: 'date', label: 'Last Month'},
            ],
            optgroups: [
                {id: 'client', name: 'Client'},
                {id: 'item', name: 'Item'},
                {id: 'date', name: 'By Added on'},
                {id: 'ref', name: 'Ref#'}
            ],
            labelField: 'label',
            valueField: 'id',
            optgroupField: 'type',
            optgroupLabelField: 'name',
            optgroupValueField: 'id',
            optgroupOrder: ['client', 'item', 'date', 'ref'],
            searchField: ['label'],
            plugins: ['optgroup_columns', 'remove_button'],
            maxItems:4,
            maxOptions : 10

        });
        if (selectBoxItem.length != 0) selctizedBoxInstanceItem = selectBoxItem[0].selectize;
    }
    var lastDateItemId = "";
    function itemAddListener(value, item){
        var item = $(item);
        var id = selctizedBoxInstanceItem.options[value].id;
        var type = selctizedBoxInstanceItem.options[value].type;
        var label = selctizedBoxInstanceItem.options[value].label;
        if(type == "date"){
            item.css("background-color","#1565c0");
            if(lastDateItemId != "")selctizedBoxInstanceItem.removeItem(lastDateItemId, false);
            lastDateItemId = id;
            loadItemsSelectBox();
        }
        if(type == "client"){
            loadItemsSelectBox();
            item.css("background-color","#00695c");
        }
        if(type == "item")item.css("background-color","#2e7d32");

        if(type == "ref"){
            item.css("background-color","#0277bd");
            loadItemsSelectBox();
        }

        loadItems();

    }
    function itemRemoveListener(value){
        var type = selctizedBoxInstanceItem.options[value].type;
        loadItemsSelectBox();
        loadItems();
    }

    function loadItemsSelectBox(){
        filterResults();
        if(clientFilterList.length == 0 && dateFilter.length == 0) {
            clearItemOptions();
            return;
        }
        $(".mdl-progress").show();
        var postData = {
            all: 1,
            clientList : clientFilterList,
            dateFilter : dateFilter,
            refFilterList: refFilterList,
            list:'item'
        };
        $.ajax({
            url: '?route=salesOrder/getOrderItemsList&all=1',
            type: 'POST',
            data: postData,
            dataType: 'json',
            success: function (returnData) {
                // clearItemOptions();
                items = returnData.itemsList;
                for(var i = 0; i < items.length ; i++){
                    //console.log(data[i]);
                    selctizedBoxInstanceItem.addOption({id : "item-"+items[i].item_id, type: "item", label: (items[i].item_name + "-" + items[i].reference)});
                }
                selctizedBoxInstanceItem.refreshOptions(false);
            },
            error: function () {
                $(".mdl-progress").hide();
                showSnackbar("Can't load items list.");
            }
        });

    }


    function loadClientsSelectBox(){
        $.ajax({
            url: '?route=salesOrder/getClientsList&all=1',
            type: 'GET',
            dataType: 'json',
            success: function (returnData) {
                data = returnData.client_list;
                for(var i = 0; i < data.length ; i++){
                    selctizedBoxInstanceItem.addOption({id : data[i].client_id, type: "client", label: (data[i].name)});
                }
                selctizedBoxInstanceItem.refreshOptions(false);
            },
            error: function () {
                $(".mdl-progress").hide();
                showSnackbar("Can't load client list.");
            }
        });
    }
    function loadRefSelectBox(){
        $.ajax({
            url: '?route=salesOrder/getRefList&all=1',
            type: 'GET',
            dataType: 'json',
            success: function (returnData) {
                data = returnData.ref_list;
                for(var i = 0; i < data.length ; i++){
                    selctizedBoxInstanceItem.addOption({id : data[i].order_id, type: "ref", label: ("#"+data[i].order_id)});
                }
                selctizedBoxInstanceItem.refreshOptions(false);
            },
            error: function () {
                $(".mdl-progress").hide();
                showSnackbar("Can't load ref list.");
            }
        });
    }

    var clientFilterList = [];
    var itemIdFilterList = [];
    var refFilterList = [];
    var dateFilter = [];



    function filterResults(){
        var input = $(this);
        clientFilterList = [];
        refFilterList = [];
        itemIdFilterList = [];
        dateFilter = [];
        //console.log(selctizedBoxInstanceItem.getValue());
        for(var i=0; i < selctizedBoxInstanceItem.getValue().length; i++){
            var id = selctizedBoxInstanceItem.options[selctizedBoxInstanceItem.getValue()[i]].id;
            var type = selctizedBoxInstanceItem.options[selctizedBoxInstanceItem.getValue()[i]].type;
            var label = selctizedBoxInstanceItem.options[selctizedBoxInstanceItem.getValue()[i]].label;
            if(type == "client") clientFilterList.push(id);
            if(type == "date") dateFilter.push(id);
            if(type == "ref") {
                var cId = id.substr(id.indexOf("-") + 1);
                refFilterList.push(cId);
            }
            if(type == "item"){
                var cId = id.substr(id.indexOf("-") + 1);
                itemIdFilterList.push(cId);
            }
        }

        if(orderItemsFilter.length > 0){
            for(var i=0 ; i < orderItemsFilter.length; i++){
                itemIdFilterList.push(orderItemsFilter[i]);
            }
            orderItemsFilter = [];
        }
    }

    var tableheader = $("#table-head");

    function tableSort() {
        var th = $(this);
        if (th.hasClass("no-sort")) {
            console.log("NO");
            tableheader.children(".sortable").removeClass("mdl-data-table__header--sorted-ascending");
            tableheader.children(".sortable").removeClass("mdl-data-table__header--sorted-descending");
            tableheader.children(".sortable").addClass("mdl-data-table__header");
            tableheader.children(".sortable").addClass("no-sort");
            th.removeClass("no-sort");
            th.removeClass("mdl-data-table__header");
            th.addClass("mdl-data-table__header--sorted-ascending");
            loadItems();
            return;
        }

        if (th.hasClass("mdl-data-table__header--sorted-ascending")) {
            th.removeClass("mdl-data-table__header--sorted-ascending");
            th.addClass("mdl-data-table__header--sorted-descending");
            console.log("ASC");
            loadItems();
            return;
        }

        if (th.hasClass("mdl-data-table__header--sorted-descending")) {
            th.removeClass("mdl-data-table__header--sorted-descending");
            th.addClass("mdl-data-table__header");
            th.addClass("no-sort");
            console.log("DESC");
            loadItems();
        }

    }


    function clearItemOptions(){

        for(var prop in selctizedBoxInstanceItem.options){
            var id = selctizedBoxInstanceItem.options[prop].id;
            var type = selctizedBoxInstanceItem.options[prop].type;
            if(type == "item") {
                selctizedBoxInstanceItem.removeOption(id);
            }
        }

//        for(var i=0; i < selctizedBoxInstanceItem.options.length; i++){
//            console.log(selctizedBoxInstanceItem.options[i]);
//            var id = selctizedBoxInstanceItem.options[i].id;
//            var type = selctizedBoxInstanceItem.options[i].type;
//            if(type == "item") {
//                selctizedBoxInstanceItem.removeOption(id);
//            }
//
//        }
        selctizedBoxInstanceItem.refreshOptions(false);
    }

    function loadItems() {
        $(".mdl-progress").show();
        //filterResults();
        var postData = {
            all: 1,
            clientList : clientFilterList,
            dateFilter : dateFilter,
            itemIdList : itemIdFilterList,
            refList: refFilterList
        };
        console.log(dateFilter);
        if (tableheader.children(".sortable.mdl-data-table__header--sorted-ascending").length > 0) {
            postData.sort = "ASC";
            postData.sortField = $(tableheader.children(".sortable.mdl-data-table__header--sorted-ascending")[0]).attr("id");
        }
        if (tableheader.children(".sortable.mdl-data-table__header--sorted-descending").length > 0) {
            postData.sort = "DESC";
            postData.sortField = $(tableheader.children(".sortable.mdl-data-table__header--sorted-descending")[0]).attr("id");
        }
        
        $.ajax({
            url: '?route=salesOrder/getOrderList&all=1',
            type: 'POST',
            data: postData,
            dataType: 'json',
            success: function (returnData) {
                data = returnData.order_list;
                 console.log(returnData);
                $("#orders_container").html("");
                for (var i = 0; i < data.length; i++) {
                    var rowNode = $("#orders_template  > tbody > tr").clone(true);
                    rowNode.attr("id", data[i].order_id);
                    rowNode.children("#_order_id").html(data[i].order_id);
                    rowNode.children("#_order_date").html(data[i].order_date);
                    rowNode.children("#_vendor_name").html(data[i].company_name);
                    rowNode.children("#_address").html(data[i].address);
                    // rowNode.children("#_status").html(data[i].order_status);
                     

                    $("#orders_container").append(rowNode);

                }
                $(".mdl-progress").hide();
                showSnackbar("Data loaded.");
            },
            error: function () {
                $(".mdl-progress").hide();
                showSnackbar("Can't complete your request.");
            }
        });
    }
 $(document).ready(function () {
        $("#refresh-data-btn").click(loadItems);
        tableheader.children(".sortable").click(tableSort);
        initItemFilterSelectBox();
        loadClientsSelectBox();
        loadRefSelectBox();
        loadItems();
        $("#filter-box").change(filterResults);

    });


</script>