
<div class="center-margin col-xs-12 col-sm-4 col-md-6  ">
    <form action="" method="post" enctype="multipart/form-data">
        <div class="form-card mdl-card mdl-shadow--2dp col-xs-12">
            <div class="form-header">
                <h4><?=$text_title; ?></h4>
            </div>
            <div class="form-content">
                <div class="form-field col-xs-12">
                    <label class="col-md-4"><?=$text_username; ?></label>
                    <div class="col-xs-12 col-sm-8">
                        <div class="mdl-textfield mdl-js-textfield <?php if(isset($error_username)){echo 'is-invalid';}?>">
                            <label class="mdl-textfield__label" for="name"></label>
                            <input class="form-control" type="text" id="name" name="username" <?php if(isset($username)) echo 'value="'.$username.'"'; ?>>
                           <span class="mdl-textfield__error"><?php if(isset($error_username)){echo $error_username;}?></span>
                        </div>
                    </div>
                </div>

                <div class="form-field col-xs-12">
                    <label class="col-md-4"><?=$text_sales_agent_name; ?></label>
                    <div class="col-xs-12 col-sm-8">
                        <div class="mdl-textfield mdl-js-textfield <?php if(isset($error_name)){echo 'is-invalid';}?>">
                            <label class="mdl-textfield__label" for="name"></label>
                            <input class="form-control" type="text" id="name" name="name" <?php if(isset($name)) echo 'value="'.$name.'"'; ?>>
                            <span class="mdl-textfield__error"><?=$text_field_required;?></span>
                        </div>
                    </div>
                </div>

                <!--<div class="form-field col-xs-12">
                    <label class="col-md-4"><?=$text_last_name; ?></label>
                    <div class="col-xs-12 col-sm-8">
                        <div class="mdl-textfield mdl-js-textfield <?php if(isset($error_last_name)){echo 'is-invalid';}?>">
                            <label class="mdl-textfield__label" for="name"></label>
                            <input class="form-control" type="text" id="name" name="last_name" <?php if(isset($last_name)) echo 'value="'.$last_name.'"'; ?>>
                            <span class="mdl-textfield__error"><?=$text_field_required;?></span>
                        </div>
                    </div>
                </div>-->

                <div class="form-field col-xs-12">
                    <label class="col-md-4"><?=$text_email_createsales; ?></label>
                    <div class="col-xs-12 col-sm-8">
                        <div class="mdl-textfield mdl-js-textfield <?php if(isset($error_email)){echo 'is-invalid';}?>">
                            <input class="form-control" type="email" id="email" name="email" <?php if(isset($email)) echo 'value="'.$email.'"'; ?>>
                            <label class="mdl-textfield__label" for="email"></label>
                            <span class="mdl-textfield__error"><?=$text_field_required;?></span>
                        </div>
                    </div>
                </div>

              <div class="form-field col-xs-12">
                    <label class="col-md-4"><?=$text_password; ?></label>
                    <div class="col-xs-12 col-sm-8">
                        <div class="mdl-textfield mdl-js-textfield <?php if(isset($error_password)){echo 'is-invalid';}?>">
                            <input class="form-control" type="password" id="pass" name="password" <?php if(isset($password)) echo 'value="'.$password.'"'; ?>>
                            <label class="mdl-textfield__label" for="pass"></label>
                            <span class="mdl-textfield__error"><?=$text_field_required;?></span>
                        </div>
                    </div>
                </div>

                <div class="form-field col-xs-12">
                    <label class="col-md-4"><?=$text_phone_createsales; ?></label>
                    <div class="col-xs-12 col-sm-8">
                        <div class="mdl-textfield mdl-js-textfield <?php if(isset($error_phone)){echo 'is-invalid';}?>">
                            <input class="form-control" type="number" id="phone"  name="phone" <?php if(isset($phone)) echo 'value="'.$phone.'"'; ?>>
                            <label class="mdl-textfield__label" for="phone"></label>
                            <span class="mdl-textfield__error"><?=$text_field_required;?></span>
                        </div>
                    </div>
                </div>

                <div class="form-field col-xs-12">
                    <label class="col-md-4"><?=$text_address_createsales; ?></label>
                    <div class="col-xs-12 col-sm-8">
                        <div class="mdl-textfield mdl-js-textfield <?php if(isset($error_address)){echo 'is-invalid';}?>">
                            <textarea class="form-control" id="address" name="address" ><?php if(isset($address)) echo ".$address."; ?></textarea>
                            <label class="mdl-textfield__label" for="address"></label>
                            <span class="mdl-textfield__error"><?=$text_field_required;?></span>
                        </div>
                    </div>
                </div>

                <div class="form-field col-xs-12">
                    <label class="col-md-4"><?=$text_city; ?></label>
                    <div class="col-xs-12 col-sm-8">
                        <div class="mdl-textfield mdl-js-textfield <?php if(isset($error_city)){echo 'is-invalid';}?>">
                            <input class="form-control" id="city" name="city" <?php if(isset($city)) echo 'value="'.$city.'"'; ?>>
                            <label class="mdl-textfield__label" for="city"></label>
                            <span class="mdl-textfield__error"><?=$text_field_required;?></span>
                        </div>
                    </div>
                </div>

                <div class="form-field col-xs-12">
                    <label class="col-md-4"><?=$text_postal_code; ?></label>
                    <div class="col-xs-12 col-sm-8">
                        <div class="mdl-textfield mdl-js-textfield <?php if(isset($error_postal_code)){echo 'is-invalid';}?>">
                            <input class="form-control" id="postal_code" name="postal_code" <?php if(isset($postal_code)) echo 'value="'.$postal_code.'"'; ?>>
                            <label class="mdl-textfield__label" for="postal_code"></label>
                            <span class="mdl-textfield__error"><?=$text_field_required;?></span>
                        </div>
                    </div>
                </div>

                <div class="form-field col-xs-12">
                    <label class="col-md-4"><?=$text_travel_limit; ?></label>
                    <div class="col-xs-12 col-sm-8">
                        <div class="mdl-textfield mdl-js-textfield <?php if(isset($error_travel_limit)){echo 'is-invalid';}?>">
                            <input class="form-control" type="text" id="travel" name="travel_limit" <?php if(isset($travel_limit)) echo 'value="'.$travel_limit.'"'; ?>>
                            <label class="mdl-textfield__label" for="travel"></label>
                            <span class="mdl-textfield__error"><?=$text_field_required;?></span>
                        </div>
                    </div>
                </div>




                <div class="form-field col-xs-12">
                    <label class="col-md-4"><?=$text_allocate_client; ?></label>
                    <div class="col-xs-12 col-sm-8">
                        <div class="mdl-textfield mdl-js-textfield <?php if(isset($error_client)){echo 'is-invalid';}?>">
                            <select name="client" id="" class="form-control" >
                                <option value="">Select Clients</option>
                                    <?php foreach ($clients as $client_d) {?>
                                    <option value="<?php echo $client_d['client_id'] ?>" <?php if(isset($client) && $client == $client_d['client_id']) echo "selected"; ?>><?php echo $client_d['company_name']; ?></option>
                                    <?php }?>
                            </select>
                            <span class="mdl-textfield__error"><?=$text_field_required;?></span>
                        </div>
                    </div>
                </div>


                <div class="form-field col-xs-12">
                    <label class="col-md-4"><?=$text_add_profile; ?></label>
                    <div class="col-xs-12 col-sm-8">
                        <div class="mdl-textfield mdl-js-textfield <?php if(isset($error_image)){echo 'is-invalid';}?>">
                            <input class="form-control" type="file" id="image" name="image" <?php if(isset($image)) echo 'value="'.$image.'"'; ?>>
                            <label class="mdl-textfield__label" for="image"></label>
                             <span class="mdl-textfield__error"><?=$text_field_required;?></span>
                        </div>
                    </div>
                </div>

                <div class="form-field col-xs-12">
                    <label class="col-md-4"><?=$text_add_identification; ?></label>
                    <div class="col-xs-12 col-sm-8">
                        <div class="mdl-textfield mdl-js-textfield <?php if(isset($error_identification)){echo 'is-invalid';}?>">
                            <input class="form-control" type="file" id="identification" name="identification" <?php if(isset($identification)) echo 'value="'.$identification.'"'; ?>>
                            <label class="mdl-textfield__label" for="identification"></label>
                             <span class="mdl-textfield__error"><?=$text_field_required;?></span>
                        </div>
                    </div>
                </div>
                <h5 class="text-center authorised_name">Commission</h5>

                <div class="form-field col-xs-12">
                    <label class="col-md-4">Commission Range</label>
                        <div class="col-xs-6 col-sm-3">
                            <div class="mdl-textfield mdl-js-textfield <?php if(isset($error_commission_rate)){echo 'is-invalid';}?>">
                                <input class="form-control" type="text" id="start1" name="start[]" <?php if(isset($commission_rate)) echo 'value="'.$commission_rate.'"'; ?>placeholder="Start">
                                <label class="mdl-textfield__label" for="start1"></label>
                                <span class="mdl-textfield__error"><?=$text_field_required;?></span>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <div class="mdl-textfield mdl-js-textfield <?php if(isset($error_commission_rate)){echo 'is-invalid';}?>">
                                <input class="form-control" type="text" id="end1" name="end[]" <?php if(isset($commission_rate)) echo 'value="'.$commission_rate.'"'; ?> placeholder="End">
                                <label class="mdl-textfield__label" for="end1"></label>
                                <span class="mdl-textfield__error"><?=$text_field_required;?></span>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-2">
                            <div class="mdl-textfield mdl-js-textfield <?php if(isset($error_commission_rate)){echo 'is-invalid';}?>">
                                <input class="form-control" type="text" id="rate" name="commission_rate[]" <?php if(isset($commission_rate)) echo 'value="'.$commission_rate.'"'; ?> placeholder="Rate">
                                <label class="mdl-textfield__label" for="rate"></label>
                                <span class="mdl-textfield__error"><?=$text_field_required;?></span>
                            </div>
                        </div>


                        <span class=" mdl-button mdl-js-button mdl-button--icon mdl-button--primary mdl-button--raised mdl-shadow--0dp" style="position: absolute; right: 30px; bottom: -15px;"><i class="material-icons">add</i></span>
                    </div>
            </div>

            <div class="mdl-card__actions mdl-card--border">
                <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent pull-right">
                    <?= $text_submit_salesAgent; ?>
                </button>
            </div>
        </div>
    </form>
</div>

