

 
<div class="center-margin col-xs-12 col-md-6">
    <form action="" method="post" enctype="multipart/form-data">
        <div class="form-card mdl-card  mdl-shadow--2dp col-xs-6">
            <div class="form-header">
                <h4><?=$text_title;?></h4>
            </div>


            <div class="form-content">
                <div class="form-field col-xs-12">
                    <label class="col-xs-12 col-md-4"><?=$text_select_module;?></label>
                    <div class="col-xs-12 col-sm-8">
                        <div class="mdl-textfield mdl-js-textfield <?php if(isset($error_user_type)){echo 'is-invalid';}?>">
                            <select class="form-control"  id="sample1" name="user_type">
                                <option value="">Select</option>
                                <?php foreach ($user_types as $user_type) {?>
                                <option value="<?php echo $user_type['user_type_id'] ?>"><?php echo $user_type['title']; ?></option>
                                <?php }?>

                            </select>
                            <label class="mdl-textfield__label" for="sample1"></label>
                        </div>
                    </div>
                </div>

                <div class="form-field col-xs-12">
                    <label class="col-xs-12 col-md-4"><?=$text_set_date;?></label>
                    <div class="col-xs-12 col-sm-8">
                        <div class="mdl-textfield mdl-js-textfield <?php if(isset($error_audit_date)){echo 'is-invalid';}?>">
                            <input class="form-control" type="date" id="sample2" name="audit_date" <?php if(isset($audit_date)) echo 'value="'.$audit_date.'"'; ?>>
                            <label class="mdl-textfield__label" for="sample2"></label>
                        </div>
                    </div>
                </div>

                <div class="form-field col-xs-12">
                    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="third_party">
                      <input type="checkbox" id="third_party" class="mdl-checkbox__input" />
                      <span class="mdl-checkbox__label third_party"><?=$text_third_party;?></span> <!-- Checkbox Label -->
                    </label>
                </div>
                <div class="form-field col-xs-12">
                    <label class="col-xs-12 col-md-4"><?=$text_appoint_person;?></label>
                    <div class="col-xs-12 col-sm-8">
                        <div class="mdl-textfield mdl-js-textfield <?php if(isset($error_appoint_person)){echo 'is-invalid';}?>">
                            <input class="form-control" type="text" id="sample2" name="appoint_person" <?php if(isset($appoint_person)) echo 'value="'.$appoint_person.'"'; ?>>
                            <label class="mdl-textfield__label" for="sample2"></label>
                        </div>
                    </div>
                </div>
        </div>


        <div class="mdl-card__actions mdl-card--border col-xs-12">

            <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--primary pull-right">
                <?=$text_submit;?>
            </button>
        </div>
    </form>

</div>


