<div class="center-margin col-xs-12 col-sm-4 col-md-6">
    <form action="" method="post" enctype="multipart/form-data"> 
        <div class="form-card mdl-card mdl-shadow--2dp col-xs-12">
            <div class="form-header">
                <h4><?= $text_title; ?></h4>
            </div>

            <div class="form-content">
                <div class="form-field col-xs-12">
                    <label class="col-md-4"><?= $text_admin_type; ?></label>
                    <div class="col-xs-12 col-sm-8">
                        <div class="mdl-textfield mdl-js-textfield <?php if(isset($error_user_type)){echo 'is-invalid';}?>">
                            <label class="mdl-textfield__label" for="type"></label>
                            <select class=" form-control" id="type" name="user_type">
                                <option value="">Select</option>
                                <?php foreach ($user_types as $user_type) {?>
                                <option value="<?php echo $user_type['user_type_id'] ?>"><?php echo $user_type['title']; ?></option>
                                <?php }?>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-field col-xs-12">
                    <label class="col-md-4"><?= $text_username; ?></label>
                    <div class="col-xs-12 col-sm-8">
                        <div class="mdl-textfield mdl-js-textfield <?php if(isset($error_username)){echo 'is-invalid';}?>">
                            <label class="mdl-textfield__label" for="username" ></label>
                            <input class="form-control" type="text" id="username" name="username" <?php if(isset($username)) echo 'value="'.$username.'"'; ?>>
                            <span class="mdl-textfield__error"><?php if(isset($error_username)){echo $error_username;}?></span>
                        </div>
                    </div>
                </div>

                <div class="form-field col-xs-12">
                    <label class="col-md-4"><?= $text_name; ?></label>
                    <div class="col-xs-12 col-sm-8">
                        <div class="mdl-textfield mdl-js-textfield <?php if(isset($error_name)){echo 'is-invalid';}?>">
                            <label class="mdl-textfield__label" for="name" ></label>
                            <input class="form-control" type="text" id="name" name="name" <?php if(isset($name)) echo 'value="'.$name.'"'; ?>>
                            <span class="mdl-textfield__error"><?=$text_field_required;?></span>
                        </div>
                    </div>
                </div>

                <div class="form-field col-xs-12">
                    <label class="col-md-4"><?= $text_admin_email; ?></label>
                    <div class="col-xs-12 col-sm-8">
                        <div class="mdl-textfield mdl-js-textfield <?php if(isset($error_email)){echo 'is-invalid';}?>">
                            <input class="form-control" type="email" id="email" name="email" <?php if(isset($email)) echo 'value="'.$email.'"'; ?>>
                            <label class="mdl-textfield__label" for="email"></label>
                            <span class="mdl-textfield__error"><?=$text_field_required;?></span>
                        </div>
                    </div>
                </div>
                <div class="form-field col-xs-12">
                    <label class="col-md-4">Password</label>
                    <div class="col-xs-12 col-sm-8">
                        <div class="mdl-textfield mdl-js-textfield <?php if(isset($error_password)){echo 'is-invalid';}?>">
                            <input class="form-control" type="password" id="password" name="password" <?php if(isset($password)) echo 'value="'.$password.'"'; ?>>
                            <label class="mdl-textfield__label" for="password"></label>
                            <span class="mdl-textfield__error"><?=$text_field_required;?></span>
                        </div>
                    </div>
                </div>

                <!-- <div class="form-field col-xs-12">
                    <label class="col-md-4"><?= $text_password; ?></label>
                    <div class="col-xs-12 col-sm-8">
                        <div class="mdl-textfield mdl-js-textfield <?php if(isset($error_password)){echo 'is-invalid';}?>">
                            <input class="form-control" type="password" id="pass" name="password" <?php if(isset($passowrd)) echo 'value="'.$password.'"'; ?>>
                            <label class="mdl-textfield__label" for="pass"></label>
                            <span class="mdl-textfield__error"><?=$text_field_required;?></span>
                        </div>
                    </div>
                </div> -->

                <div class="form-field col-xs-12">
                    <label class="col-md-4"><?= $text_admin_phone; ?></label>
                    <div class="col-xs-12 col-sm-8">
                        <div class="mdl-textfield mdl-js-textfield <?php if(isset($error_phone)){echo 'is-invalid';}?>">
                            <input class="form-control" type="number" id="phone" name="phone" <?php if(isset($phone)) echo 'value="'.$phone.'"'; ?>>
                            <label class="mdl-textfield__label" for="phone"></label>
                            <span class="mdl-textfield__error"><?=$text_field_required;?></span>
                        </div>
                    </div>
                </div>
                <div class="form-field col-xs-12">
                    <label class="col-md-4"><?= $text_admin_address; ?></label>
                    <div class="col-xs-12 col-sm-8">
                        <div class="mdl-textfield mdl-js-textfield <?php if(isset($error_address)){echo 'is-invalid';}?>">
                            <textarea class="form-control" id="address" name="address" <?php if(isset($address)) echo 'value="'.$address.'"'; ?>></textarea>
                            <label class="mdl-textfield__label" for="address"></label>
                             <span class="mdl-textfield__error"><?=$text_field_required;?></span>
                        </div>
                    </div>
                </div>

               <div class="form-field col-xs-12">
                    <label class="col-md-4"><?= $text_add_profile; ?></label>
                    <div class="col-xs-12 col-sm-8">
                        <div class="mdl-textfield mdl-js-textfield <?php if(isset($error_image)){echo 'is-invalid';}?>">
                            <input class="form-control" type="file" id="image" name="image" <?php if(isset($image)) echo 'value="'.$image.'"'; ?>>
                            <label class="mdl-textfield__label" for="image"></label>
                             <span class="mdl-textfield__error"><?=$text_field_required;?></span>
                        </div>
                    </div>
                </div>

                <div class="form-field col-xs-12">
                    <label class="col-md-4"><?= $text_add_identification; ?></label>
                    <div class="col-xs-12 col-sm-8">
                        <div class="mdl-textfield mdl-js-textfield <?php if(isset($error_identification)){echo 'is-invalid';}?>">
                            <input class="form-control" type="file" id="identification" name="identification" <?php if(isset($identification)) echo 'value="'.$identification.'"'; ?>>
                            <label class="mdl-textfield__label" for="identification"></label>
                             <span class="mdl-textfield__error"><?=$text_field_required;?></span>
                        </div>
                    </div>
                </div>



            </div>
            <div class="mdl-card__actions mdl-card--border">

                <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent pull-right">
                    <?= $text_submit; ?>
                </button>
            </div>

        </div>
    </form>
</div>