<style>

    .notification-card {
        padding: 0px;
        height: fit-content;
    }

    .notification-card > .card-title {
        margin: 0px;
        padding: 27px;
        background-color: #1976D2;
        color: white;
    }

    .notification-card > .card-title > small {
        color: white;
    }

    .notification-tile > .card-content {
        height: 12px;
        padding: 0px 24px;
        color: #0000008a;
    }

    .message-card {
        max-height: 300px;
    }

    .message-card > .card-content {
        height: 136px;
        padding: 0 25px;
    }

    .message-card > .card-content > h6 {
        margin: 0px;
        font-weight: 700;
    }

    .card-title {
        padding: 0px 30px;
    }

    .card-action {
        padding: 12px;
    }

    .notification-tile {
        height: 100px;
        width: 100%;
        border-bottom: 1px solid #EBEBEB;
        transition: 0.4s;
    }

    .notification-tile.expand {
        min-height: fit-content;
    }

    .notifications {
        height: 0px;
        min-height: 0px;
        overflow: hidden;
        transition: 0.4s;
        padding: 0px 13px;
    }

    .notifications.expand {
        min-height: fit-content !important;
    }

    .notification-tile > .title {
        margin: 0px !important;
        padding: 15px 22px;
    }

    .notification-tile:hover {
        background-color: #f3f3f3;
    }

    .notification-tile > .action {
        padding: 3px 15px;
        display: flow-root;

    }




    .overview-card {
        color: white;
    }

    .overview-card.text-black {
        color: black;
    }

    .overview-card > h5 {
        margin: 0px;
        padding: 17px;
        background-color: inherit;
        color: inherit;
        border-bottom: 1px solid #0000001f;
    }
    .overview-card> .card-content {
        background-color: inherit;
        color: inherit;
    }
    .overview-card> .card-content > ul{
        background-color: inherit;
        color: inherit;
    }

    .overview-card> .card-content > ul > li{
        background-color: inherit;
        color: inherit;
        transition: 0.3s;
    }
    .overview-card> .card-content > ul > li:hover{
        background-color: rgba(0, 0, 0, 0.06);
    }
    .mdl-color--orange-300 i{
    color:#9c6007;
}
.mdl-color--green-300 i{
    color:#035a07;
}
.mdl-color--teal-300 i{
    color:#02544d;
}
.mdl-color--indigo-300 i{
    color: #08186f;
}
.mdl-color--blue-grey-300 i{
    color:#232425;
}
.mdl-color--red-300 i{
    color: #8c0707;
}
 .mdl-color--blue-300 i{
    color:#023c6b;

}

</style>

<div class="mdl-grid">
    <div class=" mdl-cell mdl-cell--12-col mdl-grid">
        <div class="overview-card text-black mdl-card mdl-shadow--2dp  mdl-cell mdl-cell--3-col mdl-color--white">
            <h5 class="card-title mdl-color--orange-300 mdl-color-text--white">Store
            <i class="fa fa-building pull-right" aria-hidden="true"></i></h5>
            <div class="card-content" >
                <ul class="demo-list-item mdl-list">
                    <li class="mdl-list__item">
                        <a href="http://localhost/projects/pream/store/admin/?route=account"><span class="mdl-list__item-primary-content ">
                            Store Admin
                        </span></a>
                    </li>
                    <li class="mdl-list__item">
                        <a href="http://localhost/projects/pream/store/keeper/?route=account"><span class="mdl-list__item-primary-content ">
                           Store Keeper
                        </span></a>
                    </li>
                    
                </ul>
            </div>
        </div>
        <div class="overview-card text-black mdl-card mdl-shadow--2dp  mdl-cell mdl-cell--3-col mdl-color--white">
            <h5 class="card-title mdl-color--green-300 mdl-color-text--white">Sales
            <i class="fa fa-briefcase pull-right" aria-hidden="true"></i></h5>
            <div class="card-content" >
                <ul class="demo-list-item mdl-list">
                    <li class="mdl-list__item">
                        <a href="http://localhost/projects/pream/sales/admin/"><span class="mdl-list__item-primary-content ">
                            Sales Admin 
                        </span></a>
                    </li>
                    <li class="mdl-list__item">
                        <a href="http://localhost/projects/pream/sales/agent/"><span class="mdl-list__item-primary-content ">
                           Sales Agent
                        </span></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="overview-card text-black mdl-card mdl-shadow--2dp  mdl-cell mdl-cell--3-col mdl-color--white">
            <h5 class="card-title mdl-color--teal-300 mdl-color-text--white">Purchaser
                <i class="fa fa-book pull-right" aria-hidden="true"></i></h5>
            <div class="card-content" >
                <ul class="demo-list-item mdl-list">
                    
                    <li class="mdl-list__item">
                        <a href="http://localhost/projects/pream/purchaser/"><span class="mdl-list__item-primary-content">
                            Purchaser
                        </span></a>
                    </li>

                </ul>
            </div>
        </div>
      

        <div class="overview-card  text-black mdl-card mdl-shadow--2dp  mdl-cell mdl-cell--3-col mdl-color--white">
            <h5 class="card-title mdl-color--indigo-300 mdl-color-text--white">Account
                <i class="fa fa-user pull-right" aria-hidden="true"></i></h5>
            <div class="card-content" >
                <ul class="demo-list-item mdl-list">
                    <li class="mdl-list__item">
                        <a href="http://localhost/projects/pream/accounts/"><span class="mdl-list__item-primary-content ">
                            Accounts
                        </span></a>

                    </li>
                    
                    

                </ul>
            </div>
        </div>

         

        <div class="overview-card  text-black mdl-card mdl-shadow--2dp  mdl-cell mdl-cell--3-col mdl-color--white">
            <h5 class="card-title mdl-color--blue-grey-300 mdl-color-text--white">User
                <i class="fa fa-users pull-right" aria-hidden="true"></i></h5>
            <div class="card-content" >
                <ul class="demo-list-item mdl-list">
                    <li class="mdl-list__item">
                        <a href="?route=admin/createAdmin"><span class="mdl-list__item-primary-content ">
                            Create User
                        </span></a>
                    </li>
                    <li class="mdl-list__item">
                        <a href="?route=admin/viewAdmin"><span class="mdl-list__item-primary-content ">
                            View User
                        </span></a>
                    </li>

                </ul>
            </div>
    </div>
    <div class="overview-card  text-black mdl-card mdl-shadow--2dp  mdl-cell mdl-cell--3-col mdl-color--white">
            <h5 class="card-title mdl-color--blue-300 mdl-color-text--white">Audit
                <i class="fa fa-calendar-check-o pull-right" aria-hidden="true"></i></h5>
            <div class="card-content" >
                <ul class="demo-list-item mdl-list">
                    <li class="mdl-list__item">
                        <a href="?route=audit/createAudit"><span class="mdl-list__item-primary-content ">
                            Create Audit
                        </span></a>
                    </li>
                    <li class="mdl-list__item">
                        <a href="?route=audit/viewAudit"><span class="mdl-list__item-primary-content ">
                            View Audit
                        </span></a>
                    </li>

                </ul>
            </div>
    </div>
    <div class="overview-card  text-black mdl-card mdl-shadow--2dp  mdl-cell mdl-cell--3-col mdl-color--white">
            <h5 class="card-title mdl-color--red-300 mdl-color-text--white">Setting
                <i class="fa fa-cogs pull-right" aria-hidden="true"></i></h5>
            <div class="card-content" >
                <ul class="demo-list-item mdl-list">
                    <li class="mdl-list__item">
                        <a href="?route=setting"><span class="mdl-list__item-primary-content ">
                           Setting
                        </span></a>
                    </li>
                    

                </ul>
            </div>
    </div>
    <div class="mdl-cell mdl-cell--6-col mdl-grid">
        <!--<div class="message-card mdl-card mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--12-col">
            <h4 class="card-title">
                <small class="pull-left">Sales Agent</small>
                <small class="pull-right">An hour ago</small>
                <br>Waylon Dalton
            </h4>
            <div class="card-content">
                <h6>Subject</h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium aliquid animi aspernatur
                    assumenda beatae blanditiis consequuntur cum distinctio dolore error expedita fugit, in incidunt
                    inventore itaque laudantium libero magnam minus molestias mollitia nisi omnis pariatur placeat quos
                    reprehenderit rerum saepe soluta suscipit, temporibus tenetur, ullam veniam vitae voluptate
                    voluptatum.....</p>
            </div>
            <div class="card-action">
                <button class="mdl-button mdl-js-button mdl-button--accent">
                    Read More
                </button>
            </div>
        </div>
        <div class="message-card mdl-card mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--12-col">
            <h4 class="card-title">
                <small class="pull-left">Sales Agent</small>
                <small class="pull-right">An hour ago</small>
                <br>Waylon Dalton
            </h4>
            <div class="card-content">
                <h6>Subject</h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium aliquid animi aspernatur
                    assumenda beatae blanditiis consequuntur cum distinctio dolore error expedita fugit, in incidunt
                    inventore itaque laudantium libero magnam minus molestias mollitia nisi omnis pariatur placeat quos
                    reprehenderit rerum saepe soluta suscipit, temporibus tenetur, ullam veniam vitae voluptate
                    voluptatum.....</p>
            </div>
            <div class="card-action">
                <button class="mdl-button mdl-js-button mdl-button--accent">
                    Read More
                </button>
            </div>
        </div>
        <div class="message-card mdl-card mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--12-col">
            <h4 class="card-title">
                <small class="pull-left">Sales Agent</small>
                <small class="pull-right">An hour ago</small>
                <br>Waylon Dalton
            </h4>
            <div class="card-content">
                <h6>Subject</h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium aliquid animi aspernatur
                    assumenda beatae blanditiis consequuntur cum distinctio dolore error expedita fugit, in incidunt
                    inventore itaque laudantium libero magnam minus molestias mollitia nisi omnis pariatur placeat quos
                    reprehenderit rerum saepe soluta suscipit, temporibus tenetur, ullam veniam vitae voluptate
                    voluptatum.....</p>
            </div>
            <div class="card-action">
                <button class="mdl-button mdl-js-button mdl-button--accent">
                    Read More
                </button>
            </div>
        </div>-->
    </div>

    <!-- <div class="mdl-cell mdl-cell--6-col mdl-grid">
        <div class="notification-card mdl-card mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--12-col">
            <h4 class="card-title">Notifications
                <small>All</small>
            </h4>
            <div class="notification-tile" style="border-left:3px solid #3F51B5">
                <h5 class="title"><span>Minimum Stock Alert</span>
                    <small class="pull-right">Just now</small>
                </h5>
                <div class="card-content">2 new notifcations.</div>
                <div class="notifications">
                    <ul class="demo-list-item mdl-list">
                        <li class="mdl-list__item">
                            <span class="mdl-list__item-primary-content">
                                Item Name - Vendor name
                            </span>
                            <span class="mdl-list__item-primary-content">
                                20
                            </span>
                        </li>
                        <li class="mdl-list__item">
                            <span class="mdl-list__item-primary-content">
                                Item Name - Vendor name
                            </span>
                            <span class="mdl-list__item-primary-content">
                                20
                            </span>
                        </li>
                    </ul>
                </div>
                <div class="action"><span></span>
                    <button class="mdl-button mdl-js-button mdl-button--icon pull-right tile-expand-btn">
                        <i class="material-icons">expand_more</i>
                    </button>
                </div>
            </div>
            <div class="notification-tile" style="border-left:3px solid #8BC34A">
                <h5 class="title"><span>Stock Update</span>
                    <small class="pull-right">2 Mins ago</small>
                </h5>
                <div class="card-content">2 new notifcations.</div>
                <div class="action"><span></span>
                    <button class="mdl-button mdl-js-button mdl-button--icon pull-right tile-expand-btn">
                        <i class="material-icons">expand_more</i>
                    </button>
                </div>
            </div>
            <div class="notification-tile" style="border-left:3px solid #FF9800">
                <h5 class="title"><span>Order Dispatch</span>
                    <small class="pull-right">An Hour ago</small>
                </h5>
                <div class="card-content">4 new notifcations.</div>
                <div class="action"><span></span>
                    <button class="mdl-button mdl-js-button mdl-button--icon pull-right tile-expand-btn">
                        <i class="material-icons">expand_more</i>
                    </button>
                </div>
            </div>
            <div class="notification-tile" style="border-left:3px solid #FF5722">
                <h5 class="title"><span>New Item Alert</span>
                    <small class="pull-right">1 Day ago</small>
                </h5>
                <div class="card-content">3 new notifcations.</div>
                <div class="action"><span></span>
                    <button class="mdl-button mdl-js-button mdl-button--icon pull-right tile-expand-btn">
                        <i class="material-icons">expand_more</i>
                    </button>
                </div>
            </div>
            <div class="notification-tile" style="border-left:3px solid #4CAF50">
                <h5 class="title"><span>Order Dispatch</span>
                    <small class="pull-right">1 Week ago</small>
                </h5>
                <div class="card-content">4 new notifcations.</div>
                <div class="action"><span></span>
                    <button class="mdl-button mdl-js-button mdl-button--icon pull-right tile-expand-btn">
                        <i class="material-icons">expand_more</i>
                    </button>
                </div>
            </div>
        </div> -->

    </div>
</div>

<script>

    $(".tile-expand-btn").click(function () {
        $(this).parent().parent().addClass("expand");
        $(this).parent().parent().children(".notifications").addClass("expand");
        $(this).parent().parent().children(".card-content").addClass("out");
    });
</script>



