


<div class=" center-margin col-xs-12 col-md-6">
    <form class="form-card  mdl-card  mdl-shadow--2dp col-xs-12" action="" method="post" enctype="multipart/form-data">
        <div class="form-header"><h4><?=$text_edit_title;?></h4>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="form-field col-xs-12  ">
                    <label class="col-md-4"><?=$text_username;?></label>
                    <div class="col-sm-8">
                        <div class="mdl-textfield mdl-js-textfield <?php if(isset($error_username)){echo 'is-invalid';}?>">
                            <input class="form-control" type="text" id="sample1" name="username" <?php if(isset($username)) echo 'value="'.$username.'"'; ?>>
                            <label class="mdl-textfield__label" for="sample1"></label>
                            <span class="mdl-textfield__error"><?php if(isset($error_username)){echo $error_username;}?></span>
                        </div>
                    </div>
                </div>

                <div class="form-field col-xs-12">
                    <label class="col-md-4"><?=$text_name;?></label>
                    <div class="col-sm-8">
                        <div class="mdl-textfield mdl-js-textfield <?php if(isset($error_name)){echo 'is-invalid';}?>">
                            <input class="form-control" type="text" id="sample1" name="name" <?php if(isset($name)) echo 'value="'.$name.'"'; ?>>
                            <label class="mdl-textfield__label" for="sample1"></label>
                            <span class="mdl-textfield__error"><?php if(isset($error_name)){echo $error_name;}?></span>
                        </div>
                    </div>
                </div>

                <!--<div class="form-field col-xs-12  ">
                    <label class="col-md-4"><?=$text_last_name;?></label>
                    <div class="col-sm-8">
                        <div class="mdl-textfield mdl-js-textfield <?php if(isset($error_last_name)){echo 'is-invalid';}?>">
                            <input class="form-control" type="text" id="sample1" name="last_name" <?php if(isset($last_name)) echo 'value="'.$last_name.'"'; ?>>
                            <label class="mdl-textfield__label" for="sample1"></label>
                            <span class="mdl-textfield__error"><?=$text_field_required;?></span>
                        </div>
                    </div>
                </div>-->

                <div class="form-field col-xs-12  ">
                    <label class="col-md-4"><?=$text_email;?></label>
                    <div class="col-sm-8">
                        <div class="mdl-textfield mdl-js-textfield <?php if(isset($error_email)){echo 'is-invalid';}?>">
                            <input class="form-control" type="text" id="sample1" name="email" <?php if(isset($email)) echo 'value="'.$email.'"'; ?>>
                            <label class="mdl-textfield__label" for="sample1"></label>
                            <span class="mdl-textfield__error"><?php if(isset($error_email)){echo $error_email;}?></span>
                        </div>
                    </div>
                </div>

                <!--<div class="form-field col-xs-12  ">
                    <label class="col-md-4"><?=$text_password;?></label>
                    <div class="col-sm-8">
                        <div class="mdl-textfield mdl-js-textfield <?php if(isset($error_password)){echo 'is-invalid';}?>">
                            <input class="form-control" type="text" id="sample1" name="password" <?php if(isset($password)) echo 'value="'.$password.'"'; ?>>
                            <label class="mdl-textfield__label" for="sample1"></label>
                            <span class="mdl-textfield__error"><?=$text_field_required;?></span>
                        </div>
                    </div>
                </div>-->

                <div class="form-field col-xs-12  ">
                    <label class="col-md-4"><?=$text_address;?></label>
                    <div class="col-sm-8">
                        <div class="mdl-textfield mdl-js-textfield <?php if(isset($error_address)){echo 'is-invalid';}?>">
                            <input class="form-control" type="text" id="sample1" name="address" <?php if(isset($address)) echo 'value="'.$address.'"'; ?>>
                            <label class="mdl-textfield__label" for="sample1"></label>
                            <span class="mdl-textfield__error"><?php if(isset($error_address)){echo $error_address;}?></span>
                        </div>
                    </div>
                </div>

                <div class="form-field col-xs-12  ">
                    <label class="col-md-4"><?=$text_phone;?></label>
                    <div class="col-sm-8">
                        <div class="mdl-textfield mdl-js-textfield <?php if(isset($error_phone)){echo 'is-invalid';}?>">
                            <input class="form-control" type="text" id="sample1" name="phone" <?php if(isset($phone)) echo 'value="'.$phone.'"'; ?>>
                            <label class="mdl-textfield__label" for="sample1"></label>
                            <span class="mdl-textfield__error"><?php if(isset($error_phone)){echo $error_phone;}?></span>
                        </div>
                    </div>
                </div>

                <!-- <div class="form-field col-xs-12">
                    <label class="col-md-4"><?= $text_add_profile; ?></label>
                    <div class="col-xs-12 col-sm-8">
                        <div class="mdl-textfield mdl-js-textfield <?php if(isset($error_image)){echo 'is-invalid';}?>">
                            <input class="form-control" type="file" id="image" name="image" <?php if(isset($image)) echo 'value="'.$image.'"'; ?>>
                            <label class="mdl-textfield__label" for="image"></label>
                             <span class="mdl-textfield__error"><?php if(isset($error_image)){echo $error_image;}?></span>
                        </div>
                    </div>
                </div>

                <div class="form-field col-xs-12">
                    <label class="col-md-4"><?= $text_add_identification; ?></label>
                    <div class="col-xs-12 col-sm-8">
                        <div class="mdl-textfield mdl-js-textfield <?php if(isset($error_identification)){echo 'is-invalid';}?>">
                            <input class="form-control" type="file" id="identification" name="identification" <?php if(isset($identification)) echo 'value="'.$identification.'"'; ?>>
                            <label class="mdl-textfield__label" for="identification"></label>
                             <span class="mdl-textfield__error"><?php if(isset($error_identification)){echo $error_identification;}?></span>
                        </div>
                    </div>
                </div> -->

            </div>
        </div>
        <div class="mdl-card__actions mdl-card--border">

            <button type="submit" id="create-btn" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent pull-right">
             <?=$text_update;?>
            </button>
            <button type="reset" class="mdl-button mdl-js-button mdl-button--primary pull-right">
            <?=$text_reset;?>
            </button>
        </div>
    </form>
</div>

<script type="text/javascript">
    
    $("#create-btn").click(function(){
        var hasError = false;

        if($("#erer").val() == ""){
            hasError = true;
        }

        return !hasError ;

    });



</script>
