


<div class=" center-margin col-xs-12 col-md-6">
    <form class="form-card  mdl-card  mdl-shadow--2dp col-xs-12" action="" method="post" enctype="multipart/form-data">
        <div class="form-header"><h4><?=$text_title_edit;?></h4>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="form-field col-xs-12">
                    <label class="col-xs-12 col-md-4"><?=$text_set_date;?></label>
                    <div class="col-xs-12 col-sm-8">
                        <div class="mdl-textfield mdl-js-textfield <?php if(isset($error_audit_date)){echo 'is-invalid';}?>">
                            <input class="form-control" type="date" id="sample2" name="audit_date" <?php if(isset($audit_date)) echo 'value="'.$audit_date.'"'; ?>>
                            <label class="mdl-textfield__label" for="sample2"></label>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <div class="mdl-card__actions mdl-card--border">

            <button type="submit" id="create-btn" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent pull-right">
             <?=$text_update;?>
            </button>
            <button type="reset" class="mdl-button mdl-js-button mdl-button--primary pull-right">
            <?=$text_reset;?>
            </button>
        </div>
    </form>
</div>

<script type="text/javascript">
    
    $("#create-btn").click(function(){
        var hasError = false;

        if($("#erer").val() == ""){
            hasError = true;
        }

        return !hasError ;

    });



</script>
