

    <?php if(count($notifications) > 0){ ?>
            <?php
                foreach($notifications as $notification):
            ?>
                    <li class="mdl-menu__item ">
                        <a href="?route=notifications/index"><div class="menu-item-wrapper">
                                <span class="notification-text-h"><?php echo strtoupper(str_replace("_", " ", $notification['activity_type'])); ?></span>
                                <span class="pull-right notification-time"><?php $date = new DateTime($notification['created_on']); echo $date->format("d, M, Y"); ?></span>
                                <div><span class="">#<?php echo $notification['activity_object'] ?></span></div>
                            </div></a>
                    </li>
            <?php endforeach; ?>

            <?php 
                if(count($notifications) == 3): ?>
                    <li class="mdl-menu__item last">
                        <div class="menu-item-wrapper">
                            <a href="?route=notifications/index"><span class="notification-text">Show All</span></a>
                        </div>
                    </li>
            <?php endif; ?>
    <?php } else { ?>
    <li class="mdl-menu__item" style="border-bottom: none; text-align: center; padding-top:20px; font-weight: bold;">
                        <div class="menu-item-wrapper">
                            <span class="notification-text">No new notifications</span>
                        </div>
                    </li>
                    <?php } ?>
    <div class="clearfix"></div>
