<div class="center-margin col-xs-12  ">
    <div class="table-card mdl-card col-xs-12">
        <div class="table-header">
            <h4 style="border-bottom: none;"><?=$setting_title;?></h4>

            <form action="" class=" col-xs-12" method="post">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#store">Store</a></li>
                    <li><a data-toggle="tab" href="#mail">Mail</a></li>
                </ul>
                <div class="tab-content">
                    <div id="store" class="tab-pane fade in active">
                            <div class="form-field col-xs-12 col-sm-6 center-margin <?php if(isset($error_site_title)){echo 'has-error';}?>">
                            <label class="col-md-4">Site Title</label>
                            <div class="col-sm-8 input-group ">
                                <input class="form-control" type="text"  name="site_title" value="<?= $settings['site_title']; ?>" required>
                                <span class="mdl-textfield__error"><?php echo (isset($error_site_title)) ? $error_site_title : ""; ?></span>
                            </div>
                        </div>
                        <div class="form-field col-xs-12 col-sm-6 center-margin <?php if(isset($error_tax)){echo 'has-error';}?>">
                            <label class="col-md-4">Default Tax</label>
                            <div class="col-sm-3  input-group ">
                                <input class="form-control" type="number" size="3" name="tax" value="<?= $settings['tax']; ?>" max="99" min="0"><span class="input-group-addon">%</span>
                                <span class="mdl-textfield__error"><?php echo (isset($error_tax)) ? $error_tax : ""; ?></span>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-field col-xs-12 col-sm-6 center-margin <?php if(isset($error_item_margin)){echo 'has-error';}?>">
                            <label class="col-md-4">Item Margin</label>
                            <div class="col-sm-3  input-group ">
                                <input class="form-control" type="number" size="3" name="item_margin" value="<?= $settings['item_margin']; ?>" max="99" min="0"><span class="input-group-addon">%</span>
                                <span class="mdl-textfield__error"><?php echo (isset($error_item_margin)) ? $error_margin : ""; ?></span>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-field col-xs-12 col-sm-6 center-margin">
                            <label class="col-md-4">Audit Day</label>
                            <div class="col-sm-8 input-group no-padding <?php if(isset($error_audit_date)){echo 'is-invalid';}?>">
                                <select name="audit_date" class="selectize">
                                    <option value="0">Day of the Month</option>
                                    <?php
                                        for($i=1;$i<31;$i++):

                                        if(strlen($i) < 2) $i = "0".$i;
                                     ?>
                                        <option value="<?=$i?>" <?php if($i == $settings['audit_date']) echo "selected='selected'"; ?>)><?=$i?></option>
                                     <?php endfor; ?>
                                </select><span class="input-group-addon">of every month</span>
                                <span class="mdl-textfield__error"><?php echo (isset($error_audit_date)) ? $error_audit_date : ""; ?></span>
                            </div>
                        </div>
                        <div class="form-field col-xs-12 col-sm-6 center-margin">
                            <label class="col-md-4">Default Language</label>
                            <div class="col-xs-12 col-sm-8 input-group no-padding <?php if(isset($error_default_language)){echo 'is-invalid';}?>">
                                <select name="default_language" class="selectize">
                                    <?php if($settings['default_language'] == "fr"): ?>
                                    <option value="fr" selected>French</option>
                                    <option value="en" >English</option>
                                <?php else : ?>
                                    <option value="fr" >French</option>
                                    <option value="en" selected>English</option>
                                <?php endif;?>
                                </select>
                                <span class="mdl-textfield__error"><?php echo (isset($error_default_language)) ? $error_default_language : ""; ?></span>
                            </div>
                        </div>

                        <div class="form-field col-xs-12 col-sm-6 center-margin <?php if(isset($error_tax)){echo 'has-error';}?>">
                            <label class="col-md-4">Store Address</label>
                            <div class="col-sm-8 input-group ">
                                <input class="form-control" type="text"  name="store_address" value="<?= $settings['store_address']; ?>" required>
                                <span class="mdl-textfield__error"><?php echo (isset($error_store_address)) ? $error_store_address : ""; ?></span>
                            </div>
                        </div>


                    </div>

                    <div id="mail" class="tab-pane fade">
                        
                
                        <div class="form-field col-xs-12 col-sm-6 center-margin <?php if(isset($error_tax)){echo 'has-error';}?>">
                            <label class="col-md-4">SMTP Host</label>
                            <div class="col-sm-8 input-group ">
                                <input class="form-control" type="text"  name="smtp_host" value="<?= $settings['smtp_host']; ?>" required>
                                <span class="mdl-textfield__error"><?php echo (isset($error_smtp_host)) ? $error_smtp_host : ""; ?></span>
                            </div>
                        </div>
                        <div class="form-field col-xs-12 col-sm-6 center-margin <?php if(isset($error_tax)){echo 'has-error';}?>">
                            <label class="col-md-4">SMTP Port</label>
                            <div class="col-sm-8 input-group ">
                                <input class="form-control" type="text"  name="smtp_port" value="<?= $settings['smtp_port']; ?>" required>
                                <span class="mdl-textfield__error"><?php echo (isset($error_smtp_port)) ? $error_smtp_port : ""; ?></span>
                            </div>
                        </div>

                        
                        <div class="form-field col-xs-12 col-sm-6 center-margin <?php if(isset($error_tax)){echo 'has-error';}?>">
                            <label class="col-md-4">SMTP Username</label>
                            <div class="col-sm-8  input-group ">
                                <input class="form-control" type="text"  name="smtp_username" value="<?= $settings['smtp_username']; ?>" required>
                                <span class="mdl-textfield__error"><?php echo (isset($error_smtp_username)) ? $error_smtp_username : ""; ?></span>
                            </div>
                        </div>

                        <div class="form-field col-xs-12 col-sm-6 center-margin <?php if(isset($error_tax)){echo 'has-error';}?>">
                            <label class="col-md-4">SMTP Password</label>
                            <div class="col-sm-8  input-group ">
                                <input class="form-control" type="password"  name="smtp_password" value="<?= $settings['smtp_password']; ?>" required>
                                <span class="mdl-textfield__error"><?php echo (isset($error_smtp_password)) ? $error_smtp_password : ""; ?></span>
                            </div>
                        </div>

                        <div class="form-field col-xs-12 col-sm-6 center-margin <?php if(isset($error_tax)){echo 'has-error';}?>">
                            <label class="col-md-4">Sender Title</label>
                            <div class="col-sm-8  input-group ">
                                <input class="form-control" type="text"   name="sender_title" value="<?= $settings['sender_title']; ?>" required>
                                <span class="mdl-textfield__error"><?php echo (isset($error_sender_title)) ? $error_sender_title : ""; ?></span>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>

                <div class="mdl-card__actions padd-it text-center">

                    <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--primary">
                        Update
                    </button>
                </div>
            </form>
        </div>
       
    </div>
</div>

