<div class="center-margin col-xs-12">
    <div class="table-card mdl-card  mdl-shadow--2dp col-xs-12">
        <div class="table-header">
            <h4><?=$text_title;?></h4>

            
        </div>
        <div id="t_wrap">
        <table class="mdl-data-table mdl-js-data-table  md-table col-xs-12 expandable" id="table">
            <thead>
            <tr>
                <th class="mdl-data-table__cell--non-numeric"><?=$text_sk;?></th>
                <th class="mdl-data-table__cell--non-numeric"><?=$text_name;?></th>
                <th class="mdl-data-table__cell--non-numeric"><?=$text_phone;?></th>
                <th class="mdl-data-table__cell--non-numeric"><?=$text_email;?></th>
                <th class="mdl-data-table__cell--non-numeric"><?=$text_password;?></th>
                <th class="mdl-data-table__cell--non-numeric"><?=$text_address;?></th>
                <!-- <th class="mdl-data-table__cell--non-numeric"><?=$text_approval_status;?></th> -->
                <th class="mdl-data-table__cell--non-numeric"><?=$text_action;?></th>
            </tr>
            </thead>
            <tbody id="t_storekeeper_list">
                <?php foreach ($storekeepers as $storekeeper) { ?>
            <tr class="parent-row" id="<?=$storekeeper['employee_id']?>">
                <td class="mdl-data-table__cell--non-numeric"><?php echo $storekeeper["employee_id"]; ?></td>
                <td class="mdl-data-table__cell--non-numeric"><?php echo $storekeeper ["name"] ; ?></td>
                <td class="mdl-data-table__cell--non-numeric"><?php echo $storekeeper["phone"]; ?></td>
                <td class="mdl-data-table__cell--non-numeric"><?php echo $storekeeper["email_id"]; ?></td>
                <td class="mdl-data-table__cell--non-numeric"><?php echo $storekeeper["password"]; ?></td>
                <td class="mdl-data-table__cell--non-numeric"><?php echo $storekeeper["address"]; ?></td>
                <!-- <td class="mdl-data-table__cell--non-numeric"><?= $approval_status[$storekeeper['approval_status']]?></td> -->
                <td class="mdl-data-table__cell--non-numeric _buttons">
                   <button type='button' class='open-attach-btn image mdl-button mdl-js-button mdl-button--icon mdl-button--colored'>
                        <i class="material-icons" data-toggle="tooltip" data-placement="bottom" title="Picture">collections</i>
                    </button>
                    <button type='button' class='open-attach-btn identification mdl-button mdl-js-button mdl-button--icon mdl-button--accent'>
                        <i class='material-icons' data-toggle="tooltip" data-placement="bottom" title="Specs">picture_as_pdf</i>
                    </button>
                    <a href="?route=storekeeper/editStorekeeper&employee_id=<?= $storekeeper['employee_id']; ?>">
                        <button id="tt2" class="mdl-button mdl-js-button mdl-button--icon">
                            <i class="material-icons">edit</i>
                        </button>
                    </a>
                    <div class="mdl-tooltip mdl-tooltip--large" for="tt2">
                        <?=$text_edit;?>
                    </div>
                    <button type='button' class='open-attach-btn edit mdl-button mdl-js-button mdl-button--icon mdl-button--accent delete-button' id="close-btn" onclick="confirmDeletion(this);">
                            <i class="material-icons">delete</i>
                    </button>
                    <div class="mdl-tooltip mdl-tooltip--large" for="btn-ap-2"><?=$text_delete;?></div>

                </td>
            </tr>
            <?php } ?>
            <tr><td colspan="7">
                    <?php echo $pagination; ?>
                </td></tr>
            </tbody>
        </table>
    </div>
    </div>
</div>

<div id="modal-view" hidden>
    <div class="view-title"><?=$text_item_detail;?></div>
    <div class="view-body">

        <div class="form-content">
            <div>
                <h4 class="pull-left mdl-button--primary"><small>Reference</small> <br> <span id="item_id_m"></span></h4>
                
            </div>
            <div class="clearfix"></div>
            <img id="item_image" src="">
            <a href="" id="item_reference"></a>

        </div>
    </div>
</div>


<script>

    function confirmDeletion(e) {
        $("#modalConfirm .modal-title").html("Confirm Deletion");
        var id = $(e).parent().parent().attr("id");
        $("#modalConfirm .modal-body p").html("Are you sure you want to delete the storekeeper # "+id+"?");
         $("#modalConfirm").modal("show");
         $(".btn-danger").click(function(){
            $.ajax({
            
                url : '?route=storekeeper/deleteStorekeeper&employee_id='+id,
                type : 'GET',
                dataType : 'text',
                beforeSend: function(){$(".mdl-progress").show();},
                complete: function(){$(".mdl-progress").hide();},
                success: function(){
                     $('#t_wrap').load(document.URL +  ' #t_wrap');
                     showSnackbar("Storekeeper has been Deleted");
                }
            })
         });
        //this.
    };

   function openAttachment() {
        var id = $(this).parent().parent().attr("id");
        var button = $(this);
        $.ajax({
            url : '?route=storekeeper/getStorekeeperDetails&employee_id='+id,
            type : 'GET',
            dataType : 'json',
            success: function(returnData){
                data = returnData.store_details;
                console.log(data);
                if(button.hasClass("identification")){
                    if(data.identification == 0){
                        showSnackbar("No image uploaded");
                    }else{

                        window.open(data.identification, '_blank');
                    }
                }

                if(button.hasClass("image")){
                    if(data.image == 0){
                        showSnackbar("No image uploaded");
                    }else{

                        $("#modal-view > .view-title").html();
                        $("#item_id_m").html(data.reference);
                        $("#item_image").attr("src",data.image);
                        //$("#item_reference").attr("href",data.reference);
                        MDialog.start({},"table",this,$("#modal-view"));
                    }
                }


                
            }
        });
    };

    $(".open-attach-btn").click(openAttachment);

    $(document).ready(function(){
    $("#close-btn").click(function(){
        $("$this").remove();
        // $(".open-attach-btn").click(openAttachment);
    });
});
    </script>