

<div class="center-margin col-xs-12  ">
	<div class="table-card mdl-card  mdl-shadow--2dp col-xs-12">
		<div class="table-header">
			<h4><?=$text_title;?>
				<button class="mdl-button mdl-js-button mdl-button--icon pull-right">
					<i class="material-icons">refresh</i>
				</button>
			</h4>

			<select name="vendor_name" class="field selectize-filter">
				<option value="">Search</option>
			</select>
		</div>
		<table class="mdl-data-table mdl-js-data-table col-xs-12 expandable">
			<thead>
				<tr>
					<th class="mdl-data-table__cell--non-numeric"><?=$text_category;?></th>
					<th class="mdl-data-table__cell--non-numeric"><?=$text_item_name;?></th>
					<th class="mdl-data-table__cell--non-numeric"><?=$text_vendor_name;?></th>
					<th class="mdl-data-table__cell--non-numeric"><?=$text_brand_name;?></th>
					<th class="mdl-data-table__cell--non-numeric"><?=$text_item_request_type;?></th>
					<th class="mdl-data-table__cell--non-numeric"><?=$text_item_approval;?></th>
				</tr>
			</thead>
			<tbody>
				<tr class="parent-row" id="row-1">
					<td class="mdl-data-table__cell--non-numeric clickable">simran</td>
					<td class="mdl-data-table__cell--non-numeric clickable">s@gmail.com</td>
					<td class="mdl-data-table__cell--non-numeric clickable">894582426</td>
					<td class="mdl-data-table__cell--non-numeric clickable">amritsar</td>
					<td class="mdl-data-table__cell--non-numeric clickable">amritsar</td>
					<td class="mdl-data-table__cell--non-numeric clickable">Approved</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div id="modal-view" hidden>
	<div class="view-title">
		Stock
	</div>
	<div class="view-body">
		<h5>Stock# - 2</h5>
		<div class="form-content">
			<table class=" col-xs-12 col-md-6 details">
				<tbody>
					<tr>
						<td class="mdl-data-table__cell--non-numeric"><?=$text_buy_rate;?></td>
						<td class="mdl-data-table__cell--non-numeric">555</td>
					</tr>
					<tr>
						<td class="mdl-data-table__cell--non-numeric"><?=$text_sell_rate;?></td>
						<td class="mdl-data-table__cell--non-numeric">555</td>
					</tr>
					<tr>
						<td class="mdl-data-table__cell--non-numeric"><?=$text_packing;?></td>
						<td class="mdl-data-table__cell--non-numeric">packed</td>
					</tr>
					<tr>
						<td class="mdl-data-table__cell--non-numeric"><?=$text_reference;?></td>
						<td class="mdl-data-table__cell--non-numeric">ref#</td>
					</tr>
					<tr>
						<td class="mdl-data-table__cell--non-numeric"><?=$text_item_area;?></td>
						<td class="mdl-data-table__cell--non-numeric">area</td>
					</tr>
					<tr>
						<td class="mdl-data-table__cell--non-numeric"><?=$text_item_raisedby;?></td>
						<td class="mdl-data-table__cell--non-numeric">mac</td>
					</tr>
					<tr>
						<td class="mdl-data-table__cell--non-numeric"><?=$text_item_status;?></td>
						<td class="mdl-data-table__cell--non-numeric">mac</td>
					</tr>
					<tr>
						
						
						<td> <button id="btn-ap-2" class="mdl-button mdl-js-button 	
							mdl-button--icon ">
								<i class="material-icons">photo</i>
							</button>
							<div class="mdl-tooltip mdl-tooltip--large" for="btn-ap-2"><?=$text_add_image;?></div>
							<button id="btn-ap-1" class="mdl-button mdl-js-button mdl-button--icon ">
								<i class="material-icons">picture_as_pdf</i>
							</button>
							<div class="mdl-tooltip mdl-tooltip--large" for="btn-ap-1"><?=$text_add_pdf;?></div> 
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<script>

	$("tr > .clickable").click(function () {
		MDialog.start({},"detail",this,$("#modal-view"));
	});


</script>