
<div class="center-margin col-xs-12">
    <div class="table-card mdl-card  mdl-shadow--2dp col-xs-12">
        <div class="table-header">
            <h4><?=$text_vendor;?>
                <!-- <button class="mdl-button mdl-js-button mdl-button--icon pull-right">
                    <i class="material-icons">refresh</i>
                </button> -->
            </h4>

            <!-- <select name="vendor_name" class="field selectize-filter">
                <option value=""><?=$text_search;?></option>
            </select> -->
        </div>
        <table class="mdl-data-table mdl-js-data-table md-table col-xs-12 expandable">
            <thead>
                <tr>
                    <th class="mdl-data-table__cell--non-numeric"><?=$text_vendor_id;?></th>
                    <th class="mdl-data-table__cell--non-numeric"><?=$text_vendor_name;?></th>
                    <th class="mdl-data-table__cell--non-numeric"><?=$text_vendor_email;?></th>
                    <th class="mdl-data-table__cell--non-numeric"><?=$text_vendor_contact;?></th>
                    <th class="mdl-data-table__cell--non-numeric"><?=$text_vendor_address;?></th>
                    <th class="mdl-data-table__cell--non-numeric"><?=$text_action;?></th>
                </tr>
            </thead>
            <tbody>
                <?php
         
                    foreach ($vendors as $vendor){  ?>
                    <tr id="<?= $vendor['vendor_id']?>">
                        <td class="mdl-data-table__cell--non-numeric clickable"><?= $vendor['vendor_id']?></td>
                        <td class="mdl-data-table__cell--non-numeric clickable"><?= $vendor['name']?></td>
                        <td class="mdl-data-table__cell--non-numeric clickable"><?= $vendor['email_id']?></td>
                        <td class="mdl-data-table__cell--non-numeric clickable"><?= $vendor['phone']?></td>
                        <td class="mdl-data-table__cell--non-numeric clickable"><?= $vendor['address']?></td>
                        <td class="mdl-data-table__cell--non-numeric">
                            <button id="btn-ap-2" class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored" onclick="getDetails(this);">
                                <i class="material-icons">info</i>
                            </button>
                            <div class="mdl-tooltip mdl-tooltip--large" for="btn-ap-2"><?=$text_details;?></div>
                        </td>
                    </tr>
                <?php }?>
            </tbody>
            <?php if($pagination !== ""): ?>
            <tfoot>
                <tr>
                    <td colspan="7"><?php echo $pagination; ?></td>
                </tr>
            </tfoot> 
            <?php endif; ?>
        </table>
    </div>
</div>
<div id="modal-view" hidden>
    <div class="view-title">
     <?=$text_vendor_details;?>
 </div>
 <div class="view-body">
    <div class="form-content">
        <div>
           <h4 class="pull-left mdl-button--primary"><small><?=$text_vendor_id_m;?></small> <br><span class="vendor_id"></span></h4>
       </div>
       <div class="clearfix"></div>
           <table class=" col-xs-12 col-md-6 details">
            <tbody>
                
                <tr>
                    <td class="col-xs-6 head"><?=$text_vendor_name;?></td>
                    <td class="vendor_name"></td>
                </tr>
                 <tr>
                    <td class="col-xs-6 head"><?=$text_vendor_email;?></td>
                    <td class="vendor_email"></td>
                </tr>
            </tbody>
        </table>
        <table class=" col-xs-12 col-md-6 details">
            <tbody>
                <tr>
                    <td class="col-xs-6 head"><?=$text_vendor_address;?></td>
                    <td class="vendor_address"></td>
                </tr>
                <tr>
                    <td class="col-xs-6 head"><?=$text_vendor_contact;?></td>
                    <td class="vendor_contact"></td>
                </tr>
                

            </tbody>
        </table>
        
        <div class="clearfix"></div>
        <div class="col-xs-12 col-md-6 details">
            <div class="table-header">
                <h4><?=$text_return_order;?></h4>
            </div>
            <table class="mdl-data-table mdl-js-data-table  md-table col-xs-12 ">
                <thead>
                    <tr>
                        <th class="mdl-data-table__cell--non-numeric"><?=$text_return_number;?></th>
                        <th  class="mdl-data-table__cell--non-numeric"><?=$text_return_date;?></th>
                        <th  class="mdl-data-table__cell--non-numeric"><?=$text_action;?></th>
                        <!-- <th  class="mdl-data-table__cell--non-numeric"><?=$text_vendor_name;?></th>
                        <th  class="mdl-data-table__cell--non-numeric"><?=$text_address;?></th>
                        <th  class="mdl-data-table__cell--non-numeric"><?=$text_raised_by;?></th> -->
                    </tr>
                </thead>
                <tbody id="return_order"></tbody>
            </table>
        </div>

        <div hidden>
            <table class="mdl-data-table mdl-js-data-table  md-table col-xs-12 ">
                <tbody id = "return-order-node">
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric _return_number"></td>
                        <td class="mdl-data-table__cell--non-numeric _return_date"></td>
                        <td class="mdl-data-table__cell--non-numeric">
                            <button id="btn-ap-2" class="mdl-button mdl-js-button mdl-button--icon 
                            mdl-button--colored" onclick="getDetails(this);">
                                <i class="material-icons">info</i>
                            </button>
                            <div class="mdl-tooltip mdl-tooltip--large" for="btn-ap-2"><?=$text_details;?></div>
                        </td>
                      <!-- <td class="mdl-data-table__cell--non-numeric _vendor_name"></td>
                      <td class="mdl-data-table__cell--non-numeric _delivery_address"></td>
                      <td class="mdl-data-table__cell--non-numeric _raised_by"></td> -->
                    </tr>
                </tbody>
            </table>
        </div>

     <div class="col-xs-12 col-md-6 details">
         <div class="table-header">
                        <h4><?=$text_purchase_order;?></h4>
                    </div>
       <table class="mdl-data-table mdl-js-data-table  md-table col-xs-12 ">
            <thead>
                <tr>
                     <th class="mdl-data-table__cell--non-numeric"><?=$text_order_number;?></th>
                     <th  class="mdl-data-table__cell--non-numeric"><?=$text_order_date;?></th>
                     <th  class="mdl-data-table__cell--non-numeric"><?=$text_action;?></th>
                     <!-- <th  class="mdl-data-table__cell--non-numeric"><?=$text_vendor_name;?></th>
                     <th  class="mdl-data-table__cell--non-numeric"><?=$text_delivery_address;?></th>
                     <th  class="mdl-data-table__cell--non-numeric"><?=$text_raised_by;?></th> -->
                </tr>
         </thead>
            <tbody id="purchase_order"></tbody>
        </table>
    </div>
    </div>
</div>

</div>
<div hidden>
    <table class="mdl-data-table mdl-js-data-table  md-table col-xs-12 ">
        <tbody id = "purchase-order-node">
            <tr>
                <td class="mdl-data-table__cell--non-numeric _order_number">1</td>
                <td class="mdl-data-table__cell--non-numeric _order_date">2/12/2017</td>
                <td class="mdl-data-table__cell--non-numeric">
                    <button id="btn-ap-2" class="mdl-button mdl-js-button mdl-button--icon 
                    mdl-button--colored" onclick="getDetails(this);">
                        <i class="material-icons">info</i>
                    </button>
                    <div class="mdl-tooltip mdl-tooltip--large" for="btn-ap-2"><?=$text_details;?></div>
                </td>
              <!-- <td class="mdl-data-table__cell--non-numeric _vendor_name">mac</td>
              <td class="mdl-data-table__cell--non-numeric _delivery_address">address</td>
              <td class="mdl-data-table__cell--non-numeric _raised_by">someone</td> -->
            </tr>
        </tbody>
    </table>
</div>



<script>

     function getDetails(e) {
        var id = $(e).parent().parent().attr("id");
        $.ajax({
            url: '?route=purchaseOrder/getVendorDetails&vendor_id=' + id,
            type: 'GET',
            dataType: 'json',
            success: function (returnData) {
               var purchaseOrder = returnData.purchase_order;
               var returnOrder = returnData.return_order;
                //var raisedBy = returnData.raised_by;
                var vendorDetails = returnData.vendor_details;
                $("span.vendor_id").html(vendorDetails.vendor_id);
                $("td.vendor_name").html(vendorDetails.name);
                $("td.vendor_email").html(vendorDetails.email_id);
                $("td.vendor_address").html(vendorDetails.address);
                $("td.vendor_contact").html(vendorDetails.phone);

                for(var i = 0; i < returnOrder.length; i++){
                    var rowNode = $("#return-order-node").children().clone();
                    rowNode.children("._return_number").html(returnOrder[i].order_id);
                    rowNode.children("._return_date").html(returnOrder[i].order_date);
                    rowNode.children("._vendor_name").html(returnOrder[i].name);
                    rowNode.children("._delivery_address").html(returnOrder[i].delivery_address);
                    rowNode.children("._raised_by").html(returnOrder[i].raised_by);
                    $("#return_order").append(rowNode);
                }
                for(var i = 0; i < purchaseOrder.length; i++){
                    var rowNode = $("#purchase-order-node").children().clone();
                    rowNode.children("._order_number").html(purchaseOrder[i].order_id);
                    rowNode.children("._order_date").html(purchaseOrder[i].order_date);
                    rowNode.children("._client_name").html(purchaseOrder[i].name);
                    rowNode.children("._delivery_address").html(purchaseOrder[i].delivery_address);
                    rowNode.children("._raised_by").html(purchaseOrder[i].raised_by);
                    $("#purchase_order").append(rowNode);
                }
                MDialog.start({},"detail",this,$("#modal-view"));
            }
        });
    }
     $(".approve-button").click(function () {
        showSnackbar("Changes Approved");
        //this.
    });
    $(".disapprove-button").click(function () {
        showSnackbar("Changes Disapproved");
        //this.
    });


    $(".alert-button").click(function () {
        MDialog.start({},"detail",this,$("#modal-view2"));
    });

</script>