
<div class="center-margin col-xs-12">
  <div class="table-card mdl-card  mdl-shadow--2dp col-xs-12">
    <div class="table-header">
      <h4><?=$text_title_client;?>
        <!-- <button class="mdl-button mdl-js-button mdl-button--icon pull-right">
          <i class="material-icons">refresh</i>
        </button> -->
      </h4>

      <!-- <select name="vendor_name" class="field selectize-filter">
        <option value=""><?=$text_search;?></option>
      </select> -->
    </div>
    <table class="mdl-data-table mdl-js-data-table col-xs-12 expandable">
      <thead>
        <tr>
          <th class="mdl-data-table__cell--non-numeric"><?=$text_client_id;?></th>
          <th class="mdl-data-table__cell--non-numeric"><?=$text_client_name;?></th>
          <th class="mdl-data-table__cell--non-numeric"><?=$text_client_email;?></th>
          <th class="mdl-data-table__cell--non-numeric"><?=$text_client_contact;?></th>
          <th class="mdl-data-table__cell--non-numeric"><?=$text_client_address;?></th>
          <th class="mdl-data-table__cell--non-numeric"><?=$text_action;?></th>
        </tr>
      </thead>
      <tbody>
        <?php
         
          foreach ($clients as $client){  ?>
        <tr id="<?= $client['client_id']?>">
          <td class="mdl-data-table__cell--non-numeric clickable"><?= $client['client_id']?></td>
          <td class="mdl-data-table__cell--non-numeric clickable"><?= $client['name']?></td>
          <td class="mdl-data-table__cell--non-numeric clickable"><?= $client['email_id']?></td>
          <td class="mdl-data-table__cell--non-numeric clickable"><?= $client['phone']?></td>
          <td class="mdl-data-table__cell--non-numeric clickable"><?= $client['address']?></td>
          <td class="mdl-data-table__cell--non-numeric">
            <button id="btn-ap-2" class="mdl-button mdl-js-button mdl-button--icon 
              mdl-button--colored" onclick="getDetails(this);">
              <i class="material-icons">info</i>
            </button><!-- 
            <div class="mdl-tooltip mdl-tooltip--large" for="btn-ap-2"><?=$text_details;?></div> -->
          </td>
        </tr>
        <?php }?>
      </tbody>
      <?php if($pagination !== ""): ?>
        <tfoot>
          <tr>
            <td colspan="7"><?php echo $pagination; ?></td>
          </tr>
        </tfoot> 
        <?php endif; ?>
    </table>
  </div>
</div>
<button id="fab" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored floating-action-button">
  <i class="material-icons">add</i>
</button>
<div class="mdl-tooltip" for="fab">
  Create new <br>
  Sales order
</div>

<div id="modal-view" hidden>
  <div class="view-title">
    <?=$text_client_details;?>
  </div>
  <div class="view-body">
    <div class="form-content">
      <div>
        <h4 class="pull-left mdl-button--primary"><small><?=$text_client_id_m;?></small> <br><span class="client_id"></span></h4>
      </div>
      <div class="clearfix"></div>
      <table class=" col-xs-12 col-md-6 details">
        <tbody>
          <tr>
            <td class="col-xs-6 head"><?=$text_client_name;?></td>
            <td class="_client_name">Some Name</td>
          </tr>
          <tr>
            <td class="col-xs-6 head"><?=$text_client_email;?></td>
            <td class="_client_email">Some Name</td>
          </tr>
        </tbody>
      </table>
      <table class=" col-xs-12 col-md-6 details">
        <tbody>
          <tr>
            <td class="col-xs-6 head"><?=$text_client_address;?></td>
            <td class="_client_address">Company, Main Street</td>
          </tr>
          <tr>
            <td class="col-xs-6 head"><?=$text_client_contact;?></td>
            <td class="_client_contact">9776767666</td>
          </tr>
        </tbody>
      </table>
        
      <div class="clearfix"></div>
      <div class="col-xs-12 col-md-6 details">
       <div class="table-header">
        <h4><?=$text_return_order;?></h4>
      </div>
      <table class="mdl-data-table mdl-js-data-table  md-table col-xs-12 ">
        <thead>
          <tr>
           <th class="mdl-data-table__cell--non-numeric"><?=$text_return_number;?></th>
           <th  class="mdl-data-table__cell--non-numeric"><?=$text_return_date;?></th>
           <th  class="mdl-data-table__cell--non-numeric"><?=$text_action;?></th>
           <!-- <th  class="mdl-data-table__cell--non-numeric"><?=$text_client_name;?></th>
           <th  class="mdl-data-table__cell--non-numeric"><?=$text_address;?></th>
           <th  class="mdl-data-table__cell--non-numeric"><?=$text_raised_by;?></th> -->
         </tr>
       </thead>
       <tbody id="return_order"></tbody>
   </table>
 </div>
 <div hidden>
    <table class="mdl-data-table mdl-js-data-table  md-table col-xs-12 ">
        <tbody >
            <tr id="<?= $order['order_id']?>">
              <td class="mdl-data-table__cell--non-numeric _return_number"></td>
              <td class="mdl-data-table__cell--non-numeric _return_date"></td>
              <td class="mdl-data-table__cell--non-numeric">
                <button id="btn-ap-2" class="mdl-button mdl-js-button mdl-button--icon 
                mdl-button--colored" onclick="getOrderDetails(this);">
                  <i class="material-icons">info</i>
                </button>
                <!-- <div class="mdl-tooltip mdl-tooltip--large" for="btn-ap-2"><?=$text_details;?></div> -->
              </td>
              <!-- <td class="mdl-data-table__cell--non-numeric _client_name"></td>
              <td class="mdl-data-table__cell--non-numeric _delivery_address"></td>
              <td class="mdl-data-table__cell--non-numeric _raised_by"></td> -->
            </tr>
        </tbody>
    </table>
</div>

 <div class="col-xs-12 col-md-6 details">
   <div class="table-header">
    <h4><?=$text_title;?></h4>
  </div>
  <table class="mdl-data-table mdl-js-data-table  md-table col-xs-12 ">
    <thead>
      <tr>
        <th class="mdl-data-table__cell--non-numeric"><?=$text_order_number;?></th>
        <th  class="mdl-data-table__cell--non-numeric"><?=$text_order_date;?></th>
        <th  class="mdl-data-table__cell--non-numeric"><?=$text_action;?></th>
           <!-- <th  class="mdl-data-table__cell--non-numeric"><?=$text_client_name;?></th>
           <th  class="mdl-data-table__cell--non-numeric"><?=$text_address;?></th>
           <th  class="mdl-data-table__cell--non-numeric"><?=$text_raised_by;?></th> -->
     </tr>
   </thead>
   <tbody id="sales_order"></tbody>
</table>
</div>

</div>
</div>



<div hidden>
    <table class="mdl-data-table mdl-js-data-table  md-table col-xs-12 ">
        <tbody id = "sales-order-node">
            <tr>
              <td class="mdl-data-table__cell--non-numeric _order_number"></td>
              <td class="mdl-data-table__cell--non-numeric _order_date"></td>
              <td class="mdl-data-table__cell--non-numeric">
                <button id="btn-ap-2" class="mdl-button mdl-js-button mdl-button--icon 
                mdl-button--colored" onclick="getOrderDetails(this);">
                  <i class="material-icons">info</i>
                </button>
                <!-- <div class="mdl-tooltip mdl-tooltip--large" for="btn-ap-2"><?=$text_details;?></div> -->
              </td>
              <!-- <td class="mdl-data-table__cell--non-numeric _client_name">mac</td>
              <td class="mdl-data-table__cell--non-numeric _delivery_address">address</td>
              <td class="mdl-data-table__cell--non-numeric _raised_by">someone</td> -->
            </tr>
        </tbody>
    </table>
  </div>
</div>
 <div id="modal-view2" hidden>
    <div class="view-title">
        Order Details
    </div>
    <div class="view-body">
        <div class="form-content">
            <table class=" col-xs-12 col-md-6 details">
                <tbody>
                  <tr>
                      <td class="col-xs-6 head"><?=$text_return_number;?></td>
                      <td class="return_number">26/5/2017</td>
                  </tr>
                  <tr>
                      <td class="col-xs-6 head"><?=$text_return_date;?></td>
                      <td class="return_date">Some Address</td>
                  </tr>
                  
                  
                </tbody>
            </table>
            <table class=" col-xs-12 col-md-6 details">
              <tbody>
                <tr>
                    <td class="col-xs-6 head"><?=$text_return_reason;?></td>
                    <td class="return_reason">7878545555</td>
                </tr>
                <tr>
                    <td class="col-xs-6 head"><?=$text_delivery_address;?></td>
                    <td class="delivery_address">50000</td>
                </tr>
              </tbody>
            </table>
            </div>
            <div class="clearfix"></div>
            <div class="col-xs-12 col-md-6 details">
              <div class="table-header">
                <h4><?=$text_item_order;?></h4>
              </div>
              <table class="mdl-data-table mdl-js-data-table  md-table col-xs-12 ">
                <thead>
                  <tr>
                    <th   class="mdl-data-table__cell--non-numeric"><?=$text_reference;?></th>
                    <th   class="mdl-data-table__cell--non-numeric"><?=$text_item_name;?></th>
                    <th   class="mdl-data-table__cell--non-numeric"><?=$text_brand_name;?></th>
                    <th   class="mdl-data-table__cell--non-numeric"><?=$text_min_stock;?></th>
                    <th   class="mdl-data-table__cell--non-numeric"><?=$text_area;?></th>
                    <th   class="mdl-data-table__cell--non-numeric"><?=$text_mrp;?></th>
                  </tr>
                </thead>
                <tbody id="return_item"></tbody>
              </table>
          </div>
          </div>
          <div hidden>
          <table class="mdl-data-table mdl-js-data-table  md-table col-xs-12 ">
            <tbody id = "return-order-node">
              <tr>
                <td class="mdl-data-table__cell--non-numeric _reference"></td>
                <td class="mdl-data-table__cell--non-numeric _item_name"></td>
                <td class="mdl-data-table__cell--non-numeric _brand_name"></td>
                <td class="mdl-data-table__cell--non-numeric _min_stock"></td>
                <td class="mdl-data-table__cell--non-numeric _area"></td>
                <td class="mdl-data-table__cell--non-numeric _mrp"></td>
              </tr>
            </tbody>
          </table>
          <table class="mdl-data-table mdl-js-data-table  md-table col-xs-12 ">
            <tbody id = "return-order-temp">
              <tr>
                <td class="mdl-data-table__cell--non-numeric _return_number"></td>
                <td class="mdl-data-table__cell--non-numeric _return_date"></td>
                <td class="mdl-data-table__cell--non-numeric">
                  <button id="btn-ap-2" class="mdl-button mdl-js-button mdl-button--icon 
                  mdl-button--colored" onclick="getOrderDetails(this);">
                    <i class="material-icons">info</i>
                  </button>
                  <!-- <div class="mdl-tooltip mdl-tooltip--large" for="btn-ap-2"><?=$text_details;?></div> -->
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      
    
</div>




<script>

  function getDetails(e) {
        var id = $(e).parent().parent().attr("id");
        $.ajax({
            url: '?route=salesOrder/getClientDetails&client_id=' + id,
            type: 'GET',
            dataType: 'json',
            success: function (returnData) {
              var salesOrder = returnData.sales_order;
              var returnOrder = returnData.return_order;
                //var raisedBy = returnData.raised_by;
                var clientDetails = returnData.client_details;
                $("span.client_id").html(clientDetails.client_id);
                $("td._client_name").html(clientDetails.company_name);
                $("td._client_email").html(clientDetails.email_id);
                $("td._client_address").html(clientDetails.address);
                $("td._client_contact").html(clientDetails.phone);

                for(var i = 0; i < salesOrder.length; i++){
                    var rowNode = $("#sales-order-node").children().clone();
                    rowNode.attr("id", salesOrder[i].order_id)
                    rowNode.children("._order_number").html(salesOrder[i].order_id);
                    rowNode.children("._order_date").html(salesOrder[i].order_date);
                    rowNode.children("._client_name").html(salesOrder[i].name);
                    $("#sales_order").append(rowNode);
                }
                 for(var i = 0; i < returnOrder.length; i++){
                     var rowNode = $("#return-order-temp").children().clone();
                    rowNode.attr("id", returnOrder[i].order_id)
                     rowNode.children("._return_number").html(returnOrder[i].order_id);
                     rowNode.children("._return_date").html(returnOrder[i].order_date);
                     $("#return_order").append(rowNode);
                 }
                MDialog.start({},"detail",this,$("#modal-view"));
            }
          });
        }

   function getOrderDetails(e) {
        var id = $(e).parent().parent().attr("id");
        $.ajax({
            url: '?route=salesOrder/getReturnDetails&order_id=' + id,
            type: 'GET',
            dataType: 'json',
            success: function (returnData) {
                var salesOrder = returnData.sales_order;
                var returnItem = returnData.return_item;
                var returnDetails = returnData.return_order;
                $(".return_number").html(returnDetails.order_id);
                $(".return_date").html(returnDetails.order_date);
                $(".return_reason").html(returnDetails.return_reason);
                $(".delivery_address").html(returnDetails.delivery_address);
                
                for(var i = 0; i < returnItem.length; i++){
                    var rowNode = $("#return-order-node").children().clone();
                    rowNode.children("._reference").html(returnItem[i].reference);
                    rowNode.children("._item_name").html(returnItem[i].item_name);
                    rowNode.children("._brand_name").html(returnItem[i].brand_name);
                    rowNode.children("._min_stock").html(returnItem[i].min_stock);
                    rowNode.children("._area").html(returnItem[i].area);
                    rowNode.children("._mrp").html(returnItem[i].mrp);
                    $("#return_item").append(rowNode);
                }

                
                MDialog.start({},"detail",this,$("#modal-view2"));
            }
          });
        }
   
 
</script>