
<div class="center-margin col-xs-12">
    <div class="table-card mdl-card col-xs-12">
        <div class="table-header">
           <h4><?=$text_title_view;?></h4>
       </div>
       <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp md-table col-xs-12">
        <thead>
            <tr>
                <th class="mdl-data-table__cell--non-numeric"><?=$text_audit_id;?></th>
                <th class="mdl-data-table__cell--non-numeric"><?=$text_audit_date;?></th>
                <th class="mdl-data-table__cell--non-numeric"><?=$text_audit_for;?></th>
                <th class="mdl-data-table__cell--non-numeric"><?=$text_appoint_person;?></th>
                <th class="mdl-data-table__cell--non-numeric"><?=$text_action;?></th>
            </tr>
        </thead>



        <tbody>
            <?php foreach ($audits as $audit) { ?>
            <tr id="<?=$audit['audit_id']?>">
                <td class="mdl-data-table__cell--non-numeric"><?php echo $audit["audit_id"]; ?></td>
                <td class="mdl-data-table__cell--non-numeric"><?php echo $audit["audit_date"]; ?></td>
                <td class="mdl-data-table__cell--non-numeric"><?= $user_type[$audit['department']]?></td>
                <td class="mdl-data-table__cell--non-numeric"><?php echo $audit["appoint_person"]; ?></td>
                <td class="mdl-data-table__cell--non-numeric">

                    <a href="?route=audit/editAudit&audit_id=<?= $audit['audit_id']; ?>">
                            <button id="tt2" class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored">
                                <i class="material-icons">edit</i>
                            </button>
                        </a>
                        <div class="mdl-tooltip mdl-tooltip--large" for="tt2">
                            <?=$text_edit;?>
                        </div>

                        <button type='button' class='open-attach-btn edit mdl-button mdl-js-button mdl-button--icon mdl-button--accent delete-button' id="close-btn" onclick="confirmDeletion(this);">
                            <i class="material-icons">delete</i>
                        </button>
                        <div class="mdl-tooltip mdl-tooltip--large" for="btn-ap-2"><?=$text_delete;?></div>
                </td>
            </tr>
            <?php } ?>

       
    </tbody>
</table>
</div>
</div>

<script>


    function confirmDeletion(e) {
        $("#modalConfirm .modal-title").html("Confirm Deletion");
        var id = $(e).parent().parent().attr("id");
        $("#modalConfirm .modal-body p").html("Are you sure you want to delete the Audit # "+id+"?");
         $("#modalConfirm").modal("show");
         $(".btn-danger").click(function(){
            $.ajax({
            
                url : '?route=audit/deleteAudit&audit_id='+id,
                type : 'GET',
                dataType : 'text',
                beforeSend: function(){$(".mdl-progress").show();},
                complete: function(){$(".mdl-progress").hide();},
                success: function(){
                     $('#t_wrap').load(document.URL +  ' #t_wrap');
                     showSnackbar("Audit has been Deleted");
                }
            })
         });
        //this.
    };


</script>