<div class="center-margin col-xs-12  ">
    <div class="table-card mdl-card  mdl-shadow--2dp col-xs-12">

        <div class="table-header">
            <h4><?=$text_title;?></h4>

                <select name="vendor_name" class="field selectize-filter-items" multiple>
                    <option value=""><?=$text_search;?></option>
                </select>
            </div>

            <table id="item-list" class="mdl-data-table mdl-js-data-table  md-table col-xs-12 expandable">
                <thead>
                    <tr id="table-head">
                        <th class="mdl-data-table__cell--non-numeric sortable no-sort"><?=$text_reference;?></th>
                        <th class="mdl-data-table__cell--non-numeric sortable no-sort" id="item_name"><?=$text_item_name;?></th>
                        <th class="mdl-data-table__cell--non-numeric sortable no-sort" id="brand_name"><?=$text_brand_name;?></th>
                        <th class="mdl-data-table__cell--non-numeric"><?=$text_item_location;?></th>
                        <th class="mdl-data-table__cell--non-numeric"><?=$text_stock_inhand;?></th>
                        
                        <th class="mdl-data-table__cell--non-numeric"><?=$text_action;?></th>


                    </tr>
                </thead>


                <tbody id="items-body">
                </tbody>
            </table>
        <div id="row-template" hidden>
            <table>
                <tr>
                    <td class="mdl-data-table__cell--non-numeric _reference "></td>
                    <td class="mdl-data-table__cell--non-numeric _item_name" ></td>
                    <td class="mdl-data-table__cell--non-numeric _brand_name"></td>
                    
                    <td class="mdl-data-table__cell--non-numeric _item_location"></td>
                    <td class="mdl-data-table__cell--non-numeric _stock_inhand "></td>
                    <td class="mdl-data-table__cell--non-numeric _buttons">
                        <button type='button' class='open-attach-btn image mdl-button mdl-js-button mdl-button--icon mdl-button--colored'>
                            <i class="material-icons">collections</i>
                        </button>
                        <button type='button' class='open-attach-btn pdf mdl-button mdl-js-button mdl-button--icon mdl-button--accent'>
                            <i class='material-icons'>picture_as_pdf</i>
                        </button>
                        <button id="btn-ap-2" class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored" onclick="getDetails(this);">
                            <i class="material-icons">info</i>
                        </button>
                        <div class="mdl-tooltip mdl-tooltip--large" for="btn-ap-2">
                            <?=$text_details;?></div>
                    </td>
                </tr>
            </table>
        </div>
        
    </div>
</div>

<div id="modal-view" hidden>
    <div class="view-title"><?=$text_item_image;?></div>
        <div class="view-body">

            <div class="form-content">
                <div>
                    <h4 class="pull-left mdl-button--primary"><small><?=$text_reference;?></small> <br> <span id="item_id_m"></span></h4>
                </div>
                <div class="clearfix"></div>
                <img id="item_image" src="">
                <a href="" id="item_reference"></a>
                
            </div>
        </div>
</div>

    <div id="modal-view2" hidden>
        <div class="view-title"><?=$text_item_details;?></div>
        
        <div class="view-body">

            <div class="form-content col-xs-12 col-sm-8 col-md-6 center-margin">
                <div>
                       <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <th><?=$text_item_id;?></th>
                                    <td id="item_id"></td>
                                </tr>
                                <tr>
                                    <th><?=$text_category;?></th>
                                    <td id="item_category"></td>
                                </tr>
                                <tr>
                                    <th><?=$text_item_name;?></th>
                                    <td id="item_name_f"></td>
                                </tr>
                                <tr>
                                    <th><?=$text_brand_name;?></th>
                                    <td id="item_brand"></td>
                                </tr>
                                <tr>
                                    <th><?=$text_vendor_name;?></th>
                                    <td id="item_vendor"></td>
                                </tr>
                                <tr>
                                    <th ><?=$text_packing;?></th>
                                    <td id="item_packing"></td>
                                </tr>
                                <tr>
                                    <th><?=$text_item_mrp;?></th>
                                    <td id="item_mrp"></td>
                                </tr>
                                <tr>
                                    <th><?=$text_item_description;?></th>
                                    <td id="item_description"></td>
                                </tr>
                                <tr>
                                    <th ><?=$text_item_minimum_stock;?></th>
                                    <td id="item_min_stock"></td>
                                </tr>
                                <tr>
                                    <th><?=$text_item_max_stock;?></th>
                                    <td id="item_max_stock"></td>
                                </tr>
                                <tr>
                                    <th><?=$text_stock;?></th>
                                    <td id="item_current_stock"></td>
                                </tr>
                                <tr>
                                    <th><?=$text_item_expired_stock;?></th>
                                    <td id="item_expired"></td>
                                </tr>
                                <tr>
                                    <th><?=$text_item_damaged_stock;?></th>
                                    <td id="item_damaged"></td>
                                </tr>
                                <tr>
                                    <th><?=$text_item_in_transit;?></th>
                                    <td id="item_in_transit"></td>
                                </tr>
                                <tr>
                                    <th><?=$text_reference;?></th>
                                    <td id="item_reference"></td>
                                </tr>
                                <tr>
                                    <th><?=$text_buy_rate;?></th>
                                    <td id="item_purchase_rate"></td>
                                </tr>
                                <tr>
                                    <th><?=$text_sell_rate;?></th>
                                    <td id="item_sell_rate"></td>
                                </tr>
                                <tr>
                                    <th><?=$text_item_area;?></th>
                                    <td id="item_area"></td>
                                </tr>

                            </tbody>

                        </table>
                        
                </div>
            </div>

        </div>

</div>




<script>
$("#modal-view2 td").addClass("text-right");
    function getDetails(e) {
        var id = $(e).parent().parent().attr("id");
        console.log(id);
        $.ajax({
            url : '?route=store/getItemDetails&item_id='+id,
            type : 'GET',
            dataType : 'json',
            success: function(returnData){
                data = returnData.item_details;
                console.log(data)
                $("#modal-view > .view-title").html();
                $("#item_id").html(data.item_id);
                $("#item_min_stock").html(data.minimum_stock);
                $("#item_brand").html(data.brand_name);
                $("#item_packing").html(data.packing);
                $("#item_reference").html(data.reference);
                $("#item_description").html(data.item_description);
                $("#item_name_f").html(data.item_name);
                $("#item_category").html(data.item_category);
                $("#item_area").html(data.area);
                // for(var i = 0; i < salesOrder.length; i++){
                //     var rowNode = $("#sales-order-node").children().clone();
                //     rowNode.children("._order_no").html(salesOrder[i].order_id);
                //     rowNode.children("._order_date").html(salesOrder[i].order_date);
                //     rowNode.children("._client_name").html(salesOrder[i].client_name);
                //     rowNode.children("._delivery_address").html(salesOrder[i].delivery_address);
                //     rowNode.children("._raised_by").html(salesOrder[i].raised_by);
                    
                //     $("#sales-table-body").append(rowNode);
                // }
                
                MDialog.start({},"detail",this,$("#modal-view2"));
            }
        });
       
    }

    var selectBoxItem;
    var selctizedBoxInstanceItem;

    var orderItemsFilter = [];
    $("#selected-items-btn").click(function () {
        if(countProperties(orderItems) > 0){
            selctizedBoxInstanceItem.clear();
            orderItemsFilter = [];
            for (var key in orderItems) {
                console.log(key);

                orderItemsFilter.push(key);
            }
            loadItems();
        }
    });
    
    function initItemFilterSelectBox() {
        selectBoxItem = $(".selectize-filter-items").selectize({
            onItemAdd: itemAddListener,
            onItemRemove: itemRemoveListener,
            options: [
                // {id: 'time-1', type: 'date', label: 'Last day'},
                // {id: 'time-2', type: 'date', label: 'Last one week'},
                // {id: 'time-3', type: 'date', label: 'Last Two week'},
                // {id: 'time-4', type: 'date', label: 'Last Month'},
            ],
            optgroups: [
                {id: 'client', name: 'Client'},
                // {id: 'vendor', name: 'Vendor'},
                {id: 'item', name: 'Item'},
                // {id: 'date', name: 'By Added on'},
                {id: 'category', name: 'Category'},
                {id: 'area', name: 'Area'},
                {id: 'ref', name: 'Ref#'}
            ],
            labelField: 'label',
            valueField: 'id',
            optgroupField: 'type',
            optgroupLabelField: 'name',
            optgroupValueField: 'id',
            optgroupOrder: ['client', 'ref', 'category', 'area','item'],
            // optgroupOrder: ['vendor', 'ref', 'category', 'area','item'],
            searchField: ['label'],
            plugins: ['optgroup_columns', 'remove_button']

        });
        if (selectBoxItem.length != 0) selctizedBoxInstanceItem = selectBoxItem[0].selectize;
    }
    var lastDateItemId = "";
    function itemAddListener(value, item){
        var item = $(item);
        var id = selctizedBoxInstanceItem.options[value].id;
        var type = selctizedBoxInstanceItem.options[value].type;
        var label = selctizedBoxInstanceItem.options[value].label;
        if(type == "date"){
            item.css("background-color","#1565c0");
            if(lastDateItemId != "")selctizedBoxInstanceItem.removeItem(lastDateItemId, false);
            lastDateItemId = id;
            loadItemsSelectBox();
        }
        if(type == "client"){
            loadItemsSelectBox();
            item.css("background-color","#00695c");
        }
        // if(type == "vendor"){
        //     loadItemsSelectBox();
        //     item.css("background-color","#00695c");
        // }
        if(type == "item")item.css("background-color","#2e7d32");

        if(type == "category"){
            item.css("background-color","#0277bd");
            loadItemsSelectBox();
        }

        if(type == "area"){
            item.css("background-color","#283593");
            loadItemsSelectBox();
        }
        if(type == "ref"){
            item.css("background-color","#ED5565");
            loadItemsSelectBox();
        }


        loadItems();

    }
    function itemRemoveListener(value){
        var type = selctizedBoxInstanceItem.options[value].type;
        loadItemsSelectBox();
        loadItems();
    }


    function loadItemCategorySelectBox(){
        $.ajax({
            url: '?route=requestsAction/getCategoryList&all=1',
            type: 'GET',
            dataType: 'json',
            success: function (returnData) {
                data = returnData.category_list;
                for(var i = 0; i < data.length ; i++){
                    selctizedBoxInstanceItem.addOption({id : "category-" + data[i].item_category, type: "category", label: (data[i].title)});
                }
                selctizedBoxInstanceItem.refreshOptions(false);
            },
            error: function () {
                $(".mdl-progress").hide();
                showSnackbar("Can't load category list.");
            }
        });
    }

    function loadAreaSelectBox(){
        $.ajax({
            url: '?route=requestsAction/getAreaList&all=1',
            type: 'GET',
            dataType: 'json',
            success: function (returnData) {
                data = returnData.area_list;
                for(var i = 0; i < data.length ; i++){
                    selctizedBoxInstanceItem.addOption({id : "area-" + data[i].area, type: "area", label: (data[i].area)});
                }
                selctizedBoxInstanceItem.refreshOptions(false);
            },
            error: function () {
                $(".mdl-progress").hide();
                showSnackbar("Can't load area list.");
            }
        });
    }

    function loadRefSelectBox(){
        $.ajax({
            url: '?route=requestsAction/getRefList&all=1&list=item',
            type: 'GET',
            dataType: 'json',
            success: function (returnData) {
                data = returnData.ref_list;
                for(var i = 0; i < data.length ; i++){
                    selctizedBoxInstanceItem.addOption({id : data[i].reference, type: "ref", label: ("#"+data[i].reference)});
                }
                selctizedBoxInstanceItem.refreshOptions(false);
            },
            error: function () {
                $(".mdl-progress").hide();
                showSnackbar("Can't load ref list.");
            }
        });
    }
    function loadItemsSelectBox(){
        filterResults();
        if(clientFilterList.length == 0 && dateFilter.length == 0  && areaFilterList.length == 0 && categoryFilterList.length == 0) {
            clearItemOptions();
            return;
        }
        $(".mdl-progress").show();
        var postData = {
            all: 1,
            clientList : clientFilterList,
            dateFilter : dateFilter,
            categoryFilter: categoryFilterList,
            areaFilter : areaFilterList,
            refList: refFilter,
            list:'item'
        };
        $.ajax({
            url: '?route=requestsAction/getAllItemsList&all=1',
            type: 'POST',
            data: postData,
            dataType: 'json',
            success: function (returnData) {
                clearItemOptions();
                data = returnData.itemList;
                for(var i = 0; i < data.length ; i++){
                    //console.log(data[i]);
                    selctizedBoxInstanceItem.addOption({id : "item-"+data[i].item_id, type: "item", label: (data[i].item_name + "-" + data[i].reference)});
                }
                selctizedBoxInstanceItem.refreshOptions(false);
            },
            error: function () {
                $(".mdl-progress").hide();
                showSnackbar("Can't load items list.");
            }
        });

    }


    function loadClientsSelectBox(){
        $.ajax({
            url: '?route=requestsAction/getClientList&all=1',
            type: 'GET',
            dataType: 'json',
            success: function (returnData) {
                data = returnData.client_list;
                for(var i = 0; i < data.length ; i++){
                    selctizedBoxInstanceItem.addOption({id : data[i].client_id, type: "client", label: (data[i].company_name)});
                }
                selctizedBoxInstanceItem.refreshOptions(false);
            },
            error: function () {
                $(".mdl-progress").hide();
                showSnackbar("Can't load client list.");
            }
        });
    }

    // function loadVendorsSelectBox(){
    //     $.ajax({
    //         url: '?route=requestsAction/getVendorsList&all=1',
    //         type: 'GET',
    //         dataType: 'json',
    //         success: function (returnData) {
    //             data = returnData.vendors_list;
    //             for(var i = 0; i < data.length ; i++){
    //                 selctizedBoxInstanceItem.addOption({id : data[i].client_id, type: "vendor", label: (data[i].company_name)});
    //             }
    //             selctizedBoxInstanceItem.refreshOptions(false);
    //         },
    //         error: function () {
    //             $(".mdl-progress").hide();
    //             showSnackbar("Can't load client list.");
    //         }
    //     });
    // }

    var clientFilterList = [];
    // var vendorFilterList = [];
    var itemIdFilterList = [];
    var categoryFilterList = [];
    var areaFilterList = [];
    var dateFilter = [];
    var refFilter = [];



    function filterResults(){
        var input = $(this);
        clientFilterList = [];
        // vendorFilterList = [];
        areaFilterList = [];
        itemIdFilterList = [];
        categoryFilterList = [];
        dateFilter = [];
        refFilter = [];
        //console.log(selctizedBoxInstanceItem.getValue());
        for(var i=0; i < selctizedBoxInstanceItem.getValue().length; i++){
            var id = selctizedBoxInstanceItem.options[selctizedBoxInstanceItem.getValue()[i]].id;
            var type = selctizedBoxInstanceItem.options[selctizedBoxInstanceItem.getValue()[i]].type;
            var label = selctizedBoxInstanceItem.options[selctizedBoxInstanceItem.getValue()[i]].label;
            if(type == "client") clientFilterList.push(id);
            // if(type == "vendor") clientFilterList.push(id);
            if(type == "date") dateFilter.push(id);
            if(type == "category") {
                var cId = id.substr(id.indexOf("-") + 1);
                categoryFilterList.push(cId);
            }
            if(type == "area") {
                var cId = id.substr(id.indexOf("-") + 1);
                areaFilterList.push(cId);
            }
            if(type == "item"){
                var cId = id.substr(id.indexOf("-") + 1);
                itemIdFilterList.push(cId);
            }
            if(type == "ref"){
                var cId = id.substr(id.indexOf("-") + 1);
                refFilter.push(cId);
            }
        }

        if(orderItemsFilter.length > 0){
            for(var i=0 ; i < orderItemsFilter.length; i++){
                itemIdFilterList.push(orderItemsFilter[i]);
            }
            orderItemsFilter = [];
        }
    }

    var tableheader = $("#table-head");

    function tableSort() {
        var th = $(this);
        if (th.hasClass("no-sort")) {
            console.log("NO");
            tableheader.children(".sortable").removeClass("mdl-data-table__header--sorted-ascending");
            tableheader.children(".sortable").removeClass("mdl-data-table__header--sorted-descending");
            tableheader.children(".sortable").addClass("mdl-data-table__header");
            tableheader.children(".sortable").addClass("no-sort");
            th.removeClass("no-sort");
            th.removeClass("mdl-data-table__header");
            th.addClass("mdl-data-table__header--sorted-ascending");
            loadItems();
            return;
        }

        if (th.hasClass("mdl-data-table__header--sorted-ascending")) {
            th.removeClass("mdl-data-table__header--sorted-ascending");
            th.addClass("mdl-data-table__header--sorted-descending");
            console.log("ASC");
            loadItems();
            return;
        }

        if (th.hasClass("mdl-data-table__header--sorted-descending")) {
            th.removeClass("mdl-data-table__header--sorted-descending");
            th.addClass("mdl-data-table__header");
            th.addClass("no-sort");
            console.log("DESC");
            loadItems();
        }

    }


    function clearItemOptions(){

        for(var prop in selctizedBoxInstanceItem.options){
            var id = selctizedBoxInstanceItem.options[prop].id;
            var type = selctizedBoxInstanceItem.options[prop].type;
            if(type == "item") {
                selctizedBoxInstanceItem.removeOption(id);
            }
        }

//        for(var i=0; i < selctizedBoxInstanceItem.options.length; i++){
//            console.log(selctizedBoxInstanceItem.options[i]);
//            var id = selctizedBoxInstanceItem.options[i].id;
//            var type = selctizedBoxInstanceItem.options[i].type;
//            if(type == "item") {
//                selctizedBoxInstanceItem.removeOption(id);
//            }
//
//        }
        selctizedBoxInstanceItem.refreshOptions(false);
    }

    function loadItems() {
        $(".mdl-progress").show();
        //filterResults();
        var postData = {
            all: 1,
            clientList : clientFilterList,
            // vendorList : vendorFilterList,
            dateFilter : dateFilter,
            itemIdList : itemIdFilterList,
            categoryFilter: categoryFilterList,
            areaFilter : areaFilterList,
            refList : refFilter,
            list: 'item'
        };

        if (tableheader.children(".sortable.mdl-data-table__header--sorted-ascending").length > 0) {
            postData.sort = "ASC";
            postData.sortField = $(tableheader.children(".sortable.mdl-data-table__header--sorted-ascending")[0]).attr("id");
        }
        if (tableheader.children(".sortable.mdl-data-table__header--sorted-descending").length > 0) {
            postData.sort = "DESC";
            postData.sortField = $(tableheader.children(".sortable.mdl-data-table__header--sorted-descending")[0]).attr("id");
        }
        $.ajax({
            url: '?route=requestsAction/getItemsList&all=1',
            type: 'POST',
            data: postData,
            dataType: 'json',
            success: function (returnData) {
                data = returnData.itemList;
                console.log(returnData.clause);
                $("#items-body").html("");
                for (var i = 0; i < data.length; i++) {
                    var rowNode = $("#row-template > table > tbody > tr").clone(true);
                    // console.log(rowNode);
                    rowNode.attr("id", data[i].item_id);
                    rowNode.children("._reference").html(data[i].reference);
                    rowNode.children("._item_name").html(data[i].item_name);
                    rowNode.children("._brand_name").html(data[i].brand_name);
                    rowNode.children("._item_location").html(data[i].area);
                    rowNode.children("._stock_inhand").html(data[i].current_stock);
                    //rowNode.children("._quantity").children("input").val();
                    if (data[i].item_pdf == 0) rowNode.children("._buttons").children(".pdf").hide();
                    if (data[i].image == 0) rowNode.children("._buttons").children(".image").hide();

                    $("#items-body").append(rowNode);

                }
                $(".mdl-progress").hide();
                showSnackbar("Data loaded.");
            },
            error: function () {
                $(".mdl-progress").hide();
                showSnackbar("Can't complete your request.");
            }
        });
    }
    function openAttachment() {
        var id = $(this).parent().parent().attr("id");
        var button = $(this);
        $.ajax({
            url : '?route=store/getItemDetails&item_id='+id,
            type : 'GET',
            dataType : 'json',
            success: function(returnData){
                data = returnData.item_details;
                if(button.hasClass("pdf")){
                    if(data.item_pdf == 0){
                        showSnackbar("No image uploaded");
                    }else{

                        window.open(data.item_pdf, '_blank');
                    }
                }

                if(button.hasClass("image")){
                    if(data.image == 0){
                        showSnackbar("No image uploaded");
                    }else{

                        $("#modal-view > .view-title").html();
                        $("#item_id_m").html(data.reference);
                        $("#item_image").attr("src",data.image);
                        //$("#item_reference").attr("href",data.reference);
                        MDialog.start({},"detail",this,$("#modal-view"));
                    }
                }


                // if(data.image == 0){
                //     showSnackbar("No image uploaded");
                // }else{

                //         // if(button.hasclass("pdf")){

                //         // }




                //         //if(data.attachment != 0) {
                //             //$("#modal-view-message > .view-body > .attachments").show();
                //            // $("#modal-view-message > .view-body > .attachments > a").attr("href",data.attachment);
                //         //}else{
                //             //$("#modal-view-message > .view-body > .attachments").hide();
                //        // }

                //    }
            }
        });
    };

    
    

    $(document).ready(function () {
        $("#refresh-data-btn").click(loadItems);
        tableheader.children(".sortable").click(tableSort);
        initItemFilterSelectBox();
        // loadClientsSelectBox();
        // loadVendorsSelectBox();
        loadItemCategorySelectBox();
        loadAreaSelectBox();
        loadRefSelectBox();
        loadItems();
        $(".open-attach-btn").click(openAttachment);
        // $("#filter-box").change(filterResults);

    });

    $(".approve-button").click(function () {
        showSnackbar("Changes Approved");
        //this.
    });
    $(".disapprove-button").click(function () {
        showSnackbar("Changes Disapproved");
        //this.
    });


    $(".alert-button").click(function () {
        MDialog.start({},"detail",this,$("#modal-view2"));
    });

</script>