
<div class="center-margin col-xs-12">
    <div class="table-card mdl-card  mdl-shadow--2dp col-xs-12">
        <div class="table-header">
            <h4><?=$text_title_view;?>
                <!-- <button class="mdl-button mdl-js-button mdl-button--icon pull-right">
                    <i class="material-icons">refresh</i>
                </button> -->
            </h4>

            <!-- <select name="vendor_name" class="field selectize-filter">
                <option value=""><?=$text_search;?></option>
            </select> -->
        </div>
        <table class="mdl-data-table mdl-js-data-table col-xs-12 expandable">
            <thead>
                <tr>
                    <th class="mdl-data-table__cell--non-numeric"><?=$text_admin_id;?></th>
                    <th class="mdl-data-table__cell--non-numeric"><?=$text_admin_type;?></th>
                    <th class="mdl-data-table__cell--non-numeric"><?=$text_admin_name;?></th>
                    <th class="mdl-data-table__cell--non-numeric"><?=$text_admin_email;?></th>
                    <th class="mdl-data-table__cell--non-numeric"><?=$text_password;?></th>
                    <th class="mdl-data-table__cell--non-numeric"><?=$text_admin_phone;?></th>
                    <th class="mdl-data-table__cell--non-numeric"><?=$text_admin_address;?></th>
                    <th class="mdl-data-table__cell--non-numeric"><?=$text_action;?></th>
                </tr>
            </thead>



            <tbody>
                <?php foreach ($admins as $admin) { ?>
                <tr id="<?=$admin['user_id']?>">
                    <td class="mdl-data-table__cell--non-numeric"><?php echo $admin["employee_id"]; ?></td>
                    <td class="mdl-data-table__cell--non-numeric"><?php echo $admin["title"]; ?></td>
                    <td class="mdl-data-table__cell--non-numeric"><?php echo $admin["username"]; ?></td>
                    <td class="mdl-data-table__cell--non-numeric"><?php echo $admin["email_id"]; ?></td>
                    <td class="mdl-data-table__cell--non-numeric"><?php echo $admin["password"]; ?></td>
                    <td class="mdl-data-table__cell--non-numeric"><?php echo $admin["phone"]; ?></td>
                    <td class="mdl-data-table__cell--non-numeric"><?php echo $admin["address"]; ?></td>
                    <td class="mdl-data-table__cell--non-numeric _buttons">
                        <button type='button' class='open-attach-btn image mdl-button mdl-js-button mdl-button--icon mdl-button--colored'>
                            <i class="material-icons">collections</i>
                        </button>
                        <button type='button' class='open-attach-btn pdf mdl-button mdl-js-button mdl-button--icon mdl-button--accent'>
                            <i class='material-icons'>picture_as_pdf</i>
                        </button>
                        <a href="?route=admin/editUser&employee_id=<?= $admin['user_id']; ?>">
                            <button id="tt2" class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored">
                                <i class="material-icons">edit</i>
                            </button>
                        </a>
                        <div class="mdl-tooltip mdl-tooltip--large" for="tt2">
                            <?=$text_edit;?>
                        </div>

                        <button type='button' class='open-attach-btn edit mdl-button mdl-js-button mdl-button--icon mdl-button--accent delete-button' id="close-btn" onclick="confirmDeletion(this);">
                            <i class="material-icons">delete</i>
                        </button>
                        <div class="mdl-tooltip mdl-tooltip--large" for="btn-ap-2"><?=$text_delete;?></div>
                    </td>
                </tr>
                <?php } ?>
                <?php if($pagination !== ""): ?>
                <tfoot>
                    <tr>
                        <td colspan="8"><?php echo $pagination; ?></td>
                    </tr>
                </tfoot>
                <?php endif; ?>
            </tbody>
        </table>
    </div>
</div>

<div id="modal-view" hidden>
    <div class="view-title"><?=$text_item_detail;?></div>
    <div class="view-body">

        <div class="form-content">
            <div>
                <h4 class="pull-left mdl-button--primary"><small>USER ID:</small> <br> <span id="item_id_m"></span></h4>
            </div>
            <div class="clearfix"></div>
            <img id="item_image" src="">
            <a href="" id="item_reference"></a>

        </div>
    </div>
</div>

<script>

    function confirmDeletion(e) {
        $("#modalConfirm .modal-title").html("Confirm Deletion");
        var id = $(e).parent().parent().attr("id");
        $("#modalConfirm .modal-body p").html("Are you sure you want to delete the Admin # "+id+"?");
         $("#modalConfirm").modal("show");
         $(".btn-danger").click(function(){
            $.ajax({
            
                url : '?route=admin/deleteAdmin&employee_id='+id,
                type : 'GET',
                dataType : 'text',
                beforeSend: function(){$(".mdl-progress").show();},
                complete: function(){$(".mdl-progress").hide();},
                success: function(){
                     $('#t_wrap').load(document.URL +  ' #t_wrap');
                     showSnackbar("Admin has been Deleted");
                }
            })
         });
        //this.
    };

//     $(document).ready(function(){
//     $("#close-btn").click(function(){
//         $("$this").remove();
//     });
// });

function openAttachment() {
        var id = $(this).parent().parent().attr("id");
        var button = $(this);
        $.ajax({
            url : '?route=admin/getAdminDetails&user_id='+id,
            type : 'GET',
            dataType : 'json',
            success: function(returnData){
                data = returnData.admin_details;
                if(button.hasClass("pdf")){
                    if(data.identification == 0){
                        showSnackbar("No file uploaded");
                    }else{

                        window.open(data.identification, '_blank');
                    }
                }

                if(button.hasClass("image")){
                    if(data.image == 0){
                        showSnackbar("No image uploaded");
                    }else{

                        $("#modal-view > .view-title").html();
                        $("#item_id_m").html(data.user_id);
                        $("#item_image").attr("src",data.image);
                        //$("#item_reference").attr("href",data.reference);
                        MDialog.start({},"detail",this,$("#modal-view"));
                    }
                }


               
            }
        });
    };

    $(".open-attach-btn").click(openAttachment);
</script>
