<div class="center-margin col-xs-12">
    <div class="table-card mdl-card  mdl-shadow--2dp col-xs-12">

        <div class="table-header">
            <h4><?= $text_title_vendor; ?>
               
            </h4>

            
        </div>
        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp md-table col-xs-12">
            <thead>
                <tr>
                    <th class="mdl-data-table__cell--non-numeric"><?= $text_vendor_id; ?></th>
                    <th class="mdl-data-table__cell--non-numeric"><?= $text_vendor_name; ?></th>
                    <th class="mdl-data-table__cell--non-numeric"><?= $text_vendor_email; ?></th>
                    <th class="mdl-data-table__cell--non-numeric"><?= $text_vendor_address; ?></th>
                    <th class="mdl-data-table__cell--non-numeric"><?= $text_vendor_contact; ?></th>
                    <!-- <th class="mdl-data-table__cell--non-numeric">Mobile</th> -->
                    <th class="mdl-data-table__cell--non-numeric">Fax<br/> Number</th>
                    <th class="mdl-data-table__cell--non-numeric">Person<br/> Responsible</th>
                    <th class="mdl-data-table__cell--non-numeric">Franco</th>
                    <th class="mdl-data-table__cell--non-numeric"><?= $text_action; ?></th>
                </tr>
            </thead>


            <tbody>
                <?php foreach ($vendors as $vendor) { ?>
                <tr id="<?=$vendor['vendor_id']?>">
                    <td class="mdl-data-table__cell--non-numeric clickable"><?php echo $vendor["vendor_id"]; ?></td>
                    <td class="mdl-data-table__cell--non-numeric clickable"><?php echo $vendor["company_name"]; ?></td>
                    <td class="mdl-data-table__cell--non-numeric clickable"><?php echo $vendor["email_id"]; ?></td>
                    <td class="mdl-data-table__cell--non-numeric clickable"><?php echo $vendor["address"]; ?></td>
                    <td class="mdl-data-table__cell--non-numeric clickable"><?php echo $vendor["phone"]; ?></td>
                   <!--  <td class="mdl-data-table__cell--non-numeric clickable"><?php echo $vendor["mobile"]; ?></td> -->
                    <td class="mdl-data-table__cell--non-numeric clickable"><?php echo $vendor["fax_number"]; ?></td>
                    <td class="mdl-data-table__cell--non-numeric clickable"><?php echo $vendor["person_responsible"]; ?></td>
                    <td class="mdl-data-table__cell--non-numeric clickable"><?php echo $vendor["franco"]; ?></td>
                    <td class="mdl-data-table__cell--non-numeric">
                        <button id="btn-ap-<?php echo $vendor['vendor_id']; ?>" class="mdl-button mdl-js-button mdl-button--icon 
                            mdl-button--colored" onclick="getDetails(this);">
                            <i class="material-icons">info</i>
                        </button>
                        <div class="mdl-tooltip mdl-tooltip--large" for="btn-ap-<?php echo $vendor['vendor_id']; ?>"><?=$text_details;?></div>
                        <a href="?route=vendors/editVendor&vendor_id=<?= $vendor['vendor_id']; ?>">
                            <button id="btn-ed-<?php echo $vendor['vendor_id']; ?>" class="mdl-button mdl-js-button mdl-button--icon">
                              <i class="material-icons">mode_edit</i>
                             </button>
                        </a>
                        <div class="mdl-tooltip mdl-tooltip--large" for="btn-ed-<?php echo $vendor['vendor_id']; ?>"><?= $text_edit; ?></div>
                    </td>
                </tr>
                <?php } ?>
                <tr><td colspan="7">
                    <?php echo $pagination; ?>
                </td></tr>
            </tbody>
        </table>
    </div>
</div>

<div id="modal-view" hidden>
    <div class="view-title">
     <?= $text_vendor_details; ?>
 </div>
 <div class="view-body">
    <div class="form-content">
        <div>
           <!-- <div class="text-right">
                <button id="print-btn" class="mdl-button mdl-js-button mdl-button--icon mdlbutton--colored edit-button" onclick="window.print()">
                    <i class="material-icons">print</i>
                </button>
                <div class="mdl-tooltip mdl-tooltip--large" for="print-btn">Print</div>

                <button id="discount" class="mdl-button mdl-js-button mdl-button--icon mdlbutton--colored" data-order=""  onclick="addDiscount(this,1);">
                     <i class="material-icons">add</i>
                </button>
                <div class="mdl-tooltip mdl-tooltip--large" for="discount">Add Discount</div>

                <button id="cancel-order" class="mdl-button mdl-js-button mdl-button--icon mdlbutton--colored edit-button" data-order="" onclick="confirmDeletion(this, 1);">
                    <i class="material-icons text-danger">delete</i>
                </button>
                <div class="mdl-tooltip mdl-tooltip--large" for="cancel-order">Cancel Order</div>
            </div> -->

            <table class="order_details table-striped col-xs-12 col-sm-6">
                <tr>
                    <td><?php echo $text_vendor_id; ?>:</td>
                    <td id="vendor_id_m">#</td>
                </tr>
                <tr>
                    <td><?php echo $text_vendor_name; ?>:</td>
                    <td id="vendor_name_m">#</td>
                </tr>
                <tr>
                    <td><?=$text_vendor_email;?>:</td>
                    <td id="vendor_email_m"></td>
                </tr>
                <tr>
                    <td><?=$text_vendor_address;?>:</td>
                    <td id="vendor_address_m">***</td>
                </tr>
                            
            </table>
            <table class="order_details  table-striped col-xs-12 col-sm-6">
                
                <tr>
                    <td><?=$text_vendor_contact;?>:</td>
                    <td id="vendor_contact_m"></td>
                </tr>
                <tr>
                    <td>Mobile:</td>
                    <td id="vendor_mobile_m"></td>
                </tr>
                <tr>
                    <td>Fax Number:</td>
                    <td id="vendor_fax_m"></td>
                </tr>
                <tr>
                    <td>Franco:</td>
                    <td id="vendor_franco_m"></td>
                </tr>

                            

            </table>

                        
            </div>
                
           
        </table>
        <div class="clearfix"></div>
            <hr>

        <!-- <div class="clearfix"></div> -->
        <div class="col-xs-12 col-md-6 details">
            <div class="table-header">
                <h4><?= $text_item_details; ?></h4>
            </div>
            <table class="mdl-data-table mdl-js-data-table  md-table col-xs-12 ">
                <thead>
                    <tr>
                        <th class="mdl-data-table__cell--non-numeric"><?= $text_reference; ?></th>
                        <th class="mdl-data-table__cell--non-numeric"><?= $text_item_name; ?></th>
                        <th class="mdl-data-table__cell--non-numeric"><?= $text_brand_name; ?></th>
                        <th class="mdl-data-table__cell--non-numeric"><?= $text_item_category; ?></th>
                        <th class="mdl-data-table__cell--non-numeric"><?= $text_action; ?></th>
                    </tr>
                </thead>
                <tbody id="vendor_items">

                </tbody>
            </table>
        </div>
        <div class="col-xs-12 col-md-6 details">
            <div class="table-header">
                <h4><?= $text_purchase_order; ?></h4>
            </div>
            <table class="mdl-data-table mdl-js-data-table  md-table col-xs-12 ">
                <thead>
                    <tr>
                         <th class="mdl-data-table__cell--non-numeric"><?= $text_order_number; ?></th>
                         <th  class="mdl-data-table__cell--non-numeric"><?= $text_order_date; ?></th>
                         <th  class="mdl-data-table__cell--non-numeric"><?= $text_order_status; ?></th>
                         <th  class="mdl-data-table__cell--non-numeric"><?= $text_delivery_address; ?></th>
                        <!-- <th  class="mdl-data-table__cell--non-numeric"><?= $text_raised_by; ?></th> -->
                    </tr>
             </thead>
             <tbody id="purchase_order"></tbody>
        </table>
    </div>
</div>
</div>
</div>


<div  hidden>

    <table>
        <tbody id="items-template">
            <tr>
              <td class="mdl-data-table__cell--non-numeric __refrence" ></td>
              <td class="mdl-data-table__cell--non-numeric __item_name" ></td>
              <td class="mdl-data-table__cell--non-numeric __brand_name" ></td>
              <td class="mdl-data-table__cell--non-numeric __item_category"></td>
              <td class="mdl-data-table__cell--non-numeric __buttons">
                <button type="button" id="tt2" class="open-det image mdl-button mdl-js-button mdl-button--icon mdl-button--colored" onclick="openDetails(this); return false;">
                    <i class="material-icons">collections</i>
                </button>
                <button type="button" id="tt2" class="open-det pdf mdl-button mdl-js-button mdl-button--icon mdl-button--accent " onclick="openDetails(this); return false;">
                    <i class="material-icons">picture_as_pdf</i>
                </button>
            </td>
        </tr>
    </tbody>
</table>

<div id="modal-view-img" hidden>
    <div class="view-title"><?=$text_item_detail;?></div>
    <div class="view-body">

        <div class="form-content">
            <div>
                <h4 class="pull-left mdl-button--primary"><small>Reference</small> <br> <span id="item_id_m"></span></h4>
                
            </div>
            <div class="clearfix"></div>
            <img id="item_image" src="">
            <a href="" id="item_reference"></a>

        </div>
    </div>
</div>
</div>

<div  hidden>

    <table>
        <tbody id="orders-template">
            <tr>
              <td class="mdl-data-table__cell--non-numeric __order_number" ></td>
              <td class="mdl-data-table__cell--non-numeric __order_date" ></td>
              <td class="mdl-data-table__cell--non-numeric __order_status" ></td>
              <td class="mdl-data-table__cell--non-numeric __delivery_address"></td>
              <!-- <td class="mdl-data-table__cell--non-numeric __raised_by"></td> -->
            </tr>
        </tbody>
    </table>


</div>



<script>

    function getDetails(e) {
        var id = $(e).parent().parent().attr("id");
        $.ajax({
            url : '?route=vendors/getVendorDetails&vendor_id='+id,
            type : 'GET',
            dataType : 'json',
            success: function(returnData){
                data = returnData.vendor_details;
                itemList = returnData.item_details;
                orders = returnData.purchase_orders;
                $("#modal-view > .view-title").html();
                $("#vendor_id_m").html("#"+data.vendor_id);
                $("#vendor_name_m").html(data.company_name);
                $("#vendor_email_m").html(data.email_id);
                $("#vendor_address_m").html(data.address);
                $("#vendor_contact_m").html(data.phone);
                $("#vendor_mobile_m").html(data.mobile);
                $("#vendor_fax_m").html(data.fax_number);
                $("#vendor_franco_m").html(data.franco);
                $("#vendor_approval_m").html(data.approval_status);

                for(var i = 0; i < itemList.length; i++){
                    var node = $("#items-template").children().clone();
                    node.attr("id", itemList[i].item_id);
                    node.children(".__refrence").html(itemList[i].reference);
                    node.children(".__item_name").html(itemList[i].item_name);
                    node.children(".__brand_name").html(itemList[i].brand_name);
                    node.children(".__item_category").html(itemList[i].category_title);

                    if (itemList[i].item_pdf == 0) node.children(".__buttons").children(".pdf").hide();
                    if (itemList[i].image == 0) node.children(".__buttons").children(".image").hide();
                    $("#vendor_items").append(node);
                }

                for(var i = 0; i < orders.length; i++){
                    var node = $("#orders-template").children().clone();
                    node.children(".__order_number").html(orders[i].order_id);
                    node.children(".__order_date").html(orders[i].order_date);
                    node.children(".__order_status").html(orders[i].status_title.replace(/_/g," "));

                    if (orders[i].order_status == 1) node.children(".__order_status").addClass("text-warning");
                    if (orders[i].order_status == 6) node.children(".__order_status").addClass("text-warning");
                    if (orders[i].order_status == 3) node.children(".__order_status").addClass("text-success");
                    if (orders[i].order_status == 7) node.children(".__order_status").addClass("text-success");
                    if (orders[i].order_status == 8) node.children(".__order_status").addClass("text-danger");
                    if (orders[i].order_status == 10) node.children(".__order_status").addClass("text-danger");

                    node.children(".__delivery_address").html(orders[i].delivery_address);
                    // node.children(".__raised_by").html(orders[i].raised_by);
                    $("#purchase_order").append(node);
                }

                MDialog.start({},"detail",this,$("#modal-view"));
            }
        });

    }
    function openAttachment() {

        var id = $(this).parent().parent().parent().attr("id");
        var button = $(this);
        $.ajax({
            url : '?route=vendors/getVendorDetails&vendor_id='+id,
            type : 'GET',
            dataType : 'json',
            success: function(returnData){
                itemAttach = returnData.item_details;
                if(button.hasClass("pdf")){
                    if(itemAttach.item_pdf == 0){
                      showSnackbar("No image uploaded");
                  }else{

                   window.open(itemAttach.item_pdf, '_blank');
               }
           }

           if(button.hasClass("image")){
            if(itemList[i].image == 0){
              showSnackbar("No image uploaded");
          }else{

            window.open(itemList[i].image, '_blank');
             MDialog.start({},"detail",this,$("#modal-view"));
            }
        } 
                      
    }
});  
    };
    $(".open-btn").click(openAttachment);

function openDetails(e) {
        var id = $(e).parent().parent().attr("id");
        var button = $(e);
        $.ajax({
            url : '?route=stock/getItemDetails&item_id='+id,
            type : 'GET',
            dataType : 'json',
            success: function(returnData){
                data = returnData.item_details;
                if(button.hasClass("pdf")){
                    if(data.item_pdf == 0){
                        showSnackbar("No image uploaded");
                    }else{

                        window.open(data.item_pdf, '_blank');
                    }
                }

                if(button.hasClass("image")){
                    if(data.image == 0){
                        showSnackbar("No image uploaded");
                    }else{

                        $("#modal-view-img > .view-title").html();
                        $("#item_id_m").html(data.reference);
                        $("#item_image").attr("src",data.image);
                        //$("#item_reference").attr("href",data.reference);
                        MDialog.start({},"detail",this,$("#modal-view-img"));
                    }
                }


                
            }
        });
    };
</script>