<div class="center-margin col-xs-12  ">
    <div class="table-card mdl-card col-xs-12">
        <div class="table-header">
            <h4><?= $text_title_view; ?>
            </h4>

        </div>
        <div id="t_wrap">
            <table id ="agentsList" class="mdl-data-table mdl-js-data-table expandable col-xs-12">
                <thead>
                    <tr id="table-head">
                        <th class="mdl-data-table__header"><?= $text_agent_id; ?></th>
                        <th class="mdl-data-table__header sortable no-sort" id="username"><?= $text_name_viewsales; ?></th>
                        <th class="mdl-data-table__header"><?= $text_email_viewsales; ?></th>
                        <th class="mdl-data-table__header"><?= $text_password; ?></th>
                        <th class="mdl-data-table__header"><?= $text_phone_viewsales; ?></th>
                        <th class="mdl-data-table__header"><?= $text_address_viewsales; ?></th>
                        <th class="mdl-data-table__header"><?= $text_city; ?></th>
                        <th class="mdl-data-table__header"><?= $text_view_action; ?></th>
                    </tr>
                </thead>

                <tbody id="t_agent_list">
                    <?php foreach ($agents_list as $agent_list) { ?>
                    <tr id="<?=$agent_list['employee_id']?>">
                        <td class="mdl-data-table__cell--non-numeric clickable" ><?php echo $agent_list["employee_id"]; ?></td>
                        <td class="mdl-data-table__cell--non-numeric clickable"><?php echo $agent_list["name"]; ?></td>
                        <td class="mdl-data-table__cell--non-numeric clickable"><?php echo $agent_list["email_id"]; ?></td>
                        <td class="mdl-data-table__cell--non-numeric clickable"><?php echo $agent_list["password"]; ?></td>
                        <td class="mdl-data-table__cell--non-numeric clickable"><?php echo $agent_list["phone"]; ?></td>
                        <td class="mdl-data-table__cell--non-numeric clickable"><?php echo $agent_list["address"]; ?></td>
                        <td class="mdl-data-table__cell--non-numeric clickable"><?php echo $agent_list["city"]; ?></td>
                        <td class="mdl-data-table__cell--non-numeric clickable">
                            <button id="btn-ap-2" class="mdl-button mdl-js-button mdl-button--icon 
                                mdl-button--colored" onclick="getDetails(this);">
                                <i class="material-icons">info</i>
                            </button>
                            <div class="mdl-tooltip mdl-tooltip--large" for="btn-ap-2"><?=$text_details;?></div>
                            <button type='button' class='open-attach-btn edit mdl-button mdl-js-button mdl-button--icon mdl-button--accent delete-button' id="block-tt" onclick="confirmDeletion(this);">
                                <i class="material-icons">block</i>
                            </button>
                            <div class="mdl-tooltip mdl-tooltip--large" for="block-tt">Deactivate</div>


                            <a href="?route=salesAgent/editSalesAgent&employee_id=<?= $agent_list['employee_id']; ?>">

                            <button id="2" class="mdl-button mdl-js-button mdl-button--icon ">
                                <i class="material-icons">edit</i>
                            </button>
                        </a>
                        <div class="mdl-tooltip" for="2">
                            <?= $text_edit; ?>
                        </div>

                            

                        </td>
                    </tr>
                    <?php }?>
                    <tr><td colspan="8">
                        <?php echo $pagination; ?>
                    </td></tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div id="modal-view" hidden>
    <div class="view-title">
        Agent Details
    </div>
    <div class="view-body">
        <div class="form-content">
            <div>
                <div class="text-right">
                        <button id="print-btn" class="mdl-button mdl-js-button mdl-button--icon mdlbutton--colored edit-button" onclick="window.print()">
                            <i class="material-icons">print</i>
                        </button>
                        <div class="mdl-tooltip mdl-tooltip--large" for="print-btn">Print</div>

                        <!-- <button id="cancel-order" class="mdl-button mdl-js-button mdl-button--icon mdlbutton--colored edit-button" data-order="" onclick="confirmDeletion(this, 1);">
                            <i class="material-icons text-danger">delete</i>
                        </button>
                        <div class="mdl-tooltip mdl-tooltip--large" for="cancel-order">Cancel Order</div> -->
                    </div>

                    <table class="order_details table-striped col-xs-12 col-sm-6">
                            <tr>
                                <td><?php echo $text_agent_id; ?>:</td>
                                <td id="employee_id_m">#</td>
                            </tr>
                            <tr>
                                <td><?=$text_agent_name;?>:</td>
                                <td id="agent_name_m"></td>
                            </tr>
                            <tr>
                                <td><?=$text_email_createsales;?>:</td>
                                <td id="agent_email_m"></td>
                            </tr>
                            
                            
                    </table>
                    <table class="order_details  table-striped col-xs-12 col-sm-6">
                            <tr>
                                <td><?=$text_phone_createsales;?>:</td>
                                <td id="agent_phone_m"></td>
                            </tr>
                            <tr>
                                <td>Address :</td>
                                <td id="agent_address_m"></td>
                            </tr>
                            <tr>
                                <td>City :</td>
                                <td id="agent_city_m"></td>
                            </tr>
                            <tr>
                                <td>Commission Rates</td>
                                <td>
                                    <button class="showCommission btn btn-xs btn-default">Show </button>
                                    <table class="table" hidden>
                                        <tr>
                                            <th>Start</th>
                                            <th>End</th>
                                            <th>Rate</th>
                                        </tr>
                                        <tbody id='commission_rates_m'>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            

                    </table>
                </div>
                <div class="clearfix"></div>
                <hr>
                <table class="mdl-data-table mdl-js-data-table col-xs-12">
                    <thead>
                        <tr>
                            <th class="mdl-data-table__cell--non-numeric"><?= $text_order_number; ?></th>
                            <th class="mdl-data-table__cell--non-numeric"><?= $text_order_date; ?></th>
                            <th class="mdl-data-table__cell--non-numeric"><?= $text_client_name; ?></th>
                            <th class="mdl-data-table__cell--non-numeric"><?= $text_address; ?></th>
                            <th class="mdl-data-table__cell--non-numeric"><?= $text_delivery_address; ?></th>
                            <th class="mdl-data-table__cell--non-numeric"><?= $text_status; ?></th>

                        </tr>
                    </thead>
                    <tbody id="sales_order_body"></tbody>
                </table>
            </div>
        </div>

    </div>



<div  hidden>

    <table>
        <tbody id="sales-template">
            <tr>
                <td class="mdl-data-table__cell--non-numeric __order_number" ></td>
                <td class="mdl-data-table__cell--non-numeric __order_date" ></td>
                <td class="mdl-data-table__cell--non-numeric __client_name" ></td>
                <td class="mdl-data-table__cell--non-numeric __address"></td>
                <td class="mdl-data-table__cell--non-numeric __delivery_address"></td>
                <td class="mdl-data-table__cell--non-numeric __status"></td>
            </tr>
        </tbody>
    </table>

</div>





<script>

    function confirmDeletion(e) {
        $("#modalConfirm .modal-title").html("Confirm Deletion");
        var id = $(e).parent().parent().attr("id");
        $("#modalConfirm .modal-body p").html("Are you sure you want to delete the agent # "+id+"?");
         $("#modalConfirm").modal("show");
         $(".btn-danger").click(function(){
            $.ajax({
            
                url : '?route=salesAgent/deleteAgent&employee_id='+id,
                type : 'GET',
                dataType : 'text',
                beforeSend: function(){$(".mdl-progress").show();},
                complete: function(){$(".mdl-progress").hide();},
                success: function(){
                     $('#t_wrap').load(document.URL +  ' #t_wrap');
                     showSnackbar("Agent has been Deleted");
                }
            })
         });
        //this.
    };


    function getDetails(e) {
        var id = $(e).parent().parent().attr("id");
        $.ajax({
            url : '?route=salesAgent/getAgentDetails&employee_id='+id,
            type : 'GET',
            dataType : 'json',
            success: function(returnData){
                data = returnData.agent_details;
                orderDetails = returnData.order_details;
                order_status = returnData.order_status;
                commission = returnData.commission;
                $("#modal-view > .view-title").html();
                $("#employee_id_m").html("#"+data.employee_id);
                $("#agent_name_m").html(data.username);
                $("#agent_email_m").html(data.email_id);
                $("#agent_address_m").html(data.address);
                $("#agent_phone_m").html(data.phone);
                $("#agent_city_m").html(data.city);
                $("#sales_order_body").html("");

                for (i = 0; i < commission.length; i++) {
                    console.log(commission[i].slab_in);
                    str = "";
                    str += "<tr>";
                    str += "    <td>"+commission[i].slab_in+"&euro;</td>";
                    str += "    <td>"+commission[i].slab_out+"&euro;</td>";
                    str += "    <td>"+commission[i].commission_rate+"%</td>";
                    str += "</tr>"
                    $("#commission_rates_m").append(str);
                }

                for(var i = 0; i < orderDetails.length; i++){
                    var node = $("#sales-template").children().clone();
                    node.children(".__order_number").html(orderDetails[i].order_id);
                    node.children(".__order_date").html(orderDetails[i].order_date);
                    node.children(".__client_name").html(orderDetails[i].name);
                    node.children(".__address").html(orderDetails[i].address);
                    node.children(".__delivery_address").html(orderDetails[i].delivery_other);
                    node.children(".__status").html(order_status[orderDetails[i].order_status].replace(/_/g," "));
                    
                    $("#sales_order_body").append(node);
                }
                
                MDialog.start({},"detail",this,$("#modal-view"));
            }
        });

        

    }

    /*var tableheader = $("#table-head");

    function tableSort() {
        var th = $(this);
        if (th.hasClass("no-sort")) {
            console.log("NO");
            tableheader.children(".sortable").removeClass("mdl-data-table__header--sorted-ascending");
            tableheader.children(".sortable").removeClass("mdl-data-table__header--sorted-descending");
            tableheader.children(".sortable").addClass("mdl-data-table__header");
            tableheader.children(".sortable").addClass("no-sort");
            th.removeClass("no-sort");
            th.removeClass("mdl-data-table__header");
            th.addClass("mdl-data-table__header--sorted-ascending");
            loadItems();
            return;
        }

        if (th.hasClass("mdl-data-table__header--sorted-ascending")) {
            th.removeClass("mdl-data-table__header--sorted-ascending");
            th.addClass("mdl-data-table__header--sorted-descending");
            console.log("ASC");
            loadItems();
            return;
        }

        if (th.hasClass("mdl-data-table__header--sorted-descending")) {
            th.removeClass("mdl-data-table__header--sorted-descending");
            th.addClass("mdl-data-table__header");
            th.addClass("no-sort");
            console.log("DESC");
            loadItems();
        }

    }



    function loadItems() {
        $(".mdl-progress").show();

        var postData = {
            all: 1
        };

        if (tableheader.children(".sortable.mdl-data-table__header--sorted-ascending").length > 0) {
            postData.sort = "ASC";
            postData.sortField = $(tableheader.children(".sortable.mdl-data-table__header--sorted-ascending")[0]).attr("id");
        }
        if (tableheader.children(".sortable.mdl-data-table__header--sorted-descending").length > 0) {
            postData.sort = "DESC";
            postData.sortField = $(tableheader.children(".sortable.mdl-data-table__header--sorted-descending")[0]).attr("id");
        }


        $.ajax({
            url: '?route=salesAgent/getAgentsList&all=1',
            type: 'POST',
            data: postData,
            dataType: 'json',
            success: function (returnData) {
                data = returnData.agentsList;
                console.log(returnData.clause);
                $("#items-body").html("");
                for (var i = 0; i < data.length; i++) {
                    var rowNode = $("#row-template > table > tbody > tr").clone(true);
                    rowNode.children("._agent_id_m").html(data[i].employee_id);
                    rowNode.children("._name_m").html(data[i].username);
                    rowNode.children("._email_m").html(data[i].email_id);
                    rowNode.children("._phone_m").html(data[i].phone);
                    rowNode.children("._address_m").html(data[i].address);
                    
                    //rowNode.children("._quantity").children("input").val();
                    
                    $("#items-body").append(rowNode);
                }

                $(".mdl-progress").hide();
                showSnackbar("Data loaded.");
            },
            error: function () {
                $(".mdl-progress").hide();
                showSnackbar("Can't complete your request.");
            }
        });
    }

    $(document).ready(function () {
        loadItems();
        $("#refresh-data-btn").click(loadItems);
        //tableheader.children(".sortable").click(tableSort);
        //initItemFilterSelectBox();
        //$(".open-attach-btn").click(openAttachment);
        //$("#filter-box").change(filterResults);
    });*/

    $(document).ready(function(){
    $("#close-btn").click(function(){
        $("$this").remove();
    });
    $(".showCommission").click(function(){
        if($(this).hasClass("is-active")){            
            $(this).removeClass("is-active"); 
            $(this).html("Show");
            $('.showCommission + table').attr("hidden", "hidden");   
        }else{
            $(this).addClass("is-active");
            $(this).html("Hide");
            $('.showCommission + table').removeAttr("hidden");     
        }   
    });
});

    

</script>