html, body{
	margin:0;
	padding:0;
}
.col-xs-12, .container, .form-content{
	padding:0 !important;
}
header{
	display: none !important;
	height:0px !important;
}
.table-card{
	display: none;
}
.no-print{
	display: none !important;
	height:0px !important;
}
.breadcrumb{
	display: none;
}
#m-dialog, .m-dialog{
	padding: 0 !important;
	margin: 0 !important;
	top:0px !important;
	overflow: hidden;
	height: 100vh !important;
	min-height: 700px !important;
}
.m-dialog-body{
	padding: 0 !important;
	margin: 0 !important;
	scroll-behavior: smooth;
min-height: 700px !important;
overflow: hidden;
}
.items-list{
	margin-top:20px;
}
.drawer-button{
	display: none;
}
.m-dialog-header{
	display:none;
}
