
html, body {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
}

label {
    font-family: 'Open Sans', sans-serif;
}

.breadcrumb {
    padding: 0px;
    margin-bottom: 20px;
    list-style: none;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 1px;
}

.breadcrumb > li {
    color: #989797;
}

.breadcrumb > li > a {
    color: rgb(0, 0, 0);
}

.breadcrumb > li + li:before {
    padding: 0 5px;
    color: #a7a7a7;
    content: "\2192";
}

.main-layout {
    background-color: #CFD8DC;
}

.main-content {
    margin-top: 10px;
    padding: 0 17px;
/ / padding-left: 7 %;
}

.card-width-inherit {
    width: inherit;
}

.drawer-button {
    font-size: 21px;
    padding: 23px 0px 0px 30px;
    position: absolute;
    cursor: pointer;
    left: -5px;
    top: -1px;
    z-index: 4;
    color: whitesmoke;
}

.drawer {
    min-height: 100%;
    width: 100%;
    background-color: #00000073;
    position: absolute;
    z-index: 5;
    left: calc(-1vw * 100);
    transition: 0.4s;
/ / padding-left: 8 %;
/ / padding-right: 8 %;
    padding-top: 55px;

}

.drawer-close-button {
    color: #fff;
    position: absolute;
    /* right: 0px; */
    padding: 10px;
    font-size: 25px;
    cursor: pointer;
    top: 10px;
    left: 14px;
    z-index: 10;
}

.shown {
    left: 0px;
}

.card-square.mdl-card {
    width: 100%;
    margin-bottom: 25px;
/ / background-color: #3E4EB8;
}

.card-square > .mdl-card__title {
    color: #000;

}

card-view {

}

.mdl-border {
    border-bottom: 1px solid rgba(0, 0, 0, .12);
}

.layout-waterfall .mdl-layout__header-row .mdl-navigation__link:last-of-type {
    padding-right: 0;
}

.mdl-layout__header-row {
    padding-left: 44px;
}

.mdl-layout__drawer {
    display: none;
}

.mdl-grid-s {
    padding-left: 0;
    margin-left: 0;
    padding-right: 0;
    margin-right: 0;
}

.mdl-card-no-padding {
    padding: 0px;
}

.mdl-card-padding {
    padding: 15px;
}

.mdl-progress {
    width: 100%;
}

.mdl-progress > .bufferbar {
    background-image: linear-gradient(to right, rgba(207, 216, 220, 0.7), rgba(207, 216, 220, 0.7)), linear-gradient(to right, rgb(207, 216, 220), rgb(207, 216, 220)) !important;
}

.mdl-progress > .auxbar {
    background-image: linear-gradient(to right, rgba(207, 216, 220, 0.9), rgba(207, 216, 220, 0.9)), linear-gradient(to right, rgb(207, 216, 220), rgb(207, 216, 220)) !important;
}

.mdl-progress > .progressbar {
    background-color: rgb(244, 66, 53) !important;
}

.mdl-navigation__link {
    cursor: pointer;
}

.mdl-navigation__link:hover {
    text-decoration: none;
}

.nav-dropdown-btn {
    font-size: 17px;
    padding-left: 5px;
    cursor: pointer;
}

.fr-flag {
    background-image: url("../images/flag-fr.png");
    background-repeat: no-repeat;
    width: 24px;
    height: 16px;
    background-size: contain;
}

.en-flag {
    background-image: url("../images/flag-en.png");
    background-repeat: no-repeat;
    width: 24px;
    height: 16px;
    background-size: contain;
}

.header-icon {
    margin-left: 22px;
    cursor: pointer;
}

.mdl-menu > a:hover {
    text-decoration: none;
}

.center-margin {
    margin: 0 auto;
    float: none;
}

.table-card {
    width: 100%;
    min-height: 100%;
    padding-right: 0;
    padding-left: 0;
    overflow: visible;
}

.form-card {
    width: 100%;
    /*min-height: 100%;*/
    padding: 0px;
    overflow: visible;
    margin-bottom: 20px;

}

.form-card > form {
    background-color: white;
}

.mdl-textfield {
    padding-top: 9px;
    padding-bottom: 24px;
    width: 100%;
}

.mdl-textfield__label {
    top: 14px;
    font-size: 14px;
}

.mdl-textfield--floating-label > .mdl-textfield__label{
    top:31px;
}


.mdl-textfield--floating-label {
    padding-top: 29px;
}

.md-table {
}

.form-field > label {
    line-height: 33px;
    font-size: 14px;
    font-weight: bold;
    color: #757575;
}

.mdl-data-table > thead {
    background-color: #F5F5F5;
}

.mdl-data-table > thead > tr > th {
    cursor: pointer;
}

.table-header {
    background-color: #F5F5F5;
    /*padding: 23px 7px 10px 7px;*/
    padding: 0px;
    line-height: 0px;
    border: 1px solid rgba(0, 0, 0, .12);
    border-bottom: none;
    font-size: 16px;
}

.table-header > div.header-data, .form-header > div.header-data {
    border-bottom: 1px solid rgba(0, 0, 0, .12);
    margin-bottom: 0px;
    padding-left: 20px;
    padding-bottom: 18px;
    padding-right: 17px;
    padding-top: 18px;
    text-transform: uppercase;
    font-weight: 700;
    color: #00000094

}

.form-header {
    background-color: #F5F5F5;
    /*padding: 23px 7px 10px 7px;*/
    padding: 0px;
    line-height: 0px;
    /*border: 1px solid rgba(0,0,0,.12);*/
    border-bottom: none;
    border-top: 1px solid rgba(0,0,0,.12);
    font-size: 16px;
}

.table-header > h4 {
    border-bottom: 1px solid rgba(0, 0, 0, .12);
    margin-bottom: 0px;
    padding-left: 20px;
    padding-bottom: 18px;
    margin-top: 7px;
    padding-right: 17px;
    text-align: center;
    font-size: 16px;
    padding-top: 18px;
    text-transform: uppercase;
    font-weight: 700;
    color: #00000094
}

.form-header > h4 {
    border-bottom: 1px solid rgba(0, 0, 0, .12);
    margin-bottom: 0px;
    padding-left: 20px;
    padding-bottom: 18px;
    margin-top: 7px;
    padding-right: 17px;
    text-align: center;
    font-size: 16px;
    padding-top: 18px;
    text-transform: uppercase;
    font-weight: 700;
    color: #00000094
}

.table-header > h4 > button > i {
    color: #757575;

}

.child-row {
    -webkit-transition: all 0.4s !important;
    -moz-transition: all 0.4s !important;
    -ms-transition: all 0.4s !important;
    -o-transition: all 0.4s !important;
    transition: all 0.4s !important;
    white-space: normal;
    text-align: left;
}

.child-row > td {
    -webkit-transition: all 0.4s !important;
    -moz-transition: all 0.4s !important;
    -ms-transition: all 0.4s !important;
    -o-transition: all 0.4s !important;
    transition: all 0.4s !important;
    white-space: normal;
    text-align: left;
    padding: 0px !important;

}

.child-row-collapse {
    height: 0px !important;
    padding: 0px !important;
    line-height: 0px !important;
    overflow: hidden;
    border: 0px !important;
}

td.child-row-collapse > div {
    height: 0px;
}

.child-table {
    background-color: #f5f5f5;
    width: 100%;
}

.child-table > tbody > tr {
    height: 33px;
}

.child-table > tbody > tr > th {
    height: 33px;
    line-height: 12px;
}

table.expandable > tbody > tr > td {
    border-bottom: 0px !important;
}

.form-field {
    margin-top: 13px;
}

.form-field:last-child {
    margin-top: 14px;
    margin-bottom: 35px;
}

.btn-grp {
    display: inline-flex;
    list-style-type: none;
    padding: unset;
}

.date-iterator {
    display: inline-flex;
    list-style-type: none;
    padding: unset;
}

.date-iterator > .data {
    width: 150px;
    text-align: center;
    background-color: white;
    line-height: 36px;
}

.date-iterator > li > button, .btn-grp > li > button {
    border-radius: 0px;
    box-shadow: none;
}

.date-iterator > li:last-child > button, .btn-grp > li:last-child > button {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;

}

.date-iterator > li:first-child > button, .btn-grp > li:first-child > button {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.btn-grp > li > button:hover {
    background-color: #aaa;
}

.btn-grp > li {
    border-left: 1px solid #aaa;

}

.btn-grp > li:first-child {
    border-left: none;
}

.details tbody tr td {
    padding: 10px 10px 10px 10px;

}

.head {
    color: #727272;
}

.table-footer {
    background-color: #F5F5F5;
    /*padding: 23px 7px 10px 7px;*/
    padding: 0px;
    line-height: 0px;
    border: 1px solid rgba(0, 0, 0, .12);
    border-bottom: none;
}

.icon {
    margin-top: 20px;
    margin-right: 20px;
}

#m-dialog {
    display: none;
    width: 100%;
    height: 100%;
    /*min-height: 100%;*/
    background-color: #fff;
    position: fixed;
    z-index: 99;
    top: -1280px;
    transition: 700ms cubic-bezier(0.4, 0, 0.2, 1);
}

.m-dialog-header {
    width: 100%;
    height: 60px;
    background-color: #2A4E6C;
    padding: 15px;

}

.m-dialog-footer {
    width: 100%;
    height: 60px;
    background-color: #0f0f0f;
    padding: 15px;
    position: absolute;
    /*bottom: 0px;*/
}

.m-dialog-header > button {
    color: white;
    height: 32px;
    float: right;
}

.m-dialog-header > button > i {
    color: white;
    height: 32px;
}

.m-dialog-body {
    width: 100%;
    height: 100%;
    overflow: scroll;
    overflow-x: auto;
    padding: 10px;
}

.m-dialog-title {
    font-size: 24px;
    line-height: 37px;
    color: white;
    margin-left: 38px;
}

.form-content {
    padding: 29px 19px;
}

.mdl-card__actions.mdl-card--border {
    padding: 20px 57px;
}




.selectize-dropdown-content > div > .label {
    color: #000;
}

.selectize-dropdown-content > div > .caption {
    color: #000;
    display: block;
}


.selectize-dropdown-content > div.active > .label {
    color: #fff;
}

.selectize-dropdown-content > div.active > .caption {
    color: #fff;
}

.selectize-dropdown-content > .optgroup > .active {
    background-color: #1976D2;
    color: #FFFFFF;
}

.selectize-control .selectize-input, .selectize-control.multi .selectize-input{
    background-color: white;
    background-image: none;
    border-radius: 0px;
    border: none;
    box-shadow: none;
    padding-left: 21px;
    border-bottom: 1px solid rgba(0, 0, 0, .12);
    height: 38px;
}

.selectize-control .selectize-input.dropdown-active, .selectize-control.multi .selectize-input.dropdown-active {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    background-color: white;

}

.selectize-dropdown {
    border: none;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.selectize-dropdown-content > .active {
    background-color: #1976D2;
    color: #FFFFFF;
}


.table-header > .selectize-control > .selectize-input {
    background-image: linear-gradient(to bottom, #f5f5f5, #f5f5f5);
    border-radius: 0px;
    border: none;
    box-shadow: none;
    padding-top: 11px!important;
    height: 56px;
    padding-left: 50px !important;
    line-height: 36px;

}

.table-header > .selectize-control .selectize-input:after {
    margin-right: 12px;
    top: 57%;

}

.table-header > .selectize-control .selectize-input:before {
    font-family: "Material Icons";
    content: "\e8b6";
    font-style: normal;
    color: #888888;
    font-size: 22px;
    position: absolute;
    left: 13px;
}

.table-header > .selectize-control, .selectize-input {
    height: 56px;
}

.table-header > .selectize-control .selectize-input input {
    font-size: 16px;
    font-style: italic;
    padding-left: 40px;
}

.floating-action-button {
    position: fixed;
    z-index: 50;
    bottom: 30px;
    right: 39px;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .14), 0 2px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.login {
    padding: 20px 8px !important;
}

.login-form {
    padding: 13px 50px;
}

.head {
    font-weight: 700;
    text-align: left;
    color: #4a4a4a;
}

.table-footer {
    background-color: #F5F5F5;
    /*padding: 23px 7px 10px 7px;*/
    padding: 0px;
    line-height: 0px;
    border: 1px solid rgba(0, 0, 0, .12);
    border-bottom: none;
}

.icon {
    margin-top: 20px;
    margin-right: 20px;
}

.donut-label {
    position: relative;
    top: 39%;
    font-size: 25px;
    font-weight: 600;
    color: #888888;
}

.donut-heading {
    font-size: 15px;
    font-weight: 700;
    padding-top: 18px;
}

#login h4 {
    font-size: 16px;
}

.notification-text-h {
    font-weight: 700;
}

.notification-time {
    font-size: 12px;
    color: #d9d9d9;
}

.menu-item-wrapper {
    width: 300px;
}

.notification {
    padding-top: 0px;
    padding-bottom: 0px;
}

.notification > .mdl-menu__item {
    height: 68px;
    line-height: 30px;
    border-bottom: 1px solid #d4d4d4;
}

.notification > .mdl-menu__item > a {
    color: black;
    text-decoration: none;
}

.notification > .mdl-menu__item:last-child {
    background-color: #e2e2e2;
    height: 32px;
}

.transition {
    transition: all 700ms cubic-bezier(0.4, 0, 0.2, 1);
}

.out {
    height: 0px;
    overflow: hidden;
    opacity: 0;
}

.upload {
    text-align: center;
}

.details {
    text-align: center;
}

.details img {
    width: 200px;

}



.total {
    margin: 8px 20px 16px !important;
}

.view-body h4 small {
    color: #000;
    font-size: 16px;
    font-weight: 700;
}

.currency-euro:before {
    font-family: "Material Icons";
    content: "\E926";
    vertical-align: bottom;
    padding-right: 3px;
}

.cancel-button:hover {
    color: #f44235;
    cursor: pointer;

}

.approve {
    margin-left: 20px;
}

.overview-card {
    color: white;
}

.overview-card.text-black a {
    color: black;
}

.overview-card > h5 {
    margin: 0px;
    padding: 17px;
    background-color: inherit;
    color: inherit;
}

.overview-card > .card-content {
    background-color: inherit;
    color: inherit;
}

.overview-card > .card-content > ul {
    background-color: inherit;
    color: inherit;
}

.overview-card > .card-content > ul > li {
    background-color: inherit;
    color: inherit;
}

.overview-card > .card-content > ul > li > a {
    color: #000000a3;

    text-decoration: none;
    font-weight: 500;
}

.overview-card > .card-content > ul > li:hover {
    background-color: rgba(0, 0, 0, 0.06);
}

#login-body{
    background: rgba(55,64,70,1);
    padding-top: 5%;
    font-family: 'Open Sans', sans-serif;
}

.login-card{
    background: #fff;
    border-radius: 23px;

}

.login-form > .mdl-textfield > .mdl-textfield__input{
    /*border-bottom: 1px solid rgba(255, 255, 255, 0.15);*/
    font-family: 'Open Sans', sans-serif;
}

.login-form > .mdl-textfield > .mdl-textfield__label{
    font-family: 'Open Sans', sans-serif;
}

/*.login-form > .mdl-textfield > .mdl-textfield__label:after{*/
/*background-color: #fff;*/
/*}*/

.login-card > .form-header{
    background-color: transparent;
}

.login-card > .form-header > h4{
    color: #1976d1;
}
.login-form>.form-field>button{
    /*min-width: 100%;*/
    margin : 0 auto;
    float: none;
    display: block;
    /*margin-bottom: 60px;*/
    background-color: #1976D1;
    font-family: 'Open Sans', sans-serif;
    width: 105px;
    height: 44px;
}
.login-title{
    font-variant: petite-caps;
    color: white;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.login-other-text{
    color: white;
    font-family: 'Open Sans', sans-serif;
    margin-left: 10px;
}

.login-form>.error-text{
    text-align: center;
    color: #ff5252;
    margin-top: 14px;
}
.login-subtitle{
    text-align: center;
    color: #1976d1;
    margin-bottom: 0px;
}


    .overview-card.text-black a {
        color: black;
    }

    .overview-card > h5 {
        margin: 0px;
        padding: 17px;
        background-color: inherit;
        color: inherit;
    }
    .overview-card> .card-content {
        background-color: inherit;
        color: inherit;
    }
    .overview-card> .card-content > ul{
        background-color: inherit;
        color: inherit;
    }

    .overview-card> .card-content > ul > li {
        background-color: inherit;
        color: inherit;
    }

    .overview-card> .card-content > ul > li > a {
        color: #000000a3;

        text-decoration: none;
        font-weight: 500;
    }
    .overview-card> .card-content > ul > li:hover{
        background-color: rgba(0, 0, 0, 0.06);
    }

    .discount-table{
        padding-left: 25px;
    }
   .discount-table > table > thead > tr > th{
    font-size: 14px;
    color:#757575;
    padding-left: 30px;

   }
   .discount-table > table > tbody > tr > td{
    font-size: 14px;
    padding-left: 30px;
   }
    .add-vendor{
        color:#757575;
        font-size: 14px;
    }

    .discount{
        font-size: 14px;
    }

.message-page-icons{
    cursor: default;
    padding: 19px;
    font-size: 77px;
    padding-right: 35px;
    border-radius: 50%;
    color: #ff4545;
    background-color: white;
}



tr.message-data.seen{
    background-color: #f9f9f9;
}

tr.message-data.unseen{

}


td.message-subject{
    width: 80%;
    text-align: left;
}

td.message-receiver{
    width: 10%;
    text-align: left;
    text-transform: capitalize;
    font-weight: 600;
}

td.message-time{
    width: 10%;
    text-align: right;
}

tr.message-data.unseen > td.message-time{

    font-weight: 600;
}

tr.message-data.seen > td.message-time{
    font-weight: 200;
}

.error_text{
    font-size: 13px;
    color: #D50000;
}

#sender-detail{
    margin-left: 0px;
}
.image{
    padding-right: 20px;
}


.contact-detail{
    color: #757575;

}


.mdl-data-table__cell--non-numeric > input[type="text"], .mdl-data-table__cell--non-numeric > input[type="number"]{
    border: none;
    text-align: center;
    width: 50px;
    background-color: #ffffffd1;
    border: 1px solid #00000029;
}


.mdl-data-table__header--sorted-ascending{
    border-right: 1px solid #c5c5c5;
    text-align: center !important;
}


.mdl-data-table__header--sorted-descending{
    border-right: 1px solid #c5c5c5;
    text-align: center !important;
}

.mdl-data-table__header{
    border-right: 1px solid #c5c5c5;
    text-align: center !important;
}

.no-padding{
    padding: 0px;
}

th.mdl-data-table__header.sortable.no-sort:hover{
    color: rgba(0, 0, 0, 0.82);
}


.selectize-control.multi .selectize-input [data-value] {
    background-image: none;
    background-color: #333333d9;
    border: none;
    border-radius: 33px;
    /* padding-top: 4px; */
    /* height: 27px; */
    line-height: 32px;
    text-shadow: none;
    padding-left: 14px;
    box-shadow: none;
}


.selectize-control.multi .selectize-input [data-value].active {
    background-image: none;
    background-color: #333333d9;
    border: none;
    border-radius: 33px;
    /* padding-top: 4px; */
    /* height: 27px; */
    line-height: 32px;
    text-shadow: none;
    padding-left: 14px;
    box-shadow: none;
}

.selectize-control.plugin-remove_button [data-value] .remove{
    border:none;
    right: 3px;
}


.mdl-data-table__cell--non-numeric.mdl-data-table__cell--non-numeric {
    text-align: center;
    border-right: 1px solid #e0e0e0;
}

.danger {
    /*border-bottom: 2px solid #FF5252;*/
    background-color: #f44336;
    font-weight: 600;
}

.warning {
    /*border-bottom: 2px solid #ff9a52;*/
    background-color: #ff9800;
    font-weight: 600;
}

.info {
    /*border-bottom: 2px solid #2196f3;*/
    background-color: #03a9f4;
    font-weight: 600;
}

.good {
    /*border-bottom: 2px solid #2cda00;*/
    background-color: #4caf50;
    font-weight: 600;
}

.address > div > label{
    color:#757575;
    font-size: 14px;
}
.address > div > span{
    
    font-size: 13px;
}
.client-type > div > label{
    color:#757575;
    font-size: 14px;
    margin:12px;
}
#add-items-button{
    margin: 15px 0px 0px 25px;
}
.form-header label{
    color: #757575;
    margin: 16px 0px 0px 10px;
    font-size: 14px;
}
.send-mail-checkbox{
    margin: 8px;
    padding: 0;
    margin-left: 27px;
    width: inherit;

}
.order_item{
    background-color: #EEEEEE;
}

.divider{
    border-bottom: 1px solid #b5b5b5;
    clear: both;
    padding-top: 30px;
}
.form-field > .radio-btn{
    line-height: 25px;
}
/*#order_id_m{
    font-size: 34px;
}*/
.broken_details{
    font-size:14px;
    color:#000;
    font-weight: bold;
}
.__order_status{
    text-transform: capitalize;
}
.selectize-control.multi .selectize-input [data-value] {
    background-image: none;
    background-color: #333333d9;
    border: none;
    border-radius: 33px;
    /* padding-top: 4px; */
    /* height: 27px; */
    line-height: 32px;
    text-shadow: none;
    padding-left: 14px;
    box-shadow: none;
}
.third_party{
    top:-5px;
}
.field{
    color: #757575;
    font-size: 14px;
    font-weight: bold;
}
.order_item, .order_item:hover{
    background-color: aliceblue !important;
}
.total_amount{
    color:#34A853;
}
.purchase_amount{
    color:#34A853;
}
.return_amount{
    color:#EA4335;
}
.no-item{
    color:#aaa !important;
    cursor: not-allowed;
}
.payment-queue h3{
        font-size: 15px !important;
    color: #222;
    margin: 0;
    padding: 0 15px;
    font-weight: bold;
}
.order_details tr td{
    padding:5px 10px;
}
.order_details tr td:first-child{
    font-size: 13px;
    width: 190px;
}

.order_details tr td:last-child{
    color: #03081b;
    font-weight: bold;
    font-size: 13px;
}
.items-list{
    margin-top:20px;
}
input, select{
    border-radius: 5px;
    border:1px solid #aaa;
}
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: aliceblue;
}
.mdl-button--green{
    color:#58897d;
}