<div class="center-margin col-xs-12">
    <div class="table-card mdl-card  mdl-shadow--2dp col-xs-12">

        <div class="table-header">
            <select name="vendor_name" class="field selectize col-xs-12 col-sm-4">
                <option value="">Filter By Vendors</option>
                <option value="s">Lorem ipsum.</option>
                <option value="ss">Excepturi, quibusdam!</option>
                <option value="sss">Dolorem, praesentium?</option>
            </select>
            <select name="vendor_name" class="field selectize col-xs-12 col-sm-4">
                <option value="">Filter By Order Nubmber</option>
                <option value="s">Lorem ipsum.</option>
                <option value="ss">Excepturi, quibusdam!</option>
                <option value="sss">Dolorem, praesentium?</option>
            </select>

        </div>
        <table class="mdl-data-table mdl-js-data-table  md-table col-xs-12 expandable" id="table">
            <thead>
            <tr>
                <th class="mdl-data-table__cell--non-numeric"><?=$text_po;?></th>
                <th class="mdl-data-table__cell--non-numeric"><?=$text_order_date;?></th>
                <th class="mdl-data-table__cell--non-numeric"><?=$text_vendor;?></th>
                <th class="mdl-data-table__cell--non-numeric"><?=$text_vendor_address;?></th>
                <th class="mdl-data-table__cell--non-numeric"><?=$text_delivery_date;?></th>
                <th class="mdl-data-table__cell--non-numeric"><?=$text_payment_type;?></th>
                <th class="mdl-data-table__cell--non-numeric"><?=$text_person_responsible;?></th>
                <th class="mdl-data-table__cell--non-numeric"><?=$text_delivery_address;?></th>
                <th class="mdl-data-table__cell--non-numeric"><?=$text_purchaser;?></th>
            </tr>
            </thead>
            <tbody>
            <tr class="parent-row" id="row-1">
                <td class="mdl-data-table__cell--non-numeric">12345</td>
                <td class="mdl-data-table__cell--non-numeric"></td>
                <td class="mdl-data-table__cell--non-numeric">MAC</td>
                <td class="mdl-data-table__cell--non-numeric">Address</td>
                <td class="mdl-data-table__cell--non-numeric">12/12/2017</td>
                <td class="mdl-data-table__cell--non-numeric">Cheque</td>
                <td class="mdl-data-table__cell--non-numeric">John Dreamer</td>
                <td class="mdl-data-table__cell--non-numeric">Florence</td>
                <td class="mdl-data-table__cell--non-numeric">Paul Newmann</td>
                
            </tr>
            <tr class="child-row child-row-collapse" for="row-1">
                <td class="child-row-collapse" colspan="10">
                    <div>
                        <table class="child-table ">
                            <tr>
                                <th class="mdl-data-table__cell--non-numeric"><?=$text_item_id;?></th>
                                <th class="mdl-data-table__cell--non-numeric"><?=$text_item_name;?></th>
                                <th class="mdl-data-table__cell--non-numeric"><?=$text_brand_name;?></th>
                                <th class="mdl-data-table__cell--non-numeric"><?=$text_discount_rate;?></th>
                            </tr>
                            <tr>
                                <td class="mdl-data-table__cell--non-numeric">55</td>
                                <td class="mdl-data-table__cell--non-numeric">2555</td>
                                <td class="mdl-data-table__cell--non-numeric">3%</td>
                                <td class="mdl-data-table__cell--non-numeric">2%</td>
                            </tr>
                            <tr>
                                <td class="mdl-data-table__cell--non-numeric">55</td>
                                <td class="mdl-data-table__cell--non-numeric">2555</td>
                                <td class="mdl-data-table__cell--non-numeric">3%</td>
                                <td class="mdl-data-table__cell--non-numeric">2%</td>
                            </tr>
                            <tr>
                                <td class="mdl-data-table__cell--non-numeric">55</td>
                                <td class="mdl-data-table__cell--non-numeric">2555</td>
                                <td class="mdl-data-table__cell--non-numeric">3%</td>
                                <td class="mdl-data-table__cell--non-numeric">2%</td>
                            </tr>

                        </table>
                    </div>
                </td>
            </tr>



            </tbody>
        </table>
    </div>
</div>