


<div class="center-margin col-xs-6">
    <form>
        <div class="form-card mdl-card  mdl-shadow--2dp col-xs-6">
            <div class="form-header">
                <h4><?=$text_title;?></h4>
            </div>


            <div class="form-content">
                <div class="form-field col-xs-12">
                    <label class="col-md-4"><?=$text_current_stock;?></label>
                    <div class="col-sm-8">
                        <div class="mdl-textfield mdl-js-textfield">
                            <input class="mdl-textfield__input" type="text" id="sample1">
                            <label class="mdl-textfield__label" for="sample1"></label>
                        </div>
                    </div>
                </div>

                <div class="form-field col-xs-12">
                    <label class="col-md-4"><?=$text_return_stock;?></label>
                    <div class="col-sm-8">
                        <div class="mdl-textfield mdl-js-textfield">
                            <input class="mdl-textfield__input" type="text" id="sample1">
                            <label class="mdl-textfield__label" for="sample1"></label>
                        </div>
                    </div>
                </div>

                <div class="form-field col-xs-12">
                    <label class="col-md-4"><?=$text_purchase_order;?></label>
                    <div class="col-sm-8">
                        <div class="mdl-textfield mdl-js-textfield">
                            <input class="mdl-textfield__input" type="text" id="sample1">
                            <label class="mdl-textfield__label" for="sample1"></label>
                        </div>
                    </div>
                </div>

                <div class="form-field col-xs-12">
                    <label class="col-md-4"><?=$text_dispatch_order;?></label>
                    <div class="col-sm-8">
                        <div class="mdl-textfield mdl-js-textfield">
                            <input class="mdl-textfield__input" type="text" id="sample1">
                            <label class="mdl-textfield__label" for="sample1"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mdl-card__actions mdl-card--border">

                <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--primary pull-right">
                    <?=$text_submit;?>
                </button>
            </div>
    </form>

</div>


