<style>

    .calender-con{
        padding:20px;
        background-color: #fff;
    }

    .button-con{
        padding-right: 20px;
        padding-left: 20px;
    }

    td.fc-day:hover {
        background-color: #0028730f;
    }

    td.fc-today{
        background-color: #c31b1d12;
    }

    td.fc-past {
        background-color: #00000003;
    }

    th.fc-day-header {
        background-color: #e1f1ff;
        padding: 6px;
        font-size: larger;
    }

    .fc-event{
        background-color: #002873;
        padding: 2px;
        font-size: 12px;
        border-color: #002873;

    }

    .fc-event:hover{
        border-color: #003ba9;
        background-color: #003ba9;

    }

    span.fc-day-number {
        font-size: large;
    }

    .fc-today > .fc-day-number{
        font-weight: bold;
    }

    .fc-state-active {
        background-color: #c31b1d;
        color: white;
    }

    .calender-card{
        width: 100%;
        height: 100%;
    }


</style>


<div class=" mdl-card calender-card calender-con  mdl-shadow--2dp">
    <div id='calendar'></div>
</div>

<script>

    function onDayClick(){

    }

    function onEventClick(){

    }

    function onMouseOverEvent() {

    }

    function onMouseOutEvent(){

    }

    $(document).ready(function() {
        $('#calendar').fullCalendar({
            dayClick: onDayClick,
            eventClick : onEventClick,
            header: {
                left: 'prev,next, today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay,listWeek'
            },
            views: {
                listWeek: { buttonText: 'list week' }
            },

            default: 'bootstrap3',
            aspectRatio : 2.0,
            eventMouseover : onMouseOverEvent,
            eventMouseout : onMouseOutEvent
        });
    });



</script>