
<div class=" center-margin col-xs-12">
    <form method="post" action="?route=return/create">
        <div class="form-card mdl-card  mdl-shadow--2dp col-xs-12">
            <div class="form-header">
                <h4><?=$text_heading;?></h4>
            </div>
        <div class="form-content">
            <div class="col-xs-12">

                <div class="clearfix"></div>
               <table class="order_details table-striped col-xs-12 col-sm-6">
                            <tr>
                                <td><?=$text_return_date;?>:</td>
                                <td id="order_date_m" class=" <?php if(isset($error_reason)){echo 'is-invalid';}?>">
                                    <input class="" type="date" id="rdate" name="return_date" <?php if(isset($return_date)) echo 'value="'.$return_date.'"'; else ?> value="<?php echo date("Y-m-d", time()); ?>" min="<?php echo date("Y-m-d", time()); ?>" >
                                    <span class="text-danger"><?php echo (isset($error_return_date)) ? $error_return_date : ""; ?></span>
                                </td>
                            </tr>
                            <tr>
                                <td><?=$text_vendor_name;?>:</td>
                                <td id="company_name_m">
                                    <select name="vendor_name" class="<?php if(isset($error_vendor_name)){echo 'is-invalid';}?>" >
                                        <option value="0">Select Vendor</option>
                                        <?php foreach ($vendors as $vendor) {?>
                                        <option value="<?php echo $vendor['vendor_id'] ?>" <?php if(isset($vendor_name) && $vendor_name == $vendor['vendor_id']) echo "selected"; ?>><?php echo $vendor['company_name']; ?></option>
                                            <?php }?>
                                    </select>
                                    <span class="text-danger"><?php echo (isset($error_vendor_name)) ? $error_vendor_name : ""; ?></span>
                                </td>
                            </tr>
                            <tr>
                                <td>Return Reason:</td>
                                <td id="return_reason_m" class="<?php if(isset($error_reason)){echo 'is-invalid';}?>">
                                    <select name="reason" class="" >
                                        <option value="0">Select Reason</option>
                                        <?php foreach ($reasons as $reas) {?>
                                        <option value="<?php echo $reas['return_reason_id'] ?>" <?php if(isset($reason) && $reason == $reas['return_reason_id']) echo "selected"; ?>><?php echo $reas['title']; ?></option>
                                            <?php }?>
                                    </select>
                                    <span class="text-danger"><?php echo (isset($error_reason)) ? $error_reason : ""; ?></span>

                                </td>
                            </tr>
                            
                    </table>
                    <table class="order_details  table-striped col-xs-12 col-sm-6">

                            <tr>
                                <td>Person Responsible:</td>
                                <td id="person_responsible_m"> <input type="text" name="person_responsible"> </td>
                            </tr>
                            <tr>
                                <td><?=$text_description;?>:</td>
                                <td id="description_m">
                                    <textarea class="form-control"  id="sample4" name="description"><?php if(isset($description)) echo $description; ?></textarea>
                                </td>
                            </tr>
                            <!-- <tr>
                                <td>HT:</td>
                                <td><span id="htt_m" class="text-success">0 &euro;</span></td>
                            </tr>
                            <tr>
                                <td>TVA:</td>
                                <td><span id="tva_m" class="text-danger">20 %</span></td>
                            </tr>
                            <tr>
                                <td> <?=$text_grand_total;?>:</td>
                                <td class="text-danger"><span id="ttc_m" class="text-danger">0 &euro;</span></td>
                            </tr> -->

                    </table>

                        
            </div>
            <div class="clearfix"></div>
            <hr>

            </div>
        </div>
<div class="clearfix"></div>
            <div class="table-header transition out">
                <h4><?=$text_select_item;?>
                    <!-- <button class="mdl-button mdl-js-button mdl-button--icon pull-right">
                        <i class="material-icons">refresh</i>
                    </button> --></h4>
                    <?php if(isset($error_selected_item)): ?> 
                     <div class="well text-danger text-center"><?php echo $error_selected_item ?></div>
                    <?php endif; ?>
            </div>


<div class="form-card mdl-card  mdl-shadow--2dp col-xs-12">
    <div class="form-content">
            
            <table class="mdl-data-table mdl-js-data-table  md-table col-xs-12">
                <thead>
                    <tr>
                        <th></th>
                        <th class="mdl-data-table__cell--non-numeric"><?=$text_item_id;?></th>
                        <th class="mdl-data-table__cell--non-numeric"><?=$text_item_name;?></th>
                        <th class="mdl-data-table__cell--non-numeric"><?=$text_brand_name;?></th>
                        <th class="mdl-data-table__cell--non-numeric">Buy Rate</th>
                        <th class="mdl-data-table__cell--non-numeric">Quantity</th>
                        <th class="mdl-data-table__cell--non-numeric">Total</th>
                    </tr>
                </thead>
                <tbody id="item-table-body">
                </tbody>
            </table>
<div class="clearfix"></div>

            <div class="mdl-card__actions mdl-card--border">

                <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--primary pull-right">
                    <?=$text_submit;?>
                </button>
                <button type="reset" class="mdl-button mdl-js-button mdl-button--accent pull-right">
                    <?=$text_reset;?>
                </button>
            </div>


            </div>


    </form>
</div>

    <table class="mdl-data-table mdl-js-data-table  md-table col-xs-12 hidden ">
        <tbody id = "items-template">
            <tr class="parent-row" id="">
                <td><input type="checkbox" id="" name="selected_item[]" value="" class="selectbox"></td>
                <td class="mdl-data-table__cell--non-numeric _item_id"></td>
                <td class="mdl-data-table__cell--non-numeric _item_name"></td>
                <td class="mdl-data-table__cell--non-numeric _brand_name"></td>
                <td class="mdl-data-table__cell--non-numeric _buy_rate"><input type="text" size="3" name="return_rate"></td>
                <td class="mdl-data-table__cell--non-numeric _quantity"></td>
                <td class="mdl-data-table__cell--non-numeric _total">&euro;</td>
            </tr>
        </tbody>
    </table>

<?php $item=array(); if(isset($selected_item)) { foreach($selected_item as $sitm) {$item[] = $sitm;} } ?>
<?php $quans=array(); if(isset($quantity)) $quans = $quantity; ?>
<script>
var ht_hold = {};
        function calcOut(e){
            id = $(e).parent().parent().attr("id");
            quantity = $(e).val();
            buy_rate_fetch = $("#"+id+" ._buy_rate input").val();
            total = buy_rate_fetch*quantity;
            ht_hold[id] = total;
            $("#"+id+" ._total").html(total);
            totalUp();
        }
        function totalUp(){
            ht = 0; 
             $.each(ht_hold, function(k,v){
               ht += v; 
            });
             $("#htt_m").html(ht + "&euro;");
            ttc = ht + (ht*20)/100
            $("#ttc_m").html(ttc + "&euro;");
            
        }
        // function calcOut(e){
        //     id = $(e).parent().parent().attr("id");
        //     quantity = $(e).val();
        //     buy_rate_fetch = $("#"+id+" ._buy_rate").html();
        //     total = buy_rate_fetch*quantity;
        //     $("#"+id+" ._total").html(total);
        // }

    function loadItems() {
         var id = $("select[name='vendor_name']").val();
        if(id) {            
            $(".transition").removeClass("out");
            $.ajax({
                url : '?route=return/getOrderDetails&vendor_id='+id,
                type : 'GET',
                dataType : 'json',
                beforeSend: function(){$(".mdl-progress").show();},
                complete: function(){ $(".mdl-progress").hide(); showSnackbar("Vendor items loaded."); },
                success: function(returnData){
                    var orderDetails = returnData.order_details;
                    itemList = returnData.item_details;
                    $("#item-table-body").html("");
                    for(var i = 0; i < itemList.length; i++){
                        var node = $("#items-template").children().clone();
                        console.log(itemList);
                        node.attr("id", "row-"+i);
                        node.children().children(".selectbox").val(itemList[i].item_id);
                        node.children().children(".selectbox").attr("id","check"+itemList[i].item_id);
                        node.children("._item_id").html(itemList[i].item_id);
                        node.children("._item_name").html(itemList[i].item_name);
                        node.children("._brand_name").html(itemList[i].brand_name);
                        node.children("._buy_rate").children('input').val(itemList[i].purchase_rate);
                        node.children("._buy_rate").children('input').attr("name", "return_rate["+itemList[i].item_id+"]");
                        node.children("._quantity").html("<input type='number' class='_quantity_input' size='3' class='text-center' name='quantity["+itemList[i].item_id+"]' min='0' value='0' onchange='calcOut(this);'>");
                        node.children("._total").prepend(itemList[i].ttc);
                        $("#item-table-body").append(node);
                    }
                    if(id){
                            quans = <?php echo json_encode($quans); ?>;
                            checkedItems = <?php echo json_encode($item); ?>;
                            $.each(checkedItems, function(k,v){
                                $("#check"+v).attr("checked","checked");
                                $("input[name='quantity["+v+"]']").val(quans[v]);
                                quanNode = $("input[name='quantity["+v+"]']");
                                calcOut(quanNode);
                            });
                        }
                }
            });
        }else {

            $(".transition").addClass("out");
        }
    };

    $(".po-list > tbody > tr").click(function(){

        var id = $("select[name='vendor_name']").val();
        if(!id) {
                alert("Please select a vendor");
                return;
            }

     
    });
   $(document).ready(function(){
        $("select[name='vendor_name']").change(loadItems);
        loadItems();
        
    });
    $('form').submit(function(e){
        itemsNode = $('form input:checked');
        if(itemsNode.length == 0){
            alert("Please select items for return.");
            e.preventDefault();
        }
    })
</script>
