<style>

    .notification-card {
        padding: 0px;
        height: fit-content;
    }

    .notification-card > .card-title {
        margin: 0px;
        padding: 27px;
        background-color: #1976D2;
        color: white;
    }

    .notification-card > .card-title > small {
        color: white;
    }

    .notification-tile > .card-content {
        height: 12px;
        padding: 0px 24px;
        color: #0000008a;
    }

    .message-card {
        max-height: 300px;
    }

    .message-card > .card-content {
        height: 136px;
        padding: 0 25px;
    }

    .message-card > .card-content > h6 {
        margin: 0px;
        font-weight: 700;
    }

    .card-title {
        padding: 0px 30px;
    }

    .card-action {
        padding: 12px;
    }

    .notification-tile {
        height: 100px;
        width: 100%;
        border-bottom: 1px solid #EBEBEB;
        transition: 0.4s;
    }

    .notification-tile.expand {
        min-height: fit-content;
    }

    .notifications {
        height: 0px;
        min-height: 0px;
        overflow: hidden;
        transition: 0.4s;
        padding: 0px 13px;
    }

    .notifications.expand {
        min-height: fit-content !important;
    }

    .notification-tile > .title {
        margin: 0px !important;
        padding: 15px 22px;
    }

    .notification-tile:hover {
        background-color: #f3f3f3;
    }

    .notification-tile > .action {
        padding: 3px 15px;
        display: flow-root;

    }




    .overview-card {
        color: white;
    }

    .overview-card.text-black {
        color: black;
    }

    .overview-card > h5 {
        margin: 0px;
        padding: 17px;
        background-color: inherit;
        color: inherit;
        border-bottom: 1px solid #0000001f;
    }
    .overview-card> .card-content {
        background-color: inherit;
        color: inherit;
    }
    .overview-card> .card-content > ul{
        background-color: inherit;
        color: inherit;
    }

    .overview-card> .card-content > ul > li{
        background-color: inherit;
        color: inherit;
    }
    .overview-card> .card-content > ul > li:hover{
        background-color: rgba(0, 0, 0, 0.06);
    }

</style>

<div class="mdl-grid">

    <canvas  id="sales-report" height="100px"></canvas>
    </div>
<!-- 
    <div class="mdl-cell mdl-cell--6-col mdl-grid">
        <div class="notification-card mdl-card mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--12-col">
            <h4 class="card-title">Notifications
                <small>All</small>
            </h4>
            <div class="notification-tile" style="border-left:3px solid #3F51B5">
                <h5 class="title"><span>Minimum Stock Alert</span>
                    <small class="pull-right">Just now</small>
                </h5>
                <div class="card-content">2 new notifcations.</div>
                <div class="notifications">
                    <ul class="demo-list-item mdl-list">
                        <li class="mdl-list__item">
                            <span class="mdl-list__item-primary-content">
                                Item Name - Vendor name
                            </span>
                            <span class="mdl-list__item-primary-content">
                                20
                            </span>
                        </li>
                        <li class="mdl-list__item">
                            <span class="mdl-list__item-primary-content">
                                Item Name - Vendor name
                            </span>
                            <span class="mdl-list__item-primary-content">
                                20
                            </span>
                        </li>
                    </ul>
                </div>
                <div class="action"><span></span>
                    <button class="mdl-button mdl-js-button mdl-button--icon pull-right tile-expand-btn">
                        <i class="material-icons">expand_more</i>
                    </button>
                </div>
            </div>
            <div class="notification-tile" style="border-left:3px solid #8BC34A">
                <h5 class="title"><span>Stock Update</span>
                    <small class="pull-right">2 Mins ago</small>
                </h5>
                <div class="card-content">2 new notifcations.</div>
                <div class="action"><span></span>
                    <button class="mdl-button mdl-js-button mdl-button--icon pull-right tile-expand-btn">
                        <i class="material-icons">expand_more</i>
                    </button>
                </div>
            </div>
            <div class="notification-tile" style="border-left:3px solid #FF9800">
                <h5 class="title"><span>Order Dispatch</span>
                    <small class="pull-right">An Hour ago</small>
                </h5>
                <div class="card-content">4 new notifcations.</div>
                <div class="action"><span></span>
                    <button class="mdl-button mdl-js-button mdl-button--icon pull-right tile-expand-btn">
                        <i class="material-icons">expand_more</i>
                    </button>
                </div>
            </div>
            <div class="notification-tile" style="border-left:3px solid #FF5722">
                <h5 class="title"><span>New Item Alert</span>
                    <small class="pull-right">1 Day ago</small>
                </h5>
                <div class="card-content">3 new notifcations.</div>
                <div class="action"><span></span>
                    <button class="mdl-button mdl-js-button mdl-button--icon pull-right tile-expand-btn">
                        <i class="material-icons">expand_more</i>
                    </button>
                </div>
            </div>
            <div class="notification-tile" style="border-left:3px solid #4CAF50">
                <h5 class="title"><span>Order Dispatch</span>
                    <small class="pull-right">1 Week ago</small>
                </h5>
                <div class="card-content">4 new notifcations.</div>
                <div class="action"><span></span>
                    <button class="mdl-button mdl-js-button mdl-button--icon pull-right tile-expand-btn">
                        <i class="material-icons">expand_more</i>
                    </button>
                </div>
            </div>
        </div>

    </div> -->
</div>
<script type="text/javascript">
    'use strict';

window.chartColors = {
  red: 'rgb(255, 99, 132)',
  orange: 'rgb(255, 159, 64)',
  yellow: 'rgb(255, 205, 86)',
  green: 'rgb(23,160,93)',
  blue: 'rgb(25,118,210)',
  purple: 'rgb(153, 102, 255)',
  grey: 'rgb(201, 203, 207)'
};

var MONTHS = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
        var config = {
            type: 'line',
            data: {
                labels: [<?php for($i=1;$i<31;$i++){echo '"'.$i.' ' .date('M', time()).'",'; if($i == date('d', time())) break;}?>],
                datasets: [{
                    label: 'Sales Orders',
                    backgroundColor: window.chartColors.blue,
                    borderColor: window.chartColors.blue,
                    data: [
                        <?php for($i=1;$i<31;$i++){
                            if($i<10) $i = 0 . $i;
                            $ptr = date('Y-m-',time()) . $i;
                            if(array_key_exists($ptr, $salesNumber)) echo $salesNumber[$ptr] . ',';else echo 0 . ',';
                         if($i == date('d', time())) break;}?>
                    ],
                    fill: false,
                },{
                    label: 'Purchase Orders',
                    backgroundColor: window.chartColors.green,
                    borderColor: window.chartColors.green,
                    data: [                        
                        <?php for($i=1;$i<31;$i++){
                            if($i<10) $i = 0 . $i;
                            $ptr = date('Y-m-',time()) . $i;
                            if(array_key_exists($ptr, $purchaseNumber)) echo $purchaseNumber[$ptr] . ',';else echo 0 . ',';
                         if($i == date('d', time())) break;}?>
                    ],
                    fill: false,
                }]
            },
            options: {
                responsive: true,
                title: {
                    display: true,
                    text: 'STORE REPORT FOR THE MONTH OF <?php echo strtoupper(date("M", time())); ?>'
                },
                tooltips: {
                    mode: 'index',
                    intersect: false,
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: false,
                            labelString: 'Dates'
                        }
                    }],
                    yAxes: [{
                        ticks: {
                            max: 10,
                            min: 0,
                            stepSize:1
                        },
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Sales Orders'
                        }
                    }]
                }
            }
        };

        window.onload = function() {
            var ctx = document.getElementById('sales-report').getContext('2d');
            window.myLine = new Chart(ctx, config);
        };

</script>

<script>

    $(".tile-expand-btn").click(function () {
        $(this).parent().parent().addClass("expand");
        $(this).parent().parent().children(".notifications").addClass("expand");
        $(this).parent().parent().children(".card-content").addClass("out");
    });
</script>

