<style type="text/css">
    .pagination{
        margin:0 !important;
    }
    .selectize-input{
        background-image: none !important;
        background-color:#fff !important;
        border:1px solid #aaa !important;
    }
</style>

<div class="center-margin col-xs-12">
    <div class="table-card mdl-card  mdl-shadow--2dp col-xs-12">

        <div class="table-header">
            <h4 style="margin-bottom: 15px;"><?=$text_title;?>
                </h4>

                <div class="form-group col-xs-12 text-right">
                    <small>Results per page:</small>
                    <select name="limit" id="filter-limit">
                        <option value="15" selected>15</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                    </select>
                </div>
            <div class="form-group col-xs-3">
                <select name="vendor" id="filter-vendor" class="selectize" placeholder="Vendor">
                </select>
            </div>
            <div class="form-group col-xs-3">
                <select name="brand_name" id="filter-brand" class="selectize" placeholder="Brand Name">
                </select>
            </div>
            <div class="form-group col-xs-3">
                <select name="category" id="filter-category" class="selectize" placeholder="Category">
                </select>
            </div>

            <div class="form-group col-xs-3">
                <select name="ref" id="filter-ref" class="selectize" placeholder="Reference">
                </select>
            </div>
            <select name="vendor_name" multiple class="field selectize-filter-items hidden">
                <option value=""><?=$text_search;?></option>
            </select>
        </div>
            <table class="mdl-data-table mdl-js-data-table  md-table col-xs-12 expandable" id="table">
                <thead>
                    <tr>
                        <th class="mdl-data-table__cell--non-numeric"><?=$text_po;?></th>
                        <th class="mdl-data-table__cell--non-numeric sortable">Vendor</th>
                        <th class="mdl-data-table__cell--non-numeric sortable" id="order_date"><?=$text_order_date;?></th>
                        <th class="mdl-data-table__cell--non-numeric sortable"><?=$text_expected_date;?></th>
                        <th class="mdl-data-table__cell--non-numeric"><?=$text_site;?></th>
                        
                        <th class="mdl-data-table__cell--non-numeric"><?=$text_action;?></th>
                    </tr>
                </thead>
                <tbody id="orders_container">
                    
                </tbody>
        <?php if($pagination !== ""): ?>
            <tfoot>
                <tr>
                    <td colspan="7"><?php echo $pagination; ?></td>
                </tr>
            </tfoot>
            <?php endif; ?>
    </table>
    <table id="orders_template" hidden>
        <tbody>
                    <tr class="parent-row" id="">
                        <td class="mdl-data-table__cell--non-numeric clickable" id="_order_id"></td>
                        <td class="mdl-data-table__cell--non-numeric clickable" id="_vendor_name"></td>

                        <td class="mdl-data-table__cell--non-numeric clickable" id="_order_date"></td>
                        <td class="mdl-data-table__cell--non-numeric clickable" id="_expected_date"></td>
                        <td class="mdl-data-table__cell--non-numeric clickable" id="_delivery_address"></td>
                        
                        <td class="mdl-data-table__cell--non-numeric clickable">
                            <button id="btn-ap-2" class="mdl-button mdl-js-button mdl-button--icon 
                                mdl-button--colored" onclick="getDetails(this);">
                                <i class="material-icons">info</i>
                            </button>
                            <div class="mdl-tooltip mdl-tooltip--large" for="btn-ap-2"><?=$text_details;?></div>
                            <button id="btn-ap-3" class="mdl-button mdl-js-button mdl-button--icon 
                                mdl-button--colored" onclick="addBol(this);">
                                <i class="material-icons">note add</i>
                            </button>
                            <div class="mdl-tooltip mdl-tooltip--large" for="btn-ap-3" title="Add BOL">Add BOL</div>
                        </td>
                    </tr>
            
        </tbody>
    </table>
</div>
</div>

<div id="modal-view" hidden>
    <div class="view-title">
       <?=$text_purchase_order;?>
        
    </div>
    <div class="view-body">
        <div class="form-content">
            <div>
                <div class="text-right">
                        <button id="print-btn" class="mdl-button mdl-js-button mdl-button--icon mdlbutton--colored edit-button" onclick="window.print()">
                            <i class="material-icons">print</i>
                        </button>
                        <div class="mdl-tooltip mdl-tooltip--large" for="print-btn">Print</div>

                        <!-- <button id="cancel-order" class="mdl-button mdl-js-button mdl-button--icon mdlbutton--colored edit-button" data-order="" onclick="confirmDeletion(this, 1);">
                            <i class="material-icons text-danger">delete</i>
                        </button>
                        <div class="mdl-tooltip mdl-tooltip--large" for="cancel-order">Cancel Order</div> -->
                    </div>

                    <table class="order_details table-striped col-xs-12 col-sm-6">
                            <tr>
                                <td><?php echo $text_order_id; ?>:</td>
                                <td id="order_id_m">#</td>
                            </tr>
                            <tr>
                                <td><?=$text_order_date;?>:</td>
                                <td id="order_date_m"></td>
                            </tr>
                            <tr>
                                <td><?=$text_delivery_date;?>:</td>
                                <td id="delivery_date_m"></td>
                            </tr>
                            
                    </table>
                    <table class="order_details  table-striped col-xs-12 col-sm-6">
                            <tr>
                                <td><?=$text_vendor_name;?>:</td>
                                <td id="company_name_m"></td>
                            </tr>
                            <tr>
                                <td><?=$text_delivery_address;?>:</td>
                                <td id="vendor_address_m"></td>
                            </tr>
                            <tr>
                                <td>Person Responsible:</td>
                                <td id="person_responsible_m">***</td>
                            </tr>
                           <!--  <tr>
                                <td>Payment Mode:</td>
                                <td id="payment_mode_m"></td>
                            </tr>
                            <tr>
                                <td>HT:</td>
                                <td><span id="htt_m" class="text-success"> &euro;</span></td>
                            </tr>
                            <tr>
                                <td>TVA:</td>
                                <td><span id="tva_m" class="text-danger">%</span></td>
                            </tr>
                            <tr>
                                <td> <?=$text_grand_total;?>:</td>
                                <td class="text-danger"><span id="ttc_m" class="text-danger"> &euro;</span></td>
                            </tr> -->

                    </table>

                        
            </div>
            <div class="clearfix"></div>
            <hr>
         

            
            <table class="mdl-data-table mdl-js-data-table  md-table col-xs-12 ">
                <thead>
                    <tr>
                        <th class="mdl-data-table__cell--non-numeric"><?=$text_item_name;?></th>
                        <th class="mdl-data-table__cell--non-numeric"><?=$text_brand_name;?></th>
                        <th class="mdl-data-table__cell--non-numeric"><?=$text_reference;?></th>

                        <th class="mdl-data-table__cell--non-numeric"><?=$text_quantity_ordered;?></th>

                        <th class="mdl-data-table__cell--non-numeric"><?=$text_quantity_received;?></th>
                        <th class="mdl-data-table__cell--non-numeric"><?=$text_quantity_to_receive;?></th>
                        <th class="mdl-data-table__cell--non-numeric"><?=$text_packing;?></th>
                        <th class="mdl-data-table__cell--non-numeric"><?=$text_area;?></th>


                    </tr>
                </thead>
                <tbody id="order_items"></tbody>
            </table>
        </div>
    </div>
</div>

<div id="modal-view-bol" hidden>
    <div class="view-title">
       <?=$text_purchase_order;?>
        
    </div>
    <div class="view-body">
        <div class="form-content">
        <form id="bol-submit">
            <input type="hidden" name="order_number" id="order_number_input" value="">
            <div>
                <div class="text-right">
                        <button id="print-btn" class="mdl-button mdl-js-button mdl-button--icon mdlbutton--colored edit-button" onclick="window.print()">
                            <i class="material-icons">print</i>
                        </button>
                        <div class="mdl-tooltip mdl-tooltip--large" for="print-btn">Print</div>

                        <button id="cancel-order" class="mdl-button mdl-js-button mdl-button--icon mdlbutton--colored edit-button" data-order="" onclick="confirmDeletion(this, 1);">
                            <i class="material-icons text-danger">delete</i>
                        </button>
                        <div class="mdl-tooltip mdl-tooltip--large" for="cancel-order">Cancel Order</div>
                    </div>

                    <table class="order_details table-striped col-xs-12 col-sm-6">
                            <tr>
                                <td><?php echo $text_order_id; ?>:</td>
                                <td id="order_id_m">#</td>
                            </tr>
                            <tr>
                                <td><?=$text_order_date;?>:</td>
                                <td id="order_date_m"></td>
                            </tr>
                            <tr>
                                <td><?=$text_delivery_date;?>:</td>
                                <td id="delivery_date_m"></td>
                            </tr>
                            <tr>
                                <td><?=$text_vendor_name;?>:</td>
                                <td id="company_name_m"></td>
                            </tr>
                            
                    </table>
                    <table class="order_details  table-striped col-xs-12 col-sm-6">
                            
                            <tr>
                                <td><?=$text_delivery_address;?>:</td>
                                <td id="vendor_address_m"></td>
                            </tr>
                            <tr>
                                <td>Person Responsible:</td>
                                <td id="person_responsible_m">***</td>
                            </tr>
                            <div id="bol-submit">
                               <tr >
                                    <td>BOL Number:</td>
                                    <td class="bol_number">
                                       <input  type="text" id="bol_number" name="bol_number" required>
                                      
                                    </td>
                                </tr>
                                <tr >
                                    <td>Date:</td>
                                    <td class="bol_date">
                                       <input  type="date" id="bol_date" name="bol_date" value="<?php echo date('Y-m-d', time()); ?>" >
                                       
                                    </td>
                                </tr>
                        </div>

                    </table>

        <div class="col-xs-12">
            <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--primary pull-right">
                <?=$text_submit;?>
            </button>
        </div>
    </form>
        
            

    
        <!-- <form id="bol-submit">
             -->
        <!-- <div class="form-field col-xs-12 col-sm-4">
            <label class="col-md-4">BOL Number</label>
            <div class="col-xs-6 mdl-textfield mdl-js-textfield <?php if(isset($error_bol_number)){echo 'is-invalid';}?>">
                    <input class="mdl-textfield__input" type="text" id="bol_number" name="bol_number" <?php if(isset($bol_number)) echo 'value="'.$bol_number.'"'; ?>>
                    <label class="mdl-textfield__label" for="bol_number"></label>
                    <span class="mdl-textfield__error"><?php if(isset($error_bol_number)){echo $error_bol_number;}?></span>
            </div> -->
        </div>
       <!--  <div class="form-field col-xs-12 col-sm-4 ">
            <label class="col-md-12">Date</label>
            <div class="col-sm-12">
                <div class="mdl-textfield mdl-js-textfield <?php if(isset($error_bol_date)){echo 'is-invalid';}?>">
                    <input class="mdl-textfield__input" type="date" id="bol_date" name="bol_date" <?php if(isset($return_date)) echo 'value="'.$bol_date.'"'; ?>>
                    <label class="mdl-textfield__label" for="bol_date"></label>
                    <span class="mdl-textfield__error"><?php echo (isset($error_bol_date)) ? $error_bol_date : ""; ?></span>
                </div>
            </div>
        </div> -->
        
    <div class="clearfix"></div>
    <hr>
           

            <table class=" mdl-data-table mdl-js-data-table  md-table col-xs-12  bol_details">
                <thead>
                    <tr>
                        <th class="mdl-data-table__cell--non-numeric"><?=$text_item_name;?></th>
                        <th class="mdl-data-table__cell--non-numeric"><?=$text_brand_name;?></th>
                        <th class="mdl-data-table__cell--non-numeric"><?=$text_reference;?></th>

                        <th class="mdl-data-table__cell--non-numeric"><?=$text_quantity_ordered;?></th>

                        <th class="mdl-data-table__cell--non-numeric">Previous BOL Quantity</th>
                        <th class="mdl-data-table__cell--non-numeric"><?=$text_quantity_received;?></th>
                        <th class="mdl-data-table__cell--non-numeric"><?=$text_packing;?></th>
                        <th class="mdl-data-table__cell--non-numeric"><?=$text_area;?></th>
                    </tr>
                </thead>
                <tbody id="bol_items">                    
                </tbody>

                </form>
            </table>

        </div>
    </div>
</div>

<div  hidden>

    <table>
        <tbody id="items-template">
            <tr >
                <td class="mdl-data-table__cell--non-numeric item_name_m"></td>
                <td class="mdl-data-table__cell--non-numeric brand_name_m"></td>
                <td class="mdl-data-table__cell--non-numeric reference_m"></td>
                <td class="mdl-data-table__cell--non-numeric quantity_ordered_m"></td>
                <td class="mdl-data-table__cell--non-numeric quantity_received_m"></td>
                <td class="mdl-data-table__cell--non-numeric quantity_to_receive_m"></td>
                <td class="mdl-data-table__cell--non-numeric packing_m"></td>
                <td class="mdl-data-table__cell--non-numeric area_m"></td>
            </tr>
        </tbody>
    </table>

</div>


<script>

    function getDetails(e) {
        var id = $(e).parent().parent().attr("id");
        $.ajax({
        url : '?route=purchaseOrder/getOrderDetails&order_id='+id,
        type : 'GET',
        dataType : 'json',
        success: function(returnData){
            data = returnData.order_details;
            itemList = returnData.item_details;
            deliveries = returnData.delivery_address;
            $("#modal-view > .view-title").html();
            $("#order_id_m").html("#"+data.order_id);
            $("#order_date_m").html(data.order_date);
            $("#delivery_date_m").html(data.expected_date);
            $("#company_name_m").html(data.company_name);
            $("#person_responsible_m").html(data.person_responsible);
             if(data.delivery_address == 0 && data.delivery_other != ""){
                        $("#vendor_address_m").html(data.delivery_other);
                    }
            else{
                d_a = deliveries[data.delivery_address]['address']+", "+deliveries[data.delivery_address]['city']+", "+deliveries[data.delivery_address]['postal'];
                $("#vendor_address_m").html(d_a + "<small class='text-success'>( " + deliveries[data.delivery_address]['name']+" )</small>");
            }
             $("#order_items").html("");
            for(var i = 0; i < itemList.length; i++){
             qr = 0;
             if(id in returnData.bol_details) {  
                if(returnData.bol_details[id][itemList[i].item_id]){
                    qr = returnData.bol_details[id][itemList[i].item_id];
                }
             }
                var node = $("#items-template").children().clone();
                node.children(".item_name_m").html(itemList[i].item_name);
                node.children(".brand_name_m").html(itemList[i].brand_name);
                node.children(".reference_m").html(itemList[i].reference);
                node.children(".quantity_ordered_m").html(itemList[i].quantity);
                node.children(".quantity_received_m").html(qr);
                node.children(".quantity_to_receive_m").html(itemList[i].quantity - qr);
                node.children(".packing_m").html(itemList[i].packing);
                node.children(".area_m").html(itemList[i].area);
                $("#order_items").append(node);
            }
            
            MDialog.start({},"detail",this,$("#modal-view"));
            }
        });
    }
    function addBol(e) {
        var id = $(e).parent().parent().attr("id");
        $.ajax({
        url : '?route=purchaseOrder/getOrderDetails&order_id='+id,
        type : 'GET',
        dataType : 'json',
        success: function(returnData){
            data = returnData.order_details;
            itemList = returnData.item_details;
            deliveries = returnData.delivery_address;
            $("#modal-view-bol #modal-view > .view-title").html();
            $("#modal-view-bol #order_id_m").html("#"+data.order_id);
            $("#modal-view-bol #order_number_input").val(data.order_id);
            $("#modal-view-bol #order_date_m").html(data.order_date);
            $("#modal-view-bol #delivery_date_m").html(data.expected_date);
            $("#modal-view-bol #company_name_m").html(data.company_name);
            $("#modal-view-bol #person_responsible_m").html(data.person_responsible);
            d_a = deliveries[data.delivery_address]['address'];

            $("#modal-view-bol #vendor_address_m").html(d_a + "<small class='text-success'>( " + deliveries[data.delivery_address]['name']+" )</small>");
             $("#modal-view-bol #bol_items").html("");
            for(var i = 0; i < itemList.length; i++){
                qr = 0;
             if(id in returnData.bol_details) {  
                if(returnData.bol_details[id][itemList[i].item_id]){
                    qr = returnData.bol_details[id][itemList[i].item_id];
                }
             }
                max_q = itemList[i].quantity - qr;
                var node = $("#items-template").children().clone();
                node.children(".item_name_m").html(itemList[i].item_name);
                node.children(".brand_name_m").html(itemList[i].brand_name);
                node.children(".reference_m").html(itemList[i].reference);
                node.children(".quantity_ordered_m").html(itemList[i].quantity);
                node.children(".quantity_ordered_m").addClass(itemList[i].item_id);
                node.children(".quantity_received_m").html(qr);
                node.children(".quantity_received_m").addClass(itemList[i].item_id);
                node.children(".quantity_to_receive_m").html("<input type='number' name='quantity_add["+itemList[i].item_id+"]' id='"+itemList[i].item_id+"' size='3' class='text-center take_quantity' max='"+max_q+"' onchange='bolQuan(this)' min='0' value='0'>");
                if(itemList[i].quantity - qr < 1){
                    node.children(".quantity_to_receive_m").html("Complete");
                }
                node.children(".item_image_m").html(itemList[i].image);
                node.children(".packing_m").html(itemList[i].packing);
                node.children(".area_m").html(itemList[i].area);
                $("#bol_items").append(node);
            }
            
            MDialog.start({},"detail",this,$("#modal-view-bol"));
            }
        });
    }

    $(".done-button").click(function () {
        showSnackbar("Order Received");
        //this.
    });


    var selectBoxItem;
    var selctizedBoxInstanceItem;

    var orderItemsFilter = [];

    function initItemFilterSelectBox() {
        selectBoxItem = $(".selectize-filter-items").selectize({
            onItemAdd: itemAddListener,
            onItemRemove: itemRemoveListener,
            options: [
                {id: 'time_1', type: 'date', label: 'Last day'},
                {id: 'time_2', type: 'date', label: 'Last one week'},
                {id: 'time_3', type: 'date', label: 'Last Two week'},
                {id: 'time_4', type: 'date', label: 'Last Month'},
            ],
            optgroups: [
                {id: 'date', name: 'By Added on'},
                {id: 'ref', name: 'Ref#'},
                {id: 'vendor', name: 'Vendor'}
            ],
            labelField: 'label',
            valueField: 'id',
            optgroupField: 'type',
            optgroupLabelField: 'name',
            optgroupValueField: 'id',
            optgroupOrder: ['date', 'ref', 'vendor'],
            searchField: ['label'],
            plugins: ['optgroup_columns', 'remove_button'],
            maxItems:4,
            maxOptions : 10

        });
        if (selectBoxItem.length != 0) selctizedBoxInstanceItem = selectBoxItem[0].selectize;
    }
    var lastDateItemId = "";
    function itemAddListener(value, item){
        var item = $(item);
        var id = selctizedBoxInstanceItem.options[value].id;
        var type = selctizedBoxInstanceItem.options[value].type;
        var label = selctizedBoxInstanceItem.options[value].label;
        if(type == "date"){
            item.css("background-color","#1565c0");
            if(lastDateItemId != "")selctizedBoxInstanceItem.removeItem(lastDateItemId, false);
            lastDateItemId = id;
            loadItemsSelectBox();
        }
        if(type == "vendor"){
            loadItemsSelectBox();
            item.css("background-color","#00695c");
        }

        if(type == "ref"){
            item.css("background-color","#0277bd");
            loadItemsSelectBox();
        }

        loadItems();

    }
    function itemRemoveListener(value){
        var type = selctizedBoxInstanceItem.options[value].type;
        loadItems();
    }

     function loadItemsSelectBox(){
        filterResults();
        if(vendorFilterList.length == 0 && dateFilter.length == 0) {
            clearItemOptions();
            return;
        }
        $(".mdl-progress").show();
        var postData = {
            all: 1,
            vendorList : vendorFilterList,
            dateFilter : dateFilter,
            refFilterList: refFilterList,
            list:'item'
        };


    }

    var vendorFilterList = [];
    var itemIdFilterList = [];
    var refFilterList = [];
    var dateFilter = [];
    var categoryFilterList = [];
    var brandFilter = [];


   function loadRefSelectBox(multi=true){
        vendor_id = 0;
        brand_name = "";
        category = 0;
        ot = $("#order_type").val();
        if(!multi){
            vendor_id = vendorFilterList[0];
            brand_name = brandFilter[0];

            if(categoryFilterList[0] != undefined)
                category = categoryFilterList[0];
        }
        $("#filter-ref").selectize()[0].selectize.clearOptions();
        $.ajax({
            url: '?route=purchaseOrder/getRefList&all=1&vendor_id='+vendor_id+'&brand_name='+brand_name+'&category='+category+'&ot='+ot,
            type: 'GET',
            dataType: 'json',
            success: function (returnData) {
                data = returnData.ref_list;
                for(var i = 0; i < data.length ; i++){
                    if(multi)
                        selctizedBoxInstanceItem.addOption({id : data[i].reference, type: "ref", label: ("#"+data[i].reference)});
                    else
                        $("#filter-ref").selectize()[0].selectize.addOption({id : data[i].reference, label: (data[i].reference)});
                }
                selctizedBoxInstanceItem.refreshOptions(false);
            },
            error: function () {
                $(".mdl-progress").hide();
                showSnackbar("Can't load ref list.");
            }
        });
    }


   function loadVendorsSelectBox(multi=true){
        $.ajax({
            url: '?route=purchaseOrder/getVendorsList&all=1',
            type: 'GET',
            dataType: 'json',
            success: function (returnData) {
                data = returnData.vendors_list;
                for(var i = 0; i < data.length ; i++){
                        $("#filter-vendor").selectize()[0].selectize.addOption({id : data[i].vendor_id, label: (data[i].company_name)});
                }
                $("#filter-vendor").selectize()[0].selectize.refreshOptions(false);
            },
            error: function () {
                $(".mdl-progress").hide();
                showSnackbar("Can't load vendor list.");
            }
        });
    }

     function loadBrandNames(){
        vendor_id = 0;

        vendor_id = vendorFilterList[0];
        $("#filter-brand").selectize()[0].selectize.clearOptions();
        $.ajax({
            url: '?route=purchaseOrder/getBrandNames&all=1&vendor_id='+vendor_id,
            type: 'GET',
            dataType: 'json',
            success: function (returnData) {
                data = returnData.brand_list;
                for(var i = 0; i < data.length ; i++){
                        $("#filter-brand").selectize()[0].selectize.addOption({id : data[i].brand_name, label: (data[i].brand_name)});
                }
                $("#filter-brand").selectize()[0].selectize.refreshOptions(false);
            },
            error: function () {
                $(".mdl-progress").hide();
                showSnackbar("Can't load vendor list.");
            }
        });
    }

    function loadItemCategorySelectBox(multi=true){
        vendor_id = 0;
        brand_name = "";
        if(!multi){
            vendor_id = vendorFilterList[0];
            if(brandFilter[0] != undefined)
                brand_name = brandFilter[0];
        }
        $("#filter-category").selectize()[0].selectize.clearOptions();
        $.ajax({
            url: '?route=purchaseOrder/getCategoryList&all=1&vendor_id='+vendor_id+'&brand_name='+brand_name,
            type: 'GET',
            dataType: 'json',
            success: function (returnData) {
                data = returnData.category_list;
                for(var i = 0; i < data.length ; i++){
                    if(multi)
                        selctizedBoxInstanceItem.addOption({id : data[i].item_category, type: "category", label: (data[i].title)});
                    else
                        $("#filter-category").selectize()[0].selectize.addOption({id : data[i].item_category, label: (data[i].title)});

                }
                selctizedBoxInstanceItem.refreshOptions(false);
                $("#filter-category").selectize()[0].selectize.refreshOptions(false);
            },
            error: function () {
                $(".mdl-progress").hide();
                showSnackbar("Can't load category list.");
            }
        });
    }
    


    function filterResults(){
        var input = $(this);
        vendorFilterList = [];
        refFilterList = [];
        itemIdFilterList = [];
        dateFilter = [];
        categoryFilterList = [];
        //console.log(selctizedBoxInstanceItem.getValue());
         for(var i=0; i < selctizedBoxInstanceItem.getValue().length; i++){
            var id = selctizedBoxInstanceItem.options[selctizedBoxInstanceItem.getValue()[i]].id;
            var type = selctizedBoxInstanceItem.options[selctizedBoxInstanceItem.getValue()[i]].type;
            var label = selctizedBoxInstanceItem.options[selctizedBoxInstanceItem.getValue()[i]].label;
            if(type == "category") {
                var cId = id.substr(id.indexOf("-") + 1);
                categoryFilterList.push(cId);
            }
            if(type == "vendor") vendorFilterList.push(id);
            if(type == "date") dateFilter.push(id);
            if(type == "ref") {
                var cId = id.substr(id.indexOf("-") + 1);
                refFilterList.push(cId);
            }

        }

        if(orderItemsFilter.length > 0){
            for(var i=0 ; i < orderItemsFilter.length; i++){
                itemIdFilterList.push(orderItemsFilter[i]);
            }
            orderItemsFilter = [];
        }
    }

    var tableheader = $("#table-head");

    function tableSort() {
        var th = $(this);
        if (th.hasClass("no-sort")) {
            console.log("NO");
            tableheader.children(".sortable").removeClass("mdl-data-table__header--sorted-ascending");
            tableheader.children(".sortable").removeClass("mdl-data-table__header--sorted-descending");
            tableheader.children(".sortable").addClass("mdl-data-table__header");
            tableheader.children(".sortable").addClass("no-sort");
            th.removeClass("no-sort");
            th.removeClass("mdl-data-table__header");
            th.addClass("mdl-data-table__header--sorted-ascending");
            loadItems();
            return;
        }

        if (th.hasClass("mdl-data-table__header--sorted-ascending")) {
            th.removeClass("mdl-data-table__header--sorted-ascending");
            th.addClass("mdl-data-table__header--sorted-descending");
            console.log("ASC");
            loadItems();
            return;
        }

        if (th.hasClass("mdl-data-table__header--sorted-descending")) {
            th.removeClass("mdl-data-table__header--sorted-descending");
            th.addClass("mdl-data-table__header");
            th.addClass("no-sort");
            console.log("DESC");
            loadItems();
        }

    }


    function clearItemOptions(){

        for(var prop in selctizedBoxInstanceItem.options){
            var id = selctizedBoxInstanceItem.options[prop].id;
            var type = selctizedBoxInstanceItem.options[prop].type;
            if(type == "item") {
                selctizedBoxInstanceItem.removeOption(id);
            }
        }

//        for(var i=0; i < selctizedBoxInstanceItem.options.length; i++){
//            console.log(selctizedBoxInstanceItem.options[i]);
//            var id = selctizedBoxInstanceItem.options[i].id;
//            var type = selctizedBoxInstanceItem.options[i].type;
//            if(type == "item") {
//                selctizedBoxInstanceItem.removeOption(id);
//            }
//
//        }
        selctizedBoxInstanceItem.refreshOptions(false);
    }

    function loadItems() {
        $(".mdl-progress").show();
        filterResults();
        var postData = {
            all: 1,
            dateFilter : dateFilter,
            refList: refFilterList,
            vendorList: vendorFilterList
        };
        if (tableheader.children(".sortable.mdl-data-table__header--sorted-ascending").length > 0) {
            postData.sort = "ASC";
            postData.sortField = $(tableheader.children(".sortable.mdl-data-table__header--sorted-ascending")[0]).attr("id");
        }
        if (tableheader.children(".sortable.mdl-data-table__header--sorted-descending").length > 0) {
            postData.sort = "DESC";
            postData.sortField = $(tableheader.children(".sortable.mdl-data-table__header--sorted-descending")[0]).attr("id");
        }
        $.ajax({
            url: '?route=purchaseOrder/getOrderList&all=1',
            type: 'POST',
            data: postData,
            dataType: 'json',
            success: function (returnData) {
                data = returnData.order_list;
                vendor = returnData.vendor;
                site = returnData.site;
                $("#orders_container").html("");
                for (var i = 0; i < data.length; i++) {
                    var rowNode = $("#orders_template > tbody > tr").clone(true);
                    // console.log(rowNode);
                    rowNode.attr("id", data[i].order_id);
                    rowNode.children("#_order_id").html(data[i].order_id);
                    rowNode.children("#_order_date").html(data[i].order_date);
                    rowNode.children("#_expected_date").html(data[i].expected_date);
                    if(data[i].expected_date == null) rowNode.children("#_expected_date").html("N/A");
                    rowNode.children("#_vendor_name").html(vendor[data[i].vendor]);
                   if(data[i].delivery_address == 0 && data[i].delivery_other != ""){
                        rowNode.children("#_delivery_address").html(data[i].delivery_other);

                    }else{
                        rowNode.children("#_delivery_address").html("<b>"+site[data[i].delivery_address]['name']+"</b> <br>"+site[data[i].delivery_address]['address']);                        
                    }
                    
                    rowNode.children().children("#btn-ap-2").attr("id", "btn-ap-2-"+data[i].order_id);

                    rowNode.children().children("#btn-ap-3").attr("id", "btn-ap-3-"+data[i].order_id);
                    
                    //rowNode.children("._quantity").children("input").val();

                    $("#orders_container").append(rowNode);

                }
                $(".mdl-progress").hide();
                showSnackbar("Data loaded.");
            },
            error: function () {
                $(".mdl-progress").hide();
                showSnackbar("Can't complete your request.");
            }
        });
    }

    $("#filter-vendor").change(function(){
        $(".mdl-progress").show();
        val = $(this).val();
        vendorFilterList = [];
        if(val != 0)
            vendorFilterList.push(val);
        loadBrandNames();
        loadItemCategorySelectBox(false);
        loadItems();
        $(".mdl-progress").hide();
    });
    $("#filter-category").change(function(){
        val = $(this).val();
        categoryFilterList = [];
        if(val != 0)
            categoryFilterList.push(val);
        loadRefSelectBox(false);
        loadItems();
    });
    $("#filter-ref").change(function(){
        val = $(this).val();
        refFilterList = [];
        if(val != 0)
            refFilterList.push(val);
        loadItems();
    });
    $("#filter-brand").change(function(){
        val = $(this).val();
        brandFilter = [];
        if(val != 0)
            brandFilter.push(val);
        loadItemCategorySelectBox(false);
        loadRefSelectBox(false);
        loadItems();
    });
    $("#filter-limit").change(function(){
        pageCount=1;
        loadItems();
    });

     $(document).ready(function () {
        $("#refresh-data-btn").click(loadItems);
        tableheader.children(".sortable").click(tableSort);
        initItemFilterSelectBox();
        loadRefSelectBox();
        loadVendorsSelectBox();
        loadItems();
        
        $("#filter-box").change(filterResults);
        $("#order_type").change(function(){
            loadItems();
        });

    });
        function bolQuan(e){
            id = $(e).attr("id");
            ordered_quan = $(".quantity_ordered_m."+id).text() - $(".quantity_received_m."+id).text();
            if($(e).val() > ordered_quan){
                alert("You cannot receive more than ordered quantity.");
                $(e).val(ordered_quan);
            }
        }


         $(document).on("click", ".pagination li a", function(e){
        e.preventDefault();
        found = false;
        url = $(this).attr("href");
        splinters = url.split("&");
        $.each(splinters, function(key, val){
            vals = val.split("=");
            if(vals[0] == "page") {
                found = true;
                pageCount = vals[1];
            }
        });
        if(!found) pageCount = 1;
        loadItems();
    });

    $('form#bol-submit').submit(function(e) {
        e.preventDefault();
        override = $(this).parent().parent();
        $(".mdl-progress").show();
        bol_number = $('#bol_number').val().trim();
        bol_date = $('input[name="bol_date"]').val().trim();
        if(bol_number == "") {
            $('#bol_number').parent().addClass("is-invalid");
            return;
            } 
        else 
            $('#bol_number').parent().removeClass("is-invalid");
        if(bol_date == "") {
            $('#bol_date').parent().addClass("is-invalid");
            }
        else 
            $('#bol_date').parent().removeClass("is-invalid");
        item_quantity = {};
        order_number = $('#order_number_input').val();
        quantities = $('.take_quantity');


        $.each(quantities, function(k,v){
            id = $(v).attr("id");
            val = $(v).val();
            if(val != "" || val != 0) item_quantity[id] = val;
        });
        // item_quantity = JSON.stringify(item_quantity);
        // formData = formData + "&quantities="+item_quantity;
        $.ajax({
            url: '?route=purchaseOrder/addBol',
            type: 'POST',
            data: {
                'order_number' : order_number,
                'bol_number' : bol_number,
                'quantities' : item_quantity,
                'bol_date' : bol_date
            },
            dataType: 'json',
            success: function () {
                $(".mdl-progress").hide();
                $("#m-dialog-close-btn").trigger("click");
                loadItems();
                showSnackbar("BOL has been added.");
            },
            error: function () {
                $(".mdl-progress").hide();
                showSnackbar("Failed adding BOL, please check details.");
            }
        });
     });
    $("button").on("mouseover", function(){
        id = $(this).attr("id");
        position = $("#"+id).position();
        position.top = position.top+40;
        position.left = position.left-20;
        $("#"+ id).parent().css("position", "relative");
        $("#"+ id + "+.mdl-tooltip").addClass("is-active");
        $("#"+ id + "+.mdl-tooltip").css("position", "absolute");
        $("#"+ id + "+.mdl-tooltip").css("top", position.top+"px");
        $("#"+ id + "+.mdl-tooltip").css("left", position.left+"px");
    });
    $("button").on("mouseout", function(){
        id = $(this).attr("id");
        $("#"+ id + "+.mdl-tooltip").removeClass("is-active");
    });

</script>