<style type="text/css">
    .pagination{
        margin:0 !important;
    }
    .selectize-input{
        background-image: none !important;
        background-color:#fff !important;
        border:1px solid #aaa !important;
    }
</style>


<div class="center-margin col-xs-12">
    <div class="table-card mdl-card  mdl-shadow--2dp col-xs-12">

        <div class="table-header">
            <h4 style="margin-bottom: 15px;"><?=$text_title;?>
                </h4>

                <div class="form-group col-xs-12 text-right">
                    <small>Results per page:</small>
                    <select name="limit" id="filter-limit">
                        <option value="15" selected>15</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                    </select>
                </div>
            <div class="form-group col-xs-3">
                <select name="client" id="filter-client" class="selectize" placeholder="Client">
                </select>
            </div>
            <div class="form-group col-xs-3">
                <select name="brand_name" id="filter-brand" class="selectize" placeholder="Brand Name">
                </select>
            </div>
            <div class="form-group col-xs-3">
                <select name="category" id="filter-category" class="selectize" placeholder="Category">
                </select>
            </div>

            <div class="form-group col-xs-3">
                <select name="ref" id="filter-ref" class="selectize" placeholder="Reference">
                </select>
            </div>
            <select name="client_name" multiple class="field selectize-filter-items hidden">
                <option value=""><?=$text_search;?></option>
            </select>
        </div>
        <table class="mdl-data-table mdl-js-data-table  md-table col-xs-12 expandable" id="table">
            <thead>
            <tr>
                <th class="mdl-data-table__cell--non-numeric"><?=$text_so;?></th>
                <th class="mdl-data-table__cell--non-numeric"><?=$text_client_name;?></th>
                <th class="mdl-data-table__cell--non-numeric"><?=$text_order_date;?></th>
                <th class="mdl-data-table__cell--non-numeric"><?=$text_status;?></th>
                <th class="mdl-data-table__cell--non-numeric"><?=$text_action;?></th>
            </tr>
            </thead>
            <tbody id="order-body">
                <?php
                    foreach ($sales_orders as $sales_order){  ?>

                <tr class="parent-row" id="<?= $sales_order['order_id']?>">
                    <td class="mdl-data-table__cell--non-numeric clickable"> <?= $sales_order['order_id']?></td>
                    <td class="mdl-data-table__cell--non-numeric clickable"><?= $sales_order['name']?></td>
                    <td class="mdl-data-table__cell--non-numeric clickable"><?= date_format(date_create($sales_order['order_date']),"d/m/Y") ?></td>
                    
                   
                    <td class="mdl-data-table__cell--non-numeric clickable"><?= $order_status[$sales_order['order_status']]?></td>
                    <td class="mdl-data-table__cell--non-numeric dispatch">
                        <button  class="mdl-button mdl-js-button mdl-button--icon " onclick="dispatch(this);">
                            <i class="material-icons">local_shipping</i>
                        </button>
                        <button id="btn-ap-2" class="mdl-button mdl-js-button mdl-button--icon 
                            mdl-button--colored" onclick="getDetails(this);">
                                <i class="material-icons">info</i>
                        </button>
                        <div class="mdl-tooltip mdl-tooltip--large" for="btn-ap-2"><?=$text_details;?></div>
                    </td>


                </tr>
                <?php }?>
            </tbody>
            <?php if($pagination !== ""): ?>
            <tfoot>
                <tr>
                    <td colspan="7"><?php echo $pagination; ?></td>
                </tr>
            </tfoot>
            <?php endif; ?>
        </table>
    </div>
</div>
<table>
    <tbody id="order-list-temp" hidden>                
        <tr class="parent-row" id="">
            <td class="mdl-data-table__cell--non-numeric  __order_id"></td>
            <td class="mdl-data-table__cell--non-numeric  __client_name"></td>
            <td class="mdl-data-table__cell--non-numeric  __order_date"></td>
            <td class="mdl-data-table__cell--non-numeric  __order_status"></td>
            <!-- <td class="mdl-data-table__cell--non-numeric  __total_amount">&euro;</td> -->
            <td class="mdl-data-table__cell--non-numeric">
                <button  class="mdl-button mdl-js-button mdl-button--icon " onclick="dispatch(this);">
                    <i class="material-icons">local_shipping</i>
                </button>
                <button id="btn-ap-2" class="mdl-button mdl-js-button mdl-button--icon 
                            mdl-button--colored" onclick="getDetails(this);">
                    <i class="material-icons">info</i>
                </button>
                <div class="mdl-tooltip mdl-tooltip--large" for="btn-ap-2"><?=$text_details;?></div>
            </td>
        </tr>
    </tbody>
</table>
<div id="modal-view" hidden>
    <div class="view-title">
       <?=$text_sales_order_dispatch;?>
    </div>
    <div class="view-body">
        <div class="form-content">
            <div>
               <div class="text-right">
                        <button id="print-btn" class="mdl-button mdl-js-button mdl-button--icon mdlbutton--colored edit-button" onclick="window.print()">
                            <i class="material-icons">print</i>
                        </button>
                        <div class="mdl-tooltip mdl-tooltip--large" for="print-btn">Print</div>

                        <!-- <button id="cancel-order" class="mdl-button mdl-js-button mdl-button--icon mdlbutton--colored edit-button" data-order="" onclick="confirmDeletion(this, 1);">
                            <i class="material-icons text-danger">delete</i>
                        </button>
                        <div class="mdl-tooltip mdl-tooltip--large" for="cancel-order">Cancel Order</div> -->
                    </div>

                    <table class="order_details table-striped col-xs-12 col-sm-6">
                            <tr>
                                <td><?php echo $text_order_id; ?>:</td>
                                <td id="order_id_m">#</td>
                            </tr>
                            <tr>
                                <td><?=$text_order_date;?>:</td>
                                <td id="order_date_m"></td>
                            </tr>
                            <tr>
                                <td><?=$text_delivery_date;?>:</td>
                                <td id="delivery_date_m"></td>
                            </tr>
                            
                    </table>
                    <table class="order_details  table-striped col-xs-12 col-sm-6">
                            <tr>
                                <td><?=$text_client_name;?>:</td>
                                <td id="company_name_m"></td>
                            </tr>
                            <tr>
                                <td><?=$text_delivery_address;?>:</td>
                                <td id="client_address_m"></td>
                            </tr>
                            <tr>
                                <td>Person Responsible:</td>
                                <td id="person_responsible_m">***</td>
                            </tr>
                            <!-- <tr>
                                <td>Payment Mode:</td>
                                <td id="payment_mode_m"></td>
                            </tr>
                            <tr>
                                <td>HT:</td>
                                <td><span id="htt_m" class="text-success"> &euro;</span></td>
                            </tr>
                            <tr>
                                <td>TVA:</td>
                                <td><span id="tva_m" class="text-danger">%</span></td>
                            </tr>
                            <tr>
                                <td> <?=$text_grand_total;?>:</td>
                                <td class="text-danger"><span id="ttc_m" class="text-danger"> &euro;</span></td>
                            </tr> -->

                    </table>
                </div>
                <div class="clearfix"></div>
                <hr>


            <table class="mdl-data-table mdl-js-data-table  md-table col-xs-12 ">
                <thead>
                <tr>
                    <th class="mdl-data-table__cell--non-numeric">Item #</th>
                    <th class="mdl-data-table__cell--non-numeric"><?= $text_item_name; ?></th>
                    <th class="mdl-data-table__cell--non-numeric"><?= $text_brand_name; ?></th>
                    <th class="mdl-data-table__cell--non-numeric"><?= $text_reference; ?></th>
                    <th class="mdl-data-table__cell--non-numeric">Quantity Ordered</th>
                    <th class="mdl-data-table__cell--non-numeric">Dispatched</th>
                    

                </tr>
                </thead>
                <tbody id="item-table-body"></tbody>
            </table>
             <div class="clearfix"></div>
            <div style="margin-top: 20px;"><button type="submit" class="mdl-button mdl-shadow--2dp mdl-js-button mdl-button--primary mdl-button--raised pull-right" id="dispatch-confirm">Dispatch</button></div>
        </div>
    </div>
</div>

<div hidden>
<form id="bol">
        <table class="mdl-data-table mdl-js-data-table  md-table col-xs-12 ">
            <tbody id = "item-order-node">
            <tr id="">
                <td class="mdl-data-table__cell--non-numeric _r_sr_no">1</td>
                <td class="mdl-data-table__cell--non-numeric _r_item_name">1</td>
                <td class="mdl-data-table__cell--non-numeric _r_brand_name">Lorem ipsum.</td>
                <td class="mdl-data-table__cell--non-numeric _r_reference">Lorem.</td>
                <!-- <td class="mdl-data-table__cell--non-numeric currency-euro _r_mrp">Lorem.</td> -->
                <!-- <td class="mdl-data-table__cell--non-numeric currency-euro _r_sell_rate"></td> -->
                <td class="mdl-data-table__cell--non-numeric _r_order_quantity"></td>
                <td class="mdl-data-table__cell--non-numeric _r_quantity"></td>
                <!-- <td class="mdl-data-table__cell--non-numeric currency-euro _r_total">Lorem.</td> -->
            </tr>
            </tbody>
        </table>
    </form>
</div>


</div>



<div id="modal-view2" hidden>
    <div class="view-title">
       Sales Order Details
    </div>
    <div class="view-body">
        <div class="form-content">
            <div>
               <div class="text-right">
                        <button id="print-btn" class="mdl-button mdl-js-button mdl-button--icon mdlbutton--colored edit-button" onclick="window.print()">
                            <i class="material-icons">print</i>
                        </button>
                        <div class="mdl-tooltip mdl-tooltip--large" for="print-btn">Print</div>

                        <button id="cancel-order" class="mdl-button mdl-js-button mdl-button--icon mdlbutton--colored edit-button" data-order="" onclick="confirmDeletion(this, 1);">
                            <i class="material-icons text-danger">delete</i>
                        </button>
                        <div class="mdl-tooltip mdl-tooltip--large" for="cancel-order">Cancel Order</div>
                    </div>

                    <table class="order_details table-striped col-xs-12 col-sm-6">
                            <tr>
                                <td><?php echo $text_order_id; ?>:</td>
                                <td id="order_id_m">#</td>
                            </tr>
                            <tr>
                                <td><?=$text_order_date;?>:</td>
                                <td id="order_date_m"></td>
                            </tr>
                            <tr>
                                <td><?=$text_delivery_date;?>:</td>
                                <td id="delivery_date_m"></td>
                            </tr>
                            
                    </table>
                    <table class="order_details  table-striped col-xs-12 col-sm-6">
                            <tr>
                                <td><?=$text_client_name;?>:</td>
                                <td id="company_name_m"></td>
                            </tr>
                            <tr>
                                <td><?=$text_delivery_address;?>:</td>
                                <td id="client_address_m"></td>
                            </tr>
                            <tr>
                                <td>Person Responsible:</td>
                                <td id="person_responsible_m">***</td>
                            </tr>
                            <!-- <tr>
                                <td>Payment Mode:</td>
                                <td id="payment_mode_m"></td>
                            </tr>
                            <tr>
                                <td>HT:</td>
                                <td><span id="htt_m" class="text-success"> &euro;</span></td>
                            </tr>
                            <tr>
                                <td>TVA:</td>
                                <td><span id="tva_m" class="text-danger">%</span></td>
                            </tr>
                            <tr>
                                <td> <?=$text_grand_total;?>:</td>
                                <td class="text-danger"><span id="ttc_m" class="text-danger"> &euro;</span></td>
                            </tr> -->

                    </table>
                </div>
                <div class="clearfix"></div>
                <hr>
            <table class="mdl-data-table mdl-js-data-table  md-table col-xs-12 ">
                <thead>
                <tr>
                    <th class="mdl-data-table__cell--non-numeric">Item #</th>
                    <th class="mdl-data-table__cell--non-numeric"><?= $text_item_name; ?></th>
                    <th class="mdl-data-table__cell--non-numeric"><?= $text_brand_name; ?></th>
                    <th class="mdl-data-table__cell--non-numeric"><?= $text_reference; ?></th>
                    <th class="mdl-data-table__cell--non-numeric">Quantity Ordered</th>
                    <th class="mdl-data-table__cell--non-numeric">Dispatched</th>
                    

                </tr>
                </thead>
                <tbody id="item-table-body-d"></tbody>
            </table>
        </div>
    </div>
</div>


<div hidden>
<form id="bol">
        <table class="mdl-data-table mdl-js-data-table  md-table col-xs-12 ">
            <tbody id = "item-order-node-d">
            <tr id="">
                <td class="mdl-data-table__cell--non-numeric _r_sr_no">1</td>
                <td class="mdl-data-table__cell--non-numeric _r_item_name">1</td>
                <td class="mdl-data-table__cell--non-numeric _r_brand_name">Lorem ipsum.</td>
                <td class="mdl-data-table__cell--non-numeric _r_reference">Lorem.</td>
                <!-- <td class="mdl-data-table__cell--non-numeric currency-euro _r_mrp">Lorem.</td> -->
                <!-- <td class="mdl-data-table__cell--non-numeric currency-euro _r_sell_rate"></td> -->
                <td class="mdl-data-table__cell--non-numeric _r_order_quantity"></td>
                <td class="mdl-data-table__cell--non-numeric _r_quantity"></td>
                <!-- <td class="mdl-data-table__cell--non-numeric currency-euro _r_total">Lorem.</td> -->
            </tr>
            </tbody>
        </table>
    </form>
</div>



</div>
<script>
var order_id = ""; 
    function getDetails(e) {
        var id = $(e).parent().parent().attr("id");

        $("#dispatch-confirm").addClass("hidden");
        $.ajax({
            url: '?route=salesOrder/getOrderDetails&order_id=' + id,
            type: 'GET',
            dataType: 'json',
            success: function (returnData) {
                var orderItems = returnData.order_items;
                var salesOrder = returnData.sales_order;
                var bol = returnData.bol_details;
                deliveries = returnData.delivery_address;
                console.log(deliveries);
                $("#modal-view2 > .view-title").html();
                $("#modal-view2 #order_id_m").html("#"+salesOrder.order_id);
                $("#modal-view2 #order_date_m").html(salesOrder.order_date);
                $("#modal-view2 #company_name_m").html(salesOrder.company_name);
                $("#modal-view2 #delivery_date_m").html(salesOrder.expected_date);
                $("#modal-view2 #person_responsible_m").html(salesOrder.person_responsible);
                $("#modal-view2 #client_address_m").html(salesOrder.delivery_other);
                // $("td._person_responsible").html(salesOrder.person_responsible);
                    $("#item-table-body-d").html("");

                for(var i = 0; i < orderItems.length; i++){
                    qr = 0;
                     if( id in bol) {  
                        if(bol[id][orderItems[i].item_id]){
                            qr = bol[id][orderItems[i].item_id];
                        }
                     }
                    var rowNode = $("#item-order-node-d").children().clone();
                    rowNode.children("._r_sr_no").html(orderItems[i].item_id);
                    rowNode.children("._r_item_name").html(orderItems[i].item_name);
                    rowNode.children("._r_brand_name").html(orderItems[i].brand_name);
                    rowNode.children("._r_reference").html(orderItems[i].reference);
                    // rowNode.children("._r_mrp").html(orderItems[i].mrp);
                    // rowNode.children("._r_sell_rate").html(orderItems[i].rate);
                    rowNode.children("._r_order_quantity").html(orderItems[i].quantity);
                    rowNode.children("._r_quantity").html(qr);
                    var t = orderItems[i].rate*orderItems[i].quantity;
                    // rowNode.children("._r_total").html(t.toFixed(2));
                    $("#item-table-body-d").append(rowNode);
                }
                    MDialog.start({},"detail",this,$("#modal-view2"));
            }


        });

        
    }

    function dispatch(e) {
        var id = $(e).parent().parent().attr("id");
        order_id = id;
        $.ajax({
            url: '?route=salesOrder/getOrderDetails&order_id=' + id,
            type: 'GET',
            dataType: 'json',
            success: function (returnData) {
                var orderItems = returnData.order_items;
                var salesOrder = returnData.sales_order;
                var bol = returnData.bol_details;
                $("#dispatch-confirm").removeClass("hidden");
                $("#order_id_m").html("#"+salesOrder.order_id);
                $("#order_date_m").html(salesOrder.order_date);
                $("#company_name_m").html(salesOrder.company_name);
                $("#delivery_date_m").html(salesOrder.expected_date);
                $("#person_responsible_m").html(salesOrder.person_responsible);
                $("#client_address_m").html(salesOrder.address);
                // $("td._person_responsible").html(salesOrder.person_responsible);
                    $("#item-table-body").html("");
                $("#modal-view .view-title").html("Sales Order Dispatch");    
                for(var i = 0; i < orderItems.length; i++){
                    qr = 0;
                     if(order_id in bol) {  
                        if(bol[id][orderItems[i].item_id]){
                            qr = bol[id][orderItems[i].item_id];
                        }
                     }
                     max_q = orderItems[i].quantity - qr;
                    var rowNode = $("#item-order-node").children().clone();
                    rowNode.children("._r_sr_no").html(i+1);
                    rowNode.children("._r_item_name").html(orderItems[i].item_name);
                    rowNode.children("._r_brand_name").html(orderItems[i].brand_name);
                    rowNode.children("._r_reference").html(orderItems[i].reference);
                    // rowNode.children("._r_mrp").html(orderItems[i].mrp);
                    rowNode.children("._r_sell_rate").html(orderItems[i].rate);
                    rowNode.children("._r_order_quantity").html(orderItems[i].quantity);
                    rowNode.children("._r_quantity").html("<input type='number' class='quantities_a' min='0' max="+max_q+" class='text-center' id='"+orderItems[i].item_id+"' name='quantity["+orderItems[i].item_id+"]' onchange='bolQuan(this, "+max_q+");'> ("+qr+")");
                    var t = orderItems[i].rate*orderItems[i].quantity;
                    rowNode.children("._r_total").html(t.toFixed(2));
                    $("#item-table-body").append(rowNode);
                }
                    MDialog.start({},"detail",this,$("#modal-view"));
            }


        });

        
    }
function bolQuan(e, ordered_quan){
            
            if($(e).val() > ordered_quan){
                alert("You cannot dispatch more than ordered quantity.");
                $(e).val(ordered_quan);
            }
}
$("#dispatch-confirm").click(function(){
    quantities  = $("input.quantities_a").serialize();
    item_quantity = {};
    quantities = $('input.quantities_a');

    $.each(quantities, function(k,v){
        id = $(v).attr("id");
        val = $(v).val();
        if(val != "" || val != 0) item_quantity[id] = val;
    });
    $.ajax({
            url: '?route=salesOrder/dispatch',
            type: 'POST',
            data: {
                'order_number' : order_id,
                'quantities' : item_quantity,
            },
            dataType: 'json',
            success: function () {
                $(".mdl-progress").hide();
                $("#m-dialog-close-btn").trigger("click");
                showSnackbar("BOL has been added.");
            },
            error: function () {
                $(".mdl-progress").hide();
                showSnackbar("Failed adding BOL, please check details.");
            }
        });
});
   
 var selectBoxItem;
    var selctizedBoxInstanceItem;

    var orderItemsFilter = [];

    function initItemFilterSelectBox() {
        selectBoxItem = $(".selectize-filter-items").selectize({
            onItemAdd: itemAddListener,
            onItemRemove: itemRemoveListener,
            options: [
                {id: 'time_1', type: 'date', label: 'Last day'},
                {id: 'time_2', type: 'date', label: 'Last one week'},
                {id: 'time_3', type: 'date', label: 'Last Two week'},
                {id: 'time_4', type: 'date', label: 'Last Month'},
            ],
            optgroups: [
                {id: 'client', name: 'Client'},
                {id: 'item', name: 'Item'},
                {id: 'date', name: 'By Added on'},
                {id: 'ref', name: 'Ref#'}
            ],
            labelField: 'label',
            valueField: 'id',
            optgroupField: 'type',
            optgroupLabelField: 'name',
            optgroupValueField: 'id',
            optgroupOrder: ['client', 'item', 'date', 'ref'],
            searchField: ['label'],
            plugins: ['optgroup_columns', 'remove_button'],
            maxItems:4,
            maxOptions : 10

        });
        if (selectBoxItem.length != 0) selctizedBoxInstanceItem = selectBoxItem[0].selectize;
    }
    var lastDateItemId = "";
    function itemAddListener(value, item){
        var item = $(item);
        var id = selctizedBoxInstanceItem.options[value].id;
        var type = selctizedBoxInstanceItem.options[value].type;
        var label = selctizedBoxInstanceItem.options[value].label;
        if(type == "date"){
            item.css("background-color","#1565c0");
            if(lastDateItemId != "")selctizedBoxInstanceItem.removeItem(lastDateItemId, false);
            lastDateItemId = id;
            // loadItemsSelectBox();
        }
        if(type == "client"){
            // loadItemsSelectBox();
            item.css("background-color","#00695c");
        }
        if(type == "item")item.css("background-color","#2e7d32");

        if(type == "ref"){
            item.css("background-color","#0277bd");
            // loadItemsSelectBox();
        }

        loadItems();

    }
    function itemRemoveListener(value){
        var type = selctizedBoxInstanceItem.options[value].type;
        loadItemsSelectBox();
        loadItems();
    }

    function loadItemsSelectBox(){
        // filterResults();
        // if(clientFilterList.length == 0 && dateFilter.length == 0) {
        //     clearItemOptions();
        //     return;
        // }
        // $(".mdl-progress").show();
        // var postData = {
        //     all: 1,
        //     clientList : clientFilterList,
        //     dateFilter : dateFilter,
        //     refFilterList: refFilterList,
        //     list:'item'
        // };
        // $.ajax({
        //     url: '?route=salesOrder/getItemsList&all=1',
        //     type: 'POST',
        //     data: postData,
        //     dataType: 'json',
        //     success: function (returnData) {
        //         clearItemOptions();
        //         data = returnData.itemList;
        //         for(var i = 0; i < data.length ; i++){
        //             //console.log(data[i]);
        //             selctizedBoxInstanceItem.addOption({id : "item-"+data[i].item_id, type: "item", label: (data[i].item_name + "-" + data[i].reference)});
        //         }
        //         selctizedBoxInstanceItem.refreshOptions(false);
        //     },
        //     error: function () {
        //         $(".mdl-progress").hide();
        //         showSnackbar("Can't load client list.");
        //     }
        // });

    }


   var clientFilterList = [];
    var itemIdFilterList = [];
    var refFilterList = [];
    var dateFilter = [];
    var categoryFilterList = [];
    var brandFilter = [];


   function loadRefSelectBox(multi=true){
        client_id = 0;
        brand_name = "";
        category = 0;
        ot = $("#order_type").val();
        if(!multi){
            client_id = clientFilterList[0];
            brand_name = brandFilter[0];

            if(categoryFilterList[0] != undefined)
                category = categoryFilterList[0];
        }
        $("#filter-ref").selectize()[0].selectize.clearOptions();
        $.ajax({
            url: '?route=salesOrder/getRefList&all=1&client_id='+client_id+'&brand_name='+brand_name+'&category='+category+'&ot='+ot,
            type: 'GET',
            dataType: 'json',
            success: function (returnData) {
                data = returnData.ref_list;
                for(var i = 0; i < data.length ; i++){
                    if(multi)
                        selctizedBoxInstanceItem.addOption({id : data[i].reference, type: "ref", label: ("#"+data[i].reference)});
                    else
                        $("#filter-ref").selectize()[0].selectize.addOption({id : data[i].reference, label: (data[i].reference)});
                }
                selctizedBoxInstanceItem.refreshOptions(false);
            },
            error: function () {
                $(".mdl-progress").hide();
                showSnackbar("Can't load ref list.");
            }
        });
    }


   function loadClientsSelectBox(multi=true){
        $.ajax({
            url: '?route=salesOrder/getclientsList&all=1',
            type: 'GET',
            dataType: 'json',
            success: function (returnData) {
                data = returnData.client_list;
                for(var i = 0; i < data.length ; i++){
                        $("#filter-client").selectize()[0].selectize.addOption({id : data[i].client_id, label: (data[i].company_name)});
                }
                $("#filter-client").selectize()[0].selectize.refreshOptions(false);
            },
            error: function () {
                $(".mdl-progress").hide();
                showSnackbar("Can't load client list.");
            }
        });
    }

     function loadBrandNames(){
        client_id = 0;

        client_id = clientFilterList[0];
        $("#filter-brand").selectize()[0].selectize.clearOptions();
        $.ajax({
            url: '?route=salesOrder/getBrandNames&all=1&client_id='+client_id,
            type: 'GET',
            dataType: 'json',
            success: function (returnData) {
                data = returnData.brand_list;
                for(var i = 0; i < data.length ; i++){
                        $("#filter-brand").selectize()[0].selectize.addOption({id : data[i].brand_name, label: (data[i].brand_name)});
                }
                $("#filter-brand").selectize()[0].selectize.refreshOptions(false);
            },
            error: function () {
                $(".mdl-progress").hide();
                showSnackbar("Can't load client list.");
            }
        });
    }

    function loadItemCategorySelectBox(multi=true){
        client_id = 0;
        brand_name = "";
        if(!multi){
            client_id = clientFilterList[0];
            if(brandFilter[0] != undefined)
                brand_name = brandFilter[0];
        }
        $("#filter-category").selectize()[0].selectize.clearOptions();
        $.ajax({
            url: '?route=salesOrder/getCategoryList&all=1&client_id='+client_id+'&brand_name='+brand_name,
            type: 'GET',
            dataType: 'json',
            success: function (returnData) {
                data = returnData.category_list;
                for(var i = 0; i < data.length ; i++){
                    if(multi)
                        selctizedBoxInstanceItem.addOption({id : data[i].item_category, type: "category", label: (data[i].title)});
                    else
                        $("#filter-category").selectize()[0].selectize.addOption({id : data[i].item_category, label: (data[i].title)});

                }
                selctizedBoxInstanceItem.refreshOptions(false);
                $("#filter-category").selectize()[0].selectize.refreshOptions(false);
            },
            error: function () {
                $(".mdl-progress").hide();
                showSnackbar("Can't load category list.");
            }
        });
    }


    function filterResults(){
        var input = $(this);
        clientFilterList = [];
        refFilterList = [];
        itemIdFilterList = [];
        dateFilter = [];
        //console.log(selctizedBoxInstanceItem.getValue());
        for(var i=0; i < selctizedBoxInstanceItem.getValue().length; i++){
            var id = selctizedBoxInstanceItem.options[selctizedBoxInstanceItem.getValue()[i]].id;
            var type = selctizedBoxInstanceItem.options[selctizedBoxInstanceItem.getValue()[i]].type;
            var label = selctizedBoxInstanceItem.options[selctizedBoxInstanceItem.getValue()[i]].label;
            if(type == "client") clientFilterList.push(id);
            if(type == "date") dateFilter.push(id);
            if(type == "ref") {
                var cId = id.substr(id.indexOf("-") + 1);
                refFilterList.push(cId);
            }
            if(type == "item"){
                var cId = id.substr(id.indexOf("-") + 1);
                itemIdFilterList.push(cId);
            }
        }

        if(orderItemsFilter.length > 0){
            for(var i=0 ; i < orderItemsFilter.length; i++){
                itemIdFilterList.push(orderItemsFilter[i]);
            }
            orderItemsFilter = [];
        }
    }

    var tableheader = $("#table-head");

    function tableSort() {
        var th = $(this);
        if (th.hasClass("no-sort")) {
            console.log("NO");
            tableheader.children(".sortable").removeClass("mdl-data-table__header--sorted-ascending");
            tableheader.children(".sortable").removeClass("mdl-data-table__header--sorted-descending");
            tableheader.children(".sortable").addClass("mdl-data-table__header");
            tableheader.children(".sortable").addClass("no-sort");
            th.removeClass("no-sort");
            th.removeClass("mdl-data-table__header");
            th.addClass("mdl-data-table__header--sorted-ascending");
            loadItems();
            return;
        }

        if (th.hasClass("mdl-data-table__header--sorted-ascending")) {
            th.removeClass("mdl-data-table__header--sorted-ascending");
            th.addClass("mdl-data-table__header--sorted-descending");
            console.log("ASC");
            loadItems();
            return;
        }

        if (th.hasClass("mdl-data-table__header--sorted-descending")) {
            th.removeClass("mdl-data-table__header--sorted-descending");
            th.addClass("mdl-data-table__header");
            th.addClass("no-sort");
            console.log("DESC");
            loadItems();
        }

    }


    function clearItemOptions(){

        for(var prop in selctizedBoxInstanceItem.options){
            var id = selctizedBoxInstanceItem.options[prop].id;
            var type = selctizedBoxInstanceItem.options[prop].type;
            if(type == "item") {
                selctizedBoxInstanceItem.removeOption(id);
            }
        }

//        for(var i=0; i < selctizedBoxInstanceItem.options.length; i++){
//            console.log(selctizedBoxInstanceItem.options[i]);
//            var id = selctizedBoxInstanceItem.options[i].id;
//            var type = selctizedBoxInstanceItem.options[i].type;
//            if(type == "item") {
//                selctizedBoxInstanceItem.removeOption(id);
//            }
//
//        }
        selctizedBoxInstanceItem.refreshOptions(false);
    }

    function loadItems() {
        $(".mdl-progress").show();
        filterResults();
        var postData = {
            all: 1,
            clientList : clientFilterList,
            dateFilter : dateFilter,
            itemIdList : itemIdFilterList,
            refList: refFilterList
        };
        console.log(dateFilter);
        if (tableheader.children(".sortable.mdl-data-table__header--sorted-ascending").length > 0) {
            postData.sort = "ASC";
            postData.sortField = $(tableheader.children(".sortable.mdl-data-table__header--sorted-ascending")[0]).attr("id");
        }
        if (tableheader.children(".sortable.mdl-data-table__header--sorted-descending").length > 0) {
            postData.sort = "DESC";
            postData.sortField = $(tableheader.children(".sortable.mdl-data-table__header--sorted-descending")[0]).attr("id");
        }
        $.ajax({
            url: '?route=salesOrder/getSalesOrderList&all=1',
            type: 'POST',
            data: postData,
            dataType: 'json',
            success: function (returnData) {
                data = returnData.order_list;
                order_status = returnData.order_status;
                $("#order-body").html("");
                for (var i = 0; i < data.length; i++) {
                    var rowNode = $("#order-list-temp tr").clone(true);
                    rowNode.attr("id", data[i].order_id);
                    rowNode.children(".__order_id").html(data[i].order_id);
                    rowNode.children(".__order_date").html(data[i].order_date);
                    rowNode.children(".__client_name").html(data[i].company_name);
                    rowNode.children(".__order_status").html(order_status[data[i].order_status].replace(/_/g," "));
                    if(data[i].order_status == 2) rowNode.children(".__order_status").addClass("text-warning");
                    if(data[i].order_status == 4) rowNode.children(".__order_status").addClass("text-success");
                    if(data[i].order_status == 9) rowNode.children(".__order_status").addClass("text-danger");
                    // rowNode.children(".__total_amount").append(data[i].ttc);
                    //rowNode.children("._quantity").children("input").val();
                    
                    $("#order-body").append(rowNode);

                }
                $(".mdl-progress").hide();
                showSnackbar("Data loaded.");
            },
            error: function () {
                $(".mdl-progress").hide();
                showSnackbar("Can't complete your request.");
            }
        });
    }

    $("#filter-client").change(function(){
        $(".mdl-progress").show();
        val = $(this).val();
        clientFilterList = [];
        if(val != 0)
            clientFilterList.push(val);
        loadBrandNames();
        loadItemCategorySelectBox(false);
        loadItems();
        $(".mdl-progress").hide();
    });
    $("#filter-category").change(function(){
        val = $(this).val();
        categoryFilterList = [];
        if(val != 0)
            categoryFilterList.push(val);
        loadRefSelectBox(false);
        loadItems();
    });
    $("#filter-ref").change(function(){
        val = $(this).val();
        refFilterList = [];
        if(val != 0)
            refFilterList.push(val);
        loadItems();
    });
    $("#filter-brand").change(function(){
        val = $(this).val();
        brandFilter = [];
        if(val != 0)
            brandFilter.push(val);
        loadItemCategorySelectBox(false);
        loadRefSelectBox(false);
        loadItems();
    });
    $("#filter-limit").change(function(){
        pageCount=1;
        loadItems();
    });

    $(document).ready(function () {
        $("#refresh-data-btn").click(loadItems);
        tableheader.children(".sortable").click(tableSort);
        initItemFilterSelectBox();
        loadClientsSelectBox();
        loadRefSelectBox();
        loadItems();
        $("#filter-box").change(filterResults);
        $("#order_type").change(function(){
            loadItems();
        });

    });

     $(document).on("click", ".pagination li a", function(e){
        e.preventDefault();
        found = false;
        url = $(this).attr("href");
        splinters = url.split("&");
        $.each(splinters, function(key, val){
            vals = val.split("=");
            if(vals[0] == "page") {
                found = true;
                pageCount = vals[1];
            }
        });
        if(!found) pageCount = 1;
        loadItems();
    });
</script>