

<div class="center-margin col-xs-12 col-md-6 ">
	<div class="table-card mdl-card  mdl-shadow--2dp col-xs-12">

		<div class="table-header">
			<h4>New Sales Order
				<button class="mdl-button mdl-js-button mdl-button--icon pull-right">
					<i class="material-icons">edit</i>
				</button>
			</h4>

			<select name="vendor_name" class="field selectize-filter">
				<option value="">Search</option>
			</select>
		</div>
		
		<div class="table col-xs-12 col-md-6">
			<h5 class="col-xs-12 col-md-6">2</h5>
			<table class="details col-xs-12 col-md-6 ">
				
				<tbody>

					<tr>
						<td class="head col-xs-6">Order Date</td>
						<td class="">hii!!!</td>
					</tr>
					
					<tr>
						<td class="col-xs-6 head">Client Name</td>
						<td>hii!!!</td>
					</tr>
					<tr>
						<td class="col-xs-6 head">Delivery Address</td>
						<td>hii!!!</td>
					</tr>
					<tr>
						<td class="head col-xs-6">Raised By</td>
						<td>hii!!!</td>
					</tr>
					
				</tbody>
				
			</table>
		</div>
		
		<div class="table col-xs-12 col-md-6">
			<h5 class="col-xs-12 col-md-6">hiii!!!</h5>
			<table class="details col-xs-12 col-md-6 ">
				
				<tbody>

					<tr>
						<td class="head col-xs-6">Item Id </td>
						<td class="">hii!!!</td>
					</tr>
					<tr>
						<td class="head col-xs-6">Brand Name </td>
						<td class="">hii!!!</td>
					</tr>
					<tr>
						<td class="head col-xs-6">Discount Rate </td>
						<td class="">hii!!!</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="table-footer col-xs-12">
			<h5 class="col-xs-6">Take Actions</h5>
			<i class="material-icons pull-right icon">cancel</i>
			<i class="material-icons pull-right icon">add_alert</i>
		</div>
	</div>
</div>