<style type="text/css">
    .pagination{
        margin:0 !important;
    }
    .selectize-input{
        background-image: none !important;
        background-color:#fff !important;
        border:1px solid #aaa !important; 
    }
</style>

<div class="center-margin col-xs-12  ">
    <div class="table-card mdl-card  mdl-shadow--2dp col-xs-12">

        <div class="table-header">
            <h4 style="margin-bottom: 15px;"><?=$text_title;?></h4>
            
            <div class="clearfix"></div>
                <div class="form-group col-xs-12 text-right">
                    <small>Results per page:</small> 
                    <select name="limit" id="filter-limit">
                        <option value="15" selected>15</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                    </select>
                </div>
                <div class="form-group col-xs-3">
                    <select name="vendor" id="filter-vendor" class="selectize" placeholder="Vendor">
                    </select>
                </div>
                <div class="form-group col-xs-3">
                    <select name="brand_name" id="filter-brand" class="selectize" placeholder="Brand Name">
                    </select>
                </div>
                <div class="form-group col-xs-3">
                    <select name="brand" id="filter-category" class="selectize" placeholder="Category">
                    </select>
                </div>

                <div class="form-group col-xs-3">
                    <select name="ref" id="filter-ref" class="selectize" placeholder="Reference">
                    </select>
                </div>
            <select name="vendor_name" multiple class="field selectize-filter-items hidden">
                <option value=""><?=$text_search;?></option>
            </select>
        </div>

            <table class="mdl-data-table mdl-js-data-table  md-table col-xs-12 expandable">
                <thead>
                    <tr id="table-head">
                        <th class="mdl-data-table__cell--non-numeric sortable no-sort" id="reference"><?=$text_reference_no;?></th>
                        <th class="mdl-data-table__cell--non-numeric sortable no-sort" id="item_name"><?=$text_item_name;?></th>
                        <th class="mdl-data-table__cell--non-numeric sortable no-sort" id="brand_name"><?=$text_brand_name;?></th>
                        <th class="mdl-data-table__cell--non-numeric sortable no-sort" id="title"><?=$text_category;?></th>
                        <th class="mdl-data-table__cell--non-numeric"><?=$text_item_area;?></th>
                        <th class="mdl-data-table__cell--non-numeric"><?=$text_min_stock;?></th>
                        <th class="mdl-data-table__cell--non-numeric"><?=$text_stock_inhand;?></th>
                        <th class="mdl-data-table__cell--non-numeric"><?=$text_action;?></th>
                    </tr>
                </thead>


                <tbody id="items-body">                   
                </tbody>
            </table>
            <div class='tfoot hidden' style="padding: 20px 20px 10px;    background: #f5f5f5;    font-size: 12px;    font-weight: bold;">
            <span class="text-left">
                Showing <span class="limit_count"></span> of <span class="total_count"></span> results
            </span>
            <span class="paginate pull-right"></span>
        </div>
        <table id="item-template" hidden>
            <tr class="parent-row"  id="">
                <td class="mdl-data-table__cell--non-numeric __item_reference" ></td>
                <td class="mdl-data-table__cell--non-numeric  __item_name"></td>
                <td class="mdl-data-table__cell--non-numeric  __item_brand"></td>
                <td class="mdl-data-table__cell--non-numeric  __item_category"></td>
                <td class="mdl-data-table__cell--non-numeric  __item_area"></td>
                <td class="mdl-data-table__cell--non-numeric __min_stock"></td>
                <td class="mdl-data-table__cell--non-numeric __item_stock"></td>
                <td class="mdl-data-table__cell--non-numeric _buttons">
                    <button type="button" id="tt2" class="open-btn image mdl-button mdl-js-button mdl-button--icon mdl-button--colored">
                        <i class="material-icons">collections</i>
                    </button>
                    <button type="button" id="tt2" class="open-btn mdl-button mdl-js-button mdl-button--icon mdl-button--accent pdf">
                        <i class="material-icons">picture_as_pdf</i>
                    </button>
                </td>

            </tr>
        </table>
    </div>
</div>
</div>

   <div id="modal-view" hidden>
        <div class="view-title">Item Image</div>
        <div class="view-body">

            <div class="form-content">
                <div>
                    <h4 class="pull-left mdl-button--primary"><small>Reference</small> <br> <span id="item_id_m"></span></h4>
                </div>
                <div class="clearfix"></div>
                <img id="item_image" src="" >
                <a href="" id="item_reference">

            </div>
        </div>
    </div>


<script>

   

    $("tr > .clickable").click(function () {

        console.log($(this).parent().attr("id"));
        var id = $(this).parent().attr("id");
        $.ajax({
            url : '?route=stock/getItemDetails&item_id='+id,
            type : 'GET',
            dataType : 'json',
            success: function(returnData){
                data = returnData.item_details;
                $("#modal-view > .view-title").html();
                $("#item_id_m").html(data.item_id);
                $("#item_image_m").html(data.image);
                
                //if(data.attachment != 0) {
                    //$("#modal-view-message > .view-body > .attachments").show();
                   // $("#modal-view-message > .view-body > .attachments > a").attr("href",data.attachment);
                //}else{
                    //$("#modal-view-message > .view-body > .attachments").hide();
               // }
                MDialog.start({},"detail",this,$("#modal-view"));
            }
        });
    });

    function openAttachment() {
        var id = $(this).parent().parent().attr("id");
        var button = $(this);
        $.ajax({
            url : '?route=stock/getItemDetails&item_id='+id,
            type : 'GET',
            dataType : 'json',
            success: function(returnData){
                data = returnData.item_details;
                if(button.hasClass("pdf")){
                    if(data.item_pdf == 0){
                      showSnackbar("No document uploaded");
                  }else{

                     window.open(data.item_pdf, '_blank');
                 }
             }

             if(button.hasClass("image")){
                if(data.image == 0){
                  showSnackbar("No image uploaded");
              }else{
                $("#modal-view > .view-title").html();
                $("#item_id_m").html(data.reference);
                $("#item_image").attr("src",data.image);
                //$("#item_reference").attr("href",data.reference);
                MDialog.start({},"detail",this,$("#modal-view"));
                }
            }                    
        }
   });  
};



    var selectBoxItem;
    var selctizedBoxInstanceItem;

    var orderItemsFilter = [];
    $("#selected-items-btn").click(function () {
        if(countProperties(orderItems) > 0){
            selctizedBoxInstanceItem.clear();
            orderItemsFilter = [];
            for (var key in orderItems) {
                console.log(key);

                orderItemsFilter.push(key);
            }
            loadItems();
        }
    });
    
    function initItemFilterSelectBox() {
        selectBoxItem = $(".selectize-filter-items").selectize({
            onItemAdd: itemAddListener,
            onItemRemove: itemRemoveListener,
            options: [
                // {id: 'time-1', type: 'date', label: 'Last day'},
                // {id: 'time-2', type: 'date', label: 'Last one week'},
                // {id: 'time-3', type: 'date', label: 'Last Two week'},
                // {id: 'time-4', type: 'date', label: 'Last Month'},
            ],
            optgroups: [
                {id: 'item', name: 'Item'},
                // {id: 'date', name: 'By Added on'},
                {id: 'category', name: 'Category'},
                {id: 'area', name: 'Area'},
                {id: 'ref', name: 'Ref#'}
            ],
            labelField: 'label',
            valueField: 'id',
            optgroupField: 'type',
            optgroupLabelField: 'name',
            optgroupValueField: 'id',
            optgroupOrder: ['ref', 'category', 'area','item'],
            searchField: ['label'],
            plugins: ['optgroup_columns', 'remove_button']

        });
        if (selectBoxItem.length != 0) selctizedBoxInstanceItem = selectBoxItem[0].selectize;
    }
    var lastDateItemId = "";
    function itemAddListener(value, item){
        var item = $(item);
        var id = selctizedBoxInstanceItem.options[value].id;
        var type = selctizedBoxInstanceItem.options[value].type;
        var label = selctizedBoxInstanceItem.options[value].label;
        if(type == "date"){
            item.css("background-color","#1565c0");
            if(lastDateItemId != "")selctizedBoxInstanceItem.removeItem(lastDateItemId, false);
            lastDateItemId = id;
        }
        if(type == "item")item.css("background-color","#2e7d32");

        if(type == "category"){
            item.css("background-color","#0277bd");
        }

        if(type == "area"){
            item.css("background-color","#283593");
        }
        if(type == "ref"){
            item.css("background-color","#62096d");
        }


        loadItems();

    }
    function itemRemoveListener(value){
        var type = selctizedBoxInstanceItem.options[value].type;
        loadItems();
    }

     var vendorFilterList = [];
    var itemIdFilterList = [];
    var refFilter = [];
    var dateFilter = [];
    var categoryFilterList = [];
    var brandFilter = [];


   function loadVendorsSelectBox(multi=true){
        $.ajax({
            url: '?route=purchaseOrder/getVendorsList&all=1',
            type: 'GET',
            dataType: 'json',
            success: function (returnData) {
                data = returnData.vendors_list;
                for(var i = 0; i < data.length ; i++){
                        $("#filter-vendor").selectize()[0].selectize.addOption({id : data[i].vendor_id, label: (data[i].company_name)});
                }
                $("#filter-vendor").selectize()[0].selectize.refreshOptions(false);
            },
            error: function () {
                $(".mdl-progress").hide();
                showSnackbar("Can't load vendor list.");
            }
        });
    }
    function loadBrandNames(){
        vendor_id = 0;
        
        vendor_id = vendorFilterList[0];
        $("#filter-brand").selectize()[0].selectize.clearOptions();
        $.ajax({
            url: '?route=purchaseOrder/getBrandNames&all=1&vendor_id='+vendor_id,
            type: 'GET',
            dataType: 'json',
            success: function (returnData) {
                data = returnData.brand_list;
                for(var i = 0; i < data.length ; i++){
                        $("#filter-brand").selectize()[0].selectize.addOption({id : data[i].brand_name, label: (data[i].brand_name)});
                }
                $("#filter-brand").selectize()[0].selectize.refreshOptions(false);
            },
            error: function () {
                $(".mdl-progress").hide();
                showSnackbar("Can't load vendor list.");
            }
        });
    }
    function loadRefSelectBox(multi=true){
        vendor_id = 0;
        brand_name = "";
        category = 0;
        if(!multi){
            vendor_id = vendorFilterList[0];
            brand_name = brandFilter[0];

            if(categoryFilterList[0] != undefined)
                category = categoryFilterList[0];
        }
        $("#filter-ref").selectize()[0].selectize.clearOptions();
        $.ajax({
            url: '?route=purchaseOrder/getRefList&all=1&list=item&&vendor_id='+vendor_id+'&brand_name='+brand_name+'&category='+category,
            type: 'GET',
            dataType: 'json',
            success: function (returnData) {
                data = returnData.ref_list;
                for(var i = 0; i < data.length ; i++){
                    if(multi)
                        selctizedBoxInstanceItem.addOption({id : data[i].reference, type: "ref", label: ("#"+data[i].reference)});
                    else                        
                        $("#filter-ref").selectize()[0].selectize.addOption({id : data[i].reference, label: (data[i].reference)});
                }
                selctizedBoxInstanceItem.refreshOptions(false);
            },
            error: function () {
                $(".mdl-progress").hide();
                showSnackbar("Can't load ref list.");
            }
        });
    }


    function loadItemCategorySelectBox(multi=true){
        vendor_id = 0;
        brand_name = "";
        if(!multi){
            vendor_id = vendorFilterList[0];
            if(brandFilter[0] != undefined)
                brand_name = brandFilter[0];
        }
        $("#filter-category").selectize()[0].selectize.clearOptions();
        $.ajax({
            url: '?route=purchaseOrder/getCategoryList&all=1&vendor_id='+vendor_id+'&brand_name='+brand_name,
            type: 'GET',
            dataType: 'json',
            success: function (returnData) {
                data = returnData.category_list;
                for(var i = 0; i < data.length ; i++){
                    if(multi)
                        selctizedBoxInstanceItem.addOption({id : data[i].item_category, type: "category", label: (data[i].title)});
                    else
                        $("#filter-category").selectize()[0].selectize.addOption({id : data[i].item_category, label: (data[i].title)});

                }
                selctizedBoxInstanceItem.refreshOptions(false);
                $("#filter-category").selectize()[0].selectize.refreshOptions(false);
            },
            error: function () {
                $(".mdl-progress").hide();
                showSnackbar("Can't load vendor list.");
            }
        });
    }

    var tableheader = $("#table-head");
   

    function tableSort() {
        var th = $(this);
        if (th.hasClass("no-sort")) {
            console.log("NO");
            tableheader.children(".sortable").removeClass("mdl-data-table__header--sorted-ascending");
            tableheader.children(".sortable").removeClass("mdl-data-table__header--sorted-descending");
            tableheader.children(".sortable").addClass("mdl-data-table__header");
            tableheader.children(".sortable").addClass("no-sort");
            th.removeClass("no-sort");
            th.removeClass("mdl-data-table__header");
            th.addClass("mdl-data-table__header--sorted-ascending");
            loadItems();
            return;
        }

        if (th.hasClass("mdl-data-table__header--sorted-ascending")) {
            th.removeClass("mdl-data-table__header--sorted-ascending");
            th.addClass("mdl-data-table__header--sorted-descending");
            console.log("ASC");
            loadItems();
            return;
        }

        if (th.hasClass("mdl-data-table__header--sorted-descending")) {
            th.removeClass("mdl-data-table__header--sorted-descending");
            th.addClass("mdl-data-table__header");
            th.addClass("no-sort");
            console.log("DESC");
            loadItems();
        }

    }


    function clearItemOptions(){

        for(var prop in selctizedBoxInstanceItem.options){
            var id = selctizedBoxInstanceItem.options[prop].id;
            var type = selctizedBoxInstanceItem.options[prop].type;
            if(type == "item") {
                selctizedBoxInstanceItem.removeOption(id);
            }
        }

//        for(var i=0; i < selctizedBoxInstanceItem.options.length; i++){
//            console.log(selctizedBoxInstanceItem.options[i]);
//            var id = selctizedBoxInstanceItem.options[i].id;
//            var type = selctizedBoxInstanceItem.options[i].type;
//            if(type == "item") {
//                selctizedBoxInstanceItem.removeOption(id);
//            }
//
//        }
        selctizedBoxInstanceItem.refreshOptions(false);
    }

    var pageCount = 1;
    function loadItems() {
        $(".mdl-progress").show();
         filterLimit = $("#filter-limit").val();
        // filterResults();
        var postData = {
            all: 1,
            vendorList : vendorFilterList,
            dateFilter : dateFilter,
            categoryFilter: categoryFilterList,
            refList : refFilter,
            list: 'item', 
            limit : filterLimit, 
            page : pageCount,
            brand: brandFilter[0]
        };

        if (tableheader.children(".sortable.mdl-data-table__header--sorted-ascending").length > 0) {
            postData.sort = "ASC";
            postData.sortField = $(tableheader.children(".sortable.mdl-data-table__header--sorted-ascending")[0]).attr("id");
        }
        if (tableheader.children(".sortable.mdl-data-table__header--sorted-descending").length > 0) {
            postData.sort = "DESC";
            postData.sortField = $(tableheader.children(".sortable.mdl-data-table__header--sorted-descending")[0]).attr("id");
        }
        $.ajax({
            url: '?route=stock/getItemsList&all=1',
            type: 'POST',
            data: postData,
            dataType: 'json',
            success: function (returnData) {
                data = returnData.itemList;
                console.log(returnData.clause);
                $("#items-body").html("");
                for (var i = 0; i < data.length; i++) {
                    var rowNode = $("#item-template > tbody > tr").clone(true);
                    // console.log(rowNode);
                    rowNode.attr("id", data[i].item_id);
                    rowNode.children(".__item_reference").html(data[i].reference);
                    rowNode.children(".__item_name").html(data[i].item_name);
                    rowNode.children(".__item_category").html(data[i].item_category);
                    rowNode.children(".__item_brand").html(data[i].brand_name);
                    rowNode.children(".__item_area").html(data[i].area);
                    rowNode.children(".__min_stock").html(data[i].min_stock);
                    rowNode.children(".__item_stock").html(data[i].current_stock);
                    //rowNode.children("._quantity").children("input").val();
                    if (data[i].item_pdf == 0) rowNode.children("._buttons").children(".pdf").hide();
                    if (data[i].image == 0) rowNode.children("._buttons").children(".image").hide();

                    $("#items-body").append(rowNode);

                }
                $(".mdl-progress").hide();
                showSnackbar("Data loaded.");
            },
            error: function () {
                $(".mdl-progress").hide();
                showSnackbar("Can't complete your request.");
            }
        });
    }

    $(".open-btn").click(openAttachment);




    $(".approve-button").click(function () {
        showSnackbar("Changes Approved");
        //this.
    });
    $(".disapprove-button").click(function () {
        showSnackbar("Changes Disapproved");
        //this.
    });


    $(".alert-button").click(function () {
        MDialog.start({},"detail",this,$("#modal-view2"));
    });

     $("#filter-vendor").change(function(){
        val = $(this).val();
        vendorFilterList = [];
        if(val != 0)
            vendorFilterList.push(val);
        loadBrandNames();
        loadItemCategorySelectBox(false);
        loadItems();
    });
    $("#filter-category").change(function(){
        val = $(this).val();
        categoryFilterList = [];
        if(val != 0)
            categoryFilterList.push(val);
        loadRefSelectBox(false);
        loadItems();
    });
    $("#filter-ref").change(function(){
        val = $(this).val();
        refFilter = [];
        if(val != 0)
            refFilter.push(val);
        loadItems();
    });
    $("#filter-brand").change(function(){
        val = $(this).val();
        brandFilter = [];
        if(val != 0)
            brandFilter.push(val);
        loadItemCategorySelectBox(false);
        loadRefSelectBox(false);
        loadItems();
    });
    $("#filter-limit").change(function(){
        pageCount=1;
        loadItems();
    });
    $(document).on("click", ".pagination li a", function(e){
        e.preventDefault();
        found = false;
        url = $(this).attr("href");
        splinters = url.split("&");
        $.each(splinters, function(key, val){
            vals = val.split("=");
            if(vals[0] == "page") {
                found = true;
                pageCount = vals[1];
            }
        });
        if(!found) pageCount = 1;
        loadItems();
    });

    $(document).ready(function () {
       $("#refresh-data-btn").click(loadItems);
        tableheader.children(".sortable").click(tableSort);
        // initItemFilterSelectBox();
        loadVendorsSelectBox();
        // loadItemCategorySelectBox();
        // loadAreaSelectBox();
        // loadRefSelectBox();
        loadItems();
        $("#modal-view2 td").css("color", "#2196F3");
        $("#modal-view2 td").css("font-weight", "bold");
        $(".open-attach-btn").click(openAttachment);
        // $("#filter-box").change(filterResults);

        $('[data-toggle="tooltip"]').tooltip();

    });
</script>