<div class="center-margin col-xs-12 col-sm-4 col-md-6 head">
    <form action="" method="post" >
        <div class="form-card mdl-card   col-xs-12 col-sm-8 col-md-6">
            <div class="form-header">
                <h4><?=$text_title_edit;?></h4>
            </div>
            <div class="form-content">
                <div class="form-field col-xs-12 text-center">
                    <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="company">
                    <input type="radio" id="company" name="client_type" class="mdl-radio__button" name="radio" checked />Company</label>

                    <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="individual">
                    <input type="radio" id="individual" name="client_type" class="mdl-radio__button" name="radio" checked />Individual</label>
                </div>
                    
                    <!-- <div class="form-field col-xs-12">
                        <label class="col-md-4"><?= $text_client_type; ?></label>
                        <div class="col-xs-12 col-sm-8">
                            <div class="mdl-textfield mdl-js-textfield <?php if(isset($error_client_type)){echo 'is-invalid';}?>">
                                <select name="client_type" id="client-type" class="selectize">
                                    <option value="">Select Type</option>
                                    <?php foreach ($client_types as $client_type) {?>
                                    <option value="<?php echo $client_type['client_type_id'] ?>"> <?php echo $client_type['title']; ?></option>
                                    <?php }?>
                                </select>
                                <span class="mdl-textfield__error"><?php if(isset($error_client_type)){echo $error_client_type;}?></span>
                            </div>
                        </div>
                    </div> -->


                    

                    <div class="form-field col-xs-12 ">
                        <label class="col-md-4"><?= $text_username_c; ?></label>
                        <div class="col-xs-12 col-sm-8">
                            <div class="mdl-textfield mdl-js-textfield <?php if(isset($error_company_name)){echo 'is-invalid';}?>">
                                <label class="mdl-textfield__label" for="name"></label>
                                <input class="form-control" type="text" id="name" name="company_name" <?php if(isset($company_name)) echo 'value="'.$company_name.'"'; ?>>
                                <span class="mdl-textfield__error"><?php if(isset($error_company_name)){echo $error_company_name;}?></span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-field col-xs-12">
                        <label class="col-md-4"><?= $text_email; ?></label>
                        <div class="col-xs-12 col-sm-8">
                            <div class="mdl-textfield mdl-js-textfield <?php if(isset($error_email)){echo 'is-invalid';}?>">
                                <input class="form-control" type="email" id="email" name="email" <?php if(isset($email)) echo 'value="'.$email.'"'; ?>>
                                <label class="mdl-textfield__label" for="email"></label>
                                <span class="mdl-textfield__error"><?php if(isset($error_email)){echo $error_email;}?></span>
                            </div>
                        </div>
                    </div>

                    

                    <div class="form-field col-xs-12">
                        <label class="col-md-4"><?= $text_phone; ?></label>
                        <div class="col-xs-12 col-sm-8">
                            <div class="mdl-textfield mdl-js-textfield <?php if(isset($error_phone)){echo 'is-invalid';}?>">
                                <input class="form-control" type="number" id="phone" name="phone" <?php if(isset($phone)) echo 'value="'.$phone.'"'; ?>>
                                <label class="mdl-textfield__label" for="phone"></label>
                                <span class="mdl-textfield__error"><?php if(isset($error_phone)){echo $error_phone;}?></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-field col-xs-12">
                        <label class="col-md-4"><?= $text_address_c; ?></label>
                        <div class="col-xs-12 col-sm-8">
                            <div class="mdl-textfield mdl-js-textfield <?php if(isset($error_address)){echo 'is-invalid';}?>">
                                <input class="form-control" id="address" name="address" <?php if(isset($address)) echo 'value="'.$address.'"'; ?>>
                                <label class="mdl-textfield__label" for="address"></label>
                                <span class="mdl-textfield__error"><?=$text_field_required;?></span>
                            </div>
                        </div>
                    </div>

                    

                    <div class="form-field col-xs-12">
                        <label class="col-md-4"><?= $text_set_credit_limit; ?></label>
                        <div class="col-xs-12 col-sm-8">
                            <div class="mdl-textfield mdl-js-textfield <?php if(isset($error_credit_limit)){echo 'is-invalid';}?>">
                                <input class="form-control" type="text" id="set_limit" name="credit_limit" <?php if(isset($credit_limit)) echo 'value="'.$credit_limit.'"'; ?>>
                                <label class="mdl-textfield__label" for="set_limit"></label>
                                <span class="mdl-textfield__error"><?php if(isset($error_credit_limit)){echo $error_credit_limit;}?></span>
                            </div>
                        </div>
                    </div>

                    <div class="i_number form-field col-xs-12">
                        <label class="col-md-4"><?= $text_intercommunataire; ?></label>
                        <div class="col-xs-12 col-sm-8">
                            <div class="mdl-textfield mdl-js-textfield <?php if(isset($error_intercommunataire_number)){echo 'is-invalid';}?>">
                                <input class="form-control" type="text" id="set_limit" name="intercommunataire_number" <?php if(isset($intercommunataire_number)) echo 'value="'.$intercommunataire_number.'"'; ?>>
                                <label class="mdl-textfield__label" for="set_limit"></label>
                                <span class="mdl-textfield__error"><?php if(isset($error_intercommunataire_number)){echo $error_intercommunataire_number;}?></span>
                            </div>
                        </div>
                    </div>

                    <h5 class="text-center authorised_name">Authorized Person</h5>
                    <div class="form-field col-xs-12 ">
                        <label class="col-md-4"><?= $text_person_name; ?></label>
                        <div class="col-xs-12 col-sm-8">
                            <div class="mdl-textfield mdl-js-textfield <?php if(isset($error_authorized_name)){echo 'is-invalid';}?>">
                                <label class="mdl-textfield__label" for="name"></label>
                                <input class="form-control" type="text" id="name" name="authorized_name" <?php if(isset($authorized_name)) echo 'value="'.$authorized_name.'"'; ?>>
                                <span class="mdl-textfield__error"><?=$text_field_required;?></span>
                            </div>
                        </div>
                    </div>

                    
                </div>
                
                    <div class="mdl-card__actions mdl-card--border">

                        <button type="submit" id="create-btn" class="mdl-button mdl-js-button mdl-button--raised mdl-button--primary pull-right">
                            <?=$text_update;?>
                        </button>
                        <button type="reset" class="mdl-button mdl-js-button mdl-button--accent pull-right">
                            <?=$text_reset;?>
                        </button>
                    </div>

                </div>
            </form>
        </div>
    



<script type="text/javascript">
    
    $("#create-btn").click(function(){
        var hasError = false;

        if($("#erer").val() == ""){
            hasError = true;
        }

        return !hasError ;

    });

    $(document).ready(function(){
    if($("input[name='company']").val() == "1")
        $('.i_number').show('fast');
    else $('.i_number').hide('fast');
    $('#individual').click(function(){
        $('.i_number').hide('fast');
        
    });
    $('#company').click(function(){
        $('.i_number').show('fast');
    });
});



</script>
