<?php include_once "header.view.html"; ?>

<div class="col-xs-12  center-margin ">
	<div class=" form-card mdl-card  col-xs-12 table-padding ">
        <div class="form-header">
            <h4><?= $text_invoice_title; ?></h4>
        </div>
		<table class="mdl-data-table mdl-js-data-table col-xs-12  ">
			<thead>
				<tr>
					<th class="mdl-data-table__cell--non-numeric"><?=$text_order_id;?></th>
					<th><?=$text_order_date;?></th>
					<th><?=$text_client;?></th>
					<th><?=$text_order_status;?></th>
					<th><?=$text_order_amount;?></th>

				</tr>
			</thead>
			<tbody>
				<?php
					foreach($orders as $order):
				?>
				<tr>
					<td class="mdl-data-table__cell--non-numeric">#<?=$order['order_id'];?></td>
					<td><?=$order['order_date'];?></td>
					<td><?=$order['company_name'];?></td>
					<td><small style='font-weight: bold;'><?=strtoupper(str_replace("_"," ",$order_status[$order['order_status']]));?></small></td>
					<td class="text-success"><?=$order['htt'];?>&euro;</td>

				</tr>
			<?php endforeach; ?>
			</tbody>
		</table>
			<div style="padding:20px;" class="text-center text-danger">
			 <?php if(count($orders) == 0) echo "You have created no new orders available for commission"; ?>
			</div>
			<hr>
<!-- 		<div class="mdl-card__actions mdl-card--border rm-border text-center">

			<button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" <?php if($commission_amount == 0) echo "disabled"; ?>>
				<?=$text_add_expense;?>
			</button>
		</div> -->
		<div class="mdl-card__title col-xs-12">
			<h5 class="mdl-card__title col-xs-12 col-sm-3"><?=$text_commission_rate;?>:<br><?= $commission_rate; ?>%</h5>
			<div class="mdl-card__title col-xs-12 col-sm-6"><h5 style="margin:0 auto;"><?=$text_TSM;?>:<br><?=$total_sales;?>&euro;</h5></div>
			<h5 class="mdl-card__title col-xs-12 col-sm-3"><?=$text_total_commission;?>:<br><?=$commission_amount;?>&euro;</h5>
		</div>
		<div class="mdl-card__actions mdl-card--border">

			<button type="submit" class="mdl-button generate mdl-js-button mdl-button--raised mdl-button--accent pull-right" <?php if($commission_amount == 0) echo "disabled"; ?>>
				<?=$text_generate;?>
			</button>
		</div>
	</div>
</div>
<script type="text/javascript">
	$("button.generate").click(function(){
		$(".mdl-progress").show();
		$.ajax({
			url:'?route=commission/invoiceCreate',
			type:"get",
			success: function(){
				location = window.location.href;
				$(".mdl-progress").hide();
			},
			error: function(){

				alert("There is an issue generating your invoice, we are looking into it. Please try again later.");
			}
		});
	});
</script>
<?php include_once "footer.view.html"; ?>