<?php include_once "header.view.html"; ?>
<div class="center-margin col-xs-12 col-sm-4 col-md-12">
  <form class="form-card mdl-card mdl-shadow--2dp col-xs-12">
    <div class="mdl-card__title">
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="form-field col-xs-12">
          <label class="col-md-4"><?= $text_expense_title; ?></label>
          <div class="col-xs-12 col-sm-8">
            <div class="mdl-textfield mdl-js-textfield">
             <label class="mdl-textfield__label" for="expense_title"></label>
             <input class="mdl-textfield__input" type="text" id="expense_title" />
           </div>
         </div>
       </div>
      </div>

      <div class="col-xs-12 col-sm-4">
        <div class="form-field col-xs-12">
          <label class="col-md-4"><?= $text_expense_type; ?></label>
          <div class="col-xs-12 col-sm-8">
            <div class="mdl-textfield mdl-js-textfield">
              <select class="mdl-textfield__input" type="text" id="expense_type">
                <option>Food</option>
                <option>Travel</option>
              </select>
              <label class="mdl-textfield__label" for="expense_type"></label>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4">
        <div class="form-field col-xs-12">
          <label class="col-md-4"><?= $text_amount; ?></label>
          <div class="col-xs-12 col-sm-8">
            <div class="mdl-textfield mdl-js-textfield">
              <input class="mdl-textfield__input" type="text" id="amount" />
              <label class="mdl-textfield__label" for="amount"></label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mdl-card__actions mdl-card--border">

      <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent pull-right">
        <?= $text_generate; ?>
      </button>
    </div>

  </form>

</div>


<?php include_once "footer.view.html"; ?>