    <style>
        .field.selectize-control .item {
    background-image: none;
    background-color: #333333d9;
    border: none;
    border-radius: 33px;
    /* padding-top: 4px; */
    /* height: 27px; */
    line-height: 32px;
    text-shadow: none;
    padding-left: 14px;
    box-shadow: none;
    color: #fff;
}
    </style>
    <div class="center-margin col-xs-12  col-md-8">
        <form>
        <div class="form-card mdl-card mdl-shadow--2dp col-xs-12">
                <div class="form-header">
                    <h4><?= $text_title; ?></h4>
                </div>

            <div class="form-content">

                

                <div class="form-field col-xs-12">
                    <label class="col-md-4">Client</label>
                    <div class="col-xs-12 col-sm-8">
                        <select name="client" id="client_name" class="selectize">
                                <option value="">Select Client</option>
                                <?php foreach ($clientsList as $client) { ?>
                                    <option value="<?php echo $client['client_id'] ?>"> <?php echo $client['company_name']; ?></option>
                                <?php } ?>
                        </select>
                    </div>
                </div>


           

              <div class="col-xs-12">
        <div class="mdl-card__actions mdl-card--border rm-border">

          <button id="add-items-button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored pull-right items">
            Add Items
          </button>
        </div>
      </div>
    
    </div>

        <div class="table-header transition out">
            <h4>Select Items
                <button class="mdl-button mdl-js-button mdl-button--icon pull-right">
                    <i class="material-icons">refresh</i>
                </button>
            </h4>

            <select name="vendor_name" class="field selectize-filter-items">
                <option value="">Search</option>
            </select>
        </div>

         <table id="item-list" class="mdl-data-table mdl-js-data-table  md-table col-xs-12 transition out ">
                <thead>
                    <tr id="table-head">
                        <th class="mdl-data-table__header sortable no-sort">Reference</th>
                        <th class="mdl-data-table__header sortable no-sort" id="item_name">Item Name</th>
                        <th class="mdl-data-table__header sortable no-sort" id="brand_name">Brand</th>
                        <th class="mdl-data-table__header">Current Stock</th>
                        <th class="mdl-data-table__header">Required Quantity</th>
                        <th class="mdl-data-table__header">Action</th>
                    </tr>
                </thead>


                <tbody id="items-body">
            </tbody>
        </table>
            <div class="mdl-card__actions mdl-card--border">

                <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent pull-right">
                    <?= $text_submit_req; ?>
                </button>
            </div>
             </div>
        </div>

        </form>
    </div>
<div id="row-template" hidden>
            <table>
                <tr>
                    <td class="mdl-data-table__cell--non-numeric _reference clickable"></td>
                    <td class="mdl-data-table__cell--non-numeric _item_name clickable" ></td>
                    <td class="mdl-data-table__cell--non-numeric _brand_name clickable"></td>
                    
                    <td class="mdl-data-table__cell--non-numeric _stock_inhand clickable"></td>
                    <td class="mdl-data-table__cell--non-numeric _required_quantity "><input type="number" min="0" name="req" size="3"></td>
                    <td class="mdl-data-table__cell--non-numeric _buttons">
                        <button type='button' class='open-attach-btn image mdl-button mdl-js-button mdl-button--icon mdl-button--colored'>
                            <i class="material-icons">collections</i>
                        </button>
                        <button type='button' class='open-attach-btn pdf mdl-button mdl-js-button mdl-button--icon mdl-button--accent'>
                            <i class='material-icons'>picture_as_pdf</i>
                        </button>
                    </td>
                </tr>
            </table>
        </div>
<script>

    $("#add-items-button").click(function () {
        $(".transition").removeClass("out");
        $(this).hide();
        return false;
    });

orderItems = [];

function addItemToOrderList() {
        var row = $(this).parent();
        ttt = $(this).parent();
        //console.log(row);
        var rId = $(this).parent().attr("id");
        if (!row.hasClass("order_item")) {
            if ($(row.children("._required_quantity").children("input")[0]).val() < 1) {
                row.children("._required_quantity").addClass("danger");
                return;
            }else{
                 row.children("._required_quantity").removeClass("danger");
            var quatityInItems = $(row.children("._required_quantity").children("input")[0]).val();
             var orderObj = {
                quantity: quatityInItems
            };
                orderItems[rId] = orderObj;
                row.addClass("order_item");
            }
        
        } else {
            delete orderItems[rId];
            row.removeClass("order_item");
            
        }
        if (countProperties(orderItems) > 0) {
            $("button").prop("disabled", false);
        } else {
            $("button").prop("disabled", true);
        }
    }
 var orderItemsFilter = [];
    $("#selected-items-btn").click(function () {
        if (countProperties(orderItems) > 0) {
            selctizedBoxInstanceItem.clear();
            orderItemsFilter = [];
            for (var key in orderItems) {

                orderItemsFilter.push(key);
            }
            loadItems();
        }
    });

    function countProperties(obj) {
        var count = 0;

        for (var prop in obj) {
            if (obj.hasOwnProperty(prop))
                ++count;
        }

        return count;
    }

   var selectBoxItem;
    var selctizedBoxInstanceItem;
    
    function initItemFilterSelectBox() {
        selectBoxItem = $(".selectize-filter-items").selectize({
            onItemAdd: itemAddListener,
            onItemRemove: itemRemoveListener,
            options: [
                // {id: 'time-1', type: 'date', label: 'Last day'},
                // {id: 'time-2', type: 'date', label: 'Last one week'},
                // {id: 'time-3', type: 'date', label: 'Last Two week'},
                // {id: 'time-4', type: 'date', label: 'Last Month'},
            ],
            optgroups: [
                {id: 'item', name: 'Item'},
                // {id: 'date', name: 'By Added on'},
                {id: 'category', name: 'Category'},
                {id: 'area', name: 'Area'},
                {id: 'ref', name: 'Ref#'}
            ],
            labelField: 'label',
            valueField: 'id',
            optgroupField: 'type',
            optgroupLabelField: 'name',
            optgroupValueField: 'id',
            optgroupOrder: ['client', 'ref', 'category', 'area','item'],
            searchField: ['label'],
            plugins: ['optgroup_columns', 'remove_button']

        });
        if (selectBoxItem.length != 0) selctizedBoxInstanceItem = selectBoxItem[0].selectize;
    }
    var lastDateItemId = "";
    function itemAddListener(value, item){
        var item = $(item);
        var id = selctizedBoxInstanceItem.options[value].id;
        var type = selctizedBoxInstanceItem.options[value].type;
        var label = selctizedBoxInstanceItem.options[value].label;
        if(type == "date"){
            item.css("background-color","#1565c0");
            if(lastDateItemId != "")selctizedBoxInstanceItem.removeItem(lastDateItemId, false);
            lastDateItemId = id;
            loadItemsSelectBox();
        }
        if(type == "item")item.css("background-color","#2e7d32");

        if(type == "category"){
            item.css("background-color","#0277bd");
            loadItemsSelectBox();
        }

        if(type == "area"){
            item.css("background-color","#283593");
            loadItemsSelectBox();
        }
        if(type == "ref"){
            item.css("background-color","#ED5565");
            loadItemsSelectBox();
        }


        loadItems();

    }
    function itemRemoveListener(value){
        var type = selctizedBoxInstanceItem.options[value].type;
        loadItemsSelectBox();
        loadItems();
    }


    function loadItemCategorySelectBox(){
        $.ajax({
            url: '?route=salesOrder/getCategoryList&all=1',
            type: 'GET',
            dataType: 'json',
            success: function (returnData) {
                data = returnData.category_list;
                for(var i = 0; i < data.length ; i++){
                    selctizedBoxInstanceItem.addOption({id : "category-" + data[i].item_category, type: "category", label: (data[i].title)});
                }
                selctizedBoxInstanceItem.refreshOptions(false);
            },
            error: function () {
                $(".mdl-progress").hide();
                showSnackbar("Can't load client list.");
            }
        });
    }

    function loadAreaSelectBox(){
        $.ajax({
            url: '?route=salesOrder/getAreaList&all=1',
            type: 'GET',
            dataType: 'json',
            success: function (returnData) {
                data = returnData.area_list;
                for(var i = 0; i < data.length ; i++){
                    selctizedBoxInstanceItem.addOption({id : "area-" + data[i].area, type: "area", label: (data[i].area)});
                }
                selctizedBoxInstanceItem.refreshOptions(false);
            },
            error: function () {
                $(".mdl-progress").hide();
                showSnackbar("Can't load client list.");
            }
        });
    }

    function loadRefSelectBox(){
        $.ajax({
            url: '?route=salesOrder/getRefList&all=1&list=item',
            type: 'GET',
            dataType: 'json',
            success: function (returnData) {
                data = returnData.ref_list;
                for(var i = 0; i < data.length ; i++){
                    selctizedBoxInstanceItem.addOption({id : data[i].reference, type: "ref", label: ("#"+data[i].reference)});
                }
                selctizedBoxInstanceItem.refreshOptions(false);
            },
            error: function () {
                $(".mdl-progress").hide();
                showSnackbar("Can't load ref list.");
            }
        });
    }
    function loadItemsSelectBox(){
        filterResults();
        if(clientFilterList.length == 0 && dateFilter.length == 0  && areaFilterList.length == 0 && categoryFilterList.length == 0) {
            clearItemOptions();
            return;
        }
        $(".mdl-progress").show();
        var postData = {
            all: 1,
            clientList : clientFilterList,
            dateFilter : dateFilter,
            categoryFilter: categoryFilterList,
            areaFilter : areaFilterList,
            refList: refFilter,
            list:'item'
        };
        $.ajax({
            url: '?route=salesOrder/getItemsList&all=1',
            type: 'POST',
            data: postData,
            dataType: 'json',
            success: function (returnData) {
                clearItemOptions();
                data = returnData.itemList;
                for(var i = 0; i < data.length ; i++){
                    //console.log(data[i]);
                    selctizedBoxInstanceItem.addOption({id : "item-"+data[i].item_id, type: "item", label: (data[i].item_name + "-" + data[i].reference)});
                }
                selctizedBoxInstanceItem.refreshOptions(false);
            },
            error: function () {
                $(".mdl-progress").hide();
                showSnackbar("Can't load client list.");
            }
        });

    }


    var clientFilterList = [];
    var itemIdFilterList = [];
    var categoryFilterList = [];
    var areaFilterList = [];
    var dateFilter = [];
    var refFilter = [];



    function filterResults(){
        var input = $(this);
        clientFilterList = [];
        areaFilterList = [];
        itemIdFilterList = [];
        categoryFilterList = [];
        dateFilter = [];
        refFilter = [];
        console.log(selctizedBoxInstanceItem.options);
        for(var i=0; i < selctizedBoxInstanceItem.getValue().length; i++){
            var id = selctizedBoxInstanceItem.options[selctizedBoxInstanceItem.getValue()].id;
            var type = selctizedBoxInstanceItem.options[selctizedBoxInstanceItem.getValue()].type;
            var label = selctizedBoxInstanceItem.options[selctizedBoxInstanceItem.getValue()].label;
            if(type == "client") clientFilterList.push(id);
            if(type == "date") dateFilter.push(id);
            if(type == "category") {
                var cId = id.substr(id.indexOf("-") + 1);
                categoryFilterList.push(cId);
            }
            if(type == "area") {
                var cId = id.substr(id.indexOf("-") + 1);
                areaFilterList.push(cId);
            }
            if(type == "item"){
                var cId = id.substr(id.indexOf("-") + 1);
                itemIdFilterList.push(cId);
            }
            if(type == "ref"){
                var cId = id.substr(id.indexOf("-") + 1);
                refFilter.push(cId);
            }
        }

        if(orderItemsFilter.length > 0){
            for(var i=0 ; i < orderItemsFilter.length; i++){
                itemIdFilterList.push(orderItemsFilter[i]);
            }
            orderItemsFilter = [];
        }
    }

    var tableheader = $("#table-head");

    function tableSort() {
        var th = $(this);
        if (th.hasClass("no-sort")) {
            console.log("NO");
            tableheader.children(".sortable").removeClass("mdl-data-table__header--sorted-ascending");
            tableheader.children(".sortable").removeClass("mdl-data-table__header--sorted-descending");
            tableheader.children(".sortable").addClass("mdl-data-table__header");
            tableheader.children(".sortable").addClass("no-sort");
            th.removeClass("no-sort");
            th.removeClass("mdl-data-table__header");
            th.addClass("mdl-data-table__header--sorted-ascending");
            loadItems();
            return;
        }

        if (th.hasClass("mdl-data-table__header--sorted-ascending")) {
            th.removeClass("mdl-data-table__header--sorted-ascending");
            th.addClass("mdl-data-table__header--sorted-descending");
            console.log("ASC");
            loadItems();
            return;
        }

        if (th.hasClass("mdl-data-table__header--sorted-descending")) {
            th.removeClass("mdl-data-table__header--sorted-descending");
            th.addClass("mdl-data-table__header");
            th.addClass("no-sort");
            console.log("DESC");
            loadItems();
        }

    }


    function clearItemOptions(){

        for(var prop in selctizedBoxInstanceItem.options){
            var id = selctizedBoxInstanceItem.options[prop].id;
            var type = selctizedBoxInstanceItem.options[prop].type;
            if(type == "item") {
                selctizedBoxInstanceItem.removeOption(id);
            }
        }

//        for(var i=0; i < selctizedBoxInstanceItem.options.length; i++){
//            console.log(selctizedBoxInstanceItem.options[i]);
//            var id = selctizedBoxInstanceItem.options[i].id;
//            var type = selctizedBoxInstanceItem.options[i].type;
//            if(type == "item") {
//                selctizedBoxInstanceItem.removeOption(id);
//            }
//
//        }
        selctizedBoxInstanceItem.refreshOptions(false);
    }

    function loadItems() {
        $(".mdl-progress").show();
        //filterResults();
        var postData = {
            all: 1,
            clientList : clientFilterList,
            dateFilter : dateFilter,
            itemIdList : itemIdFilterList,
            categoryFilter: categoryFilterList,
            areaFilter : areaFilterList,
            refList : refFilter,
            list: 'item'
        };

        if (tableheader.children(".sortable.mdl-data-table__header--sorted-ascending").length > 0) {
            postData.sort = "ASC";
            postData.sortField = $(tableheader.children(".sortable.mdl-data-table__header--sorted-ascending")[0]).attr("id");
        }
        if (tableheader.children(".sortable.mdl-data-table__header--sorted-descending").length > 0) {
            postData.sort = "DESC";
            postData.sortField = $(tableheader.children(".sortable.mdl-data-table__header--sorted-descending")[0]).attr("id");
        }
        $.ajax({
            url: '?route=salesOrder/getItemsList&all=1',
            type: 'POST',
            data: postData,
            dataType: 'json',
            success: function (returnData) {
                data = returnData.itemList;
                console.log(returnData.clause);
                $("#items-body").html("");
                for (var i = 0; i < data.length; i++) {
                    var rowNode = $("#row-template > table > tbody > tr").clone(true);
                    // console.log(rowNode);
                    rowNode.attr("id", data[i].item_id);
                    rowNode.children(".clickable").click(addItemToOrderList);
                    rowNode.children("._reference").html(data[i].reference);
                    rowNode.children("._item_name").html(data[i].item_name);
                    rowNode.children("._brand_name").html(data[i].brand_name);
                    rowNode.children("._category").html(data[i].item_category);
                    rowNode.children("._stock_inhand").html(data[i].current_stock);
                    rowNode.children("._area").html(data[i].area);

                    if (orderItems[data[i].item_id] != undefined) {
                        rowNode.addClass("order_item");
                        
                        rowNode.children("._required_quantity").children("input").val(orderItems[data[i].item_id].quantity);

                    }
                    //rowNode.children("._quantity").children("input").val();
                    if (data[i].item_pdf == 0) rowNode.children("._buttons").children(".pdf").hide();
                    if (data[i].image == 0) rowNode.children("._buttons").children(".image").hide();

                    $("#items-body").append(rowNode);

                }
                $(".mdl-progress").hide();
                showSnackbar("Data loaded.");
            },
            error: function () {
                $(".mdl-progress").hide();
                showSnackbar("Can't complete your request.");
            }
        });
    }
    function openAttachment() {
        var id = $(this).parent().parent().attr("id");
        var button = $(this);
        $.ajax({
            url : '?route=stock/getItemDetails&item_id='+id,
            type : 'GET',
            dataType : 'json',
            success: function(returnData){
                data = returnData.item_details;
                if(button.hasClass("pdf")){
                    if(data.item_pdf == 0){
                        showSnackbar("No image uploaded");
                    }else{

                        window.open(data.item_pdf, '_blank');
                    }
                }

                if(button.hasClass("image")){
                    if(data.image == 0){
                        showSnackbar("No image uploaded");
                    }else{

                        $("#modal-view > .view-title").html();
                        $("#item_id_m").html(data.reference);
                        $("#item_image").attr("src",data.image);
                        //$("#item_reference").attr("href",data.reference);
                        MDialog.start({},"detail",this,$("#modal-view"));
                    }
                }


                // if(data.image == 0){
                //     showSnackbar("No image uploaded");
                // }else{

                //         // if(button.hasclass("pdf")){

                //         // }




                //         //if(data.attachment != 0) {
                //             //$("#modal-view-message > .view-body > .attachments").show();
                //            // $("#modal-view-message > .view-body > .attachments > a").attr("href",data.attachment);
                //         //}else{
                //             //$("#modal-view-message > .view-body > .attachments").hide();
                //        // }

                //    }
            }
        });
    };

    $(".open-btn").click(openAttachment);




    $(".approve-button").click(function () {
        showSnackbar("Changes Approved");
        //this.
    });
    $(".disapprove-button").click(function () {
        showSnackbar("Changes Disapproved");
        //this.
    });


    $(".alert-button").click(function () {
        MDialog.start({},"detail",this,$("#modal-view2"));
    });

    $(document).ready(function () {
        $("#refresh-data-btn").click(loadItems);
        tableheader.children(".sortable").click(tableSort);
        initItemFilterSelectBox();
        // loadClientsSelectBox();
        loadItemCategorySelectBox();
        loadAreaSelectBox();
        loadRefSelectBox();
        loadItems();
        $(".open-attach-btn").click(openAttachment);
        // $("#filter-box").change(filterResults);

    });
</script>


