<style type="text/css">
    .pagination{
        margin:0 !important;
    }
    .selectize-input{
        background-image: none !important;
        background-color:#fff !important;
        border:1px solid #aaa !important;
    }
    .queue-foot{
        background: #F5F5F5;
        padding: 10px;
    }
</style>
<div class="col-xs-12 col-sm-12 col-md-12 center-margin ">
    <form>
        <div class="form-card mdl-card mdl-shadow--2dp col-xs-12">
            <div class="form-header">
                <h4><?= $text_title; ?></h4>
            </div>
            <div class="form-content">


                <div class="form-field col-xs-12">
                    <label class="col-md-4"><?= $text_client_name; ?></label>
                    <div class="col-xs-12 col-sm-8">
                        <div id="client-name-select"></div>
                        <div class="mdl-textfield mdl-js-textfield <?php if (isset($error_client)) {
                            echo 'is-invalid';
                        } ?>">
                            <select name="client" id="client-name" class="form-control">
                                <option value="">Select Client</option>
                                <?php foreach ($clients as $client) { ?>
                                    <option value="<?php echo $client['client_id'] ?>"> <?php echo $client['company_name']; ?></option>
                                <?php } ?>
                            </select>
                            <span class="mdl-textfield__error"><?= $text_field_required; ?></span>
                        </div>
                    </div>
                </div>
                <table class="order_details hidden table-striped col-xs-12 col-sm-6">
                            <tr>
                                <td>ID:</td>
                                <td id="client_id_m">#</td>
                            </tr>
                            <tr>
                                <td><?= $text_client_name; ?>:</td>
                                <td id="client_name_m"></td>
                            </tr>
                            <tr>
                                <td>Email:</td>
                                <td id="client_email_m"></td>
                            </tr>

                            <tr>
                                <td>Credit Limit :</td>
                                <td id="client_limit_m"></td>
                            </tr>

                    </table>
                    <table class="order_details hidden table-striped col-xs-12 col-sm-6">
                            <tr>
                                <td>Phone:</td>
                                <td id="client_phone_m"></td>
                            </tr>
                            <tr>
                                <td>Assigned Agent :</td>
                                <td id="assign_agent_m">***</td>
                            </tr>
                            <tr>
                                <td>Address :</td>
                                <td id="client_address_m"></td>
                            </tr>

                            <tr>
                                <td>Client Status :</td>
                                <td id="client_status_m"></td>
                            </tr>



                    </table>



                <div class="form-fields col-xs-12">
                    <button type="button" id="add-items-button"
                            class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored center-margin " disabled="disabled">
                        <?= $text_add_items; ?>
                    </button>
                </div>

            </div>

            <div class="table-header transition out">
                <h4 style="margin-bottom: 15px;"><?= $text_select_items; ?>
                </h4>

                <div class="clearfix"></div>
                <div class="form-group col-xs-12 text-right">
                    <small>Results per page:</small>
                    <select name="limit" id="filter-limit">
                        <option value="15" selected>15</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                    </select>
                </div>
                <div class="form-group col-xs-3">
                    <select name="brand_name" id="filter-brand" class="selectize" placeholder="Brand Name">
                    </select>
                </div>
                <div class="form-group col-xs-3">
                    <select name="brand" id="filter-category" class="selectize" placeholder="Category">
                    </select>
                </div>

                <div class="form-group col-xs-3">
                    <select name="ref" id="filter-ref" class="selectize" placeholder="Reference">
                    </select>
                </div>

                <div class="form-group col-xs-3">
                    <select name="item" id="filter-item" class="selectize" placeholder="Item name">
                    </select>
                </div>
            </div>
            <div class="form-header transition out">
                <button id="selected-items-btn" type="button"
                        class="mdl-button mdl-js-button mdl-color-text--grey-700  pull-left">
                    <?= $text_items_selected; ?> = 0
                </button>


                <button id="create-so-btn"
                        class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect pull-right"
                        type="button" disabled>
                    <?= $text_order_detail; ?>
                </button>
            </div>

            <table id="item-list" class="mdl-data-table hidden mdl-js-data-table  md-table  col-xs-12 transition out">
                <thead>
                <tr id="table-head">
                    <th class="mdl-data-table__header"><?= $text_sr_no; ?></th>
                    <th class="mdl-data-table__header sortable no-sort"><?= $text_reference; ?></th>
                    <th class="mdl-data-table__header sortable no-sort" id="item_name"><?= $text_item_name; ?></th>
                    <th class="mdl-data-table__header sortable no-sort" id="brand_name"><?= $text_brand_name; ?></th>

                    <!-- <th class="mdl-data-table__header "><?= $text_packing; ?></th>
                    <th class="mdl-data-table__header "><?= $text_item_area; ?></th> -->
                    <th class="mdl-data-table__header sortable no-sort" >Rate</th>
                    <th class="mdl-data-table__header sortable no-sort" >Previous Rate</th>
                    <th class="mdl-data-table__header sortable no-sort" id="purchase_rate">Offer Rate</th>
                    <th class="mdl-data-table__header"><?= $text_stock; ?></th>
                    <th class="mdl-data-table__header "><?= $text_quantity; ?></th>
                    <th class="mdl-data-table__header "></th>
                </tr>
                </thead>
                <tbody id="items-body">

                </tbody>
            </table>
            <div class="clearfix"></div>
                <div class='tfoot hidden' style="padding: 20px 20px 10px;    background: #f5f5f5;    font-size: 12px;    font-weight: bold;">
                    <span class="text-left">
                        Showing <span class="limit_count"></span> of <span class="total_count"></span> results
                    </span>
                    <span class="paginate pull-right"></span>
                </div>


        </div>
    </form>
</div>

<div id="order-modal" hidden>
    <div class="view-title">Confirm Sales Order</div>
    <div class="view-body">

    </div>
</div>

<div id="order-modal" hidden>
    <div class="view-title"></div>
    <div class="view-body">

    </div>
</div>


<div id="row-template" hidden>
    <table>
        <tr>
            <td class="mdl-data-table__cell--non-numeric _sr_no clickable"></td>
            <td class="mdl-data-table__cell--non-numeric _reference clickable"></td>
            <td class="mdl-data-table__cell--non-numeric _item_name clickable"></td>
            <td class="mdl-data-table__cell--non-numeric _brand_name clickable"></td>
            <!-- <td class="mdl-data-table__cell--non-numeric _packing clickable"></td>
            <td class="mdl-data-table__cell--non-numeric _area clickable"></td> -->
            <td class="mdl-data-table__cell--non-numeric _sell_rate">&euro;</td>
            <td class="mdl-data-table__cell--non-numeric _previous_rate">&euro;</td>
            <td class="mdl-data-table__cell--non-numeric _offer_rate"><input type="text" value="">&euro;</td>
            <td class="mdl-data-table__cell--non-numeric _current_stock clickable"></td>
            <td class="mdl-data-table__cell--non-numeric _quantity "><input class="quantity-type col-xs-7 no-padding" type="number" min="0"><span class="total-items no-padding">0</span></td>
            <td class="mdl-data-table__cell--non-numeric _buttons">
                <button type='button'
                        class='open-attach-btn image mdl-button mdl-js-button mdl-button--icon mdl-button--colored'>
                    <i class="material-icons">collections</i>
                </button>
                <button type='button'
                        class='open-attach-btn pdf mdl-button mdl-js-button mdl-button--icon mdl-button--accent'>
                    <i class='material-icons'>picture_as_pdf</i>
                </button>
                <button type='button'
                        class='addToOrder mdl-button mdl-js-button mdl-button--icon mdl-button--primary'>
                    <i class='material-icons'>shopping_cart</i>
                </button>
            </td>
        </tr>
    </table>
</div>

<div hidden>
    <table>
        <tr id="order-row-template">
            <td class="mdl-data-table__cell--non-numeric _item_name clickable"></td>
            <td class="mdl-data-table__cell--non-numeric _brand_name clickable"></td>
            <td class="mdl-data-table__cell--non-numeric _reference clickable"></td>
            <td class="mdl-data-table__cell--non-numeric _packing clickable"></td>
            <td class="mdl-data-table__cell--non-numeric _area clickable"></td>
            <td class="mdl-data-table__cell--non-numeric _offer_rate"><input type="text" value="">&euro;</td>
            <td class="mdl-data-table__cell--non-numeric _quantity "><input class="quantity-type col-xs-7 no-padding" type="number" min="0"><span class="total-items col-xs-5 no-padding">0</span></td>
        </tr>
    </table>
</div>
<div class="clearfix"></div>
    <div class="hidden">
        <div class="table-header">
                <h4>Added Items</h4>
             </div>
        <table id="queue-list" class="mdl-data-table mdl-js-data-table  md-table  col-xs-12">
                    <thead>
                      <tr id="table-head">
                          <th class="mdl-data-table__header"><?= $text_sr_no; ?></th>
                          <th class="mdl-data-table__header sortable no-sort"><?= $text_reference; ?></th>
                          <th class="mdl-data-table__header sortable no-sort" id="item_name"><?= $text_item_name; ?></th>
                          <th class="mdl-data-table__header sortable no-sort" id="brand_name"><?= $text_brand_name; ?></th>

                          <!-- <th class="mdl-data-table__header "><?= $text_packing; ?></th>
                          <th class="mdl-data-table__header "><?= $text_item_area; ?></th> -->
                          <th class="mdl-data-table__header sortable no-sort" >Rate</th>
                          <th class="mdl-data-table__header sortable no-sort" id="purchase_rate">Offer Rate</th>
                          <th class="mdl-data-table__header"><?= $text_stock; ?></th>
                          <th class="mdl-data-table__header "><?= $text_quantity; ?></th>
                          <th class="mdl-data-table__header "></th>
                      </tr>
                    </thead>
                    <tbody id="queue-body">
                    </tbody>
        </table>
        <div class="clearfix"></div>
        <div class="queue-foot">
            <div class="col-xs-6 text-left" style="margin-top:10px; font-family:'Open Sans';font-size: 15px;">Total HT: <span class="amount text-danger text-bold"></span></div>

                <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--primary mdl-js-ripple-effect pull-right" type="button">
                    Create Sales Order
                </button>
            <div class="clearfix"></div>
        </div>
    </div>

<div id="so-template" hidden>

    <div class="form-content">
        <div class="clearfix"></div>
           <table class="order_details hidden table-striped col-xs-12 col-sm-6">
                <tr>
                    <td><?=$text_order_date;?>:</td>
                    <td id="order_date_m"><?php echo date("d-m-Y", time()); ?></td>
                </tr>
                <tr>
                    <td><?=$text_delivery_date;?>:<sup class="text-danger">*</sup></td>
                    <td class="_expected_date"><input type="date" name="expected_date" class="" style="width:180px" min="<?php echo date("Y-m-d", time()); ?>" value="<?php echo date("Y-m-d", time()); ?>" ></td>
                </tr>
                <tr>
                    <td><?=$text_client_name;?>:</td>
                    <td class="_client_name"></td>
                </tr>
                <tr>
                    <td>Delivery Address:</td>
                    <td class="_address">
                        <input type="text" name="other_address" id="other_addr">
                    </td>
                </tr>
                <input type="hidden" name="other_addr" value=""  id="other_addr_val">
            </table>
            <table class="order_details hidden table-striped col-xs-12 col-sm-6">
                <tr>
                    <td>Person Responsible:<sup class="text-danger">*</sup></td>
                    <td class="_responsible_person"><input type="text" name="person_responsible" class="" required> </td>
                </tr>
                <tr>
                    <td>Payment Mode:<sup class="text-danger">*</sup></td>
                    <td class="_payment_mode">
                        <select name="payment_mode" class="">
                            <?php
                            foreach($payment_mode as $payment){
                            echo "<option value=".$payment['payment_mode_id'].">".$payment['title']."</option>";
                            }
                            ?>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>HT:</td>
                    <td><span id="htt_m" class="text-success"> &euro;</span></td>
                </tr>
                <tr>
                    <td>TVA:</td>
                    <td><span id="tva_m" class="text-danger">20%</span></td>
                </tr>
                <tr>
                    <td> <?=$text_grand_total;?>:</td>
                    <td class="text-danger"><span id="ttc_m" class="text-danger"> &euro;</span></td>
                </tr>

            </table>
        <div class="clearfix"></div>
        <hr>

        <table class="mdl-data-table mdl-js-data-table  md-table col-xs-12 items">
            <thead>
            <tr>
                <th class="mdl-data-table__cell--non-numeric _item_name"><?= $text_item_name; ?></th>
                <th class="mdl-data-table__cell--non-numeric "><?= $text_brand_name; ?></th>
                <th class="mdl-data-table__cell--non-numeric "><?= $text_reference; ?></th>
                <th class="mdl-data-table__cell--non-numeric "><?= $text_packing; ?></th>
                <th class="mdl-data-table__cell--non-numeric _reference"><?= $text_item_area; ?></th>
                <th class="mdl-data-table__cell--non-numeric ">Rate</th>
                <th class="mdl-data-table__cell--non-numeric"><?= $text_quantity; ?></th>
                <!--                    <th class="mdl-data-table__cell--non-numeric ">-->
                <? //=$text_total;?><!--</th>-->
                <!--                    <th class="mdl-data-table__cell--non-numeric">-->
                <? //=$text_action;?><!--</th>-->   </tr>
            </thead>
            <tbody class="_ordered_items">
            </tbody>
        </table>

     <div class="clearfix"></div>
                <div class="order-action text-center center-margin" style="margin-top:10px;">

                    <label class="text-center send-mail-checkbox" for="send-mail-checkbox" >
                        <input type="checkbox" id="send-mail-checkbox" name="send_name" class="" checked>
                        <span class="">Check to send mail to client.</span>
                    </label>
                    <div class="clearfix"></div>
                    Are you sure you want to place this sales order?<br><br>
                    <button type="button" id="confirmPO" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                       <i class="material-icons ">check</i>
                    </button>
                    <div class="mdl-tooltip mdl-tooltip--large" for="confimPO">Confirm</div>
                    <button type="button" id="remove-order" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
                       <i class="material-icons">cancel</i>
                    </button>
                    <div class="mdl-tooltip mdl-tooltip--large" for="remove-order">Cancel</div>
                </div>
    </div>
    <div class="divider"></div>

</div>

<script>
var ro_queue = [];
var ro_queue_amount = 0;
var item_trace =[];

    $("#item-list > tbody > tr").click(function () {
        MDialog.start({}, "detail", this, $("#modal-view"));
    });

        var clientFilterList = [];
        var dateFilter = [];
        var refFilter = [];
        var itemIdFilterList = [];
        var categoryFilterList = [];
        var areaFilterList = [];
        var brandFilter = [];
$(document).on("change", "#other_addr", function(){
    val = $(this).val();
    $("#other_addr_val").val(val);
});

    function placeOrder() {
        po_queue = [];
        var clientId = $("#client-name").val();
        other_addr = $("#other_addr_val").val();
        var btn = $(this);
        var formContent = btn.parent().parent();
        formContent.append("<div class='mask'>Placing Order...</div>");
         var personResponsible = formContent.children("table").children("tbody").children("tr").children("td._responsible_person").children("input").val();

        var payment_mode = formContent.children("table").children("tbody").children("tr").children("td._payment_mode").children("select").val();
        var expectedDate = formContent.children("table").children("tbody").children("tr").children("td._expected_date").children("input").val();
        var person_responsible = formContent.children("table").children("tbody").children("tr").children("td._responsible_person").children("input").val();
        var email = formContent.children(".order-action").children("label").children("input").prop("checked");
        var client_address = clientData.address;
        var city = clientData.city;
        if (email) email = 1;
        else email = 0;
        var items = [];
        var sellRates = [];
        var quantity = [];
        var mrp = [];
        for(var key in orderItems){
            items.push(key);
            sellRates.push(orderItems[key].sellRate);
            quantity.push(orderItems[key].quantity);
            mrp.push(orderItems[key].mrp);
        }



        var postData = {
            all: 1,
            expected_date: expectedDate,
            person_responsible: person_responsible,
            payment_mode: payment_mode,
            client: clientId,
            items: items,
            sell_rates: sellRates,
            quantity: quantity,
            email: email,
            mrp: mrp,
            delivery_address: client_address,
            other_address: other_addr,
            city: city
        };

        $.ajax({
            url: '?route=salesOrder/placeOrder',
            type: 'POST',
            data: postData,
            dataType: 'json',
            success: function (returnData) {
                for (var i = 0; i < items.length; i++) {
                    delete orderItems[items[i]];
                    loadItems();
                }
                formContent.html("<h1>Order #" + returnData.order_id + " is successfully placed</h1>");
            },
            error: function () {
                $(".mdl-progress").hide();
                showSnackbar("Can't complete your request.");
            }
        });
    }


    var checkboxId = 1;
    var orderItems = {};
    var sellRates = {};
    var ttt;
    var clientData;
    function showSalesOrder() {
        var clientId = $("#client-name").val();

        if ($("#client-name").val() == "") {
            showSnackbar("Please select a client to create a sales order");
            location.href = "#";
            location.href = "#client-name-select";
            return;
        }

        var orderItemsList = [];
        for (var key in orderItems) {
            orderItemsList.push(key);
        }
        var postData = {
            all: 1,
            with_client: 1,
            itemIdList: orderItemsList,
            client_id: clientId
        };
        $.ajax({
            url: '?route=salesOrder/getItemsList&all=1',
            type: 'POST',
            data: postData,
            dataType: 'json',
            success: function (returnData) {
                $("#order-modal > .view-body").html("");
                sellRates = [];
                clientData = returnData.client;
                var items = returnData.itemList;
                var orderNode = $("#so-template > div").clone(true);
                orderNode.children(".order-action").children("label").attr("for", "check-" + checkboxId);
                orderNode.children(".order-action").children("label").addClass("mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect");
                orderNode.children(".order-action").children("label").children("input").attr("id", "check-" + checkboxId);
                orderNode.children(".order-action").children("label").children("input").addClass("mdl-checkbox__input");
                orderNode.children(".order-action").children("label").children("span").addClass("mdl-checkbox__label");

                 $("#remove-order", orderNode).attr("data-client", key);
                orderNode.children(".order-action").children("button").click(placeOrder);
                componentHandler.upgradeElement(orderNode.children(".order-action").children("label")[0]);
                checkboxId++;
                orderNode.children("table").children("tbody").children("tr").children("td._client_name").html(clientData.company_name);
                orderNode.children("table").children("tbody").children("tr").children("td._address").children("input").val(clientData.address + ", " + clientData.city);
                $("#order-modal > .view-body").append(orderNode);
                    $("tbody._ordered_items").html("");
                    ht=0;
                for (var i = 0; i < items.length; i++) {
                    var rowNode = $("#order-row-template").clone(true);
                    rowNode.children("td._item_name").html(items[i].item_name);
                    rowNode.children("td._brand_name").html(items[i].brand_name);
                    rowNode.children("td._reference").html(items[i].reference);
                    rowNode.children("td._packing").html(items[i].packing);
                    rowNode.children("td._area").html(items[i].area);
                    rowNode.children("td._offer_rate").html(orderItems[items[i].item_id].sellRate +"&euro;");
                    rowNode.children("td._quantity").html(orderItems[items[i].item_id].quantity);
                    orderItems[items[i].item_id].mrp = items[i].mrp;
                    ht += parseFloat(orderItems[items[i].item_id].sellRate)*parseInt(orderItems[items[i].item_id].quantity);
                    $("tbody._ordered_items").append(rowNode);
                }
                $(".order_details #htt_m").html(ht+"&euro;");
                ttc = ht+((ht*20)/100);
                $(".order_details #ttc_m").html(ttc+"&euro;");

                $(".mdl-progress").hide();
                MDialog.start({}, "detail", this, $("#order-modal"));
                //showSnackbar("Data loaded.");
            },
            error: function () {
                $(".mdl-progress").hide();
                showSnackbar("Can't complete your request.");
            }
        });

    }

    function calculateQuantity() {
        var value = $(this).val();
        var packing = $(this).parent().parent().children("._packing").html();
        var totalSpan = $(this).parent().children("span");
        totalSpan.html((value * packing));
        if (value > 0) $(this).parent().removeClass("danger");
    }

    var hasSellRateError = true;
    function checkSellRate() {
        var input = $(this);
        var itemId = input.parent().parent().attr("id");
        var value = input.val();
        if (isNaN(value)) {
            input.parent().addClass("warning");
        } else {
            input.parent().removeClass("warning");
            if (parseInt(value) < parseInt(sellRates["i-" + itemId])) {
                hasSellRateError = true;
                input.parent().addClass("danger");
            } else {
                input.parent().removeClass("danger");
                hasSellRateError = false;
            }
        }
    }

    var ttt;

    function addItemToOrderList() {
        var row = $(this).parent();
        ttt = $(this).parent();
        var rId = $(this).parent().attr("id");
        if (!row.hasClass("order_item")) {
            if ($(row.children("._quantity").children("input")[0]).val() < 1) {
                row.children("._quantity").addClass("danger");
                return;
            }
        if(hasSellRateError){
                alert("Sell rate cannot be below rate.");
                return;
            }
            row.children("._quantity").removeClass("danger");
            var packing = row.children("._packing").html();
            var quatityInItems = $(row.children("._quantity").children("input")[0]).val();

            var orderObj = {
                sellRate: $(row.children("._offer_rate").children("input")[0]).val(),
                quantity: quatityInItems
            };
            $("i",$('.addToOrder', row)).html("close");
            $(".addToOrder",row).removeClass("mdl-button--primary");
            row.children("._quantity").removeClass("danger");
            $(row.children("._offer_rate").children("input")[0]).prop("disabled", true);
            $(row.children("._quantity").children("input")[0]).prop("disabled", true);
            orderItems[rId] = orderObj;
            row.addClass("order_item");
            queue_clone = row.clone();
            prate = queue_clone.children("._offer_rate").children("input").val();
            pquan = queue_clone.children("._quantity").children("input").val();
            queue_clone.children("._offer_rate").html(prate);
            queue_clone.children("._quantity").html(pquan);
            queue_clone.removeClass("order_item");
            queue_clone.children("._previous_rate").remove();
            objInfo = {"item":rId,"rate" : prate, "quantity" : pquan};
            addToQueue(rId,prate,pquan);
            ro_queue.push(objInfo);
            toggleQueue();
            $("#queue-body").append(queue_clone);
            $("#selected-items-btn").html("Items Selected = " + countProperties(orderItems));
        } else {
              $(row.children("._offer_rate").children("input")[0]).prop("disabled", false);
              $(row.children("._quantity").children("input")[0]).prop("disabled", false);
              row.removeClass("order_item");

              $("i",$('.addToOrder', row)).html("shopping_cart");
              $(".addToOrder",row).addClass("mdl-button--primary");
              rqa = orderItems[rId];
              delete orderItems[rId];
              $("#queue-body #"+rId).remove();
              removeFromQueue(rId, rqa);
              toggleQueue();

              $("#selected-items-btn").html("Items Selected = " + countProperties(orderItems));
        }
        if (countProperties(orderItems) > 0) {
            $("#create-so-btn").prop("disabled", false);
        } else {
            $("#create-so-btn").prop("disabled", true);
        }
    }

    var orderItemsFilter = [];
    $("#selected-items-btn").click(function () {
        if (countProperties(orderItems) > 0) {
            selctizedBoxInstanceItem.clear();
            orderItemsFilter = [];
            for (var key in orderItems) {
                orderItemsFilter.push(key);
            }
            loadItems();
        }
    });

    function countProperties(obj) {
        var count = 0;

        for (var prop in obj) {
            if (obj.hasOwnProperty(prop))
                ++count;
        }

        return count;
    }


    var tableheader = $("#table-head");

    function tableSort() {
        var th = $(this);
        if (th.hasClass("no-sort")) {
            tableheader.children(".sortable").removeClass("mdl-data-table__header--sorted-ascending");
            tableheader.children(".sortable").removeClass("mdl-data-table__header--sorted-descending");
            tableheader.children(".sortable").addClass("mdl-data-table__header");
            tableheader.children(".sortable").addClass("no-sort");
            th.removeClass("no-sort");
            th.removeClass("mdl-data-table__header");
            th.addClass("mdl-data-table__header--sorted-ascending");
            loadItems();
            return;
        }

        if (th.hasClass("mdl-data-table__header--sorted-ascending")) {
            th.removeClass("mdl-data-table__header--sorted-ascending");
            th.addClass("mdl-data-table__header--sorted-descending");
            loadItems();
            return;
        }

        if (th.hasClass("mdl-data-table__header--sorted-descending")) {
            th.removeClass("mdl-data-table__header--sorted-descending");
            th.addClass("mdl-data-table__header");
            th.addClass("no-sort");
            loadItems();
        }

    }

    $(document).ready(function () {
        //$("#refresh-data-btn").click(loadItems);
        tableheader.children(".sortable").click(tableSort);
    });


    function loadItemCategorySelectBox(){
        brand_name = "";
        if(brandFilter[0] != undefined)
        brand_name = brandFilter[0];
        $("#filter-category").selectize()[0].selectize.clearOptions();
        $.ajax({
            url: '?route=salesOrder/getCategoryList&all=1&brand_name='+brand_name,
            type: 'GET',
            dataType: 'json',
            success: function (returnData) {
                data = returnData.category_list;
                for(var i = 0; i < data.length ; i++){

                        $("#filter-category").selectize()[0].selectize.addOption({id : data[i].item_category, label: (data[i].title)});

                }
                $("#filter-category").selectize()[0].selectize.refreshOptions(false);
            },
            error: function () {
                $(".mdl-progress").hide();
                showSnackbar("Can't load category list.");
            }
        });
    }

    function loadRefSelectBox(){

        category="";
        brand_name = brandFilter[0];

        if(categoryFilterList[0] != undefined)
                category = categoryFilterList[0];

        $("#filter-ref").selectize()[0].selectize.clearOptions();
        $.ajax({
            url: '?route=salesOrder/getRefList&all=1&list=item&brand_name='+brand_name+'&category='+category,
            type: 'GET',
            dataType: 'json',
            success: function (returnData) {
                data = returnData.ref_list;
                for(var i = 0; i < data.length ; i++){
                    $("#filter-ref").selectize()[0].selectize.addOption({id : data[i].reference, label: (data[i].reference)});
                }
                $("#filter-ref").selectize()[0].selectize.refreshOptions(false);
            },
            error: function () {
                $(".mdl-progress").hide();
                showSnackbar("Can't load ref list.");
            }
        });
    }
    function loadBrandNames(){

        $("#filter-brand").selectize()[0].selectize.clearOptions();
        $.ajax({
            url: '?route=salesOrder/getBrandNames&all=1&char='+brandString,
            type: 'GET',
            dataType: 'json',
            success: function (returnData) {
                data = returnData.brand_list;
                for(var i = 0; i < data.length ; i++){
                        $("#filter-brand").selectize()[0].selectize.addOption({id : data[i].brand_name, label: (data[i].brand_name)});
                }
                $("#filter-brand").selectize()[0].selectize.refreshOptions(false);
            },
            error: function () {
                $(".mdl-progress").hide();
                showSnackbar("Can't load brands list.");
            }
        });
    }
    function loadItemFilterList(){

        $("#filter-item").selectize()[0].selectize.clearOptions();
        $.ajax({
            url: '?route=salesOrder/itemListQ&all=1&char='+itemString,
            type: 'GET',
            dataType: 'json',
            success: function (returnData) {
                data = returnData.item_list;
                for(var i = 0; i < data.length ; i++){
                        $("#filter-item").selectize()[0].selectize.addOption({id : data[i].item_id, label: (data[i].item_name)});
                }
                $("#filter-item").selectize()[0].selectize.refreshOptions(false);
            },
            error: function () {
                $(".mdl-progress").hide();
                showSnackbar("Can't load items list.");
            }
        });
    }
var pageCount = 1;

    function loadItems() {
        filterLimit = $("#filter-limit").val();
        client_id = $("#client-name").val();
        $(".mdl-progress").show();
        var postData = {
            all: 1,
            clientId: client_id,
            clientList: clientFilterList,
            dateFilter: dateFilter,
            itemIdList: itemIdFilterList,
            refList: refFilter,
            categoryFilter: categoryFilterList,
            areaFilter: areaFilterList,
            brand: brandFilter,
            limit : filterLimit,
            page : pageCount,
            list:"item"
        };

        if (tableheader.children(".sortable.mdl-data-table__header--sorted-ascending").length > 0) {
            postData.sort = "ASC";
            postData.sortField = $(tableheader.children(".sortable.mdl-data-table__header--sorted-ascending")[0]).attr("id");
        }
        if (tableheader.children(".sortable.mdl-data-table__header--sorted-descending").length > 0) {
            postData.sort = "DESC";
            postData.sortField = $(tableheader.children(".sortable.mdl-data-table__header--sorted-descending")[0]).attr("id");
        }
        $.ajax({
            url: '?route=salesOrder/getItemsList&all=1',
            type: 'POST',
            data: postData,
            dataType: 'json',
            success: function (returnData) {
                sellRates = [];
                data = returnData.itemList;
                $(".total_count").html(returnData.total_count);
                $(".limit_count").html(data.length);
                $(".paginate").html(returnData.pagination);
                $(".tfoot").removeClass("hidden");
                $("#items-body").html("");
                $("#item-list").removeClass("hidden");
                $("#item-list").show();
                for (var i = 0; i < data.length; i++) {
                    var rowNode = $("#row-template > table > tbody > tr").clone(true);
                    rowNode.attr("id", data[i].item_id);
                    if(item_trace.indexOf(data[i].item_id) >= 0) {
                        rowNode.addClass("order_item");
                        $("i",$('.addToOrder', rowNode)).html("close");
                    }
                    sr = ((pageCount-1)*filterLimit)+i+1;
                    rowNode.children("._sr_no").html(sr);
                    rowNode.children("._reference").html(data[i].reference);
                    rowNode.children("._item_name").html(data[i].item_name);
                    rowNode.children("._brand_name").html(data[i].brand_name);
                    rowNode.children("._packing").html(data[i].packing);
                    rowNode.children("._area").html(data[i].area);
                    rowNode.children("._sell_rate").html(data[i].minimum_sell_rate +"&euro;");
                    rowNode.children("._offer_rate").children("input").val();
                    rowNode.children("._offer_rate").children("input").keyup(checkSellRate);
                    rowNode.children("._previous_rate").prepend(data[i].given_rate);
                    if(data[i].given_rate > 0) rowNode.children("._previous_rate").addClass("text-success");
                    sellRates["i-" + data[i].item_id] = data[i].minimum_sell_rate;
                    rowNode.children("._current_stock").html(data[i].current_stock);
                    rowNode.children("._quantity").children("input").mouseup(calculateQuantity);
                    rowNode.children("._quantity").children("input").keyup(calculateQuantity);
                    //rowNode.children("._quantity").children("input").val();
                    if (data[i].item_pdf == 0) rowNode.children("._buttons").children(".pdf").hide();
                    if (data[i].image == 0) rowNode.children("._buttons").children(".image").hide();
                    rowNode.children(".clickable").click(addItemToOrderList);
                    (".addToOrder", rowNode.children("._buttons")).click(addItemToOrderList);
                    if(orderItems[data[i].item_id] != undefined) {
                        rowNode.addClass("order_item");
                        rowNode.children("._offer_rate").children("input").val(orderItems[data[i].item_id].offer_rate);
                        rowNode.children("._quantity").children("input").val(orderItems[data[i].item_id].quantity);
                        rowNode.children("._offer_rate").children("input").prop("disabled", true);
                        rowNode.children("._quantity").children("input").prop("disabled", true);

                    }
                    $("#items-body").append(rowNode);

                }
                $(".mdl-progress").hide();
                //showSnackbar("Data loaded.");
            },
            error: function () {
                $(".mdl-progress").hide();
                showSnackbar("Can't complete your request.");
            }
        });
    }


    function openAttachment() {
        var id = $(this).parent().parent().attr("id");
        var button = $(this);
        $.ajax({
            url: '?route=salesOrder/getItemDetails&item_id=' + id,
            type: 'GET',
            dataType: 'json',
            success: function (returnData) {
                data = returnData.item_details;
                if (button.hasClass("image")) {
                    if (data.image == 0) {
                        showSnackbar("No image uploaded");
                    } else {
                        $("#image-modal > .view-title").html(data.item_name);
                        $("#item_reference_i").html(data.reference);
                        $("#item_image_i").attr("src", data.image);
                        MDialog.start({}, "detail", this, $("#image-modal"));
                    }
                }
                if (button.hasClass("pdf")) {
                    if (data.item_pdf == 0) {
                        showSnackbar("No pdf uploaded");
                    } else {
                        window.open(data.item_pdf, '_blank');
                    }
                }
            }
        });

    }


    function loadClientsAddress() {
        var id = $(this).val();
        $.ajax({
            url: '?route=salesOrder/getClientsAddress&client_id=' + id,
            type: 'GET',
            dataType: 'json',
            success: function (returnData) {
                data = returnData.client_address;
                $("#address_c").html(data.address);
                $("#city_c").html(data.city);
                $("#postal_code_c").html(data.postal_code);

            },
            error: function () {
                $(".mdl-progress").hide();
                showSnackbar("Can't load client list.");
            }


        });
    }

    $(document).ready(function () {
        $("#refresh-data-btn").click(loadItems);
        tableheader.children(".sortable").click(tableSort);
        $("#create-so-btn").click(showSalesOrder);
        $(".queue-foot button").click(showSalesOrder);
        $("#client-type").change(loadClientsAddress);
        $(".open-attach-btn").click(openAttachment);
        // $("#filter-box").change(filterResults);

    });
    $("#remove-order").click(function(){
        $("#m-dialog-close-btn").trigger("click");
});
    $(".send-mail-checkbox").click(function(){
         _this = $("input", this);
         if(_this.prop("checked")){
            _this.removeAttr("checked");
            $(this).removeClass("is-checked");
         }
         else{
            _this.attr("checked", "checked");
            $(this).addClass("is-checked");

         }
    });

    $("#client-name").change(function(){
        _id = $(this).val();
        if(_id){
            $.ajax({
                url: "?route=client/getClientDetails",
                data:{client_id:_id},
                type:"get",
                success:function(returnData){
                    //show details
                    data = returnData.client_details;
                    $("#client_id_m").html("#"+data.client_id);
                    $("#assign_agent_m").html("None");
                    $("#assign_agent_m").html(data.assigned_agent.name);
                    $("#client_name_m").html(data.company_name);
                    $("#client_email_m").html(data.email_id);
                    $("#client_address_m").html(data.address);
                    $("#client_authorize_name_m").html(data.authorized_name);
                    $("#client_phone_m").html(data.phone);
                    $("#client_limit_m").html(data.credit_limit);
                    data.status = parseInt(data.status);
                    status = (data.status) ? "<span class='text-success'>Active</span>" : "<span class='text-danger'>Disabled</span>";
                    $("#client_status_m").html(status);
                    if(data.status) {
                        $("#add-items-button").attr("disabled", false);
                        $(".order_details").removeClass("hidden");
                    }else{
                        $(".order_details").removeClass("hidden");
                        $(".tfoot").addClass("hidden");
                        $("#items-body").html("");
                        $(".transition").addClass("out");
                        $("#add-items-button").attr("disabled", true);
                        $("#add-items-button").show();
                        $("#item-list").hide();
                    }
                }
            });
        }
        else{
                    $(".tfoot").addClass("hidden");
                    $(".transition").addClass("out");
                    $("#items-body").html("");
                    if(data.status) $("#add-items-button").attr("disabled", true);
                    $(".order_details").addClass("hidden");
                    $("#item-list").hide();
        }
    });

    $("#add-items-button").click(function(){
        getFromQueue();
        loadItems();
        $(".transition").removeClass("out");
        $(this).hide();
    });

    $("#filter-limit").change(function(){
        pageCount=1;
        loadItems();
    });
    $(document).on("click", ".pagination li a", function(e){
        e.preventDefault();
        found = false;
        url = $(this).attr("href");
        splinters = url.split("&");
        $.each(splinters, function(key, val){
            vals = val.split("=");
            if(vals[0] == "page") {
                found = true;
                pageCount = vals[1];
            }
        });
        if(!found) pageCount = 1;
        loadItems();
    });
    var brandString = "";
    var itemString = "";
    $(document).ready(function(){
        $("#filter-brand").selectize()[0].selectize.on("type", function(){
            $("#filter-brand").selectize()[0].selectize.close();
            query = $("#filter-brand").selectize()[0].selectize.lastQuery;
            if(query.length > 2){
                brandString = query;
                loadBrandNames();
                $(".selectize-dropdown", $("#filter-brand").parent()).show();
            }
        });
        $("#filter-item").selectize()[0].selectize.on("type", function(){
            $("#filter-item").selectize()[0].selectize.close();
            query = $("#filter-item").selectize()[0].selectize.lastQuery;
            if(query.length > 2){
                itemString = query;
                loadItemFilterList();
                $(".selectize-dropdown", $("#filter-item").parent()).show();
            }
        });
    });

    $("#filter-brand").change(function(){
        val = $(this).val();
        brandFilter = [];
        if(val != 0)
            brandFilter.push(val);
        loadItemCategorySelectBox(false);
        loadRefSelectBox();
        loadItems();
    });

    $("#filter-category").change(function(){
        val = $(this).val();
        categoryFilterList = [];
        if(val != 0)
            categoryFilterList.push(val);
        loadRefSelectBox();
        loadItems();
    });
    $("#filter-ref").change(function(){
        val = $(this).val();
        refFilter = [];
        if(val != 0)
            refFilter.push(val);
        loadItems();
    });
    $("#filter-item").change(function(){
        val = $(this).val();
        itemIdFilterList = [];
        refFilter = [];
        brandFilter = [];
        categoryFilterList = [];
        if(val != 0)
            itemIdFilterList.push(val);
        loadItems();
    });

function toggleQueue(){
    if(ro_queue.length){
        $("#queue-list").parent().removeClass("hidden");
        return;
    }else{
        $("#queue-list").parent().addClass("hidden");
        return;
    }
}
function getFromQueue(){
        var postData = {
            all: 1,
            itemIdList : itemIdFilterList,
            categoryFilter: categoryFilterList,
            brand: brandFilter,
            refList: refFilter,
            list:'item'
        };
    $.ajax({
            url: '?route=salesOrder/getFromQueue',
            type: 'POST',
            dataType: 'json',
            data:postData,
            success: function (returnData) {
                data = returnData.queue;
                $("#queue-body").html("");
                for (var i = 0; i < data.length; i++) {
                    objInfo = {"item":data[i].item_id,"rate" : data[i].rate, "quantity" : data[i].quantity};
                    ro_queue.push(objInfo);
                    item_trace.push(data[i].item_id);
                    var rowNode = $("#row-template > table > tbody > tr").clone(true);
                    rowNode.attr("id", data[i].item_id);
                    sr = i+1;
                    rowNode.attr("data-max", data[i].max_stock);
                    rowNode.children("._previous_rate").remove();
                    rowNode.children("._sr_no").html(sr);
                    rowNode.children("._reference").html(data[i].reference);
                    rowNode.children("._item_name").html(data[i].item_name);
                    rowNode.children("._brand_name").html(data[i].brand_name);
                    rowNode.children("._offer_rate").html(data[i].rate+"&euro;");
                    rowNode.children("._sell_rate").prepend(data[i].minimum_sell_rate);
                    rowNode.children("._current_stock").html(data[i].current_stock);
                    rowNode.children("._quantity").html(data[i].quantity);
                    $("i",$('.addToOrder', rowNode)).html("close");
                    rowNode.children("._buttons").children(".pdf").hide();
                    rowNode.children("._buttons").children(".image").hide();
                    orderObj = {offer_rate: data[i].rate,
                        quantity: data[i].quantity};
                    orderItems[data[i].item_id] = orderObj;
                    ro_queue_amount = ro_queue_amount + (data[i].rate*data[i].quantity);
                    $("#queue-body").append(rowNode);

                }
                $(".mdl-progress").hide();
                //showSnackbar("Data loaded.");
                if(returnData.count > 0) {
                    $("#queue-list").parent().show();
                    $("#selected-items-btn").html("Items Selected = " + returnData.count);
                    $(".queue-foot .amount").html("&euro;"+ro_queue_amount.toFixed(3));
                    $("#create-so-btn").prop("disabled",false);
                    toggleQueue();
                }
            },
            error: function () {
                $(".mdl-progress").hide();
                showSnackbar("Can't complete your request.");
            }
        });
}
function addToQueue(item_id, rate, quantity){
    data = { item_id: item_id, rate:rate, quantity:quantity};
    ro_queue_amount = ro_queue_amount + (rate*quantity);
    if(ro_queue_amount > 0) $(".queue-foot button").attr("disabled", false);
    $(".queue-foot .amount").html("&euro;"+ro_queue_amount.toFixed(3));

    $.ajax({
        url:'?route=salesOrder/addToQueue',
        type:"POST",
        data:data,
        success:function(returnData){

        }
    });
}
function removeFromQueue(item_id,rate_obj){
    ro_queue_amount = ro_queue_amount - (rate_obj.sellRate*rate_obj.quantity);
    $(".queue-foot .amount").html("&euro;"+ro_queue_amount.toFixed(3));
    if(ro_queue_amount == 0) $(".queue-foot button").attr("disabled", "disabled");
    $.ajax({
        url:'?route=salesOrder/removeFromQueue&id='+item_id,
        type:"GET",
        success:function(returnData){

        }
    });
}
$(document).on("click", "#queue-body .addToOrder", function(e){
    id = $(this).parent().parent().attr("id");
    $("#items-body #"+id+ " .addToOrder").trigger("click");
});
</script>
