<style type="text/css">
    .pagination{
        margin:0 !important;
    }
    .selectize-input{
        background-image: none !important;
        background-color:#fff !important;
        border:1px solid #aaa !important; 
    }
    .queue-foot{
        background: #F5F5F5;
        padding: 10px;
    }
</style>
<div class="center-margin col-xs-12  ">
    <div class="table-card mdl-card  mdl-shadow--2dp col-xs-12">

        <div class="table-header">
            <h4 style="margin-bottom: 15px;"><?=$text_title;?>
            </h4>

            <div class="clearfix"></div>
                <div class="form-group col-xs-12 text-right">
                    <small>Results per page:</small> 
                    <select name="limit" id="filter-limit">
                        <option value="15" selected>15</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                    </select>
                </div>
                <div class="form-group col-xs-3">
                    <select name="brand_name" id="filter-brand" class="selectize" placeholder="Brand Name">
                    </select>
                </div>
                <div class="form-group col-xs-3">
                    <select name="category" id="filter-category" class="selectize" placeholder="Category">
                    </select>
                </div>

                <div class="form-group col-xs-3">
                    <select name="ref" id="filter-ref" class="selectize" placeholder="Reference">
                    </select>
                </div>

                <!-- <div class="form-group col-xs-3">
                    <select name="item" id="filter-item" class="selectize" placeholder="Item name">
                    </select>
                </div> -->
        </div>

            <table id="item-list" class="mdl-data-table mdl-js-data-table  md-table col-xs-12 expandable">
                <thead>
                    <tr id="table-head">
                        <th class="mdl-data-table__header sortable no-sort">Sr No.</th>
                        <th class="mdl-data-table__header sortable no-sort"><?=$text_reference;?></th>
                        <th class="mdl-data-table__header sortable no-sort" id="item_name"><?=$text_item_name;?></th>
                        <th class="mdl-data-table__header sortable no-sort" id="brand_name"><?=$text_brand_name;?></th>
                        <th class="mdl-data-table__header"><?=$text_min_stock;?></th>
                        <th class="mdl-data-table__header"><?=$text_current_stock;?></th>
                        <th class="mdl-data-table__header"><?=$text_action;?></th>
                    </tr>
                </thead>


                <tbody id="items-body">
                </tbody>
            </table>
            <div class="clearfix"></div>
            <div class='tfoot hidden' style="padding: 20px 20px 10px;    background: #f5f5f5;    font-size: 12px;    font-weight: bold;">
                <span class="text-left">
                    Showing <span class="limit_count"></span> of <span class="total_count"></span> results
                </span>
                <span class="paginate pull-right"></span>
            </div>


        <div id="row-template" hidden>
            <table>
                <tr>
                    <td class="mdl-data-table__cell--non-numeric _sr "></td>
                    <td class="mdl-data-table__cell--non-numeric _reference "></td>
                    <td class="mdl-data-table__cell--non-numeric _item_name" ></td>
                    <td class="mdl-data-table__cell--non-numeric _brand_name"></td>
                    
                    <td class="mdl-data-table__cell--non-numeric _minimum_stock"></td>
                    <td class="mdl-data-table__cell--non-numeric _current_stock "></td>
                    <td class="mdl-data-table__cell--non-numeric _buttons">
                        <button type='button' class='open-attach-btn image mdl-button mdl-js-button mdl-button--icon mdl-button--colored'>
                            <i class="material-icons">collections</i>
                        </button>
                        <button type='button' class='open-attach-btn pdf mdl-button mdl-js-button mdl-button--icon mdl-button--accent'>
                            <i class='material-icons'>picture_as_pdf</i>
                        </button>
                    </td>
                </tr>
            </table>
        </div>
        
    </div>
</div>
<div id="modal-view" hidden>
    <div class="view-title"><?=$text_item_image;?></div>
        <div class="view-body">

            <div class="form-content">
                <div>
                    <h4 class="pull-left mdl-button--primary"><small><?=$text_reference;?></small> <br> <span id="item_id_m"></span></h4>
                </div>
                <div class="clearfix"></div>
                <img id="item_image" src="">
                <a href="" id="item_reference"></a>
                
            </div>
        </div>
</div>


<script>

     // $("tr > .clickable").click(function () {

     //     console.log($(this).parent().attr("id"));
     //     var id = $(this).parent().attr("id");
     //     $.ajax({
     //         url : '?route=stock/getItemDetails&item_id='+id,
     //        type : 'GET',
     //        dataType : 'json',
     //         success: function(returnData){
     //             data = returnData.item_details;
     //             $("#modal-view > .view-title").html();
     //             $("#item_id_m").html(data.item_id);
     //             $("#item_image_m").html(data.image);
                
     //             if(data.attachment != 0) {
     //                 $("#modal-view-message > .view-body > .attachments").show();
     //                 $("#modal-view-message > .view-body > .attachments > a").attr("href",data.attachment);
     //             }else{
     //                 $("#modal-view-message > .view-body > .attachments").hide();
     //             }
     //            MDialog.start({},"detail",this,$("#modal-view"));
     //        }
     //    });

     // });



    var selectBoxItem;
    var selctizedBoxInstanceItem;

    var orderItemsFilter = [];
    $("#selected-items-btn").click(function () {
        if(countProperties(orderItems) > 0){
            selctizedBoxInstanceItem.clear();
            orderItemsFilter = [];
            for (var key in orderItems) {
                console.log(key);

                orderItemsFilter.push(key);
            }
            loadItems();
        }
    });
    



    function loadItemCategorySelectBox(){
        brand_name = "";
        if(brandFilter[0] != undefined)
        brand_name = brandFilter[0];
        $("#filter-category").selectize()[0].selectize.clearOptions();
        $.ajax({
            url: '?route=salesOrder/getCategoryList&all=1&brand_name='+brand_name,
            type: 'GET',
            dataType: 'json',
            success: function (returnData) {
                data = returnData.category_list;
                for(var i = 0; i < data.length ; i++){

                        $("#filter-category").selectize()[0].selectize.addOption({id : data[i].item_category, label: (data[i].title)});

                }
                $("#filter-category").selectize()[0].selectize.refreshOptions(false);
            },
            error: function () {
                $(".mdl-progress").hide();
                showSnackbar("Can't load category list.");
            }
        });
    }

    function loadRefSelectBox(){

        category="";
        brand_name = brandFilter[0];

        if(categoryFilterList[0] != undefined)
                category = categoryFilterList[0];

        $("#filter-ref").selectize()[0].selectize.clearOptions();
        $.ajax({
            url: '?route=salesOrder/getRefList&all=1&list=item&brand_name='+brand_name+'&category='+category,
            type: 'GET',
            dataType: 'json',
            success: function (returnData) {
                data = returnData.ref_list;
                for(var i = 0; i < data.length ; i++){                     
                    $("#filter-ref").selectize()[0].selectize.addOption({id : data[i].reference, label: (data[i].reference)});
                }
                $("#filter-ref").selectize()[0].selectize.refreshOptions(false);
            },
            error: function () {
                $(".mdl-progress").hide();
                showSnackbar("Can't load ref list.");
            }
        });
    }
    function loadBrandNames(){
        
        $("#filter-brand").selectize()[0].selectize.clearOptions();
        $.ajax({
            url: '?route=salesOrder/getBrandNames&all=1&char='+brandString,
            type: 'GET',
            dataType: 'json',
            success: function (returnData) {
                data = returnData.brand_list;
                for(var i = 0; i < data.length ; i++){
                        $("#filter-brand").selectize()[0].selectize.addOption({id : data[i].brand_name, label: (data[i].brand_name)});
                }
                $("#filter-brand").selectize()[0].selectize.refreshOptions(false);
            },
            error: function () {
                $(".mdl-progress").hide();
                showSnackbar("Can't load brands list.");
            }
        });
    }
    function loadItemFilterList(){
        
        $("#filter-item").selectize()[0].selectize.clearOptions();
        $.ajax({
            url: '?route=salesOrder/itemListQ&all=1&char='+itemString,
            type: 'GET',
            dataType: 'json',
            success: function (returnData) {
                data = returnData.item_list;
                for(var i = 0; i < data.length ; i++){
                        $("#filter-item").selectize()[0].selectize.addOption({id : data[i].item_id, label: (data[i].item_name)});
                }
                $("#filter-item").selectize()[0].selectize.refreshOptions(false);
            },
            error: function () {
                $(".mdl-progress").hide();
                showSnackbar("Can't load items list.");
            }
        });
    }
var pageCount = 1;

    var clientFilterList = [];
    var itemIdFilterList = [];
    var categoryFilterList = [];
    var areaFilterList = [];
    var dateFilter = [];
    var refFilter = [];
    var brandFilter = [];

    var tableheader = $("#table-head");

    function tableSort() {
        var th = $(this);
        if (th.hasClass("no-sort")) {
            console.log("NO");
            tableheader.children(".sortable").removeClass("mdl-data-table__header--sorted-ascending");
            tableheader.children(".sortable").removeClass("mdl-data-table__header--sorted-descending");
            tableheader.children(".sortable").addClass("mdl-data-table__header");
            tableheader.children(".sortable").addClass("no-sort");
            th.removeClass("no-sort");
            th.removeClass("mdl-data-table__header");
            th.addClass("mdl-data-table__header--sorted-ascending");
            loadItems();
            return;
        }

        if (th.hasClass("mdl-data-table__header--sorted-ascending")) {
            th.removeClass("mdl-data-table__header--sorted-ascending");
            th.addClass("mdl-data-table__header--sorted-descending");
            console.log("ASC");
            loadItems();
            return;
        }

        if (th.hasClass("mdl-data-table__header--sorted-descending")) {
            th.removeClass("mdl-data-table__header--sorted-descending");
            th.addClass("mdl-data-table__header");
            th.addClass("no-sort");
            console.log("DESC");
            loadItems();
        }

    }

    function loadItems() {
        filterLimit = $("#filter-limit").val();
        $(".mdl-progress").show();
        //filterResults();
        var postData = {
            all: 1,
            clientList : clientFilterList,
            dateFilter : dateFilter,
            itemIdList : itemIdFilterList,
            categoryFilter: categoryFilterList,
            areaFilter : areaFilterList,
            refList : refFilter,
            brand: brandFilter,
            limit : filterLimit, 
            page : pageCount,
            list: 'item'
        };

        if (tableheader.children(".sortable.mdl-data-table__header--sorted-ascending").length > 0) {
            postData.sort = "ASC";
            postData.sortField = $(tableheader.children(".sortable.mdl-data-table__header--sorted-ascending")[0]).attr("id");
        }
        if (tableheader.children(".sortable.mdl-data-table__header--sorted-descending").length > 0) {
            postData.sort = "DESC";
            postData.sortField = $(tableheader.children(".sortable.mdl-data-table__header--sorted-descending")[0]).attr("id");
        }
        $.ajax({
            url: '?route=salesOrder/getItemsList&all=1',
            type: 'POST',
            data: postData,
            dataType: 'json',
            success: function (returnData) {
                data = returnData.itemList;
                $(".total_count").html(returnData.total_count);
                $(".limit_count").html(data.length);
                $(".paginate").html(returnData.pagination);
                $(".tfoot").removeClass("hidden");
                $("#items-body").html("");
                $("#item-list").removeClass("hidden");
                $("#item-list").show();
                $("#items-body").html("");
                for (var i = 0; i < data.length; i++) {
                    var rowNode = $("#row-template > table > tbody > tr").clone(true);
                    // console.log(rowNode);
                    rowNode.attr("id", data[i].item_id);
                    sr = ((pageCount-1)*filterLimit)+i+1;
                    rowNode.children("._sr").html(sr);
                    rowNode.children("._reference").html(data[i].reference);
                    rowNode.children("._item_name").html(data[i].item_name);
                    rowNode.children("._brand_name").html(data[i].brand_name);
                    rowNode.children("._category").html(data[i].item_category);
                    rowNode.children("._minimum_stock").html(data[i].min_stock);
                    rowNode.children("._maximum_stock").html(data[i].max_stock);
                    rowNode.children("._current_stock").html(data[i].current_stock);
                    rowNode.children("._area").html(data[i].area);
                    //rowNode.children("._quantity").children("input").val();
                    if (data[i].item_pdf == 0) rowNode.children("._buttons").children(".pdf").hide();
                    if (data[i].image == 0) rowNode.children("._buttons").children(".image").hide();

                    $("#items-body").append(rowNode);

                }
                $(".mdl-progress").hide();
                showSnackbar("Data loaded.");
            },
            error: function () {
                $(".mdl-progress").hide();
                showSnackbar("Can't complete your request.");
            }
        });
    }
    function openAttachment() {
        var id = $(this).parent().parent().attr("id");
        var button = $(this);
        $.ajax({
            url : '?route=stock/getItemDetails&item_id='+id,
            type : 'GET',
            dataType : 'json',
            success: function(returnData){
                data = returnData.item_details;
                if(button.hasClass("pdf")){
                    if(data.item_pdf == 0){
                        showSnackbar("No image uploaded");
                    }else{

                        window.open(data.item_pdf, '_blank');
                    }
                }

                if(button.hasClass("image")){
                    if(data.image == 0){
                        showSnackbar("No image uploaded");
                    }else{

                        $("#modal-view > .view-title").html();
                        $("#item_id_m").html(data.reference);
                        $("#item_image").attr("src",data.image);
                        //$("#item_reference").attr("href",data.reference);
                        MDialog.start({},"detail",this,$("#modal-view"));
                    }
                }


                // if(data.image == 0){
                //     showSnackbar("No image uploaded");
                // }else{

                //         // if(button.hasclass("pdf")){

                //         // }




                //         //if(data.attachment != 0) {
                //             //$("#modal-view-message > .view-body > .attachments").show();
                //            // $("#modal-view-message > .view-body > .attachments > a").attr("href",data.attachment);
                //         //}else{
                //             //$("#modal-view-message > .view-body > .attachments").hide();
                //        // }

                //    }
            }
        });
    };

    $(".open-btn").click(openAttachment);




    $(".approve-button").click(function () {
        showSnackbar("Changes Approved");
        //this.
    });
    $(".disapprove-button").click(function () {
        showSnackbar("Changes Disapproved");
        //this.
    });


    $(".alert-button").click(function () {
        MDialog.start({},"detail",this,$("#modal-view2"));
    });

    $("#filter-limit").change(function(){
        pageCount=1;
        loadItems();
    });
    $(document).on("click", ".pagination li a", function(e){
        e.preventDefault();
        found = false;
        url = $(this).attr("href");
        splinters = url.split("&");
        $.each(splinters, function(key, val){
            vals = val.split("=");
            if(vals[0] == "page") {
                found = true;
                pageCount = vals[1];
            }
        });
        if(!found) pageCount = 1;
        loadItems();
    });
    var brandString = "";
    var itemString = "";
    $(document).ready(function(){
        $("#filter-brand").selectize()[0].selectize.on("type", function(){
            $("#filter-brand").selectize()[0].selectize.close();
            query = $("#filter-brand").selectize()[0].selectize.lastQuery;
            if(query.length > 2){
                brandString = query;
                loadBrandNames();
                $(".selectize-dropdown", $("#filter-brand").parent()).show();
            }
        });
        $("#filter-item").selectize()[0].selectize.on("type", function(){
            $("#filter-item").selectize()[0].selectize.close();
            query = $("#filter-item").selectize()[0].selectize.lastQuery;
            if(query.length > 2){
                itemString = query;
                loadItemFilterList();
                $(".selectize-dropdown", $("#filter-item").parent()).show();
            }
        });
    });

    $("#filter-brand").change(function(){
        val = $(this).val();
        brandFilter = [];
        if(val != 0)
            brandFilter.push(val);
        loadItemCategorySelectBox(false);
        loadRefSelectBox();
        loadItems();
    });

    $("#filter-category").change(function(){
        val = $(this).val();
        categoryFilterList = [];
        if(val != 0)
            categoryFilterList.push(val);
        loadRefSelectBox();
        loadItems();
    });
    $("#filter-ref").change(function(){
        val = $(this).val();
        refFilter = [];
        if(val != 0)
            refFilter.push(val);
        loadItems();
    });
    $("#filter-item").change(function(){
        val = $(this).val();
        itemIdFilterList = [];
        refFilter = [];
        brandFilter = [];
        categoryFilterList = [];
        if(val != 0)
            itemIdFilterList.push(val);
        loadItems();
    });
    $(document).ready(function () {
        $("#refresh-data-btn").click(loadItems);
        tableheader.children(".sortable").click(tableSort);
        loadItems();
        $(".open-attach-btn").click(openAttachment);
        // $("#filter-box").change(filterResults);

    });
</script>