<?php include_once "header.view.html"; ?>

<div class="col-xs-12  center-margin ">
	<div class=" form-card mdl-card mdl-shadow--2dp col-xs-12 table-padding ">
		
		<table class="table mdl-data-table mdl-js-data-table   ">
			<thead>
				<tr>
					<th class="mdl-data-table__cell--non-numeric"><?= $text_invoice_id; ?></th>
					<th><?= $text_expense_title; ?></th>
					<th><?= $text_expense_type; ?></th>
					<th><?= $text_amount; ?></th>

				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="mdl-data-table__cell--non-numeric">hii!!!</td>
					<td>hii!!!</td>
					<td>hii!!!</td>
					<td>hii!!!</td>

				</tr>
				<tr>
					<td class="mdl-data-table__cell--non-numeric">hii!!!</td>
					<td>hii!!!</td>
					<td>hii!!!</td>
					<td>hii!!!</td>

				</tr>
			</tbody>
		</table>
		
	</div>
</div>

<?php include_once "footer.view.html"; ?>